
# Created by https://www.gitignore.io/api/jboss,maven,eclipse,netbeans

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Jboss ###
jboss/server/all/deploy/project.ext
jboss/server/default/deploy/project.ext
jboss/server/minimal/deploy/project.ext
jboss/server/all/log/*.log
jboss/server/all/tmp/**/*
jboss/server/all/data/**/*
jboss/server/all/work/**/*
jboss/server/default/log/*.log
jboss/server/default/tmp/**/*
jboss/server/default/data/**/*
jboss/server/default/work/**/*
jboss/server/minimal/log/*.log
jboss/server/minimal/tmp/**/*
jboss/server/minimal/data/**/*
jboss/server/minimal/work/**/*

# deployed package files #

*.DEPLOYED

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

### VisualStudioCode ###
.vscode/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Terraform ###
.terraform/*
.terraform/

sh.exe.stackdump

# End of https://www.gitignore.io/api/jboss,maven,eclipse,netbeans
coreaas/lib/javax.annotation.jar
coreaas/lib/javax.ejb.jar
coreaas/lib/javax.jms.jar
coreaas/lib/javax.persistence.jar
coreaas/lib/javax.resource.jar
coreaas/lib/javax.servlet.jar
coreaas/lib/javax.servlet.jsp.jar
coreaas/lib/javax.servlet.jsp.jstl.jar
coreaas/lib/javax.transaction.jar
untitled/.idea/vcs.xml
untitled/pom.xml
untitled/.idea/.gitignore
untitled/.idea/aws.xml
untitled/.idea/compiler.xml
untitled/.idea/jarRepositories.xml
untitled/.idea/misc.xml
