/*
select *,'ALTER TABLE ' + REPLACE(REPLACE(CONSTRAINT_NAME,'FK_', ''),'_REV','') + ' DROP CONSTRAINT ' + CONSTRAINT_NAME
from INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS
*/
ALTER TABLE HistoriaResultadoValidacion_aud DROP CONSTRAINT FK_HistoriaResultadoValidacion_aud_REV
ALTER TABLE InformacionFaltanteAportante_aud DROP CONSTRAINT FK_InformacionFaltanteAportante_aud_REV
ALTER TABLE Infraestructura_aud DROP CONSTRAINT FK_Infraestructura_aud_REV
ALTER TABLE InhabilidadSubsidioFovis_aud DROP CONSTRAINT FK_InhabilidadSubsidioFovis_aud_REV
ALTER TABLE IntegranteHogar_aud DROP CONSTRAINT FK_IntegranteHogar_aud_REV
ALTER TABLE IntentoAfiliacion_aud DROP CONSTRAINT FK_IntentoAfiliacion_aud_REV
ALTER TABLE IntentoAfiliRequisito_aud DROP CONSTRAINT FK_IntentoAfiliRequisito_aud_REV
ALTER TABLE IntentoLegalizacionDesembolso_aud DROP CONSTRAINT FK_IntentoLegalizacionDesembolso_aud_REV
ALTER TABLE IntentoLegalizacionDesembolsoRequisito_aud DROP CONSTRAINT FK_IntentoLegalizacionDesembolsoRequisito_aud_REV
ALTER TABLE IntentoNovedad_aud DROP CONSTRAINT FK_IntentoNovedad_aud_REV
ALTER TABLE IntentoNoveRequisito_aud DROP CONSTRAINT FK_IntentoNoveRequisito_aud_REV
ALTER TABLE IntentoPostulacion_aud DROP CONSTRAINT FK_IntentoPostulacion_aud_REV
ALTER TABLE IntentoPostulacionRequisito_aud DROP CONSTRAINT FK_IntentoPostulacionRequisito_aud_REV
ALTER TABLE ItemChequeo_aud DROP CONSTRAINT FK_ItemChequeo_aud_REV
ALTER TABLE JefeHogar_aud DROP CONSTRAINT FK_JefeHogar_aud_REV
ALTER TABLE LegalizacionDesembolso_aud DROP CONSTRAINT FK_LegalizacionDesembolso_aud_REV
ALTER TABLE Licencia_aud DROP CONSTRAINT FK_Licencia_aud_REV
ALTER TABLE LicenciaDetalle_aud DROP CONSTRAINT FK_LicenciaDetalle_aud_REV
ALTER TABLE LineaCobro_aud DROP CONSTRAINT FK_LineaCobro_aud_REV
ALTER TABLE ListaEspecialRevision_aud DROP CONSTRAINT FK_ListaEspecialRevision_aud_REV
ALTER TABLE MedioCheque_aud DROP CONSTRAINT FK_MedioCheque_aud_REV
ALTER TABLE MedioConsignacion_aud DROP CONSTRAINT FK_MedioConsignacion_aud_REV
ALTER TABLE MedioDePago_aud DROP CONSTRAINT FK_MedioDePago_aud_REV
ALTER TABLE MedioEfectivo_aud DROP CONSTRAINT FK_MedioEfectivo_aud_REV
ALTER TABLE MedioPagoPersona_aud DROP CONSTRAINT FK_MedioPagoPersona_aud_REV
ALTER TABLE MedioPagoProyectoVivienda_aud DROP CONSTRAINT FK_MedioPagoProyectoVivienda_aud_REV
ALTER TABLE MediosPagoCCF_aud DROP CONSTRAINT FK_MediosPagoCCF_aud_REV
ALTER TABLE MedioTarjeta_aud DROP CONSTRAINT FK_MedioTarjeta_aud_REV
ALTER TABLE MedioTransferencia_aud DROP CONSTRAINT FK_MedioTransferencia_aud_REV
ALTER TABLE MotivoNoGestionCobro_aud DROP CONSTRAINT FK_MotivoNoGestionCobro_aud_REV
ALTER TABLE MovimientoAjusteAporte_aud DROP CONSTRAINT FK_MovimientoAjusteAporte_aud_REV
ALTER TABLE MovimientoAporte_aud DROP CONSTRAINT FK_MovimientoAporte_aud_REV
ALTER TABLE Municipio_aud DROP CONSTRAINT FK_Municipio_aud_REV
ALTER TABLE NotificacionDestinatario_aud DROP CONSTRAINT FK_NotificacionDestinatario_aud_REV
ALTER TABLE NotificacionEnviada_aud DROP CONSTRAINT FK_NotificacionEnviada_aud_REV
ALTER TABLE NotificacionPersonal_aud DROP CONSTRAINT FK_NotificacionPersonal_aud_REV
ALTER TABLE NotificacionPersonalDocumento_aud DROP CONSTRAINT FK_NotificacionPersonalDocumento_aud_REV
ALTER TABLE NovedadDetalle_aud DROP CONSTRAINT FK_NovedadPila_aud_REV
ALTER TABLE OcupacionProfesion_aud DROP CONSTRAINT FK_OcupacionProfesion_aud_REV
ALTER TABLE AccionCobro1C_aud DROP CONSTRAINT FK_AccionCobro1C_aud_REV
ALTER TABLE Oferente_aud DROP CONSTRAINT FK_Oferente_aud_REV
ALTER TABLE AccionCobro1D1E_aud DROP CONSTRAINT FK_AccionCobro1D1E_aud_REV
ALTER TABLE OperadorInformacion_aud DROP CONSTRAINT FK_OperadorInformacion_aud_REV
ALTER TABLE AccionCobro1F_aud DROP CONSTRAINT FK_AccionCobro1F_aud_REV
ALTER TABLE OperadorInformacionCcf_aud DROP CONSTRAINT FK_OperadorInformacionCcf_aud_REV
ALTER TABLE AccionCobro2C_aud DROP CONSTRAINT FK_AccionCobro2C_aud_REV
ALTER TABLE PagoPeriodoConvenio_aud DROP CONSTRAINT FK_PagoPeriodoConvenio_aud_REV
ALTER TABLE AccionCobro2D_aud DROP CONSTRAINT FK_AccionCobro2D_aud_REV
ALTER TABLE ParametrizacionCartera_aud DROP CONSTRAINT FK_ParametrizacionCartera_aud_REV
ALTER TABLE AccionCobro2E_aud DROP CONSTRAINT FK_AccionCobro2E_aud_REV
ALTER TABLE ParametrizacionCondicionesSubsidio_aud DROP CONSTRAINT FK_ParametrizacionCondicionesSubsidio_aud_REV
ALTER TABLE AccionCobro2F2G_aud DROP CONSTRAINT FK_AccionCobro2F2G_aud_REV
ALTER TABLE ParametrizacionConveniosPago_aud DROP CONSTRAINT FK_ParametrizacionConveniosPago_aud_REV
ALTER TABLE AccionCobro2H_aud DROP CONSTRAINT FK_AccionCobro2H_aud_REV
ALTER TABLE ParametrizacionCriterioGestionCobro_aud DROP CONSTRAINT FK_ParametrizacionCriterioGestionCobro_aud_REV
ALTER TABLE AccionCobroA_aud DROP CONSTRAINT FK_AccionCobroA_aud_REV
ALTER TABLE ParametrizacionDesafiliacion_aud DROP CONSTRAINT FK_ParametrizacionDesafiliacion_aud_REV
ALTER TABLE AccionCobroB_aud DROP CONSTRAINT FK_AccionCobroB_aud_REV
ALTER TABLE ParametrizacionEjecucionProgramada_aud DROP CONSTRAINT FK_ParametrizacionEjecucionProgramada_aud_REV
ALTER TABLE ActaAsignacionFovis_aud DROP CONSTRAINT FK_ActaAsignacionFovis_aud_REV
ALTER TABLE ParametrizacionExclusiones_aud DROP CONSTRAINT FK_ParametrizacionExclusiones_aud_REV
ALTER TABLE ActividadCartera_aud DROP CONSTRAINT FK_ActividadFiscalizacion_aud_REV
ALTER TABLE ParametrizacionFiscalizacion_aud DROP CONSTRAINT FK_ParametrizacionFiscalizacion_aud_REV
ALTER TABLE ActividadDocumento_aud DROP CONSTRAINT FK_ActividadDocumento_aud_REV
ALTER TABLE ParametrizacionFOVIS_aud DROP CONSTRAINT FK_ParametrizacionFOVIS_aud_REV
ALTER TABLE ActoAceptacionProrrogaFovis_aud DROP CONSTRAINT FK_ActoAceptacionProrrogaFovis_aud_REV
ALTER TABLE ParametrizacionGestionCobro_aud DROP CONSTRAINT FK_ParametrizacionGestionCobro_aud_REV
ALTER TABLE AdministradorSubsidio_aud DROP CONSTRAINT FK_AdministradorSubsidio_aud_REV
ALTER TABLE ParametrizacionLiquidacionSubsidio_aud DROP CONSTRAINT FK_ParametrizacionLiquidacionSubsidio_aud_REV
ALTER TABLE AdminSubsidioGrupo_aud DROP CONSTRAINT FK_AdminSubsidioGrupo_aud_REV
ALTER TABLE ParametrizacionMetodoAsignacion_aud DROP CONSTRAINT FK_ParametrizacionMetodoAsignacion_aud_REV
ALTER TABLE Afiliado_aud DROP CONSTRAINT FK_Afiliado_aud_REV
ALTER TABLE ParametrizacionModalidad_aud DROP CONSTRAINT FK_ParametrizacionModalidad_aud_REV
ALTER TABLE AFP_aud DROP CONSTRAINT FK_AFP_aud_REV
ALTER TABLE ParametrizacionNovedad_aud DROP CONSTRAINT FK_Novedad_aud_REV
ALTER TABLE AgendaCartera_aud DROP CONSTRAINT FK_AgendaFiscalizacion_aud_REV
ALTER TABLE ParametrizacionPreventiva_aud DROP CONSTRAINT FK_ParametrizacionPreventiva_aud_REV
ALTER TABLE AhorroPrevio_aud DROP CONSTRAINT FK_AhorroPrevio_aud_REV
ALTER TABLE ParametrizaEnvioComunicado_aud DROP CONSTRAINT FK_ParametrizaEnvioComunicado_aud_REV
ALTER TABLE AporteDetallado_aud DROP CONSTRAINT FK_AporteDetallado_aud_REV
ALTER TABLE Parametro_aud DROP CONSTRAINT FK_Parametro_aud_REV
ALTER TABLE AporteGeneral_aud DROP CONSTRAINT FK_AporteGeneral_aud_REV
ALTER TABLE Periodo_aud DROP CONSTRAINT FK_Periodo_aud_REV
ALTER TABLE AreaCajaCompensacion_aud DROP CONSTRAINT FK_AreaCajaCompensacion_aud_REV
ALTER TABLE PeriodoBeneficio_aud DROP CONSTRAINT FK_PeriodoBeneficio_aud_REV
ALTER TABLE ARL_aud DROP CONSTRAINT FK_ARL_aud_REV
ALTER TABLE PeriodoExclusionMora_aud DROP CONSTRAINT FK_PeriodoExclusionMora_aud_REV
ALTER TABLE AsesorResponsableEmpleador_aud DROP CONSTRAINT FK_AsesorResponsableEmpleador_aud_REV
ALTER TABLE PeriodoLiquidacion_aud DROP CONSTRAINT FK_PeriodoLiquidacion_aud_REV
ALTER TABLE Banco_aud DROP CONSTRAINT FK_Banco_aud_REV
ALTER TABLE Persona_aud DROP CONSTRAINT FK_Persona_aud_REV
ALTER TABLE Beneficiario_aud DROP CONSTRAINT FK_Beneficiario_aud_REV
ALTER TABLE PersonaDetalle_aud DROP CONSTRAINT FK_PersonaDetalle_aud_REV
ALTER TABLE BeneficiarioDetalle_aud DROP CONSTRAINT FK_BeneficiarioDetalle_aud_REV
ALTER TABLE PlantillaComunicado_aud DROP CONSTRAINT FK_PlantillaComunicado_aud_REV
ALTER TABLE Beneficio_aud DROP CONSTRAINT FK_Beneficio_aud_REV
ALTER TABLE PostulacionFOVIS_aud DROP CONSTRAINT FK_PostulacionFOVIS_aud_REV
ALTER TABLE BeneficioEmpleador_aud DROP CONSTRAINT FK_BeneficioEmpleador_aud_REV
ALTER TABLE PrioridadDestinatario_aud DROP CONSTRAINT FK_PrioridadDestinatario_aud_REV
ALTER TABLE BitacoraCartera_aud DROP CONSTRAINT FK_BitacoraCartera_aud_REV
ALTER TABLE ProductoNoConforme_aud DROP CONSTRAINT FK_ProductoNoConforme_aud_REV
ALTER TABLE CajaCompensacion_aud DROP CONSTRAINT FK_CajaCompensacion_aud_REV
ALTER TABLE ProyectoSolucionVivienda_aud DROP CONSTRAINT FK_ProyectoSolucionVivienda_aud_REV
ALTER TABLE CajaCorrespondencia_aud DROP CONSTRAINT FK_CajaCorrespondencia_aud_REV
ALTER TABLE RangoTopeValorSFV_aud DROP CONSTRAINT FK_RangoTopeValorSFV_aud_REV
ALTER TABLE CargueArchivoActualizacion_aud DROP CONSTRAINT FK_CargueArchivoActualizacion_aud_REV
ALTER TABLE RecursoComplementario_aud DROP CONSTRAINT FK_RecursoComplementario_aud_REV
ALTER TABLE CargueArchivoCruceFovis_aud DROP CONSTRAINT FK_CargueArchivoCruceFovis_aud_REV
ALTER TABLE RegistroEstadoAporte_aud DROP CONSTRAINT FK_RegistroEstadoAporte_aud_REV
ALTER TABLE CargueMultiple_aud DROP CONSTRAINT FK_CargueMultiple_aud_REV
ALTER TABLE RegistroNovedadFutura_aud DROP CONSTRAINT FK_RegistroNovedadFutura_aud_REV
ALTER TABLE CargueMultipleSupervivencia_aud DROP CONSTRAINT FK_CargueMultipleSupervivencia_aud_REV
ALTER TABLE RegistroPersonaInconsistente_aud DROP CONSTRAINT FK_RegistroPersonaInconsistente_aud_REV
ALTER TABLE Cartera_aud DROP CONSTRAINT FK_Cartera_aud_REV
ALTER TABLE RelacionGrupoFamiliar_aud DROP CONSTRAINT FK_RelacionGrupoFamiliar_aud_REV
ALTER TABLE CarteraDependiente_aud DROP CONSTRAINT FK_CarteraDependiente_aud_REV
ALTER TABLE Requisito_aud DROP CONSTRAINT FK_Requisito_aud_REV
ALTER TABLE Categoria_aud DROP CONSTRAINT FK_Categoria_aud_REV
ALTER TABLE RequisitoCajaClasificacion_aud DROP CONSTRAINT FK_RequisitoCajaClasificacion_aud_REV
ALTER TABLE CicloAportante_aud DROP CONSTRAINT FK_CicloAportante_aud_REV
ALTER TABLE ResultadoEjecucionProgramada_aud DROP CONSTRAINT FK_ResultadoEjecucionProgramada_aud_REV
ALTER TABLE CicloAsignacion_aud DROP CONSTRAINT FK_CicloAsignacion_aud_REV
ALTER TABLE RevisionEntidad DROP CONSTRAINT FK_RevisionEntidad_reeRevision
ALTER TABLE CicloCartera_aud DROP CONSTRAINT FK_CicloFiscalizacion_aud_REV
ALTER TABLE RolAfiliado_aud DROP CONSTRAINT FK_RolAfiliado_aud_REV
ALTER TABLE CicloModalidad_aud DROP CONSTRAINT FK_CicloModalidad_aud_REV
ALTER TABLE RolContactoEmpleador_aud DROP CONSTRAINT FK_RolContactoEmpleador_aud_REV
ALTER TABLE CodigoCIIU_aud DROP CONSTRAINT FK_CodigoCIIU_aud_REV
ALTER TABLE SedeCajaCompensacion_aud DROP CONSTRAINT FK_SedeCajaCompensacion_aud_REV
ALTER TABLE Comunicado_aud DROP CONSTRAINT FK_Comunicado_aud_REV
ALTER TABLE SitioPago_aud DROP CONSTRAINT FK_SitioPago_aud_REV
ALTER TABLE CondicionInvalidez_aud DROP CONSTRAINT FK_CondicionInvalidez_aud_REV
ALTER TABLE SocioEmpleador_aud DROP CONSTRAINT FK_SocioEmpleador_aud_REV
ALTER TABLE CondicionVisita_aud DROP CONSTRAINT FK_CondicionVisita_aud_REV
ALTER TABLE Solicitud_aud DROP CONSTRAINT FK_Solicitud_aud_REV
ALTER TABLE ConexionOperadorInformacion_aud DROP CONSTRAINT FK_ConexionOperadorInformacion_aud_REV
ALTER TABLE SolicitudAfiliaciEmpleador_aud DROP CONSTRAINT FK_SolicitudAfiliaciEmpleador_aud_REV
ALTER TABLE ConsolaEstadoCargueMasivo_aud DROP CONSTRAINT FK_ConsolaEstadoCargueMasivo_aud_REV
ALTER TABLE SolicitudAfiliacionPersona_aud DROP CONSTRAINT FK_SolicitudAfiliacionPersona_aud_REV
ALTER TABLE Constante_aud DROP CONSTRAINT FK_Constante_aud_REV
ALTER TABLE SolicitudAnalisisNovedadFovis_aud DROP CONSTRAINT FK_SolicitudAnalisisNovedadFovis_aud_REV
ALTER TABLE ConvenioPago_aud DROP CONSTRAINT FK_ConvenioPago_aud_REV
ALTER TABLE SolicitudAporte_aud DROP CONSTRAINT FK_SolicitudAporte_aud_REV
ALTER TABLE ConvenioPagoDependiente_aud DROP CONSTRAINT FK_ConvenioPagoDependiente_aud_REV
ALTER TABLE SolicitudAsignacion_aud DROP CONSTRAINT FK_SolicitudAsignacion_aud_REV
ALTER TABLE Correccion_aud DROP CONSTRAINT FK_Correccion_aud_REV
ALTER TABLE SolicitudAsociacionPersonaEntidadPagadora_aud DROP CONSTRAINT FK_SolicitudAsociacionPersonaEntidadPagadora_aud_REV
ALTER TABLE Cruce_aud DROP CONSTRAINT FK_Cruce_aud_REV
ALTER TABLE SolicitudCierreRecaudo_aud DROP CONSTRAINT FK_SolicitudCierreRecaudo_aud_REV
ALTER TABLE CruceDetalle_aud DROP CONSTRAINT FK_CruceDetalle_aud_REV
ALTER TABLE SolicitudCorreccionAporte_aud DROP CONSTRAINT FK_SolicitudCorreccionAporte_aud_REV
ALTER TABLE CuentaAdministradorSubsidio_aud DROP CONSTRAINT FK_CuentaAdministradorSubsidio_aud_REV
ALTER TABLE SolicitudDesafiliacion_aud DROP CONSTRAINT FK_SolicitudDesafiliacion_aud_REV
ALTER TABLE Departamento_aud DROP CONSTRAINT FK_Departamento_aud_REV
ALTER TABLE SolicitudDevolucionAporte_aud DROP CONSTRAINT FK_SolicitudDevolucionAporte_aud_REV
ALTER TABLE DesafiliacionAportante_aud DROP CONSTRAINT FK_DesafiliacionAportante_aud_REV
ALTER TABLE SolicitudFiscalizacion_aud DROP CONSTRAINT FK_SolicitudFiscalizacion_aud_REV
ALTER TABLE DescuentoInteresMora_aud DROP CONSTRAINT FK_DescuentoInteresMora_aud_REV
ALTER TABLE SolicitudGestionCobroElectronico_aud DROP CONSTRAINT FK_SolicitudGestionCobroElectronico_aud_REV
ALTER TABLE DestinatarioComunicado_aud DROP CONSTRAINT FK_DestinatarioComunicado_aud_REV
ALTER TABLE SolicitudGestionCobroFisico_aud DROP CONSTRAINT FK_SolicitudGestionCobroFisico_aud_REV
ALTER TABLE DestinatarioGrupo_aud DROP CONSTRAINT FK_DestinatarioGrupo_aud_REV
ALTER TABLE SolicitudGestionCobroManual_aud DROP CONSTRAINT FK_SolicitudGestionCobroManual_aud_REV
ALTER TABLE DetalleComunicadoEnviado_aud DROP CONSTRAINT FK_DetalleComunicadoEnviado_aud_REV
ALTER TABLE SolicitudGestionCruce_aud DROP CONSTRAINT FK_SolicitudGestionCruce_aud_REV
ALTER TABLE DetalleSolicitudGestionCobro_aud DROP CONSTRAINT FK_DetalleSolicitudGestionCobro_aud_REV
ALTER TABLE SolicitudLegalizacionDesembolso_aud DROP CONSTRAINT FK_SolicitudLegalizacionDesembolso_aud_REV
ALTER TABLE DetalleSubsidioAsignado_aud DROP CONSTRAINT FK_DetalleSubsidioAsignado_aud_REV
ALTER TABLE SolicitudLiquidacionSubsidio_aud DROP CONSTRAINT FK_SolicitudLiquidacionSubsidio_aud_REV
ALTER TABLE DetalleSubsidioAsignadoProgramado_aud DROP CONSTRAINT FK_DetalleSubsidioAsignadoProgramado_aud_REV
ALTER TABLE SolicitudNovedad_aud DROP CONSTRAINT FK_SolicitudNovedad_aud_REV
ALTER TABLE DevolucionAporte_aud DROP CONSTRAINT FK_DevolucionAporte_aud_REV
ALTER TABLE SolicitudNovedadEmpleador_aud DROP CONSTRAINT FK_SolicitudNovedadEmpleador_aud_REV
ALTER TABLE DevolucionAporteDetalle_aud DROP CONSTRAINT FK_DevolucionAporteDetalle_aud_REV
ALTER TABLE SolicitudNovedadFovis_aud DROP CONSTRAINT FK_SolicitudNovedadFovis_aud_REV
ALTER TABLE DiasFestivos_aud DROP CONSTRAINT FK_DiasFestivos_aud_REV
ALTER TABLE SolicitudNovedadPersona_aud DROP CONSTRAINT FK_SolicitudNovedadPersona_aud_REV
ALTER TABLE DiferenciasCargueActualizacion_aud DROP CONSTRAINT FK_DiferenciasCargueActualizacion_aud_REV
ALTER TABLE SolicitudNovedadPersonaFovis_aud DROP CONSTRAINT FK_SolicitudNovedadPersonaFovis_aud_REV
ALTER TABLE DocumentoAdministracionEstadoSolicitud_aud DROP CONSTRAINT FK_DocumentoAdministracionEstadoSolicitud_aud_REV
ALTER TABLE SolicitudNovedadPila_aud DROP CONSTRAINT FK_SolicitudNovedadPila_aud_REV
ALTER TABLE DocumentoBitacora_aud DROP CONSTRAINT FK_DocumentoBitacora_aud_REV
ALTER TABLE SolicitudPostulacion_aud DROP CONSTRAINT FK_SolicitudPostulacion_aud_REV
ALTER TABLE DocumentoCartera_aud DROP CONSTRAINT FK_DocumentoCartera_aud_REV
ALTER TABLE SolicitudPreventiva_aud DROP CONSTRAINT FK_SolicitudPreventiva_aud_REV
ALTER TABLE DocumentoDesafiliacion_aud DROP CONSTRAINT FK_DocumentoDesafiliacion_aud_REV
ALTER TABLE SolicitudPreventivaAgrupadora_aud DROP CONSTRAINT FK_SolicitudPreventivaAgrupadora_aud_REV
ALTER TABLE DocumentoEntidadPagadora_aud DROP CONSTRAINT FK_DocumentoEntidadPagadora_aud_REV
ALTER TABLE SucursalEmpresa_aud DROP CONSTRAINT FK_SucursalEmpresa_aud_REV
ALTER TABLE DocumentoSoporte_aud DROP CONSTRAINT FK_DocumentoSoporte_aud_REV
ALTER TABLE SucursaRolContactEmpleador_aud DROP CONSTRAINT FK_SucursaRolContactEmpleador_aud_REV
ALTER TABLE DocumentoSoporteOferente_aud DROP CONSTRAINT FK_DocumentoSoporteOferente_aud_REV
ALTER TABLE Tarjeta_aud DROP CONSTRAINT FK_Tarjeta_aud_REV
ALTER TABLE DocumentoSoporteProyectoVivienda_aud DROP CONSTRAINT FK_DocumentoSoporteProyectoVivienda_aud_REV
ALTER TABLE TasasInteresMora_aud DROP CONSTRAINT FK_TasasInteresMora_aud_REV
ALTER TABLE EjecucionProcesoAsincrono_aud DROP CONSTRAINT FK_EjecucionProcesoAsincrono_aud_REV
ALTER TABLE TipoInfraestructura_aud DROP CONSTRAINT FK_TipoInfraestructura_aud_REV
ALTER TABLE EjecucionProgramada_aud DROP CONSTRAINT FK_EjecucionProgramada_aud_REV
ALTER TABLE TipoTenencia_aud DROP CONSTRAINT FK_TipoTenencia_aud_REV
ALTER TABLE ElementoDireccion_aud DROP CONSTRAINT FK_ElementoDireccion_aud_REV
ALTER TABLE TipoVia_aud DROP CONSTRAINT FK_TipoVia_aud_REV
ALTER TABLE Empleador_aud DROP CONSTRAINT FK_Empleador_aud_REV
ALTER TABLE Ubicacion_aud DROP CONSTRAINT FK_Ubicacion_aud_REV
ALTER TABLE Empresa_aud DROP CONSTRAINT FK_Empresa_aud_REV
ALTER TABLE UbicacionEmpresa_aud DROP CONSTRAINT FK_UbicacionEmpresa_aud_REV
ALTER TABLE EntidadDescuento_aud DROP CONSTRAINT FK_EntidadDescuento_aud_REV
ALTER TABLE ValidacionProceso_aud DROP CONSTRAINT FK_ValidacionProceso_aud_REV
ALTER TABLE EntidadPagadora_aud DROP CONSTRAINT FK_EntidadPagadora_aud_REV
ALTER TABLE VariableComunicado_aud DROP CONSTRAINT FK_VariableComunicado_aud_REV
ALTER TABLE EscalamientoSolicitud_aud DROP CONSTRAINT FK_EscalamientoSolicitud_aud_REV
ALTER TABLE Visita_aud DROP CONSTRAINT FK_Visita_aud_REV
ALTER TABLE EtiquetaCorrespondenciaRadicado_aud DROP CONSTRAINT FK_EtiquetaCorrespondenciaRadicado_aud_REV
ALTER TABLE ExclusionCartera_aud DROP CONSTRAINT FK_ExclusionCartera_aud_REV
ALTER TABLE ExpulsionSubsanada_aud DROP CONSTRAINT FK_ExpulsionSubsanada_aud_REV
ALTER TABLE FormaPagoModalidad_aud DROP CONSTRAINT FK_FormaPagoModalidad_aud_REV
ALTER TABLE GestionNotiNoEnviadas_aud DROP CONSTRAINT FK_GestionNotiNoEnviadas_aud_REV
ALTER TABLE GlosaComentarioNovedad_aud DROP CONSTRAINT FK_GlosaComentarioNovedad_aud_REV
ALTER TABLE GradoAcademico_aud DROP CONSTRAINT FK_GradoAcademico_aud_REV
ALTER TABLE GrupoFamiliar_aud DROP CONSTRAINT FK_GrupoFamiliar_aud_REV
ALTER TABLE GrupoPrioridad_aud DROP CONSTRAINT FK_GrupoPrioridad_aud_REV
ALTER TABLE GrupoRequisito_aud DROP CONSTRAINT FK_GrupoRequisito_aud_REV