	CREATE or alter procedure [dbo].[OP_CicActAgeCarBitDocExc_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla ActividadCartera

	
			declare @ActividadCartera1 table (acrId bigint   not null,acrActividadCartera varchar(42)   not null,acrResultadoCartera varchar(33)   null,acrComentarios varchar(500)   null,acrCicloAportante bigint   null,acrFecha datetime   not null,acrFechaCompromiso date   null,acrCartera bigint   null,acrObservaciones varchar(400)   null,acrEsVigente bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select acrId, acrActividadCartera, acrResultadoCartera, acrComentarios, acrCicloAportante, acrFecha, acrFechaCompromiso, acrCartera, acrObservaciones, acrEsVigente, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ActividadCartera_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ActividadCartera1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ActividadCartera1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by acrId) then 1 else null end as act
				,row_number() over (partition by acrId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ActividadCartera1)
			select *
			into #ActividadCartera1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update acr set acr.acrActividadCartera = a.acrActividadCartera, acr.acrResultadoCartera = a.acrResultadoCartera, acr.acrComentarios = a.acrComentarios, acr.acrCicloAportante = a.acrCicloAportante, acr.acrFecha = a.acrFecha, acr.acrFechaCompromiso = a.acrFechaCompromiso, acr.acrCartera = a.acrCartera, acr.acrObservaciones = a.acrObservaciones, acr.acrEsVigente = a.acrEsVigente, acr.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.acrId, inserted.acrActividadCartera, inserted.acrResultadoCartera, inserted.acrComentarios, inserted.acrCicloAportante, inserted.acrFecha, inserted.acrFechaCompromiso, inserted.acrCartera, inserted.acrObservaciones, inserted.acrEsVigente, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ActividadCartera_log
			from #ActividadCartera1 as a
				inner join dbo.ActividadCartera as acr on a.acrId = acr.acrId
			where (a.ultimaFechaModificacion > acr.ultimaFechaModificacion or acr.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ActividadCartera1)



			drop table if exists #acrIds
			create table #acrIds (acrId bigInt)
			insert #acrIds
			select acrId from #ActividadCartera1
			except 
			select acrId from dbo.ActividadCartera

			insert dbo.ActividadCartera (acrId, acrActividadCartera, acrResultadoCartera, acrComentarios, acrCicloAportante, acrFecha, acrFechaCompromiso, acrCartera, acrObservaciones, acrEsVigente,ultimaFechaModificacion)
			output inserted.acrId, inserted.acrActividadCartera, inserted.acrResultadoCartera, inserted.acrComentarios, inserted.acrCicloAportante, inserted.acrFecha, inserted.acrFechaCompromiso, inserted.acrCartera, inserted.acrObservaciones, inserted.acrEsVigente
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ActividadCartera_log
			select acrId, acrActividadCartera, acrResultadoCartera, acrComentarios, acrCicloAportante, acrFecha, acrFechaCompromiso, acrCartera, acrObservaciones, acrEsVigente, ultimaFechaModificacion
			from #ActividadCartera1
			where acrId in (select acrId from #acrIds)
				and actId = 1

			delete from dbo.ActividadCartera
			output deleted.acrId, deleted.acrActividadCartera, deleted.acrResultadoCartera, deleted.acrComentarios, deleted.acrCicloAportante, deleted.acrFecha, deleted.acrFechaCompromiso, deleted.acrCartera, deleted.acrObservaciones, deleted.acrEsVigente
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ActividadCartera_log
			where acrId in (select acrId from #ActividadCartera1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla AgendaCartera

	
			declare @AgendaCartera1 table (agrId bigint   not null,agrVisitaAgenda varchar(13)   null,agrFecha date   not null,agrHorario datetime   not null,agrContacto varchar(255)   not null,agrTelefono varchar(255)   null,agrCicloAportante bigint   null,agrCartera bigint   null,agrEsVigente bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select agrId, agrVisitaAgenda, agrFecha, agrHorario, agrContacto, agrTelefono, agrCicloAportante, agrCartera, agrEsVigente, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_AgendaCartera_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @AgendaCartera1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #AgendaCartera1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by agrId) then 1 else null end as act
				,row_number() over (partition by agrId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @AgendaCartera1)
			select *
			into #AgendaCartera1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update agr set agr.agrVisitaAgenda = a.agrVisitaAgenda, agr.agrFecha = a.agrFecha, agr.agrHorario = a.agrHorario, agr.agrContacto = a.agrContacto, agr.agrTelefono = a.agrTelefono, agr.agrCicloAportante = a.agrCicloAportante, agr.agrCartera = a.agrCartera, agr.agrEsVigente = a.agrEsVigente, agr.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.agrId, inserted.agrVisitaAgenda, inserted.agrFecha, inserted.agrHorario, inserted.agrContacto, inserted.agrTelefono, inserted.agrCicloAportante, inserted.agrCartera, inserted.agrEsVigente, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.AgendaCartera_log
			from #AgendaCartera1 as a
				inner join dbo.AgendaCartera as agr on a.agrId = agr.agrId
			where (a.ultimaFechaModificacion > agr.ultimaFechaModificacion or agr.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #AgendaCartera1)



			drop table if exists #agrIds
			create table #agrIds (agrId bigInt)
			insert #agrIds
			select agrId from #AgendaCartera1
			except 
			select agrId from dbo.AgendaCartera

			insert dbo.AgendaCartera (agrId, agrVisitaAgenda, agrFecha, agrHorario, agrContacto, agrTelefono, agrCicloAportante, agrCartera, agrEsVigente,ultimaFechaModificacion)
			output inserted.agrId, inserted.agrVisitaAgenda, inserted.agrFecha, inserted.agrHorario, inserted.agrContacto, inserted.agrTelefono, inserted.agrCicloAportante, inserted.agrCartera, inserted.agrEsVigente
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.AgendaCartera_log
			select agrId, agrVisitaAgenda, agrFecha, agrHorario, agrContacto, agrTelefono, agrCicloAportante, agrCartera, agrEsVigente, ultimaFechaModificacion
			from #AgendaCartera1
			where agrId in (select agrId from #agrIds)
				and actId = 1

			delete from dbo.AgendaCartera
			output deleted.agrId, deleted.agrVisitaAgenda, deleted.agrFecha, deleted.agrHorario, deleted.agrContacto, deleted.agrTelefono, deleted.agrCicloAportante, deleted.agrCartera, deleted.agrEsVigente
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.AgendaCartera_log
			where agrId in (select agrId from #AgendaCartera1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla BitacoraCartera

	
			declare @BitacoraCartera1 table (bcaId bigint   not null,bcaFecha date   null,bcaActividad varchar(50)   null,bcaMedio varchar(20)   null,bcaResultado varchar(40)   null,bcaUsuario varchar(255)   null,bcaPersona bigint   not null,bcaTipoSolicitante varchar(20)   null,bcaNumeroOperacion varchar(23)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select bcaId, bcaFecha, bcaActividad, bcaMedio, bcaResultado, bcaUsuario, bcaPersona, bcaTipoSolicitante, bcaNumeroOperacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_BitacoraCartera_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @BitacoraCartera1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #BitacoraCartera1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by bcaId) then 1 else null end as act
				,row_number() over (partition by bcaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @BitacoraCartera1)
			select *
			into #BitacoraCartera1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update bca set bca.bcaFecha = a.bcaFecha, bca.bcaActividad = a.bcaActividad, bca.bcaMedio = a.bcaMedio, bca.bcaResultado = a.bcaResultado, bca.bcaUsuario = a.bcaUsuario, bca.bcaPersona = a.bcaPersona, bca.bcaTipoSolicitante = a.bcaTipoSolicitante, bca.bcaNumeroOperacion = a.bcaNumeroOperacion, bca.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.bcaId, inserted.bcaFecha, inserted.bcaActividad, inserted.bcaMedio, inserted.bcaResultado, inserted.bcaUsuario, inserted.bcaPersona, inserted.bcaTipoSolicitante, inserted.bcaNumeroOperacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.BitacoraCartera_log
			from #BitacoraCartera1 as a
				inner join dbo.BitacoraCartera as bca on a.bcaId = bca.bcaId
			where (a.ultimaFechaModificacion > bca.ultimaFechaModificacion or bca.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #BitacoraCartera1)



			drop table if exists #bcaIds
			create table #bcaIds (bcaId bigInt)
			insert #bcaIds
			select bcaId from #BitacoraCartera1
			except 
			select bcaId from dbo.BitacoraCartera

			insert dbo.BitacoraCartera (bcaId, bcaFecha, bcaActividad, bcaMedio, bcaResultado, bcaUsuario, bcaPersona, bcaTipoSolicitante, bcaNumeroOperacion,ultimaFechaModificacion)
			output inserted.bcaId, inserted.bcaFecha, inserted.bcaActividad, inserted.bcaMedio, inserted.bcaResultado, inserted.bcaUsuario, inserted.bcaPersona, inserted.bcaTipoSolicitante, inserted.bcaNumeroOperacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.BitacoraCartera_log
			select bcaId, bcaFecha, bcaActividad, bcaMedio, bcaResultado, bcaUsuario, bcaPersona, bcaTipoSolicitante, bcaNumeroOperacion, ultimaFechaModificacion
			from #BitacoraCartera1
			where bcaId in (select bcaId from #bcaIds)
				and actId = 1

			delete from dbo.BitacoraCartera
			output deleted.bcaId, deleted.bcaFecha, deleted.bcaActividad, deleted.bcaMedio, deleted.bcaResultado, deleted.bcaUsuario, deleted.bcaPersona, deleted.bcaTipoSolicitante, deleted.bcaNumeroOperacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.BitacoraCartera_log
			where bcaId in (select bcaId from #BitacoraCartera1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Cartera

	
			declare @Cartera1 table (carId bigint   not null,carDeudaPresunta numeric (19,  5) null,carEstadoCartera varchar(6)   not null,carEstadoOperacion varchar(10)   not null,carFechaCreacion datetime   not null,carPersona bigint   not null,carMetodo varchar(8)   null,carPeriodoDeuda date   not null,carRiesgoIncobrabilidad varchar(48)   null,carTipoAccionCobro varchar(4)   null,carTipoDeuda varchar(11)   null,carTipoLineaCobro varchar(3)   null,carTipoSolicitante varchar(13)   null,carFechaAsignacionAccion datetime   null,carUsuarioTraspaso varchar(255)   null,carDeudaPresuntaUnitaria numeric (19,  5) null,carDeudaParcial varchar(35)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select carId, carDeudaPresunta, carEstadoCartera, carEstadoOperacion, carFechaCreacion, carPersona, carMetodo, carPeriodoDeuda, carRiesgoIncobrabilidad, carTipoAccionCobro, carTipoDeuda, carTipoLineaCobro, carTipoSolicitante, carFechaAsignacionAccion, carUsuarioTraspaso, carDeudaPresuntaUnitaria, carDeudaParcial, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Cartera_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Cartera1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Cartera1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by carId) then 1 else null end as act
				,row_number() over (partition by carId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Cartera1)
			select *
			into #Cartera1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update car set car.carDeudaPresunta = a.carDeudaPresunta, car.carEstadoCartera = a.carEstadoCartera, car.carEstadoOperacion = a.carEstadoOperacion, car.carFechaCreacion = a.carFechaCreacion, car.carPersona = a.carPersona, car.carMetodo = a.carMetodo, car.carPeriodoDeuda = a.carPeriodoDeuda, car.carRiesgoIncobrabilidad = a.carRiesgoIncobrabilidad, car.carTipoAccionCobro = a.carTipoAccionCobro, car.carTipoDeuda = a.carTipoDeuda, car.carTipoLineaCobro = a.carTipoLineaCobro, car.carTipoSolicitante = a.carTipoSolicitante, car.carFechaAsignacionAccion = a.carFechaAsignacionAccion, car.carUsuarioTraspaso = a.carUsuarioTraspaso, car.carDeudaPresuntaUnitaria = a.carDeudaPresuntaUnitaria, car.carDeudaParcial = a.carDeudaParcial, car.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.carId, inserted.carDeudaPresunta, inserted.carEstadoCartera, inserted.carEstadoOperacion, inserted.carFechaCreacion, inserted.carPersona, inserted.carMetodo, inserted.carPeriodoDeuda, inserted.carRiesgoIncobrabilidad, inserted.carTipoAccionCobro, inserted.carTipoDeuda, inserted.carTipoLineaCobro, inserted.carTipoSolicitante, inserted.carFechaAsignacionAccion, inserted.carUsuarioTraspaso, inserted.carDeudaPresuntaUnitaria, inserted.carDeudaParcial, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Cartera_log
			from #Cartera1 as a
				inner join dbo.Cartera as car on a.carId = car.carId
			where (a.ultimaFechaModificacion > car.ultimaFechaModificacion or car.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Cartera1)



			drop table if exists #carIds
			create table #carIds (carId bigInt)
			insert #carIds
			select carId from #Cartera1
			except 
			select carId from dbo.Cartera

			insert dbo.Cartera (carId, carDeudaPresunta, carEstadoCartera, carEstadoOperacion, carFechaCreacion, carPersona, carMetodo, carPeriodoDeuda, carRiesgoIncobrabilidad, carTipoAccionCobro, carTipoDeuda, carTipoLineaCobro, carTipoSolicitante, carFechaAsignacionAccion, carUsuarioTraspaso, carDeudaPresuntaUnitaria, carDeudaParcial,ultimaFechaModificacion)
			output inserted.carId, inserted.carDeudaPresunta, inserted.carEstadoCartera, inserted.carEstadoOperacion, inserted.carFechaCreacion, inserted.carPersona, inserted.carMetodo, inserted.carPeriodoDeuda, inserted.carRiesgoIncobrabilidad, inserted.carTipoAccionCobro, inserted.carTipoDeuda, inserted.carTipoLineaCobro, inserted.carTipoSolicitante, inserted.carFechaAsignacionAccion, inserted.carUsuarioTraspaso, inserted.carDeudaPresuntaUnitaria, inserted.carDeudaParcial
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Cartera_log
			select carId, carDeudaPresunta, carEstadoCartera, carEstadoOperacion, carFechaCreacion, carPersona, carMetodo, carPeriodoDeuda, carRiesgoIncobrabilidad, carTipoAccionCobro, carTipoDeuda, carTipoLineaCobro, carTipoSolicitante, carFechaAsignacionAccion, carUsuarioTraspaso, carDeudaPresuntaUnitaria, carDeudaParcial, ultimaFechaModificacion
			from #Cartera1
			where carId in (select carId from #carIds)
				and actId = 1

			delete from dbo.Cartera
			output deleted.carId, deleted.carDeudaPresunta, deleted.carEstadoCartera, deleted.carEstadoOperacion, deleted.carFechaCreacion, deleted.carPersona, deleted.carMetodo, deleted.carPeriodoDeuda, deleted.carRiesgoIncobrabilidad, deleted.carTipoAccionCobro, deleted.carTipoDeuda, deleted.carTipoLineaCobro, deleted.carTipoSolicitante, deleted.carFechaAsignacionAccion, deleted.carUsuarioTraspaso, deleted.carDeudaPresuntaUnitaria, deleted.carDeudaParcial
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Cartera_log
			where carId in (select carId from #Cartera1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla CarteraAgrupadora

	
			declare @CarteraAgrupadora1 table (cagId bigint   not null,cagNumeroOperacion bigint   not null,cagCartera bigint   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select cagId, cagNumeroOperacion, cagCartera, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CarteraAgrupadora_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CarteraAgrupadora1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CarteraAgrupadora1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by cagId) then 1 else null end as act
				,row_number() over (partition by cagId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CarteraAgrupadora1)
			select *
			into #CarteraAgrupadora1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cag set cag.cagNumeroOperacion = a.cagNumeroOperacion, cag.cagCartera = a.cagCartera, cag.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.cagId, inserted.cagNumeroOperacion, inserted.cagCartera, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CarteraAgrupadora_log
			from #CarteraAgrupadora1 as a
				inner join dbo.CarteraAgrupadora as cag on a.cagId = cag.cagId
			where (a.ultimaFechaModificacion > cag.ultimaFechaModificacion or cag.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CarteraAgrupadora1)



			drop table if exists #cagIds
			create table #cagIds (cagId bigInt)
			insert #cagIds
			select cagId from #CarteraAgrupadora1
			except 
			select cagId from dbo.CarteraAgrupadora

			insert dbo.CarteraAgrupadora (cagId, cagNumeroOperacion, cagCartera,ultimaFechaModificacion)
			output inserted.cagId, inserted.cagNumeroOperacion, inserted.cagCartera
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CarteraAgrupadora_log
			select cagId, cagNumeroOperacion, cagCartera, ultimaFechaModificacion
			from #CarteraAgrupadora1
			where cagId in (select cagId from #cagIds)
				and actId = 1

			delete from dbo.CarteraAgrupadora
			output deleted.cagId, deleted.cagNumeroOperacion, deleted.cagCartera
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CarteraAgrupadora_log
			where cagId in (select cagId from #CarteraAgrupadora1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla CarteraDependiente

	
			declare @CarteraDependiente1 table (cadId bigint   not null,cadDeudaPresunta numeric (19,  5) null,cadEstadoOperacion varchar(10)   not null,cadCartera bigint   not null,cadPersona bigint   not null,cadDeudaReal numeric (19,  5) not null,cadAgregadoManual bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select cadId, cadDeudaPresunta, cadEstadoOperacion, cadCartera, cadPersona, cadDeudaReal, cadAgregadoManual, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CarteraDependiente_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CarteraDependiente1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CarteraDependiente1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by cadId) then 1 else null end as act
				,row_number() over (partition by cadId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CarteraDependiente1)
			select *
			into #CarteraDependiente1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cad set cad.cadDeudaPresunta = a.cadDeudaPresunta, cad.cadEstadoOperacion = a.cadEstadoOperacion, cad.cadCartera = a.cadCartera, cad.cadPersona = a.cadPersona, cad.cadDeudaReal = a.cadDeudaReal, cad.cadAgregadoManual = a.cadAgregadoManual, cad.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.cadId, inserted.cadDeudaPresunta, inserted.cadEstadoOperacion, inserted.cadCartera, inserted.cadPersona, inserted.cadDeudaReal, inserted.cadAgregadoManual, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CarteraDependiente_log
			from #CarteraDependiente1 as a
				inner join dbo.CarteraDependiente as cad on a.cadId = cad.cadId
			where (a.ultimaFechaModificacion > cad.ultimaFechaModificacion or cad.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CarteraDependiente1)



			drop table if exists #cadIds
			create table #cadIds (cadId bigInt)
			insert #cadIds
			select cadId from #CarteraDependiente1
			except 
			select cadId from dbo.CarteraDependiente

			insert dbo.CarteraDependiente (cadId, cadDeudaPresunta, cadEstadoOperacion, cadCartera, cadPersona, cadDeudaReal, cadAgregadoManual,ultimaFechaModificacion)
			output inserted.cadId, inserted.cadDeudaPresunta, inserted.cadEstadoOperacion, inserted.cadCartera, inserted.cadPersona, inserted.cadDeudaReal, inserted.cadAgregadoManual
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CarteraDependiente_log
			select cadId, cadDeudaPresunta, cadEstadoOperacion, cadCartera, cadPersona, cadDeudaReal, cadAgregadoManual, ultimaFechaModificacion
			from #CarteraDependiente1
			where cadId in (select cadId from #cadIds)
				and actId = 1

			delete from dbo.CarteraDependiente
			output deleted.cadId, deleted.cadDeudaPresunta, deleted.cadEstadoOperacion, deleted.cadCartera, deleted.cadPersona, deleted.cadDeudaReal, deleted.cadAgregadoManual
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CarteraDependiente_log
			where cadId in (select cadId from #CarteraDependiente1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla CarteraNovedad

	
			declare @CarteraNovedad1 table (canId bigint   not null,canFechaInicio date   not null,canFechaFin date   null,canTipoNovedad varchar(100)   not null,canCondicion bit   not null,canAplicar bit   not null,canNovedadFutura bit   not null,canPersona bigint   not null,canFechaCreacion datetime   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select canId, canFechaInicio, canFechaFin, canTipoNovedad, canCondicion, canAplicar, canNovedadFutura, canPersona, canFechaCreacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CarteraNovedad_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CarteraNovedad1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CarteraNovedad1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by canId) then 1 else null end as act
				,row_number() over (partition by canId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CarteraNovedad1)
			select *
			into #CarteraNovedad1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update can set can.canFechaInicio = a.canFechaInicio, can.canFechaFin = a.canFechaFin, can.canTipoNovedad = a.canTipoNovedad, can.canCondicion = a.canCondicion, can.canAplicar = a.canAplicar, can.canNovedadFutura = a.canNovedadFutura, can.canPersona = a.canPersona, can.canFechaCreacion = a.canFechaCreacion, can.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.canId, inserted.canFechaInicio, inserted.canFechaFin, inserted.canTipoNovedad, inserted.canCondicion, inserted.canAplicar, inserted.canNovedadFutura, inserted.canPersona, inserted.canFechaCreacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CarteraNovedad_log
			from #CarteraNovedad1 as a
				inner join dbo.CarteraNovedad as can on a.canId = can.canId
			where (a.ultimaFechaModificacion > can.ultimaFechaModificacion or can.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CarteraNovedad1)



			drop table if exists #canIds
			create table #canIds (canId bigInt)
			insert #canIds
			select canId from #CarteraNovedad1
			except 
			select canId from dbo.CarteraNovedad

			insert dbo.CarteraNovedad (canId, canFechaInicio, canFechaFin, canTipoNovedad, canCondicion, canAplicar, canNovedadFutura, canPersona, canFechaCreacion,ultimaFechaModificacion)
			output inserted.canId, inserted.canFechaInicio, inserted.canFechaFin, inserted.canTipoNovedad, inserted.canCondicion, inserted.canAplicar, inserted.canNovedadFutura, inserted.canPersona, inserted.canFechaCreacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CarteraNovedad_log
			select canId, canFechaInicio, canFechaFin, canTipoNovedad, canCondicion, canAplicar, canNovedadFutura, canPersona, canFechaCreacion, ultimaFechaModificacion
			from #CarteraNovedad1
			where canId in (select canId from #canIds)
				and actId = 1

			delete from dbo.CarteraNovedad
			output deleted.canId, deleted.canFechaInicio, deleted.canFechaFin, deleted.canTipoNovedad, deleted.canCondicion, deleted.canAplicar, deleted.canNovedadFutura, deleted.canPersona, deleted.canFechaCreacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CarteraNovedad_log
			where canId in (select canId from #CarteraNovedad1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla CicloCartera

	
			declare @CicloCartera1 table (ccrId bigint   not null,ccrEstadoCiclo varchar(10)   not null,ccrFechaInicio date   not null,ccrFechaFin date   not null,ccrFechaCreacion datetime   not null,ccrTipoCiclo varchar(14)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ccrId, ccrEstadoCiclo, ccrFechaInicio, ccrFechaFin, ccrFechaCreacion, ccrTipoCiclo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CicloCartera_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CicloCartera1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CicloCartera1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ccrId) then 1 else null end as act
				,row_number() over (partition by ccrId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CicloCartera1)
			select *
			into #CicloCartera1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ccr set ccr.ccrEstadoCiclo = a.ccrEstadoCiclo, ccr.ccrFechaInicio = a.ccrFechaInicio, ccr.ccrFechaFin = a.ccrFechaFin, ccr.ccrFechaCreacion = a.ccrFechaCreacion, ccr.ccrTipoCiclo = a.ccrTipoCiclo, ccr.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ccrId, inserted.ccrEstadoCiclo, inserted.ccrFechaInicio, inserted.ccrFechaFin, inserted.ccrFechaCreacion, inserted.ccrTipoCiclo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CicloCartera_log
			from #CicloCartera1 as a
				inner join dbo.CicloCartera as ccr on a.ccrId = ccr.ccrId
			where (a.ultimaFechaModificacion > ccr.ultimaFechaModificacion or ccr.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CicloCartera1)



			drop table if exists #ccrIds
			create table #ccrIds (ccrId bigInt)
			insert #ccrIds
			select ccrId from #CicloCartera1
			except 
			select ccrId from dbo.CicloCartera

			insert dbo.CicloCartera (ccrId, ccrEstadoCiclo, ccrFechaInicio, ccrFechaFin, ccrFechaCreacion, ccrTipoCiclo,ultimaFechaModificacion)
			output inserted.ccrId, inserted.ccrEstadoCiclo, inserted.ccrFechaInicio, inserted.ccrFechaFin, inserted.ccrFechaCreacion, inserted.ccrTipoCiclo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CicloCartera_log
			select ccrId, ccrEstadoCiclo, ccrFechaInicio, ccrFechaFin, ccrFechaCreacion, ccrTipoCiclo, ultimaFechaModificacion
			from #CicloCartera1
			where ccrId in (select ccrId from #ccrIds)
				and actId = 1

			delete from dbo.CicloCartera
			output deleted.ccrId, deleted.ccrEstadoCiclo, deleted.ccrFechaInicio, deleted.ccrFechaFin, deleted.ccrFechaCreacion, deleted.ccrTipoCiclo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CicloCartera_log
			where ccrId in (select ccrId from #CicloCartera1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla DocumentoCartera

	
			declare @DocumentoCartera1 table (dcaId bigint   not null,dcaCartera bigint   not null,dcaDocumentoSoporte bigint   not null,dcaAccionCobro varchar(4)   null,dcaConsecutivoLiquidacion varchar(10)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select dcaId, dcaCartera, dcaDocumentoSoporte, dcaAccionCobro, dcaConsecutivoLiquidacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_DocumentoCartera_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @DocumentoCartera1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #DocumentoCartera1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by dcaId) then 1 else null end as act
				,row_number() over (partition by dcaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @DocumentoCartera1)
			select *
			into #DocumentoCartera1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update dca set dca.dcaCartera = a.dcaCartera, dca.dcaDocumentoSoporte = a.dcaDocumentoSoporte, dca.dcaAccionCobro = a.dcaAccionCobro, dca.dcaConsecutivoLiquidacion = a.dcaConsecutivoLiquidacion, dca.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.dcaId, inserted.dcaCartera, inserted.dcaDocumentoSoporte, inserted.dcaAccionCobro, inserted.dcaConsecutivoLiquidacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.DocumentoCartera_log
			from #DocumentoCartera1 as a
				inner join dbo.DocumentoCartera as dca on a.dcaId = dca.dcaId
			where (a.ultimaFechaModificacion > dca.ultimaFechaModificacion or dca.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #DocumentoCartera1)



			drop table if exists #dcaIds
			create table #dcaIds (dcaId bigInt)
			insert #dcaIds
			select dcaId from #DocumentoCartera1
			except 
			select dcaId from dbo.DocumentoCartera

			insert dbo.DocumentoCartera (dcaId, dcaCartera, dcaDocumentoSoporte, dcaAccionCobro, dcaConsecutivoLiquidacion,ultimaFechaModificacion)
			output inserted.dcaId, inserted.dcaCartera, inserted.dcaDocumentoSoporte, inserted.dcaAccionCobro, inserted.dcaConsecutivoLiquidacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.DocumentoCartera_log
			select dcaId, dcaCartera, dcaDocumentoSoporte, dcaAccionCobro, dcaConsecutivoLiquidacion, ultimaFechaModificacion
			from #DocumentoCartera1
			where dcaId in (select dcaId from #dcaIds)
				and actId = 1

			delete from dbo.DocumentoCartera
			output deleted.dcaId, deleted.dcaCartera, deleted.dcaDocumentoSoporte, deleted.dcaAccionCobro, deleted.dcaConsecutivoLiquidacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.DocumentoCartera_log
			where dcaId in (select dcaId from #DocumentoCartera1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Exclusioncartera

	
			declare @Exclusioncartera1 table (excId bigint   null,excPersona bigint   null,excTipoSolicitante varchar(15)   null,excEstadoExclusionCartera varchar(10)   null,excFechaInicio date   null,excFechaFin date   null,excFechaRegistro date   null,excFechaMovimiento date   null,excObservacion varchar(400)   null,excTipoExclusionCartera varchar(25)   null,excEstadoAntesExclusion varchar(45)   null,excNumeroOperacionMora bigint   null,excUsuarioRegistro varchar(400)   null,excResultado varchar(11)   null,excObservacionCambioResultado varchar(400)   null,excPeriodoDeuda date   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select excId, excPersona, excTipoSolicitante, excEstadoExclusionCartera, excFechaInicio, excFechaFin, excFechaRegistro, excFechaMovimiento, excObservacion, excTipoExclusionCartera, excEstadoAntesExclusion, excNumeroOperacionMora, excUsuarioRegistro, excResultado, excObservacionCambioResultado, excPeriodoDeuda, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Exclusioncartera_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Exclusioncartera1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Exclusioncartera1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by excId) then 1 else null end as act
				,row_number() over (partition by excId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Exclusioncartera1)
			select *
			into #Exclusioncartera1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update exc set exc.excPersona = a.excPersona, exc.excTipoSolicitante = a.excTipoSolicitante, exc.excEstadoExclusionCartera = a.excEstadoExclusionCartera, exc.excFechaInicio = a.excFechaInicio, exc.excFechaFin = a.excFechaFin, exc.excFechaRegistro = a.excFechaRegistro, exc.excFechaMovimiento = a.excFechaMovimiento, exc.excObservacion = a.excObservacion, exc.excTipoExclusionCartera = a.excTipoExclusionCartera, exc.excEstadoAntesExclusion = a.excEstadoAntesExclusion, exc.excNumeroOperacionMora = a.excNumeroOperacionMora, exc.excUsuarioRegistro = a.excUsuarioRegistro, exc.excResultado = a.excResultado, exc.excObservacionCambioResultado = a.excObservacionCambioResultado, exc.excPeriodoDeuda = a.excPeriodoDeuda, exc.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.excId, inserted.excPersona, inserted.excTipoSolicitante, inserted.excEstadoExclusionCartera, inserted.excFechaInicio, inserted.excFechaFin, inserted.excFechaRegistro, inserted.excFechaMovimiento, inserted.excObservacion, inserted.excTipoExclusionCartera, inserted.excEstadoAntesExclusion, inserted.excNumeroOperacionMora, inserted.excUsuarioRegistro, inserted.excResultado, inserted.excObservacionCambioResultado, inserted.excPeriodoDeuda, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Exclusioncartera_log
			from #Exclusioncartera1 as a
				inner join dbo.Exclusioncartera as exc on a.excId = exc.excId
			where (a.ultimaFechaModificacion > exc.ultimaFechaModificacion or exc.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Exclusioncartera1)



			drop table if exists #excIds
			create table #excIds (excId bigInt)
			insert #excIds
			select excId from #Exclusioncartera1
			except 
			select excId from dbo.Exclusioncartera

			insert dbo.Exclusioncartera (excId, excPersona, excTipoSolicitante, excEstadoExclusionCartera, excFechaInicio, excFechaFin, excFechaRegistro, excFechaMovimiento, excObservacion, excTipoExclusionCartera, excEstadoAntesExclusion, excNumeroOperacionMora, excUsuarioRegistro, excResultado, excObservacionCambioResultado, excPeriodoDeuda,ultimaFechaModificacion)
			output inserted.excId, inserted.excPersona, inserted.excTipoSolicitante, inserted.excEstadoExclusionCartera, inserted.excFechaInicio, inserted.excFechaFin, inserted.excFechaRegistro, inserted.excFechaMovimiento, inserted.excObservacion, inserted.excTipoExclusionCartera, inserted.excEstadoAntesExclusion, inserted.excNumeroOperacionMora, inserted.excUsuarioRegistro, inserted.excResultado, inserted.excObservacionCambioResultado, inserted.excPeriodoDeuda
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Exclusioncartera_log
			select excId, excPersona, excTipoSolicitante, excEstadoExclusionCartera, excFechaInicio, excFechaFin, excFechaRegistro, excFechaMovimiento, excObservacion, excTipoExclusionCartera, excEstadoAntesExclusion, excNumeroOperacionMora, excUsuarioRegistro, excResultado, excObservacionCambioResultado, excPeriodoDeuda, ultimaFechaModificacion
			from #Exclusioncartera1
			where excId in (select excId from #excIds)
				and actId = 1

			delete from dbo.Exclusioncartera
			output deleted.excId, deleted.excPersona, deleted.excTipoSolicitante, deleted.excEstadoExclusionCartera, deleted.excFechaInicio, deleted.excFechaFin, deleted.excFechaRegistro, deleted.excFechaMovimiento, deleted.excObservacion, deleted.excTipoExclusionCartera, deleted.excEstadoAntesExclusion, deleted.excNumeroOperacionMora, deleted.excUsuarioRegistro, deleted.excResultado, deleted.excObservacionCambioResultado, deleted.excPeriodoDeuda
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Exclusioncartera_log
			where excId in (select excId from #Exclusioncartera1 where operacion = 1 and actId = 1)