	CREATE or alter procedure [dbo].[OP_pilaIndicePlanilla_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla pilaIndicePlanilla

	
			declare @pilaIndicePlanilla1 table (pipId bigint   not null,pipIdPlanilla bigint   not null,pipTipoArchivo varchar(20)   not null,pipNombreArchivo varchar(80)   null,pipFechaRecibo datetime   null,pipFechaFtp datetime   null,pipCodigoOperadorInformacion varchar(2)   null,pipEstadoArchivo varchar(75)   null,pipTipoCargaArchivo varchar(30)   null,pipUsuario varchar(255)   null,pipIdentificadorDocumento varchar(255)   null,pipVersionDocumento varchar(20)   null,pipFechaProceso datetime   null,pipUsuarioProceso varchar(255)   null,pipFechaEliminacion datetime   null,pipUsuarioEliminacion varchar(255)   null,pipProcesar bit   null,pipRegistroActivo bit   null,pipEnLista bit   null,pipTamanoArchivo bigint   null,pipHabilitadoProcesoManual bit   null,pipPresentaRegistro4 bit   null,pipMotivoProcesoManual varchar(20)   null,pipDateTimeInsert datetime   null,pipDateTimeUpdate datetime   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pipId, pipIdPlanilla, pipTipoArchivo, pipNombreArchivo, pipFechaRecibo, pipFechaFtp, pipCodigoOperadorInformacion, pipEstadoArchivo, pipTipoCargaArchivo, pipUsuario, pipIdentificadorDocumento, pipVersionDocumento, pipFechaProceso, pipUsuarioProceso, pipFechaEliminacion, pipUsuarioEliminacion, pipProcesar, pipRegistroActivo, pipEnLista, pipTamanoArchivo, pipHabilitadoProcesoManual, pipPresentaRegistro4, pipMotivoProcesoManual, pipDateTimeInsert, pipDateTimeUpdate, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_pilaIndicePlanilla_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @pilaIndicePlanilla1
			execute sp_execute_remote PilaReferenceData, @query
	
			drop table if exists #pilaIndicePlanilla1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pipId) then 1 else null end as act
				,row_number() over (partition by pipId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @pilaIndicePlanilla1)
			select *
			into #pilaIndicePlanilla1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pip set pip.pipIdPlanilla = a.pipIdPlanilla, pip.pipTipoArchivo = a.pipTipoArchivo, pip.pipNombreArchivo = a.pipNombreArchivo, pip.pipFechaRecibo = a.pipFechaRecibo, pip.pipFechaFtp = a.pipFechaFtp, pip.pipCodigoOperadorInformacion = a.pipCodigoOperadorInformacion, pip.pipEstadoArchivo = a.pipEstadoArchivo, pip.pipTipoCargaArchivo = a.pipTipoCargaArchivo, pip.pipUsuario = a.pipUsuario, pip.pipIdentificadorDocumento = a.pipIdentificadorDocumento, pip.pipVersionDocumento = a.pipVersionDocumento, pip.pipFechaProceso = a.pipFechaProceso, pip.pipUsuarioProceso = a.pipUsuarioProceso, pip.pipFechaEliminacion = a.pipFechaEliminacion, pip.pipUsuarioEliminacion = a.pipUsuarioEliminacion, pip.pipProcesar = a.pipProcesar, pip.pipRegistroActivo = a.pipRegistroActivo, pip.pipEnLista = a.pipEnLista, pip.pipTamanoArchivo = a.pipTamanoArchivo, pip.pipHabilitadoProcesoManual = a.pipHabilitadoProcesoManual, pip.pipPresentaRegistro4 = a.pipPresentaRegistro4, pip.pipMotivoProcesoManual = a.pipMotivoProcesoManual, pip.pipDateTimeInsert = a.pipDateTimeInsert, pip.pipDateTimeUpdate = a.pipDateTimeUpdate, pip.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pipId, inserted.pipIdPlanilla, inserted.pipTipoArchivo, inserted.pipNombreArchivo, inserted.pipFechaRecibo, inserted.pipFechaFtp, inserted.pipCodigoOperadorInformacion, inserted.pipEstadoArchivo, inserted.pipTipoCargaArchivo, inserted.pipUsuario, inserted.pipIdentificadorDocumento, inserted.pipVersionDocumento, inserted.pipFechaProceso, inserted.pipUsuarioProceso, inserted.pipFechaEliminacion, inserted.pipUsuarioEliminacion, inserted.pipProcesar, inserted.pipRegistroActivo, inserted.pipEnLista, inserted.pipTamanoArchivo, inserted.pipHabilitadoProcesoManual, inserted.pipPresentaRegistro4, inserted.pipMotivoProcesoManual, inserted.pipDateTimeInsert, inserted.pipDateTimeUpdate, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.pilaIndicePlanilla_log
			from #pilaIndicePlanilla1 as a
				inner join dbo.pilaIndicePlanilla as pip on a.pipId = pip.pipId
			where (a.ultimaFechaModificacion > pip.ultimaFechaModificacion or pip.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #pilaIndicePlanilla1)



			drop table if exists #pipIds
			create table #pipIds (pipId bigInt)
			insert #pipIds
			select pipId from #pilaIndicePlanilla1
			except 
			select pipId from dbo.pilaIndicePlanilla

			insert dbo.pilaIndicePlanilla (pipId, pipIdPlanilla, pipTipoArchivo, pipNombreArchivo, pipFechaRecibo, pipFechaFtp, pipCodigoOperadorInformacion, pipEstadoArchivo, pipTipoCargaArchivo, pipUsuario, pipIdentificadorDocumento, pipVersionDocumento, pipFechaProceso, pipUsuarioProceso, pipFechaEliminacion, pipUsuarioEliminacion, pipProcesar, pipRegistroActivo, pipEnLista, pipTamanoArchivo, pipHabilitadoProcesoManual, pipPresentaRegistro4, pipMotivoProcesoManual, pipDateTimeInsert, pipDateTimeUpdate,ultimaFechaModificacion)
			output inserted.pipId, inserted.pipIdPlanilla, inserted.pipTipoArchivo, inserted.pipNombreArchivo, inserted.pipFechaRecibo, inserted.pipFechaFtp, inserted.pipCodigoOperadorInformacion, inserted.pipEstadoArchivo, inserted.pipTipoCargaArchivo, inserted.pipUsuario, inserted.pipIdentificadorDocumento, inserted.pipVersionDocumento, inserted.pipFechaProceso, inserted.pipUsuarioProceso, inserted.pipFechaEliminacion, inserted.pipUsuarioEliminacion, inserted.pipProcesar, inserted.pipRegistroActivo, inserted.pipEnLista, inserted.pipTamanoArchivo, inserted.pipHabilitadoProcesoManual, inserted.pipPresentaRegistro4, inserted.pipMotivoProcesoManual, inserted.pipDateTimeInsert, inserted.pipDateTimeUpdate
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.pilaIndicePlanilla_log
			select pipId, pipIdPlanilla, pipTipoArchivo, pipNombreArchivo, pipFechaRecibo, pipFechaFtp, pipCodigoOperadorInformacion, pipEstadoArchivo, pipTipoCargaArchivo, pipUsuario, pipIdentificadorDocumento, pipVersionDocumento, pipFechaProceso, pipUsuarioProceso, pipFechaEliminacion, pipUsuarioEliminacion, pipProcesar, pipRegistroActivo, pipEnLista, pipTamanoArchivo, pipHabilitadoProcesoManual, pipPresentaRegistro4, pipMotivoProcesoManual, pipDateTimeInsert, pipDateTimeUpdate, ultimaFechaModificacion
			from #pilaIndicePlanilla1
			where pipId in (select pipId from #pipIds)
				and actId = 1

			delete from dbo.pilaIndicePlanilla
			output deleted.pipId, deleted.pipIdPlanilla, deleted.pipTipoArchivo, deleted.pipNombreArchivo, deleted.pipFechaRecibo, deleted.pipFechaFtp, deleted.pipCodigoOperadorInformacion, deleted.pipEstadoArchivo, deleted.pipTipoCargaArchivo, deleted.pipUsuario, deleted.pipIdentificadorDocumento, deleted.pipVersionDocumento, deleted.pipFechaProceso, deleted.pipUsuarioProceso, deleted.pipFechaEliminacion, deleted.pipUsuarioEliminacion, deleted.pipProcesar, deleted.pipRegistroActivo, deleted.pipEnLista, deleted.pipTamanoArchivo, deleted.pipHabilitadoProcesoManual, deleted.pipPresentaRegistro4, deleted.pipMotivoProcesoManual, deleted.pipDateTimeInsert, deleted.pipDateTimeUpdate
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.pilaIndicePlanilla_log
			where pipId in (select pipId from #pilaIndicePlanilla1 where operacion = 1 and actId = 1)