	CREATE or alter procedure [dbo].[OP_SolicitudNovedad_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla SolicitudNovedad

	
			declare @SolicitudNovedad1 table (snoId bigint   not null,snoEstadoSolicitud varchar(50)   null,snoNovedad bigint   null,snoSolicitudGlobal bigint   null,snoObservaciones varchar(200)   null,snoCargaMultiple bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select snoId, snoEstadoSolicitud, snoNovedad, snoSolicitudGlobal, snoObservaciones, snoCargaMultiple, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudNovedad_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudNovedad1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudNovedad1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by snoId) then 1 else null end as act
				,row_number() over (partition by snoId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudNovedad1)
			select *
			into #SolicitudNovedad1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sno set sno.snoEstadoSolicitud = a.snoEstadoSolicitud, sno.snoNovedad = a.snoNovedad, sno.snoSolicitudGlobal = a.snoSolicitudGlobal, sno.snoObservaciones = a.snoObservaciones, sno.snoCargaMultiple = a.snoCargaMultiple, sno.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.snoId, inserted.snoEstadoSolicitud, inserted.snoNovedad, inserted.snoSolicitudGlobal, inserted.snoObservaciones, inserted.snoCargaMultiple, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudNovedad_log
			from #SolicitudNovedad1 as a
				inner join dbo.SolicitudNovedad as sno on a.snoId = sno.snoId
			where (a.ultimaFechaModificacion > sno.ultimaFechaModificacion or sno.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudNovedad1)



			drop table if exists #snoIds
			create table #snoIds (snoId bigInt)
			insert #snoIds
			select snoId from #SolicitudNovedad1
			except 
			select snoId from dbo.SolicitudNovedad

			insert dbo.SolicitudNovedad (snoId, snoEstadoSolicitud, snoNovedad, snoSolicitudGlobal, snoObservaciones, snoCargaMultiple,ultimaFechaModificacion)
			output inserted.snoId, inserted.snoEstadoSolicitud, inserted.snoNovedad, inserted.snoSolicitudGlobal, inserted.snoObservaciones, inserted.snoCargaMultiple
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudNovedad_log
			select snoId, snoEstadoSolicitud, snoNovedad, snoSolicitudGlobal, snoObservaciones, snoCargaMultiple, ultimaFechaModificacion
			from #SolicitudNovedad1
			where snoId in (select snoId from #snoIds)
				and actId = 1

			delete from dbo.SolicitudNovedad
			output deleted.snoId, deleted.snoEstadoSolicitud, deleted.snoNovedad, deleted.snoSolicitudGlobal, deleted.snoObservaciones, deleted.snoCargaMultiple
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudNovedad_log
			where snoId in (select snoId from #SolicitudNovedad1 where operacion = 1 and actId = 1)