	CREATE or alter procedure [dbo].[OP_AporteDetallado_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla AporteDetallado

	
			declare @AporteDetallado1 table (apdId bigint   not null,apdAporteGeneral bigint   null,apdDiasCotizados smallint   null,apdHorasLaboradas smallint   null,apdSalarioBasico numeric (19,  5) null,apdValorIBC numeric (19,  5) null,apdValorIntMora numeric (19,  5) null,apdTarifa numeric (19,  5) null,apdAporteObligatorio numeric (19,  5) null,apdValorSaldoAporte numeric (19,  5) null,apdCorrecciones varchar(400)   null,apdEstadoAporteRecaudo varchar(50)   null,apdEstadoAporteAjuste varchar(50)   null,apdEstadoRegistroAporte varchar(50)   null,apdSalarioIntegral bit   null,apdMunicipioLaboral varchar(5)   null,apdDepartamentoLaboral smallint   null,apdRegistroDetallado bigint   not null,apdTipoCotizante varchar(100)   null,apdEstadoCotizante varchar(60)   null,apdEstadoAporteCotizante varchar(50)   null,apdEstadoRegistroAporteCotizante varchar(40)   null,apdPersona bigint   null,apdUsuarioAprobadorAporte varchar(50)   not null,apdEstadoRegistroAporteArchivo varchar(60)   not null,apdCodSucursal varchar(10)   null,apdNomSucursal varchar(100)   null,apdFechaMovimiento date   null,apdFechaCreacion date   null,apdFormaReconocimientoAporte varchar(75)   null,apdMarcaPeriodo varchar(19)   null,apdModalidadRecaudoAporte varchar(40)   null,apdMarcaCalculoCategoria bit   null,apdModificadoAportesOK bit   null, ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select apdId, apdAporteGeneral, apdDiasCotizados, apdHorasLaboradas, apdSalarioBasico, apdValorIBC, apdValorIntMora, apdTarifa, apdAporteObligatorio, apdValorSaldoAporte, apdCorrecciones, apdEstadoAporteRecaudo, apdEstadoAporteAjuste, apdEstadoRegistroAporte, apdSalarioIntegral, apdMunicipioLaboral, apdDepartamentoLaboral, apdRegistroDetallado, apdTipoCotizante, apdEstadoCotizante, apdEstadoAporteCotizante, apdEstadoRegistroAporteCotizante, apdPersona, apdUsuarioAprobadorAporte, apdEstadoRegistroAporteArchivo, apdCodSucursal, apdNomSucursal, apdFechaMovimiento, apdFechaCreacion, apdFormaReconocimientoAporte, apdMarcaPeriodo, apdModalidadRecaudoAporte, apdMarcaCalculoCategoria, apdModificadoAportesOK, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_AporteDetallado_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @AporteDetallado1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #AporteDetallado1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by apdId) then 1 else null end as act
				,row_number() over (partition by apdId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @AporteDetallado1)
			select *
			into #AporteDetallado1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update apd set apd.apdAporteGeneral = a.apdAporteGeneral, apd.apdDiasCotizados = a.apdDiasCotizados, apd.apdHorasLaboradas = a.apdHorasLaboradas, apd.apdSalarioBasico = a.apdSalarioBasico, apd.apdValorIBC = a.apdValorIBC, apd.apdValorIntMora = a.apdValorIntMora, apd.apdTarifa = a.apdTarifa, apd.apdAporteObligatorio = a.apdAporteObligatorio, apd.apdValorSaldoAporte = a.apdValorSaldoAporte, apd.apdCorrecciones = a.apdCorrecciones, apd.apdEstadoAporteRecaudo = a.apdEstadoAporteRecaudo, apd.apdEstadoAporteAjuste = a.apdEstadoAporteAjuste, apd.apdEstadoRegistroAporte = a.apdEstadoRegistroAporte, apd.apdSalarioIntegral = a.apdSalarioIntegral, apd.apdMunicipioLaboral = a.apdMunicipioLaboral, apd.apdDepartamentoLaboral = a.apdDepartamentoLaboral, apd.apdRegistroDetallado = a.apdRegistroDetallado, apd.apdTipoCotizante = a.apdTipoCotizante, apd.apdEstadoCotizante = a.apdEstadoCotizante, apd.apdEstadoAporteCotizante = a.apdEstadoAporteCotizante, apd.apdEstadoRegistroAporteCotizante = a.apdEstadoRegistroAporteCotizante, apd.apdPersona = a.apdPersona, apd.apdUsuarioAprobadorAporte = a.apdUsuarioAprobadorAporte, apd.apdEstadoRegistroAporteArchivo = a.apdEstadoRegistroAporteArchivo, apd.apdCodSucursal = a.apdCodSucursal, apd.apdNomSucursal = a.apdNomSucursal, apd.apdFechaMovimiento = a.apdFechaMovimiento, apd.apdFechaCreacion = a.apdFechaCreacion, apd.apdFormaReconocimientoAporte = a.apdFormaReconocimientoAporte, apd.apdMarcaPeriodo = a.apdMarcaPeriodo, apd.apdModalidadRecaudoAporte = a.apdModalidadRecaudoAporte, apd.apdMarcaCalculoCategoria = a.apdMarcaCalculoCategoria, apd.apdModificadoAportesOK = a.apdModificadoAportesOK, apd.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.apdId, inserted.apdAporteGeneral, inserted.apdDiasCotizados, inserted.apdHorasLaboradas, inserted.apdSalarioBasico, inserted.apdValorIBC, inserted.apdValorIntMora, inserted.apdTarifa, inserted.apdAporteObligatorio, inserted.apdValorSaldoAporte, inserted.apdCorrecciones, inserted.apdEstadoAporteRecaudo, inserted.apdEstadoAporteAjuste, inserted.apdEstadoRegistroAporte, inserted.apdSalarioIntegral, inserted.apdMunicipioLaboral, inserted.apdDepartamentoLaboral, inserted.apdRegistroDetallado, inserted.apdTipoCotizante, inserted.apdEstadoCotizante, inserted.apdEstadoAporteCotizante, inserted.apdEstadoRegistroAporteCotizante, inserted.apdPersona, inserted.apdUsuarioAprobadorAporte, inserted.apdEstadoRegistroAporteArchivo, inserted.apdCodSucursal, inserted.apdNomSucursal, inserted.apdFechaMovimiento, inserted.apdFechaCreacion, inserted.apdFormaReconocimientoAporte, inserted.apdMarcaPeriodo, inserted.apdModalidadRecaudoAporte, inserted.apdMarcaCalculoCategoria, inserted.apdModificadoAportesOK, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.AporteDetallado_log
			from #AporteDetallado1 as a
				inner join dbo.AporteDetallado2 as apd on a.apdId = apd.apdId
			where (a.ultimaFechaModificacion > apd.ultimaFechaModificacion or apd.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #AporteDetallado1)



			drop table if exists #apdIds
			create table #apdIds (apdId bigInt)
			insert #apdIds
			select apdId from #AporteDetallado1
			except 
			select apdId from dbo.AporteDetallado2

			insert dbo.AporteDetallado2 (apdId, apdAporteGeneral, apdDiasCotizados, apdHorasLaboradas, apdSalarioBasico, apdValorIBC, apdValorIntMora, apdTarifa, apdAporteObligatorio, apdValorSaldoAporte, apdCorrecciones, apdEstadoAporteRecaudo, apdEstadoAporteAjuste, apdEstadoRegistroAporte, apdSalarioIntegral, apdMunicipioLaboral, apdDepartamentoLaboral, apdRegistroDetallado, apdTipoCotizante, apdEstadoCotizante, apdEstadoAporteCotizante, apdEstadoRegistroAporteCotizante, apdPersona, apdUsuarioAprobadorAporte, apdEstadoRegistroAporteArchivo, apdCodSucursal, apdNomSucursal, apdFechaMovimiento, apdFechaCreacion, apdFormaReconocimientoAporte, apdMarcaPeriodo, apdModalidadRecaudoAporte, apdMarcaCalculoCategoria, apdModificadoAportesOK, ultimaFechaModificacion)
			output inserted.apdId, inserted.apdAporteGeneral, inserted.apdDiasCotizados, inserted.apdHorasLaboradas, inserted.apdSalarioBasico, inserted.apdValorIBC, inserted.apdValorIntMora, inserted.apdTarifa, inserted.apdAporteObligatorio, inserted.apdValorSaldoAporte, inserted.apdCorrecciones, inserted.apdEstadoAporteRecaudo, inserted.apdEstadoAporteAjuste, inserted.apdEstadoRegistroAporte, inserted.apdSalarioIntegral, inserted.apdMunicipioLaboral, inserted.apdDepartamentoLaboral, inserted.apdRegistroDetallado, inserted.apdTipoCotizante, inserted.apdEstadoCotizante, inserted.apdEstadoAporteCotizante, inserted.apdEstadoRegistroAporteCotizante, inserted.apdPersona, inserted.apdUsuarioAprobadorAporte, inserted.apdEstadoRegistroAporteArchivo, inserted.apdCodSucursal, inserted.apdNomSucursal, inserted.apdFechaMovimiento, inserted.apdFechaCreacion, inserted.apdFormaReconocimientoAporte, inserted.apdMarcaPeriodo, inserted.apdModalidadRecaudoAporte, inserted.apdMarcaCalculoCategoria, inserted.apdModificadoAportesOK 
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.AporteDetallado_log
			select apdId, apdAporteGeneral, apdDiasCotizados, apdHorasLaboradas, apdSalarioBasico, apdValorIBC, apdValorIntMora, apdTarifa, apdAporteObligatorio, apdValorSaldoAporte, apdCorrecciones, apdEstadoAporteRecaudo, apdEstadoAporteAjuste, apdEstadoRegistroAporte, apdSalarioIntegral, apdMunicipioLaboral, apdDepartamentoLaboral, apdRegistroDetallado, apdTipoCotizante, apdEstadoCotizante, apdEstadoAporteCotizante, apdEstadoRegistroAporteCotizante, apdPersona, apdUsuarioAprobadorAporte, apdEstadoRegistroAporteArchivo, apdCodSucursal, apdNomSucursal, apdFechaMovimiento, apdFechaCreacion, apdFormaReconocimientoAporte, apdMarcaPeriodo, apdModalidadRecaudoAporte, apdMarcaCalculoCategoria, apdModificadoAportesOK,  ultimaFechaModificacion
			from #AporteDetallado1
			where apdId in (select apdId from #apdIds)
				and actId = 1

			delete from dbo.AporteDetallado2
			output deleted.apdId, deleted.apdAporteGeneral, deleted.apdDiasCotizados, deleted.apdHorasLaboradas, deleted.apdSalarioBasico, deleted.apdValorIBC, deleted.apdValorIntMora, deleted.apdTarifa, deleted.apdAporteObligatorio, deleted.apdValorSaldoAporte, deleted.apdCorrecciones, deleted.apdEstadoAporteRecaudo, deleted.apdEstadoAporteAjuste, deleted.apdEstadoRegistroAporte, deleted.apdSalarioIntegral, deleted.apdMunicipioLaboral, deleted.apdDepartamentoLaboral, deleted.apdRegistroDetallado, deleted.apdTipoCotizante, deleted.apdEstadoCotizante, deleted.apdEstadoAporteCotizante, deleted.apdEstadoRegistroAporteCotizante, deleted.apdPersona, deleted.apdUsuarioAprobadorAporte, deleted.apdEstadoRegistroAporteArchivo, deleted.apdCodSucursal, deleted.apdNomSucursal, deleted.apdFechaMovimiento, deleted.apdFechaCreacion, deleted.apdFormaReconocimientoAporte, deleted.apdMarcaPeriodo, deleted.apdModalidadRecaudoAporte, deleted.apdMarcaCalculoCategoria, deleted.apdModificadoAportesOK
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.AporteDetallado_log
			where apdId in (select apdId from #AporteDetallado1 where operacion = 1 and actId = 1)
