CREATE OR ALTER   procedure [dbo].[OP_ConCueArcActArcEscIntMov_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla ActividadDocumento

	
			declare @ActividadDocumento1 table (adoId bigint   not null,adoIdentificadorDocumento varchar(255)   not null,adoTipoDocumento varchar(12)   not null,adoActividadCartera bigint   not null,adoDocumentoSoporte bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select adoId, adoIdentificadorDocumento, adoTipoDocumento, adoActividadCartera, adoDocumentoSoporte, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ActividadDocumento_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ActividadDocumento1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ActividadDocumento1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by adoId) then 1 else null end as act
				,row_number() over (partition by adoId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ActividadDocumento1)
			select *
			into #ActividadDocumento1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ado set ado.adoIdentificadorDocumento = a.adoIdentificadorDocumento, ado.adoTipoDocumento = a.adoTipoDocumento, ado.adoActividadCartera = a.adoActividadCartera, ado.adoDocumentoSoporte = a.adoDocumentoSoporte, ado.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.adoId, inserted.adoIdentificadorDocumento, inserted.adoTipoDocumento, inserted.adoActividadCartera, inserted.adoDocumentoSoporte, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ActividadDocumento_log
			from #ActividadDocumento1 as a
				inner join dbo.ActividadDocumento as ado on a.adoId = ado.adoId
			where (a.ultimaFechaModificacion > ado.ultimaFechaModificacion or ado.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ActividadDocumento1)



			drop table if exists #adoIds
			create table #adoIds (adoId bigInt)
			insert #adoIds
			select adoId from #ActividadDocumento1
			except 
			select adoId from dbo.ActividadDocumento

			insert dbo.ActividadDocumento (adoId, adoIdentificadorDocumento, adoTipoDocumento, adoActividadCartera, adoDocumentoSoporte,ultimaFechaModificacion)
			output inserted.adoId, inserted.adoIdentificadorDocumento, inserted.adoTipoDocumento, inserted.adoActividadCartera, inserted.adoDocumentoSoporte
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ActividadDocumento_log
			select adoId, adoIdentificadorDocumento, adoTipoDocumento, adoActividadCartera, adoDocumentoSoporte, ultimaFechaModificacion
			from #ActividadDocumento1
			where adoId in (select adoId from #adoIds)
				and actId = 1

			delete from dbo.ActividadDocumento
			output deleted.adoId, deleted.adoIdentificadorDocumento, deleted.adoTipoDocumento, deleted.adoActividadCartera, deleted.adoDocumentoSoporte
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ActividadDocumento_log
			where adoId in (select adoId from #ActividadDocumento1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla ArchivoConsumosAnibol

	
			declare @ArchivoConsumosAnibol1 table (acnId bigint   not null,acnNombreArchivo varchar(40)   null,acnIdentificadorDocumento varchar(255)   null,acnVersionDocumento varchar(20)   null,acnFechaHoraCargue datetime   not null,acnUsuarioCargue varchar(50)   not null,acnFechaHoraProcesamiento datetime   null,acnUsuarioProcesamiento varchar(50)   null,acnTipoCargue varchar(10)   not null,acnEstadoArchivo varchar(29)   null,acnResultadoValidacionEstructura varchar(20)   null,acnResultadoValidacionContenido varchar(20)   null,acnTipoInconsistenciaArchivo varchar(40)   null,acnArchivoNotificado smallint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select acnId, acnNombreArchivo, acnIdentificadorDocumento, acnVersionDocumento, acnFechaHoraCargue, acnUsuarioCargue, acnFechaHoraProcesamiento, acnUsuarioProcesamiento, acnTipoCargue, acnEstadoArchivo, acnResultadoValidacionEstructura, acnResultadoValidacionContenido, acnTipoInconsistenciaArchivo, acnArchivoNotificado, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ArchivoConsumosAnibol_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ArchivoConsumosAnibol1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ArchivoConsumosAnibol1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by acnId) then 1 else null end as act
				,row_number() over (partition by acnId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ArchivoConsumosAnibol1)
			select *
			into #ArchivoConsumosAnibol1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update acn set acn.acnNombreArchivo = a.acnNombreArchivo, acn.acnIdentificadorDocumento = a.acnIdentificadorDocumento, acn.acnVersionDocumento = a.acnVersionDocumento, acn.acnFechaHoraCargue = a.acnFechaHoraCargue, acn.acnUsuarioCargue = a.acnUsuarioCargue, acn.acnFechaHoraProcesamiento = a.acnFechaHoraProcesamiento, acn.acnUsuarioProcesamiento = a.acnUsuarioProcesamiento, acn.acnTipoCargue = a.acnTipoCargue, acn.acnEstadoArchivo = a.acnEstadoArchivo, acn.acnResultadoValidacionEstructura = a.acnResultadoValidacionEstructura, acn.acnResultadoValidacionContenido = a.acnResultadoValidacionContenido, acn.acnTipoInconsistenciaArchivo = a.acnTipoInconsistenciaArchivo, acn.acnArchivoNotificado = a.acnArchivoNotificado, acn.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.acnId, inserted.acnNombreArchivo, inserted.acnIdentificadorDocumento, inserted.acnVersionDocumento, inserted.acnFechaHoraCargue, inserted.acnUsuarioCargue, inserted.acnFechaHoraProcesamiento, inserted.acnUsuarioProcesamiento, inserted.acnTipoCargue, inserted.acnEstadoArchivo, inserted.acnResultadoValidacionEstructura, inserted.acnResultadoValidacionContenido, inserted.acnTipoInconsistenciaArchivo, inserted.acnArchivoNotificado, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ArchivoConsumosAnibol_log
			from #ArchivoConsumosAnibol1 as a
				inner join dbo.ArchivoConsumosAnibol as acn on a.acnId = acn.acnId
			where (a.ultimaFechaModificacion > acn.ultimaFechaModificacion or acn.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ArchivoConsumosAnibol1)



			drop table if exists #acnIds
			create table #acnIds (acnId bigInt)
			insert #acnIds
			select acnId from #ArchivoConsumosAnibol1
			except 
			select acnId from dbo.ArchivoConsumosAnibol

			insert dbo.ArchivoConsumosAnibol (acnId, acnNombreArchivo, acnIdentificadorDocumento, acnVersionDocumento, acnFechaHoraCargue, acnUsuarioCargue, acnFechaHoraProcesamiento, acnUsuarioProcesamiento, acnTipoCargue, acnEstadoArchivo, acnResultadoValidacionEstructura, acnResultadoValidacionContenido, acnTipoInconsistenciaArchivo, acnArchivoNotificado,ultimaFechaModificacion)
			output inserted.acnId, inserted.acnNombreArchivo, inserted.acnIdentificadorDocumento, inserted.acnVersionDocumento, inserted.acnFechaHoraCargue, inserted.acnUsuarioCargue, inserted.acnFechaHoraProcesamiento, inserted.acnUsuarioProcesamiento, inserted.acnTipoCargue, inserted.acnEstadoArchivo, inserted.acnResultadoValidacionEstructura, inserted.acnResultadoValidacionContenido, inserted.acnTipoInconsistenciaArchivo, inserted.acnArchivoNotificado
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ArchivoConsumosAnibol_log
			select acnId, acnNombreArchivo, acnIdentificadorDocumento, acnVersionDocumento, acnFechaHoraCargue, acnUsuarioCargue, acnFechaHoraProcesamiento, acnUsuarioProcesamiento, acnTipoCargue, acnEstadoArchivo, acnResultadoValidacionEstructura, acnResultadoValidacionContenido, acnTipoInconsistenciaArchivo, acnArchivoNotificado, ultimaFechaModificacion
			from #ArchivoConsumosAnibol1
			where acnId in (select acnId from #acnIds)
				and actId = 1

			delete from dbo.ArchivoConsumosAnibol
			output deleted.acnId, deleted.acnNombreArchivo, deleted.acnIdentificadorDocumento, deleted.acnVersionDocumento, deleted.acnFechaHoraCargue, deleted.acnUsuarioCargue, deleted.acnFechaHoraProcesamiento, deleted.acnUsuarioProcesamiento, deleted.acnTipoCargue, deleted.acnEstadoArchivo, deleted.acnResultadoValidacionEstructura, deleted.acnResultadoValidacionContenido, deleted.acnTipoInconsistenciaArchivo, deleted.acnArchivoNotificado
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ArchivoConsumosAnibol_log
			where acnId in (select acnId from #ArchivoConsumosAnibol1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla ArchivoSalidaDescuentoSubsidio

	
			declare @ArchivoSalidaDescuentoSubsidio1 table (asdId bigint   not null,asdSolicitudLiquidacionSubsidio bigint   null,asdEntidadDescuento bigint   null,asdNombreOUT varchar(50)   null,asdCodigoIdentificacionECMSalida varchar(255)   null,asdFechaGeneracion datetime   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select asdId, asdSolicitudLiquidacionSubsidio, asdEntidadDescuento, asdNombreOUT, asdCodigoIdentificacionECMSalida, asdFechaGeneracion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ArchivoSalidaDescuentoSubsidio_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ArchivoSalidaDescuentoSubsidio1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ArchivoSalidaDescuentoSubsidio1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by asdId) then 1 else null end as act
				,row_number() over (partition by asdId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ArchivoSalidaDescuentoSubsidio1)
			select *
			into #ArchivoSalidaDescuentoSubsidio1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update asd set asd.asdSolicitudLiquidacionSubsidio = a.asdSolicitudLiquidacionSubsidio, asd.asdEntidadDescuento = a.asdEntidadDescuento, asd.asdNombreOUT = a.asdNombreOUT, asd.asdCodigoIdentificacionECMSalida = a.asdCodigoIdentificacionECMSalida, asd.asdFechaGeneracion = a.asdFechaGeneracion, asd.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.asdId, inserted.asdSolicitudLiquidacionSubsidio, inserted.asdEntidadDescuento, inserted.asdNombreOUT, inserted.asdCodigoIdentificacionECMSalida, inserted.asdFechaGeneracion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ArchivoSalidaDescuentoSubsidio_log
			from #ArchivoSalidaDescuentoSubsidio1 as a
				inner join dbo.ArchivoSalidaDescuentoSubsidio as asd on a.asdId = asd.asdId
			where (a.ultimaFechaModificacion > asd.ultimaFechaModificacion or asd.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ArchivoSalidaDescuentoSubsidio1)



			drop table if exists #asdIds
			create table #asdIds (asdId bigInt)
			insert #asdIds
			select asdId from #ArchivoSalidaDescuentoSubsidio1
			except 
			select asdId from dbo.ArchivoSalidaDescuentoSubsidio

			insert dbo.ArchivoSalidaDescuentoSubsidio (asdId, asdSolicitudLiquidacionSubsidio, asdEntidadDescuento, asdNombreOUT, asdCodigoIdentificacionECMSalida, asdFechaGeneracion,ultimaFechaModificacion)
			output inserted.asdId, inserted.asdSolicitudLiquidacionSubsidio, inserted.asdEntidadDescuento, inserted.asdNombreOUT, inserted.asdCodigoIdentificacionECMSalida, inserted.asdFechaGeneracion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ArchivoSalidaDescuentoSubsidio_log
			select asdId, asdSolicitudLiquidacionSubsidio, asdEntidadDescuento, asdNombreOUT, asdCodigoIdentificacionECMSalida, asdFechaGeneracion, ultimaFechaModificacion
			from #ArchivoSalidaDescuentoSubsidio1
			where asdId in (select asdId from #asdIds)
				and actId = 1

			delete from dbo.ArchivoSalidaDescuentoSubsidio
			output deleted.asdId, deleted.asdSolicitudLiquidacionSubsidio, deleted.asdEntidadDescuento, deleted.asdNombreOUT, deleted.asdCodigoIdentificacionECMSalida, deleted.asdFechaGeneracion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ArchivoSalidaDescuentoSubsidio_log
			where asdId in (select asdId from #ArchivoSalidaDescuentoSubsidio1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla conveniopago

	
			declare @conveniopago1 table (copId bigint   not null,copPersona bigint   not null,copTipoSolicitante varchar(13)   not null,copDeudaPresuntaRegistrada numeric (19,  5) not null,copDeudaRealRegistrada numeric (19,  5) null,copCuotasPorPagar smallint   not null,copEstadoConvenioPago varchar(30)   not null,copMotivoAnulacion varchar(30)   null,copUsuarioAnulacion varchar(255)   null,copFechaAnulacion datetime   null,copFechaRegistro datetime   not null,copUsuarioCreacion varchar(255)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select copId, copPersona, copTipoSolicitante, copDeudaPresuntaRegistrada, copDeudaRealRegistrada, copCuotasPorPagar, copEstadoConvenioPago, copMotivoAnulacion, copUsuarioAnulacion, copFechaAnulacion, copFechaRegistro, copUsuarioCreacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_conveniopago_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @conveniopago1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #conveniopago1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by copId) then 1 else null end as act
				,row_number() over (partition by copId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @conveniopago1)
			select *
			into #conveniopago1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cop set cop.copPersona = a.copPersona, cop.copTipoSolicitante = a.copTipoSolicitante, cop.copDeudaPresuntaRegistrada = a.copDeudaPresuntaRegistrada, cop.copDeudaRealRegistrada = a.copDeudaRealRegistrada, cop.copCuotasPorPagar = a.copCuotasPorPagar, cop.copEstadoConvenioPago = a.copEstadoConvenioPago, cop.copMotivoAnulacion = a.copMotivoAnulacion, cop.copUsuarioAnulacion = a.copUsuarioAnulacion, cop.copFechaAnulacion = a.copFechaAnulacion, cop.copFechaRegistro = a.copFechaRegistro, cop.copUsuarioCreacion = a.copUsuarioCreacion, cop.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.copId, inserted.copPersona, inserted.copTipoSolicitante, inserted.copDeudaPresuntaRegistrada, inserted.copDeudaRealRegistrada, inserted.copCuotasPorPagar, inserted.copEstadoConvenioPago, inserted.copMotivoAnulacion, inserted.copUsuarioAnulacion, inserted.copFechaAnulacion, inserted.copFechaRegistro, inserted.copUsuarioCreacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.conveniopago_log
			from #conveniopago1 as a
				inner join dbo.conveniopago as cop on a.copId = cop.copId
			where (a.ultimaFechaModificacion > cop.ultimaFechaModificacion or cop.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #conveniopago1)



			drop table if exists #copIds
			create table #copIds (copId bigInt)
			insert #copIds
			select copId from #conveniopago1
			except 
			select copId from dbo.conveniopago

			insert dbo.conveniopago (copId, copPersona, copTipoSolicitante, copDeudaPresuntaRegistrada, copDeudaRealRegistrada, copCuotasPorPagar, copEstadoConvenioPago, copMotivoAnulacion, copUsuarioAnulacion, copFechaAnulacion, copFechaRegistro, copUsuarioCreacion,ultimaFechaModificacion)
			output inserted.copId, inserted.copPersona, inserted.copTipoSolicitante, inserted.copDeudaPresuntaRegistrada, inserted.copDeudaRealRegistrada, inserted.copCuotasPorPagar, inserted.copEstadoConvenioPago, inserted.copMotivoAnulacion, inserted.copUsuarioAnulacion, inserted.copFechaAnulacion, inserted.copFechaRegistro, inserted.copUsuarioCreacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.conveniopago_log
			select copId, copPersona, copTipoSolicitante, copDeudaPresuntaRegistrada, copDeudaRealRegistrada, copCuotasPorPagar, copEstadoConvenioPago, copMotivoAnulacion, copUsuarioAnulacion, copFechaAnulacion, copFechaRegistro, copUsuarioCreacion, ultimaFechaModificacion
			from #conveniopago1
			where copId in (select copId from #copIds)
				and actId = 1

			delete from dbo.conveniopago
			output deleted.copId, deleted.copPersona, deleted.copTipoSolicitante, deleted.copDeudaPresuntaRegistrada, deleted.copDeudaRealRegistrada, deleted.copCuotasPorPagar, deleted.copEstadoConvenioPago, deleted.copMotivoAnulacion, deleted.copUsuarioAnulacion, deleted.copFechaAnulacion, deleted.copFechaRegistro, deleted.copUsuarioCreacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.conveniopago_log
			where copId in (select copId from #conveniopago1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla ConvenioTerceroPagador

	
			declare @ConvenioTerceroPagador1 table (conId bigint   null,conEmpresa bigint   null,conNombre varchar(250)   null,conEstado varchar(10)   null,conMedioDePago varchar(20)   null,conUsuarioGenesys varchar(200)   null,conNombreCompletoContacto varchar(30)   null,conCargoContacto varchar(30)   null,conIndicativoTelFijoContacto varchar(3)   null,conTelefonoFijoContacto varchar(7)   null,conTelefonoCelularContacto varchar(10)   null,conEmailContacto varchar(255)   null,conAcuerdoDeFacturacion varchar(255)   null,conUbicacion bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select conId, conEmpresa, conNombre, conEstado, conMedioDePago, conUsuarioGenesys, conNombreCompletoContacto, conCargoContacto, conIndicativoTelFijoContacto, conTelefonoFijoContacto, conTelefonoCelularContacto, conEmailContacto, conAcuerdoDeFacturacion, conUbicacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ConvenioTerceroPagador_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ConvenioTerceroPagador1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ConvenioTerceroPagador1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by conId) then 1 else null end as act
				,row_number() over (partition by conId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ConvenioTerceroPagador1)
			select *
			into #ConvenioTerceroPagador1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update con set con.conEmpresa = a.conEmpresa, con.conNombre = a.conNombre, con.conEstado = a.conEstado, con.conMedioDePago = a.conMedioDePago, con.conUsuarioGenesys = a.conUsuarioGenesys, con.conNombreCompletoContacto = a.conNombreCompletoContacto, con.conCargoContacto = a.conCargoContacto, con.conIndicativoTelFijoContacto = a.conIndicativoTelFijoContacto, con.conTelefonoFijoContacto = a.conTelefonoFijoContacto, con.conTelefonoCelularContacto = a.conTelefonoCelularContacto, con.conEmailContacto = a.conEmailContacto, con.conAcuerdoDeFacturacion = a.conAcuerdoDeFacturacion, con.conUbicacion = a.conUbicacion, con.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.conId, inserted.conEmpresa, inserted.conNombre, inserted.conEstado, inserted.conMedioDePago, inserted.conUsuarioGenesys, inserted.conNombreCompletoContacto, inserted.conCargoContacto, inserted.conIndicativoTelFijoContacto, inserted.conTelefonoFijoContacto, inserted.conTelefonoCelularContacto, inserted.conEmailContacto, inserted.conAcuerdoDeFacturacion, inserted.conUbicacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ConvenioTerceroPagador_log
			from #ConvenioTerceroPagador1 as a
				inner join dbo.ConvenioTerceroPagador as con on a.conId = con.conId
			where (a.ultimaFechaModificacion > con.ultimaFechaModificacion or con.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ConvenioTerceroPagador1)



			drop table if exists #conIds
			create table #conIds (conId bigInt)
			insert #conIds
			select conId from #ConvenioTerceroPagador1
			except 
			select conId from dbo.ConvenioTerceroPagador

			insert dbo.ConvenioTerceroPagador (conId, conEmpresa, conNombre, conEstado, conMedioDePago, conUsuarioGenesys, conNombreCompletoContacto, conCargoContacto, conIndicativoTelFijoContacto, conTelefonoFijoContacto, conTelefonoCelularContacto, conEmailContacto, conAcuerdoDeFacturacion, conUbicacion,ultimaFechaModificacion)
			output inserted.conId, inserted.conEmpresa, inserted.conNombre, inserted.conEstado, inserted.conMedioDePago, inserted.conUsuarioGenesys, inserted.conNombreCompletoContacto, inserted.conCargoContacto, inserted.conIndicativoTelFijoContacto, inserted.conTelefonoFijoContacto, inserted.conTelefonoCelularContacto, inserted.conEmailContacto, inserted.conAcuerdoDeFacturacion, inserted.conUbicacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ConvenioTerceroPagador_log
			select conId, conEmpresa, conNombre, conEstado, conMedioDePago, conUsuarioGenesys, conNombreCompletoContacto, conCargoContacto, conIndicativoTelFijoContacto, conTelefonoFijoContacto, conTelefonoCelularContacto, conEmailContacto, conAcuerdoDeFacturacion, conUbicacion, ultimaFechaModificacion
			from #ConvenioTerceroPagador1
			where conId in (select conId from #conIds)
				and actId = 1

			delete from dbo.ConvenioTerceroPagador
			output deleted.conId, deleted.conEmpresa, deleted.conNombre, deleted.conEstado, deleted.conMedioDePago, deleted.conUsuarioGenesys, deleted.conNombreCompletoContacto, deleted.conCargoContacto, deleted.conIndicativoTelFijoContacto, deleted.conTelefonoFijoContacto, deleted.conTelefonoCelularContacto, deleted.conEmailContacto, deleted.conAcuerdoDeFacturacion, deleted.conUbicacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ConvenioTerceroPagador_log
			where conId in (select conId from #ConvenioTerceroPagador1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Cuentas_Bancarias

	
			declare @Cuentas_Bancarias1 table (ID int   not null,BANCO varchar(200)   null,TIPO varchar(200)   null,NUMERO_CUENTA varchar(200)   null,TIPO_RECAUDO varchar(200)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ID, BANCO, TIPO, NUMERO_CUENTA, TIPO_RECAUDO, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Cuentas_Bancarias_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Cuentas_Bancarias1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Cuentas_Bancarias1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ID) then 1 else null end as act
				,row_number() over (partition by ID order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Cuentas_Bancarias1)
			select *
			into #Cuentas_Bancarias1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ID set ID.BANCO = a.BANCO, ID.TIPO = a.TIPO, ID.NUMERO_CUENTA = a.NUMERO_CUENTA, ID.TIPO_RECAUDO = a.TIPO_RECAUDO, ID.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ID, inserted.BANCO, inserted.TIPO, inserted.NUMERO_CUENTA, inserted.TIPO_RECAUDO, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Cuentas_Bancarias_log
			from #Cuentas_Bancarias1 as a
				inner join dbo.Cuentas_Bancarias as ID on a.ID = ID.ID
			where (a.ultimaFechaModificacion > ID.ultimaFechaModificacion or ID.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Cuentas_Bancarias1)



			drop table if exists #IDs
			create table #IDs (ID bigInt)
			insert #IDs
			select ID from #Cuentas_Bancarias1
			except 
			select ID from dbo.Cuentas_Bancarias

			insert dbo.Cuentas_Bancarias (ID, BANCO, TIPO, NUMERO_CUENTA, TIPO_RECAUDO,ultimaFechaModificacion)
			output inserted.ID, inserted.BANCO, inserted.TIPO, inserted.NUMERO_CUENTA, inserted.TIPO_RECAUDO
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Cuentas_Bancarias_log
			select ID, BANCO, TIPO, NUMERO_CUENTA, TIPO_RECAUDO, ultimaFechaModificacion
			from #Cuentas_Bancarias1
			where ID in (select ID from #IDs)
				and actId = 1

			delete from dbo.Cuentas_Bancarias
			output deleted.ID, deleted.BANCO, deleted.TIPO, deleted.NUMERO_CUENTA, deleted.TIPO_RECAUDO
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Cuentas_Bancarias_log
			where ID in (select ID from #Cuentas_Bancarias1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla EscalamientoSolicitud

	
			declare @EscalamientoSolicitud1 table (esoId bigint   not null,esoSolicitud bigint   not null,esoAsunto varchar(100)   not null,esoDescripcion varchar(255)   not null,esoDestinatario varchar(255)   null,esoResultadoAnalista varchar(30)   null,esoComentarioAnalista varchar(255)   null,esoIdentificadorDocumentoSoporteAnalista varchar(255)   null,esoUsuarioCreacion varchar(255)   null,esoFechaCreacion datetime2   null,esoTipoAnalistaFOVIS varchar(22)   null,esoOrigen varchar(5)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select esoId, esoSolicitud, esoAsunto, esoDescripcion, esoDestinatario, esoResultadoAnalista, esoComentarioAnalista, esoIdentificadorDocumentoSoporteAnalista, esoUsuarioCreacion, esoFechaCreacion, esoTipoAnalistaFOVIS, esoOrigen, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_EscalamientoSolicitud_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @EscalamientoSolicitud1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #EscalamientoSolicitud1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by esoId) then 1 else null end as act
				,row_number() over (partition by esoId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @EscalamientoSolicitud1)
			select *
			into #EscalamientoSolicitud1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update eso set eso.esoSolicitud = a.esoSolicitud, eso.esoAsunto = a.esoAsunto, eso.esoDescripcion = a.esoDescripcion, eso.esoDestinatario = a.esoDestinatario, eso.esoResultadoAnalista = a.esoResultadoAnalista, eso.esoComentarioAnalista = a.esoComentarioAnalista, eso.esoIdentificadorDocumentoSoporteAnalista = a.esoIdentificadorDocumentoSoporteAnalista, eso.esoUsuarioCreacion = a.esoUsuarioCreacion, eso.esoFechaCreacion = a.esoFechaCreacion, eso.esoTipoAnalistaFOVIS = a.esoTipoAnalistaFOVIS, eso.esoOrigen = a.esoOrigen, eso.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.esoId, inserted.esoSolicitud, inserted.esoAsunto, inserted.esoDescripcion, inserted.esoDestinatario, inserted.esoResultadoAnalista, inserted.esoComentarioAnalista, inserted.esoIdentificadorDocumentoSoporteAnalista, inserted.esoUsuarioCreacion, inserted.esoFechaCreacion, inserted.esoTipoAnalistaFOVIS, inserted.esoOrigen, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.EscalamientoSolicitud_log
			from #EscalamientoSolicitud1 as a
				inner join dbo.EscalamientoSolicitud as eso on a.esoId = eso.esoId
			where (a.ultimaFechaModificacion > eso.ultimaFechaModificacion or eso.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #EscalamientoSolicitud1)



			drop table if exists #esoIds
			create table #esoIds (esoId bigInt)
			insert #esoIds
			select esoId from #EscalamientoSolicitud1
			except 
			select esoId from dbo.EscalamientoSolicitud

			insert dbo.EscalamientoSolicitud (esoId, esoSolicitud, esoAsunto, esoDescripcion, esoDestinatario, esoResultadoAnalista, esoComentarioAnalista, esoIdentificadorDocumentoSoporteAnalista, esoUsuarioCreacion, esoFechaCreacion, esoTipoAnalistaFOVIS, esoOrigen,ultimaFechaModificacion)
			output inserted.esoId, inserted.esoSolicitud, inserted.esoAsunto, inserted.esoDescripcion, inserted.esoDestinatario, inserted.esoResultadoAnalista, inserted.esoComentarioAnalista, inserted.esoIdentificadorDocumentoSoporteAnalista, inserted.esoUsuarioCreacion, inserted.esoFechaCreacion, inserted.esoTipoAnalistaFOVIS, inserted.esoOrigen
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.EscalamientoSolicitud_log
			select esoId, esoSolicitud, esoAsunto, esoDescripcion, esoDestinatario, esoResultadoAnalista, esoComentarioAnalista, esoIdentificadorDocumentoSoporteAnalista, esoUsuarioCreacion, esoFechaCreacion, esoTipoAnalistaFOVIS, esoOrigen, ultimaFechaModificacion
			from #EscalamientoSolicitud1
			where esoId in (select esoId from #esoIds)
				and actId = 1

			delete from dbo.EscalamientoSolicitud
			output deleted.esoId, deleted.esoSolicitud, deleted.esoAsunto, deleted.esoDescripcion, deleted.esoDestinatario, deleted.esoResultadoAnalista, deleted.esoComentarioAnalista, deleted.esoIdentificadorDocumentoSoporteAnalista, deleted.esoUsuarioCreacion, deleted.esoFechaCreacion, deleted.esoTipoAnalistaFOVIS, deleted.esoOrigen
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.EscalamientoSolicitud_log
			where esoId in (select esoId from #EscalamientoSolicitud1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla IntentoPostulacion

	
			declare @IntentoPostulacion1 table (ipoId bigint   not null,ipoCausaIntentoFallido varchar(50)   null,ipoFechaCreacion datetime   null,ipoFechaInicioProceso datetime   null,ipoSedeCajaCompensacion varchar(2)   null,ipoTipoTransaccion varchar(100)   null,ipoUsuarioCreacion varchar(255)   null,ipoSolicitud bigint   null,ipoProceso varchar(32)   null,ipoTipoSolicitante varchar(5)   null,ipoModalidad varchar(33)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ipoId, ipoCausaIntentoFallido, ipoFechaCreacion, ipoFechaInicioProceso, ipoSedeCajaCompensacion, ipoTipoTransaccion, ipoUsuarioCreacion, ipoSolicitud, ipoProceso, ipoTipoSolicitante, ipoModalidad, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_IntentoPostulacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @IntentoPostulacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #IntentoPostulacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ipoId) then 1 else null end as act
				,row_number() over (partition by ipoId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @IntentoPostulacion1)
			select *
			into #IntentoPostulacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ipo set ipo.ipoCausaIntentoFallido = a.ipoCausaIntentoFallido, ipo.ipoFechaCreacion = a.ipoFechaCreacion, ipo.ipoFechaInicioProceso = a.ipoFechaInicioProceso, ipo.ipoSedeCajaCompensacion = a.ipoSedeCajaCompensacion, ipo.ipoTipoTransaccion = a.ipoTipoTransaccion, ipo.ipoUsuarioCreacion = a.ipoUsuarioCreacion, ipo.ipoSolicitud = a.ipoSolicitud, ipo.ipoProceso = a.ipoProceso, ipo.ipoTipoSolicitante = a.ipoTipoSolicitante, ipo.ipoModalidad = a.ipoModalidad, ipo.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ipoId, inserted.ipoCausaIntentoFallido, inserted.ipoFechaCreacion, inserted.ipoFechaInicioProceso, inserted.ipoSedeCajaCompensacion, inserted.ipoTipoTransaccion, inserted.ipoUsuarioCreacion, inserted.ipoSolicitud, inserted.ipoProceso, inserted.ipoTipoSolicitante, inserted.ipoModalidad, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.IntentoPostulacion_log
			from #IntentoPostulacion1 as a
				inner join dbo.IntentoPostulacion as ipo on a.ipoId = ipo.ipoId
			where (a.ultimaFechaModificacion > ipo.ultimaFechaModificacion or ipo.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #IntentoPostulacion1)



			drop table if exists #ipoIds
			create table #ipoIds (ipoId bigInt)
			insert #ipoIds
			select ipoId from #IntentoPostulacion1
			except 
			select ipoId from dbo.IntentoPostulacion

			insert dbo.IntentoPostulacion (ipoId, ipoCausaIntentoFallido, ipoFechaCreacion, ipoFechaInicioProceso, ipoSedeCajaCompensacion, ipoTipoTransaccion, ipoUsuarioCreacion, ipoSolicitud, ipoProceso, ipoTipoSolicitante, ipoModalidad,ultimaFechaModificacion)
			output inserted.ipoId, inserted.ipoCausaIntentoFallido, inserted.ipoFechaCreacion, inserted.ipoFechaInicioProceso, inserted.ipoSedeCajaCompensacion, inserted.ipoTipoTransaccion, inserted.ipoUsuarioCreacion, inserted.ipoSolicitud, inserted.ipoProceso, inserted.ipoTipoSolicitante, inserted.ipoModalidad
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.IntentoPostulacion_log
			select ipoId, ipoCausaIntentoFallido, ipoFechaCreacion, ipoFechaInicioProceso, ipoSedeCajaCompensacion, ipoTipoTransaccion, ipoUsuarioCreacion, ipoSolicitud, ipoProceso, ipoTipoSolicitante, ipoModalidad, ultimaFechaModificacion
			from #IntentoPostulacion1
			where ipoId in (select ipoId from #ipoIds)
				and actId = 1

			delete from dbo.IntentoPostulacion
			output deleted.ipoId, deleted.ipoCausaIntentoFallido, deleted.ipoFechaCreacion, deleted.ipoFechaInicioProceso, deleted.ipoSedeCajaCompensacion, deleted.ipoTipoTransaccion, deleted.ipoUsuarioCreacion, deleted.ipoSolicitud, deleted.ipoProceso, deleted.ipoTipoSolicitante, deleted.ipoModalidad
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.IntentoPostulacion_log
			where ipoId in (select ipoId from #IntentoPostulacion1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla MovimientoAjusteAporte

	
			declare @MovimientoAjusteAporte1 table (maaId bigint   not null,maaTipoMovimientoRecaudoAporte varchar(40)   null,maaAporteDetalladoOriginal bigint   null,maaAporteDetalladoCorregido bigint   null,maaPeriodoMovimientoAporte varchar(7)   null,maaFechaRegisroMovimientoAporte datetime   null,maaValorAporteRegOriginal numeric (38,  3) null,maaValorIntAporteRegOriginal numeric (38,  3) null,maaValorTotalAporteRegOriginal numeric (38,  3) null,maaTipoAjusteMovimientoAporte varchar(40)   null,maaValorAjusteRegAporte numeric (38,  3) null,maaValorIntAjusteRegAporte numeric (38,  3) null,maaValorTotalAjusteRegAporte numeric (38,  3) null,maaValorFinalRegAporte numeric (38,  3) null,maaValorIntFinalRegAporte numeric (38,  3) null,maaValorTotalFinalRegAporte numeric (38,  3) null,maaEstadoAjusteRegAporte varchar(40)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select maaId, maaTipoMovimientoRecaudoAporte, maaAporteDetalladoOriginal, maaAporteDetalladoCorregido, maaPeriodoMovimientoAporte, maaFechaRegisroMovimientoAporte, maaValorAporteRegOriginal, maaValorIntAporteRegOriginal, maaValorTotalAporteRegOriginal, maaTipoAjusteMovimientoAporte, maaValorAjusteRegAporte, maaValorIntAjusteRegAporte, maaValorTotalAjusteRegAporte, maaValorFinalRegAporte, maaValorIntFinalRegAporte, maaValorTotalFinalRegAporte, maaEstadoAjusteRegAporte, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_MovimientoAjusteAporte_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @MovimientoAjusteAporte1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #MovimientoAjusteAporte1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by maaId) then 1 else null end as act
				,row_number() over (partition by maaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @MovimientoAjusteAporte1)
			select *
			into #MovimientoAjusteAporte1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update maa set maa.maaTipoMovimientoRecaudoAporte = a.maaTipoMovimientoRecaudoAporte, maa.maaAporteDetalladoOriginal = a.maaAporteDetalladoOriginal, maa.maaAporteDetalladoCorregido = a.maaAporteDetalladoCorregido, maa.maaPeriodoMovimientoAporte = a.maaPeriodoMovimientoAporte, maa.maaFechaRegisroMovimientoAporte = a.maaFechaRegisroMovimientoAporte, maa.maaValorAporteRegOriginal = a.maaValorAporteRegOriginal, maa.maaValorIntAporteRegOriginal = a.maaValorIntAporteRegOriginal, maa.maaValorTotalAporteRegOriginal = a.maaValorTotalAporteRegOriginal, maa.maaTipoAjusteMovimientoAporte = a.maaTipoAjusteMovimientoAporte, maa.maaValorAjusteRegAporte = a.maaValorAjusteRegAporte, maa.maaValorIntAjusteRegAporte = a.maaValorIntAjusteRegAporte, maa.maaValorTotalAjusteRegAporte = a.maaValorTotalAjusteRegAporte, maa.maaValorFinalRegAporte = a.maaValorFinalRegAporte, maa.maaValorIntFinalRegAporte = a.maaValorIntFinalRegAporte, maa.maaValorTotalFinalRegAporte = a.maaValorTotalFinalRegAporte, maa.maaEstadoAjusteRegAporte = a.maaEstadoAjusteRegAporte, maa.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.maaId, inserted.maaTipoMovimientoRecaudoAporte, inserted.maaAporteDetalladoOriginal, inserted.maaAporteDetalladoCorregido, inserted.maaPeriodoMovimientoAporte, inserted.maaFechaRegisroMovimientoAporte, inserted.maaValorAporteRegOriginal, inserted.maaValorIntAporteRegOriginal, inserted.maaValorTotalAporteRegOriginal, inserted.maaTipoAjusteMovimientoAporte, inserted.maaValorAjusteRegAporte, inserted.maaValorIntAjusteRegAporte, inserted.maaValorTotalAjusteRegAporte, inserted.maaValorFinalRegAporte, inserted.maaValorIntFinalRegAporte, inserted.maaValorTotalFinalRegAporte, inserted.maaEstadoAjusteRegAporte, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.MovimientoAjusteAporte_log
			from #MovimientoAjusteAporte1 as a
				inner join dbo.MovimientoAjusteAporte as maa on a.maaId = maa.maaId
			where (a.ultimaFechaModificacion > maa.ultimaFechaModificacion or maa.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #MovimientoAjusteAporte1)



			drop table if exists #maaIds
			create table #maaIds (maaId bigInt)
			insert #maaIds
			select maaId from #MovimientoAjusteAporte1
			except 
			select maaId from dbo.MovimientoAjusteAporte

			insert dbo.MovimientoAjusteAporte (maaId, maaTipoMovimientoRecaudoAporte, maaAporteDetalladoOriginal, maaAporteDetalladoCorregido, maaPeriodoMovimientoAporte, maaFechaRegisroMovimientoAporte, maaValorAporteRegOriginal, maaValorIntAporteRegOriginal, maaValorTotalAporteRegOriginal, maaTipoAjusteMovimientoAporte, maaValorAjusteRegAporte, maaValorIntAjusteRegAporte, maaValorTotalAjusteRegAporte, maaValorFinalRegAporte, maaValorIntFinalRegAporte, maaValorTotalFinalRegAporte, maaEstadoAjusteRegAporte,ultimaFechaModificacion)
			output inserted.maaId, inserted.maaTipoMovimientoRecaudoAporte, inserted.maaAporteDetalladoOriginal, inserted.maaAporteDetalladoCorregido, inserted.maaPeriodoMovimientoAporte, inserted.maaFechaRegisroMovimientoAporte, inserted.maaValorAporteRegOriginal, inserted.maaValorIntAporteRegOriginal, inserted.maaValorTotalAporteRegOriginal, inserted.maaTipoAjusteMovimientoAporte, inserted.maaValorAjusteRegAporte, inserted.maaValorIntAjusteRegAporte, inserted.maaValorTotalAjusteRegAporte, inserted.maaValorFinalRegAporte, inserted.maaValorIntFinalRegAporte, inserted.maaValorTotalFinalRegAporte, inserted.maaEstadoAjusteRegAporte
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.MovimientoAjusteAporte_log
			select maaId, maaTipoMovimientoRecaudoAporte, maaAporteDetalladoOriginal, maaAporteDetalladoCorregido, maaPeriodoMovimientoAporte, maaFechaRegisroMovimientoAporte, maaValorAporteRegOriginal, maaValorIntAporteRegOriginal, maaValorTotalAporteRegOriginal, maaTipoAjusteMovimientoAporte, maaValorAjusteRegAporte, maaValorIntAjusteRegAporte, maaValorTotalAjusteRegAporte, maaValorFinalRegAporte, maaValorIntFinalRegAporte, maaValorTotalFinalRegAporte, maaEstadoAjusteRegAporte, ultimaFechaModificacion
			from #MovimientoAjusteAporte1
			where maaId in (select maaId from #maaIds)
				and actId = 1

			delete from dbo.MovimientoAjusteAporte
			output deleted.maaId, deleted.maaTipoMovimientoRecaudoAporte, deleted.maaAporteDetalladoOriginal, deleted.maaAporteDetalladoCorregido, deleted.maaPeriodoMovimientoAporte, deleted.maaFechaRegisroMovimientoAporte, deleted.maaValorAporteRegOriginal, deleted.maaValorIntAporteRegOriginal, deleted.maaValorTotalAporteRegOriginal, deleted.maaTipoAjusteMovimientoAporte, deleted.maaValorAjusteRegAporte, deleted.maaValorIntAjusteRegAporte, deleted.maaValorTotalAjusteRegAporte, deleted.maaValorFinalRegAporte, deleted.maaValorIntFinalRegAporte, deleted.maaValorTotalFinalRegAporte, deleted.maaEstadoAjusteRegAporte
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.MovimientoAjusteAporte_log
			where maaId in (select maaId from #MovimientoAjusteAporte1 where operacion = 1 and actId = 1)