	CREATE or alter procedure [dbo].[OP_MedioEfectivo_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla MedioEfectivo

	
			declare @MedioEfectivo1 table (mdpId bigint   not null,mefEfectivo bit   not null,mefSitioPago bigint   null,mefSedeCajaCompensacion bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select mdpId, mefEfectivo, mefSitioPago, mefSedeCajaCompensacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_MedioEfectivo_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @MedioEfectivo1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #MedioEfectivo1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by mdpId) then 1 else null end as act
				,row_number() over (partition by mdpId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @MedioEfectivo1)
			select *
			into #MedioEfectivo1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update mdp set mdp.mefEfectivo = a.mefEfectivo, mdp.mefSitioPago = a.mefSitioPago, mdp.mefSedeCajaCompensacion = a.mefSedeCajaCompensacion, mdp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.mdpId, inserted.mefEfectivo, inserted.mefSitioPago, inserted.mefSedeCajaCompensacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.MedioEfectivo_log
			from #MedioEfectivo1 as a
				inner join dbo.MedioEfectivo as mdp on a.mdpId = mdp.mdpId
			where (a.ultimaFechaModificacion > mdp.ultimaFechaModificacion or mdp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #MedioEfectivo1)



			drop table if exists #mdpIdsEfe
			create table #mdpIdsEfe (mdpId bigInt)
			insert #mdpIdsEfe
			select mdpId from #MedioEfectivo1
			except 
			select mdpId from dbo.MedioEfectivo

			insert dbo.MedioEfectivo (mdpId, mefEfectivo, mefSitioPago, mefSedeCajaCompensacion,ultimaFechaModificacion)
			output inserted.mdpId, inserted.mefEfectivo, inserted.mefSitioPago, inserted.mefSedeCajaCompensacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.MedioEfectivo_log
			select mdpId, mefEfectivo, mefSitioPago, mefSedeCajaCompensacion, ultimaFechaModificacion
			from #MedioEfectivo1
			where mdpId in (select mdpId from #mdpIdsEfe)
				and actId = 1

			delete from dbo.MedioEfectivo
			output deleted.mdpId, deleted.mefEfectivo, deleted.mefSitioPago, deleted.mefSedeCajaCompensacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.MedioEfectivo_log
			where mdpId in (select mdpId from #MedioEfectivo1 where operacion = 1 and actId = 1)