	CREATE or alter procedure [dbo].[OP_Ubicacion_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla Ubicacion

	
			declare @Ubicacion1 table (ubiId bigint   not null,ubiAutorizacionEnvioEmail bit   null,ubiCodigoPostal varchar(10)   null,ubiDireccionFisica varchar(300)   null,ubiEmail varchar(255)   null,ubiIndicativoTelFijo varchar(3)   null,ubiTelefonoCelular varchar(10)   null,ubiTelefonoFijo varchar(10)   null,ubiMunicipio smallint   null,ubiDescripcionIndicacion varchar(100)   null,ubiSectorUbicacion varchar(10)   null,ubiEmailSecundario varchar(100)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ubiId, ubiAutorizacionEnvioEmail, ubiCodigoPostal, ubiDireccionFisica, ubiEmail, ubiIndicativoTelFijo, ubiTelefonoCelular, ubiTelefonoFijo, ubiMunicipio, ubiDescripcionIndicacion, ubiSectorUbicacion, ubiEmailSecundario, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Ubicacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Ubicacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Ubicacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ubiId) then 1 else null end as act
				,row_number() over (partition by ubiId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Ubicacion1)
			select *
			into #Ubicacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ubi set ubi.ubiAutorizacionEnvioEmail = a.ubiAutorizacionEnvioEmail, ubi.ubiCodigoPostal = a.ubiCodigoPostal, ubi.ubiDireccionFisica = a.ubiDireccionFisica, ubi.ubiEmail = a.ubiEmail, ubi.ubiIndicativoTelFijo = a.ubiIndicativoTelFijo, ubi.ubiTelefonoCelular = a.ubiTelefonoCelular, ubi.ubiTelefonoFijo = a.ubiTelefonoFijo, ubi.ubiMunicipio = a.ubiMunicipio, ubi.ubiDescripcionIndicacion = a.ubiDescripcionIndicacion, ubi.ubiSectorUbicacion = a.ubiSectorUbicacion, ubi.ubiEmailSecundario = a.ubiEmailSecundario, ubi.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ubiId, inserted.ubiAutorizacionEnvioEmail, inserted.ubiCodigoPostal, inserted.ubiDireccionFisica, inserted.ubiEmail, inserted.ubiIndicativoTelFijo, inserted.ubiTelefonoCelular, inserted.ubiTelefonoFijo, inserted.ubiMunicipio, inserted.ubiDescripcionIndicacion, inserted.ubiSectorUbicacion, inserted.ubiEmailSecundario, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Ubicacion_log
			from #Ubicacion1 as a
				inner join dbo.Ubicacion as ubi on a.ubiId = ubi.ubiId
			where (a.ultimaFechaModificacion > ubi.ultimaFechaModificacion or ubi.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Ubicacion1)



			drop table if exists #ubiIds
			create table #ubiIds (ubiId bigInt)
			insert #ubiIds
			select ubiId from #Ubicacion1
			except 
			select ubiId from dbo.Ubicacion

			insert dbo.Ubicacion (ubiId, ubiAutorizacionEnvioEmail, ubiCodigoPostal, ubiDireccionFisica, ubiEmail, ubiIndicativoTelFijo, ubiTelefonoCelular, ubiTelefonoFijo, ubiMunicipio, ubiDescripcionIndicacion, ubiSectorUbicacion, ubiEmailSecundario,ultimaFechaModificacion)
			output inserted.ubiId, inserted.ubiAutorizacionEnvioEmail, inserted.ubiCodigoPostal, inserted.ubiDireccionFisica, inserted.ubiEmail, inserted.ubiIndicativoTelFijo, inserted.ubiTelefonoCelular, inserted.ubiTelefonoFijo, inserted.ubiMunicipio, inserted.ubiDescripcionIndicacion, inserted.ubiSectorUbicacion, inserted.ubiEmailSecundario
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Ubicacion_log
			select ubiId, ubiAutorizacionEnvioEmail, ubiCodigoPostal, ubiDireccionFisica, ubiEmail, ubiIndicativoTelFijo, ubiTelefonoCelular, ubiTelefonoFijo, ubiMunicipio, ubiDescripcionIndicacion, ubiSectorUbicacion, ubiEmailSecundario, ultimaFechaModificacion
			from #Ubicacion1
			where ubiId in (select ubiId from #ubiIds)
				and actid = 1

			delete from dbo.Ubicacion
			output deleted.ubiId, deleted.ubiAutorizacionEnvioEmail, deleted.ubiCodigoPostal, deleted.ubiDireccionFisica, deleted.ubiEmail, deleted.ubiIndicativoTelFijo, deleted.ubiTelefonoCelular, deleted.ubiTelefonoFijo, deleted.ubiMunicipio, deleted.ubiDescripcionIndicacion, deleted.ubiSectorUbicacion, deleted.ubiEmailSecundario
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Ubicacion_log
			where ubiId in (select ubiId from #Ubicacion1 where operacion = 1 and actId = 1)