	CREATE or alter procedure [dbo].[OP_CuentaAdministradorSubsidio_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla CuentaAdministradorSubsidio

	
			declare @CuentaAdministradorSubsidio1 table (casId bigint   not null,casFechaHoraCreacionRegistro datetime   not null,casUsuarioCreacionRegistro varchar(200)   not null,casTipoTransaccionSubsidio varchar(40)   not null,casEstadoTransaccionSubsidio varchar(25)   null,casEstadoLiquidacionSubsidio varchar(25)   null,casOrigenTransaccion varchar(30)   not null,casMedioDePagoTransaccion varchar(13)   not null,casNumeroTarjetaAdmonSubsidio varchar(50)   null,casCodigoBanco varchar(7)   null,casNombreBanco varchar(255)   null,casTipoCuentaAdmonSubsidio varchar(30)   null,casNumeroCuentaAdmonSubsidio varchar(30)   null,casTipoIdentificacionTitularCuentaAdmonSubsidio varchar(20)   null,casNumeroIdentificacionTitularCuentaAdmonSubsidio varchar(20)   null,casNombreTitularCuentaAdmonSubsidio varchar(200)   null,casFechaHoraTransaccion datetime   not null,casUsuarioTransaccion varchar(200)   not null,casValorOriginalTransaccion numeric (19,  5) not null,casValorRealTransaccion numeric (19,  5) not null,casIdTransaccionOriginal bigint   null,casIdRemisionDatosTerceroPagador varchar(200)   null,casIdTransaccionTerceroPagador varchar(200)   null,casNombreTerceroPagado varchar(200)   null,casIdCuentaAdmonSubsidioRelacionado bigint   null,casFechaHoraUltimaModificacion datetime   null,casUsuarioUltimaModificacion varchar(200)   null,casAdministradorSubsidio bigint   not null,casSitioDePago bigint   null,casSitioDeCobro bigint   null,casMedioDePago bigint   not null,casSolicitudLiquidacionSubsidio bigint   null,casCondicionPersonaAdmin bigint   null,casEmpleador bigint   null,casAfiliadoPrincipal bigint   null,casBeneficiarioDetalle bigint   null,casGrupoFamiliar bigint   null,casIdCuentaOriginal bigint   null,casIdPuntoDeCobro varchar(200)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select casId, casFechaHoraCreacionRegistro, casUsuarioCreacionRegistro, casTipoTransaccionSubsidio, casEstadoTransaccionSubsidio, casEstadoLiquidacionSubsidio, casOrigenTransaccion, casMedioDePagoTransaccion, casNumeroTarjetaAdmonSubsidio, casCodigoBanco, casNombreBanco, casTipoCuentaAdmonSubsidio, casNumeroCuentaAdmonSubsidio, casTipoIdentificacionTitularCuentaAdmonSubsidio, casNumeroIdentificacionTitularCuentaAdmonSubsidio, casNombreTitularCuentaAdmonSubsidio, casFechaHoraTransaccion, casUsuarioTransaccion, casValorOriginalTransaccion, casValorRealTransaccion, casIdTransaccionOriginal, casIdRemisionDatosTerceroPagador, casIdTransaccionTerceroPagador, casNombreTerceroPagado, casIdCuentaAdmonSubsidioRelacionado, casFechaHoraUltimaModificacion, casUsuarioUltimaModificacion, casAdministradorSubsidio, casSitioDePago, casSitioDeCobro, casMedioDePago, casSolicitudLiquidacionSubsidio, casCondicionPersonaAdmin, casEmpleador, casAfiliadoPrincipal, casBeneficiarioDetalle, casGrupoFamiliar, casIdCuentaOriginal, casIdPuntoDeCobro, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CuentaAdministradorSubsidio_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CuentaAdministradorSubsidio1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CuentaAdministradorSubsidio1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by casId) then 1 else null end as act
				,row_number() over (partition by casId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CuentaAdministradorSubsidio1)
			select *
			into #CuentaAdministradorSubsidio1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cas set cas.casFechaHoraCreacionRegistro = a.casFechaHoraCreacionRegistro, cas.casUsuarioCreacionRegistro = a.casUsuarioCreacionRegistro, cas.casTipoTransaccionSubsidio = a.casTipoTransaccionSubsidio, cas.casEstadoTransaccionSubsidio = a.casEstadoTransaccionSubsidio, cas.casEstadoLiquidacionSubsidio = a.casEstadoLiquidacionSubsidio, cas.casOrigenTransaccion = a.casOrigenTransaccion, cas.casMedioDePagoTransaccion = a.casMedioDePagoTransaccion, cas.casNumeroTarjetaAdmonSubsidio = a.casNumeroTarjetaAdmonSubsidio, cas.casCodigoBanco = a.casCodigoBanco, cas.casNombreBanco = a.casNombreBanco, cas.casTipoCuentaAdmonSubsidio = a.casTipoCuentaAdmonSubsidio, cas.casNumeroCuentaAdmonSubsidio = a.casNumeroCuentaAdmonSubsidio, cas.casTipoIdentificacionTitularCuentaAdmonSubsidio = a.casTipoIdentificacionTitularCuentaAdmonSubsidio, cas.casNumeroIdentificacionTitularCuentaAdmonSubsidio = a.casNumeroIdentificacionTitularCuentaAdmonSubsidio, cas.casNombreTitularCuentaAdmonSubsidio = a.casNombreTitularCuentaAdmonSubsidio, cas.casFechaHoraTransaccion = a.casFechaHoraTransaccion, cas.casUsuarioTransaccion = a.casUsuarioTransaccion, cas.casValorOriginalTransaccion = a.casValorOriginalTransaccion, cas.casValorRealTransaccion = a.casValorRealTransaccion, cas.casIdTransaccionOriginal = a.casIdTransaccionOriginal, cas.casIdRemisionDatosTerceroPagador = a.casIdRemisionDatosTerceroPagador, cas.casIdTransaccionTerceroPagador = a.casIdTransaccionTerceroPagador, cas.casNombreTerceroPagado = a.casNombreTerceroPagado, cas.casIdCuentaAdmonSubsidioRelacionado = a.casIdCuentaAdmonSubsidioRelacionado, cas.casFechaHoraUltimaModificacion = a.casFechaHoraUltimaModificacion, cas.casUsuarioUltimaModificacion = a.casUsuarioUltimaModificacion, cas.casAdministradorSubsidio = a.casAdministradorSubsidio, cas.casSitioDePago = a.casSitioDePago, cas.casSitioDeCobro = a.casSitioDeCobro, cas.casMedioDePago = a.casMedioDePago, cas.casSolicitudLiquidacionSubsidio = a.casSolicitudLiquidacionSubsidio, cas.casCondicionPersonaAdmin = a.casCondicionPersonaAdmin, cas.casEmpleador = a.casEmpleador, cas.casAfiliadoPrincipal = a.casAfiliadoPrincipal, cas.casBeneficiarioDetalle = a.casBeneficiarioDetalle, cas.casGrupoFamiliar = a.casGrupoFamiliar, cas.casIdCuentaOriginal = a.casIdCuentaOriginal, cas.casIdPuntoDeCobro = a.casIdPuntoDeCobro, cas.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.casId, inserted.casFechaHoraCreacionRegistro, inserted.casUsuarioCreacionRegistro, inserted.casTipoTransaccionSubsidio, inserted.casEstadoTransaccionSubsidio, inserted.casEstadoLiquidacionSubsidio, inserted.casOrigenTransaccion, inserted.casMedioDePagoTransaccion, inserted.casNumeroTarjetaAdmonSubsidio, inserted.casCodigoBanco, inserted.casNombreBanco, inserted.casTipoCuentaAdmonSubsidio, inserted.casNumeroCuentaAdmonSubsidio, inserted.casTipoIdentificacionTitularCuentaAdmonSubsidio, inserted.casNumeroIdentificacionTitularCuentaAdmonSubsidio, inserted.casNombreTitularCuentaAdmonSubsidio, inserted.casFechaHoraTransaccion, inserted.casUsuarioTransaccion, inserted.casValorOriginalTransaccion, inserted.casValorRealTransaccion, inserted.casIdTransaccionOriginal, inserted.casIdRemisionDatosTerceroPagador, inserted.casIdTransaccionTerceroPagador, inserted.casNombreTerceroPagado, inserted.casIdCuentaAdmonSubsidioRelacionado, inserted.casFechaHoraUltimaModificacion, inserted.casUsuarioUltimaModificacion, inserted.casAdministradorSubsidio, inserted.casSitioDePago, inserted.casSitioDeCobro, inserted.casMedioDePago, inserted.casSolicitudLiquidacionSubsidio, inserted.casCondicionPersonaAdmin, inserted.casEmpleador, inserted.casAfiliadoPrincipal, inserted.casBeneficiarioDetalle, inserted.casGrupoFamiliar, inserted.casIdCuentaOriginal, inserted.casIdPuntoDeCobro, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CuentaAdministradorSubsidio_log
			from #CuentaAdministradorSubsidio1 as a
				inner join dbo.CuentaAdministradorSubsidio as cas on a.casId = cas.casId
			where (a.ultimaFechaModificacion > cas.ultimaFechaModificacion or cas.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CuentaAdministradorSubsidio1)



			drop table if exists #casIds
			create table #casIds (casId bigInt)
			insert #casIds
			select casId from #CuentaAdministradorSubsidio1
			except 
			select casId from dbo.CuentaAdministradorSubsidio

			insert dbo.CuentaAdministradorSubsidio (casId, casFechaHoraCreacionRegistro, casUsuarioCreacionRegistro, casTipoTransaccionSubsidio, casEstadoTransaccionSubsidio, casEstadoLiquidacionSubsidio, casOrigenTransaccion, casMedioDePagoTransaccion, casNumeroTarjetaAdmonSubsidio, casCodigoBanco, casNombreBanco, casTipoCuentaAdmonSubsidio, casNumeroCuentaAdmonSubsidio, casTipoIdentificacionTitularCuentaAdmonSubsidio, casNumeroIdentificacionTitularCuentaAdmonSubsidio, casNombreTitularCuentaAdmonSubsidio, casFechaHoraTransaccion, casUsuarioTransaccion, casValorOriginalTransaccion, casValorRealTransaccion, casIdTransaccionOriginal, casIdRemisionDatosTerceroPagador, casIdTransaccionTerceroPagador, casNombreTerceroPagado, casIdCuentaAdmonSubsidioRelacionado, casFechaHoraUltimaModificacion, casUsuarioUltimaModificacion, casAdministradorSubsidio, casSitioDePago, casSitioDeCobro, casMedioDePago, casSolicitudLiquidacionSubsidio, casCondicionPersonaAdmin, casEmpleador, casAfiliadoPrincipal, casBeneficiarioDetalle, casGrupoFamiliar, casIdCuentaOriginal, casIdPuntoDeCobro,ultimaFechaModificacion)
			output inserted.casId, inserted.casFechaHoraCreacionRegistro, inserted.casUsuarioCreacionRegistro, inserted.casTipoTransaccionSubsidio, inserted.casEstadoTransaccionSubsidio, inserted.casEstadoLiquidacionSubsidio, inserted.casOrigenTransaccion, inserted.casMedioDePagoTransaccion, inserted.casNumeroTarjetaAdmonSubsidio, inserted.casCodigoBanco, inserted.casNombreBanco, inserted.casTipoCuentaAdmonSubsidio, inserted.casNumeroCuentaAdmonSubsidio, inserted.casTipoIdentificacionTitularCuentaAdmonSubsidio, inserted.casNumeroIdentificacionTitularCuentaAdmonSubsidio, inserted.casNombreTitularCuentaAdmonSubsidio, inserted.casFechaHoraTransaccion, inserted.casUsuarioTransaccion, inserted.casValorOriginalTransaccion, inserted.casValorRealTransaccion, inserted.casIdTransaccionOriginal, inserted.casIdRemisionDatosTerceroPagador, inserted.casIdTransaccionTerceroPagador, inserted.casNombreTerceroPagado, inserted.casIdCuentaAdmonSubsidioRelacionado, inserted.casFechaHoraUltimaModificacion, inserted.casUsuarioUltimaModificacion, inserted.casAdministradorSubsidio, inserted.casSitioDePago, inserted.casSitioDeCobro, inserted.casMedioDePago, inserted.casSolicitudLiquidacionSubsidio, inserted.casCondicionPersonaAdmin, inserted.casEmpleador, inserted.casAfiliadoPrincipal, inserted.casBeneficiarioDetalle, inserted.casGrupoFamiliar, inserted.casIdCuentaOriginal, inserted.casIdPuntoDeCobro
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CuentaAdministradorSubsidio_log
			select casId, casFechaHoraCreacionRegistro, casUsuarioCreacionRegistro, casTipoTransaccionSubsidio, casEstadoTransaccionSubsidio, casEstadoLiquidacionSubsidio, casOrigenTransaccion, casMedioDePagoTransaccion, casNumeroTarjetaAdmonSubsidio, casCodigoBanco, casNombreBanco, casTipoCuentaAdmonSubsidio, casNumeroCuentaAdmonSubsidio, casTipoIdentificacionTitularCuentaAdmonSubsidio, casNumeroIdentificacionTitularCuentaAdmonSubsidio, casNombreTitularCuentaAdmonSubsidio, casFechaHoraTransaccion, casUsuarioTransaccion, casValorOriginalTransaccion, casValorRealTransaccion, casIdTransaccionOriginal, casIdRemisionDatosTerceroPagador, casIdTransaccionTerceroPagador, casNombreTerceroPagado, casIdCuentaAdmonSubsidioRelacionado, casFechaHoraUltimaModificacion, casUsuarioUltimaModificacion, casAdministradorSubsidio, casSitioDePago, casSitioDeCobro, casMedioDePago, casSolicitudLiquidacionSubsidio, casCondicionPersonaAdmin, casEmpleador, casAfiliadoPrincipal, casBeneficiarioDetalle, casGrupoFamiliar, casIdCuentaOriginal, casIdPuntoDeCobro, ultimaFechaModificacion
			from #CuentaAdministradorSubsidio1
			where casId in (select casId from #casIds)
				and actid = 1

			delete from dbo.CuentaAdministradorSubsidio
			output deleted.casId, deleted.casFechaHoraCreacionRegistro, deleted.casUsuarioCreacionRegistro, deleted.casTipoTransaccionSubsidio, deleted.casEstadoTransaccionSubsidio, deleted.casEstadoLiquidacionSubsidio, deleted.casOrigenTransaccion, deleted.casMedioDePagoTransaccion, deleted.casNumeroTarjetaAdmonSubsidio, deleted.casCodigoBanco, deleted.casNombreBanco, deleted.casTipoCuentaAdmonSubsidio, deleted.casNumeroCuentaAdmonSubsidio, deleted.casTipoIdentificacionTitularCuentaAdmonSubsidio, deleted.casNumeroIdentificacionTitularCuentaAdmonSubsidio, deleted.casNombreTitularCuentaAdmonSubsidio, deleted.casFechaHoraTransaccion, deleted.casUsuarioTransaccion, deleted.casValorOriginalTransaccion, deleted.casValorRealTransaccion, deleted.casIdTransaccionOriginal, deleted.casIdRemisionDatosTerceroPagador, deleted.casIdTransaccionTerceroPagador, deleted.casNombreTerceroPagado, deleted.casIdCuentaAdmonSubsidioRelacionado, deleted.casFechaHoraUltimaModificacion, deleted.casUsuarioUltimaModificacion, deleted.casAdministradorSubsidio, deleted.casSitioDePago, deleted.casSitioDeCobro, deleted.casMedioDePago, deleted.casSolicitudLiquidacionSubsidio, deleted.casCondicionPersonaAdmin, deleted.casEmpleador, deleted.casAfiliadoPrincipal, deleted.casBeneficiarioDetalle, deleted.casGrupoFamiliar, deleted.casIdCuentaOriginal, deleted.casIdPuntoDeCobro
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CuentaAdministradorSubsidio_log
			where casId in (select casId from #CuentaAdministradorSubsidio1 where operacion = 1 and actId = 1)