CREATE OR ALTER procedure [dbo].[OP_registroDetallado_Rendimiento] 
	as


	set nocount on;

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-8, current_timestamp), 121)
	--select @fechaAtras
	declare @query nvarchar(max)

	

		--Inicio Merge tabla registroDetallado

	
			declare @registroDetallado1 table (redId bigint not null index IXId clustered,redRegistroGeneral bigint   not null,redTipoIdentificacionCotizante varchar(20)   not null,redNumeroIdentificacionCotizante varchar(16)   null,redTipoCotizante smallint   null,redCodDepartamento varchar(2)   null,redCodMunicipio varchar(6)   null,redPrimerApellido varchar(50)   null,redSegundoApellido varchar(50)   null,redPrimerNombre varchar(50)   null,redSegundoNombre varchar(50)   null,redNovIngreso varchar(1)   null,redNovRetiro varchar(1)   null,redNovVSP varchar(1)   null,redNovVST varchar(1)   null,redNovSLN varchar(1)   null,redNovIGE varchar(1)   null,redNovLMA varchar(1)   null,redNovVACLR varchar(1)   null,redNovSUS varchar(1)   null,redDiasIRL varchar(2)   null,redDiasCotizados smallint   null,redSalarioBasico numeric (19,  5) null,redValorIBC numeric (19,  5) null,redTarifa numeric (19,  5) null,redAporteObligatorio numeric (19,  5) null,redCorrecciones varchar(1)   null,redSalarioIntegral varchar(1)   null,redFechaIngreso date   null,redFechaRetiro date   null,redFechaInicioVSP date   null,redFechaInicioSLN date   null,redFechaFinSLN date   null,redFechaInicioIGE date   null,redFechaFinIGE date   null,redFechaInicioLMA date   null,redFechaFinLMA date   null,redFechaInicioVACLR date   null,redFechaFinVACLR date   null,redFechaInicioVCT date   null,redFechaFinVCT date   null,redFechaInicioIRL date   null,redFechaFinIRL date   null,redFechaInicioSuspension date   null,redFechaFinSuspension date   null,redHorasLaboradas smallint   null,redRegistroControl bigint   null,redOUTMarcaValRegistroAporte varchar(50)   null,redOUTEstadoRegistroAporte varchar(60)   null,redOUTAnalisisIntegral bit   null,redOUTFechaProcesamientoValidRegAporte datetime   null,redOUTEstadoValidacionV0 varchar(30)   null,redOUTEstadoValidacionV1 varchar(30)   null,redOUTEstadoValidacionV2 varchar(30)   null,redOUTEstadoValidacionV3 varchar(30)   null,redOUTClaseTrabajador varchar(50)   null,redOUTPorcentajePagoAportes numeric (5,  5) null,redOUTEstadoSolicitante varchar(50)   null,redOUTEsTrabajadorReintegrable bit   null,redOUTFechaIngresoCotizante date   null,redOUTFechaUltimaNovedad date   null,redOUTFechaFallecimiento date   null,redUsuarioAprobadorAporte varchar(50)   not null,redNumeroOperacionAprobacion varchar(12)   null,redEstadoEvaluacion varchar(22)   not null,redEstadoRegistroCorreccion varchar(40)   null,redOUTCodSucursal varchar(10)   null,redOUTNomSucursal varchar(100)   null,redOUTDiasCotizadosPlanillas smallint   null,redOUTDiasCotizadosBD smallint   null,redOUTDiasCotizadosNovedades smallint   null,redOUTTipoAfiliado varchar(50)   null,redOUTRegistrado bit   null,redOUTValorMoraCotizante numeric (19,  5) null,redOUTAporteObligatorioMod numeric (19,  5) null,redOUTDiasCotizadosMod smallint   null,redOUTRegistradoAporte bit   null,redOUTRegistradoNovedad bit   null,redOUTTipoNovedadSituacionPrimaria varchar(15)   null,redOUTFechaInicioNovedadSituacionPrimaria date   null,redOUTFechaFinNovedadSituacionPrimaria date   null,redOUTRegDetOriginal bigint   null,redOUTEstadoRegistroRelacionAporte varchar(50)   null,redOUTEstadoEvaluacionAporte varchar(22)   null,redOUTFechaRetiroCotizante date   null,redOUTValorIBCMod numeric (19,  5) null,redOUTValorMoraCotizanteMod numeric (19,  5) null,redFechaInicioVST date   null,redFechaFinVST date   null,redOUTDiasCotizadosNovedadesBD smallint   null,redOUTGrupoFamiliarReintegrable bit   null,redIdRegistro2pila bigint   null,redOUTEnviadoAFiscalizacionInd bit   null,redOUTMotivoFiscalizacionInd varchar(30)   null,redOUTRegistroActual bit   null,redOUTRegInicial bigint   null,redOUTGrupoAC int   null,redOUTTarifaMod numeric (5,  5) null,redDateTimeInsert datetime   null,redDateTimeUpdate datetime   null,redOUTPeriodicidad varchar(11)   null,redUsuarioAccion varchar(100)   null,redFechaAccion datetime   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select redId, redRegistroGeneral, redTipoIdentificacionCotizante, redNumeroIdentificacionCotizante, redTipoCotizante, redCodDepartamento, redCodMunicipio, redPrimerApellido, redSegundoApellido, redPrimerNombre, redSegundoNombre, redNovIngreso, redNovRetiro, redNovVSP, redNovVST, redNovSLN, redNovIGE, redNovLMA, redNovVACLR, redNovSUS, redDiasIRL, redDiasCotizados, redSalarioBasico, redValorIBC, redTarifa, redAporteObligatorio, redCorrecciones, redSalarioIntegral, redFechaIngreso, redFechaRetiro, redFechaInicioVSP, redFechaInicioSLN, redFechaFinSLN, redFechaInicioIGE, redFechaFinIGE, redFechaInicioLMA, redFechaFinLMA, redFechaInicioVACLR, redFechaFinVACLR, redFechaInicioVCT, redFechaFinVCT, redFechaInicioIRL, redFechaFinIRL, redFechaInicioSuspension, redFechaFinSuspension, redHorasLaboradas, redRegistroControl, redOUTMarcaValRegistroAporte, redOUTEstadoRegistroAporte, redOUTAnalisisIntegral, redOUTFechaProcesamientoValidRegAporte, redOUTEstadoValidacionV0, redOUTEstadoValidacionV1, redOUTEstadoValidacionV2, redOUTEstadoValidacionV3, redOUTClaseTrabajador, redOUTPorcentajePagoAportes, redOUTEstadoSolicitante, redOUTEsTrabajadorReintegrable, redOUTFechaIngresoCotizante, redOUTFechaUltimaNovedad, redOUTFechaFallecimiento, redUsuarioAprobadorAporte, redNumeroOperacionAprobacion, redEstadoEvaluacion, redEstadoRegistroCorreccion, redOUTCodSucursal, redOUTNomSucursal, redOUTDiasCotizadosPlanillas, redOUTDiasCotizadosBD, redOUTDiasCotizadosNovedades, redOUTTipoAfiliado, redOUTRegistrado, redOUTValorMoraCotizante, redOUTAporteObligatorioMod, redOUTDiasCotizadosMod, redOUTRegistradoAporte, redOUTRegistradoNovedad, redOUTTipoNovedadSituacionPrimaria, redOUTFechaInicioNovedadSituacionPrimaria, redOUTFechaFinNovedadSituacionPrimaria, redOUTRegDetOriginal, redOUTEstadoRegistroRelacionAporte, redOUTEstadoEvaluacionAporte, redOUTFechaRetiroCotizante, redOUTValorIBCMod, redOUTValorMoraCotizanteMod, redFechaInicioVST, redFechaFinVST, redOUTDiasCotizadosNovedadesBD, redOUTGrupoFamiliarReintegrable, redIdRegistro2pila, redOUTEnviadoAFiscalizacionInd, redOUTMotivoFiscalizacionInd, redOUTRegistroActual, redOUTRegInicial, redOUTGrupoAC, redOUTTarifaMod, redDateTimeInsert, redDateTimeUpdate, redOUTPeriodicidad, redUsuarioAccion, redFechaAccion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.staging_registroDetallado_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @registroDetallado1
			execute sp_execute_remote PilaReferenceData, @query
	
			drop table if exists #registroDetallado1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by redId) then 1 else null end as act
				,row_number() over (partition by redId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, secuencia desc, comando desc ) as actId
				from @registroDetallado1)
			select *
			into #registroDetallado1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			create clustered index IX on #registroDetallado1 (redId)
			create nonclustered index IXC_ on #registroDetallado1 (operacion,actId)


			update red set red.redRegistroGeneral = a.redRegistroGeneral, red.redTipoIdentificacionCotizante = a.redTipoIdentificacionCotizante, red.redNumeroIdentificacionCotizante = a.redNumeroIdentificacionCotizante, red.redTipoCotizante = a.redTipoCotizante, red.redCodDepartamento = a.redCodDepartamento, red.redCodMunicipio = a.redCodMunicipio, red.redPrimerApellido = a.redPrimerApellido, red.redSegundoApellido = a.redSegundoApellido, red.redPrimerNombre = a.redPrimerNombre, red.redSegundoNombre = a.redSegundoNombre, red.redNovIngreso = a.redNovIngreso, red.redNovRetiro = a.redNovRetiro, red.redNovVSP = a.redNovVSP, red.redNovVST = a.redNovVST, red.redNovSLN = a.redNovSLN, red.redNovIGE = a.redNovIGE, red.redNovLMA = a.redNovLMA, red.redNovVACLR = a.redNovVACLR, red.redNovSUS = a.redNovSUS, red.redDiasIRL = a.redDiasIRL, red.redDiasCotizados = a.redDiasCotizados, red.redSalarioBasico = a.redSalarioBasico, red.redValorIBC = a.redValorIBC, red.redTarifa = a.redTarifa, red.redAporteObligatorio = a.redAporteObligatorio, red.redCorrecciones = a.redCorrecciones, red.redSalarioIntegral = a.redSalarioIntegral, red.redFechaIngreso = a.redFechaIngreso, red.redFechaRetiro = a.redFechaRetiro, red.redFechaInicioVSP = a.redFechaInicioVSP, red.redFechaInicioSLN = a.redFechaInicioSLN, red.redFechaFinSLN = a.redFechaFinSLN, red.redFechaInicioIGE = a.redFechaInicioIGE, red.redFechaFinIGE = a.redFechaFinIGE, red.redFechaInicioLMA = a.redFechaInicioLMA, red.redFechaFinLMA = a.redFechaFinLMA, red.redFechaInicioVACLR = a.redFechaInicioVACLR, red.redFechaFinVACLR = a.redFechaFinVACLR, red.redFechaInicioVCT = a.redFechaInicioVCT, red.redFechaFinVCT = a.redFechaFinVCT, red.redFechaInicioIRL = a.redFechaInicioIRL, red.redFechaFinIRL = a.redFechaFinIRL, red.redFechaInicioSuspension = a.redFechaInicioSuspension, red.redFechaFinSuspension = a.redFechaFinSuspension, red.redHorasLaboradas = a.redHorasLaboradas, red.redRegistroControl = a.redRegistroControl, red.redOUTMarcaValRegistroAporte = a.redOUTMarcaValRegistroAporte, red.redOUTEstadoRegistroAporte = a.redOUTEstadoRegistroAporte, red.redOUTAnalisisIntegral = a.redOUTAnalisisIntegral, red.redOUTFechaProcesamientoValidRegAporte = a.redOUTFechaProcesamientoValidRegAporte, red.redOUTEstadoValidacionV0 = a.redOUTEstadoValidacionV0, red.redOUTEstadoValidacionV1 = a.redOUTEstadoValidacionV1, red.redOUTEstadoValidacionV2 = a.redOUTEstadoValidacionV2, red.redOUTEstadoValidacionV3 = a.redOUTEstadoValidacionV3, red.redOUTClaseTrabajador = a.redOUTClaseTrabajador, red.redOUTPorcentajePagoAportes = a.redOUTPorcentajePagoAportes, red.redOUTEstadoSolicitante = a.redOUTEstadoSolicitante, red.redOUTEsTrabajadorReintegrable = a.redOUTEsTrabajadorReintegrable, red.redOUTFechaIngresoCotizante = a.redOUTFechaIngresoCotizante, red.redOUTFechaUltimaNovedad = a.redOUTFechaUltimaNovedad, red.redOUTFechaFallecimiento = a.redOUTFechaFallecimiento, red.redUsuarioAprobadorAporte = a.redUsuarioAprobadorAporte, red.redNumeroOperacionAprobacion = a.redNumeroOperacionAprobacion, red.redEstadoEvaluacion = a.redEstadoEvaluacion, red.redEstadoRegistroCorreccion = a.redEstadoRegistroCorreccion, red.redOUTCodSucursal = a.redOUTCodSucursal, red.redOUTNomSucursal = a.redOUTNomSucursal, red.redOUTDiasCotizadosPlanillas = a.redOUTDiasCotizadosPlanillas, red.redOUTDiasCotizadosBD = a.redOUTDiasCotizadosBD, red.redOUTDiasCotizadosNovedades = a.redOUTDiasCotizadosNovedades, red.redOUTTipoAfiliado = a.redOUTTipoAfiliado, red.redOUTRegistrado = a.redOUTRegistrado, red.redOUTValorMoraCotizante = a.redOUTValorMoraCotizante, red.redOUTAporteObligatorioMod = a.redOUTAporteObligatorioMod, red.redOUTDiasCotizadosMod = a.redOUTDiasCotizadosMod, red.redOUTRegistradoAporte = a.redOUTRegistradoAporte, red.redOUTRegistradoNovedad = a.redOUTRegistradoNovedad, red.redOUTTipoNovedadSituacionPrimaria = a.redOUTTipoNovedadSituacionPrimaria, red.redOUTFechaInicioNovedadSituacionPrimaria = a.redOUTFechaInicioNovedadSituacionPrimaria, red.redOUTFechaFinNovedadSituacionPrimaria = a.redOUTFechaFinNovedadSituacionPrimaria, red.redOUTRegDetOriginal = a.redOUTRegDetOriginal, red.redOUTEstadoRegistroRelacionAporte = a.redOUTEstadoRegistroRelacionAporte, red.redOUTEstadoEvaluacionAporte = a.redOUTEstadoEvaluacionAporte, red.redOUTFechaRetiroCotizante = a.redOUTFechaRetiroCotizante, red.redOUTValorIBCMod = a.redOUTValorIBCMod, red.redOUTValorMoraCotizanteMod = a.redOUTValorMoraCotizanteMod, red.redFechaInicioVST = a.redFechaInicioVST, red.redFechaFinVST = a.redFechaFinVST, red.redOUTDiasCotizadosNovedadesBD = a.redOUTDiasCotizadosNovedadesBD, red.redOUTGrupoFamiliarReintegrable = a.redOUTGrupoFamiliarReintegrable, red.redIdRegistro2pila = a.redIdRegistro2pila, red.redOUTEnviadoAFiscalizacionInd = a.redOUTEnviadoAFiscalizacionInd, red.redOUTMotivoFiscalizacionInd = a.redOUTMotivoFiscalizacionInd, red.redOUTRegistroActual = a.redOUTRegistroActual, red.redOUTRegInicial = a.redOUTRegInicial, red.redOUTGrupoAC = a.redOUTGrupoAC, red.redOUTTarifaMod = a.redOUTTarifaMod, red.redDateTimeInsert = a.redDateTimeInsert, red.redDateTimeUpdate = a.redDateTimeUpdate, red.redOUTPeriodicidad = a.redOUTPeriodicidad, red.redUsuarioAccion = a.redUsuarioAccion, red.redFechaAccion = a.redFechaAccion, red.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.redId, inserted.redRegistroGeneral, inserted.redTipoIdentificacionCotizante, inserted.redNumeroIdentificacionCotizante, inserted.redTipoCotizante, inserted.redCodDepartamento, inserted.redCodMunicipio, inserted.redPrimerApellido, inserted.redSegundoApellido, inserted.redPrimerNombre, inserted.redSegundoNombre, inserted.redNovIngreso, inserted.redNovRetiro, inserted.redNovVSP, inserted.redNovVST, inserted.redNovSLN, inserted.redNovIGE, inserted.redNovLMA, inserted.redNovVACLR, inserted.redNovSUS, inserted.redDiasIRL, inserted.redDiasCotizados, inserted.redSalarioBasico, inserted.redValorIBC, inserted.redTarifa, inserted.redAporteObligatorio, inserted.redCorrecciones, inserted.redSalarioIntegral, inserted.redFechaIngreso, inserted.redFechaRetiro, inserted.redFechaInicioVSP, inserted.redFechaInicioSLN, inserted.redFechaFinSLN, inserted.redFechaInicioIGE, inserted.redFechaFinIGE, inserted.redFechaInicioLMA, inserted.redFechaFinLMA, inserted.redFechaInicioVACLR, inserted.redFechaFinVACLR, inserted.redFechaInicioVCT, inserted.redFechaFinVCT, inserted.redFechaInicioIRL, inserted.redFechaFinIRL, inserted.redFechaInicioSuspension, inserted.redFechaFinSuspension, inserted.redHorasLaboradas, inserted.redRegistroControl, inserted.redOUTMarcaValRegistroAporte, inserted.redOUTEstadoRegistroAporte, inserted.redOUTAnalisisIntegral, inserted.redOUTFechaProcesamientoValidRegAporte, inserted.redOUTEstadoValidacionV0, inserted.redOUTEstadoValidacionV1, inserted.redOUTEstadoValidacionV2, inserted.redOUTEstadoValidacionV3, inserted.redOUTClaseTrabajador, inserted.redOUTPorcentajePagoAportes, inserted.redOUTEstadoSolicitante, inserted.redOUTEsTrabajadorReintegrable, inserted.redOUTFechaIngresoCotizante, inserted.redOUTFechaUltimaNovedad, inserted.redOUTFechaFallecimiento, inserted.redUsuarioAprobadorAporte, inserted.redNumeroOperacionAprobacion, inserted.redEstadoEvaluacion, inserted.redEstadoRegistroCorreccion, inserted.redOUTCodSucursal, inserted.redOUTNomSucursal, inserted.redOUTDiasCotizadosPlanillas, inserted.redOUTDiasCotizadosBD, inserted.redOUTDiasCotizadosNovedades, inserted.redOUTTipoAfiliado, inserted.redOUTRegistrado, inserted.redOUTValorMoraCotizante, inserted.redOUTAporteObligatorioMod, inserted.redOUTDiasCotizadosMod, inserted.redOUTRegistradoAporte, inserted.redOUTRegistradoNovedad, inserted.redOUTTipoNovedadSituacionPrimaria, inserted.redOUTFechaInicioNovedadSituacionPrimaria, inserted.redOUTFechaFinNovedadSituacionPrimaria, inserted.redOUTRegDetOriginal, inserted.redOUTEstadoRegistroRelacionAporte, inserted.redOUTEstadoEvaluacionAporte, inserted.redOUTFechaRetiroCotizante, inserted.redOUTValorIBCMod, inserted.redOUTValorMoraCotizanteMod, inserted.redFechaInicioVST, inserted.redFechaFinVST, inserted.redOUTDiasCotizadosNovedadesBD, inserted.redOUTGrupoFamiliarReintegrable, inserted.redIdRegistro2pila, inserted.redOUTEnviadoAFiscalizacionInd, inserted.redOUTMotivoFiscalizacionInd, inserted.redOUTRegistroActual, inserted.redOUTRegInicial, inserted.redOUTGrupoAC, inserted.redOUTTarifaMod, inserted.redDateTimeInsert, inserted.redDateTimeUpdate, inserted.redOUTPeriodicidad, inserted.redUsuarioAccion, inserted.redFechaAccion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.registroDetallado_log
			from #registroDetallado1 as a
				inner join dbo.registroDetallado2 as red on a.redId = red.redId
			where (a.ultimaFechaModificacion > red.ultimaFechaModificacion or red.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #registroDetallado1)



			drop table if exists #redIds
			create table #redIds (redId bigInt)
			insert #redIds
			select redId from #registroDetallado1
			except 
			select redId from dbo.registroDetallado2

			insert dbo.registroDetallado2 (redId, redRegistroGeneral, redTipoIdentificacionCotizante, redNumeroIdentificacionCotizante, redTipoCotizante, redCodDepartamento, redCodMunicipio, redPrimerApellido, redSegundoApellido, redPrimerNombre, redSegundoNombre, redNovIngreso, redNovRetiro, redNovVSP, redNovVST, redNovSLN, redNovIGE, redNovLMA, redNovVACLR, redNovSUS, redDiasIRL, redDiasCotizados, redSalarioBasico, redValorIBC, redTarifa, redAporteObligatorio, redCorrecciones, redSalarioIntegral, redFechaIngreso, redFechaRetiro, redFechaInicioVSP, redFechaInicioSLN, redFechaFinSLN, redFechaInicioIGE, redFechaFinIGE, redFechaInicioLMA, redFechaFinLMA, redFechaInicioVACLR, redFechaFinVACLR, redFechaInicioVCT, redFechaFinVCT, redFechaInicioIRL, redFechaFinIRL, redFechaInicioSuspension, redFechaFinSuspension, redHorasLaboradas, redRegistroControl, redOUTMarcaValRegistroAporte, redOUTEstadoRegistroAporte, redOUTAnalisisIntegral, redOUTFechaProcesamientoValidRegAporte, redOUTEstadoValidacionV0, redOUTEstadoValidacionV1, redOUTEstadoValidacionV2, redOUTEstadoValidacionV3, redOUTClaseTrabajador, redOUTPorcentajePagoAportes, redOUTEstadoSolicitante, redOUTEsTrabajadorReintegrable, redOUTFechaIngresoCotizante, redOUTFechaUltimaNovedad, redOUTFechaFallecimiento, redUsuarioAprobadorAporte, redNumeroOperacionAprobacion, redEstadoEvaluacion, redEstadoRegistroCorreccion, redOUTCodSucursal, redOUTNomSucursal, redOUTDiasCotizadosPlanillas, redOUTDiasCotizadosBD, redOUTDiasCotizadosNovedades, redOUTTipoAfiliado, redOUTRegistrado, redOUTValorMoraCotizante, redOUTAporteObligatorioMod, redOUTDiasCotizadosMod, redOUTRegistradoAporte, redOUTRegistradoNovedad, redOUTTipoNovedadSituacionPrimaria, redOUTFechaInicioNovedadSituacionPrimaria, redOUTFechaFinNovedadSituacionPrimaria, redOUTRegDetOriginal, redOUTEstadoRegistroRelacionAporte, redOUTEstadoEvaluacionAporte, redOUTFechaRetiroCotizante, redOUTValorIBCMod, redOUTValorMoraCotizanteMod, redFechaInicioVST, redFechaFinVST, redOUTDiasCotizadosNovedadesBD, redOUTGrupoFamiliarReintegrable, redIdRegistro2pila, redOUTEnviadoAFiscalizacionInd, redOUTMotivoFiscalizacionInd, redOUTRegistroActual, redOUTRegInicial, redOUTGrupoAC, redOUTTarifaMod, redDateTimeInsert, redDateTimeUpdate, redOUTPeriodicidad, redUsuarioAccion, redFechaAccion,ultimaFechaModificacion)
			output inserted.redId, inserted.redRegistroGeneral, inserted.redTipoIdentificacionCotizante, inserted.redNumeroIdentificacionCotizante, inserted.redTipoCotizante, inserted.redCodDepartamento, inserted.redCodMunicipio, inserted.redPrimerApellido, inserted.redSegundoApellido, inserted.redPrimerNombre, inserted.redSegundoNombre, inserted.redNovIngreso, inserted.redNovRetiro, inserted.redNovVSP, inserted.redNovVST, inserted.redNovSLN, inserted.redNovIGE, inserted.redNovLMA, inserted.redNovVACLR, inserted.redNovSUS, inserted.redDiasIRL, inserted.redDiasCotizados, inserted.redSalarioBasico, inserted.redValorIBC, inserted.redTarifa, inserted.redAporteObligatorio, inserted.redCorrecciones, inserted.redSalarioIntegral, inserted.redFechaIngreso, inserted.redFechaRetiro, inserted.redFechaInicioVSP, inserted.redFechaInicioSLN, inserted.redFechaFinSLN, inserted.redFechaInicioIGE, inserted.redFechaFinIGE, inserted.redFechaInicioLMA, inserted.redFechaFinLMA, inserted.redFechaInicioVACLR, inserted.redFechaFinVACLR, inserted.redFechaInicioVCT, inserted.redFechaFinVCT, inserted.redFechaInicioIRL, inserted.redFechaFinIRL, inserted.redFechaInicioSuspension, inserted.redFechaFinSuspension, inserted.redHorasLaboradas, inserted.redRegistroControl, inserted.redOUTMarcaValRegistroAporte, inserted.redOUTEstadoRegistroAporte, inserted.redOUTAnalisisIntegral, inserted.redOUTFechaProcesamientoValidRegAporte, inserted.redOUTEstadoValidacionV0, inserted.redOUTEstadoValidacionV1, inserted.redOUTEstadoValidacionV2, inserted.redOUTEstadoValidacionV3, inserted.redOUTClaseTrabajador, inserted.redOUTPorcentajePagoAportes, inserted.redOUTEstadoSolicitante, inserted.redOUTEsTrabajadorReintegrable, inserted.redOUTFechaIngresoCotizante, inserted.redOUTFechaUltimaNovedad, inserted.redOUTFechaFallecimiento, inserted.redUsuarioAprobadorAporte, inserted.redNumeroOperacionAprobacion, inserted.redEstadoEvaluacion, inserted.redEstadoRegistroCorreccion, inserted.redOUTCodSucursal, inserted.redOUTNomSucursal, inserted.redOUTDiasCotizadosPlanillas, inserted.redOUTDiasCotizadosBD, inserted.redOUTDiasCotizadosNovedades, inserted.redOUTTipoAfiliado, inserted.redOUTRegistrado, inserted.redOUTValorMoraCotizante, inserted.redOUTAporteObligatorioMod, inserted.redOUTDiasCotizadosMod, inserted.redOUTRegistradoAporte, inserted.redOUTRegistradoNovedad, inserted.redOUTTipoNovedadSituacionPrimaria, inserted.redOUTFechaInicioNovedadSituacionPrimaria, inserted.redOUTFechaFinNovedadSituacionPrimaria, inserted.redOUTRegDetOriginal, inserted.redOUTEstadoRegistroRelacionAporte, inserted.redOUTEstadoEvaluacionAporte, inserted.redOUTFechaRetiroCotizante, inserted.redOUTValorIBCMod, inserted.redOUTValorMoraCotizanteMod, inserted.redFechaInicioVST, inserted.redFechaFinVST, inserted.redOUTDiasCotizadosNovedadesBD, inserted.redOUTGrupoFamiliarReintegrable, inserted.redIdRegistro2pila, inserted.redOUTEnviadoAFiscalizacionInd, inserted.redOUTMotivoFiscalizacionInd, inserted.redOUTRegistroActual, inserted.redOUTRegInicial, inserted.redOUTGrupoAC, inserted.redOUTTarifaMod, inserted.redDateTimeInsert, inserted.redDateTimeUpdate, inserted.redOUTPeriodicidad, inserted.redUsuarioAccion, inserted.redFechaAccion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.registroDetallado_log
			select redId, redRegistroGeneral, redTipoIdentificacionCotizante, redNumeroIdentificacionCotizante, redTipoCotizante, redCodDepartamento, redCodMunicipio, redPrimerApellido, redSegundoApellido, redPrimerNombre, redSegundoNombre, redNovIngreso, redNovRetiro, redNovVSP, redNovVST, redNovSLN, redNovIGE, redNovLMA, redNovVACLR, redNovSUS, redDiasIRL, redDiasCotizados, redSalarioBasico, redValorIBC, redTarifa, redAporteObligatorio, redCorrecciones, redSalarioIntegral, redFechaIngreso, redFechaRetiro, redFechaInicioVSP, redFechaInicioSLN, redFechaFinSLN, redFechaInicioIGE, redFechaFinIGE, redFechaInicioLMA, redFechaFinLMA, redFechaInicioVACLR, redFechaFinVACLR, redFechaInicioVCT, redFechaFinVCT, redFechaInicioIRL, redFechaFinIRL, redFechaInicioSuspension, redFechaFinSuspension, redHorasLaboradas, redRegistroControl, redOUTMarcaValRegistroAporte, redOUTEstadoRegistroAporte, redOUTAnalisisIntegral, redOUTFechaProcesamientoValidRegAporte, redOUTEstadoValidacionV0, redOUTEstadoValidacionV1, redOUTEstadoValidacionV2, redOUTEstadoValidacionV3, redOUTClaseTrabajador, redOUTPorcentajePagoAportes, redOUTEstadoSolicitante, redOUTEsTrabajadorReintegrable, redOUTFechaIngresoCotizante, redOUTFechaUltimaNovedad, redOUTFechaFallecimiento, redUsuarioAprobadorAporte, redNumeroOperacionAprobacion, redEstadoEvaluacion, redEstadoRegistroCorreccion, redOUTCodSucursal, redOUTNomSucursal, redOUTDiasCotizadosPlanillas, redOUTDiasCotizadosBD, redOUTDiasCotizadosNovedades, redOUTTipoAfiliado, redOUTRegistrado, redOUTValorMoraCotizante, redOUTAporteObligatorioMod, redOUTDiasCotizadosMod, redOUTRegistradoAporte, redOUTRegistradoNovedad, redOUTTipoNovedadSituacionPrimaria, redOUTFechaInicioNovedadSituacionPrimaria, redOUTFechaFinNovedadSituacionPrimaria, redOUTRegDetOriginal, redOUTEstadoRegistroRelacionAporte, redOUTEstadoEvaluacionAporte, redOUTFechaRetiroCotizante, redOUTValorIBCMod, redOUTValorMoraCotizanteMod, redFechaInicioVST, redFechaFinVST, redOUTDiasCotizadosNovedadesBD, redOUTGrupoFamiliarReintegrable, redIdRegistro2pila, redOUTEnviadoAFiscalizacionInd, redOUTMotivoFiscalizacionInd, redOUTRegistroActual, redOUTRegInicial, redOUTGrupoAC, redOUTTarifaMod, redDateTimeInsert, redDateTimeUpdate, redOUTPeriodicidad, redUsuarioAccion, redFechaAccion, ultimaFechaModificacion
			from #registroDetallado1
			where redId in (select redId from #redIds)
				and actId = 1

			delete from dbo.registroDetallado2
			output deleted.redId, deleted.redRegistroGeneral, deleted.redTipoIdentificacionCotizante, deleted.redNumeroIdentificacionCotizante, deleted.redTipoCotizante, deleted.redCodDepartamento, deleted.redCodMunicipio, deleted.redPrimerApellido, deleted.redSegundoApellido, deleted.redPrimerNombre, deleted.redSegundoNombre, deleted.redNovIngreso, deleted.redNovRetiro, deleted.redNovVSP, deleted.redNovVST, deleted.redNovSLN, deleted.redNovIGE, deleted.redNovLMA, deleted.redNovVACLR, deleted.redNovSUS, deleted.redDiasIRL, deleted.redDiasCotizados, deleted.redSalarioBasico, deleted.redValorIBC, deleted.redTarifa, deleted.redAporteObligatorio, deleted.redCorrecciones, deleted.redSalarioIntegral, deleted.redFechaIngreso, deleted.redFechaRetiro, deleted.redFechaInicioVSP, deleted.redFechaInicioSLN, deleted.redFechaFinSLN, deleted.redFechaInicioIGE, deleted.redFechaFinIGE, deleted.redFechaInicioLMA, deleted.redFechaFinLMA, deleted.redFechaInicioVACLR, deleted.redFechaFinVACLR, deleted.redFechaInicioVCT, deleted.redFechaFinVCT, deleted.redFechaInicioIRL, deleted.redFechaFinIRL, deleted.redFechaInicioSuspension, deleted.redFechaFinSuspension, deleted.redHorasLaboradas, deleted.redRegistroControl, deleted.redOUTMarcaValRegistroAporte, deleted.redOUTEstadoRegistroAporte, deleted.redOUTAnalisisIntegral, deleted.redOUTFechaProcesamientoValidRegAporte, deleted.redOUTEstadoValidacionV0, deleted.redOUTEstadoValidacionV1, deleted.redOUTEstadoValidacionV2, deleted.redOUTEstadoValidacionV3, deleted.redOUTClaseTrabajador, deleted.redOUTPorcentajePagoAportes, deleted.redOUTEstadoSolicitante, deleted.redOUTEsTrabajadorReintegrable, deleted.redOUTFechaIngresoCotizante, deleted.redOUTFechaUltimaNovedad, deleted.redOUTFechaFallecimiento, deleted.redUsuarioAprobadorAporte, deleted.redNumeroOperacionAprobacion, deleted.redEstadoEvaluacion, deleted.redEstadoRegistroCorreccion, deleted.redOUTCodSucursal, deleted.redOUTNomSucursal, deleted.redOUTDiasCotizadosPlanillas, deleted.redOUTDiasCotizadosBD, deleted.redOUTDiasCotizadosNovedades, deleted.redOUTTipoAfiliado, deleted.redOUTRegistrado, deleted.redOUTValorMoraCotizante, deleted.redOUTAporteObligatorioMod, deleted.redOUTDiasCotizadosMod, deleted.redOUTRegistradoAporte, deleted.redOUTRegistradoNovedad, deleted.redOUTTipoNovedadSituacionPrimaria, deleted.redOUTFechaInicioNovedadSituacionPrimaria, deleted.redOUTFechaFinNovedadSituacionPrimaria, deleted.redOUTRegDetOriginal, deleted.redOUTEstadoRegistroRelacionAporte, deleted.redOUTEstadoEvaluacionAporte, deleted.redOUTFechaRetiroCotizante, deleted.redOUTValorIBCMod, deleted.redOUTValorMoraCotizanteMod, deleted.redFechaInicioVST, deleted.redFechaFinVST, deleted.redOUTDiasCotizadosNovedadesBD, deleted.redOUTGrupoFamiliarReintegrable, deleted.redIdRegistro2pila, deleted.redOUTEnviadoAFiscalizacionInd, deleted.redOUTMotivoFiscalizacionInd, deleted.redOUTRegistroActual, deleted.redOUTRegInicial, deleted.redOUTGrupoAC, deleted.redOUTTarifaMod, deleted.redDateTimeInsert, deleted.redDateTimeUpdate, deleted.redOUTPeriodicidad, deleted.redUsuarioAccion, deleted.redFechaAccion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.registroDetallado_log
			where redId in (select redId from #registroDetallado1 where operacion = 1 and actId = 1)