	CREATE OR ALTER   procedure [dbo].[OP_DatCompos_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla Comunicado

	
			declare @Comunicado1 table (comId bigint   not null,comEmail varchar(255)   null,comIdentificaArchivoComunicado varchar(255)   null,comTextoAdicionar varchar(500)   null,comPlantillaComunicado bigint   null,comFechaComunicado datetime2   null,comRemitente varchar(255)   null,comSedeCajaCompensacion varchar(2)   null,comNumeroCorreoMasivo bigint   null,comDestinatario varchar(255)   null,comEstadoEnvio varchar(20)   null,comMedioComunicado varchar(10)   null,comSolicitud bigint   null,comPersonaDestinatario bigint   null,comCertificado bigint   null,comEmpleador bigint   null,comEmpresa bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select comId, comEmail, comIdentificaArchivoComunicado, comTextoAdicionar, comPlantillaComunicado, comFechaComunicado, comRemitente, comSedeCajaCompensacion, comNumeroCorreoMasivo, comDestinatario, comEstadoEnvio, comMedioComunicado, comSolicitud, comPersonaDestinatario, comCertificado, comEmpleador, comEmpresa, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Comunicado_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Comunicado1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Comunicado1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by comId) then 1 else null end as act
				,row_number() over (partition by comId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Comunicado1)
			select *
			into #Comunicado1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update com set com.comEmail = a.comEmail, com.comIdentificaArchivoComunicado = a.comIdentificaArchivoComunicado, com.comTextoAdicionar = a.comTextoAdicionar, com.comPlantillaComunicado = a.comPlantillaComunicado, com.comFechaComunicado = a.comFechaComunicado, com.comRemitente = a.comRemitente, com.comSedeCajaCompensacion = a.comSedeCajaCompensacion, com.comNumeroCorreoMasivo = a.comNumeroCorreoMasivo, com.comDestinatario = a.comDestinatario, com.comEstadoEnvio = a.comEstadoEnvio, com.comMedioComunicado = a.comMedioComunicado, com.comSolicitud = a.comSolicitud, com.comPersonaDestinatario = a.comPersonaDestinatario, com.comCertificado = a.comCertificado, com.comEmpleador = a.comEmpleador, com.comEmpresa = a.comEmpresa, com.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.comId, inserted.comEmail, inserted.comIdentificaArchivoComunicado, inserted.comTextoAdicionar, inserted.comPlantillaComunicado, inserted.comFechaComunicado, inserted.comRemitente, inserted.comSedeCajaCompensacion, inserted.comNumeroCorreoMasivo, inserted.comDestinatario, inserted.comEstadoEnvio, inserted.comMedioComunicado, inserted.comSolicitud, inserted.comPersonaDestinatario, inserted.comCertificado, inserted.comEmpleador, inserted.comEmpresa, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Comunicado_log
			from #Comunicado1 as a
				inner join dbo.Comunicado as com on a.comId = com.comId
			where (a.ultimaFechaModificacion > com.ultimaFechaModificacion or com.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Comunicado1)



			drop table if exists #comIds
			create table #comIds (comId bigInt)
			insert #comIds
			select comId from #Comunicado1
			except 
			select comId from dbo.Comunicado

			insert dbo.Comunicado (comId, comEmail, comIdentificaArchivoComunicado, comTextoAdicionar, comPlantillaComunicado, comFechaComunicado, comRemitente, comSedeCajaCompensacion, comNumeroCorreoMasivo, comDestinatario, comEstadoEnvio, comMedioComunicado, comSolicitud, comPersonaDestinatario, comCertificado, comEmpleador, comEmpresa,ultimaFechaModificacion)
			output inserted.comId, inserted.comEmail, inserted.comIdentificaArchivoComunicado, inserted.comTextoAdicionar, inserted.comPlantillaComunicado, inserted.comFechaComunicado, inserted.comRemitente, inserted.comSedeCajaCompensacion, inserted.comNumeroCorreoMasivo, inserted.comDestinatario, inserted.comEstadoEnvio, inserted.comMedioComunicado, inserted.comSolicitud, inserted.comPersonaDestinatario, inserted.comCertificado, inserted.comEmpleador, inserted.comEmpresa
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Comunicado_log
			select comId, comEmail, comIdentificaArchivoComunicado, comTextoAdicionar, comPlantillaComunicado, comFechaComunicado, comRemitente, comSedeCajaCompensacion, comNumeroCorreoMasivo, comDestinatario, comEstadoEnvio, comMedioComunicado, comSolicitud, comPersonaDestinatario, comCertificado, comEmpleador, comEmpresa, ultimaFechaModificacion
			from #Comunicado1
			where comId in (select comId from #comIds)
				and actId = 1

			delete from dbo.Comunicado
			output deleted.comId, deleted.comEmail, deleted.comIdentificaArchivoComunicado, deleted.comTextoAdicionar, deleted.comPlantillaComunicado, deleted.comFechaComunicado, deleted.comRemitente, deleted.comSedeCajaCompensacion, deleted.comNumeroCorreoMasivo, deleted.comDestinatario, deleted.comEstadoEnvio, deleted.comMedioComunicado, deleted.comSolicitud, deleted.comPersonaDestinatario, deleted.comCertificado, deleted.comEmpleador, deleted.comEmpresa
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Comunicado_log
			where comId in (select comId from #Comunicado1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla DatoTemporalSolicitud

	
			declare @DatoTemporalSolicitud1 table (dtsId bigint   not null,dtsSolicitud bigint   null,dtsJsonPayload varchar (max)   null,dtsTipoIdentificacion varchar(20)   null,dtsNumeroIdentificacion varchar(16)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select dtsId, dtsSolicitud, cast(dtsJsonPayload as varchar(max)), dtsTipoIdentificacion, dtsNumeroIdentificacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_DatoTemporalSolicitud_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @DatoTemporalSolicitud1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #DatoTemporalSolicitud1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by dtsId) then 1 else null end as act
				,row_number() over (partition by dtsId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @DatoTemporalSolicitud1)
			select *
			into #DatoTemporalSolicitud1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update dts set dts.dtsSolicitud = a.dtsSolicitud, dts.dtsJsonPayload = a.dtsJsonPayload, dts.dtsTipoIdentificacion = a.dtsTipoIdentificacion, dts.dtsNumeroIdentificacion = a.dtsNumeroIdentificacion, dts.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.dtsId, inserted.dtsSolicitud, inserted.dtsJsonPayload, inserted.dtsTipoIdentificacion, inserted.dtsNumeroIdentificacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.DatoTemporalSolicitud_log
			from #DatoTemporalSolicitud1 as a
				inner join dbo.DatoTemporalSolicitud as dts on a.dtsId = dts.dtsId
			where (a.ultimaFechaModificacion > dts.ultimaFechaModificacion or dts.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #DatoTemporalSolicitud1)



			drop table if exists #dtsIds
			create table #dtsIds (dtsId bigInt)
			insert #dtsIds
			select dtsId from #DatoTemporalSolicitud1
			except 
			select dtsId from dbo.DatoTemporalSolicitud

			insert dbo.DatoTemporalSolicitud (dtsId, dtsSolicitud, dtsJsonPayload, dtsTipoIdentificacion, dtsNumeroIdentificacion,ultimaFechaModificacion)
			output inserted.dtsId, inserted.dtsSolicitud, inserted.dtsJsonPayload, inserted.dtsTipoIdentificacion, inserted.dtsNumeroIdentificacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.DatoTemporalSolicitud_log
			select dtsId, dtsSolicitud, dtsJsonPayload, dtsTipoIdentificacion, dtsNumeroIdentificacion, ultimaFechaModificacion
			from #DatoTemporalSolicitud1
			where dtsId in (select dtsId from #dtsIds)
				and actId = 1

			delete from dbo.DatoTemporalSolicitud
			output deleted.dtsId, deleted.dtsSolicitud, deleted.dtsJsonPayload, deleted.dtsTipoIdentificacion, deleted.dtsNumeroIdentificacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.DatoTemporalSolicitud_log
			where dtsId in (select dtsId from #DatoTemporalSolicitud1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla postulacionfovis

	
			declare @postulacionfovis1 table (pofId bigint   not null,pofCicloAsignacion bigint   null,pofJefeHogar bigint   null,pofEstadoHogar varchar(58)   null,pofCondicionHogar varchar(44)   null,pofHogarPerdioSubsidioNoPago bit   null,pofCantidadFolios smallint   null,pofValorSFVSolicitado numeric (19,  5) null,pofProyectoSolucionVivienda bigint   null,pofModalidad varchar(50)   null,pofSolicitudAsignacion bigint   null,pofResultadoAsignacion varchar(50)   null,pofValorAsignadoSFV numeric (19,  5) null,pofIdentificardorDocumentoActaAsignacion varchar(255)   null,pofPuntaje numeric (20,  6) null,pofFechaCalificacion datetime   null,pofPrioridadAsignacion varchar(11)   null,pofValorCalculadoSFV numeric (19,  5) null,pofValorProyectoVivienda numeric (19,  5) null,pofMotivoDesistimiento varchar(29)   null,pofMotivoRechazo varchar(51)   null,pofMotivoHabilitacion varchar(38)   null,pofRestituidoConSancion bit   null,pofTiempoSancion varchar(10)   null,pofMotivoRestitucion varchar(45)   null,pofMotivoEnajenacion varchar(40)   null,pofValorAjusteIPCSFV numeric (19,  5) null,pofInfoAsignacion varchar (max)   null,pofCalificacionPostulacion bigint   null,pofValorAvaluoCatastral numeric (19,  5) null,pofInfoParametrizacion varchar (max)   null,pofSalarioAsignacion numeric (19,  5) null,pofValorSFVAjustado numeric (19,  5) null,pofMatriculaInmobiliariaInmueble varchar(50)   null,pofFechaRegistroEscritura date   null,pofLoteUrbanizado bit   null,pofPoseedorOcupanteVivienda varchar(50)   null,pofNumeroEscritura varchar(20)   null,pofFechaEscritura date   null,pofUbicacionIgualProyecto bit   null,pofUbicacionVivienda bigint   null,pofJsonPostulacion nvarchar (max)   null,pofOferente bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pofId, pofCicloAsignacion, pofJefeHogar, pofEstadoHogar, pofCondicionHogar, pofHogarPerdioSubsidioNoPago, pofCantidadFolios, pofValorSFVSolicitado, pofProyectoSolucionVivienda, pofModalidad, pofSolicitudAsignacion, pofResultadoAsignacion, pofValorAsignadoSFV, pofIdentificardorDocumentoActaAsignacion, pofPuntaje, pofFechaCalificacion, pofPrioridadAsignacion, pofValorCalculadoSFV, pofValorProyectoVivienda, pofMotivoDesistimiento, pofMotivoRechazo, pofMotivoHabilitacion, pofRestituidoConSancion, pofTiempoSancion, pofMotivoRestitucion, pofMotivoEnajenacion, pofValorAjusteIPCSFV, pofInfoAsignacion, pofCalificacionPostulacion, pofValorAvaluoCatastral, pofInfoParametrizacion, pofSalarioAsignacion, pofValorSFVAjustado, pofMatriculaInmobiliariaInmueble, pofFechaRegistroEscritura, pofLoteUrbanizado, pofPoseedorOcupanteVivienda, pofNumeroEscritura, pofFechaEscritura, pofUbicacionIgualProyecto, pofUbicacionVivienda, cast(pofJsonPostulacion as nvarchar(max)), pofOferente, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_postulacionfovis_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @postulacionfovis1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #postulacionfovis1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pofId) then 1 else null end as act
				,row_number() over (partition by pofId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @postulacionfovis1)
			select *
			into #postulacionfovis1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pof set pof.pofCicloAsignacion = a.pofCicloAsignacion, pof.pofJefeHogar = a.pofJefeHogar, pof.pofEstadoHogar = a.pofEstadoHogar, pof.pofCondicionHogar = a.pofCondicionHogar, pof.pofHogarPerdioSubsidioNoPago = a.pofHogarPerdioSubsidioNoPago, pof.pofCantidadFolios = a.pofCantidadFolios, pof.pofValorSFVSolicitado = a.pofValorSFVSolicitado, pof.pofProyectoSolucionVivienda = a.pofProyectoSolucionVivienda, pof.pofModalidad = a.pofModalidad, pof.pofSolicitudAsignacion = a.pofSolicitudAsignacion, pof.pofResultadoAsignacion = a.pofResultadoAsignacion, pof.pofValorAsignadoSFV = a.pofValorAsignadoSFV, pof.pofIdentificardorDocumentoActaAsignacion = a.pofIdentificardorDocumentoActaAsignacion, pof.pofPuntaje = a.pofPuntaje, pof.pofFechaCalificacion = a.pofFechaCalificacion, pof.pofPrioridadAsignacion = a.pofPrioridadAsignacion, pof.pofValorCalculadoSFV = a.pofValorCalculadoSFV, pof.pofValorProyectoVivienda = a.pofValorProyectoVivienda, pof.pofMotivoDesistimiento = a.pofMotivoDesistimiento, pof.pofMotivoRechazo = a.pofMotivoRechazo, pof.pofMotivoHabilitacion = a.pofMotivoHabilitacion, pof.pofRestituidoConSancion = a.pofRestituidoConSancion, pof.pofTiempoSancion = a.pofTiempoSancion, pof.pofMotivoRestitucion = a.pofMotivoRestitucion, pof.pofMotivoEnajenacion = a.pofMotivoEnajenacion, pof.pofValorAjusteIPCSFV = a.pofValorAjusteIPCSFV, pof.pofInfoAsignacion = a.pofInfoAsignacion, pof.pofCalificacionPostulacion = a.pofCalificacionPostulacion, pof.pofValorAvaluoCatastral = a.pofValorAvaluoCatastral, pof.pofInfoParametrizacion = a.pofInfoParametrizacion, pof.pofSalarioAsignacion = a.pofSalarioAsignacion, pof.pofValorSFVAjustado = a.pofValorSFVAjustado, pof.pofMatriculaInmobiliariaInmueble = a.pofMatriculaInmobiliariaInmueble, pof.pofFechaRegistroEscritura = a.pofFechaRegistroEscritura, pof.pofLoteUrbanizado = a.pofLoteUrbanizado, pof.pofPoseedorOcupanteVivienda = a.pofPoseedorOcupanteVivienda, pof.pofNumeroEscritura = a.pofNumeroEscritura, pof.pofFechaEscritura = a.pofFechaEscritura, pof.pofUbicacionIgualProyecto = a.pofUbicacionIgualProyecto, pof.pofUbicacionVivienda = a.pofUbicacionVivienda, pof.pofJsonPostulacion = a.pofJsonPostulacion, pof.pofOferente = a.pofOferente, pof.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pofId, inserted.pofCicloAsignacion, inserted.pofJefeHogar, inserted.pofEstadoHogar, inserted.pofCondicionHogar, inserted.pofHogarPerdioSubsidioNoPago, inserted.pofCantidadFolios, inserted.pofValorSFVSolicitado, inserted.pofProyectoSolucionVivienda, inserted.pofModalidad, inserted.pofSolicitudAsignacion, inserted.pofResultadoAsignacion, inserted.pofValorAsignadoSFV, inserted.pofIdentificardorDocumentoActaAsignacion, inserted.pofPuntaje, inserted.pofFechaCalificacion, inserted.pofPrioridadAsignacion, inserted.pofValorCalculadoSFV, inserted.pofValorProyectoVivienda, inserted.pofMotivoDesistimiento, inserted.pofMotivoRechazo, inserted.pofMotivoHabilitacion, inserted.pofRestituidoConSancion, inserted.pofTiempoSancion, inserted.pofMotivoRestitucion, inserted.pofMotivoEnajenacion, inserted.pofValorAjusteIPCSFV, inserted.pofInfoAsignacion, inserted.pofCalificacionPostulacion, inserted.pofValorAvaluoCatastral, inserted.pofInfoParametrizacion, inserted.pofSalarioAsignacion, inserted.pofValorSFVAjustado, inserted.pofMatriculaInmobiliariaInmueble, inserted.pofFechaRegistroEscritura, inserted.pofLoteUrbanizado, inserted.pofPoseedorOcupanteVivienda, inserted.pofNumeroEscritura, inserted.pofFechaEscritura, inserted.pofUbicacionIgualProyecto, inserted.pofUbicacionVivienda, inserted.pofJsonPostulacion, inserted.pofOferente, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.postulacionfovis_log
			from #postulacionfovis1 as a
				inner join dbo.postulacionfovis as pof on a.pofId = pof.pofId
			where (a.ultimaFechaModificacion > pof.ultimaFechaModificacion or pof.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #postulacionfovis1)



			drop table if exists #pofIds
			create table #pofIds (pofId bigInt)
			insert #pofIds
			select pofId from #postulacionfovis1
			except 
			select pofId from dbo.postulacionfovis

			insert dbo.postulacionfovis (pofId, pofCicloAsignacion, pofJefeHogar, pofEstadoHogar, pofCondicionHogar, pofHogarPerdioSubsidioNoPago, pofCantidadFolios, pofValorSFVSolicitado, pofProyectoSolucionVivienda, pofModalidad, pofSolicitudAsignacion, pofResultadoAsignacion, pofValorAsignadoSFV, pofIdentificardorDocumentoActaAsignacion, pofPuntaje, pofFechaCalificacion, pofPrioridadAsignacion, pofValorCalculadoSFV, pofValorProyectoVivienda, pofMotivoDesistimiento, pofMotivoRechazo, pofMotivoHabilitacion, pofRestituidoConSancion, pofTiempoSancion, pofMotivoRestitucion, pofMotivoEnajenacion, pofValorAjusteIPCSFV, pofInfoAsignacion, pofCalificacionPostulacion, pofValorAvaluoCatastral, pofInfoParametrizacion, pofSalarioAsignacion, pofValorSFVAjustado, pofMatriculaInmobiliariaInmueble, pofFechaRegistroEscritura, pofLoteUrbanizado, pofPoseedorOcupanteVivienda, pofNumeroEscritura, pofFechaEscritura, pofUbicacionIgualProyecto, pofUbicacionVivienda, pofJsonPostulacion, pofOferente,ultimaFechaModificacion)
			output inserted.pofId, inserted.pofCicloAsignacion, inserted.pofJefeHogar, inserted.pofEstadoHogar, inserted.pofCondicionHogar, inserted.pofHogarPerdioSubsidioNoPago, inserted.pofCantidadFolios, inserted.pofValorSFVSolicitado, inserted.pofProyectoSolucionVivienda, inserted.pofModalidad, inserted.pofSolicitudAsignacion, inserted.pofResultadoAsignacion, inserted.pofValorAsignadoSFV, inserted.pofIdentificardorDocumentoActaAsignacion, inserted.pofPuntaje, inserted.pofFechaCalificacion, inserted.pofPrioridadAsignacion, inserted.pofValorCalculadoSFV, inserted.pofValorProyectoVivienda, inserted.pofMotivoDesistimiento, inserted.pofMotivoRechazo, inserted.pofMotivoHabilitacion, inserted.pofRestituidoConSancion, inserted.pofTiempoSancion, inserted.pofMotivoRestitucion, inserted.pofMotivoEnajenacion, inserted.pofValorAjusteIPCSFV, inserted.pofInfoAsignacion, inserted.pofCalificacionPostulacion, inserted.pofValorAvaluoCatastral, inserted.pofInfoParametrizacion, inserted.pofSalarioAsignacion, inserted.pofValorSFVAjustado, inserted.pofMatriculaInmobiliariaInmueble, inserted.pofFechaRegistroEscritura, inserted.pofLoteUrbanizado, inserted.pofPoseedorOcupanteVivienda, inserted.pofNumeroEscritura, inserted.pofFechaEscritura, inserted.pofUbicacionIgualProyecto, inserted.pofUbicacionVivienda, inserted.pofJsonPostulacion, inserted.pofOferente
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.postulacionfovis_log
			select pofId, pofCicloAsignacion, pofJefeHogar, pofEstadoHogar, pofCondicionHogar, pofHogarPerdioSubsidioNoPago, pofCantidadFolios, pofValorSFVSolicitado, pofProyectoSolucionVivienda, pofModalidad, pofSolicitudAsignacion, pofResultadoAsignacion, pofValorAsignadoSFV, pofIdentificardorDocumentoActaAsignacion, pofPuntaje, pofFechaCalificacion, pofPrioridadAsignacion, pofValorCalculadoSFV, pofValorProyectoVivienda, pofMotivoDesistimiento, pofMotivoRechazo, pofMotivoHabilitacion, pofRestituidoConSancion, pofTiempoSancion, pofMotivoRestitucion, pofMotivoEnajenacion, pofValorAjusteIPCSFV, pofInfoAsignacion, pofCalificacionPostulacion, pofValorAvaluoCatastral, pofInfoParametrizacion, pofSalarioAsignacion, pofValorSFVAjustado, pofMatriculaInmobiliariaInmueble, pofFechaRegistroEscritura, pofLoteUrbanizado, pofPoseedorOcupanteVivienda, pofNumeroEscritura, pofFechaEscritura, pofUbicacionIgualProyecto, pofUbicacionVivienda, pofJsonPostulacion, pofOferente, ultimaFechaModificacion
			from #postulacionfovis1
			where pofId in (select pofId from #pofIds)
				and actId = 1

			delete from dbo.postulacionfovis
			output deleted.pofId, deleted.pofCicloAsignacion, deleted.pofJefeHogar, deleted.pofEstadoHogar, deleted.pofCondicionHogar, deleted.pofHogarPerdioSubsidioNoPago, deleted.pofCantidadFolios, deleted.pofValorSFVSolicitado, deleted.pofProyectoSolucionVivienda, deleted.pofModalidad, deleted.pofSolicitudAsignacion, deleted.pofResultadoAsignacion, deleted.pofValorAsignadoSFV, deleted.pofIdentificardorDocumentoActaAsignacion, deleted.pofPuntaje, deleted.pofFechaCalificacion, deleted.pofPrioridadAsignacion, deleted.pofValorCalculadoSFV, deleted.pofValorProyectoVivienda, deleted.pofMotivoDesistimiento, deleted.pofMotivoRechazo, deleted.pofMotivoHabilitacion, deleted.pofRestituidoConSancion, deleted.pofTiempoSancion, deleted.pofMotivoRestitucion, deleted.pofMotivoEnajenacion, deleted.pofValorAjusteIPCSFV, deleted.pofInfoAsignacion, deleted.pofCalificacionPostulacion, deleted.pofValorAvaluoCatastral, deleted.pofInfoParametrizacion, deleted.pofSalarioAsignacion, deleted.pofValorSFVAjustado, deleted.pofMatriculaInmobiliariaInmueble, deleted.pofFechaRegistroEscritura, deleted.pofLoteUrbanizado, deleted.pofPoseedorOcupanteVivienda, deleted.pofNumeroEscritura, deleted.pofFechaEscritura, deleted.pofUbicacionIgualProyecto, deleted.pofUbicacionVivienda, deleted.pofJsonPostulacion, deleted.pofOferente
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.postulacionfovis_log
			where pofId in (select pofId from #postulacionfovis1 where operacion = 1 and actId = 1)