	CREATE or alter procedure [dbo].[OP_registroDetalladoNovedad_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla registroDetalladoNovedad

	
			declare @registroDetalladoNovedad1 table (rdnId int   not null,rdnRegistroDetallado bigint   not null,rdnTipotransaccion varchar(100)   null,rdnTipoNovedad varchar(15)   not null,rdnAccionNovedad varchar(20)   not null,rdnMensajeNovedad varchar(250)   null,rdnFechaInicioNovedad date   null,rdnFechaFinNovedad date   null,rdnOUTTipoAfiliado varchar(50)   null,rdnDateTimeInsert datetime   null,rdnDateTimeUpdate datetime   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select rdnId, rdnRegistroDetallado, rdnTipotransaccion, rdnTipoNovedad, rdnAccionNovedad, rdnMensajeNovedad, rdnFechaInicioNovedad, rdnFechaFinNovedad, rdnOUTTipoAfiliado, rdnDateTimeInsert, rdnDateTimeUpdate, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.staging_registroDetalladoNovedad_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @registroDetalladoNovedad1
			execute sp_execute_remote PilaReferenceData, @query
	
			drop table if exists #registroDetalladoNovedad1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by rdnId) then 1 else null end as act
				,row_number() over (partition by rdnId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @registroDetalladoNovedad1)
			select *
			into #registroDetalladoNovedad1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update rdn set rdn.rdnRegistroDetallado = a.rdnRegistroDetallado, rdn.rdnTipotransaccion = a.rdnTipotransaccion, rdn.rdnTipoNovedad = a.rdnTipoNovedad, rdn.rdnAccionNovedad = a.rdnAccionNovedad, rdn.rdnMensajeNovedad = a.rdnMensajeNovedad, rdn.rdnFechaInicioNovedad = a.rdnFechaInicioNovedad, rdn.rdnFechaFinNovedad = a.rdnFechaFinNovedad, rdn.rdnOUTTipoAfiliado = a.rdnOUTTipoAfiliado, rdn.rdnDateTimeInsert = a.rdnDateTimeInsert, rdn.rdnDateTimeUpdate = a.rdnDateTimeUpdate, rdn.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.rdnId, inserted.rdnRegistroDetallado, inserted.rdnTipotransaccion, inserted.rdnTipoNovedad, inserted.rdnAccionNovedad, inserted.rdnMensajeNovedad, inserted.rdnFechaInicioNovedad, inserted.rdnFechaFinNovedad, inserted.rdnOUTTipoAfiliado, inserted.rdnDateTimeInsert, inserted.rdnDateTimeUpdate, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.registroDetalladoNovedad_log
			from #registroDetalladoNovedad1 as a
				inner join dbo.registroDetalladoNovedad as rdn on a.rdnId = rdn.rdnId
			where (a.ultimaFechaModificacion > rdn.ultimaFechaModificacion or rdn.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #registroDetalladoNovedad1)



			drop table if exists #rdnIds
			create table #rdnIds (rdnId bigInt)
			insert #rdnIds
			select rdnId from #registroDetalladoNovedad1
			except 
			select rdnId from dbo.registroDetalladoNovedad

			insert dbo.registroDetalladoNovedad (rdnId, rdnRegistroDetallado, rdnTipotransaccion, rdnTipoNovedad, rdnAccionNovedad, rdnMensajeNovedad, rdnFechaInicioNovedad, rdnFechaFinNovedad, rdnOUTTipoAfiliado, rdnDateTimeInsert, rdnDateTimeUpdate,ultimaFechaModificacion)
			output inserted.rdnId, inserted.rdnRegistroDetallado, inserted.rdnTipotransaccion, inserted.rdnTipoNovedad, inserted.rdnAccionNovedad, inserted.rdnMensajeNovedad, inserted.rdnFechaInicioNovedad, inserted.rdnFechaFinNovedad, inserted.rdnOUTTipoAfiliado, inserted.rdnDateTimeInsert, inserted.rdnDateTimeUpdate
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.registroDetalladoNovedad_log
			select rdnId, rdnRegistroDetallado, rdnTipotransaccion, rdnTipoNovedad, rdnAccionNovedad, rdnMensajeNovedad, rdnFechaInicioNovedad, rdnFechaFinNovedad, rdnOUTTipoAfiliado, rdnDateTimeInsert, rdnDateTimeUpdate, ultimaFechaModificacion
			from #registroDetalladoNovedad1
			where rdnId in (select rdnId from #rdnIds)
				and actId = 1

			delete from dbo.registroDetalladoNovedad
			output deleted.rdnId, deleted.rdnRegistroDetallado, deleted.rdnTipotransaccion, deleted.rdnTipoNovedad, deleted.rdnAccionNovedad, deleted.rdnMensajeNovedad, deleted.rdnFechaInicioNovedad, deleted.rdnFechaFinNovedad, deleted.rdnOUTTipoAfiliado, deleted.rdnDateTimeInsert, deleted.rdnDateTimeUpdate
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.registroDetalladoNovedad_log
			where rdnId in (select rdnId from #registroDetalladoNovedad1 where operacion = 1 and actId = 1)