	CREATE or alter procedure [dbo].[OP_logPilAPilEPilI_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla logPlanillasN

	
			declare @logPlanillasN1 table (id bigint   not null,planillaN bigint   null,planillaOriginal bigint   null,fechaProceso datetime   null,Mensaje varchar(800)   null,fechaPagoAsociado date   null,periodo varchar(7)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select id, planillaN, planillaOriginal, fechaProceso, Mensaje, fechaPagoAsociado, periodo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_logPlanillasN_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @logPlanillasN1
			execute sp_execute_remote PilaReferenceData, @query
	
			drop table if exists #logPlanillasN1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by id) then 1 else null end as act
				,row_number() over (partition by id order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @logPlanillasN1)
			select *
			into #logPlanillasN1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update id set id.planillaN = a.planillaN, id.planillaOriginal = a.planillaOriginal, id.fechaProceso = a.fechaProceso, id.Mensaje = a.Mensaje, id.fechaPagoAsociado = a.fechaPagoAsociado, id.periodo = a.periodo, id.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.id, inserted.planillaN, inserted.planillaOriginal, inserted.fechaProceso, inserted.Mensaje, inserted.fechaPagoAsociado, inserted.periodo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.logPlanillasN_log
			from #logPlanillasN1 as a
				inner join dbo.logPlanillasN as id on a.id = id.id
			where (a.ultimaFechaModificacion > id.ultimaFechaModificacion or id.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #logPlanillasN1)



			drop table if exists #ids
			create table #ids (id bigInt)
			insert #ids
			select id from #logPlanillasN1
			except 
			select id from dbo.logPlanillasN

			insert dbo.logPlanillasN (id, planillaN, planillaOriginal, fechaProceso, Mensaje, fechaPagoAsociado, periodo,ultimaFechaModificacion)
			output inserted.id, inserted.planillaN, inserted.planillaOriginal, inserted.fechaProceso, inserted.Mensaje, inserted.fechaPagoAsociado, inserted.periodo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.logPlanillasN_log
			select id, planillaN, planillaOriginal, fechaProceso, Mensaje, fechaPagoAsociado, periodo, ultimaFechaModificacion
			from #logPlanillasN1
			where id in (select id from #ids)
				and actId = 1

			delete from dbo.logPlanillasN
			output deleted.id, deleted.planillaN, deleted.planillaOriginal, deleted.fechaProceso, deleted.Mensaje, deleted.fechaPagoAsociado, deleted.periodo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.logPlanillasN_log
			where id in (select id from #logPlanillasN1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla PilaArchivoFRegistro6

	
			declare @PilaArchivoFRegistro61 table (pf6IndicePlanillaOF bigint   not null,pf6IdAportante varchar(16)   not null,pf6NombreAportante varchar(16)   not null,pf6CodBanco varchar(8)   not null,pf6NumeroPlanilla varchar(15)   not null,pf6PeriodoPago varchar(6)   not null,pf6CanalPago varchar(2)   not null,pf6CantidadRegistros int   not null,pf6CodOperadorInformacion varchar(2)   not null,pf6ValorPlanilla numeric (19,  5) not null,pf6HoraMinuto varchar(4)   not null,pf6Secuencia int   not null,pf6EstadoConciliacion varchar(64)   null,pf6PilaArchivoFRegistro5 bigint   not null,pf6Id bigint   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pf6IndicePlanillaOF, pf6IdAportante, pf6NombreAportante, pf6CodBanco, pf6NumeroPlanilla, pf6PeriodoPago, pf6CanalPago, pf6CantidadRegistros, pf6CodOperadorInformacion, pf6ValorPlanilla, pf6HoraMinuto, pf6Secuencia, pf6EstadoConciliacion, pf6PilaArchivoFRegistro5, pf6Id, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PilaArchivoFRegistro6_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PilaArchivoFRegistro61
			execute sp_execute_remote PilaReferenceData, @query
	
			drop table if exists #PilaArchivoFRegistro61

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pf6Id) then 1 else null end as act
				,row_number() over (partition by pf6Id order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PilaArchivoFRegistro61)
			select *
			into #PilaArchivoFRegistro61
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pf6 set pf6.pf6IdAportante = a.pf6IdAportante, pf6.pf6NombreAportante = a.pf6NombreAportante, pf6.pf6CodBanco = a.pf6CodBanco, pf6.pf6NumeroPlanilla = a.pf6NumeroPlanilla, pf6.pf6PeriodoPago = a.pf6PeriodoPago, pf6.pf6CanalPago = a.pf6CanalPago, pf6.pf6CantidadRegistros = a.pf6CantidadRegistros, pf6.pf6CodOperadorInformacion = a.pf6CodOperadorInformacion, pf6.pf6ValorPlanilla = a.pf6ValorPlanilla, pf6.pf6HoraMinuto = a.pf6HoraMinuto, pf6.pf6Secuencia = a.pf6Secuencia, pf6.pf6EstadoConciliacion = a.pf6EstadoConciliacion, pf6.pf6PilaArchivoFRegistro5 = a.pf6PilaArchivoFRegistro5, pf6.pf6Id = a.pf6Id, pf6.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pf6IndicePlanillaOF, inserted.pf6IdAportante, inserted.pf6NombreAportante, inserted.pf6CodBanco, inserted.pf6NumeroPlanilla, inserted.pf6PeriodoPago, inserted.pf6CanalPago, inserted.pf6CantidadRegistros, inserted.pf6CodOperadorInformacion, inserted.pf6ValorPlanilla, inserted.pf6HoraMinuto, inserted.pf6Secuencia, inserted.pf6EstadoConciliacion, inserted.pf6PilaArchivoFRegistro5, inserted.pf6Id, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PilaArchivoFRegistro6_log
			from #PilaArchivoFRegistro61 as a
				inner join dbo.PilaArchivoFRegistro6 as pf6 on a.pf6Id = pf6.pf6Id
			where (a.ultimaFechaModificacion > pf6.ultimaFechaModificacion or pf6.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PilaArchivoFRegistro61)


			drop table if exists #pf6IndicePlanillaOFs
			create table #pf6IndicePlanillaOFs (pf6Id bigInt)
			insert #pf6IndicePlanillaOFs
			select pf6Id from #PilaArchivoFRegistro61
			except 
			select pf6Id from dbo.PilaArchivoFRegistro6

			insert dbo.PilaArchivoFRegistro6 (pf6IndicePlanillaOF, pf6IdAportante, pf6NombreAportante, pf6CodBanco, pf6NumeroPlanilla, pf6PeriodoPago, pf6CanalPago, pf6CantidadRegistros, pf6CodOperadorInformacion, pf6ValorPlanilla, pf6HoraMinuto, pf6Secuencia, pf6EstadoConciliacion, pf6PilaArchivoFRegistro5, pf6Id,ultimaFechaModificacion)
			output inserted.pf6IndicePlanillaOF, inserted.pf6IdAportante, inserted.pf6NombreAportante, inserted.pf6CodBanco, inserted.pf6NumeroPlanilla, inserted.pf6PeriodoPago, inserted.pf6CanalPago, inserted.pf6CantidadRegistros, inserted.pf6CodOperadorInformacion, inserted.pf6ValorPlanilla, inserted.pf6HoraMinuto, inserted.pf6Secuencia, inserted.pf6EstadoConciliacion, inserted.pf6PilaArchivoFRegistro5, inserted.pf6Id
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PilaArchivoFRegistro6_log
			select pf6IndicePlanillaOF, pf6IdAportante, pf6NombreAportante, pf6CodBanco, pf6NumeroPlanilla, pf6PeriodoPago, pf6CanalPago, pf6CantidadRegistros, pf6CodOperadorInformacion, pf6ValorPlanilla, pf6HoraMinuto, pf6Secuencia, pf6EstadoConciliacion, pf6PilaArchivoFRegistro5, pf6Id, ultimaFechaModificacion
			from #PilaArchivoFRegistro61
			where pf6Id in (select pf6Id from #pf6IndicePlanillaOFs)
				and actId = 1

			delete from dbo.PilaArchivoFRegistro6
			output deleted.pf6IndicePlanillaOF, deleted.pf6IdAportante, deleted.pf6NombreAportante, deleted.pf6CodBanco, deleted.pf6NumeroPlanilla, deleted.pf6PeriodoPago, deleted.pf6CanalPago, deleted.pf6CantidadRegistros, deleted.pf6CodOperadorInformacion, deleted.pf6ValorPlanilla, deleted.pf6HoraMinuto, deleted.pf6Secuencia, deleted.pf6EstadoConciliacion, deleted.pf6PilaArchivoFRegistro5, deleted.pf6Id
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PilaArchivoFRegistro6_log
			where pf6Id in (select pf6Id from #PilaArchivoFRegistro61 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla PilaArchivoIPRegistro1

	
			declare @PilaArchivoIPRegistro11 table (ip1Id bigint   not null,ip1IndicePlanilla bigint   not null,ip1Secuencia int   not null,ip1IdAdministradora varchar(16)   not null,ip1DigVerAdministradora smallint   not null,ip1CodAdministradora varchar(6)   not null,ip1NombrePagador varchar(150)   not null,ip1TipoIdPagador varchar(2)   not null,ip1IdPagador varchar(16)   not null,ip1DigVerPagador smallint   null,ip1PeriodoAporte varchar(7)   not null,ip1FechaPago date   null,ip1NumPlanilla varchar(10)   not null,ip1FormaPresentacion varchar(1)   not null,ip1CodSucursal varchar(10)   null,ip1NomSucursal varchar(40)   null,ip1ValorTotalMesadas bigint   not null,ip1CantPensionados int   not null,ip1DiasMora smallint   not null,ip1CodOperador smallint   not null,ip1CantidadReg2 int   not null,ip1FechaActualizacion date   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ip1Id, ip1IndicePlanilla, ip1Secuencia, ip1IdAdministradora, ip1DigVerAdministradora, ip1CodAdministradora, ip1NombrePagador, ip1TipoIdPagador, ip1IdPagador, ip1DigVerPagador, ip1PeriodoAporte, ip1FechaPago, ip1NumPlanilla, ip1FormaPresentacion, ip1CodSucursal, ip1NomSucursal, ip1ValorTotalMesadas, ip1CantPensionados, ip1DiasMora, ip1CodOperador, ip1CantidadReg2, ip1FechaActualizacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PilaArchivoIPRegistro1_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PilaArchivoIPRegistro11
			execute sp_execute_remote PilaReferenceData, @query
	
			drop table if exists #PilaArchivoIPRegistro11

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ip1Id) then 1 else null end as act
				,row_number() over (partition by ip1Id order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PilaArchivoIPRegistro11)
			select *
			into #PilaArchivoIPRegistro11
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ip1 set ip1.ip1IndicePlanilla = a.ip1IndicePlanilla, ip1.ip1Secuencia = a.ip1Secuencia, ip1.ip1IdAdministradora = a.ip1IdAdministradora, ip1.ip1DigVerAdministradora = a.ip1DigVerAdministradora, ip1.ip1CodAdministradora = a.ip1CodAdministradora, ip1.ip1NombrePagador = a.ip1NombrePagador, ip1.ip1TipoIdPagador = a.ip1TipoIdPagador, ip1.ip1IdPagador = a.ip1IdPagador, ip1.ip1DigVerPagador = a.ip1DigVerPagador, ip1.ip1PeriodoAporte = a.ip1PeriodoAporte, ip1.ip1FechaPago = a.ip1FechaPago, ip1.ip1NumPlanilla = a.ip1NumPlanilla, ip1.ip1FormaPresentacion = a.ip1FormaPresentacion, ip1.ip1CodSucursal = a.ip1CodSucursal, ip1.ip1NomSucursal = a.ip1NomSucursal, ip1.ip1ValorTotalMesadas = a.ip1ValorTotalMesadas, ip1.ip1CantPensionados = a.ip1CantPensionados, ip1.ip1DiasMora = a.ip1DiasMora, ip1.ip1CodOperador = a.ip1CodOperador, ip1.ip1CantidadReg2 = a.ip1CantidadReg2, ip1.ip1FechaActualizacion = a.ip1FechaActualizacion, ip1.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ip1Id, inserted.ip1IndicePlanilla, inserted.ip1Secuencia, inserted.ip1IdAdministradora, inserted.ip1DigVerAdministradora, inserted.ip1CodAdministradora, inserted.ip1NombrePagador, inserted.ip1TipoIdPagador, inserted.ip1IdPagador, inserted.ip1DigVerPagador, inserted.ip1PeriodoAporte, inserted.ip1FechaPago, inserted.ip1NumPlanilla, inserted.ip1FormaPresentacion, inserted.ip1CodSucursal, inserted.ip1NomSucursal, inserted.ip1ValorTotalMesadas, inserted.ip1CantPensionados, inserted.ip1DiasMora, inserted.ip1CodOperador, inserted.ip1CantidadReg2, inserted.ip1FechaActualizacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PilaArchivoIPRegistro1_log
			from #PilaArchivoIPRegistro11 as a
				inner join dbo.PilaArchivoIPRegistro1 as ip1 on a.ip1Id = ip1.ip1Id
			where (a.ultimaFechaModificacion > ip1.ultimaFechaModificacion or ip1.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PilaArchivoIPRegistro11)



			drop table if exists #ip1Ids
			create table #ip1Ids (ip1Id bigInt)
			insert #ip1Ids
			select ip1Id from #PilaArchivoIPRegistro11
			except 
			select ip1Id from dbo.PilaArchivoIPRegistro1

			insert dbo.PilaArchivoIPRegistro1 (ip1Id, ip1IndicePlanilla, ip1Secuencia, ip1IdAdministradora, ip1DigVerAdministradora, ip1CodAdministradora, ip1NombrePagador, ip1TipoIdPagador, ip1IdPagador, ip1DigVerPagador, ip1PeriodoAporte, ip1FechaPago, ip1NumPlanilla, ip1FormaPresentacion, ip1CodSucursal, ip1NomSucursal, ip1ValorTotalMesadas, ip1CantPensionados, ip1DiasMora, ip1CodOperador, ip1CantidadReg2, ip1FechaActualizacion,ultimaFechaModificacion)
			output inserted.ip1Id, inserted.ip1IndicePlanilla, inserted.ip1Secuencia, inserted.ip1IdAdministradora, inserted.ip1DigVerAdministradora, inserted.ip1CodAdministradora, inserted.ip1NombrePagador, inserted.ip1TipoIdPagador, inserted.ip1IdPagador, inserted.ip1DigVerPagador, inserted.ip1PeriodoAporte, inserted.ip1FechaPago, inserted.ip1NumPlanilla, inserted.ip1FormaPresentacion, inserted.ip1CodSucursal, inserted.ip1NomSucursal, inserted.ip1ValorTotalMesadas, inserted.ip1CantPensionados, inserted.ip1DiasMora, inserted.ip1CodOperador, inserted.ip1CantidadReg2, inserted.ip1FechaActualizacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PilaArchivoIPRegistro1_log
			select ip1Id, ip1IndicePlanilla, ip1Secuencia, ip1IdAdministradora, ip1DigVerAdministradora, ip1CodAdministradora, ip1NombrePagador, ip1TipoIdPagador, ip1IdPagador, ip1DigVerPagador, ip1PeriodoAporte, ip1FechaPago, ip1NumPlanilla, ip1FormaPresentacion, ip1CodSucursal, ip1NomSucursal, ip1ValorTotalMesadas, ip1CantPensionados, ip1DiasMora, ip1CodOperador, ip1CantidadReg2, ip1FechaActualizacion, ultimaFechaModificacion
			from #PilaArchivoIPRegistro11
			where ip1Id in (select ip1Id from #ip1Ids)
				and actId = 1

			delete from dbo.PilaArchivoIPRegistro1
			output deleted.ip1Id, deleted.ip1IndicePlanilla, deleted.ip1Secuencia, deleted.ip1IdAdministradora, deleted.ip1DigVerAdministradora, deleted.ip1CodAdministradora, deleted.ip1NombrePagador, deleted.ip1TipoIdPagador, deleted.ip1IdPagador, deleted.ip1DigVerPagador, deleted.ip1PeriodoAporte, deleted.ip1FechaPago, deleted.ip1NumPlanilla, deleted.ip1FormaPresentacion, deleted.ip1CodSucursal, deleted.ip1NomSucursal, deleted.ip1ValorTotalMesadas, deleted.ip1CantPensionados, deleted.ip1DiasMora, deleted.ip1CodOperador, deleted.ip1CantidadReg2, deleted.ip1FechaActualizacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PilaArchivoIPRegistro1_log
			where ip1Id in (select ip1Id from #PilaArchivoIPRegistro11 where operacion = 1 and actId = 1)
				
				
			

			declare @PilaArchivoIPRegistro21 table (ip2Id bigint   not null, ip2IndicePlanilla bigint   not null,ip2Secuencia int   not null,ip2TipoIdPensionado varchar(2)   not null,ip2IdPensionado varchar(16)   not null,ip2PrimerApellido varchar(20)   not null,ip2SegundoApellido varchar(30)   null,ip2PrimerNombre varchar(20)   not null,ip2SegundoNombre varchar(30)   null,ip2CodDepartamento varchar(2)   not null,ip2CodMunicipio varchar(3)   not null,ip2Tarifa numeric (5,  5) not null,ip2ValorAporte numeric (19,  5) not null,ip2ValorMesada numeric (19,  5) not null,ip2DiasCotizados smallint   not null,ip2NovING varchar(1)   null,ip2NovRET varchar(1)   null,ip2NovVSP varchar(1)   null,ip2NovSUS varchar(1)   null,ip2FechaIngreso date   null,ip2FechaRetiro date   null,ip2FechaInicioVSP date   null,ip2FechaInicioSuspension date   null,ip2FechaFinSuspension date   null, ip2Correcion varchar(1)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ip2Id, ip2IndicePlanilla, ip2Secuencia, ip2TipoIdPensionado, ip2IdPensionado, ip2PrimerApellido, ip2SegundoApellido, ip2PrimerNombre, ip2SegundoNombre, ip2CodDepartamento, ip2CodMunicipio, ip2Tarifa, ip2ValorAporte, ip2ValorMesada, ip2DiasCotizados, ip2NovING, ip2NovRET, ip2NovVSP, ip2NovSUS, ip2FechaIngreso, ip2FechaRetiro, ip2FechaInicioVSP, ip2FechaInicioSuspension, ip2FechaFinSuspension, ip2Correcion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PilaArchivoIPRegistro2_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PilaArchivoIPRegistro21
			execute sp_execute_remote PilaReferenceData, @query
				
			drop table if exists #PilaArchivoIPRegistro21

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ip2Id) then 1 else null end as act
				,row_number() over (partition by ip2Id order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PilaArchivoIPRegistro21)
			select *
			into #PilaArchivoIPRegistro21
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			
			update ip2 set ip2.ip2IndicePlanilla = a.ip2IndicePlanilla, ip2.ip2Secuencia = a.ip2Secuencia, ip2.ip2TipoIdPensionado = a.ip2TipoIdPensionado, ip2.ip2IdPensionado = a.ip2IdPensionado, ip2.ip2PrimerApellido = a.ip2PrimerApellido, ip2.ip2SegundoApellido = a.ip2SegundoApellido, ip2.ip2PrimerNombre = a.ip2PrimerNombre, ip2.ip2SegundoNombre = a.ip2SegundoNombre, ip2.ip2CodDepartamento = a.ip2CodDepartamento, ip2.ip2CodMunicipio = a.ip2CodMunicipio, ip2.ip2Tarifa = a.ip2Tarifa, ip2.ip2ValorAporte = a.ip2ValorAporte, ip2.ip2ValorMesada = a.ip2ValorMesada, ip2.ip2DiasCotizados = a.ip2DiasCotizados, ip2.ip2NovING = a.ip2NovING, ip2.ip2NovRET = a.ip2NovRET, ip2.ip2NovVSP = a.ip2NovVSP, ip2.ip2NovSUS = a.ip2NovSUS, ip2.ip2FechaIngreso = a.ip2FechaIngreso, ip2.ip2FechaRetiro = a.ip2FechaRetiro, ip2.ip2FechaInicioVSP = a.ip2FechaInicioVSP, ip2.ip2FechaInicioSuspension = a.ip2FechaInicioSuspension, ip2.ip2FechaFinSuspension = a.ip2FechaFinSuspension, ip2.ip2Correcion = a.ip2Correcion, ip2.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ip2IndicePlanilla, inserted.ip2Secuencia, inserted.ip2TipoIdPensionado, inserted.ip2IdPensionado, inserted.ip2PrimerApellido, inserted.ip2SegundoApellido, inserted.ip2PrimerNombre, inserted.ip2SegundoNombre, inserted.ip2CodDepartamento, inserted.ip2CodMunicipio, inserted.ip2Tarifa, inserted.ip2ValorAporte, inserted.ip2ValorMesada, inserted.ip2DiasCotizados, inserted.ip2NovING, inserted.ip2NovRET, inserted.ip2NovVSP, inserted.ip2NovSUS, inserted.ip2FechaIngreso, inserted.ip2FechaRetiro, inserted.ip2FechaInicioVSP, inserted.ip2FechaInicioSuspension, inserted.ip2FechaFinSuspension, inserted.ip2Id, inserted.ip2Correcion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PilaArchivoIPRegistro2_log
			from #PilaArchivoIPRegistro21 as a
				inner join dbo.PilaArchivoIPRegistro2 as ip2 on a.ip2Id = ip2.ip2Id
			where (a.ultimaFechaModificacion > ip2.ultimaFechaModificacion or ip2.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PilaArchivoIPRegistro21)



			drop table if exists #ip2Ids
			create table #ip2Ids (ip2Id bigInt)
			insert #ip2Ids
			select ip2Id from #PilaArchivoIPRegistro21
			except 
			select ip2Id from dbo.PilaArchivoIPRegistro2



			insert dbo.PilaArchivoIPRegistro2 (ip2Id, ip2IndicePlanilla, ip2Secuencia, ip2TipoIdPensionado, ip2IdPensionado, ip2PrimerApellido, ip2SegundoApellido, ip2PrimerNombre, ip2SegundoNombre, ip2CodDepartamento, ip2CodMunicipio, ip2Tarifa, ip2ValorAporte, ip2ValorMesada, ip2DiasCotizados, ip2NovING, ip2NovRET, ip2NovVSP, ip2NovSUS, ip2FechaIngreso, ip2FechaRetiro, ip2FechaInicioVSP, ip2FechaInicioSuspension, ip2FechaFinSuspension, ip2Correcion,ultimaFechaModificacion)
			output inserted.ip2IndicePlanilla, inserted.ip2Secuencia, inserted.ip2TipoIdPensionado, inserted.ip2IdPensionado, inserted.ip2PrimerApellido, inserted.ip2SegundoApellido, inserted.ip2PrimerNombre, inserted.ip2SegundoNombre, inserted.ip2CodDepartamento, inserted.ip2CodMunicipio, inserted.ip2Tarifa, inserted.ip2ValorAporte, inserted.ip2ValorMesada, inserted.ip2DiasCotizados, inserted.ip2NovING, inserted.ip2NovRET, inserted.ip2NovVSP, inserted.ip2NovSUS, inserted.ip2FechaIngreso, inserted.ip2FechaRetiro, inserted.ip2FechaInicioVSP, inserted.ip2FechaInicioSuspension, inserted.ip2FechaFinSuspension, inserted.ip2Id, inserted.ip2Correcion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PilaArchivoIPRegistro2_log
			select ip2Id, ip2IndicePlanilla, ip2Secuencia, ip2TipoIdPensionado, ip2IdPensionado, ip2PrimerApellido, ip2SegundoApellido, ip2PrimerNombre, ip2SegundoNombre, ip2CodDepartamento, ip2CodMunicipio, ip2Tarifa, ip2ValorAporte, ip2ValorMesada, ip2DiasCotizados, ip2NovING, ip2NovRET, ip2NovVSP, ip2NovSUS, ip2FechaIngreso, ip2FechaRetiro, ip2FechaInicioVSP, ip2FechaInicioSuspension, ip2FechaFinSuspension, ip2Correcion, ultimaFechaModificacion
			from #PilaArchivoIPRegistro21
			where ip2Id in (select ip2Id from #ip2Ids)
				and actId = 1

			delete from dbo.PilaArchivoIPRegistro2
			output deleted.ip2IndicePlanilla, deleted.ip2Secuencia, deleted.ip2TipoIdPensionado, deleted.ip2IdPensionado, deleted.ip2PrimerApellido, deleted.ip2SegundoApellido, deleted.ip2PrimerNombre, deleted.ip2SegundoNombre, deleted.ip2CodDepartamento, deleted.ip2CodMunicipio, deleted.ip2Tarifa, deleted.ip2ValorAporte, deleted.ip2ValorMesada, deleted.ip2DiasCotizados, deleted.ip2NovING, deleted.ip2NovRET, deleted.ip2NovVSP, deleted.ip2NovSUS, deleted.ip2FechaIngreso, deleted.ip2FechaRetiro, deleted.ip2FechaInicioVSP, deleted.ip2FechaInicioSuspension, deleted.ip2FechaFinSuspension, deleted.ip2Id, deleted.ip2Correcion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PilaArchivoIPRegistro2_log
			where ip2Id in (select ip2Id from #PilaArchivoIPRegistro21 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla PilaArchivoIPRegistro3

	
			declare @PilaArchivoIPRegistro31 table (ip3Id bigint   not null,ip3IndicePlanilla bigint   not null,ip3ValorTotalAporte numeric (19,  5) not null,ip3DiasMora smallint   not null,ip3ValorMora numeric (19,  5) not null,ip3ValorTotalPagar numeric (19,  5) not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ip3Id, ip3IndicePlanilla, ip3ValorTotalAporte, ip3DiasMora, ip3ValorMora, ip3ValorTotalPagar, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PilaArchivoIPRegistro3_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PilaArchivoIPRegistro31
			execute sp_execute_remote PilaReferenceData, @query
	
			drop table if exists #PilaArchivoIPRegistro31

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ip3Id) then 1 else null end as act
				,row_number() over (partition by ip3Id order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PilaArchivoIPRegistro31)
			select *
			into #PilaArchivoIPRegistro31
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ip3 set ip3.ip3IndicePlanilla = a.ip3IndicePlanilla, ip3.ip3ValorTotalAporte = a.ip3ValorTotalAporte, ip3.ip3DiasMora = a.ip3DiasMora, ip3.ip3ValorMora = a.ip3ValorMora, ip3.ip3ValorTotalPagar = a.ip3ValorTotalPagar, ip3.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ip3Id, inserted.ip3IndicePlanilla, inserted.ip3ValorTotalAporte, inserted.ip3DiasMora, inserted.ip3ValorMora, inserted.ip3ValorTotalPagar, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PilaArchivoIPRegistro3_log
			from #PilaArchivoIPRegistro31 as a
				inner join dbo.PilaArchivoIPRegistro3 as ip3 on a.ip3Id = ip3.ip3Id
			where (a.ultimaFechaModificacion > ip3.ultimaFechaModificacion or ip3.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PilaArchivoIPRegistro31)



			drop table if exists #ip3Ids
			create table #ip3Ids (ip3Id bigInt)
			insert #ip3Ids
			select ip3Id from #PilaArchivoIPRegistro31
			except 
			select ip3Id from dbo.PilaArchivoIPRegistro3

			insert dbo.PilaArchivoIPRegistro3 (ip3Id, ip3IndicePlanilla, ip3ValorTotalAporte, ip3DiasMora, ip3ValorMora, ip3ValorTotalPagar,ultimaFechaModificacion)
			output inserted.ip3Id, inserted.ip3IndicePlanilla, inserted.ip3ValorTotalAporte, inserted.ip3DiasMora, inserted.ip3ValorMora, inserted.ip3ValorTotalPagar
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PilaArchivoIPRegistro3_log
			select ip3Id, ip3IndicePlanilla, ip3ValorTotalAporte, ip3DiasMora, ip3ValorMora, ip3ValorTotalPagar, ultimaFechaModificacion
			from #PilaArchivoIPRegistro31
			where ip3Id in (select ip3Id from #ip3Ids)
				and actId = 1

			delete from dbo.PilaArchivoIPRegistro3
			output deleted.ip3Id, deleted.ip3IndicePlanilla, deleted.ip3ValorTotalAporte, deleted.ip3DiasMora, deleted.ip3ValorMora, deleted.ip3ValorTotalPagar
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PilaArchivoIPRegistro3_log
			where ip3Id in (select ip3Id from #PilaArchivoIPRegistro31 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla PilaArchivoIRegistro1

	
			declare @PilaArchivoIRegistro11 table (pi1Id bigint   not null,pi1IndicePlanilla bigint   not null,pi1IdCCF varchar(16)   not null,pi1DigVerCCF smallint   not null,pi1RazonSocial varchar(200)   not null,pi1TipoDocAportante varchar(2)   not null,pi1IdAportante varchar(16)   not null,pi1DigVerAportante smallint   null,pi1TipoAportante varchar(2)   not null,pi1Direccion varchar(40)   not null,pi1CodCiudad varchar(3)   not null,pi1CodDepartamento varchar(2)   not null,pi1Telefono bigint   not null,pi1Fax bigint   null,pi1Email varchar(60)   not null,pi1PeriodoAporte varchar(7)   not null,pi1TipoPlanilla varchar(1)   not null,pi1FechaPagoAsociado date   null,pi1FechaPago date   not null,pi1NumPlanillaAsociada varchar(10)   null,pi1NumPlanilla varchar(10)   not null,pi1Presentacion varchar(1)   not null,pi1CodSucursal varchar(10)   null,pi1NomSucursal varchar(40)   null,pi1CantidadEmpleados int   not null,pi1CantidadAfiliados int   not null,pi1CodOperador smallint   not null,pi1ModalidadPlanilla smallint   not null,pi1DiasMora smallint   not null,pi1CantidadReg2 int   not null,pi1FechaMatricula date   null,pi1CodDepartamentoBeneficio varchar(2)   null,pi1AcogeBeneficio varchar(1)   not null,pi1ClaseAportante varchar(1)   not null,pi1NaturalezaJuridica smallint   not null,pi1TipoPersona varchar(1)   not null,pi1FechaActualizacion date   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pi1Id, pi1IndicePlanilla, pi1IdCCF, pi1DigVerCCF, pi1RazonSocial, pi1TipoDocAportante, pi1IdAportante, pi1DigVerAportante, pi1TipoAportante, pi1Direccion, pi1CodCiudad, pi1CodDepartamento, pi1Telefono, pi1Fax, pi1Email, pi1PeriodoAporte, pi1TipoPlanilla, pi1FechaPagoAsociado, pi1FechaPago, pi1NumPlanillaAsociada, pi1NumPlanilla, pi1Presentacion, pi1CodSucursal, pi1NomSucursal, pi1CantidadEmpleados, pi1CantidadAfiliados, pi1CodOperador, pi1ModalidadPlanilla, pi1DiasMora, pi1CantidadReg2, pi1FechaMatricula, pi1CodDepartamentoBeneficio, pi1AcogeBeneficio, pi1ClaseAportante, pi1NaturalezaJuridica, pi1TipoPersona, pi1FechaActualizacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PilaArchivoIRegistro1_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PilaArchivoIRegistro11
			execute sp_execute_remote PilaReferenceData, @query
	
			drop table if exists #PilaArchivoIRegistro11

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pi1Id) then 1 else null end as act
				,row_number() over (partition by pi1Id order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PilaArchivoIRegistro11)
			select *
			into #PilaArchivoIRegistro11
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pi1 set pi1.pi1IndicePlanilla = a.pi1IndicePlanilla, pi1.pi1IdCCF = a.pi1IdCCF, pi1.pi1DigVerCCF = a.pi1DigVerCCF, pi1.pi1RazonSocial = a.pi1RazonSocial, pi1.pi1TipoDocAportante = a.pi1TipoDocAportante, pi1.pi1IdAportante = a.pi1IdAportante, pi1.pi1DigVerAportante = a.pi1DigVerAportante, pi1.pi1TipoAportante = a.pi1TipoAportante, pi1.pi1Direccion = a.pi1Direccion, pi1.pi1CodCiudad = a.pi1CodCiudad, pi1.pi1CodDepartamento = a.pi1CodDepartamento, pi1.pi1Telefono = a.pi1Telefono, pi1.pi1Fax = a.pi1Fax, pi1.pi1Email = a.pi1Email, pi1.pi1PeriodoAporte = a.pi1PeriodoAporte, pi1.pi1TipoPlanilla = a.pi1TipoPlanilla, pi1.pi1FechaPagoAsociado = a.pi1FechaPagoAsociado, pi1.pi1FechaPago = a.pi1FechaPago, pi1.pi1NumPlanillaAsociada = a.pi1NumPlanillaAsociada, pi1.pi1NumPlanilla = a.pi1NumPlanilla, pi1.pi1Presentacion = a.pi1Presentacion, pi1.pi1CodSucursal = a.pi1CodSucursal, pi1.pi1NomSucursal = a.pi1NomSucursal, pi1.pi1CantidadEmpleados = a.pi1CantidadEmpleados, pi1.pi1CantidadAfiliados = a.pi1CantidadAfiliados, pi1.pi1CodOperador = a.pi1CodOperador, pi1.pi1ModalidadPlanilla = a.pi1ModalidadPlanilla, pi1.pi1DiasMora = a.pi1DiasMora, pi1.pi1CantidadReg2 = a.pi1CantidadReg2, pi1.pi1FechaMatricula = a.pi1FechaMatricula, pi1.pi1CodDepartamentoBeneficio = a.pi1CodDepartamentoBeneficio, pi1.pi1AcogeBeneficio = a.pi1AcogeBeneficio, pi1.pi1ClaseAportante = a.pi1ClaseAportante, pi1.pi1NaturalezaJuridica = a.pi1NaturalezaJuridica, pi1.pi1TipoPersona = a.pi1TipoPersona, pi1.pi1FechaActualizacion = a.pi1FechaActualizacion, pi1.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pi1Id, inserted.pi1IndicePlanilla, inserted.pi1IdCCF, inserted.pi1DigVerCCF, inserted.pi1RazonSocial, inserted.pi1TipoDocAportante, inserted.pi1IdAportante, inserted.pi1DigVerAportante, inserted.pi1TipoAportante, inserted.pi1Direccion, inserted.pi1CodCiudad, inserted.pi1CodDepartamento, inserted.pi1Telefono, inserted.pi1Fax, inserted.pi1Email, inserted.pi1PeriodoAporte, inserted.pi1TipoPlanilla, inserted.pi1FechaPagoAsociado, inserted.pi1FechaPago, inserted.pi1NumPlanillaAsociada, inserted.pi1NumPlanilla, inserted.pi1Presentacion, inserted.pi1CodSucursal, inserted.pi1NomSucursal, inserted.pi1CantidadEmpleados, inserted.pi1CantidadAfiliados, inserted.pi1CodOperador, inserted.pi1ModalidadPlanilla, inserted.pi1DiasMora, inserted.pi1CantidadReg2, inserted.pi1FechaMatricula, inserted.pi1CodDepartamentoBeneficio, inserted.pi1AcogeBeneficio, inserted.pi1ClaseAportante, inserted.pi1NaturalezaJuridica, inserted.pi1TipoPersona, inserted.pi1FechaActualizacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PilaArchivoIRegistro1_log
			from #PilaArchivoIRegistro11 as a
				inner join dbo.PilaArchivoIRegistro1 as pi1 on a.pi1Id = pi1.pi1Id
			where (a.ultimaFechaModificacion > pi1.ultimaFechaModificacion or pi1.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PilaArchivoIRegistro11)



			drop table if exists #pi1Ids
			create table #pi1Ids (pi1Id bigInt)
			insert #pi1Ids
			select pi1Id from #PilaArchivoIRegistro11
			except 
			select pi1Id from dbo.PilaArchivoIRegistro1

			insert dbo.PilaArchivoIRegistro1 (pi1Id, pi1IndicePlanilla, pi1IdCCF, pi1DigVerCCF, pi1RazonSocial, pi1TipoDocAportante, pi1IdAportante, pi1DigVerAportante, pi1TipoAportante, pi1Direccion, pi1CodCiudad, pi1CodDepartamento, pi1Telefono, pi1Fax, pi1Email, pi1PeriodoAporte, pi1TipoPlanilla, pi1FechaPagoAsociado, pi1FechaPago, pi1NumPlanillaAsociada, pi1NumPlanilla, pi1Presentacion, pi1CodSucursal, pi1NomSucursal, pi1CantidadEmpleados, pi1CantidadAfiliados, pi1CodOperador, pi1ModalidadPlanilla, pi1DiasMora, pi1CantidadReg2, pi1FechaMatricula, pi1CodDepartamentoBeneficio, pi1AcogeBeneficio, pi1ClaseAportante, pi1NaturalezaJuridica, pi1TipoPersona, pi1FechaActualizacion,ultimaFechaModificacion)
			output inserted.pi1Id, inserted.pi1IndicePlanilla, inserted.pi1IdCCF, inserted.pi1DigVerCCF, inserted.pi1RazonSocial, inserted.pi1TipoDocAportante, inserted.pi1IdAportante, inserted.pi1DigVerAportante, inserted.pi1TipoAportante, inserted.pi1Direccion, inserted.pi1CodCiudad, inserted.pi1CodDepartamento, inserted.pi1Telefono, inserted.pi1Fax, inserted.pi1Email, inserted.pi1PeriodoAporte, inserted.pi1TipoPlanilla, inserted.pi1FechaPagoAsociado, inserted.pi1FechaPago, inserted.pi1NumPlanillaAsociada, inserted.pi1NumPlanilla, inserted.pi1Presentacion, inserted.pi1CodSucursal, inserted.pi1NomSucursal, inserted.pi1CantidadEmpleados, inserted.pi1CantidadAfiliados, inserted.pi1CodOperador, inserted.pi1ModalidadPlanilla, inserted.pi1DiasMora, inserted.pi1CantidadReg2, inserted.pi1FechaMatricula, inserted.pi1CodDepartamentoBeneficio, inserted.pi1AcogeBeneficio, inserted.pi1ClaseAportante, inserted.pi1NaturalezaJuridica, inserted.pi1TipoPersona, inserted.pi1FechaActualizacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PilaArchivoIRegistro1_log
			select pi1Id, pi1IndicePlanilla, pi1IdCCF, pi1DigVerCCF, pi1RazonSocial, pi1TipoDocAportante, pi1IdAportante, pi1DigVerAportante, pi1TipoAportante, pi1Direccion, pi1CodCiudad, pi1CodDepartamento, pi1Telefono, pi1Fax, pi1Email, pi1PeriodoAporte, pi1TipoPlanilla, pi1FechaPagoAsociado, pi1FechaPago, pi1NumPlanillaAsociada, pi1NumPlanilla, pi1Presentacion, pi1CodSucursal, pi1NomSucursal, pi1CantidadEmpleados, pi1CantidadAfiliados, pi1CodOperador, pi1ModalidadPlanilla, pi1DiasMora, pi1CantidadReg2, pi1FechaMatricula, pi1CodDepartamentoBeneficio, pi1AcogeBeneficio, pi1ClaseAportante, pi1NaturalezaJuridica, pi1TipoPersona, pi1FechaActualizacion, ultimaFechaModificacion
			from #PilaArchivoIRegistro11
			where pi1Id in (select pi1Id from #pi1Ids)
				and actId = 1

			delete from dbo.PilaArchivoIRegistro1
			output deleted.pi1Id, deleted.pi1IndicePlanilla, deleted.pi1IdCCF, deleted.pi1DigVerCCF, deleted.pi1RazonSocial, deleted.pi1TipoDocAportante, deleted.pi1IdAportante, deleted.pi1DigVerAportante, deleted.pi1TipoAportante, deleted.pi1Direccion, deleted.pi1CodCiudad, deleted.pi1CodDepartamento, deleted.pi1Telefono, deleted.pi1Fax, deleted.pi1Email, deleted.pi1PeriodoAporte, deleted.pi1TipoPlanilla, deleted.pi1FechaPagoAsociado, deleted.pi1FechaPago, deleted.pi1NumPlanillaAsociada, deleted.pi1NumPlanilla, deleted.pi1Presentacion, deleted.pi1CodSucursal, deleted.pi1NomSucursal, deleted.pi1CantidadEmpleados, deleted.pi1CantidadAfiliados, deleted.pi1CodOperador, deleted.pi1ModalidadPlanilla, deleted.pi1DiasMora, deleted.pi1CantidadReg2, deleted.pi1FechaMatricula, deleted.pi1CodDepartamentoBeneficio, deleted.pi1AcogeBeneficio, deleted.pi1ClaseAportante, deleted.pi1NaturalezaJuridica, deleted.pi1TipoPersona, deleted.pi1FechaActualizacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PilaArchivoIRegistro1_log
			where pi1Id in (select pi1Id from #PilaArchivoIRegistro11 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla PilaArchivoIRegistro3

	
			declare @PilaArchivoIRegistro31 table (pi3Id bigint   not null,pi3IndicePlanilla bigint   not null,pi3ValorTotalIBC numeric (19,  5) null,pi3ValorTotalAporteObligatorio numeric (19,  5) null,pi3DiasMora smallint   null,pi3ValorMora numeric (19,  5) null,pi3ValorTotalAportes numeric (19,  5) null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pi3Id, pi3IndicePlanilla, pi3ValorTotalIBC, pi3ValorTotalAporteObligatorio, pi3DiasMora, pi3ValorMora, pi3ValorTotalAportes, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PilaArchivoIRegistro3_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PilaArchivoIRegistro31
			execute sp_execute_remote PilaReferenceData, @query
	
			drop table if exists #PilaArchivoIRegistro31

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pi3Id) then 1 else null end as act
				,row_number() over (partition by pi3Id order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PilaArchivoIRegistro31)
			select *
			into #PilaArchivoIRegistro31
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pi3 set pi3.pi3IndicePlanilla = a.pi3IndicePlanilla, pi3.pi3ValorTotalIBC = a.pi3ValorTotalIBC, pi3.pi3ValorTotalAporteObligatorio = a.pi3ValorTotalAporteObligatorio, pi3.pi3DiasMora = a.pi3DiasMora, pi3.pi3ValorMora = a.pi3ValorMora, pi3.pi3ValorTotalAportes = a.pi3ValorTotalAportes, pi3.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pi3Id, inserted.pi3IndicePlanilla, inserted.pi3ValorTotalIBC, inserted.pi3ValorTotalAporteObligatorio, inserted.pi3DiasMora, inserted.pi3ValorMora, inserted.pi3ValorTotalAportes, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PilaArchivoIRegistro3_log
			from #PilaArchivoIRegistro31 as a
				inner join dbo.PilaArchivoIRegistro3 as pi3 on a.pi3Id = pi3.pi3Id
			where (a.ultimaFechaModificacion > pi3.ultimaFechaModificacion or pi3.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PilaArchivoIRegistro31)



			drop table if exists #pi3Ids
			create table #pi3Ids (pi3Id bigInt)
			insert #pi3Ids
			select pi3Id from #PilaArchivoIRegistro31
			except 
			select pi3Id from dbo.PilaArchivoIRegistro3

			insert dbo.PilaArchivoIRegistro3 (pi3Id, pi3IndicePlanilla, pi3ValorTotalIBC, pi3ValorTotalAporteObligatorio, pi3DiasMora, pi3ValorMora, pi3ValorTotalAportes,ultimaFechaModificacion)
			output inserted.pi3Id, inserted.pi3IndicePlanilla, inserted.pi3ValorTotalIBC, inserted.pi3ValorTotalAporteObligatorio, inserted.pi3DiasMora, inserted.pi3ValorMora, inserted.pi3ValorTotalAportes
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PilaArchivoIRegistro3_log
			select pi3Id, pi3IndicePlanilla, pi3ValorTotalIBC, pi3ValorTotalAporteObligatorio, pi3DiasMora, pi3ValorMora, pi3ValorTotalAportes, ultimaFechaModificacion
			from #PilaArchivoIRegistro31
			where pi3Id in (select pi3Id from #pi3Ids)
				and actId = 1

			delete from dbo.PilaArchivoIRegistro3
			output deleted.pi3Id, deleted.pi3IndicePlanilla, deleted.pi3ValorTotalIBC, deleted.pi3ValorTotalAporteObligatorio, deleted.pi3DiasMora, deleted.pi3ValorMora, deleted.pi3ValorTotalAportes
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PilaArchivoIRegistro3_log
			where pi3Id in (select pi3Id from #PilaArchivoIRegistro31 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla PilaEstadoBloque

	
			declare @PilaEstadoBloque1 table (pebId bigint   not null,pebIndicePlanilla bigint   not null,pebTipoArchivo varchar(20)   not null,pebEstadoBloque0 varchar(75)   null,pebAccionBloque0 varchar(75)   null,pebEstadoBloque1 varchar(75)   null,pebAccionBloque1 varchar(75)   null,pebEstadoBloque2 varchar(75)   null,pebAccionBloque2 varchar(75)   null,pebEstadoBloque3 varchar(75)   null,pebAccionBloque3 varchar(75)   null,pebEstadoBloque4 varchar(75)   null,pebAccionBloque4 varchar(75)   null,pebEstadoBloque5 varchar(75)   null,pebAccionBloque5 varchar(75)   null,pebEstadoBloque6 varchar(75)   null,pebAccionBloque6 varchar(75)   null,pebEstadoBloque7 varchar(75)   null,pebAccionBloque7 varchar(75)   null,pebEstadoBloque8 varchar(75)   null,pebAccionBloque8 varchar(75)   null,pebEstadoBloque9 varchar(75)   null,pebAccionBloque9 varchar(75)   null,pebEstadoBloque10 varchar(75)   null,pebAccionBloque10 varchar(75)   null,pebFechaBloque0 datetime   null,pebFechaBloque1 datetime   null,pebFechaBloque2 datetime   null,pebFechaBloque3 datetime   null,pebFechaBloque4 datetime   null,pebFechaBloque5 datetime   null,pebFechaBloque6 datetime   null,pebFechaBloque7 datetime   null,pebFechaBloque8 datetime   null,pebFechaBloque9 datetime   null,pebFechaBloque10 datetime   null,pebDateTimeInsert datetime   null,pebDateTimeUpdate datetime   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pebId, pebIndicePlanilla, pebTipoArchivo, pebEstadoBloque0, pebAccionBloque0, pebEstadoBloque1, pebAccionBloque1, pebEstadoBloque2, pebAccionBloque2, pebEstadoBloque3, pebAccionBloque3, pebEstadoBloque4, pebAccionBloque4, pebEstadoBloque5, pebAccionBloque5, pebEstadoBloque6, pebAccionBloque6, pebEstadoBloque7, pebAccionBloque7, pebEstadoBloque8, pebAccionBloque8, pebEstadoBloque9, pebAccionBloque9, pebEstadoBloque10, pebAccionBloque10, pebFechaBloque0, pebFechaBloque1, pebFechaBloque2, pebFechaBloque3, pebFechaBloque4, pebFechaBloque5, pebFechaBloque6, pebFechaBloque7, pebFechaBloque8, pebFechaBloque9, pebFechaBloque10, pebDateTimeInsert, pebDateTimeUpdate, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PilaEstadoBloque_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PilaEstadoBloque1
			execute sp_execute_remote PilaReferenceData, @query
	
			drop table if exists #PilaEstadoBloque1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pebId) then 1 else null end as act
				,row_number() over (partition by pebId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PilaEstadoBloque1)
			select *
			into #PilaEstadoBloque1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update peb set peb.pebIndicePlanilla = a.pebIndicePlanilla, peb.pebTipoArchivo = a.pebTipoArchivo, peb.pebEstadoBloque0 = a.pebEstadoBloque0, peb.pebAccionBloque0 = a.pebAccionBloque0, peb.pebEstadoBloque1 = a.pebEstadoBloque1, peb.pebAccionBloque1 = a.pebAccionBloque1, peb.pebEstadoBloque2 = a.pebEstadoBloque2, peb.pebAccionBloque2 = a.pebAccionBloque2, peb.pebEstadoBloque3 = a.pebEstadoBloque3, peb.pebAccionBloque3 = a.pebAccionBloque3, peb.pebEstadoBloque4 = a.pebEstadoBloque4, peb.pebAccionBloque4 = a.pebAccionBloque4, peb.pebEstadoBloque5 = a.pebEstadoBloque5, peb.pebAccionBloque5 = a.pebAccionBloque5, peb.pebEstadoBloque6 = a.pebEstadoBloque6, peb.pebAccionBloque6 = a.pebAccionBloque6, peb.pebEstadoBloque7 = a.pebEstadoBloque7, peb.pebAccionBloque7 = a.pebAccionBloque7, peb.pebEstadoBloque8 = a.pebEstadoBloque8, peb.pebAccionBloque8 = a.pebAccionBloque8, peb.pebEstadoBloque9 = a.pebEstadoBloque9, peb.pebAccionBloque9 = a.pebAccionBloque9, peb.pebEstadoBloque10 = a.pebEstadoBloque10, peb.pebAccionBloque10 = a.pebAccionBloque10, peb.pebFechaBloque0 = a.pebFechaBloque0, peb.pebFechaBloque1 = a.pebFechaBloque1, peb.pebFechaBloque2 = a.pebFechaBloque2, peb.pebFechaBloque3 = a.pebFechaBloque3, peb.pebFechaBloque4 = a.pebFechaBloque4, peb.pebFechaBloque5 = a.pebFechaBloque5, peb.pebFechaBloque6 = a.pebFechaBloque6, peb.pebFechaBloque7 = a.pebFechaBloque7, peb.pebFechaBloque8 = a.pebFechaBloque8, peb.pebFechaBloque9 = a.pebFechaBloque9, peb.pebFechaBloque10 = a.pebFechaBloque10, peb.pebDateTimeInsert = a.pebDateTimeInsert, peb.pebDateTimeUpdate = a.pebDateTimeUpdate, peb.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pebId, inserted.pebIndicePlanilla, inserted.pebTipoArchivo, inserted.pebEstadoBloque0, inserted.pebAccionBloque0, inserted.pebEstadoBloque1, inserted.pebAccionBloque1, inserted.pebEstadoBloque2, inserted.pebAccionBloque2, inserted.pebEstadoBloque3, inserted.pebAccionBloque3, inserted.pebEstadoBloque4, inserted.pebAccionBloque4, inserted.pebEstadoBloque5, inserted.pebAccionBloque5, inserted.pebEstadoBloque6, inserted.pebAccionBloque6, inserted.pebEstadoBloque7, inserted.pebAccionBloque7, inserted.pebEstadoBloque8, inserted.pebAccionBloque8, inserted.pebEstadoBloque9, inserted.pebAccionBloque9, inserted.pebEstadoBloque10, inserted.pebAccionBloque10, inserted.pebFechaBloque0, inserted.pebFechaBloque1, inserted.pebFechaBloque2, inserted.pebFechaBloque3, inserted.pebFechaBloque4, inserted.pebFechaBloque5, inserted.pebFechaBloque6, inserted.pebFechaBloque7, inserted.pebFechaBloque8, inserted.pebFechaBloque9, inserted.pebFechaBloque10, inserted.pebDateTimeInsert, inserted.pebDateTimeUpdate, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PilaEstadoBloque_log
			from #PilaEstadoBloque1 as a
				inner join dbo.PilaEstadoBloque as peb on a.pebId = peb.pebId
			where (a.ultimaFechaModificacion > peb.ultimaFechaModificacion or peb.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PilaEstadoBloque1)



			drop table if exists #pebIds
			create table #pebIds (pebId bigInt)
			insert #pebIds
			select pebId from #PilaEstadoBloque1
			except 
			select pebId from dbo.PilaEstadoBloque

			insert dbo.PilaEstadoBloque (pebId, pebIndicePlanilla, pebTipoArchivo, pebEstadoBloque0, pebAccionBloque0, pebEstadoBloque1, pebAccionBloque1, pebEstadoBloque2, pebAccionBloque2, pebEstadoBloque3, pebAccionBloque3, pebEstadoBloque4, pebAccionBloque4, pebEstadoBloque5, pebAccionBloque5, pebEstadoBloque6, pebAccionBloque6, pebEstadoBloque7, pebAccionBloque7, pebEstadoBloque8, pebAccionBloque8, pebEstadoBloque9, pebAccionBloque9, pebEstadoBloque10, pebAccionBloque10, pebFechaBloque0, pebFechaBloque1, pebFechaBloque2, pebFechaBloque3, pebFechaBloque4, pebFechaBloque5, pebFechaBloque6, pebFechaBloque7, pebFechaBloque8, pebFechaBloque9, pebFechaBloque10, pebDateTimeInsert, pebDateTimeUpdate,ultimaFechaModificacion)
			output inserted.pebId, inserted.pebIndicePlanilla, inserted.pebTipoArchivo, inserted.pebEstadoBloque0, inserted.pebAccionBloque0, inserted.pebEstadoBloque1, inserted.pebAccionBloque1, inserted.pebEstadoBloque2, inserted.pebAccionBloque2, inserted.pebEstadoBloque3, inserted.pebAccionBloque3, inserted.pebEstadoBloque4, inserted.pebAccionBloque4, inserted.pebEstadoBloque5, inserted.pebAccionBloque5, inserted.pebEstadoBloque6, inserted.pebAccionBloque6, inserted.pebEstadoBloque7, inserted.pebAccionBloque7, inserted.pebEstadoBloque8, inserted.pebAccionBloque8, inserted.pebEstadoBloque9, inserted.pebAccionBloque9, inserted.pebEstadoBloque10, inserted.pebAccionBloque10, inserted.pebFechaBloque0, inserted.pebFechaBloque1, inserted.pebFechaBloque2, inserted.pebFechaBloque3, inserted.pebFechaBloque4, inserted.pebFechaBloque5, inserted.pebFechaBloque6, inserted.pebFechaBloque7, inserted.pebFechaBloque8, inserted.pebFechaBloque9, inserted.pebFechaBloque10, inserted.pebDateTimeInsert, inserted.pebDateTimeUpdate
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PilaEstadoBloque_log
			select pebId, pebIndicePlanilla, pebTipoArchivo, pebEstadoBloque0, pebAccionBloque0, pebEstadoBloque1, pebAccionBloque1, pebEstadoBloque2, pebAccionBloque2, pebEstadoBloque3, pebAccionBloque3, pebEstadoBloque4, pebAccionBloque4, pebEstadoBloque5, pebAccionBloque5, pebEstadoBloque6, pebAccionBloque6, pebEstadoBloque7, pebAccionBloque7, pebEstadoBloque8, pebAccionBloque8, pebEstadoBloque9, pebAccionBloque9, pebEstadoBloque10, pebAccionBloque10, pebFechaBloque0, pebFechaBloque1, pebFechaBloque2, pebFechaBloque3, pebFechaBloque4, pebFechaBloque5, pebFechaBloque6, pebFechaBloque7, pebFechaBloque8, pebFechaBloque9, pebFechaBloque10, pebDateTimeInsert, pebDateTimeUpdate, ultimaFechaModificacion
			from #PilaEstadoBloque1
			where pebId in (select pebId from #pebIds)
				and actid = 1

			delete from dbo.PilaEstadoBloque
			output deleted.pebId, deleted.pebIndicePlanilla, deleted.pebTipoArchivo, deleted.pebEstadoBloque0, deleted.pebAccionBloque0, deleted.pebEstadoBloque1, deleted.pebAccionBloque1, deleted.pebEstadoBloque2, deleted.pebAccionBloque2, deleted.pebEstadoBloque3, deleted.pebAccionBloque3, deleted.pebEstadoBloque4, deleted.pebAccionBloque4, deleted.pebEstadoBloque5, deleted.pebAccionBloque5, deleted.pebEstadoBloque6, deleted.pebAccionBloque6, deleted.pebEstadoBloque7, deleted.pebAccionBloque7, deleted.pebEstadoBloque8, deleted.pebAccionBloque8, deleted.pebEstadoBloque9, deleted.pebAccionBloque9, deleted.pebEstadoBloque10, deleted.pebAccionBloque10, deleted.pebFechaBloque0, deleted.pebFechaBloque1, deleted.pebFechaBloque2, deleted.pebFechaBloque3, deleted.pebFechaBloque4, deleted.pebFechaBloque5, deleted.pebFechaBloque6, deleted.pebFechaBloque7, deleted.pebFechaBloque8, deleted.pebFechaBloque9, deleted.pebFechaBloque10, deleted.pebDateTimeInsert, deleted.pebDateTimeUpdate
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PilaEstadoBloque_log
			where pebId in (select pebId from #PilaEstadoBloque1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla PilaIndicePlanillaOF

	
			declare @PilaIndicePlanillaOF1 table (pioId bigint   not null,pioFechaPago datetime   null,pioNombreArchivo varchar(80)   null,pioFechaRecibo datetime   null,pioFechaFtp datetime   null,pioCodigoAdministradora varchar(6)   null,pioCodigoBancoRecaudador varchar(3)   null,pioTipoArchivo varchar(20)   null,pioTipoCargaArchivo varchar(10)   null,pioUsuario varchar(255)   null,pioEstadoArchivo varchar(75)   null,pioIdentificadorDocumento varchar(255)   null,pioVersionDocumento varchar(20)   null,pioFechaProceso datetime   null,pioUsuarioProceso varchar(255)   null,pioFechaEliminacion datetime   null,pioUsuarioEliminacion varchar(255)   null,pioRegistroActivo bit   null,pioTamanoArchivo bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pioId, pioFechaPago, pioNombreArchivo, pioFechaRecibo, pioFechaFtp, pioCodigoAdministradora, pioCodigoBancoRecaudador, pioTipoArchivo, pioTipoCargaArchivo, pioUsuario, pioEstadoArchivo, pioIdentificadorDocumento, pioVersionDocumento, pioFechaProceso, pioUsuarioProceso, pioFechaEliminacion, pioUsuarioEliminacion, pioRegistroActivo, pioTamanoArchivo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PilaIndicePlanillaOF_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PilaIndicePlanillaOF1
			execute sp_execute_remote PilaReferenceData, @query
	
			drop table if exists #PilaIndicePlanillaOF1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pioId) then 1 else null end as act
				,row_number() over (partition by pioId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PilaIndicePlanillaOF1)
			select *
			into #PilaIndicePlanillaOF1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pio set pio.pioFechaPago = a.pioFechaPago, pio.pioNombreArchivo = a.pioNombreArchivo, pio.pioFechaRecibo = a.pioFechaRecibo, pio.pioFechaFtp = a.pioFechaFtp, pio.pioCodigoAdministradora = a.pioCodigoAdministradora, pio.pioCodigoBancoRecaudador = a.pioCodigoBancoRecaudador, pio.pioTipoArchivo = a.pioTipoArchivo, pio.pioTipoCargaArchivo = a.pioTipoCargaArchivo, pio.pioUsuario = a.pioUsuario, pio.pioEstadoArchivo = a.pioEstadoArchivo, pio.pioIdentificadorDocumento = a.pioIdentificadorDocumento, pio.pioVersionDocumento = a.pioVersionDocumento, pio.pioFechaProceso = a.pioFechaProceso, pio.pioUsuarioProceso = a.pioUsuarioProceso, pio.pioFechaEliminacion = a.pioFechaEliminacion, pio.pioUsuarioEliminacion = a.pioUsuarioEliminacion, pio.pioRegistroActivo = a.pioRegistroActivo, pio.pioTamanoArchivo = a.pioTamanoArchivo, pio.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pioId, inserted.pioFechaPago, inserted.pioNombreArchivo, inserted.pioFechaRecibo, inserted.pioFechaFtp, inserted.pioCodigoAdministradora, inserted.pioCodigoBancoRecaudador, inserted.pioTipoArchivo, inserted.pioTipoCargaArchivo, inserted.pioUsuario, inserted.pioEstadoArchivo, inserted.pioIdentificadorDocumento, inserted.pioVersionDocumento, inserted.pioFechaProceso, inserted.pioUsuarioProceso, inserted.pioFechaEliminacion, inserted.pioUsuarioEliminacion, inserted.pioRegistroActivo, inserted.pioTamanoArchivo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PilaIndicePlanillaOF_log
			from #PilaIndicePlanillaOF1 as a
				inner join dbo.PilaIndicePlanillaOF as pio on a.pioId = pio.pioId
			where (a.ultimaFechaModificacion > pio.ultimaFechaModificacion or pio.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PilaIndicePlanillaOF1)



			drop table if exists #pioIds
			create table #pioIds (pioId bigInt)
			insert #pioIds
			select pioId from #PilaIndicePlanillaOF1
			except 
			select pioId from dbo.PilaIndicePlanillaOF

			insert dbo.PilaIndicePlanillaOF (pioId, pioFechaPago, pioNombreArchivo, pioFechaRecibo, pioFechaFtp, pioCodigoAdministradora, pioCodigoBancoRecaudador, pioTipoArchivo, pioTipoCargaArchivo, pioUsuario, pioEstadoArchivo, pioIdentificadorDocumento, pioVersionDocumento, pioFechaProceso, pioUsuarioProceso, pioFechaEliminacion, pioUsuarioEliminacion, pioRegistroActivo, pioTamanoArchivo,ultimaFechaModificacion)
			output inserted.pioId, inserted.pioFechaPago, inserted.pioNombreArchivo, inserted.pioFechaRecibo, inserted.pioFechaFtp, inserted.pioCodigoAdministradora, inserted.pioCodigoBancoRecaudador, inserted.pioTipoArchivo, inserted.pioTipoCargaArchivo, inserted.pioUsuario, inserted.pioEstadoArchivo, inserted.pioIdentificadorDocumento, inserted.pioVersionDocumento, inserted.pioFechaProceso, inserted.pioUsuarioProceso, inserted.pioFechaEliminacion, inserted.pioUsuarioEliminacion, inserted.pioRegistroActivo, inserted.pioTamanoArchivo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PilaIndicePlanillaOF_log
			select pioId, pioFechaPago, pioNombreArchivo, pioFechaRecibo, pioFechaFtp, pioCodigoAdministradora, pioCodigoBancoRecaudador, pioTipoArchivo, pioTipoCargaArchivo, pioUsuario, pioEstadoArchivo, pioIdentificadorDocumento, pioVersionDocumento, pioFechaProceso, pioUsuarioProceso, pioFechaEliminacion, pioUsuarioEliminacion, pioRegistroActivo, pioTamanoArchivo, ultimaFechaModificacion
			from #PilaIndicePlanillaOF1
			where pioId in (select pioId from #pioIds)
				and actId = 1

			delete from dbo.PilaIndicePlanillaOF
			output deleted.pioId, deleted.pioFechaPago, deleted.pioNombreArchivo, deleted.pioFechaRecibo, deleted.pioFechaFtp, deleted.pioCodigoAdministradora, deleted.pioCodigoBancoRecaudador, deleted.pioTipoArchivo, deleted.pioTipoCargaArchivo, deleted.pioUsuario, deleted.pioEstadoArchivo, deleted.pioIdentificadorDocumento, deleted.pioVersionDocumento, deleted.pioFechaProceso, deleted.pioUsuarioProceso, deleted.pioFechaEliminacion, deleted.pioUsuarioEliminacion, deleted.pioRegistroActivo, deleted.pioTamanoArchivo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PilaIndicePlanillaOF_log
			where pioId in (select pioId from #PilaIndicePlanillaOF1 where operacion = 1 and actId = 1)