	CREATE or alter procedure [dbo].[OP_GruAdmCerUbiEmpSucSitInfVisper_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla AdministradorSubsidio

	
			declare @AdministradorSubsidio1 table (asuId bigint   not null,asuPersona bigint   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select asuId, asuPersona, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_AdministradorSubsidio_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @AdministradorSubsidio1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #AdministradorSubsidio1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by asuId) then 1 else null end as act
				,row_number() over (partition by asuId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @AdministradorSubsidio1)
			select *
			into #AdministradorSubsidio1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update asu set asu.asuPersona = a.asuPersona, asu.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.asuId, inserted.asuPersona, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.AdministradorSubsidio_log
			from #AdministradorSubsidio1 as a
				inner join dbo.AdministradorSubsidio as asu on a.asuId = asu.asuId
			where (a.ultimaFechaModificacion > asu.ultimaFechaModificacion or asu.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #AdministradorSubsidio1)



			drop table if exists #asuIds
			create table #asuIds (asuId bigInt)
			insert #asuIds
			select asuId from #AdministradorSubsidio1
			except 
			select asuId from dbo.AdministradorSubsidio

			insert dbo.AdministradorSubsidio (asuId, asuPersona,ultimaFechaModificacion)
			output inserted.asuId, inserted.asuPersona
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.AdministradorSubsidio_log
			select asuId, asuPersona, ultimaFechaModificacion
			from #AdministradorSubsidio1
			where asuId in (select asuId from #asuIds)
				and actId = 1

			delete from dbo.AdministradorSubsidio
			output deleted.asuId, deleted.asuPersona
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.AdministradorSubsidio_log
			where asuId in (select asuId from #AdministradorSubsidio1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla CertificadoEscolarBeneficiario

	
			declare @CertificadoEscolarBeneficiario1 table (cebId bigint   not null,cebBeneficiarioDetalle bigint   not null,cebFechaRecepcion date   null,cebFechaVencimiento date   null,cebFechaCreacion date   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select cebId, cebBeneficiarioDetalle, cebFechaRecepcion, cebFechaVencimiento, cebFechaCreacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CertificadoEscolarBeneficiario_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CertificadoEscolarBeneficiario1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CertificadoEscolarBeneficiario1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by cebId) then 1 else null end as act
				,row_number() over (partition by cebId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CertificadoEscolarBeneficiario1)
			select *
			into #CertificadoEscolarBeneficiario1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ceb set ceb.cebBeneficiarioDetalle = a.cebBeneficiarioDetalle, ceb.cebFechaRecepcion = a.cebFechaRecepcion, ceb.cebFechaVencimiento = a.cebFechaVencimiento, ceb.cebFechaCreacion = a.cebFechaCreacion, ceb.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.cebId, inserted.cebBeneficiarioDetalle, inserted.cebFechaRecepcion, inserted.cebFechaVencimiento, inserted.cebFechaCreacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CertificadoEscolarBeneficiario_log
			from #CertificadoEscolarBeneficiario1 as a
				inner join dbo.CertificadoEscolarBeneficiario as ceb on a.cebId = ceb.cebId
			where (a.ultimaFechaModificacion > ceb.ultimaFechaModificacion or ceb.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CertificadoEscolarBeneficiario1)



			drop table if exists #cebIds
			create table #cebIds (cebId bigInt)
			insert #cebIds
			select cebId from #CertificadoEscolarBeneficiario1
			except 
			select cebId from dbo.CertificadoEscolarBeneficiario

			insert dbo.CertificadoEscolarBeneficiario (cebId, cebBeneficiarioDetalle, cebFechaRecepcion, cebFechaVencimiento, cebFechaCreacion,ultimaFechaModificacion)
			output inserted.cebId, inserted.cebBeneficiarioDetalle, inserted.cebFechaRecepcion, inserted.cebFechaVencimiento, inserted.cebFechaCreacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CertificadoEscolarBeneficiario_log
			select cebId, cebBeneficiarioDetalle, cebFechaRecepcion, cebFechaVencimiento, cebFechaCreacion, ultimaFechaModificacion
			from #CertificadoEscolarBeneficiario1
			where cebId in (select cebId from #cebIds)
				and actId = 1

			delete from dbo.CertificadoEscolarBeneficiario
			output deleted.cebId, deleted.cebBeneficiarioDetalle, deleted.cebFechaRecepcion, deleted.cebFechaVencimiento, deleted.cebFechaCreacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CertificadoEscolarBeneficiario_log
			where cebId in (select cebId from #CertificadoEscolarBeneficiario1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Empresa

	
			declare @Empresa1 table (empId bigint   not null,empPersona bigint   null,empNombreComercial varchar(250)   null,empFechaConstitucion date   null,empNaturalezaJuridica varchar(100)   null,empCodigoCIIU smallint   null,empArl smallint   null,empUltimaCajaCompensacion int   null,empPaginaWeb varchar(256)   null,empRepresentanteLegal bigint   null,empRepresentanteLegalSuplente bigint   null,empEspecialRevision bit   null,empUbicacionRepresentanteLegal bigint   null,empUbicacionRepresentanteLegalSuplente bigint   null,empCreadoPorPila bit   null,empEnviadoAFiscalizacion bit   null,empMotivoFiscalizacion varchar(30)   null,empFechaFiscalizacion date   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select empId, empPersona, empNombreComercial, empFechaConstitucion, empNaturalezaJuridica, empCodigoCIIU, empArl, empUltimaCajaCompensacion, empPaginaWeb, empRepresentanteLegal, empRepresentanteLegalSuplente, empEspecialRevision, empUbicacionRepresentanteLegal, empUbicacionRepresentanteLegalSuplente, empCreadoPorPila, empEnviadoAFiscalizacion, empMotivoFiscalizacion, empFechaFiscalizacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Empresa_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Empresa1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Empresa1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by empId) then 1 else null end as act
				,row_number() over (partition by empId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Empresa1)
			select *
			into #Empresa1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update emp set emp.empPersona = a.empPersona, emp.empNombreComercial = a.empNombreComercial, emp.empFechaConstitucion = a.empFechaConstitucion, emp.empNaturalezaJuridica = a.empNaturalezaJuridica, emp.empCodigoCIIU = a.empCodigoCIIU, emp.empArl = a.empArl, emp.empUltimaCajaCompensacion = a.empUltimaCajaCompensacion, emp.empPaginaWeb = a.empPaginaWeb, emp.empRepresentanteLegal = a.empRepresentanteLegal, emp.empRepresentanteLegalSuplente = a.empRepresentanteLegalSuplente, emp.empEspecialRevision = a.empEspecialRevision, emp.empUbicacionRepresentanteLegal = a.empUbicacionRepresentanteLegal, emp.empUbicacionRepresentanteLegalSuplente = a.empUbicacionRepresentanteLegalSuplente, emp.empCreadoPorPila = a.empCreadoPorPila, emp.empEnviadoAFiscalizacion = a.empEnviadoAFiscalizacion, emp.empMotivoFiscalizacion = a.empMotivoFiscalizacion, emp.empFechaFiscalizacion = a.empFechaFiscalizacion, emp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.empId, inserted.empPersona, inserted.empNombreComercial, inserted.empFechaConstitucion, inserted.empNaturalezaJuridica, inserted.empCodigoCIIU, inserted.empArl, inserted.empUltimaCajaCompensacion, inserted.empPaginaWeb, inserted.empRepresentanteLegal, inserted.empRepresentanteLegalSuplente, inserted.empEspecialRevision, inserted.empUbicacionRepresentanteLegal, inserted.empUbicacionRepresentanteLegalSuplente, inserted.empCreadoPorPila, inserted.empEnviadoAFiscalizacion, inserted.empMotivoFiscalizacion, inserted.empFechaFiscalizacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Empresa_log
			from #Empresa1 as a
				inner join dbo.Empresa as emp on a.empId = emp.empId
			where (a.ultimaFechaModificacion > emp.ultimaFechaModificacion or emp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Empresa1)



			drop table if exists #empIds
			create table #empIds (empId bigInt)
			insert #empIds
			select empId from #Empresa1
			except 
			select empId from dbo.Empresa

			insert dbo.Empresa (empId, empPersona, empNombreComercial, empFechaConstitucion, empNaturalezaJuridica, empCodigoCIIU, empArl, empUltimaCajaCompensacion, empPaginaWeb, empRepresentanteLegal, empRepresentanteLegalSuplente, empEspecialRevision, empUbicacionRepresentanteLegal, empUbicacionRepresentanteLegalSuplente, empCreadoPorPila, empEnviadoAFiscalizacion, empMotivoFiscalizacion, empFechaFiscalizacion,ultimaFechaModificacion)
			output inserted.empId, inserted.empPersona, inserted.empNombreComercial, inserted.empFechaConstitucion, inserted.empNaturalezaJuridica, inserted.empCodigoCIIU, inserted.empArl, inserted.empUltimaCajaCompensacion, inserted.empPaginaWeb, inserted.empRepresentanteLegal, inserted.empRepresentanteLegalSuplente, inserted.empEspecialRevision, inserted.empUbicacionRepresentanteLegal, inserted.empUbicacionRepresentanteLegalSuplente, inserted.empCreadoPorPila, inserted.empEnviadoAFiscalizacion, inserted.empMotivoFiscalizacion, inserted.empFechaFiscalizacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Empresa_log
			select empId, empPersona, empNombreComercial, empFechaConstitucion, empNaturalezaJuridica, empCodigoCIIU, empArl, empUltimaCajaCompensacion, empPaginaWeb, empRepresentanteLegal, empRepresentanteLegalSuplente, empEspecialRevision, empUbicacionRepresentanteLegal, empUbicacionRepresentanteLegalSuplente, empCreadoPorPila, empEnviadoAFiscalizacion, empMotivoFiscalizacion, empFechaFiscalizacion, ultimaFechaModificacion
			from #Empresa1
			where empId in (select empId from #empIds)
				and actId = 1

			delete from dbo.Empresa
			output deleted.empId, deleted.empPersona, deleted.empNombreComercial, deleted.empFechaConstitucion, deleted.empNaturalezaJuridica, deleted.empCodigoCIIU, deleted.empArl, deleted.empUltimaCajaCompensacion, deleted.empPaginaWeb, deleted.empRepresentanteLegal, deleted.empRepresentanteLegalSuplente, deleted.empEspecialRevision, deleted.empUbicacionRepresentanteLegal, deleted.empUbicacionRepresentanteLegalSuplente, deleted.empCreadoPorPila, deleted.empEnviadoAFiscalizacion, deleted.empMotivoFiscalizacion, deleted.empFechaFiscalizacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Empresa_log
			where empId in (select empId from #Empresa1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla GrupoFamiliar

	
			declare @GrupoFamiliar1 table (grfId bigint   not null,grfNumero smallint   not null,grfObservaciones varchar(500)   null,grfAfiliado bigint   not null,grfUbicacion bigint   null,grfInembargable bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select grfId, grfNumero, grfObservaciones, grfAfiliado, grfUbicacion, grfInembargable, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_GrupoFamiliar_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @GrupoFamiliar1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #GrupoFamiliar1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by grfId) then 1 else null end as act
				,row_number() over (partition by grfId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @GrupoFamiliar1)
			select *
			into #GrupoFamiliar1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update grf set grf.grfNumero = a.grfNumero, grf.grfObservaciones = a.grfObservaciones, grf.grfAfiliado = a.grfAfiliado, grf.grfUbicacion = a.grfUbicacion, grf.grfInembargable = a.grfInembargable, grf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.grfId, inserted.grfNumero, inserted.grfObservaciones, inserted.grfAfiliado, inserted.grfUbicacion, inserted.grfInembargable, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.GrupoFamiliar_log
			from #GrupoFamiliar1 as a
				inner join dbo.GrupoFamiliar as grf on a.grfId = grf.grfId
			where (a.ultimaFechaModificacion > grf.ultimaFechaModificacion or grf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #GrupoFamiliar1)



			drop table if exists #grfIds
			create table #grfIds (grfId bigInt)
			insert #grfIds
			select grfId from #GrupoFamiliar1
			except 
			select grfId from dbo.GrupoFamiliar

			insert dbo.GrupoFamiliar (grfId, grfNumero, grfObservaciones, grfAfiliado, grfUbicacion, grfInembargable,ultimaFechaModificacion)
			output inserted.grfId, inserted.grfNumero, inserted.grfObservaciones, inserted.grfAfiliado, inserted.grfUbicacion, inserted.grfInembargable
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.GrupoFamiliar_log
			select grfId, grfNumero, grfObservaciones, grfAfiliado, grfUbicacion, grfInembargable, ultimaFechaModificacion
			from #GrupoFamiliar1
			where grfId in (select grfId from #grfIds)
				and actId = 1

			delete from dbo.GrupoFamiliar
			output deleted.grfId, deleted.grfNumero, deleted.grfObservaciones, deleted.grfAfiliado, deleted.grfUbicacion, deleted.grfInembargable
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.GrupoFamiliar_log
			where grfId in (select grfId from #GrupoFamiliar1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Infraestructura

	
			declare @Infraestructura1 table (infId bigint   not null,infCodigoParaSSF varchar(50)   null,infCodigoParaCCF varchar(50)   null,infConsecutivoInfraestructura smallint   not null,infNombre varchar(255)   not null,infTipoInfraestructura bigint   not null,infZona varchar(255)   not null,infDireccion varchar(300)   not null,infAreaGeografica varchar(6)   not null,infMunicipio bigint   not null,infTipoTenencia bigint   not null,infLatitud numeric (9,  6) not null,infLongitud numeric (9,  6) not null,infActivo bit   not null,infCapacidadEstimada numeric (7,  2) null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select infId, infCodigoParaSSF, infCodigoParaCCF, infConsecutivoInfraestructura, infNombre, infTipoInfraestructura, infZona, infDireccion, infAreaGeografica, infMunicipio, infTipoTenencia, infLatitud, infLongitud, infActivo, infCapacidadEstimada, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Infraestructura_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Infraestructura1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Infraestructura1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by infId) then 1 else null end as act
				,row_number() over (partition by infId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Infraestructura1)
			select *
			into #Infraestructura1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update inf set inf.infCodigoParaSSF = a.infCodigoParaSSF, inf.infCodigoParaCCF = a.infCodigoParaCCF, inf.infConsecutivoInfraestructura = a.infConsecutivoInfraestructura, inf.infNombre = a.infNombre, inf.infTipoInfraestructura = a.infTipoInfraestructura, inf.infZona = a.infZona, inf.infDireccion = a.infDireccion, inf.infAreaGeografica = a.infAreaGeografica, inf.infMunicipio = a.infMunicipio, inf.infTipoTenencia = a.infTipoTenencia, inf.infLatitud = a.infLatitud, inf.infLongitud = a.infLongitud, inf.infActivo = a.infActivo, inf.infCapacidadEstimada = a.infCapacidadEstimada, inf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.infId, inserted.infCodigoParaSSF, inserted.infCodigoParaCCF, inserted.infConsecutivoInfraestructura, inserted.infNombre, inserted.infTipoInfraestructura, inserted.infZona, inserted.infDireccion, inserted.infAreaGeografica, inserted.infMunicipio, inserted.infTipoTenencia, inserted.infLatitud, inserted.infLongitud, inserted.infActivo, inserted.infCapacidadEstimada, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Infraestructura_log
			from #Infraestructura1 as a
				inner join dbo.Infraestructura as inf on a.infId = inf.infId
			where (a.ultimaFechaModificacion > inf.ultimaFechaModificacion or inf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Infraestructura1)



			drop table if exists #infIds
			create table #infIds (infId bigInt)
			insert #infIds
			select infId from #Infraestructura1
			except 
			select infId from dbo.Infraestructura

			insert dbo.Infraestructura (infId, infCodigoParaSSF, infCodigoParaCCF, infConsecutivoInfraestructura, infNombre, infTipoInfraestructura, infZona, infDireccion, infAreaGeografica, infMunicipio, infTipoTenencia, infLatitud, infLongitud, infActivo, infCapacidadEstimada,ultimaFechaModificacion)
			output inserted.infId, inserted.infCodigoParaSSF, inserted.infCodigoParaCCF, inserted.infConsecutivoInfraestructura, inserted.infNombre, inserted.infTipoInfraestructura, inserted.infZona, inserted.infDireccion, inserted.infAreaGeografica, inserted.infMunicipio, inserted.infTipoTenencia, inserted.infLatitud, inserted.infLongitud, inserted.infActivo, inserted.infCapacidadEstimada
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Infraestructura_log
			select infId, infCodigoParaSSF, infCodigoParaCCF, infConsecutivoInfraestructura, infNombre, infTipoInfraestructura, infZona, infDireccion, infAreaGeografica, infMunicipio, infTipoTenencia, infLatitud, infLongitud, infActivo, infCapacidadEstimada, ultimaFechaModificacion
			from #Infraestructura1
			where infId in (select infId from #infIds)
				and actId = 1

			delete from dbo.Infraestructura
			output deleted.infId, deleted.infCodigoParaSSF, deleted.infCodigoParaCCF, deleted.infConsecutivoInfraestructura, deleted.infNombre, deleted.infTipoInfraestructura, deleted.infZona, deleted.infDireccion, deleted.infAreaGeografica, deleted.infMunicipio, deleted.infTipoTenencia, deleted.infLatitud, deleted.infLongitud, deleted.infActivo, deleted.infCapacidadEstimada
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Infraestructura_log
			where infId in (select infId from #Infraestructura1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla periodoliquidacion

	
			declare @periodoliquidacion1 table (pelId bigint   not null,pelSolicitudLiquidacionSubsidio bigint   not null,pelPeriodo bigint   not null,pelTipoPeriodo varchar(10)   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pelId, pelSolicitudLiquidacionSubsidio, pelPeriodo, pelTipoPeriodo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_periodoliquidacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @periodoliquidacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #periodoliquidacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pelId) then 1 else null end as act
				,row_number() over (partition by pelId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @periodoliquidacion1)
			select *
			into #periodoliquidacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pel set pel.pelSolicitudLiquidacionSubsidio = a.pelSolicitudLiquidacionSubsidio, pel.pelPeriodo = a.pelPeriodo, pel.pelTipoPeriodo = a.pelTipoPeriodo, pel.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pelId, inserted.pelSolicitudLiquidacionSubsidio, inserted.pelPeriodo, inserted.pelTipoPeriodo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.periodoliquidacion_log
			from #periodoliquidacion1 as a
				inner join dbo.periodoliquidacion as pel on a.pelId = pel.pelId
			where (a.ultimaFechaModificacion > pel.ultimaFechaModificacion or pel.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #periodoliquidacion1)



			drop table if exists #pelIds
			create table #pelIds (pelId bigInt)
			insert #pelIds
			select pelId from #periodoliquidacion1
			except 
			select pelId from dbo.periodoliquidacion

			insert dbo.periodoliquidacion (pelId, pelSolicitudLiquidacionSubsidio, pelPeriodo, pelTipoPeriodo,ultimaFechaModificacion)
			output inserted.pelId, inserted.pelSolicitudLiquidacionSubsidio, inserted.pelPeriodo, inserted.pelTipoPeriodo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.periodoliquidacion_log
			select pelId, pelSolicitudLiquidacionSubsidio, pelPeriodo, pelTipoPeriodo, ultimaFechaModificacion
			from #periodoliquidacion1
			where pelId in (select pelId from #pelIds)
				and actId = 1

			delete from dbo.periodoliquidacion
			output deleted.pelId, deleted.pelSolicitudLiquidacionSubsidio, deleted.pelPeriodo, deleted.pelTipoPeriodo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.periodoliquidacion_log
			where pelId in (select pelId from #periodoliquidacion1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla SitioPago

	
			declare @SitioPago1 table (sipId bigint   not null,sipCodigo varchar(10)   null,sipNombre varchar(255)   not null,sipInfraestructura bigint   not null,sipActivo bit   not null,sipPrincipal bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select sipId, sipCodigo, sipNombre, sipInfraestructura, sipActivo, sipPrincipal, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SitioPago_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SitioPago1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SitioPago1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by sipId) then 1 else null end as act
				,row_number() over (partition by sipId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SitioPago1)
			select *
			into #SitioPago1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sip set sip.sipCodigo = a.sipCodigo, sip.sipNombre = a.sipNombre, sip.sipInfraestructura = a.sipInfraestructura, sip.sipActivo = a.sipActivo, sip.sipPrincipal = a.sipPrincipal, sip.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.sipId, inserted.sipCodigo, inserted.sipNombre, inserted.sipInfraestructura, inserted.sipActivo, inserted.sipPrincipal, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SitioPago_log
			from #SitioPago1 as a
				inner join dbo.SitioPago as sip on a.sipId = sip.sipId
			where (a.ultimaFechaModificacion > sip.ultimaFechaModificacion or sip.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SitioPago1)



			drop table if exists #sipIds
			create table #sipIds (sipId bigInt)
			insert #sipIds
			select sipId from #SitioPago1
			except 
			select sipId from dbo.SitioPago

			insert dbo.SitioPago (sipId, sipCodigo, sipNombre, sipInfraestructura, sipActivo, sipPrincipal,ultimaFechaModificacion)
			output inserted.sipId, inserted.sipCodigo, inserted.sipNombre, inserted.sipInfraestructura, inserted.sipActivo, inserted.sipPrincipal
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SitioPago_log
			select sipId, sipCodigo, sipNombre, sipInfraestructura, sipActivo, sipPrincipal, ultimaFechaModificacion
			from #SitioPago1
			where sipId in (select sipId from #sipIds)
				and actId = 1

			delete from dbo.SitioPago
			output deleted.sipId, deleted.sipCodigo, deleted.sipNombre, deleted.sipInfraestructura, deleted.sipActivo, deleted.sipPrincipal
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SitioPago_log
			where sipId in (select sipId from #SitioPago1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SucursalEmpresa

	
			declare @SucursalEmpresa1 table (sueId bigint   not null,sueCodigo varchar(10)   null,sueNombre varchar(100)   null,sueCodigoCIIU smallint   null,sueEmpresa bigint   null,sueUbicacion bigint   null,sueEstadoSucursal varchar(25)   null,sueCoindicirCodigoPila bit   null,sueMedioPagoSubsidioMonetario varchar(30)   null,sueSucursalPrincipal bit   null,sueRetencionSubsidioActiva bit   null,sueMotivoRetencionSubsidio varchar(24)   null,sueMotivoInactivaRetencionSubsidio varchar(26)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select sueId, sueCodigo, sueNombre, sueCodigoCIIU, sueEmpresa, sueUbicacion, sueEstadoSucursal, sueCoindicirCodigoPila, sueMedioPagoSubsidioMonetario, sueSucursalPrincipal, sueRetencionSubsidioActiva, sueMotivoRetencionSubsidio, sueMotivoInactivaRetencionSubsidio, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SucursalEmpresa_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SucursalEmpresa1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SucursalEmpresa1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by sueId) then 1 else null end as act
				,row_number() over (partition by sueId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SucursalEmpresa1)
			select *
			into #SucursalEmpresa1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sue set sue.sueCodigo = a.sueCodigo, sue.sueNombre = a.sueNombre, sue.sueCodigoCIIU = a.sueCodigoCIIU, sue.sueEmpresa = a.sueEmpresa, sue.sueUbicacion = a.sueUbicacion, sue.sueEstadoSucursal = a.sueEstadoSucursal, sue.sueCoindicirCodigoPila = a.sueCoindicirCodigoPila, sue.sueMedioPagoSubsidioMonetario = a.sueMedioPagoSubsidioMonetario, sue.sueSucursalPrincipal = a.sueSucursalPrincipal, sue.sueRetencionSubsidioActiva = a.sueRetencionSubsidioActiva, sue.sueMotivoRetencionSubsidio = a.sueMotivoRetencionSubsidio, sue.sueMotivoInactivaRetencionSubsidio = a.sueMotivoInactivaRetencionSubsidio, sue.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.sueId, inserted.sueCodigo, inserted.sueNombre, inserted.sueCodigoCIIU, inserted.sueEmpresa, inserted.sueUbicacion, inserted.sueEstadoSucursal, inserted.sueCoindicirCodigoPila, inserted.sueMedioPagoSubsidioMonetario, inserted.sueSucursalPrincipal, inserted.sueRetencionSubsidioActiva, inserted.sueMotivoRetencionSubsidio, inserted.sueMotivoInactivaRetencionSubsidio, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SucursalEmpresa_log
			from #SucursalEmpresa1 as a
				inner join dbo.SucursalEmpresa as sue on a.sueId = sue.sueId
			where (a.ultimaFechaModificacion > sue.ultimaFechaModificacion or sue.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SucursalEmpresa1)



			drop table if exists #sueIds
			create table #sueIds (sueId bigInt)
			insert #sueIds
			select sueId from #SucursalEmpresa1
			except 
			select sueId from dbo.SucursalEmpresa

			insert dbo.SucursalEmpresa (sueId, sueCodigo, sueNombre, sueCodigoCIIU, sueEmpresa, sueUbicacion, sueEstadoSucursal, sueCoindicirCodigoPila, sueMedioPagoSubsidioMonetario, sueSucursalPrincipal, sueRetencionSubsidioActiva, sueMotivoRetencionSubsidio, sueMotivoInactivaRetencionSubsidio,ultimaFechaModificacion)
			output inserted.sueId, inserted.sueCodigo, inserted.sueNombre, inserted.sueCodigoCIIU, inserted.sueEmpresa, inserted.sueUbicacion, inserted.sueEstadoSucursal, inserted.sueCoindicirCodigoPila, inserted.sueMedioPagoSubsidioMonetario, inserted.sueSucursalPrincipal, inserted.sueRetencionSubsidioActiva, inserted.sueMotivoRetencionSubsidio, inserted.sueMotivoInactivaRetencionSubsidio
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SucursalEmpresa_log
			select sueId, sueCodigo, sueNombre, sueCodigoCIIU, sueEmpresa, sueUbicacion, sueEstadoSucursal, sueCoindicirCodigoPila, sueMedioPagoSubsidioMonetario, sueSucursalPrincipal, sueRetencionSubsidioActiva, sueMotivoRetencionSubsidio, sueMotivoInactivaRetencionSubsidio, ultimaFechaModificacion
			from #SucursalEmpresa1
			where sueId in (select sueId from #sueIds)
				and actId = 1

			delete from dbo.SucursalEmpresa
			output deleted.sueId, deleted.sueCodigo, deleted.sueNombre, deleted.sueCodigoCIIU, deleted.sueEmpresa, deleted.sueUbicacion, deleted.sueEstadoSucursal, deleted.sueCoindicirCodigoPila, deleted.sueMedioPagoSubsidioMonetario, deleted.sueSucursalPrincipal, deleted.sueRetencionSubsidioActiva, deleted.sueMotivoRetencionSubsidio, deleted.sueMotivoInactivaRetencionSubsidio
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SucursalEmpresa_log
			where sueId in (select sueId from #SucursalEmpresa1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla UbicacionEmpresa

	
			declare @UbicacionEmpresa1 table (ubeId bigint   not null,ubeEmpresa bigint   null,ubeUbicacion bigint   null,ubeTipoUbicacion varchar(30)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ubeId, ubeEmpresa, ubeUbicacion, ubeTipoUbicacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_UbicacionEmpresa_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @UbicacionEmpresa1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #UbicacionEmpresa1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ubeId) then 1 else null end as act
				,row_number() over (partition by ubeId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @UbicacionEmpresa1)
			select *
			into #UbicacionEmpresa1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ube set ube.ubeEmpresa = a.ubeEmpresa, ube.ubeUbicacion = a.ubeUbicacion, ube.ubeTipoUbicacion = a.ubeTipoUbicacion, ube.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ubeId, inserted.ubeEmpresa, inserted.ubeUbicacion, inserted.ubeTipoUbicacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.UbicacionEmpresa_log
			from #UbicacionEmpresa1 as a
				inner join dbo.UbicacionEmpresa as ube on a.ubeId = ube.ubeId
			where (a.ultimaFechaModificacion > ube.ultimaFechaModificacion or ube.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #UbicacionEmpresa1)



			drop table if exists #ubeIds
			create table #ubeIds (ubeId bigInt)
			insert #ubeIds
			select ubeId from #UbicacionEmpresa1
			except 
			select ubeId from dbo.UbicacionEmpresa

			insert dbo.UbicacionEmpresa (ubeId, ubeEmpresa, ubeUbicacion, ubeTipoUbicacion,ultimaFechaModificacion)
			output inserted.ubeId, inserted.ubeEmpresa, inserted.ubeUbicacion, inserted.ubeTipoUbicacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.UbicacionEmpresa_log
			select ubeId, ubeEmpresa, ubeUbicacion, ubeTipoUbicacion, ultimaFechaModificacion
			from #UbicacionEmpresa1
			where ubeId in (select ubeId from #ubeIds)
				and actId = 1

			delete from dbo.UbicacionEmpresa
			output deleted.ubeId, deleted.ubeEmpresa, deleted.ubeUbicacion, deleted.ubeTipoUbicacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.UbicacionEmpresa_log
			where ubeId in (select ubeId from #UbicacionEmpresa1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla Visita

	
			declare @Visita1 table (visId bigint   not null,visFecha date   not null,visNombresEncargado varchar(50)   not null,visCodigoIdentificadorECM varchar(255)   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select visId, visFecha, visNombresEncargado, visCodigoIdentificadorECM, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Visita_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Visita1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Visita1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by visId) then 1 else null end as act
				,row_number() over (partition by visId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Visita1)
			select *
			into #Visita1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update vis set vis.visFecha = a.visFecha, vis.visNombresEncargado = a.visNombresEncargado, vis.visCodigoIdentificadorECM = a.visCodigoIdentificadorECM, vis.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.visId, inserted.visFecha, inserted.visNombresEncargado, inserted.visCodigoIdentificadorECM, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Visita_log
			from #Visita1 as a
				inner join dbo.Visita as vis on a.visId = vis.visId
			where (a.ultimaFechaModificacion > vis.ultimaFechaModificacion or vis.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Visita1)



			drop table if exists #visIds
			create table #visIds (visId bigInt)
			insert #visIds
			select visId from #Visita1
			except 
			select visId from dbo.Visita

			insert dbo.Visita (visId, visFecha, visNombresEncargado, visCodigoIdentificadorECM,ultimaFechaModificacion)
			output inserted.visId, inserted.visFecha, inserted.visNombresEncargado, inserted.visCodigoIdentificadorECM
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Visita_log
			select visId, visFecha, visNombresEncargado, visCodigoIdentificadorECM, ultimaFechaModificacion
			from #Visita1
			where visId in (select visId from #visIds)
				and actId = 1

			delete from dbo.Visita
			output deleted.visId, deleted.visFecha, deleted.visNombresEncargado, deleted.visCodigoIdentificadorECM
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Visita_log
			where visId in (select visId from #Visita1 where operacion = 1 and actId = 1)