	CREATE OR ALTER   procedure [dbo].[OP_ArcBloLogSub_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla ArchivoEntidadDescuentoSubsidioPignorado

	
			declare @ArchivoEntidadDescuentoSubsidioPignorado1 table (ardId bigint   not null,ardFechaRecepcion datetime   not null,ardFechaCargue datetime   null,ardCodigoIdentificacionECM varchar(255)   null,ardEntidadDescuento bigint   null,ardEstado varchar(10)   null,ardCausalAnulacion varchar(21)   null,ardNombre varchar(40)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ardId, ardFechaRecepcion, ardFechaCargue, ardCodigoIdentificacionECM, ardEntidadDescuento, ardEstado, ardCausalAnulacion, ardNombre, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ArchivoEntidadDescuentoSubsidioPignorado_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ArchivoEntidadDescuentoSubsidioPignorado1
			execute sp_execute_remote SubsidioReferenceData, @query
	
			drop table if exists #ArchivoEntidadDescuentoSubsidioPignorado1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ardId) then 1 else null end as act
				,row_number() over (partition by ardId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ArchivoEntidadDescuentoSubsidioPignorado1)
			select *
			into #ArchivoEntidadDescuentoSubsidioPignorado1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ard set ard.ardFechaRecepcion = a.ardFechaRecepcion, ard.ardFechaCargue = a.ardFechaCargue, ard.ardCodigoIdentificacionECM = a.ardCodigoIdentificacionECM, ard.ardEntidadDescuento = a.ardEntidadDescuento, ard.ardEstado = a.ardEstado, ard.ardCausalAnulacion = a.ardCausalAnulacion, ard.ardNombre = a.ardNombre, ard.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ardId, inserted.ardFechaRecepcion, inserted.ardFechaCargue, inserted.ardCodigoIdentificacionECM, inserted.ardEntidadDescuento, inserted.ardEstado, inserted.ardCausalAnulacion, inserted.ardNombre, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ArchivoEntidadDescuentoSubsidioPignorado_log
			from #ArchivoEntidadDescuentoSubsidioPignorado1 as a
				inner join dbo.ArchivoEntidadDescuentoSubsidioPignorado as ard on a.ardId = ard.ardId
			where (a.ultimaFechaModificacion > ard.ultimaFechaModificacion or ard.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ArchivoEntidadDescuentoSubsidioPignorado1)



			drop table if exists #ardIds
			create table #ardIds (ardId bigInt)
			insert #ardIds
			select ardId from #ArchivoEntidadDescuentoSubsidioPignorado1
			except 
			select ardId from dbo.ArchivoEntidadDescuentoSubsidioPignorado

			insert dbo.ArchivoEntidadDescuentoSubsidioPignorado (ardId, ardFechaRecepcion, ardFechaCargue, ardCodigoIdentificacionECM, ardEntidadDescuento, ardEstado, ardCausalAnulacion, ardNombre,ultimaFechaModificacion)
			output inserted.ardId, inserted.ardFechaRecepcion, inserted.ardFechaCargue, inserted.ardCodigoIdentificacionECM, inserted.ardEntidadDescuento, inserted.ardEstado, inserted.ardCausalAnulacion, inserted.ardNombre
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ArchivoEntidadDescuentoSubsidioPignorado_log
			select ardId, ardFechaRecepcion, ardFechaCargue, ardCodigoIdentificacionECM, ardEntidadDescuento, ardEstado, ardCausalAnulacion, ardNombre, ultimaFechaModificacion
			from #ArchivoEntidadDescuentoSubsidioPignorado1
			where ardId in (select ardId from #ardIds)
				and actId = 1

			delete from dbo.ArchivoEntidadDescuentoSubsidioPignorado
			output deleted.ardId, deleted.ardFechaRecepcion, deleted.ardFechaCargue, deleted.ardCodigoIdentificacionECM, deleted.ardEntidadDescuento, deleted.ardEstado, deleted.ardCausalAnulacion, deleted.ardNombre
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ArchivoEntidadDescuentoSubsidioPignorado_log
			where ardId in (select ardId from #ArchivoEntidadDescuentoSubsidioPignorado1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla BloqueoAfiliadoBeneficiarioCM

	
			declare @BloqueoAfiliadoBeneficiarioCM1 table (babId bigint   not null,babTipoIdentificacionAfiliado varchar(20)   not null,babNumeroIdentificacionAfiliado varchar(16)   not null,babPersonaAfiliado bigint   null,babTipoIdentificacionBeneficiario varchar(20)   not null,babNumeroIdentificacionBeneficiario varchar(16)   not null,babPersonaBeneficiario bigint   null,babMotivoNoAcreditado bit   null,babMotivoFraude bit   null,babMotivoOtro bit   null,babBloqueado bit   null,babPeriodoInicio date   not null,babPeriodoFin date   not null,babValidacionExitosa bit   null,babBbcId bigint   null,babCausalBloqueo varchar(150)   null,babVeterano bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select babId, babTipoIdentificacionAfiliado, babNumeroIdentificacionAfiliado, babPersonaAfiliado, babTipoIdentificacionBeneficiario, babNumeroIdentificacionBeneficiario, babPersonaBeneficiario, babMotivoNoAcreditado, babMotivoFraude, babMotivoOtro, babBloqueado, babPeriodoInicio, babPeriodoFin, babValidacionExitosa, babBbcId, babCausalBloqueo, babVeterano, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_BloqueoAfiliadoBeneficiarioCM_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @BloqueoAfiliadoBeneficiarioCM1
			execute sp_execute_remote SubsidioReferenceData, @query
	
			drop table if exists #BloqueoAfiliadoBeneficiarioCM1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by babId) then 1 else null end as act
				,row_number() over (partition by babId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @BloqueoAfiliadoBeneficiarioCM1)
			select *
			into #BloqueoAfiliadoBeneficiarioCM1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update bab set bab.babTipoIdentificacionAfiliado = a.babTipoIdentificacionAfiliado, bab.babNumeroIdentificacionAfiliado = a.babNumeroIdentificacionAfiliado, bab.babPersonaAfiliado = a.babPersonaAfiliado, bab.babTipoIdentificacionBeneficiario = a.babTipoIdentificacionBeneficiario, bab.babNumeroIdentificacionBeneficiario = a.babNumeroIdentificacionBeneficiario, bab.babPersonaBeneficiario = a.babPersonaBeneficiario, bab.babMotivoNoAcreditado = a.babMotivoNoAcreditado, bab.babMotivoFraude = a.babMotivoFraude, bab.babMotivoOtro = a.babMotivoOtro, bab.babBloqueado = a.babBloqueado, bab.babPeriodoInicio = a.babPeriodoInicio, bab.babPeriodoFin = a.babPeriodoFin, bab.babValidacionExitosa = a.babValidacionExitosa, bab.babBbcId = a.babBbcId, bab.babCausalBloqueo = a.babCausalBloqueo, bab.babVeterano = a.babVeterano, bab.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.babId, inserted.babTipoIdentificacionAfiliado, inserted.babNumeroIdentificacionAfiliado, inserted.babPersonaAfiliado, inserted.babTipoIdentificacionBeneficiario, inserted.babNumeroIdentificacionBeneficiario, inserted.babPersonaBeneficiario, inserted.babMotivoNoAcreditado, inserted.babMotivoFraude, inserted.babMotivoOtro, inserted.babBloqueado, inserted.babPeriodoInicio, inserted.babPeriodoFin, inserted.babValidacionExitosa, inserted.babBbcId, inserted.babCausalBloqueo, inserted.babVeterano, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.BloqueoAfiliadoBeneficiarioCM_log
			from #BloqueoAfiliadoBeneficiarioCM1 as a
				inner join dbo.BloqueoAfiliadoBeneficiarioCM as bab on a.babId = bab.babId
			where (a.ultimaFechaModificacion > bab.ultimaFechaModificacion or bab.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #BloqueoAfiliadoBeneficiarioCM1)



			drop table if exists #babIds
			create table #babIds (babId bigInt)
			insert #babIds
			select babId from #BloqueoAfiliadoBeneficiarioCM1
			except 
			select babId from dbo.BloqueoAfiliadoBeneficiarioCM

			insert dbo.BloqueoAfiliadoBeneficiarioCM (babId, babTipoIdentificacionAfiliado, babNumeroIdentificacionAfiliado, babPersonaAfiliado, babTipoIdentificacionBeneficiario, babNumeroIdentificacionBeneficiario, babPersonaBeneficiario, babMotivoNoAcreditado, babMotivoFraude, babMotivoOtro, babBloqueado, babPeriodoInicio, babPeriodoFin, babValidacionExitosa, babBbcId, babCausalBloqueo, babVeterano,ultimaFechaModificacion)
			output inserted.babId, inserted.babTipoIdentificacionAfiliado, inserted.babNumeroIdentificacionAfiliado, inserted.babPersonaAfiliado, inserted.babTipoIdentificacionBeneficiario, inserted.babNumeroIdentificacionBeneficiario, inserted.babPersonaBeneficiario, inserted.babMotivoNoAcreditado, inserted.babMotivoFraude, inserted.babMotivoOtro, inserted.babBloqueado, inserted.babPeriodoInicio, inserted.babPeriodoFin, inserted.babValidacionExitosa, inserted.babBbcId, inserted.babCausalBloqueo, inserted.babVeterano
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.BloqueoAfiliadoBeneficiarioCM_log
			select babId, babTipoIdentificacionAfiliado, babNumeroIdentificacionAfiliado, babPersonaAfiliado, babTipoIdentificacionBeneficiario, babNumeroIdentificacionBeneficiario, babPersonaBeneficiario, babMotivoNoAcreditado, babMotivoFraude, babMotivoOtro, babBloqueado, babPeriodoInicio, babPeriodoFin, babValidacionExitosa, babBbcId, babCausalBloqueo, babVeterano, ultimaFechaModificacion
			from #BloqueoAfiliadoBeneficiarioCM1
			where babId in (select babId from #babIds)
				and actId = 1

			delete from dbo.BloqueoAfiliadoBeneficiarioCM
			output deleted.babId, deleted.babTipoIdentificacionAfiliado, deleted.babNumeroIdentificacionAfiliado, deleted.babPersonaAfiliado, deleted.babTipoIdentificacionBeneficiario, deleted.babNumeroIdentificacionBeneficiario, deleted.babPersonaBeneficiario, deleted.babMotivoNoAcreditado, deleted.babMotivoFraude, deleted.babMotivoOtro, deleted.babBloqueado, deleted.babPeriodoInicio, deleted.babPeriodoFin, deleted.babValidacionExitosa, deleted.babBbcId, deleted.babCausalBloqueo, deleted.babVeterano
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.BloqueoAfiliadoBeneficiarioCM_log
			where babId in (select babId from #BloqueoAfiliadoBeneficiarioCM1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla LogBloqueoPar

	
			declare @LogBloqueoPar1 table (lbpId bigint   not null,lbpNumeroRegistro bigint   not null,lbpFecha date   not null,lbpUsuario nvarchar(256)   null,lbpTipoIdentificacionAfiliado varchar(20)   not null,lbpNumeroIdentificacionAfiliado varchar(16)   not null,lbpTipoIdentificacionBeneficiario varchar(20)   not null,lbpNumeroIdentificacionBeneficiario varchar(16)   not null,lbpMotivoNoAcreditado bit   null,lbpMotivoFraude bit   null,lbpMotivoOtro bit   null,lbpPeriodoInicio date   not null,lbpPeriodoFin date   not null,lbpResultado varchar(4000)   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select lbpId, lbpNumeroRegistro, lbpFecha, lbpUsuario, lbpTipoIdentificacionAfiliado, lbpNumeroIdentificacionAfiliado, lbpTipoIdentificacionBeneficiario, lbpNumeroIdentificacionBeneficiario, lbpMotivoNoAcreditado, lbpMotivoFraude, lbpMotivoOtro, lbpPeriodoInicio, lbpPeriodoFin, lbpResultado, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_LogBloqueoPar_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @LogBloqueoPar1
			execute sp_execute_remote SubsidioReferenceData, @query
	
			drop table if exists #LogBloqueoPar1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by lbpId) then 1 else null end as act
				,row_number() over (partition by lbpId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @LogBloqueoPar1)
			select *
			into #LogBloqueoPar1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update lbp set lbp.lbpNumeroRegistro = a.lbpNumeroRegistro, lbp.lbpFecha = a.lbpFecha, lbp.lbpUsuario = a.lbpUsuario, lbp.lbpTipoIdentificacionAfiliado = a.lbpTipoIdentificacionAfiliado, lbp.lbpNumeroIdentificacionAfiliado = a.lbpNumeroIdentificacionAfiliado, lbp.lbpTipoIdentificacionBeneficiario = a.lbpTipoIdentificacionBeneficiario, lbp.lbpNumeroIdentificacionBeneficiario = a.lbpNumeroIdentificacionBeneficiario, lbp.lbpMotivoNoAcreditado = a.lbpMotivoNoAcreditado, lbp.lbpMotivoFraude = a.lbpMotivoFraude, lbp.lbpMotivoOtro = a.lbpMotivoOtro, lbp.lbpPeriodoInicio = a.lbpPeriodoInicio, lbp.lbpPeriodoFin = a.lbpPeriodoFin, lbp.lbpResultado = a.lbpResultado, lbp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.lbpId, inserted.lbpNumeroRegistro, inserted.lbpFecha, inserted.lbpUsuario, inserted.lbpTipoIdentificacionAfiliado, inserted.lbpNumeroIdentificacionAfiliado, inserted.lbpTipoIdentificacionBeneficiario, inserted.lbpNumeroIdentificacionBeneficiario, inserted.lbpMotivoNoAcreditado, inserted.lbpMotivoFraude, inserted.lbpMotivoOtro, inserted.lbpPeriodoInicio, inserted.lbpPeriodoFin, inserted.lbpResultado, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.LogBloqueoPar_log
			from #LogBloqueoPar1 as a
				inner join dbo.LogBloqueoPar as lbp on a.lbpId = lbp.lbpId
			where (a.ultimaFechaModificacion > lbp.ultimaFechaModificacion or lbp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #LogBloqueoPar1)



			drop table if exists #lbpIds
			create table #lbpIds (lbpId bigInt)
			insert #lbpIds
			select lbpId from #LogBloqueoPar1
			except 
			select lbpId from dbo.LogBloqueoPar

			insert dbo.LogBloqueoPar (lbpId, lbpNumeroRegistro, lbpFecha, lbpUsuario, lbpTipoIdentificacionAfiliado, lbpNumeroIdentificacionAfiliado, lbpTipoIdentificacionBeneficiario, lbpNumeroIdentificacionBeneficiario, lbpMotivoNoAcreditado, lbpMotivoFraude, lbpMotivoOtro, lbpPeriodoInicio, lbpPeriodoFin, lbpResultado,ultimaFechaModificacion)
			output inserted.lbpId, inserted.lbpNumeroRegistro, inserted.lbpFecha, inserted.lbpUsuario, inserted.lbpTipoIdentificacionAfiliado, inserted.lbpNumeroIdentificacionAfiliado, inserted.lbpTipoIdentificacionBeneficiario, inserted.lbpNumeroIdentificacionBeneficiario, inserted.lbpMotivoNoAcreditado, inserted.lbpMotivoFraude, inserted.lbpMotivoOtro, inserted.lbpPeriodoInicio, inserted.lbpPeriodoFin, inserted.lbpResultado
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.LogBloqueoPar_log
			select lbpId, lbpNumeroRegistro, lbpFecha, lbpUsuario, lbpTipoIdentificacionAfiliado, lbpNumeroIdentificacionAfiliado, lbpTipoIdentificacionBeneficiario, lbpNumeroIdentificacionBeneficiario, lbpMotivoNoAcreditado, lbpMotivoFraude, lbpMotivoOtro, lbpPeriodoInicio, lbpPeriodoFin, lbpResultado, ultimaFechaModificacion
			from #LogBloqueoPar1
			where lbpId in (select lbpId from #lbpIds)
				and actId = 1

			delete from dbo.LogBloqueoPar
			output deleted.lbpId, deleted.lbpNumeroRegistro, deleted.lbpFecha, deleted.lbpUsuario, deleted.lbpTipoIdentificacionAfiliado, deleted.lbpNumeroIdentificacionAfiliado, deleted.lbpTipoIdentificacionBeneficiario, deleted.lbpNumeroIdentificacionBeneficiario, deleted.lbpMotivoNoAcreditado, deleted.lbpMotivoFraude, deleted.lbpMotivoOtro, deleted.lbpPeriodoInicio, deleted.lbpPeriodoFin, deleted.lbpResultado
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.LogBloqueoPar_log
			where lbpId in (select lbpId from #LogBloqueoPar1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SubsidioMonetarioValorPignorado

	
			declare @SubsidioMonetarioValorPignorado1 table (smvId bigint   not null,smvTipoIdentificacionTrabajador varchar(20)   not null,smvNumeroIdentificacionTrabajador varchar(16)   not null,smvNombreTrabajador varchar(200)   not null,smvTipoIdentificacionAdministrador varchar(20)   null,smvNumeroIdentificacionAdministrador varchar(16)   null,smvCodigoGrupoFamiliar smallint   not null,smvValorPignorar numeric (19,  5) not null,smvValorPignorado numeric (19,  5) null,smvArchivoEntidadDescuentoSubsidioPignorado bigint   not null,smvResultado varchar(11)   null,smvNumeroRadicado varchar(20)   null,smvCodigoReferencia varchar(20)   null,smvOrigenRegistro varchar(20)   null,smvTipoMedioDePago varchar(20)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select smvId, smvTipoIdentificacionTrabajador, smvNumeroIdentificacionTrabajador, smvNombreTrabajador, smvTipoIdentificacionAdministrador, smvNumeroIdentificacionAdministrador, smvCodigoGrupoFamiliar, smvValorPignorar, smvValorPignorado, smvArchivoEntidadDescuentoSubsidioPignorado, smvResultado, smvNumeroRadicado, smvCodigoReferencia, smvOrigenRegistro, smvTipoMedioDePago, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SubsidioMonetarioValorPignorado_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SubsidioMonetarioValorPignorado1
			execute sp_execute_remote SubsidioReferenceData, @query
	
			drop table if exists #SubsidioMonetarioValorPignorado1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by smvId) then 1 else null end as act
				,row_number() over (partition by smvId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SubsidioMonetarioValorPignorado1)
			select *
			into #SubsidioMonetarioValorPignorado1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update smv set smv.smvTipoIdentificacionTrabajador = a.smvTipoIdentificacionTrabajador, smv.smvNumeroIdentificacionTrabajador = a.smvNumeroIdentificacionTrabajador, smv.smvNombreTrabajador = a.smvNombreTrabajador, smv.smvTipoIdentificacionAdministrador = a.smvTipoIdentificacionAdministrador, smv.smvNumeroIdentificacionAdministrador = a.smvNumeroIdentificacionAdministrador, smv.smvCodigoGrupoFamiliar = a.smvCodigoGrupoFamiliar, smv.smvValorPignorar = a.smvValorPignorar, smv.smvValorPignorado = a.smvValorPignorado, smv.smvArchivoEntidadDescuentoSubsidioPignorado = a.smvArchivoEntidadDescuentoSubsidioPignorado, smv.smvResultado = a.smvResultado, smv.smvNumeroRadicado = a.smvNumeroRadicado, smv.smvCodigoReferencia = a.smvCodigoReferencia, smv.smvOrigenRegistro = a.smvOrigenRegistro, smv.smvTipoMedioDePago = a.smvTipoMedioDePago, smv.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.smvId, inserted.smvTipoIdentificacionTrabajador, inserted.smvNumeroIdentificacionTrabajador, inserted.smvNombreTrabajador, inserted.smvTipoIdentificacionAdministrador, inserted.smvNumeroIdentificacionAdministrador, inserted.smvCodigoGrupoFamiliar, inserted.smvValorPignorar, inserted.smvValorPignorado, inserted.smvArchivoEntidadDescuentoSubsidioPignorado, inserted.smvResultado, inserted.smvNumeroRadicado, inserted.smvCodigoReferencia, inserted.smvOrigenRegistro, inserted.smvTipoMedioDePago, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SubsidioMonetarioValorPignorado_log
			from #SubsidioMonetarioValorPignorado1 as a
				inner join dbo.SubsidioMonetarioValorPignorado as smv on a.smvId = smv.smvId
			where (a.ultimaFechaModificacion > smv.ultimaFechaModificacion or smv.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SubsidioMonetarioValorPignorado1)



			drop table if exists #smvIds
			create table #smvIds (smvId bigInt)
			insert #smvIds
			select smvId from #SubsidioMonetarioValorPignorado1
			except 
			select smvId from dbo.SubsidioMonetarioValorPignorado

			insert dbo.SubsidioMonetarioValorPignorado (smvId, smvTipoIdentificacionTrabajador, smvNumeroIdentificacionTrabajador, smvNombreTrabajador, smvTipoIdentificacionAdministrador, smvNumeroIdentificacionAdministrador, smvCodigoGrupoFamiliar, smvValorPignorar, smvValorPignorado, smvArchivoEntidadDescuentoSubsidioPignorado, smvResultado, smvNumeroRadicado, smvCodigoReferencia, smvOrigenRegistro, smvTipoMedioDePago,ultimaFechaModificacion)
			output inserted.smvId, inserted.smvTipoIdentificacionTrabajador, inserted.smvNumeroIdentificacionTrabajador, inserted.smvNombreTrabajador, inserted.smvTipoIdentificacionAdministrador, inserted.smvNumeroIdentificacionAdministrador, inserted.smvCodigoGrupoFamiliar, inserted.smvValorPignorar, inserted.smvValorPignorado, inserted.smvArchivoEntidadDescuentoSubsidioPignorado, inserted.smvResultado, inserted.smvNumeroRadicado, inserted.smvCodigoReferencia, inserted.smvOrigenRegistro, inserted.smvTipoMedioDePago
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SubsidioMonetarioValorPignorado_log
			select smvId, smvTipoIdentificacionTrabajador, smvNumeroIdentificacionTrabajador, smvNombreTrabajador, smvTipoIdentificacionAdministrador, smvNumeroIdentificacionAdministrador, smvCodigoGrupoFamiliar, smvValorPignorar, smvValorPignorado, smvArchivoEntidadDescuentoSubsidioPignorado, smvResultado, smvNumeroRadicado, smvCodigoReferencia, smvOrigenRegistro, smvTipoMedioDePago, ultimaFechaModificacion
			from #SubsidioMonetarioValorPignorado1
			where smvId in (select smvId from #smvIds)
				and actId = 1

			delete from dbo.SubsidioMonetarioValorPignorado
			output deleted.smvId, deleted.smvTipoIdentificacionTrabajador, deleted.smvNumeroIdentificacionTrabajador, deleted.smvNombreTrabajador, deleted.smvTipoIdentificacionAdministrador, deleted.smvNumeroIdentificacionAdministrador, deleted.smvCodigoGrupoFamiliar, deleted.smvValorPignorar, deleted.smvValorPignorado, deleted.smvArchivoEntidadDescuentoSubsidioPignorado, deleted.smvResultado, deleted.smvNumeroRadicado, deleted.smvCodigoReferencia, deleted.smvOrigenRegistro, deleted.smvTipoMedioDePago
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SubsidioMonetarioValorPignorado_log
			where smvId in (select smvId from #SubsidioMonetarioValorPignorado1 where operacion = 1 and actId = 1)