	CREATE or alter procedure [dbo].[OP_NovRolSolAEAseEstSolAESolNESolLSS_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla AsesorResponsableEmpleador

	
			declare @AsesorResponsableEmpleador1 table (areId bigint   not null,areNombreUsuario varchar(255)   null,arePrimario bit   null,areEmpleador bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select areId, areNombreUsuario, arePrimario, areEmpleador, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_AsesorResponsableEmpleador_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @AsesorResponsableEmpleador1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #AsesorResponsableEmpleador1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by areId) then 1 else null end as act
				,row_number() over (partition by areId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @AsesorResponsableEmpleador1)
			select *
			into #AsesorResponsableEmpleador1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update are set are.areNombreUsuario = a.areNombreUsuario, are.arePrimario = a.arePrimario, are.areEmpleador = a.areEmpleador, are.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.areId, inserted.areNombreUsuario, inserted.arePrimario, inserted.areEmpleador, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.AsesorResponsableEmpleador_log
			from #AsesorResponsableEmpleador1 as a
				inner join dbo.AsesorResponsableEmpleador as are on a.areId = are.areId
			where (a.ultimaFechaModificacion > are.ultimaFechaModificacion or are.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #AsesorResponsableEmpleador1)



			drop table if exists #areIds
			create table #areIds (areId bigInt)
			insert #areIds
			select areId from #AsesorResponsableEmpleador1
			except 
			select areId from dbo.AsesorResponsableEmpleador

			insert dbo.AsesorResponsableEmpleador (areId, areNombreUsuario, arePrimario, areEmpleador,ultimaFechaModificacion)
			output inserted.areId, inserted.areNombreUsuario, inserted.arePrimario, inserted.areEmpleador
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.AsesorResponsableEmpleador_log
			select areId, areNombreUsuario, arePrimario, areEmpleador, ultimaFechaModificacion
			from #AsesorResponsableEmpleador1
			where areId in (select areId from #areIds)
				and actId = 1

			delete from dbo.AsesorResponsableEmpleador
			output deleted.areId, deleted.areNombreUsuario, deleted.arePrimario, deleted.areEmpleador
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.AsesorResponsableEmpleador_log
			where areId in (select areId from #AsesorResponsableEmpleador1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla EstadoAfiliacionEmpleadorCaja

	
			declare @EstadoAfiliacionEmpleadorCaja1 table (eecId bigint   not null,eecPersona bigint   not null,eecEstadoAfiliacion varchar(50)   null,eecFechaCambioEstado datetime   not null,eecMotivoDesafiliacion varchar(100)   null,eecNumeroTrabajadores int   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select eecId, eecPersona, eecEstadoAfiliacion, eecFechaCambioEstado, eecMotivoDesafiliacion, eecNumeroTrabajadores, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_EstadoAfiliacionEmpleadorCaja_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @EstadoAfiliacionEmpleadorCaja1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #EstadoAfiliacionEmpleadorCaja1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by eecId) then 1 else null end as act
				,row_number() over (partition by eecId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @EstadoAfiliacionEmpleadorCaja1)
			select *
			into #EstadoAfiliacionEmpleadorCaja1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update eec set eec.eecPersona = a.eecPersona, eec.eecEstadoAfiliacion = a.eecEstadoAfiliacion, eec.eecFechaCambioEstado = a.eecFechaCambioEstado, eec.eecMotivoDesafiliacion = a.eecMotivoDesafiliacion, eec.eecNumeroTrabajadores = a.eecNumeroTrabajadores, eec.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.eecId, inserted.eecPersona, inserted.eecEstadoAfiliacion, inserted.eecFechaCambioEstado, inserted.eecMotivoDesafiliacion, inserted.eecNumeroTrabajadores, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.EstadoAfiliacionEmpleadorCaja_log
			from #EstadoAfiliacionEmpleadorCaja1 as a
				inner join dbo.EstadoAfiliacionEmpleadorCaja as eec on a.eecId = eec.eecId
			where (a.ultimaFechaModificacion > eec.ultimaFechaModificacion or eec.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #EstadoAfiliacionEmpleadorCaja1)



			drop table if exists #eecIds
			create table #eecIds (eecId bigInt)
			insert #eecIds
			select eecId from #EstadoAfiliacionEmpleadorCaja1
			except 
			select eecId from dbo.EstadoAfiliacionEmpleadorCaja

			insert dbo.EstadoAfiliacionEmpleadorCaja (eecId, eecPersona, eecEstadoAfiliacion, eecFechaCambioEstado, eecMotivoDesafiliacion, eecNumeroTrabajadores,ultimaFechaModificacion)
			output inserted.eecId, inserted.eecPersona, inserted.eecEstadoAfiliacion, inserted.eecFechaCambioEstado, inserted.eecMotivoDesafiliacion, inserted.eecNumeroTrabajadores
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.EstadoAfiliacionEmpleadorCaja_log
			select eecId, eecPersona, eecEstadoAfiliacion, eecFechaCambioEstado, eecMotivoDesafiliacion, eecNumeroTrabajadores, ultimaFechaModificacion
			from #EstadoAfiliacionEmpleadorCaja1
			where eecId in (select eecId from #eecIds)
				and actId = 1

			delete from dbo.EstadoAfiliacionEmpleadorCaja
			output deleted.eecId, deleted.eecPersona, deleted.eecEstadoAfiliacion, deleted.eecFechaCambioEstado, deleted.eecMotivoDesafiliacion, deleted.eecNumeroTrabajadores
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.EstadoAfiliacionEmpleadorCaja_log
			where eecId in (select eecId from #EstadoAfiliacionEmpleadorCaja1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla NovedadDetalle

	
			declare @NovedadDetalle1 table (nopId bigint   not null,nopFechaInicio date   null,nopFechaFin date   null,nopVigente bit   null,nopSolicitudNovedad bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select nopId, nopFechaInicio, nopFechaFin, nopVigente, nopSolicitudNovedad, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_NovedadDetalle_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @NovedadDetalle1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #NovedadDetalle1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by nopId) then 1 else null end as act
				,row_number() over (partition by nopId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @NovedadDetalle1)
			select *
			into #NovedadDetalle1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update nop set nop.nopFechaInicio = a.nopFechaInicio, nop.nopFechaFin = a.nopFechaFin, nop.nopVigente = a.nopVigente, nop.nopSolicitudNovedad = a.nopSolicitudNovedad, nop.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.nopId, inserted.nopFechaInicio, inserted.nopFechaFin, inserted.nopVigente, inserted.nopSolicitudNovedad, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.NovedadDetalle_log
			from #NovedadDetalle1 as a
				inner join dbo.NovedadDetalle as nop on a.nopId = nop.nopId
			where (a.ultimaFechaModificacion > nop.ultimaFechaModificacion or nop.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #NovedadDetalle1)



			drop table if exists #nopIds
			create table #nopIds (nopId bigInt)
			insert #nopIds
			select nopId from #NovedadDetalle1
			except 
			select nopId from dbo.NovedadDetalle

			insert dbo.NovedadDetalle (nopId, nopFechaInicio, nopFechaFin, nopVigente, nopSolicitudNovedad,ultimaFechaModificacion)
			output inserted.nopId, inserted.nopFechaInicio, inserted.nopFechaFin, inserted.nopVigente, inserted.nopSolicitudNovedad
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.NovedadDetalle_log
			select nopId, nopFechaInicio, nopFechaFin, nopVigente, nopSolicitudNovedad, ultimaFechaModificacion
			from #NovedadDetalle1
			where nopId in (select nopId from #nopIds)
				and actId = 1

			delete from dbo.NovedadDetalle
			output deleted.nopId, deleted.nopFechaInicio, deleted.nopFechaFin, deleted.nopVigente, deleted.nopSolicitudNovedad
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.NovedadDetalle_log
			where nopId in (select nopId from #NovedadDetalle1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla RolContactoEmpleador

	
			declare @RolContactoEmpleador1 table (rceId bigint   not null,rceTipoRolContactoEmpleador varchar(50)   null,rceEmpleador bigint   null,rcePersona bigint   null,rceCargo varchar(100)   null,rcetoken varchar(50)   null,rceCorreoEnviado bit   null,rceUbicacion bigint   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select rceId, rceTipoRolContactoEmpleador, rceEmpleador, rcePersona, rceCargo, rcetoken, rceCorreoEnviado, rceUbicacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_RolContactoEmpleador_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @RolContactoEmpleador1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #RolContactoEmpleador1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by rceId) then 1 else null end as act
				,row_number() over (partition by rceId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @RolContactoEmpleador1)
			select *
			into #RolContactoEmpleador1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update rce set rce.rceTipoRolContactoEmpleador = a.rceTipoRolContactoEmpleador, rce.rceEmpleador = a.rceEmpleador, rce.rcePersona = a.rcePersona, rce.rceCargo = a.rceCargo, rce.rcetoken = a.rcetoken, rce.rceCorreoEnviado = a.rceCorreoEnviado, rce.rceUbicacion = a.rceUbicacion, rce.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.rceId, inserted.rceTipoRolContactoEmpleador, inserted.rceEmpleador, inserted.rcePersona, inserted.rceCargo, inserted.rcetoken, inserted.rceCorreoEnviado, inserted.rceUbicacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.RolContactoEmpleador_log
			from #RolContactoEmpleador1 as a
				inner join dbo.RolContactoEmpleador as rce on a.rceId = rce.rceId
			where (a.ultimaFechaModificacion > rce.ultimaFechaModificacion or rce.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #RolContactoEmpleador1)



			drop table if exists #rceIds
			create table #rceIds (rceId bigInt)
			insert #rceIds
			select rceId from #RolContactoEmpleador1
			except 
			select rceId from dbo.RolContactoEmpleador

			insert dbo.RolContactoEmpleador (rceId, rceTipoRolContactoEmpleador, rceEmpleador, rcePersona, rceCargo, rcetoken, rceCorreoEnviado, rceUbicacion,ultimaFechaModificacion)
			output inserted.rceId, inserted.rceTipoRolContactoEmpleador, inserted.rceEmpleador, inserted.rcePersona, inserted.rceCargo, inserted.rcetoken, inserted.rceCorreoEnviado, inserted.rceUbicacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.RolContactoEmpleador_log
			select rceId, rceTipoRolContactoEmpleador, rceEmpleador, rcePersona, rceCargo, rcetoken, rceCorreoEnviado, rceUbicacion, ultimaFechaModificacion
			from #RolContactoEmpleador1
			where rceId in (select rceId from #rceIds)
				and actId = 1

			delete from dbo.RolContactoEmpleador
			output deleted.rceId, deleted.rceTipoRolContactoEmpleador, deleted.rceEmpleador, deleted.rcePersona, deleted.rceCargo, deleted.rcetoken, deleted.rceCorreoEnviado, deleted.rceUbicacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.RolContactoEmpleador_log
			where rceId in (select rceId from #RolContactoEmpleador1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudAfiliaciEmpleador

	
			declare @SolicitudAfiliaciEmpleador1 table (saeId bigint   not null,saeCodigoEtiquetaPreimpresa varchar(12)   null,saeEstadoSolicitud varchar(50)   null,saeFechaAprobacionConsejo datetime2   null,saeNumeroActoAdministrativo varchar(50)   null,saeNumeroCustodiaFisica varchar(12)   null,saeEmpleador bigint   null,saeSolicitudGlobal bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select saeId, saeCodigoEtiquetaPreimpresa, saeEstadoSolicitud, saeFechaAprobacionConsejo, saeNumeroActoAdministrativo, saeNumeroCustodiaFisica, saeEmpleador, saeSolicitudGlobal, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudAfiliaciEmpleador_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudAfiliaciEmpleador1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudAfiliaciEmpleador1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by saeId) then 1 else null end as act
				,row_number() over (partition by saeId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudAfiliaciEmpleador1)
			select *
			into #SolicitudAfiliaciEmpleador1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sae set sae.saeCodigoEtiquetaPreimpresa = a.saeCodigoEtiquetaPreimpresa, sae.saeEstadoSolicitud = a.saeEstadoSolicitud, sae.saeFechaAprobacionConsejo = a.saeFechaAprobacionConsejo, sae.saeNumeroActoAdministrativo = a.saeNumeroActoAdministrativo, sae.saeNumeroCustodiaFisica = a.saeNumeroCustodiaFisica, sae.saeEmpleador = a.saeEmpleador, sae.saeSolicitudGlobal = a.saeSolicitudGlobal, sae.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.saeId, inserted.saeCodigoEtiquetaPreimpresa, inserted.saeEstadoSolicitud, inserted.saeFechaAprobacionConsejo, inserted.saeNumeroActoAdministrativo, inserted.saeNumeroCustodiaFisica, inserted.saeEmpleador, inserted.saeSolicitudGlobal, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudAfiliaciEmpleador_log
			from #SolicitudAfiliaciEmpleador1 as a
				inner join dbo.SolicitudAfiliaciEmpleador as sae on a.saeId = sae.saeId
			where (a.ultimaFechaModificacion > sae.ultimaFechaModificacion or sae.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudAfiliaciEmpleador1)



			drop table if exists #saeIds
			create table #saeIds (saeId bigInt)
			insert #saeIds
			select saeId from #SolicitudAfiliaciEmpleador1
			except 
			select saeId from dbo.SolicitudAfiliaciEmpleador

			insert dbo.SolicitudAfiliaciEmpleador (saeId, saeCodigoEtiquetaPreimpresa, saeEstadoSolicitud, saeFechaAprobacionConsejo, saeNumeroActoAdministrativo, saeNumeroCustodiaFisica, saeEmpleador, saeSolicitudGlobal,ultimaFechaModificacion)
			output inserted.saeId, inserted.saeCodigoEtiquetaPreimpresa, inserted.saeEstadoSolicitud, inserted.saeFechaAprobacionConsejo, inserted.saeNumeroActoAdministrativo, inserted.saeNumeroCustodiaFisica, inserted.saeEmpleador, inserted.saeSolicitudGlobal
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudAfiliaciEmpleador_log
			select saeId, saeCodigoEtiquetaPreimpresa, saeEstadoSolicitud, saeFechaAprobacionConsejo, saeNumeroActoAdministrativo, saeNumeroCustodiaFisica, saeEmpleador, saeSolicitudGlobal, ultimaFechaModificacion
			from #SolicitudAfiliaciEmpleador1
			where saeId in (select saeId from #saeIds)
				and actId = 1

			delete from dbo.SolicitudAfiliaciEmpleador
			output deleted.saeId, deleted.saeCodigoEtiquetaPreimpresa, deleted.saeEstadoSolicitud, deleted.saeFechaAprobacionConsejo, deleted.saeNumeroActoAdministrativo, deleted.saeNumeroCustodiaFisica, deleted.saeEmpleador, deleted.saeSolicitudGlobal
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudAfiliaciEmpleador_log
			where saeId in (select saeId from #SolicitudAfiliaciEmpleador1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudAsociacionPersonaEntidadPagadora

	
			declare @SolicitudAsociacionPersonaEntidadPagadora1 table (soaId bigint   not null,soaConsecutivo varchar(11)   null,soaEstado varchar(50)   null,soaFechaGestion datetime2   null,soaIdentificadorArchivoCarta varchar(255)   null,soaIdentificadorArchivoPlano varchar(255)   null,soaTipoGestion varchar(50)   null,soaRolAfiliado bigint   not null,soaSolicitudGlobal bigint   not null,soaUsuarioGestion varchar(255)   null,soaIdentificadorCartaResultadoGestion varchar(255)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select soaId, soaConsecutivo, soaEstado, soaFechaGestion, soaIdentificadorArchivoCarta, soaIdentificadorArchivoPlano, soaTipoGestion, soaRolAfiliado, soaSolicitudGlobal, soaUsuarioGestion, soaIdentificadorCartaResultadoGestion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudAsociacionPersonaEntidadPagadora_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudAsociacionPersonaEntidadPagadora1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudAsociacionPersonaEntidadPagadora1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by soaId) then 1 else null end as act
				,row_number() over (partition by soaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudAsociacionPersonaEntidadPagadora1)
			select *
			into #SolicitudAsociacionPersonaEntidadPagadora1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update soa set soa.soaConsecutivo = a.soaConsecutivo, soa.soaEstado = a.soaEstado, soa.soaFechaGestion = a.soaFechaGestion, soa.soaIdentificadorArchivoCarta = a.soaIdentificadorArchivoCarta, soa.soaIdentificadorArchivoPlano = a.soaIdentificadorArchivoPlano, soa.soaTipoGestion = a.soaTipoGestion, soa.soaRolAfiliado = a.soaRolAfiliado, soa.soaSolicitudGlobal = a.soaSolicitudGlobal, soa.soaUsuarioGestion = a.soaUsuarioGestion, soa.soaIdentificadorCartaResultadoGestion = a.soaIdentificadorCartaResultadoGestion, soa.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.soaId, inserted.soaConsecutivo, inserted.soaEstado, inserted.soaFechaGestion, inserted.soaIdentificadorArchivoCarta, inserted.soaIdentificadorArchivoPlano, inserted.soaTipoGestion, inserted.soaRolAfiliado, inserted.soaSolicitudGlobal, inserted.soaUsuarioGestion, inserted.soaIdentificadorCartaResultadoGestion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudAsociacionPersonaEntidadPagadora_log
			from #SolicitudAsociacionPersonaEntidadPagadora1 as a
				inner join dbo.SolicitudAsociacionPersonaEntidadPagadora as soa on a.soaId = soa.soaId
			where (a.ultimaFechaModificacion > soa.ultimaFechaModificacion or soa.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudAsociacionPersonaEntidadPagadora1)



			drop table if exists #soaIds
			create table #soaIds (soaId bigInt)
			insert #soaIds
			select soaId from #SolicitudAsociacionPersonaEntidadPagadora1
			except 
			select soaId from dbo.SolicitudAsociacionPersonaEntidadPagadora

			insert dbo.SolicitudAsociacionPersonaEntidadPagadora (soaId, soaConsecutivo, soaEstado, soaFechaGestion, soaIdentificadorArchivoCarta, soaIdentificadorArchivoPlano, soaTipoGestion, soaRolAfiliado, soaSolicitudGlobal, soaUsuarioGestion, soaIdentificadorCartaResultadoGestion,ultimaFechaModificacion)
			output inserted.soaId, inserted.soaConsecutivo, inserted.soaEstado, inserted.soaFechaGestion, inserted.soaIdentificadorArchivoCarta, inserted.soaIdentificadorArchivoPlano, inserted.soaTipoGestion, inserted.soaRolAfiliado, inserted.soaSolicitudGlobal, inserted.soaUsuarioGestion, inserted.soaIdentificadorCartaResultadoGestion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudAsociacionPersonaEntidadPagadora_log
			select soaId, soaConsecutivo, soaEstado, soaFechaGestion, soaIdentificadorArchivoCarta, soaIdentificadorArchivoPlano, soaTipoGestion, soaRolAfiliado, soaSolicitudGlobal, soaUsuarioGestion, soaIdentificadorCartaResultadoGestion, ultimaFechaModificacion
			from #SolicitudAsociacionPersonaEntidadPagadora1
			where soaId in (select soaId from #soaIds)
				and actId = 1

			delete from dbo.SolicitudAsociacionPersonaEntidadPagadora
			output deleted.soaId, deleted.soaConsecutivo, deleted.soaEstado, deleted.soaFechaGestion, deleted.soaIdentificadorArchivoCarta, deleted.soaIdentificadorArchivoPlano, deleted.soaTipoGestion, deleted.soaRolAfiliado, deleted.soaSolicitudGlobal, deleted.soaUsuarioGestion, deleted.soaIdentificadorCartaResultadoGestion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudAsociacionPersonaEntidadPagadora_log
			where soaId in (select soaId from #SolicitudAsociacionPersonaEntidadPagadora1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudDesafiliacion

	
			declare @SolicitudDesafiliacion1 table (sodId bigint   not null,sodComentarioCoordinador varchar(500)   null,sodEstadoSolicitud varchar(9)   null,sodSolicitudGlobal bigint   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select sodId, sodComentarioCoordinador, sodEstadoSolicitud, sodSolicitudGlobal, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudDesafiliacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudDesafiliacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudDesafiliacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by sodId) then 1 else null end as act
				,row_number() over (partition by sodId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudDesafiliacion1)
			select *
			into #SolicitudDesafiliacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sod set sod.sodComentarioCoordinador = a.sodComentarioCoordinador, sod.sodEstadoSolicitud = a.sodEstadoSolicitud, sod.sodSolicitudGlobal = a.sodSolicitudGlobal, sod.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.sodId, inserted.sodComentarioCoordinador, inserted.sodEstadoSolicitud, inserted.sodSolicitudGlobal, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudDesafiliacion_log
			from #SolicitudDesafiliacion1 as a
				inner join dbo.SolicitudDesafiliacion as sod on a.sodId = sod.sodId
			where (a.ultimaFechaModificacion > sod.ultimaFechaModificacion or sod.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudDesafiliacion1)



			drop table if exists #sodIds
			create table #sodIds (sodId bigInt)
			insert #sodIds
			select sodId from #SolicitudDesafiliacion1
			except 
			select sodId from dbo.SolicitudDesafiliacion

			insert dbo.SolicitudDesafiliacion (sodId, sodComentarioCoordinador, sodEstadoSolicitud, sodSolicitudGlobal,ultimaFechaModificacion)
			output inserted.sodId, inserted.sodComentarioCoordinador, inserted.sodEstadoSolicitud, inserted.sodSolicitudGlobal
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudDesafiliacion_log
			select sodId, sodComentarioCoordinador, sodEstadoSolicitud, sodSolicitudGlobal, ultimaFechaModificacion
			from #SolicitudDesafiliacion1
			where sodId in (select sodId from #sodIds)
				and actId = 1

			delete from dbo.SolicitudDesafiliacion
			output deleted.sodId, deleted.sodComentarioCoordinador, deleted.sodEstadoSolicitud, deleted.sodSolicitudGlobal
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudDesafiliacion_log
			where sodId in (select sodId from #SolicitudDesafiliacion1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudFiscalizacion

	
			declare @SolicitudFiscalizacion1 table (sfiId bigint   not null,sfiEstadoFiscalizacion varchar(11)   null,sfiSolicitudGlobal bigint   not null,sfiCicloAportante bigint   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select sfiId, sfiEstadoFiscalizacion, sfiSolicitudGlobal, sfiCicloAportante, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudFiscalizacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudFiscalizacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudFiscalizacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by sfiId) then 1 else null end as act
				,row_number() over (partition by sfiId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudFiscalizacion1)
			select *
			into #SolicitudFiscalizacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sfi set sfi.sfiEstadoFiscalizacion = a.sfiEstadoFiscalizacion, sfi.sfiSolicitudGlobal = a.sfiSolicitudGlobal, sfi.sfiCicloAportante = a.sfiCicloAportante, sfi.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.sfiId, inserted.sfiEstadoFiscalizacion, inserted.sfiSolicitudGlobal, inserted.sfiCicloAportante, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudFiscalizacion_log
			from #SolicitudFiscalizacion1 as a
				inner join dbo.SolicitudFiscalizacion as sfi on a.sfiId = sfi.sfiId
			where (a.ultimaFechaModificacion > sfi.ultimaFechaModificacion or sfi.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudFiscalizacion1)



			drop table if exists #sfiIds
			create table #sfiIds (sfiId bigInt)
			insert #sfiIds
			select sfiId from #SolicitudFiscalizacion1
			except 
			select sfiId from dbo.SolicitudFiscalizacion

			insert dbo.SolicitudFiscalizacion (sfiId, sfiEstadoFiscalizacion, sfiSolicitudGlobal, sfiCicloAportante,ultimaFechaModificacion)
			output inserted.sfiId, inserted.sfiEstadoFiscalizacion, inserted.sfiSolicitudGlobal, inserted.sfiCicloAportante
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudFiscalizacion_log
			select sfiId, sfiEstadoFiscalizacion, sfiSolicitudGlobal, sfiCicloAportante, ultimaFechaModificacion
			from #SolicitudFiscalizacion1
			where sfiId in (select sfiId from #sfiIds)
				and actId = 1

			delete from dbo.SolicitudFiscalizacion
			output deleted.sfiId, deleted.sfiEstadoFiscalizacion, deleted.sfiSolicitudGlobal, deleted.sfiCicloAportante
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudFiscalizacion_log
			where sfiId in (select sfiId from #SolicitudFiscalizacion1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudLiquidacionSubsidio

	
			declare @SolicitudLiquidacionSubsidio1 table (slsId bigint   not null,slsSolicitudGlobal bigint   not null,slsFechaCorteAporte datetime   null,slsFechaInicio datetime   null,slsFechaFin datetime   null,slsTipoLiquidacion varchar(33)   not null,slsTipoLiquidacionEspecifica varchar(32)   null,slsEstadoLiquidacion varchar(25)   not null,slsTipoEjecucionProceso varchar(10)   not null,slsFechaEjecucionProgramada datetime   null,slsUsuarioEvaluacionPrimerNivel varchar(50)   null,slsObservacionesPrimerNivel varchar(250)   null,slsUsuarioEvaluacionSegundoNivel varchar(50)   null,slsObservacionesSegundoNivel varchar(250)   null,slsRazonRechazoLiquidacion varchar(250)   null,slsObservacionesProceso varchar(250)   null,slsFechaEvaluacionPrimerNivel datetime   null,slsFechaEvaluacionSegundoNivel datetime   null,slsCodigoReclamo varchar(50)   null,slsComentarioReclamo varchar(250)   null,slsFechaDispersion datetime   null,slsConsideracionAporteDesembolso bit   null,slsTipoDesembolso varchar(40)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select slsId, slsSolicitudGlobal, slsFechaCorteAporte, slsFechaInicio, slsFechaFin, slsTipoLiquidacion, slsTipoLiquidacionEspecifica, slsEstadoLiquidacion, slsTipoEjecucionProceso, slsFechaEjecucionProgramada, slsUsuarioEvaluacionPrimerNivel, slsObservacionesPrimerNivel, slsUsuarioEvaluacionSegundoNivel, slsObservacionesSegundoNivel, slsRazonRechazoLiquidacion, slsObservacionesProceso, slsFechaEvaluacionPrimerNivel, slsFechaEvaluacionSegundoNivel, slsCodigoReclamo, slsComentarioReclamo, slsFechaDispersion, slsConsideracionAporteDesembolso, slsTipoDesembolso, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudLiquidacionSubsidio_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudLiquidacionSubsidio1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudLiquidacionSubsidio1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by slsId) then 1 else null end as act
				,row_number() over (partition by slsId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudLiquidacionSubsidio1)
			select *
			into #SolicitudLiquidacionSubsidio1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sls set sls.slsSolicitudGlobal = a.slsSolicitudGlobal, sls.slsFechaCorteAporte = a.slsFechaCorteAporte, sls.slsFechaInicio = a.slsFechaInicio, sls.slsFechaFin = a.slsFechaFin, sls.slsTipoLiquidacion = a.slsTipoLiquidacion, sls.slsTipoLiquidacionEspecifica = a.slsTipoLiquidacionEspecifica, sls.slsEstadoLiquidacion = a.slsEstadoLiquidacion, sls.slsTipoEjecucionProceso = a.slsTipoEjecucionProceso, sls.slsFechaEjecucionProgramada = a.slsFechaEjecucionProgramada, sls.slsUsuarioEvaluacionPrimerNivel = a.slsUsuarioEvaluacionPrimerNivel, sls.slsObservacionesPrimerNivel = a.slsObservacionesPrimerNivel, sls.slsUsuarioEvaluacionSegundoNivel = a.slsUsuarioEvaluacionSegundoNivel, sls.slsObservacionesSegundoNivel = a.slsObservacionesSegundoNivel, sls.slsRazonRechazoLiquidacion = a.slsRazonRechazoLiquidacion, sls.slsObservacionesProceso = a.slsObservacionesProceso, sls.slsFechaEvaluacionPrimerNivel = a.slsFechaEvaluacionPrimerNivel, sls.slsFechaEvaluacionSegundoNivel = a.slsFechaEvaluacionSegundoNivel, sls.slsCodigoReclamo = a.slsCodigoReclamo, sls.slsComentarioReclamo = a.slsComentarioReclamo, sls.slsFechaDispersion = a.slsFechaDispersion, sls.slsConsideracionAporteDesembolso = a.slsConsideracionAporteDesembolso, sls.slsTipoDesembolso = a.slsTipoDesembolso, sls.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.slsId, inserted.slsSolicitudGlobal, inserted.slsFechaCorteAporte, inserted.slsFechaInicio, inserted.slsFechaFin, inserted.slsTipoLiquidacion, inserted.slsTipoLiquidacionEspecifica, inserted.slsEstadoLiquidacion, inserted.slsTipoEjecucionProceso, inserted.slsFechaEjecucionProgramada, inserted.slsUsuarioEvaluacionPrimerNivel, inserted.slsObservacionesPrimerNivel, inserted.slsUsuarioEvaluacionSegundoNivel, inserted.slsObservacionesSegundoNivel, inserted.slsRazonRechazoLiquidacion, inserted.slsObservacionesProceso, inserted.slsFechaEvaluacionPrimerNivel, inserted.slsFechaEvaluacionSegundoNivel, inserted.slsCodigoReclamo, inserted.slsComentarioReclamo, inserted.slsFechaDispersion, inserted.slsConsideracionAporteDesembolso, inserted.slsTipoDesembolso, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudLiquidacionSubsidio_log
			from #SolicitudLiquidacionSubsidio1 as a
				inner join dbo.SolicitudLiquidacionSubsidio as sls on a.slsId = sls.slsId
			where (a.ultimaFechaModificacion > sls.ultimaFechaModificacion or sls.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudLiquidacionSubsidio1)



			drop table if exists #slsIds
			create table #slsIds (slsId bigInt)
			insert #slsIds
			select slsId from #SolicitudLiquidacionSubsidio1
			except 
			select slsId from dbo.SolicitudLiquidacionSubsidio

			insert dbo.SolicitudLiquidacionSubsidio (slsId, slsSolicitudGlobal, slsFechaCorteAporte, slsFechaInicio, slsFechaFin, slsTipoLiquidacion, slsTipoLiquidacionEspecifica, slsEstadoLiquidacion, slsTipoEjecucionProceso, slsFechaEjecucionProgramada, slsUsuarioEvaluacionPrimerNivel, slsObservacionesPrimerNivel, slsUsuarioEvaluacionSegundoNivel, slsObservacionesSegundoNivel, slsRazonRechazoLiquidacion, slsObservacionesProceso, slsFechaEvaluacionPrimerNivel, slsFechaEvaluacionSegundoNivel, slsCodigoReclamo, slsComentarioReclamo, slsFechaDispersion, slsConsideracionAporteDesembolso, slsTipoDesembolso,ultimaFechaModificacion)
			output inserted.slsId, inserted.slsSolicitudGlobal, inserted.slsFechaCorteAporte, inserted.slsFechaInicio, inserted.slsFechaFin, inserted.slsTipoLiquidacion, inserted.slsTipoLiquidacionEspecifica, inserted.slsEstadoLiquidacion, inserted.slsTipoEjecucionProceso, inserted.slsFechaEjecucionProgramada, inserted.slsUsuarioEvaluacionPrimerNivel, inserted.slsObservacionesPrimerNivel, inserted.slsUsuarioEvaluacionSegundoNivel, inserted.slsObservacionesSegundoNivel, inserted.slsRazonRechazoLiquidacion, inserted.slsObservacionesProceso, inserted.slsFechaEvaluacionPrimerNivel, inserted.slsFechaEvaluacionSegundoNivel, inserted.slsCodigoReclamo, inserted.slsComentarioReclamo, inserted.slsFechaDispersion, inserted.slsConsideracionAporteDesembolso, inserted.slsTipoDesembolso
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudLiquidacionSubsidio_log
			select slsId, slsSolicitudGlobal, slsFechaCorteAporte, slsFechaInicio, slsFechaFin, slsTipoLiquidacion, slsTipoLiquidacionEspecifica, slsEstadoLiquidacion, slsTipoEjecucionProceso, slsFechaEjecucionProgramada, slsUsuarioEvaluacionPrimerNivel, slsObservacionesPrimerNivel, slsUsuarioEvaluacionSegundoNivel, slsObservacionesSegundoNivel, slsRazonRechazoLiquidacion, slsObservacionesProceso, slsFechaEvaluacionPrimerNivel, slsFechaEvaluacionSegundoNivel, slsCodigoReclamo, slsComentarioReclamo, slsFechaDispersion, slsConsideracionAporteDesembolso, slsTipoDesembolso, ultimaFechaModificacion
			from #SolicitudLiquidacionSubsidio1
			where slsId in (select slsId from #slsIds)
				and actId = 1

			delete from dbo.SolicitudLiquidacionSubsidio
			output deleted.slsId, deleted.slsSolicitudGlobal, deleted.slsFechaCorteAporte, deleted.slsFechaInicio, deleted.slsFechaFin, deleted.slsTipoLiquidacion, deleted.slsTipoLiquidacionEspecifica, deleted.slsEstadoLiquidacion, deleted.slsTipoEjecucionProceso, deleted.slsFechaEjecucionProgramada, deleted.slsUsuarioEvaluacionPrimerNivel, deleted.slsObservacionesPrimerNivel, deleted.slsUsuarioEvaluacionSegundoNivel, deleted.slsObservacionesSegundoNivel, deleted.slsRazonRechazoLiquidacion, deleted.slsObservacionesProceso, deleted.slsFechaEvaluacionPrimerNivel, deleted.slsFechaEvaluacionSegundoNivel, deleted.slsCodigoReclamo, deleted.slsComentarioReclamo, deleted.slsFechaDispersion, deleted.slsConsideracionAporteDesembolso, deleted.slsTipoDesembolso
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudLiquidacionSubsidio_log
			where slsId in (select slsId from #SolicitudLiquidacionSubsidio1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudNovedadEmpleador

	
			declare @SolicitudNovedadEmpleador1 table (sneId bigint   not null,sneIdEmpleador bigint   null,sneIdSolicitudNovedad bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select sneId, sneIdEmpleador, sneIdSolicitudNovedad, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudNovedadEmpleador_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudNovedadEmpleador1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudNovedadEmpleador1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by sneId) then 1 else null end as act
				,row_number() over (partition by sneId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudNovedadEmpleador1)
			select *
			into #SolicitudNovedadEmpleador1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sne set sne.sneIdEmpleador = a.sneIdEmpleador, sne.sneIdSolicitudNovedad = a.sneIdSolicitudNovedad, sne.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.sneId, inserted.sneIdEmpleador, inserted.sneIdSolicitudNovedad, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudNovedadEmpleador_log
			from #SolicitudNovedadEmpleador1 as a
				inner join dbo.SolicitudNovedadEmpleador as sne on a.sneId = sne.sneId
			where (a.ultimaFechaModificacion > sne.ultimaFechaModificacion or sne.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudNovedadEmpleador1)



			drop table if exists #sneIds
			create table #sneIds (sneId bigInt)
			insert #sneIds
			select sneId from #SolicitudNovedadEmpleador1
			except 
			select sneId from dbo.SolicitudNovedadEmpleador

			insert dbo.SolicitudNovedadEmpleador (sneId, sneIdEmpleador, sneIdSolicitudNovedad,ultimaFechaModificacion)
			output inserted.sneId, inserted.sneIdEmpleador, inserted.sneIdSolicitudNovedad
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudNovedadEmpleador_log
			select sneId, sneIdEmpleador, sneIdSolicitudNovedad, ultimaFechaModificacion
			from #SolicitudNovedadEmpleador1
			where sneId in (select sneId from #sneIds)
				and actId = 1

			delete from dbo.SolicitudNovedadEmpleador
			output deleted.sneId, deleted.sneIdEmpleador, deleted.sneIdSolicitudNovedad
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudNovedadEmpleador_log
			where sneId in (select sneId from #SolicitudNovedadEmpleador1 where operacion = 1 and actId = 1)