	CREATE or alter procedure [dbo].[OP_DevolucionAporteDetalle_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla DevolucionAporteDetalle

	
			declare @DevolucionAporteDetalle1 table (dadId bigint   not null,dadIncluyeAporteObligatorio bit   null,dadIncluyeMoraCotizante bit   null,dadComentarioHistorico varchar(255)   null,dadComentarioNovedades varchar(255)   null,dadComentarioAportes varchar(255)   null,dadUsuario varchar(255)   null,dadFechaGestion datetime   null,dadDevolucionAporte bigint   not null,dadMovimientoAporte bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select dadId, dadIncluyeAporteObligatorio, dadIncluyeMoraCotizante, dadComentarioHistorico, dadComentarioNovedades, dadComentarioAportes, dadUsuario, dadFechaGestion, dadDevolucionAporte, dadMovimientoAporte, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_DevolucionAporteDetalle_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @DevolucionAporteDetalle1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #DevolucionAporteDetalle1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by dadId) then 1 else null end as act
				,row_number() over (partition by dadId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @DevolucionAporteDetalle1)
			select *
			into #DevolucionAporteDetalle1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update dad set dad.dadIncluyeAporteObligatorio = a.dadIncluyeAporteObligatorio, dad.dadIncluyeMoraCotizante = a.dadIncluyeMoraCotizante, dad.dadComentarioHistorico = a.dadComentarioHistorico, dad.dadComentarioNovedades = a.dadComentarioNovedades, dad.dadComentarioAportes = a.dadComentarioAportes, dad.dadUsuario = a.dadUsuario, dad.dadFechaGestion = a.dadFechaGestion, dad.dadDevolucionAporte = a.dadDevolucionAporte, dad.dadMovimientoAporte = a.dadMovimientoAporte, dad.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.dadId, inserted.dadIncluyeAporteObligatorio, inserted.dadIncluyeMoraCotizante, inserted.dadComentarioHistorico, inserted.dadComentarioNovedades, inserted.dadComentarioAportes, inserted.dadUsuario, inserted.dadFechaGestion, inserted.dadDevolucionAporte, inserted.dadMovimientoAporte, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.DevolucionAporteDetalle_log
			from #DevolucionAporteDetalle1 as a
				inner join dbo.DevolucionAporteDetalle as dad on a.dadId = dad.dadId
			where (a.ultimaFechaModificacion > dad.ultimaFechaModificacion or dad.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #DevolucionAporteDetalle1)



			drop table if exists #dadIds
			create table #dadIds (dadId bigInt)
			insert #dadIds
			select dadId from #DevolucionAporteDetalle1
			except 
			select dadId from dbo.DevolucionAporteDetalle

			insert dbo.DevolucionAporteDetalle (dadId, dadIncluyeAporteObligatorio, dadIncluyeMoraCotizante, dadComentarioHistorico, dadComentarioNovedades, dadComentarioAportes, dadUsuario, dadFechaGestion, dadDevolucionAporte, dadMovimientoAporte,ultimaFechaModificacion)
			output inserted.dadId, inserted.dadIncluyeAporteObligatorio, inserted.dadIncluyeMoraCotizante, inserted.dadComentarioHistorico, inserted.dadComentarioNovedades, inserted.dadComentarioAportes, inserted.dadUsuario, inserted.dadFechaGestion, inserted.dadDevolucionAporte, inserted.dadMovimientoAporte
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.DevolucionAporteDetalle_log
			select dadId, dadIncluyeAporteObligatorio, dadIncluyeMoraCotizante, dadComentarioHistorico, dadComentarioNovedades, dadComentarioAportes, dadUsuario, dadFechaGestion, dadDevolucionAporte, dadMovimientoAporte, ultimaFechaModificacion
			from #DevolucionAporteDetalle1
			where dadId in (select dadId from #dadIds)
				and actId = 1

			delete from dbo.DevolucionAporteDetalle
			output deleted.dadId, deleted.dadIncluyeAporteObligatorio, deleted.dadIncluyeMoraCotizante, deleted.dadComentarioHistorico, deleted.dadComentarioNovedades, deleted.dadComentarioAportes, deleted.dadUsuario, deleted.dadFechaGestion, deleted.dadDevolucionAporte, deleted.dadMovimientoAporte
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.DevolucionAporteDetalle_log
			where dadId in (select dadId from #DevolucionAporteDetalle1 where operacion = 1 and actId = 1)