	CREATE or alter procedure [dbo].[OP_DepRCLisMunCodOcuParPaiReqcor_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla aporteDetalladoRegistroControlN

	
			declare @aporteDetalladoRegistroControlN1 table (id bigint   not null,redNumeroIdentificacionCotizante varchar(20)   null,apdId bigint   null,apdAporteGeneral bigint   null,redDiasCotizados smallint   null,apdDiasCotizados smallint   null,diasCotDif smallint   null,redValorIBC numeric (19,  5) null,apdValorIBC numeric (19,  5) null,diferenciaIBC numeric (19,  5) null,redTarifa numeric (19,  5) null,apdTarifa numeric (19,  5) null,diferenciaTarifa numeric (19,  5) null,redAporteObligatorio numeric (19,  5) null,apdAporteObligatorio numeric (19,  5) null,diferenciaAporteCot numeric (19,  5) null,ActualizarAporteDetalldo smallint   null,registroGeneralNuevo bigint   null,pipId bigint   null,diferenciaMora numeric (19,  5) null,fechaProcesamiento datetime   null,planillaN bigint   null,planillaAntes bigint   null,regFechaPagoAporte date   null,moaId bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select id, redNumeroIdentificacionCotizante, apdId, apdAporteGeneral, redDiasCotizados, apdDiasCotizados, diasCotDif, redValorIBC, apdValorIBC, diferenciaIBC, redTarifa, apdTarifa, diferenciaTarifa, redAporteObligatorio, apdAporteObligatorio, diferenciaAporteCot, ActualizarAporteDetalldo, registroGeneralNuevo, pipId, diferenciaMora, fechaProcesamiento, planillaN, planillaAntes, regFechaPagoAporte, moaId, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_aporteDetalladoRegistroControlN_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @aporteDetalladoRegistroControlN1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #aporteDetalladoRegistroControlN1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by id) then 1 else null end as act
				,row_number() over (partition by id order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @aporteDetalladoRegistroControlN1)
			select *
			into #aporteDetalladoRegistroControlN1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update id set id.redNumeroIdentificacionCotizante = a.redNumeroIdentificacionCotizante, id.apdId = a.apdId, id.apdAporteGeneral = a.apdAporteGeneral, id.redDiasCotizados = a.redDiasCotizados, id.apdDiasCotizados = a.apdDiasCotizados, id.diasCotDif = a.diasCotDif, id.redValorIBC = a.redValorIBC, id.apdValorIBC = a.apdValorIBC, id.diferenciaIBC = a.diferenciaIBC, id.redTarifa = a.redTarifa, id.apdTarifa = a.apdTarifa, id.diferenciaTarifa = a.diferenciaTarifa, id.redAporteObligatorio = a.redAporteObligatorio, id.apdAporteObligatorio = a.apdAporteObligatorio, id.diferenciaAporteCot = a.diferenciaAporteCot, id.ActualizarAporteDetalldo = a.ActualizarAporteDetalldo, id.registroGeneralNuevo = a.registroGeneralNuevo, id.pipId = a.pipId, id.diferenciaMora = a.diferenciaMora, id.fechaProcesamiento = a.fechaProcesamiento, id.planillaN = a.planillaN, id.planillaAntes = a.planillaAntes, id.regFechaPagoAporte = a.regFechaPagoAporte, id.moaId = a.moaId, id.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.id, inserted.redNumeroIdentificacionCotizante, inserted.apdId, inserted.apdAporteGeneral, inserted.redDiasCotizados, inserted.apdDiasCotizados, inserted.diasCotDif, inserted.redValorIBC, inserted.apdValorIBC, inserted.diferenciaIBC, inserted.redTarifa, inserted.apdTarifa, inserted.diferenciaTarifa, inserted.redAporteObligatorio, inserted.apdAporteObligatorio, inserted.diferenciaAporteCot, inserted.ActualizarAporteDetalldo, inserted.registroGeneralNuevo, inserted.pipId, inserted.diferenciaMora, inserted.fechaProcesamiento, inserted.planillaN, inserted.planillaAntes, inserted.regFechaPagoAporte, inserted.moaId, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.aporteDetalladoRegistroControlN_log
			from #aporteDetalladoRegistroControlN1 as a
				inner join dbo.aporteDetalladoRegistroControlN as id on a.id = id.id
			where (a.ultimaFechaModificacion > id.ultimaFechaModificacion or id.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #aporteDetalladoRegistroControlN1)



			drop table if exists #ids
			create table #ids (id bigInt)
			insert #ids
			select id from #aporteDetalladoRegistroControlN1
			except 
			select id from dbo.aporteDetalladoRegistroControlN

			insert dbo.aporteDetalladoRegistroControlN (id, redNumeroIdentificacionCotizante, apdId, apdAporteGeneral, redDiasCotizados, apdDiasCotizados, diasCotDif, redValorIBC, apdValorIBC, diferenciaIBC, redTarifa, apdTarifa, diferenciaTarifa, redAporteObligatorio, apdAporteObligatorio, diferenciaAporteCot, ActualizarAporteDetalldo, registroGeneralNuevo, pipId, diferenciaMora, fechaProcesamiento, planillaN, planillaAntes, regFechaPagoAporte, moaId,ultimaFechaModificacion)
			output inserted.id, inserted.redNumeroIdentificacionCotizante, inserted.apdId, inserted.apdAporteGeneral, inserted.redDiasCotizados, inserted.apdDiasCotizados, inserted.diasCotDif, inserted.redValorIBC, inserted.apdValorIBC, inserted.diferenciaIBC, inserted.redTarifa, inserted.apdTarifa, inserted.diferenciaTarifa, inserted.redAporteObligatorio, inserted.apdAporteObligatorio, inserted.diferenciaAporteCot, inserted.ActualizarAporteDetalldo, inserted.registroGeneralNuevo, inserted.pipId, inserted.diferenciaMora, inserted.fechaProcesamiento, inserted.planillaN, inserted.planillaAntes, inserted.regFechaPagoAporte, inserted.moaId
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.aporteDetalladoRegistroControlN_log
			select id, redNumeroIdentificacionCotizante, apdId, apdAporteGeneral, redDiasCotizados, apdDiasCotizados, diasCotDif, redValorIBC, apdValorIBC, diferenciaIBC, redTarifa, apdTarifa, diferenciaTarifa, redAporteObligatorio, apdAporteObligatorio, diferenciaAporteCot, ActualizarAporteDetalldo, registroGeneralNuevo, pipId, diferenciaMora, fechaProcesamiento, planillaN, planillaAntes, regFechaPagoAporte, moaId, ultimaFechaModificacion
			from #aporteDetalladoRegistroControlN1
			where id in (select id from #ids)
				and actId = 1

			delete from dbo.aporteDetalladoRegistroControlN
			output deleted.id, deleted.redNumeroIdentificacionCotizante, deleted.apdId, deleted.apdAporteGeneral, deleted.redDiasCotizados, deleted.apdDiasCotizados, deleted.diasCotDif, deleted.redValorIBC, deleted.apdValorIBC, deleted.diferenciaIBC, deleted.redTarifa, deleted.apdTarifa, deleted.diferenciaTarifa, deleted.redAporteObligatorio, deleted.apdAporteObligatorio, deleted.diferenciaAporteCot, deleted.ActualizarAporteDetalldo, deleted.registroGeneralNuevo, deleted.pipId, deleted.diferenciaMora, deleted.fechaProcesamiento, deleted.planillaN, deleted.planillaAntes, deleted.regFechaPagoAporte, deleted.moaId
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.aporteDetalladoRegistroControlN_log
			where id in (select id from #aporteDetalladoRegistroControlN1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla CodigoCIIU

	
			declare @CodigoCIIU1 table (ciiId smallint   not null,ciiCodigo varchar(4)   not null,ciiDescripcion varchar(255)   not null,ciiCodigoSeccion varchar(1)   null,ciiDescripcionSeccion varchar(200)   null,ciiCodigoDivision varchar(2)   null,ciiDescripcionDivision varchar(250)   null,ciiCodigoGrupo varchar(3)   null,ciiDescripcionGrupo varchar(200)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ciiId, ciiCodigo, ciiDescripcion, ciiCodigoSeccion, ciiDescripcionSeccion, ciiCodigoDivision, ciiDescripcionDivision, ciiCodigoGrupo, ciiDescripcionGrupo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CodigoCIIU_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CodigoCIIU1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CodigoCIIU1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ciiId) then 1 else null end as act
				,row_number() over (partition by ciiId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CodigoCIIU1)
			select *
			into #CodigoCIIU1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cii set cii.ciiCodigo = a.ciiCodigo, cii.ciiDescripcion = a.ciiDescripcion, cii.ciiCodigoSeccion = a.ciiCodigoSeccion, cii.ciiDescripcionSeccion = a.ciiDescripcionSeccion, cii.ciiCodigoDivision = a.ciiCodigoDivision, cii.ciiDescripcionDivision = a.ciiDescripcionDivision, cii.ciiCodigoGrupo = a.ciiCodigoGrupo, cii.ciiDescripcionGrupo = a.ciiDescripcionGrupo, cii.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ciiId, inserted.ciiCodigo, inserted.ciiDescripcion, inserted.ciiCodigoSeccion, inserted.ciiDescripcionSeccion, inserted.ciiCodigoDivision, inserted.ciiDescripcionDivision, inserted.ciiCodigoGrupo, inserted.ciiDescripcionGrupo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CodigoCIIU_log
			from #CodigoCIIU1 as a
				inner join dbo.CodigoCIIU as cii on a.ciiId = cii.ciiId
			where (a.ultimaFechaModificacion > cii.ultimaFechaModificacion or cii.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CodigoCIIU1)



			drop table if exists #ciiIds
			create table #ciiIds (ciiId bigInt)
			insert #ciiIds
			select ciiId from #CodigoCIIU1
			except 
			select ciiId from dbo.CodigoCIIU

			insert dbo.CodigoCIIU (ciiId, ciiCodigo, ciiDescripcion, ciiCodigoSeccion, ciiDescripcionSeccion, ciiCodigoDivision, ciiDescripcionDivision, ciiCodigoGrupo, ciiDescripcionGrupo,ultimaFechaModificacion)
			output inserted.ciiId, inserted.ciiCodigo, inserted.ciiDescripcion, inserted.ciiCodigoSeccion, inserted.ciiDescripcionSeccion, inserted.ciiCodigoDivision, inserted.ciiDescripcionDivision, inserted.ciiCodigoGrupo, inserted.ciiDescripcionGrupo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CodigoCIIU_log
			select ciiId, ciiCodigo, ciiDescripcion, ciiCodigoSeccion, ciiDescripcionSeccion, ciiCodigoDivision, ciiDescripcionDivision, ciiCodigoGrupo, ciiDescripcionGrupo, ultimaFechaModificacion
			from #CodigoCIIU1
			where ciiId in (select ciiId from #ciiIds)
				and actId = 1

			delete from dbo.CodigoCIIU
			output deleted.ciiId, deleted.ciiCodigo, deleted.ciiDescripcion, deleted.ciiCodigoSeccion, deleted.ciiDescripcionSeccion, deleted.ciiCodigoDivision, deleted.ciiDescripcionDivision, deleted.ciiCodigoGrupo, deleted.ciiDescripcionGrupo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CodigoCIIU_log
			where ciiId in (select ciiId from #CodigoCIIU1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla correccion

	
			declare @correccion1 table (corId bigint   not null,corAporteDetallado bigint   null,corAporteGeneral bigint   null,corSolicitudCorreccionAporte bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select corId, corAporteDetallado, corAporteGeneral, corSolicitudCorreccionAporte, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_correccion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @correccion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #correccion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by corId) then 1 else null end as act
				,row_number() over (partition by corId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @correccion1)
			select *
			into #correccion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cor set cor.corAporteDetallado = a.corAporteDetallado, cor.corAporteGeneral = a.corAporteGeneral, cor.corSolicitudCorreccionAporte = a.corSolicitudCorreccionAporte, cor.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.corId, inserted.corAporteDetallado, inserted.corAporteGeneral, inserted.corSolicitudCorreccionAporte, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.correccion_log
			from #correccion1 as a
				inner join dbo.correccion as cor on a.corId = cor.corId
			where (a.ultimaFechaModificacion > cor.ultimaFechaModificacion or cor.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #correccion1)



			drop table if exists #corIds
			create table #corIds (corId bigInt)
			insert #corIds
			select corId from #correccion1
			except 
			select corId from dbo.correccion

			insert dbo.correccion (corId, corAporteDetallado, corAporteGeneral, corSolicitudCorreccionAporte,ultimaFechaModificacion)
			output inserted.corId, inserted.corAporteDetallado, inserted.corAporteGeneral, inserted.corSolicitudCorreccionAporte
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.correccion_log
			select corId, corAporteDetallado, corAporteGeneral, corSolicitudCorreccionAporte, ultimaFechaModificacion
			from #correccion1
			where corId in (select corId from #corIds)
				and actId = 1

			delete from dbo.correccion
			output deleted.corId, deleted.corAporteDetallado, deleted.corAporteGeneral, deleted.corSolicitudCorreccionAporte
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.correccion_log
			where corId in (select corId from #correccion1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla Departamento

	
			declare @Departamento1 table (depId smallint   not null,depCodigo varchar(2)   not null,depIndicativoTelefoniaFija varchar(3)   null,depNombre varchar(100)   not null,depExcepcionAplicaFOVIS bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select depId, depCodigo, depIndicativoTelefoniaFija, depNombre, depExcepcionAplicaFOVIS, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Departamento_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Departamento1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Departamento1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by depId) then 1 else null end as act
				,row_number() over (partition by depId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Departamento1)
			select *
			into #Departamento1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update dep set dep.depCodigo = a.depCodigo, dep.depIndicativoTelefoniaFija = a.depIndicativoTelefoniaFija, dep.depNombre = a.depNombre, dep.depExcepcionAplicaFOVIS = a.depExcepcionAplicaFOVIS, dep.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.depId, inserted.depCodigo, inserted.depIndicativoTelefoniaFija, inserted.depNombre, inserted.depExcepcionAplicaFOVIS, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Departamento_log
			from #Departamento1 as a
				inner join dbo.Departamento as dep on a.depId = dep.depId
			where (a.ultimaFechaModificacion > dep.ultimaFechaModificacion or dep.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Departamento1)



			drop table if exists #depIds
			create table #depIds (depId bigInt)
			insert #depIds
			select depId from #Departamento1
			except 
			select depId from dbo.Departamento

			insert dbo.Departamento (depId, depCodigo, depIndicativoTelefoniaFija, depNombre, depExcepcionAplicaFOVIS,ultimaFechaModificacion)
			output inserted.depId, inserted.depCodigo, inserted.depIndicativoTelefoniaFija, inserted.depNombre, inserted.depExcepcionAplicaFOVIS
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Departamento_log
			select depId, depCodigo, depIndicativoTelefoniaFija, depNombre, depExcepcionAplicaFOVIS, ultimaFechaModificacion
			from #Departamento1
			where depId in (select depId from #depIds)
				and actId = 1

			delete from dbo.Departamento
			output deleted.depId, deleted.depCodigo, deleted.depIndicativoTelefoniaFija, deleted.depNombre, deleted.depExcepcionAplicaFOVIS
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Departamento_log
			where depId in (select depId from #Departamento1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla ListasBlancasAportantes

	
			declare @ListasBlancasAportantes1 table (lblId bigint   not null,lblNumeroIdentificacionPlanilla varchar(16)   not null,lblTipoIdentificacionEmpleador varchar(20)   not null,lblNumeroIdentificacionEmpleador varchar(16)   not null,lblActivo bit   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select lblId, lblNumeroIdentificacionPlanilla, lblTipoIdentificacionEmpleador, lblNumeroIdentificacionEmpleador, lblActivo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ListasBlancasAportantes_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ListasBlancasAportantes1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ListasBlancasAportantes1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by lblId) then 1 else null end as act
				,row_number() over (partition by lblId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ListasBlancasAportantes1)
			select *
			into #ListasBlancasAportantes1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update lbl set lbl.lblNumeroIdentificacionPlanilla = a.lblNumeroIdentificacionPlanilla, lbl.lblTipoIdentificacionEmpleador = a.lblTipoIdentificacionEmpleador, lbl.lblNumeroIdentificacionEmpleador = a.lblNumeroIdentificacionEmpleador, lbl.lblActivo = a.lblActivo, lbl.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.lblId, inserted.lblNumeroIdentificacionPlanilla, inserted.lblTipoIdentificacionEmpleador, inserted.lblNumeroIdentificacionEmpleador, inserted.lblActivo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ListasBlancasAportantes_log
			from #ListasBlancasAportantes1 as a
				inner join dbo.ListasBlancasAportantes as lbl on a.lblId = lbl.lblId
			where (a.ultimaFechaModificacion > lbl.ultimaFechaModificacion or lbl.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ListasBlancasAportantes1)



			drop table if exists #lblIds
			create table #lblIds (lblId bigInt)
			insert #lblIds
			select lblId from #ListasBlancasAportantes1
			except 
			select lblId from dbo.ListasBlancasAportantes

			insert dbo.ListasBlancasAportantes (lblId, lblNumeroIdentificacionPlanilla, lblTipoIdentificacionEmpleador, lblNumeroIdentificacionEmpleador, lblActivo,ultimaFechaModificacion)
			output inserted.lblId, inserted.lblNumeroIdentificacionPlanilla, inserted.lblTipoIdentificacionEmpleador, inserted.lblNumeroIdentificacionEmpleador, inserted.lblActivo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ListasBlancasAportantes_log
			select lblId, lblNumeroIdentificacionPlanilla, lblTipoIdentificacionEmpleador, lblNumeroIdentificacionEmpleador, lblActivo, ultimaFechaModificacion
			from #ListasBlancasAportantes1
			where lblId in (select lblId from #lblIds)
				and actId = 1

			delete from dbo.ListasBlancasAportantes
			output deleted.lblId, deleted.lblNumeroIdentificacionPlanilla, deleted.lblTipoIdentificacionEmpleador, deleted.lblNumeroIdentificacionEmpleador, deleted.lblActivo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ListasBlancasAportantes_log
			where lblId in (select lblId from #ListasBlancasAportantes1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla Municipio

	
			declare @Municipio1 table (munId smallint   not null,munCodigo varchar(5)   not null,munNombre varchar(50)   not null,munDepartamento smallint   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select munId, munCodigo, munNombre, munDepartamento, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Municipio_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Municipio1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Municipio1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by munId) then 1 else null end as act
				,row_number() over (partition by munId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Municipio1)
			select *
			into #Municipio1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update mun set mun.munCodigo = a.munCodigo, mun.munNombre = a.munNombre, mun.munDepartamento = a.munDepartamento, mun.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.munId, inserted.munCodigo, inserted.munNombre, inserted.munDepartamento, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Municipio_log
			from #Municipio1 as a
				inner join dbo.Municipio as mun on a.munId = mun.munId
			where (a.ultimaFechaModificacion > mun.ultimaFechaModificacion or mun.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Municipio1)



			drop table if exists #munIds
			create table #munIds (munId bigInt)
			insert #munIds
			select munId from #Municipio1
			except 
			select munId from dbo.Municipio

			insert dbo.Municipio (munId, munCodigo, munNombre, munDepartamento,ultimaFechaModificacion)
			output inserted.munId, inserted.munCodigo, inserted.munNombre, inserted.munDepartamento
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Municipio_log
			select munId, munCodigo, munNombre, munDepartamento, ultimaFechaModificacion
			from #Municipio1
			where munId in (select munId from #munIds)
				and actId = 1

			delete from dbo.Municipio
			output deleted.munId, deleted.munCodigo, deleted.munNombre, deleted.munDepartamento
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Municipio_log
			where munId in (select munId from #Municipio1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla Ocupacionprofesion

	
			declare @Ocupacionprofesion1 table (ocuId bigint   not null,ocuNombre varchar(150)   null,ocuCodigo varchar(4)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ocuId, ocuNombre, ocuCodigo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Ocupacionprofesion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Ocupacionprofesion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Ocupacionprofesion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ocuId) then 1 else null end as act
				,row_number() over (partition by ocuId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Ocupacionprofesion1)
			select *
			into #Ocupacionprofesion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ocu set ocu.ocuNombre = a.ocuNombre, ocu.ocuCodigo = a.ocuCodigo, ocu.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ocuId, inserted.ocuNombre, inserted.ocuCodigo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Ocupacionprofesion_log
			from #Ocupacionprofesion1 as a
				inner join dbo.Ocupacionprofesion as ocu on a.ocuId = ocu.ocuId
			where (a.ultimaFechaModificacion > ocu.ultimaFechaModificacion or ocu.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Ocupacionprofesion1)



			drop table if exists #ocuIds
			create table #ocuIds (ocuId bigInt)
			insert #ocuIds
			select ocuId from #Ocupacionprofesion1
			except 
			select ocuId from dbo.Ocupacionprofesion

			insert dbo.Ocupacionprofesion (ocuId, ocuNombre, ocuCodigo,ultimaFechaModificacion)
			output inserted.ocuId, inserted.ocuNombre, inserted.ocuCodigo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Ocupacionprofesion_log
			select ocuId, ocuNombre, ocuCodigo, ultimaFechaModificacion
			from #Ocupacionprofesion1
			where ocuId in (select ocuId from #ocuIds)
				and actId = 1

			delete from dbo.Ocupacionprofesion
			output deleted.ocuId, deleted.ocuNombre, deleted.ocuCodigo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Ocupacionprofesion_log
			where ocuId in (select ocuId from #Ocupacionprofesion1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla Pais

	
			declare @Pais1 table (paiId bigint   not null,paiCodigo varchar(10)   null,paiDescripcion varchar(70)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select paiId, paiCodigo, paiDescripcion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Pais_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Pais1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Pais1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by paiId) then 1 else null end as act
				,row_number() over (partition by paiId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Pais1)
			select *
			into #Pais1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pai set pai.paiCodigo = a.paiCodigo, pai.paiDescripcion = a.paiDescripcion, pai.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.paiId, inserted.paiCodigo, inserted.paiDescripcion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Pais_log
			from #Pais1 as a
				inner join dbo.Pais as pai on a.paiId = pai.paiId
			where (a.ultimaFechaModificacion > pai.ultimaFechaModificacion or pai.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Pais1)



			drop table if exists #paiIds
			create table #paiIds (paiId bigInt)
			insert #paiIds
			select paiId from #Pais1
			except 
			select paiId from dbo.Pais

			insert dbo.Pais (paiId, paiCodigo, paiDescripcion,ultimaFechaModificacion)
			output inserted.paiId, inserted.paiCodigo, inserted.paiDescripcion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Pais_log
			select paiId, paiCodigo, paiDescripcion, ultimaFechaModificacion
			from #Pais1
			where paiId in (select paiId from #paiIds)
				and actId = 1

			delete from dbo.Pais
			output deleted.paiId, deleted.paiCodigo, deleted.paiDescripcion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Pais_log
			where paiId in (select paiId from #Pais1 where operacion = 1 and actId = 1)		
				
			

		--Inicio Merge tabla Parametro

	
			declare @Parametro1 table (prmId int   not null,prmNombre varchar(100)   null,prmValor varchar(1000)   null,prmCargaInicio bit   null,prmSubCategoriaParametro varchar(23)   null,prmDescripcion varchar(250)   not null,prmTipoDato varchar(17)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select prmId, prmNombre, prmValor, prmCargaInicio, prmSubCategoriaParametro, prmDescripcion, prmTipoDato, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Parametro_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Parametro1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Parametro1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by prmId) then 1 else null end as act
				,row_number() over (partition by prmId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Parametro1)
			select *
			into #Parametro1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update prm set prm.prmNombre = a.prmNombre, prm.prmValor = a.prmValor, prm.prmCargaInicio = a.prmCargaInicio, prm.prmSubCategoriaParametro = a.prmSubCategoriaParametro, prm.prmDescripcion = a.prmDescripcion, prm.prmTipoDato = a.prmTipoDato, prm.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.prmId, inserted.prmNombre, inserted.prmValor, inserted.prmCargaInicio, inserted.prmSubCategoriaParametro, inserted.prmDescripcion, inserted.prmTipoDato, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Parametro_log
			from #Parametro1 as a
				inner join dbo.Parametro as prm on a.prmId = prm.prmId
			where (a.ultimaFechaModificacion > prm.ultimaFechaModificacion or prm.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Parametro1)



			drop table if exists #prmIds
			create table #prmIds (prmId bigInt)
			insert #prmIds
			select prmId from #Parametro1
			except 
			select prmId from dbo.Parametro

			insert dbo.Parametro (prmId, prmNombre, prmValor, prmCargaInicio, prmSubCategoriaParametro, prmDescripcion, prmTipoDato,ultimaFechaModificacion)
			output inserted.prmId, inserted.prmNombre, inserted.prmValor, inserted.prmCargaInicio, inserted.prmSubCategoriaParametro, inserted.prmDescripcion, inserted.prmTipoDato
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Parametro_log
			select prmId, prmNombre, prmValor, prmCargaInicio, prmSubCategoriaParametro, prmDescripcion, prmTipoDato, ultimaFechaModificacion
			from #Parametro1
			where prmId in (select prmId from #prmIds)
				and actId = 1

			delete from dbo.Parametro
			output deleted.prmId, deleted.prmNombre, deleted.prmValor, deleted.prmCargaInicio, deleted.prmSubCategoriaParametro, deleted.prmDescripcion, deleted.prmTipoDato
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Parametro_log
			where prmId in (select prmId from #Parametro1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla Requisito

	
			declare @Requisito1 table (reqId bigint   not null,reqDescripcion varchar(200)   not null,reqEstado varchar(20)   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select reqId, reqDescripcion, reqEstado, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Requisito_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Requisito1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Requisito1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by reqId) then 1 else null end as act
				,row_number() over (partition by reqId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Requisito1)
			select *
			into #Requisito1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update req set req.reqDescripcion = a.reqDescripcion, req.reqEstado = a.reqEstado, req.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.reqId, inserted.reqDescripcion, inserted.reqEstado, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Requisito_log
			from #Requisito1 as a
				inner join dbo.Requisito as req on a.reqId = req.reqId
			where (a.ultimaFechaModificacion > req.ultimaFechaModificacion or req.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Requisito1)



			drop table if exists #reqIds
			create table #reqIds (reqId bigInt)
			insert #reqIds
			select reqId from #Requisito1
			except 
			select reqId from dbo.Requisito

			insert dbo.Requisito (reqId, reqDescripcion, reqEstado,ultimaFechaModificacion)
			output inserted.reqId, inserted.reqDescripcion, inserted.reqEstado
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Requisito_log
			select reqId, reqDescripcion, reqEstado, ultimaFechaModificacion
			from #Requisito1
			where reqId in (select reqId from #reqIds)
				and actId = 1

			delete from dbo.Requisito
			output deleted.reqId, deleted.reqDescripcion, deleted.reqEstado
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Requisito_log
			where reqId in (select reqId from #Requisito1 where operacion = 1 and actId = 1)



		--Inicio Merge tabla DatosRegistraduriaNacional
			
	
			declare @DatosRegistraduriaNacional1 table (drnId	bigint not null,drnNuipANI	varchar(20) null,drnPrimerApellidoCED	varchar(50)	null,drnSegundoApellidoCED	varchar(50)	null,drnPrimerNombreCED	varchar(50)	null,drnSegundoNombreCED	varchar(50)	null,drnFechaNacimientoCED	date 	null,drnGeneroCED	varchar(20)	null,drnFechaFallecimientoCED	date null,drnNuipRNCE	varchar(20)	null,drnPrimerApellidoREG	varchar(50)	null,drnSegundoApellidoREG	varchar(50)	null,drnPrimerNombreREG	varchar(50)	null,drnSegundoNombreREG	varchar(50)	null,drnFechaNacimientoREG	date null,drnGeneroREG varchar(20)	null,drnDepartamentoNacimiento varchar(20)	null,drnMunicipioNacimiento varchar(100)	null,drnDepartamentoInscripcion varchar(20)	null,drnTipoIdentificacionMadre varchar(20)	null,drnNumeroIdentificacionMadre varchar(20)	null,drnPrimerApellidoMadre	varchar(20)	null,drnSegundoApellidoMadre	varchar(20)	null,drnPrimerNombreMadre	varchar(20)	null,drnSegundoNombreMadre	varchar(20)	null,drnTipoIdentificacionPadre	varchar(20)	null,drnNumeroIdentificacionPadre	varchar(20)	null,drnPrimerApellidoPadre	varchar(50)	null,drnSegundoApellidoPadre	varchar(50)	null,drnPrimerNombrePadre	varchar(50)	null,drnSegundoNombrePadre	varchar(50) null,drnFechaConsulta	date null,drnNumeroIdentificacion	varchar(20)	null,drnTipoIdentificacion	varchar(20)	null,drnParticula	varchar(20)	null,drnMunicipioExpedicion	varchar(50)	null,drnDepartamentoExpedicion	varchar(100)	null,drnFechaExpedicion	date null,drnEstadoCED	varchar(100)	null,drnNumeroResolucion	varchar(20)	null,drnAnoResolucion	varchar(20)	null,drnInformante	varchar(50)	null,drnSerialDefuncion	varchar(20)	null,drnLugarNovedad	varchar(20)	null,drnLugarPreparacion	varchar(20)	null,drnGrupoSanguineo	varchar(20)	null,drnEstatura	varchar(20)	null,drnCorrecionNacimiento	date null,drnOficinaInscripcion	varchar(100)	null,drnFechaInscripcion	varchar(20)	null,drnEstadoREG	varchar(30)	null,drnSerial	varchar(20)	null,drnLugarNacimiento	varchar(50)	null,drnNacionalidadMadre	varchar(20)	null,drnPaisNacimiento	varchar(20)	null,ultimaFechaModificacion	datetime null,operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)


			set @query = N' 
			select drnId,drnNuipANI,drnPrimerApellidoCED,drnSegundoApellidoCED,drnPrimerNombreCED,drnSegundoNombreCED,drnFechaNacimientoCED,drnGeneroCED,drnFechaFallecimientoCED,drnNuipRNCE,drnPrimerApellidoREG,drnSegundoApellidoREG,drnPrimerNombreREG,drnSegundoNombreREG,drnFechaNacimientoREG,drnGeneroREG,drnDepartamentoNacimiento,drnMunicipioNacimiento,drnDepartamentoInscripcion,drnTipoIdentificacionMadre,drnNumeroIdentificacionMadre,drnPrimerApellidoMadre,drnSegundoApellidoMadre,drnPrimerNombreMadre,drnSegundoNombreMadre,drnTipoIdentificacionPadre,drnNumeroIdentificacionPadre,drnPrimerApellidoPadre,drnSegundoApellidoPadre,drnPrimerNombrePadre,drnSegundoNombrePadre,drnFechaConsulta,drnNumeroIdentificacion,drnTipoIdentificacion,drnParticula,drnMunicipioExpedicion,drnDepartamentoExpedicion,drnFechaExpedicion,drnEstadoCED,drnNumeroResolucion,drnAnoResolucion,drnInformante,drnSerialDefuncion,drnLugarNovedad,drnLugarPreparacion,drnGrupoSanguineo,drnEstatura,drnCorrecionNacimiento,drnOficinaInscripcion,drnFechaInscripcion,drnEstadoREG,drnSerial,drnLugarNacimiento,drnNacionalidadMadre,drnPaisNacimiento, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_DatosRegistraduriaNacional_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @DatosRegistraduriaNacional1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #DatosRegistraduriaNacional1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by drnId) then 1 else null end as act
				,row_number() over (partition by drnId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @DatosRegistraduriaNacional1)
			select *
			into #DatosRegistraduriaNacional1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update drn set drn.drnId = a.drnId,drn.drnNuipANI = a.drnNuipANI,drn.drnPrimerApellidoCED = a.drnPrimerApellidoCED,drn.drnSegundoApellidoCED = a.drnSegundoApellidoCED,drn.drnPrimerNombreCED = a.drnPrimerNombreCED,drn.drnSegundoNombreCED = a.drnSegundoNombreCED,drn.drnFechaNacimientoCED = a.drnFechaNacimientoCED,drn.drnGeneroCED = a.drnGeneroCED,drn.drnFechaFallecimientoCED = a.drnFechaFallecimientoCED,drn.drnNuipRNCE = a.drnNuipRNCE,drn.drnPrimerApellidoREG = a.drnPrimerApellidoREG,drn.drnSegundoApellidoREG = a.drnSegundoApellidoREG ,drn.drnPrimerNombreREG = a.drnPrimerNombreREG,drn.drnSegundoNombreREG = a.drnSegundoNombreREG,drn.drnFechaNacimientoREG = a.drnFechaNacimientoREG ,drn.drnGeneroREG = a.drnGeneroREG ,drn.drnDepartamentoNacimiento = a.drnDepartamentoNacimiento ,drn.drnMunicipioNacimiento = a.drnMunicipioNacimiento,drn.drnDepartamentoInscripcion = a.drnDepartamentoInscripcion,drn.drnTipoIdentificacionMadre = a.drnTipoIdentificacionMadre,drn.drnNumeroIdentificacionMadre = a.drnNumeroIdentificacionMadre,drn.drnPrimerApellidoMadre = a.drnPrimerApellidoMadre,drn.drnSegundoApellidoMadre = a.drnSegundoApellidoMadre,drn.drnPrimerNombreMadre = a.drnPrimerNombreMadre,drn.drnSegundoNombreMadre = a.drnSegundoNombreMadre,drn.drnTipoIdentificacionPadre = a.drnTipoIdentificacionPadre,drn.drnNumeroIdentificacionPadre = a.drnNumeroIdentificacionPadre,drn.drnPrimerApellidoPadre = a.drnPrimerApellidoPadre,drn.drnSegundoApellidoPadre =a.drnSegundoApellidoPadre,drn.drnPrimerNombrePadre = a.drnPrimerNombrePadre,drn.drnSegundoNombrePadre = a.drnSegundoNombrePadre,drn.drnFechaConsulta = a.drnFechaConsulta,drn.drnNumeroIdentificacion = a.drnNumeroIdentificacion,drn.drnTipoIdentificacion = a.drnTipoIdentificacion,drn.drnParticula = a.drnParticula,drn.drnMunicipioExpedicion = a.drnMunicipioExpedicion ,drn.drnDepartamentoExpedicion = a.drnDepartamentoExpedicion,drn.drnFechaExpedicion = a.drnFechaExpedicion ,drn.drnEstadoCED = a.drnEstadoCED,drn.drnNumeroResolucion = a.drnNumeroResolucion,drn.drnAnoResolucion = a.drnAnoResolucion,drn.drnInformante = a.drnInformante,drn.drnSerialDefuncion = a.drnSerialDefuncion,drn.drnLugarNovedad = a.drnLugarNovedad,drn.drnLugarPreparacion = a.drnLugarPreparacion,drn.drnGrupoSanguineo = a.drnGrupoSanguineo,drn.drnEstatura = a.drnEstatura,drn.drnCorrecionNacimiento = a.drnCorrecionNacimiento,drn.drnOficinaInscripcion = a.drnOficinaInscripcion,drn.drnFechaInscripcion = a.drnFechaInscripcion,drn.drnEstadoREG = a.drnEstadoREG,drn.drnSerial = a.drnSerial,drn.drnLugarNacimiento = a.drnLugarNacimiento,drn.drnNacionalidadMadre = a.drnNacionalidadMadre,drn.drnPaisNacimiento = a.drnPaisNacimiento,drn.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.drnId,inserted.drnNuipANI,inserted.drnPrimerApellidoCED,inserted.drnSegundoApellidoCED,inserted.drnPrimerNombreCED,inserted.drnSegundoNombreCED,inserted.drnFechaNacimientoCED,inserted.drnGeneroCED,inserted.drnFechaFallecimientoCED,inserted.drnNuipRNCE,inserted.drnPrimerApellidoREG,inserted.drnSegundoApellidoREG,inserted.drnPrimerNombreREG,inserted.drnSegundoNombreREG,inserted.drnFechaNacimientoREG,inserted.drnGeneroREG,inserted.drnDepartamentoNacimiento,inserted.drnMunicipioNacimiento,inserted.drnDepartamentoInscripcion,inserted.drnTipoIdentificacionMadre,inserted.drnNumeroIdentificacionMadre,inserted.drnPrimerApellidoMadre,inserted.drnSegundoApellidoMadre,inserted.drnPrimerNombreMadre,inserted.drnSegundoNombreMadre,inserted.drnTipoIdentificacionPadre,inserted.drnNumeroIdentificacionPadre,inserted.drnPrimerApellidoPadre,inserted.drnSegundoApellidoPadre,inserted.drnPrimerNombrePadre,inserted.drnSegundoNombrePadre,inserted.drnFechaConsulta,inserted.drnNumeroIdentificacion,inserted.drnTipoIdentificacion,inserted.drnParticula,inserted.drnMunicipioExpedicion,inserted.drnDepartamentoExpedicion,inserted.drnFechaExpedicion,inserted.drnEstadoCED,inserted.drnNumeroResolucion,inserted.drnAnoResolucion,inserted.drnInformante,inserted.drnSerialDefuncion,inserted.drnLugarNovedad,inserted.drnLugarPreparacion,inserted.drnGrupoSanguineo,inserted.drnEstatura,inserted.drnCorrecionNacimiento,inserted.drnOficinaInscripcion,inserted.drnFechaInscripcion,inserted.drnEstadoREG,inserted.drnSerial,inserted.drnLugarNacimiento,inserted.drnNacionalidadMadre,inserted.drnPaisNacimiento,inserted.ultimaFechaModificacion,4 as operacion,null as origen into dbo.DatosRegistraduriaNacional_log
			
			from #DatosRegistraduriaNacional1 as a
				inner join dbo.DatosRegistraduriaNacional as drn on a.drnId = drn.drnId
			where (a.ultimaFechaModificacion > drn.ultimaFechaModificacion or drn.ultimaFechaModificacion is null)
				and a.operacion = 4 and a.actId = (select MIN(actId) from #DatosRegistraduriaNacional1)



			drop table if exists #drnIds
			create table #drnIds (drnId bigInt)
			insert #drnIds
			select drnId from #DatosRegistraduriaNacional1
			except 
			select drnId from dbo.DatosRegistraduriaNacional

			insert dbo.DatosRegistraduriaNacional (drnId,drnNuipANI,drnPrimerApellidoCED,drnSegundoApellidoCED,drnPrimerNombreCED,drnSegundoNombreCED,drnFechaNacimientoCED,drnGeneroCED,drnFechaFallecimientoCED,drnNuipRNCE,drnPrimerApellidoREG,drnSegundoApellidoREG,drnPrimerNombreREG,drnSegundoNombreREG,drnFechaNacimientoREG,drnGeneroREG,drnDepartamentoNacimiento,drnMunicipioNacimiento,drnDepartamentoInscripcion,drnTipoIdentificacionMadre,drnNumeroIdentificacionMadre,drnPrimerApellidoMadre,drnSegundoApellidoMadre,drnPrimerNombreMadre,drnSegundoNombreMadre,drnTipoIdentificacionPadre,drnNumeroIdentificacionPadre,drnPrimerApellidoPadre,drnSegundoApellidoPadre,drnPrimerNombrePadre,drnSegundoNombrePadre,drnFechaConsulta,drnNumeroIdentificacion,drnTipoIdentificacion,drnParticula,drnMunicipioExpedicion,drnDepartamentoExpedicion,drnFechaExpedicion,drnEstadoCED,drnNumeroResolucion,drnAnoResolucion,drnInformante,drnSerialDefuncion,drnLugarNovedad,drnLugarPreparacion,drnGrupoSanguineo,drnEstatura,drnCorrecionNacimiento,drnOficinaInscripcion,drnFechaInscripcion,drnEstadoREG,drnSerial,drnLugarNacimiento,drnNacionalidadMadre,drnPaisNacimiento,ultimaFechaModificacion)
			output inserted.drnId,inserted.drnNuipANI,inserted.drnPrimerApellidoCED,inserted.drnSegundoApellidoCED,inserted.drnPrimerNombreCED,inserted.drnSegundoNombreCED,inserted.drnFechaNacimientoCED,inserted.drnGeneroCED,inserted.drnFechaFallecimientoCED,inserted.drnNuipRNCE,inserted.drnPrimerApellidoREG,inserted.drnSegundoApellidoREG,inserted.drnPrimerNombreREG,inserted.drnSegundoNombreREG,inserted.drnFechaNacimientoREG,inserted.drnGeneroREG,inserted.drnDepartamentoNacimiento,inserted.drnMunicipioNacimiento,inserted.drnDepartamentoInscripcion,inserted.drnTipoIdentificacionMadre,inserted.drnNumeroIdentificacionMadre,inserted.drnPrimerApellidoMadre,inserted.drnSegundoApellidoMadre,inserted.drnPrimerNombreMadre,inserted.drnSegundoNombreMadre,inserted.drnTipoIdentificacionPadre,inserted.drnNumeroIdentificacionPadre,inserted.drnPrimerApellidoPadre,inserted.drnSegundoApellidoPadre,inserted.drnPrimerNombrePadre,inserted.drnSegundoNombrePadre,inserted.drnFechaConsulta,inserted.drnNumeroIdentificacion,inserted.drnTipoIdentificacion,inserted.drnParticula,inserted.drnMunicipioExpedicion,inserted.drnDepartamentoExpedicion,inserted.drnFechaExpedicion,inserted.drnEstadoCED,inserted.drnNumeroResolucion,inserted.drnAnoResolucion,inserted.drnInformante,inserted.drnSerialDefuncion,inserted.drnLugarNovedad,inserted.drnLugarPreparacion,inserted.drnGrupoSanguineo,inserted.drnEstatura,inserted.drnCorrecionNacimiento,inserted.drnOficinaInscripcion,inserted.drnFechaInscripcion,inserted.drnEstadoREG,inserted.drnSerial,inserted.drnLugarNacimiento,inserted.drnNacionalidadMadre,inserted.drnPaisNacimiento
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.DatosRegistraduriaNacional_log
			select drnId,drnNuipANI,drnPrimerApellidoCED,drnSegundoApellidoCED,drnPrimerNombreCED,drnSegundoNombreCED,drnFechaNacimientoCED,drnGeneroCED,drnFechaFallecimientoCED,drnNuipRNCE,drnPrimerApellidoREG,drnSegundoApellidoREG,drnPrimerNombreREG,drnSegundoNombreREG,drnFechaNacimientoREG,drnGeneroREG,drnDepartamentoNacimiento,drnMunicipioNacimiento,drnDepartamentoInscripcion,drnTipoIdentificacionMadre,drnNumeroIdentificacionMadre,drnPrimerApellidoMadre,drnSegundoApellidoMadre,drnPrimerNombreMadre,drnSegundoNombreMadre,drnTipoIdentificacionPadre,drnNumeroIdentificacionPadre,drnPrimerApellidoPadre,drnSegundoApellidoPadre,drnPrimerNombrePadre,drnSegundoNombrePadre,drnFechaConsulta,drnNumeroIdentificacion,drnTipoIdentificacion,drnParticula,drnMunicipioExpedicion,drnDepartamentoExpedicion,drnFechaExpedicion,drnEstadoCED,drnNumeroResolucion,drnAnoResolucion,drnInformante,drnSerialDefuncion,drnLugarNovedad,drnLugarPreparacion,drnGrupoSanguineo,drnEstatura,drnCorrecionNacimiento,drnOficinaInscripcion,drnFechaInscripcion,drnEstadoREG,drnSerial,drnLugarNacimiento,drnNacionalidadMadre,drnPaisNacimiento,ultimaFechaModificacion
			from #DatosRegistraduriaNacional1
			where drnId in (select drnId from #drnIds)
				and actId = 1

			delete from dbo.DatosRegistraduriaNacional
			output deleted.drnId,deleted.drnNuipANI,deleted.drnPrimerApellidoCED,deleted.drnSegundoApellidoCED,deleted.drnPrimerNombreCED,deleted.drnSegundoNombreCED,deleted.drnFechaNacimientoCED,deleted.drnGeneroCED,deleted.drnFechaFallecimientoCED,deleted.drnNuipRNCE,deleted.drnPrimerApellidoREG,deleted.drnSegundoApellidoREG,deleted.drnPrimerNombreREG,deleted.drnSegundoNombreREG,deleted.drnFechaNacimientoREG,deleted.drnGeneroREG,deleted.drnDepartamentoNacimiento,deleted.drnMunicipioNacimiento,deleted.drnDepartamentoInscripcion,deleted.drnTipoIdentificacionMadre,deleted.drnNumeroIdentificacionMadre,deleted.drnPrimerApellidoMadre,deleted.drnSegundoApellidoMadre,deleted.drnPrimerNombreMadre,deleted.drnSegundoNombreMadre,deleted.drnTipoIdentificacionPadre,deleted.drnNumeroIdentificacionPadre,deleted.drnPrimerApellidoPadre,deleted.drnSegundoApellidoPadre,deleted.drnPrimerNombrePadre,deleted.drnSegundoNombrePadre,deleted.drnFechaConsulta,deleted.drnNumeroIdentificacion,deleted.drnTipoIdentificacion,deleted.drnParticula,deleted.drnMunicipioExpedicion,deleted.drnDepartamentoExpedicion,deleted.drnFechaExpedicion,deleted.drnEstadoCED,deleted.drnNumeroResolucion,deleted.drnAnoResolucion,deleted.drnInformante,deleted.drnSerialDefuncion,deleted.drnLugarNovedad,deleted.drnLugarPreparacion,deleted.drnGrupoSanguineo,deleted.drnEstatura,deleted.drnCorrecionNacimiento,deleted.drnOficinaInscripcion,deleted.drnFechaInscripcion,deleted.drnEstadoREG,deleted.drnSerial,deleted.drnLugarNacimiento,deleted.drnNacionalidadMadre,deleted.drnPaisNacimiento,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.DatosRegistraduriaNacional_log
			where drnId in (select drnId from #DatosRegistraduriaNacional1 where operacion = 1 and actId = 1)


