	CREATE or alter procedure [dbo].[OP_OpeCicEmpDesBenRegPerConProCon_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla BeneficioEmpleador

	
			declare @BeneficioEmpleador1 table (bemId bigint   not null,bemBeneficioActivo bit   null,bemFechaVinculacion date   null,bemFechaDesvinculacion date   null,bemEmpleador bigint   not null,bemBeneficio bigint   not null,bemMotivoInactivacion varchar(50)   null,bemPerteneceDepartamento bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select bemId, bemBeneficioActivo, bemFechaVinculacion, bemFechaDesvinculacion, bemEmpleador, bemBeneficio, bemMotivoInactivacion, bemPerteneceDepartamento, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_BeneficioEmpleador_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @BeneficioEmpleador1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #BeneficioEmpleador1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by bemId) then 1 else null end as act
				,row_number() over (partition by bemId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @BeneficioEmpleador1)
			select *
			into #BeneficioEmpleador1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update bem set bem.bemBeneficioActivo = a.bemBeneficioActivo, bem.bemFechaVinculacion = a.bemFechaVinculacion, bem.bemFechaDesvinculacion = a.bemFechaDesvinculacion, bem.bemEmpleador = a.bemEmpleador, bem.bemBeneficio = a.bemBeneficio, bem.bemMotivoInactivacion = a.bemMotivoInactivacion, bem.bemPerteneceDepartamento = a.bemPerteneceDepartamento, bem.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.bemId, inserted.bemBeneficioActivo, inserted.bemFechaVinculacion, inserted.bemFechaDesvinculacion, inserted.bemEmpleador, inserted.bemBeneficio, inserted.bemMotivoInactivacion, inserted.bemPerteneceDepartamento, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.BeneficioEmpleador_log
			from #BeneficioEmpleador1 as a
				inner join dbo.BeneficioEmpleador as bem on a.bemId = bem.bemId
			where (a.ultimaFechaModificacion > bem.ultimaFechaModificacion or bem.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #BeneficioEmpleador1)



			drop table if exists #bemIds
			create table #bemIds (bemId bigInt)
			insert #bemIds
			select bemId from #BeneficioEmpleador1
			except 
			select bemId from dbo.BeneficioEmpleador

			insert dbo.BeneficioEmpleador (bemId, bemBeneficioActivo, bemFechaVinculacion, bemFechaDesvinculacion, bemEmpleador, bemBeneficio, bemMotivoInactivacion, bemPerteneceDepartamento,ultimaFechaModificacion)
			output inserted.bemId, inserted.bemBeneficioActivo, inserted.bemFechaVinculacion, inserted.bemFechaDesvinculacion, inserted.bemEmpleador, inserted.bemBeneficio, inserted.bemMotivoInactivacion, inserted.bemPerteneceDepartamento
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.BeneficioEmpleador_log
			select bemId, bemBeneficioActivo, bemFechaVinculacion, bemFechaDesvinculacion, bemEmpleador, bemBeneficio, bemMotivoInactivacion, bemPerteneceDepartamento, ultimaFechaModificacion
			from #BeneficioEmpleador1
			where bemId in (select bemId from #bemIds)
				and actId = 1

			delete from dbo.BeneficioEmpleador
			output deleted.bemId, deleted.bemBeneficioActivo, deleted.bemFechaVinculacion, deleted.bemFechaDesvinculacion, deleted.bemEmpleador, deleted.bemBeneficio, deleted.bemMotivoInactivacion, deleted.bemPerteneceDepartamento
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.BeneficioEmpleador_log
			where bemId in (select bemId from #BeneficioEmpleador1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla CicloAportante

	
			declare @CicloAportante1 table (capId bigint   not null,capPersona bigint   null,capTipoSolicitante varchar(14)   null,capCicloCartera bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select capId, capPersona, capTipoSolicitante, capCicloCartera, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CicloAportante_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CicloAportante1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CicloAportante1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by capId) then 1 else null end as act
				,row_number() over (partition by capId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CicloAportante1)
			select *
			into #CicloAportante1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cap set cap.capPersona = a.capPersona, cap.capTipoSolicitante = a.capTipoSolicitante, cap.capCicloCartera = a.capCicloCartera, cap.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.capId, inserted.capPersona, inserted.capTipoSolicitante, inserted.capCicloCartera, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CicloAportante_log
			from #CicloAportante1 as a
				inner join dbo.CicloAportante as cap on a.capId = cap.capId
			where (a.ultimaFechaModificacion > cap.ultimaFechaModificacion or cap.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CicloAportante1)



			drop table if exists #capIds
			create table #capIds (capId bigInt)
			insert #capIds
			select capId from #CicloAportante1
			except 
			select capId from dbo.CicloAportante

			insert dbo.CicloAportante (capId, capPersona, capTipoSolicitante, capCicloCartera,ultimaFechaModificacion)
			output inserted.capId, inserted.capPersona, inserted.capTipoSolicitante, inserted.capCicloCartera
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CicloAportante_log
			select capId, capPersona, capTipoSolicitante, capCicloCartera, ultimaFechaModificacion
			from #CicloAportante1
			where capId in (select capId from #capIds)
				and actId = 1

			delete from dbo.CicloAportante
			output deleted.capId, deleted.capPersona, deleted.capTipoSolicitante, deleted.capCicloCartera
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CicloAportante_log
			where capId in (select capId from #CicloAportante1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla Constante

	
			declare @Constante1 table (cnsId int   not null,cnsNombre varchar(100)   null,cnsValor varchar(150)   null,cnsDescripcion varchar(250)   not null,cnsTipoDato varchar(17)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select cnsId, cnsNombre, cnsValor, cnsDescripcion, cnsTipoDato, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Constante_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Constante1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Constante1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by cnsId) then 1 else null end as act
				,row_number() over (partition by cnsId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Constante1)
			select *
			into #Constante1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cns set cns.cnsNombre = a.cnsNombre, cns.cnsValor = a.cnsValor, cns.cnsDescripcion = a.cnsDescripcion, cns.cnsTipoDato = a.cnsTipoDato, cns.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.cnsId, inserted.cnsNombre, inserted.cnsValor, inserted.cnsDescripcion, inserted.cnsTipoDato, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Constante_log
			from #Constante1 as a
				inner join dbo.Constante as cns on a.cnsId = cns.cnsId
			where (a.ultimaFechaModificacion > cns.ultimaFechaModificacion or cns.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Constante1)



			drop table if exists #cnsIds
			create table #cnsIds (cnsId bigInt)
			insert #cnsIds
			select cnsId from #Constante1
			except 
			select cnsId from dbo.Constante

			insert dbo.Constante (cnsId, cnsNombre, cnsValor, cnsDescripcion, cnsTipoDato,ultimaFechaModificacion)
			output inserted.cnsId, inserted.cnsNombre, inserted.cnsValor, inserted.cnsDescripcion, inserted.cnsTipoDato
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Constante_log
			select cnsId, cnsNombre, cnsValor, cnsDescripcion, cnsTipoDato, ultimaFechaModificacion
			from #Constante1
			where cnsId in (select cnsId from #cnsIds)
				and actId = 1

			delete from dbo.Constante
			output deleted.cnsId, deleted.cnsNombre, deleted.cnsValor, deleted.cnsDescripcion, deleted.cnsTipoDato
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Constante_log
			where cnsId in (select cnsId from #Constante1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla ConvenioPagoDependiente

	
			declare @ConvenioPagoDependiente1 table (cpdId bigint   not null,cpdPagoPeriodoConvenio bigint   null,cpdPersona bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select cpdId, cpdPagoPeriodoConvenio, cpdPersona, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ConvenioPagoDependiente_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ConvenioPagoDependiente1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ConvenioPagoDependiente1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by cpdId) then 1 else null end as act
				,row_number() over (partition by cpdId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ConvenioPagoDependiente1)
			select *
			into #ConvenioPagoDependiente1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cpd set cpd.cpdPagoPeriodoConvenio = a.cpdPagoPeriodoConvenio, cpd.cpdPersona = a.cpdPersona, cpd.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.cpdId, inserted.cpdPagoPeriodoConvenio, inserted.cpdPersona, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ConvenioPagoDependiente_log
			from #ConvenioPagoDependiente1 as a
				inner join dbo.ConvenioPagoDependiente as cpd on a.cpdId = cpd.cpdId
			where (a.ultimaFechaModificacion > cpd.ultimaFechaModificacion or cpd.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ConvenioPagoDependiente1)



			drop table if exists #cpdIds
			create table #cpdIds (cpdId bigInt)
			insert #cpdIds
			select cpdId from #ConvenioPagoDependiente1
			except 
			select cpdId from dbo.ConvenioPagoDependiente

			insert dbo.ConvenioPagoDependiente (cpdId, cpdPagoPeriodoConvenio, cpdPersona,ultimaFechaModificacion)
			output inserted.cpdId, inserted.cpdPagoPeriodoConvenio, inserted.cpdPersona
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ConvenioPagoDependiente_log
			select cpdId, cpdPagoPeriodoConvenio, cpdPersona, ultimaFechaModificacion
			from #ConvenioPagoDependiente1
			where cpdId in (select cpdId from #cpdIds)
				and actId = 1

			delete from dbo.ConvenioPagoDependiente
			output deleted.cpdId, deleted.cpdPagoPeriodoConvenio, deleted.cpdPersona
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ConvenioPagoDependiente_log
			where cpdId in (select cpdId from #ConvenioPagoDependiente1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla DesafiliacionAportante

	
			declare @DesafiliacionAportante1 table (deaId bigint   not null,deaPersona bigint   null,deaSolicitudDesafiliacion bigint   null,deaTipoSolicitante varchar(13)   null,deaTipoLineaCobro varchar(3)   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select deaId, deaPersona, deaSolicitudDesafiliacion, deaTipoSolicitante, deaTipoLineaCobro, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_DesafiliacionAportante_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @DesafiliacionAportante1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #DesafiliacionAportante1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by deaId) then 1 else null end as act
				,row_number() over (partition by deaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @DesafiliacionAportante1)
			select *
			into #DesafiliacionAportante1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update dea set dea.deaPersona = a.deaPersona, dea.deaSolicitudDesafiliacion = a.deaSolicitudDesafiliacion, dea.deaTipoSolicitante = a.deaTipoSolicitante, dea.deaTipoLineaCobro = a.deaTipoLineaCobro, dea.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.deaId, inserted.deaPersona, inserted.deaSolicitudDesafiliacion, inserted.deaTipoSolicitante, inserted.deaTipoLineaCobro, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.DesafiliacionAportante_log
			from #DesafiliacionAportante1 as a
				inner join dbo.DesafiliacionAportante as dea on a.deaId = dea.deaId
			where (a.ultimaFechaModificacion > dea.ultimaFechaModificacion or dea.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #DesafiliacionAportante1)



			drop table if exists #deaIds
			create table #deaIds (deaId bigInt)
			insert #deaIds
			select deaId from #DesafiliacionAportante1
			except 
			select deaId from dbo.DesafiliacionAportante

			insert dbo.DesafiliacionAportante (deaId, deaPersona, deaSolicitudDesafiliacion, deaTipoSolicitante, deaTipoLineaCobro,ultimaFechaModificacion)
			output inserted.deaId, inserted.deaPersona, inserted.deaSolicitudDesafiliacion, inserted.deaTipoSolicitante, inserted.deaTipoLineaCobro
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.DesafiliacionAportante_log
			select deaId, deaPersona, deaSolicitudDesafiliacion, deaTipoSolicitante, deaTipoLineaCobro, ultimaFechaModificacion
			from #DesafiliacionAportante1
			where deaId in (select deaId from #deaIds)
				and actId = 1

			delete from dbo.DesafiliacionAportante
			output deleted.deaId, deleted.deaPersona, deleted.deaSolicitudDesafiliacion, deleted.deaTipoSolicitante, deleted.deaTipoLineaCobro
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.DesafiliacionAportante_log
			where deaId in (select deaId from #DesafiliacionAportante1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Empleador

	
			declare @Empleador1 table (empId bigint   not null,empEstadoEmpleador varchar(8)   null,empExpulsionSubsanada bit   null,empFechaCambioEstadoAfiliacion datetime2   null,empMotivoDesafiliacion varchar(100)   null,empNumeroTotalTrabajadores int   null,empPeriodoUltimaNomina date   null,empValorTotalUltimaNomina numeric (18,  0) null,empEmpresa bigint   null,empFechaRetiro datetime   null,empFechaSubsanacionExpulsion date   null,empMotivoSubsanacionExpulsion varchar(200)   null,empCantIngresoBandejaCeroTrabajadores smallint   null,empFechaRetiroTotalTrabajadores date   null,empFechaGestionDesafiliacion date   null,empMedioPagoSubsidioMonetario varchar(30)   null,empValidarSucursalPila bit   null,empDiaHabilVencimientoAporte smallint   null,empMarcaExpulsion varchar(22)   null,empRetencionSubsidioActiva bit   null,empMotivoRetencionSubsidio varchar(24)   null,empMotivoInactivaRetencionSubsidio varchar(26)   null,empCanalReingreso varchar(21)   null,empReferenciaAporteReingreso bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select empId, empEstadoEmpleador, empExpulsionSubsanada, empFechaCambioEstadoAfiliacion, empMotivoDesafiliacion, empNumeroTotalTrabajadores, empPeriodoUltimaNomina, empValorTotalUltimaNomina, empEmpresa, empFechaRetiro, empFechaSubsanacionExpulsion, empMotivoSubsanacionExpulsion, empCantIngresoBandejaCeroTrabajadores, empFechaRetiroTotalTrabajadores, empFechaGestionDesafiliacion, empMedioPagoSubsidioMonetario, empValidarSucursalPila, empDiaHabilVencimientoAporte, empMarcaExpulsion, empRetencionSubsidioActiva, empMotivoRetencionSubsidio, empMotivoInactivaRetencionSubsidio, empCanalReingreso, empReferenciaAporteReingreso, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Empleador_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Empleador1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Empleador1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by empId) then 1 else null end as act
				,row_number() over (partition by empId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Empleador1)
			select *
			into #Empleador1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update emp set emp.empEstadoEmpleador = a.empEstadoEmpleador, emp.empExpulsionSubsanada = a.empExpulsionSubsanada, emp.empFechaCambioEstadoAfiliacion = a.empFechaCambioEstadoAfiliacion, emp.empMotivoDesafiliacion = a.empMotivoDesafiliacion, emp.empNumeroTotalTrabajadores = a.empNumeroTotalTrabajadores, emp.empPeriodoUltimaNomina = a.empPeriodoUltimaNomina, emp.empValorTotalUltimaNomina = a.empValorTotalUltimaNomina, emp.empEmpresa = a.empEmpresa, emp.empFechaRetiro = a.empFechaRetiro, emp.empFechaSubsanacionExpulsion = a.empFechaSubsanacionExpulsion, emp.empMotivoSubsanacionExpulsion = a.empMotivoSubsanacionExpulsion, emp.empCantIngresoBandejaCeroTrabajadores = a.empCantIngresoBandejaCeroTrabajadores, emp.empFechaRetiroTotalTrabajadores = a.empFechaRetiroTotalTrabajadores, emp.empFechaGestionDesafiliacion = a.empFechaGestionDesafiliacion, emp.empMedioPagoSubsidioMonetario = a.empMedioPagoSubsidioMonetario, emp.empValidarSucursalPila = a.empValidarSucursalPila, emp.empDiaHabilVencimientoAporte = a.empDiaHabilVencimientoAporte, emp.empMarcaExpulsion = a.empMarcaExpulsion, emp.empRetencionSubsidioActiva = a.empRetencionSubsidioActiva, emp.empMotivoRetencionSubsidio = a.empMotivoRetencionSubsidio, emp.empMotivoInactivaRetencionSubsidio = a.empMotivoInactivaRetencionSubsidio, emp.empCanalReingreso = a.empCanalReingreso, emp.empReferenciaAporteReingreso = a.empReferenciaAporteReingreso, emp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.empId, inserted.empEstadoEmpleador, inserted.empExpulsionSubsanada, inserted.empFechaCambioEstadoAfiliacion, inserted.empMotivoDesafiliacion, inserted.empNumeroTotalTrabajadores, inserted.empPeriodoUltimaNomina, inserted.empValorTotalUltimaNomina, inserted.empEmpresa, inserted.empFechaRetiro, inserted.empFechaSubsanacionExpulsion, inserted.empMotivoSubsanacionExpulsion, inserted.empCantIngresoBandejaCeroTrabajadores, inserted.empFechaRetiroTotalTrabajadores, inserted.empFechaGestionDesafiliacion, inserted.empMedioPagoSubsidioMonetario, inserted.empValidarSucursalPila, inserted.empDiaHabilVencimientoAporte, inserted.empMarcaExpulsion, inserted.empRetencionSubsidioActiva, inserted.empMotivoRetencionSubsidio, inserted.empMotivoInactivaRetencionSubsidio, inserted.empCanalReingreso, inserted.empReferenciaAporteReingreso, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Empleador_log
			from #Empleador1 as a
				inner join dbo.Empleador as emp on a.empId = emp.empId
			where (a.ultimaFechaModificacion > emp.ultimaFechaModificacion or emp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Empleador1)



			drop table if exists #empIds
			create table #empIds (empId bigInt)
			insert #empIds
			select empId from #Empleador1
			except 
			select empId from dbo.Empleador

			insert dbo.Empleador (empId, empEstadoEmpleador, empExpulsionSubsanada, empFechaCambioEstadoAfiliacion, empMotivoDesafiliacion, empNumeroTotalTrabajadores, empPeriodoUltimaNomina, empValorTotalUltimaNomina, empEmpresa, empFechaRetiro, empFechaSubsanacionExpulsion, empMotivoSubsanacionExpulsion, empCantIngresoBandejaCeroTrabajadores, empFechaRetiroTotalTrabajadores, empFechaGestionDesafiliacion, empMedioPagoSubsidioMonetario, empValidarSucursalPila, empDiaHabilVencimientoAporte, empMarcaExpulsion, empRetencionSubsidioActiva, empMotivoRetencionSubsidio, empMotivoInactivaRetencionSubsidio, empCanalReingreso, empReferenciaAporteReingreso,ultimaFechaModificacion)
			output inserted.empId, inserted.empEstadoEmpleador, inserted.empExpulsionSubsanada, inserted.empFechaCambioEstadoAfiliacion, inserted.empMotivoDesafiliacion, inserted.empNumeroTotalTrabajadores, inserted.empPeriodoUltimaNomina, inserted.empValorTotalUltimaNomina, inserted.empEmpresa, inserted.empFechaRetiro, inserted.empFechaSubsanacionExpulsion, inserted.empMotivoSubsanacionExpulsion, inserted.empCantIngresoBandejaCeroTrabajadores, inserted.empFechaRetiroTotalTrabajadores, inserted.empFechaGestionDesafiliacion, inserted.empMedioPagoSubsidioMonetario, inserted.empValidarSucursalPila, inserted.empDiaHabilVencimientoAporte, inserted.empMarcaExpulsion, inserted.empRetencionSubsidioActiva, inserted.empMotivoRetencionSubsidio, inserted.empMotivoInactivaRetencionSubsidio, inserted.empCanalReingreso, inserted.empReferenciaAporteReingreso
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Empleador_log
			select empId, empEstadoEmpleador, empExpulsionSubsanada, empFechaCambioEstadoAfiliacion, empMotivoDesafiliacion, empNumeroTotalTrabajadores, empPeriodoUltimaNomina, empValorTotalUltimaNomina, empEmpresa, empFechaRetiro, empFechaSubsanacionExpulsion, empMotivoSubsanacionExpulsion, empCantIngresoBandejaCeroTrabajadores, empFechaRetiroTotalTrabajadores, empFechaGestionDesafiliacion, empMedioPagoSubsidioMonetario, empValidarSucursalPila, empDiaHabilVencimientoAporte, empMarcaExpulsion, empRetencionSubsidioActiva, empMotivoRetencionSubsidio, empMotivoInactivaRetencionSubsidio, empCanalReingreso, empReferenciaAporteReingreso, ultimaFechaModificacion
			from #Empleador1
			where empId in (select empId from #empIds)
				and actId = 1

			delete from dbo.Empleador
			output deleted.empId, deleted.empEstadoEmpleador, deleted.empExpulsionSubsanada, deleted.empFechaCambioEstadoAfiliacion, deleted.empMotivoDesafiliacion, deleted.empNumeroTotalTrabajadores, deleted.empPeriodoUltimaNomina, deleted.empValorTotalUltimaNomina, deleted.empEmpresa, deleted.empFechaRetiro, deleted.empFechaSubsanacionExpulsion, deleted.empMotivoSubsanacionExpulsion, deleted.empCantIngresoBandejaCeroTrabajadores, deleted.empFechaRetiroTotalTrabajadores, deleted.empFechaGestionDesafiliacion, deleted.empMedioPagoSubsidioMonetario, deleted.empValidarSucursalPila, deleted.empDiaHabilVencimientoAporte, deleted.empMarcaExpulsion, deleted.empRetencionSubsidioActiva, deleted.empMotivoRetencionSubsidio, deleted.empMotivoInactivaRetencionSubsidio, deleted.empCanalReingreso, deleted.empReferenciaAporteReingreso
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Empleador_log
			where empId in (select empId from #Empleador1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla OperadorInformacion

	
			declare @OperadorInformacion1 table (oinId bigint   not null,oinCodigo varchar(2)   not null,oinNombre varchar(75)   not null,oinOperadorActivo bit   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select oinId, oinCodigo, oinNombre, oinOperadorActivo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_OperadorInformacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @OperadorInformacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #OperadorInformacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by oinId) then 1 else null end as act
				,row_number() over (partition by oinId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @OperadorInformacion1)
			select *
			into #OperadorInformacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update oin set oin.oinCodigo = a.oinCodigo, oin.oinNombre = a.oinNombre, oin.oinOperadorActivo = a.oinOperadorActivo, oin.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.oinId, inserted.oinCodigo, inserted.oinNombre, inserted.oinOperadorActivo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.OperadorInformacion_log
			from #OperadorInformacion1 as a
				inner join dbo.OperadorInformacion as oin on a.oinId = oin.oinId
			where (a.ultimaFechaModificacion > oin.ultimaFechaModificacion or oin.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #OperadorInformacion1)



			drop table if exists #oinIds
			create table #oinIds (oinId bigInt)
			insert #oinIds
			select oinId from #OperadorInformacion1
			except 
			select oinId from dbo.OperadorInformacion

			insert dbo.OperadorInformacion (oinId, oinCodigo, oinNombre, oinOperadorActivo,ultimaFechaModificacion)
			output inserted.oinId, inserted.oinCodigo, inserted.oinNombre, inserted.oinOperadorActivo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.OperadorInformacion_log
			select oinId, oinCodigo, oinNombre, oinOperadorActivo, ultimaFechaModificacion
			from #OperadorInformacion1
			where oinId in (select oinId from #oinIds)
				and actId = 1

			delete from dbo.OperadorInformacion
			output deleted.oinId, deleted.oinCodigo, deleted.oinNombre, deleted.oinOperadorActivo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.OperadorInformacion_log
			where oinId in (select oinId from #OperadorInformacion1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Periodo

	
			declare @Periodo1 table (priId bigint   not null,priPeriodo date   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select priId, priPeriodo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Periodo_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Periodo1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Periodo1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by priId) then 1 else null end as act
				,row_number() over (partition by priId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Periodo1)
			select *
			into #Periodo1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pri set pri.priPeriodo = a.priPeriodo, pri.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.priId, inserted.priPeriodo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Periodo_log
			from #Periodo1 as a
				inner join dbo.Periodo as pri on a.priId = pri.priId
			where (a.ultimaFechaModificacion > pri.ultimaFechaModificacion or pri.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Periodo1)



			drop table if exists #priIds
			create table #priIds (priId bigInt)
			insert #priIds
			select priId from #Periodo1
			except 
			select priId from dbo.Periodo

			insert dbo.Periodo (priId, priPeriodo,ultimaFechaModificacion)
			output inserted.priId, inserted.priPeriodo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Periodo_log
			select priId, priPeriodo, ultimaFechaModificacion
			from #Periodo1
			where priId in (select priId from #priIds)
				and actId = 1

			delete from dbo.Periodo
			output deleted.priId, deleted.priPeriodo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Periodo_log
			where priId in (select priId from #Periodo1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla ProductoNoConforme

	
			declare @ProductoNoConforme1 table (pncId bigint   not null,pncCampo varchar(150)   null,pncCampoObligatorio bit   null,pncComentariosBack varchar(255)   null,pncComentariosBack2 varchar(255)   null,pncComentariosFront varchar(255)   null,pncDescripcion varchar(255)   null,pncFechaCreacion datetime2   null,pncGrupoCampos varchar(150)   null,pncDocumentoSoporteGestion varchar(255)   null,pncNumeroConsecutivo smallint   null,pncResultadoGestion varchar(20)   null,pncResultadoRevisionBack varchar(20)   null,pncResultadoRevisionBack2 varchar(20)   null,pncSeccion varchar(150)   null,pncSubsanable bit   null,pncTipoError varchar(80)   null,pncTipoProductoNoConforme varchar(20)   null,pncUsuarioBack varchar(255)   null,pncUsuarioFront varchar(255)   null,pncValorCampoBack varchar(300)   null,pncValorCampoFront varchar(300)   null,pncSolicitud bigint   null,pncBeneficiario bigint   null,pncNombreInconsistencia varchar(50)   null,pncDescripcionInconsistencia varchar(150)   null,pncClasificacionTipoProducto varchar(15)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pncId, pncCampo, pncCampoObligatorio, pncComentariosBack, pncComentariosBack2, pncComentariosFront, pncDescripcion, pncFechaCreacion, pncGrupoCampos, pncDocumentoSoporteGestion, pncNumeroConsecutivo, pncResultadoGestion, pncResultadoRevisionBack, pncResultadoRevisionBack2, pncSeccion, pncSubsanable, pncTipoError, pncTipoProductoNoConforme, pncUsuarioBack, pncUsuarioFront, pncValorCampoBack, pncValorCampoFront, pncSolicitud, pncBeneficiario, pncNombreInconsistencia, pncDescripcionInconsistencia, pncClasificacionTipoProducto, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ProductoNoConforme_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ProductoNoConforme1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ProductoNoConforme1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pncId) then 1 else null end as act
				,row_number() over (partition by pncId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ProductoNoConforme1)
			select *
			into #ProductoNoConforme1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pnc set pnc.pncCampo = a.pncCampo, pnc.pncCampoObligatorio = a.pncCampoObligatorio, pnc.pncComentariosBack = a.pncComentariosBack, pnc.pncComentariosBack2 = a.pncComentariosBack2, pnc.pncComentariosFront = a.pncComentariosFront, pnc.pncDescripcion = a.pncDescripcion, pnc.pncFechaCreacion = a.pncFechaCreacion, pnc.pncGrupoCampos = a.pncGrupoCampos, pnc.pncDocumentoSoporteGestion = a.pncDocumentoSoporteGestion, pnc.pncNumeroConsecutivo = a.pncNumeroConsecutivo, pnc.pncResultadoGestion = a.pncResultadoGestion, pnc.pncResultadoRevisionBack = a.pncResultadoRevisionBack, pnc.pncResultadoRevisionBack2 = a.pncResultadoRevisionBack2, pnc.pncSeccion = a.pncSeccion, pnc.pncSubsanable = a.pncSubsanable, pnc.pncTipoError = a.pncTipoError, pnc.pncTipoProductoNoConforme = a.pncTipoProductoNoConforme, pnc.pncUsuarioBack = a.pncUsuarioBack, pnc.pncUsuarioFront = a.pncUsuarioFront, pnc.pncValorCampoBack = a.pncValorCampoBack, pnc.pncValorCampoFront = a.pncValorCampoFront, pnc.pncSolicitud = a.pncSolicitud, pnc.pncBeneficiario = a.pncBeneficiario, pnc.pncNombreInconsistencia = a.pncNombreInconsistencia, pnc.pncDescripcionInconsistencia = a.pncDescripcionInconsistencia, pnc.pncClasificacionTipoProducto = a.pncClasificacionTipoProducto, pnc.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pncId, inserted.pncCampo, inserted.pncCampoObligatorio, inserted.pncComentariosBack, inserted.pncComentariosBack2, inserted.pncComentariosFront, inserted.pncDescripcion, inserted.pncFechaCreacion, inserted.pncGrupoCampos, inserted.pncDocumentoSoporteGestion, inserted.pncNumeroConsecutivo, inserted.pncResultadoGestion, inserted.pncResultadoRevisionBack, inserted.pncResultadoRevisionBack2, inserted.pncSeccion, inserted.pncSubsanable, inserted.pncTipoError, inserted.pncTipoProductoNoConforme, inserted.pncUsuarioBack, inserted.pncUsuarioFront, inserted.pncValorCampoBack, inserted.pncValorCampoFront, inserted.pncSolicitud, inserted.pncBeneficiario, inserted.pncNombreInconsistencia, inserted.pncDescripcionInconsistencia, inserted.pncClasificacionTipoProducto, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ProductoNoConforme_log
			from #ProductoNoConforme1 as a
				inner join dbo.ProductoNoConforme as pnc on a.pncId = pnc.pncId
			where (a.ultimaFechaModificacion > pnc.ultimaFechaModificacion or pnc.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ProductoNoConforme1)



			drop table if exists #pncIds
			create table #pncIds (pncId bigInt)
			insert #pncIds
			select pncId from #ProductoNoConforme1
			except 
			select pncId from dbo.ProductoNoConforme

			insert dbo.ProductoNoConforme (pncId, pncCampo, pncCampoObligatorio, pncComentariosBack, pncComentariosBack2, pncComentariosFront, pncDescripcion, pncFechaCreacion, pncGrupoCampos, pncDocumentoSoporteGestion, pncNumeroConsecutivo, pncResultadoGestion, pncResultadoRevisionBack, pncResultadoRevisionBack2, pncSeccion, pncSubsanable, pncTipoError, pncTipoProductoNoConforme, pncUsuarioBack, pncUsuarioFront, pncValorCampoBack, pncValorCampoFront, pncSolicitud, pncBeneficiario, pncNombreInconsistencia, pncDescripcionInconsistencia, pncClasificacionTipoProducto,ultimaFechaModificacion)
			output inserted.pncId, inserted.pncCampo, inserted.pncCampoObligatorio, inserted.pncComentariosBack, inserted.pncComentariosBack2, inserted.pncComentariosFront, inserted.pncDescripcion, inserted.pncFechaCreacion, inserted.pncGrupoCampos, inserted.pncDocumentoSoporteGestion, inserted.pncNumeroConsecutivo, inserted.pncResultadoGestion, inserted.pncResultadoRevisionBack, inserted.pncResultadoRevisionBack2, inserted.pncSeccion, inserted.pncSubsanable, inserted.pncTipoError, inserted.pncTipoProductoNoConforme, inserted.pncUsuarioBack, inserted.pncUsuarioFront, inserted.pncValorCampoBack, inserted.pncValorCampoFront, inserted.pncSolicitud, inserted.pncBeneficiario, inserted.pncNombreInconsistencia, inserted.pncDescripcionInconsistencia, inserted.pncClasificacionTipoProducto
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ProductoNoConforme_log
			select pncId, pncCampo, pncCampoObligatorio, pncComentariosBack, pncComentariosBack2, pncComentariosFront, pncDescripcion, pncFechaCreacion, pncGrupoCampos, pncDocumentoSoporteGestion, pncNumeroConsecutivo, pncResultadoGestion, pncResultadoRevisionBack, pncResultadoRevisionBack2, pncSeccion, pncSubsanable, pncTipoError, pncTipoProductoNoConforme, pncUsuarioBack, pncUsuarioFront, pncValorCampoBack, pncValorCampoFront, pncSolicitud, pncBeneficiario, pncNombreInconsistencia, pncDescripcionInconsistencia, pncClasificacionTipoProducto, ultimaFechaModificacion
			from #ProductoNoConforme1
			where pncId in (select pncId from #pncIds)
				and actId = 1

			delete from dbo.ProductoNoConforme
			output deleted.pncId, deleted.pncCampo, deleted.pncCampoObligatorio, deleted.pncComentariosBack, deleted.pncComentariosBack2, deleted.pncComentariosFront, deleted.pncDescripcion, deleted.pncFechaCreacion, deleted.pncGrupoCampos, deleted.pncDocumentoSoporteGestion, deleted.pncNumeroConsecutivo, deleted.pncResultadoGestion, deleted.pncResultadoRevisionBack, deleted.pncResultadoRevisionBack2, deleted.pncSeccion, deleted.pncSubsanable, deleted.pncTipoError, deleted.pncTipoProductoNoConforme, deleted.pncUsuarioBack, deleted.pncUsuarioFront, deleted.pncValorCampoBack, deleted.pncValorCampoFront, deleted.pncSolicitud, deleted.pncBeneficiario, deleted.pncNombreInconsistencia, deleted.pncDescripcionInconsistencia, deleted.pncClasificacionTipoProducto
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ProductoNoConforme_log
			where pncId in (select pncId from #ProductoNoConforme1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla RegistroEstadoAporte

	
			declare @RegistroEstadoAporte1 table (reaId bigint   not null,reaSolicitud bigint   not null,reaActividad varchar(29)   null,reaEstadoSolicitud varchar(25)   null,reaFecha datetime   null,reaComunicado bigint   null,reaUsuario varchar(255)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select reaId, reaSolicitud, reaActividad, reaEstadoSolicitud, reaFecha, reaComunicado, reaUsuario, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_RegistroEstadoAporte_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @RegistroEstadoAporte1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #RegistroEstadoAporte1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by reaId) then 1 else null end as act
				,row_number() over (partition by reaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @RegistroEstadoAporte1)
			select *
			into #RegistroEstadoAporte1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update rea set rea.reaSolicitud = a.reaSolicitud, rea.reaActividad = a.reaActividad, rea.reaEstadoSolicitud = a.reaEstadoSolicitud, rea.reaFecha = a.reaFecha, rea.reaComunicado = a.reaComunicado, rea.reaUsuario = a.reaUsuario, rea.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.reaId, inserted.reaSolicitud, inserted.reaActividad, inserted.reaEstadoSolicitud, inserted.reaFecha, inserted.reaComunicado, inserted.reaUsuario, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.RegistroEstadoAporte_log
			from #RegistroEstadoAporte1 as a
				inner join dbo.RegistroEstadoAporte as rea on a.reaId = rea.reaId
			where (a.ultimaFechaModificacion > rea.ultimaFechaModificacion or rea.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #RegistroEstadoAporte1)



			drop table if exists #reaIds
			create table #reaIds (reaId bigInt)
			insert #reaIds
			select reaId from #RegistroEstadoAporte1
			except 
			select reaId from dbo.RegistroEstadoAporte

			insert dbo.RegistroEstadoAporte (reaId, reaSolicitud, reaActividad, reaEstadoSolicitud, reaFecha, reaComunicado, reaUsuario,ultimaFechaModificacion)
			output inserted.reaId, inserted.reaSolicitud, inserted.reaActividad, inserted.reaEstadoSolicitud, inserted.reaFecha, inserted.reaComunicado, inserted.reaUsuario
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.RegistroEstadoAporte_log
			select reaId, reaSolicitud, reaActividad, reaEstadoSolicitud, reaFecha, reaComunicado, reaUsuario, ultimaFechaModificacion
			from #RegistroEstadoAporte1
			where reaId in (select reaId from #reaIds)
				and actId = 1

			delete from dbo.RegistroEstadoAporte
			output deleted.reaId, deleted.reaSolicitud, deleted.reaActividad, deleted.reaEstadoSolicitud, deleted.reaFecha, deleted.reaComunicado, deleted.reaUsuario
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.RegistroEstadoAporte_log
			where reaId in (select reaId from #RegistroEstadoAporte1 where operacion = 1 and actId = 1)