	CREATE or alter procedure [dbo].[OP_SoNPSolDADevSolASolGESolCASolCDet_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla DetalleSolicitudGestionCobro

	
			declare @DetalleSolicitudGestionCobro1 table (dsgId bigint   not null,dsgEnviarPrimeraRemision bit   null,dsgEnviarSegundaRemision bit   null,dsgEstado varchar(52)   null,dsgFechaPrimeraRemision datetime   null,dsgFechaSegundaRemision datetime   null,dsgCartera bigint   not null,dsgObservacionPrimeraEntrega varchar(255)   null,dsgObservacionPrimeraRemision varchar(255)   null,dsgObservacionSegundaEntrega varchar(255)   null,dsgObservacionSegundaRemision varchar(255)   null,dsgSolicitudPrimeraRemision bigint   null,dsgSolicitudSegundaRemision bigint   null,dsgResultadoPrimeraEntrega varchar(18)   null,dsgResultadoSegundaEntrega varchar(18)   null,dsgDocumentoPrimeraRemision bigint   null,dsgDocumentoSegundaRemision bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select dsgId, dsgEnviarPrimeraRemision, dsgEnviarSegundaRemision, dsgEstado, dsgFechaPrimeraRemision, dsgFechaSegundaRemision, dsgCartera, dsgObservacionPrimeraEntrega, dsgObservacionPrimeraRemision, dsgObservacionSegundaEntrega, dsgObservacionSegundaRemision, dsgSolicitudPrimeraRemision, dsgSolicitudSegundaRemision, dsgResultadoPrimeraEntrega, dsgResultadoSegundaEntrega, dsgDocumentoPrimeraRemision, dsgDocumentoSegundaRemision, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_DetalleSolicitudGestionCobro_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @DetalleSolicitudGestionCobro1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #DetalleSolicitudGestionCobro1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by dsgId) then 1 else null end as act
				,row_number() over (partition by dsgId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @DetalleSolicitudGestionCobro1)
			select *
			into #DetalleSolicitudGestionCobro1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update dsg set dsg.dsgEnviarPrimeraRemision = a.dsgEnviarPrimeraRemision, dsg.dsgEnviarSegundaRemision = a.dsgEnviarSegundaRemision, dsg.dsgEstado = a.dsgEstado, dsg.dsgFechaPrimeraRemision = a.dsgFechaPrimeraRemision, dsg.dsgFechaSegundaRemision = a.dsgFechaSegundaRemision, dsg.dsgCartera = a.dsgCartera, dsg.dsgObservacionPrimeraEntrega = a.dsgObservacionPrimeraEntrega, dsg.dsgObservacionPrimeraRemision = a.dsgObservacionPrimeraRemision, dsg.dsgObservacionSegundaEntrega = a.dsgObservacionSegundaEntrega, dsg.dsgObservacionSegundaRemision = a.dsgObservacionSegundaRemision, dsg.dsgSolicitudPrimeraRemision = a.dsgSolicitudPrimeraRemision, dsg.dsgSolicitudSegundaRemision = a.dsgSolicitudSegundaRemision, dsg.dsgResultadoPrimeraEntrega = a.dsgResultadoPrimeraEntrega, dsg.dsgResultadoSegundaEntrega = a.dsgResultadoSegundaEntrega, dsg.dsgDocumentoPrimeraRemision = a.dsgDocumentoPrimeraRemision, dsg.dsgDocumentoSegundaRemision = a.dsgDocumentoSegundaRemision, dsg.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.dsgId, inserted.dsgEnviarPrimeraRemision, inserted.dsgEnviarSegundaRemision, inserted.dsgEstado, inserted.dsgFechaPrimeraRemision, inserted.dsgFechaSegundaRemision, inserted.dsgCartera, inserted.dsgObservacionPrimeraEntrega, inserted.dsgObservacionPrimeraRemision, inserted.dsgObservacionSegundaEntrega, inserted.dsgObservacionSegundaRemision, inserted.dsgSolicitudPrimeraRemision, inserted.dsgSolicitudSegundaRemision, inserted.dsgResultadoPrimeraEntrega, inserted.dsgResultadoSegundaEntrega, inserted.dsgDocumentoPrimeraRemision, inserted.dsgDocumentoSegundaRemision, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.DetalleSolicitudGestionCobro_log
			from #DetalleSolicitudGestionCobro1 as a
				inner join dbo.DetalleSolicitudGestionCobro as dsg on a.dsgId = dsg.dsgId
			where (a.ultimaFechaModificacion > dsg.ultimaFechaModificacion or dsg.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #DetalleSolicitudGestionCobro1)



			drop table if exists #dsgIds
			create table #dsgIds (dsgId bigInt)
			insert #dsgIds
			select dsgId from #DetalleSolicitudGestionCobro1
			except 
			select dsgId from dbo.DetalleSolicitudGestionCobro

			insert dbo.DetalleSolicitudGestionCobro (dsgId, dsgEnviarPrimeraRemision, dsgEnviarSegundaRemision, dsgEstado, dsgFechaPrimeraRemision, dsgFechaSegundaRemision, dsgCartera, dsgObservacionPrimeraEntrega, dsgObservacionPrimeraRemision, dsgObservacionSegundaEntrega, dsgObservacionSegundaRemision, dsgSolicitudPrimeraRemision, dsgSolicitudSegundaRemision, dsgResultadoPrimeraEntrega, dsgResultadoSegundaEntrega, dsgDocumentoPrimeraRemision, dsgDocumentoSegundaRemision,ultimaFechaModificacion)
			output inserted.dsgId, inserted.dsgEnviarPrimeraRemision, inserted.dsgEnviarSegundaRemision, inserted.dsgEstado, inserted.dsgFechaPrimeraRemision, inserted.dsgFechaSegundaRemision, inserted.dsgCartera, inserted.dsgObservacionPrimeraEntrega, inserted.dsgObservacionPrimeraRemision, inserted.dsgObservacionSegundaEntrega, inserted.dsgObservacionSegundaRemision, inserted.dsgSolicitudPrimeraRemision, inserted.dsgSolicitudSegundaRemision, inserted.dsgResultadoPrimeraEntrega, inserted.dsgResultadoSegundaEntrega, inserted.dsgDocumentoPrimeraRemision, inserted.dsgDocumentoSegundaRemision
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.DetalleSolicitudGestionCobro_log
			select dsgId, dsgEnviarPrimeraRemision, dsgEnviarSegundaRemision, dsgEstado, dsgFechaPrimeraRemision, dsgFechaSegundaRemision, dsgCartera, dsgObservacionPrimeraEntrega, dsgObservacionPrimeraRemision, dsgObservacionSegundaEntrega, dsgObservacionSegundaRemision, dsgSolicitudPrimeraRemision, dsgSolicitudSegundaRemision, dsgResultadoPrimeraEntrega, dsgResultadoSegundaEntrega, dsgDocumentoPrimeraRemision, dsgDocumentoSegundaRemision, ultimaFechaModificacion
			from #DetalleSolicitudGestionCobro1
			where dsgId in (select dsgId from #dsgIds)
				and actId = 1

			delete from dbo.DetalleSolicitudGestionCobro
			output deleted.dsgId, deleted.dsgEnviarPrimeraRemision, deleted.dsgEnviarSegundaRemision, deleted.dsgEstado, deleted.dsgFechaPrimeraRemision, deleted.dsgFechaSegundaRemision, deleted.dsgCartera, deleted.dsgObservacionPrimeraEntrega, deleted.dsgObservacionPrimeraRemision, deleted.dsgObservacionSegundaEntrega, deleted.dsgObservacionSegundaRemision, deleted.dsgSolicitudPrimeraRemision, deleted.dsgSolicitudSegundaRemision, deleted.dsgResultadoPrimeraEntrega, deleted.dsgResultadoSegundaEntrega, deleted.dsgDocumentoPrimeraRemision, deleted.dsgDocumentoSegundaRemision
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.DetalleSolicitudGestionCobro_log
			where dsgId in (select dsgId from #DetalleSolicitudGestionCobro1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla DevolucionAporte

	
			declare @DevolucionAporte1 table (dapId bigint   not null,dapFechaRecepcion datetime   null,dapMotivoPeticion varchar(60)   null,dapDestinatarioDevolucion varchar(13)   null,dapCajaCompensacion int   null,dapOtroDestinatario varchar(255)   null,dapMontoAportes numeric (19,  5) null,dapMontoIntereses numeric (19,  5) null,dapPeriodoReclamado varchar(500)   null,dapMedioPago bigint   null,dapSedeCajaCompensacion bigint   null,dapDescuentoGestionPagoOI numeric (19,  5) null,dapDescuentoGestionFinanciera numeric (19,  5) null,dapDescuentoOtro numeric (19,  5) null,dapOtraCaja varchar(255)   null,dapOtroMotivo varchar(255)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select dapId, dapFechaRecepcion, dapMotivoPeticion, dapDestinatarioDevolucion, dapCajaCompensacion, dapOtroDestinatario, dapMontoAportes, dapMontoIntereses, dapPeriodoReclamado, dapMedioPago, dapSedeCajaCompensacion, dapDescuentoGestionPagoOI, dapDescuentoGestionFinanciera, dapDescuentoOtro, dapOtraCaja, dapOtroMotivo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_DevolucionAporte_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @DevolucionAporte1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #DevolucionAporte1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by dapId) then 1 else null end as act
				,row_number() over (partition by dapId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @DevolucionAporte1)
			select *
			into #DevolucionAporte1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update dap set dap.dapFechaRecepcion = a.dapFechaRecepcion, dap.dapMotivoPeticion = a.dapMotivoPeticion, dap.dapDestinatarioDevolucion = a.dapDestinatarioDevolucion, dap.dapCajaCompensacion = a.dapCajaCompensacion, dap.dapOtroDestinatario = a.dapOtroDestinatario, dap.dapMontoAportes = a.dapMontoAportes, dap.dapMontoIntereses = a.dapMontoIntereses, dap.dapPeriodoReclamado = a.dapPeriodoReclamado, dap.dapMedioPago = a.dapMedioPago, dap.dapSedeCajaCompensacion = a.dapSedeCajaCompensacion, dap.dapDescuentoGestionPagoOI = a.dapDescuentoGestionPagoOI, dap.dapDescuentoGestionFinanciera = a.dapDescuentoGestionFinanciera, dap.dapDescuentoOtro = a.dapDescuentoOtro, dap.dapOtraCaja = a.dapOtraCaja, dap.dapOtroMotivo = a.dapOtroMotivo, dap.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.dapId, inserted.dapFechaRecepcion, inserted.dapMotivoPeticion, inserted.dapDestinatarioDevolucion, inserted.dapCajaCompensacion, inserted.dapOtroDestinatario, inserted.dapMontoAportes, inserted.dapMontoIntereses, inserted.dapPeriodoReclamado, inserted.dapMedioPago, inserted.dapSedeCajaCompensacion, inserted.dapDescuentoGestionPagoOI, inserted.dapDescuentoGestionFinanciera, inserted.dapDescuentoOtro, inserted.dapOtraCaja, inserted.dapOtroMotivo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.DevolucionAporte_log
			from #DevolucionAporte1 as a
				inner join dbo.DevolucionAporte as dap on a.dapId = dap.dapId
			where (a.ultimaFechaModificacion > dap.ultimaFechaModificacion or dap.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #DevolucionAporte1)



			drop table if exists #dapIds
			create table #dapIds (dapId bigInt)
			insert #dapIds
			select dapId from #DevolucionAporte1
			except 
			select dapId from dbo.DevolucionAporte

			insert dbo.DevolucionAporte (dapId, dapFechaRecepcion, dapMotivoPeticion, dapDestinatarioDevolucion, dapCajaCompensacion, dapOtroDestinatario, dapMontoAportes, dapMontoIntereses, dapPeriodoReclamado, dapMedioPago, dapSedeCajaCompensacion, dapDescuentoGestionPagoOI, dapDescuentoGestionFinanciera, dapDescuentoOtro, dapOtraCaja, dapOtroMotivo,ultimaFechaModificacion)
			output inserted.dapId, inserted.dapFechaRecepcion, inserted.dapMotivoPeticion, inserted.dapDestinatarioDevolucion, inserted.dapCajaCompensacion, inserted.dapOtroDestinatario, inserted.dapMontoAportes, inserted.dapMontoIntereses, inserted.dapPeriodoReclamado, inserted.dapMedioPago, inserted.dapSedeCajaCompensacion, inserted.dapDescuentoGestionPagoOI, inserted.dapDescuentoGestionFinanciera, inserted.dapDescuentoOtro, inserted.dapOtraCaja, inserted.dapOtroMotivo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.DevolucionAporte_log
			select dapId, dapFechaRecepcion, dapMotivoPeticion, dapDestinatarioDevolucion, dapCajaCompensacion, dapOtroDestinatario, dapMontoAportes, dapMontoIntereses, dapPeriodoReclamado, dapMedioPago, dapSedeCajaCompensacion, dapDescuentoGestionPagoOI, dapDescuentoGestionFinanciera, dapDescuentoOtro, dapOtraCaja, dapOtroMotivo, ultimaFechaModificacion
			from #DevolucionAporte1
			where dapId in (select dapId from #dapIds)
				and actId = 1

			delete from dbo.DevolucionAporte
			output deleted.dapId, deleted.dapFechaRecepcion, deleted.dapMotivoPeticion, deleted.dapDestinatarioDevolucion, deleted.dapCajaCompensacion, deleted.dapOtroDestinatario, deleted.dapMontoAportes, deleted.dapMontoIntereses, deleted.dapPeriodoReclamado, deleted.dapMedioPago, deleted.dapSedeCajaCompensacion, deleted.dapDescuentoGestionPagoOI, deleted.dapDescuentoGestionFinanciera, deleted.dapDescuentoOtro, deleted.dapOtraCaja, deleted.dapOtroMotivo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.DevolucionAporte_log
			where dapId in (select dapId from #DevolucionAporte1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudAporte

	
			declare @SolicitudAporte1 table (soaId bigint   not null,soaSolicitudGlobal bigint   not null,soaEstadoSolicitud varchar(30)   null,soaRegistroGeneral bigint   null,soaNumeroIdentificacion varchar(16)   null,soaTipoIdentificacion varchar(20)   null,soaNombreAportante varchar(200)   null,soaPeriodoAporte varchar(7)   null,soaTipoSolicitante varchar(13)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select soaId, soaSolicitudGlobal, soaEstadoSolicitud, soaRegistroGeneral, soaNumeroIdentificacion, soaTipoIdentificacion, soaNombreAportante, soaPeriodoAporte, soaTipoSolicitante, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudAporte_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudAporte1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudAporte1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by soaId) then 1 else null end as act
				,row_number() over (partition by soaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudAporte1)
			select *
			into #SolicitudAporte1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update soa set soa.soaSolicitudGlobal = a.soaSolicitudGlobal, soa.soaEstadoSolicitud = a.soaEstadoSolicitud, soa.soaRegistroGeneral = a.soaRegistroGeneral, soa.soaNumeroIdentificacion = a.soaNumeroIdentificacion, soa.soaTipoIdentificacion = a.soaTipoIdentificacion, soa.soaNombreAportante = a.soaNombreAportante, soa.soaPeriodoAporte = a.soaPeriodoAporte, soa.soaTipoSolicitante = a.soaTipoSolicitante, soa.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.soaId, inserted.soaSolicitudGlobal, inserted.soaEstadoSolicitud, inserted.soaRegistroGeneral, inserted.soaNumeroIdentificacion, inserted.soaTipoIdentificacion, inserted.soaNombreAportante, inserted.soaPeriodoAporte, inserted.soaTipoSolicitante, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudAporte_log
			from #SolicitudAporte1 as a
				inner join dbo.SolicitudAporte as soa on a.soaId = soa.soaId
			where (a.ultimaFechaModificacion > soa.ultimaFechaModificacion or soa.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudAporte1)



			drop table if exists #soaIds
			create table #soaIds (soaId bigInt)
			insert #soaIds
			select soaId from #SolicitudAporte1
			except 
			select soaId from dbo.SolicitudAporte

			insert dbo.SolicitudAporte (soaId, soaSolicitudGlobal, soaEstadoSolicitud, soaRegistroGeneral, soaNumeroIdentificacion, soaTipoIdentificacion, soaNombreAportante, soaPeriodoAporte, soaTipoSolicitante,ultimaFechaModificacion)
			output inserted.soaId, inserted.soaSolicitudGlobal, inserted.soaEstadoSolicitud, inserted.soaRegistroGeneral, inserted.soaNumeroIdentificacion, inserted.soaTipoIdentificacion, inserted.soaNombreAportante, inserted.soaPeriodoAporte, inserted.soaTipoSolicitante
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudAporte_log
			select soaId, soaSolicitudGlobal, soaEstadoSolicitud, soaRegistroGeneral, soaNumeroIdentificacion, soaTipoIdentificacion, soaNombreAportante, soaPeriodoAporte, soaTipoSolicitante, ultimaFechaModificacion
			from #SolicitudAporte1
			where soaId in (select soaId from #soaIds)
				and actId = 1

			delete from dbo.SolicitudAporte
			output deleted.soaId, deleted.soaSolicitudGlobal, deleted.soaEstadoSolicitud, deleted.soaRegistroGeneral, deleted.soaNumeroIdentificacion, deleted.soaTipoIdentificacion, deleted.soaNombreAportante, deleted.soaPeriodoAporte, deleted.soaTipoSolicitante
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudAporte_log
			where soaId in (select soaId from #SolicitudAporte1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudCierreRecaudo

	
			declare @SolicitudCierreRecaudo1 table (sciId bigint   not null,sciSolicitudGlobal bigint   not null,sciEstadoSolicitud varchar(31)   not null,sciFechaInicio datetime   not null,sciFechaFin datetime   not null,sciTipoCierre varchar(9)   not null,sciObservacionesSupervisor varchar(255)   null,sciObservacionesContabilidad varchar(255)   null,sciUsuarioSupervisor varchar(50)   null,sciUsuarioAnalistaContable varchar(50)   null,sciResumen nvarchar (3999)   null,sciAportesConciliacion nvarchar (3999)   null,sciCodigoIdentificacionECM varchar(255)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select sciId, sciSolicitudGlobal, sciEstadoSolicitud, sciFechaInicio, sciFechaFin, sciTipoCierre, sciObservacionesSupervisor, sciObservacionesContabilidad, sciUsuarioSupervisor, sciUsuarioAnalistaContable, cast(sciResumen as varchar(3999)), cast(sciAportesConciliacion as varchar(3999)), sciCodigoIdentificacionECM, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudCierreRecaudo_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudCierreRecaudo1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudCierreRecaudo1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by sciId) then 1 else null end as act
				,row_number() over (partition by sciId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudCierreRecaudo1)
			select *
			into #SolicitudCierreRecaudo1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sci set sci.sciSolicitudGlobal = a.sciSolicitudGlobal, sci.sciEstadoSolicitud = a.sciEstadoSolicitud, sci.sciFechaInicio = a.sciFechaInicio, sci.sciFechaFin = a.sciFechaFin, sci.sciTipoCierre = a.sciTipoCierre, sci.sciObservacionesSupervisor = a.sciObservacionesSupervisor, sci.sciObservacionesContabilidad = a.sciObservacionesContabilidad, sci.sciUsuarioSupervisor = a.sciUsuarioSupervisor, sci.sciUsuarioAnalistaContable = a.sciUsuarioAnalistaContable, sci.sciResumen = a.sciResumen, sci.sciAportesConciliacion = a.sciAportesConciliacion, sci.sciCodigoIdentificacionECM = a.sciCodigoIdentificacionECM, sci.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.sciId, inserted.sciSolicitudGlobal, inserted.sciEstadoSolicitud, inserted.sciFechaInicio, inserted.sciFechaFin, inserted.sciTipoCierre, inserted.sciObservacionesSupervisor, inserted.sciObservacionesContabilidad, inserted.sciUsuarioSupervisor, inserted.sciUsuarioAnalistaContable, inserted.sciResumen, inserted.sciAportesConciliacion, inserted.sciCodigoIdentificacionECM, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudCierreRecaudo_log
			from #SolicitudCierreRecaudo1 as a
				inner join dbo.SolicitudCierreRecaudo as sci on a.sciId = sci.sciId
			where (a.ultimaFechaModificacion > sci.ultimaFechaModificacion or sci.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudCierreRecaudo1)



			drop table if exists #sciIds
			create table #sciIds (sciId bigInt)
			insert #sciIds
			select sciId from #SolicitudCierreRecaudo1
			except 
			select sciId from dbo.SolicitudCierreRecaudo

			insert dbo.SolicitudCierreRecaudo (sciId, sciSolicitudGlobal, sciEstadoSolicitud, sciFechaInicio, sciFechaFin, sciTipoCierre, sciObservacionesSupervisor, sciObservacionesContabilidad, sciUsuarioSupervisor, sciUsuarioAnalistaContable, sciResumen, sciAportesConciliacion, sciCodigoIdentificacionECM,ultimaFechaModificacion)
			output inserted.sciId, inserted.sciSolicitudGlobal, inserted.sciEstadoSolicitud, inserted.sciFechaInicio, inserted.sciFechaFin, inserted.sciTipoCierre, inserted.sciObservacionesSupervisor, inserted.sciObservacionesContabilidad, inserted.sciUsuarioSupervisor, inserted.sciUsuarioAnalistaContable, inserted.sciResumen, inserted.sciAportesConciliacion, inserted.sciCodigoIdentificacionECM
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudCierreRecaudo_log
			select sciId, sciSolicitudGlobal, sciEstadoSolicitud, sciFechaInicio, sciFechaFin, sciTipoCierre, sciObservacionesSupervisor, sciObservacionesContabilidad, sciUsuarioSupervisor, sciUsuarioAnalistaContable, sciResumen, sciAportesConciliacion, sciCodigoIdentificacionECM, ultimaFechaModificacion
			from #SolicitudCierreRecaudo1
			where sciId in (select sciId from #sciIds)
				and actId = 1

			delete from dbo.SolicitudCierreRecaudo
			output deleted.sciId, deleted.sciSolicitudGlobal, deleted.sciEstadoSolicitud, deleted.sciFechaInicio, deleted.sciFechaFin, deleted.sciTipoCierre, deleted.sciObservacionesSupervisor, deleted.sciObservacionesContabilidad, deleted.sciUsuarioSupervisor, deleted.sciUsuarioAnalistaContable, deleted.sciResumen, deleted.sciAportesConciliacion, deleted.sciCodigoIdentificacionECM
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudCierreRecaudo_log
			where sciId in (select sciId from #SolicitudCierreRecaudo1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudCorreccionAporte

	
			declare @SolicitudCorreccionAporte1 table (scaId bigint   not null,scaEstadoSolicitud varchar(25)   null,scaTipoSolicitante varchar(25)   null,scaObservacionSupervisor varchar(255)   null,scaResultadoSupervisor varchar(10)   null,scaSolicitudGlobal bigint   null,scaPersona bigint   null,scaAporteGeneral bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select scaId, scaEstadoSolicitud, scaTipoSolicitante, scaObservacionSupervisor, scaResultadoSupervisor, scaSolicitudGlobal, scaPersona, scaAporteGeneral, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudCorreccionAporte_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudCorreccionAporte1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudCorreccionAporte1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by scaId) then 1 else null end as act
				,row_number() over (partition by scaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudCorreccionAporte1)
			select *
			into #SolicitudCorreccionAporte1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sca set sca.scaEstadoSolicitud = a.scaEstadoSolicitud, sca.scaTipoSolicitante = a.scaTipoSolicitante, sca.scaObservacionSupervisor = a.scaObservacionSupervisor, sca.scaResultadoSupervisor = a.scaResultadoSupervisor, sca.scaSolicitudGlobal = a.scaSolicitudGlobal, sca.scaPersona = a.scaPersona, sca.scaAporteGeneral = a.scaAporteGeneral, sca.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.scaId, inserted.scaEstadoSolicitud, inserted.scaTipoSolicitante, inserted.scaObservacionSupervisor, inserted.scaResultadoSupervisor, inserted.scaSolicitudGlobal, inserted.scaPersona, inserted.scaAporteGeneral, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudCorreccionAporte_log
			from #SolicitudCorreccionAporte1 as a
				inner join dbo.SolicitudCorreccionAporte as sca on a.scaId = sca.scaId
			where (a.ultimaFechaModificacion > sca.ultimaFechaModificacion or sca.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudCorreccionAporte1)



			drop table if exists #scaIds
			create table #scaIds (scaId bigInt)
			insert #scaIds
			select scaId from #SolicitudCorreccionAporte1
			except 
			select scaId from dbo.SolicitudCorreccionAporte

			insert dbo.SolicitudCorreccionAporte (scaId, scaEstadoSolicitud, scaTipoSolicitante, scaObservacionSupervisor, scaResultadoSupervisor, scaSolicitudGlobal, scaPersona, scaAporteGeneral,ultimaFechaModificacion)
			output inserted.scaId, inserted.scaEstadoSolicitud, inserted.scaTipoSolicitante, inserted.scaObservacionSupervisor, inserted.scaResultadoSupervisor, inserted.scaSolicitudGlobal, inserted.scaPersona, inserted.scaAporteGeneral
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudCorreccionAporte_log
			select scaId, scaEstadoSolicitud, scaTipoSolicitante, scaObservacionSupervisor, scaResultadoSupervisor, scaSolicitudGlobal, scaPersona, scaAporteGeneral, ultimaFechaModificacion
			from #SolicitudCorreccionAporte1
			where scaId in (select scaId from #scaIds)
				and actId = 1

			delete from dbo.SolicitudCorreccionAporte
			output deleted.scaId, deleted.scaEstadoSolicitud, deleted.scaTipoSolicitante, deleted.scaObservacionSupervisor, deleted.scaResultadoSupervisor, deleted.scaSolicitudGlobal, deleted.scaPersona, deleted.scaAporteGeneral
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudCorreccionAporte_log
			where scaId in (select scaId from #SolicitudCorreccionAporte1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudDevolucionAporte

	
			declare @SolicitudDevolucionAporte1 table (sdaId bigint   not null,sdaEstadoSolicitud varchar(25)   null,sdaTipoSolicitante varchar(13)   null,sdaPersona bigint   null,sdaObservacionAnalista varchar(255)   null,sdaObservacionSupervisor varchar(255)   null,sdaResultadoAnalista varchar(10)   null,sdaResultadoSupervisor varchar(10)   null,sdaDevolucionAporte bigint   null,sdaSolicitudGlobal bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select sdaId, sdaEstadoSolicitud, sdaTipoSolicitante, sdaPersona, sdaObservacionAnalista, sdaObservacionSupervisor, sdaResultadoAnalista, sdaResultadoSupervisor, sdaDevolucionAporte, sdaSolicitudGlobal, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudDevolucionAporte_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudDevolucionAporte1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudDevolucionAporte1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by sdaId) then 1 else null end as act
				,row_number() over (partition by sdaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudDevolucionAporte1)
			select *
			into #SolicitudDevolucionAporte1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sda set sda.sdaEstadoSolicitud = a.sdaEstadoSolicitud, sda.sdaTipoSolicitante = a.sdaTipoSolicitante, sda.sdaPersona = a.sdaPersona, sda.sdaObservacionAnalista = a.sdaObservacionAnalista, sda.sdaObservacionSupervisor = a.sdaObservacionSupervisor, sda.sdaResultadoAnalista = a.sdaResultadoAnalista, sda.sdaResultadoSupervisor = a.sdaResultadoSupervisor, sda.sdaDevolucionAporte = a.sdaDevolucionAporte, sda.sdaSolicitudGlobal = a.sdaSolicitudGlobal, sda.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.sdaId, inserted.sdaEstadoSolicitud, inserted.sdaTipoSolicitante, inserted.sdaPersona, inserted.sdaObservacionAnalista, inserted.sdaObservacionSupervisor, inserted.sdaResultadoAnalista, inserted.sdaResultadoSupervisor, inserted.sdaDevolucionAporte, inserted.sdaSolicitudGlobal, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudDevolucionAporte_log
			from #SolicitudDevolucionAporte1 as a
				inner join dbo.SolicitudDevolucionAporte as sda on a.sdaId = sda.sdaId
			where (a.ultimaFechaModificacion > sda.ultimaFechaModificacion or sda.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudDevolucionAporte1)



			drop table if exists #sdaIds
			create table #sdaIds (sdaId bigInt)
			insert #sdaIds
			select sdaId from #SolicitudDevolucionAporte1
			except 
			select sdaId from dbo.SolicitudDevolucionAporte

			insert dbo.SolicitudDevolucionAporte (sdaId, sdaEstadoSolicitud, sdaTipoSolicitante, sdaPersona, sdaObservacionAnalista, sdaObservacionSupervisor, sdaResultadoAnalista, sdaResultadoSupervisor, sdaDevolucionAporte, sdaSolicitudGlobal,ultimaFechaModificacion)
			output inserted.sdaId, inserted.sdaEstadoSolicitud, inserted.sdaTipoSolicitante, inserted.sdaPersona, inserted.sdaObservacionAnalista, inserted.sdaObservacionSupervisor, inserted.sdaResultadoAnalista, inserted.sdaResultadoSupervisor, inserted.sdaDevolucionAporte, inserted.sdaSolicitudGlobal
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudDevolucionAporte_log
			select sdaId, sdaEstadoSolicitud, sdaTipoSolicitante, sdaPersona, sdaObservacionAnalista, sdaObservacionSupervisor, sdaResultadoAnalista, sdaResultadoSupervisor, sdaDevolucionAporte, sdaSolicitudGlobal, ultimaFechaModificacion
			from #SolicitudDevolucionAporte1
			where sdaId in (select sdaId from #sdaIds)
				and actId = 1

			delete from dbo.SolicitudDevolucionAporte
			output deleted.sdaId, deleted.sdaEstadoSolicitud, deleted.sdaTipoSolicitante, deleted.sdaPersona, deleted.sdaObservacionAnalista, deleted.sdaObservacionSupervisor, deleted.sdaResultadoAnalista, deleted.sdaResultadoSupervisor, deleted.sdaDevolucionAporte, deleted.sdaSolicitudGlobal
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudDevolucionAporte_log
			where sdaId in (select sdaId from #SolicitudDevolucionAporte1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudGestionCobroElectronico

	
			declare @SolicitudGestionCobroElectronico1 table (sgeId bigint   not null,sgeEstado varchar(52)   not null,sgeCartera bigint   not null,sgeTipoAccionCobro varchar(4)   not null,sgeSolicitud bigint   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select sgeId, sgeEstado, sgeCartera, sgeTipoAccionCobro, sgeSolicitud, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudGestionCobroElectronico_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudGestionCobroElectronico1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudGestionCobroElectronico1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by sgeId) then 1 else null end as act
				,row_number() over (partition by sgeId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudGestionCobroElectronico1)
			select *
			into #SolicitudGestionCobroElectronico1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sge set sge.sgeEstado = a.sgeEstado, sge.sgeCartera = a.sgeCartera, sge.sgeTipoAccionCobro = a.sgeTipoAccionCobro, sge.sgeSolicitud = a.sgeSolicitud, sge.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.sgeId, inserted.sgeEstado, inserted.sgeCartera, inserted.sgeTipoAccionCobro, inserted.sgeSolicitud, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudGestionCobroElectronico_log
			from #SolicitudGestionCobroElectronico1 as a
				inner join dbo.SolicitudGestionCobroElectronico as sge on a.sgeId = sge.sgeId
			where (a.ultimaFechaModificacion > sge.ultimaFechaModificacion or sge.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudGestionCobroElectronico1)



			drop table if exists #sgeIds
			create table #sgeIds (sgeId bigInt)
			insert #sgeIds
			select sgeId from #SolicitudGestionCobroElectronico1
			except 
			select sgeId from dbo.SolicitudGestionCobroElectronico

			insert dbo.SolicitudGestionCobroElectronico (sgeId, sgeEstado, sgeCartera, sgeTipoAccionCobro, sgeSolicitud,ultimaFechaModificacion)
			output inserted.sgeId, inserted.sgeEstado, inserted.sgeCartera, inserted.sgeTipoAccionCobro, inserted.sgeSolicitud
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudGestionCobroElectronico_log
			select sgeId, sgeEstado, sgeCartera, sgeTipoAccionCobro, sgeSolicitud, ultimaFechaModificacion
			from #SolicitudGestionCobroElectronico1
			where sgeId in (select sgeId from #sgeIds)
				and actId = 1

			delete from dbo.SolicitudGestionCobroElectronico
			output deleted.sgeId, deleted.sgeEstado, deleted.sgeCartera, deleted.sgeTipoAccionCobro, deleted.sgeSolicitud
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudGestionCobroElectronico_log
			where sgeId in (select sgeId from #SolicitudGestionCobroElectronico1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudGestionCobroFisico

	
			declare @SolicitudGestionCobroFisico1 table (sgfId bigint   not null,sgfDocumentoSoporte bigint   null,sgfEstado varchar(52)   null,sgfFechaRemision datetime   null,sgfObservacionRemision varchar(255)   null,sgfTipoAccionCobro varchar(4)   not null,sgfSolicitud bigint   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select sgfId, sgfDocumentoSoporte, sgfEstado, sgfFechaRemision, sgfObservacionRemision, sgfTipoAccionCobro, sgfSolicitud, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudGestionCobroFisico_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudGestionCobroFisico1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudGestionCobroFisico1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by sgfId) then 1 else null end as act
				,row_number() over (partition by sgfId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudGestionCobroFisico1)
			select *
			into #SolicitudGestionCobroFisico1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sgf set sgf.sgfDocumentoSoporte = a.sgfDocumentoSoporte, sgf.sgfEstado = a.sgfEstado, sgf.sgfFechaRemision = a.sgfFechaRemision, sgf.sgfObservacionRemision = a.sgfObservacionRemision, sgf.sgfTipoAccionCobro = a.sgfTipoAccionCobro, sgf.sgfSolicitud = a.sgfSolicitud, sgf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.sgfId, inserted.sgfDocumentoSoporte, inserted.sgfEstado, inserted.sgfFechaRemision, inserted.sgfObservacionRemision, inserted.sgfTipoAccionCobro, inserted.sgfSolicitud, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudGestionCobroFisico_log
			from #SolicitudGestionCobroFisico1 as a
				inner join dbo.SolicitudGestionCobroFisico as sgf on a.sgfId = sgf.sgfId
			where (a.ultimaFechaModificacion > sgf.ultimaFechaModificacion or sgf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudGestionCobroFisico1)



			drop table if exists #sgfIds
			create table #sgfIds (sgfId bigInt)
			insert #sgfIds
			select sgfId from #SolicitudGestionCobroFisico1
			except 
			select sgfId from dbo.SolicitudGestionCobroFisico

			insert dbo.SolicitudGestionCobroFisico (sgfId, sgfDocumentoSoporte, sgfEstado, sgfFechaRemision, sgfObservacionRemision, sgfTipoAccionCobro, sgfSolicitud,ultimaFechaModificacion)
			output inserted.sgfId, inserted.sgfDocumentoSoporte, inserted.sgfEstado, inserted.sgfFechaRemision, inserted.sgfObservacionRemision, inserted.sgfTipoAccionCobro, inserted.sgfSolicitud
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudGestionCobroFisico_log
			select sgfId, sgfDocumentoSoporte, sgfEstado, sgfFechaRemision, sgfObservacionRemision, sgfTipoAccionCobro, sgfSolicitud, ultimaFechaModificacion
			from #SolicitudGestionCobroFisico1
			where sgfId in (select sgfId from #sgfIds)
				and actId = 1

			delete from dbo.SolicitudGestionCobroFisico
			output deleted.sgfId, deleted.sgfDocumentoSoporte, deleted.sgfEstado, deleted.sgfFechaRemision, deleted.sgfObservacionRemision, deleted.sgfTipoAccionCobro, deleted.sgfSolicitud
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudGestionCobroFisico_log
			where sgfId in (select sgfId from #SolicitudGestionCobroFisico1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudGestionCobroManual

	
			declare @SolicitudGestionCobroManual1 table (scmId bigint   not null,scmCicloAportante bigint   not null,scmEstadoSolicitud varchar(25)   null,scmSolicitudGlobal bigint   not null,scmLineaCobro varchar(3)   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select scmId, scmCicloAportante, scmEstadoSolicitud, scmSolicitudGlobal, scmLineaCobro, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudGestionCobroManual_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudGestionCobroManual1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudGestionCobroManual1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by scmId) then 1 else null end as act
				,row_number() over (partition by scmId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudGestionCobroManual1)
			select *
			into #SolicitudGestionCobroManual1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update scm set scm.scmCicloAportante = a.scmCicloAportante, scm.scmEstadoSolicitud = a.scmEstadoSolicitud, scm.scmSolicitudGlobal = a.scmSolicitudGlobal, scm.scmLineaCobro = a.scmLineaCobro, scm.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.scmId, inserted.scmCicloAportante, inserted.scmEstadoSolicitud, inserted.scmSolicitudGlobal, inserted.scmLineaCobro, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudGestionCobroManual_log
			from #SolicitudGestionCobroManual1 as a
				inner join dbo.SolicitudGestionCobroManual as scm on a.scmId = scm.scmId
			where (a.ultimaFechaModificacion > scm.ultimaFechaModificacion or scm.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudGestionCobroManual1)



			drop table if exists #scmIds
			create table #scmIds (scmId bigInt)
			insert #scmIds
			select scmId from #SolicitudGestionCobroManual1
			except 
			select scmId from dbo.SolicitudGestionCobroManual

			insert dbo.SolicitudGestionCobroManual (scmId, scmCicloAportante, scmEstadoSolicitud, scmSolicitudGlobal, scmLineaCobro,ultimaFechaModificacion)
			output inserted.scmId, inserted.scmCicloAportante, inserted.scmEstadoSolicitud, inserted.scmSolicitudGlobal, inserted.scmLineaCobro
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudGestionCobroManual_log
			select scmId, scmCicloAportante, scmEstadoSolicitud, scmSolicitudGlobal, scmLineaCobro, ultimaFechaModificacion
			from #SolicitudGestionCobroManual1
			where scmId in (select scmId from #scmIds)
				and actId = 1

			delete from dbo.SolicitudGestionCobroManual
			output deleted.scmId, deleted.scmCicloAportante, deleted.scmEstadoSolicitud, deleted.scmSolicitudGlobal, deleted.scmLineaCobro
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudGestionCobroManual_log
			where scmId in (select scmId from #SolicitudGestionCobroManual1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudNovedadPila

	
			declare @SolicitudNovedadPila1 table (spiId bigint   not null,spiSolicitudNovedad bigint   not null,spiRegistroDetallado bigint   not null,spiOriginadoEnAporteManual bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select spiId, spiSolicitudNovedad, spiRegistroDetallado, spiOriginadoEnAporteManual, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudNovedadPila_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudNovedadPila1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudNovedadPila1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by spiId) then 1 else null end as act
				,row_number() over (partition by spiId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudNovedadPila1)
			select *
			into #SolicitudNovedadPila1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update spi set spi.spiSolicitudNovedad = a.spiSolicitudNovedad, spi.spiRegistroDetallado = a.spiRegistroDetallado, spi.spiOriginadoEnAporteManual = a.spiOriginadoEnAporteManual, spi.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.spiId, inserted.spiSolicitudNovedad, inserted.spiRegistroDetallado, inserted.spiOriginadoEnAporteManual, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudNovedadPila_log
			from #SolicitudNovedadPila1 as a
				inner join dbo.SolicitudNovedadPila as spi on a.spiId = spi.spiId
			where (a.ultimaFechaModificacion > spi.ultimaFechaModificacion or spi.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudNovedadPila1)



			drop table if exists #spiIds
			create table #spiIds (spiId bigInt)
			insert #spiIds
			select spiId from #SolicitudNovedadPila1
			except 
			select spiId from dbo.SolicitudNovedadPila

			insert dbo.SolicitudNovedadPila (spiId, spiSolicitudNovedad, spiRegistroDetallado, spiOriginadoEnAporteManual,ultimaFechaModificacion)
			output inserted.spiId, inserted.spiSolicitudNovedad, inserted.spiRegistroDetallado, inserted.spiOriginadoEnAporteManual
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudNovedadPila_log
			select spiId, spiSolicitudNovedad, spiRegistroDetallado, spiOriginadoEnAporteManual, ultimaFechaModificacion
			from #SolicitudNovedadPila1
			where spiId in (select spiId from #spiIds)
				and actId = 1

			delete from dbo.SolicitudNovedadPila
			output deleted.spiId, deleted.spiSolicitudNovedad, deleted.spiRegistroDetallado, deleted.spiOriginadoEnAporteManual
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudNovedadPila_log
			where spiId in (select spiId from #SolicitudNovedadPila1 where operacion = 1 and actId = 1)