	CREATE or alter procedure [dbo].[OP_PilaArchivoIRegistro2_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla PilaArchivoIRegistro2

	
			declare @PilaArchivoIRegistro21 table (pi2Id bigint   null,pi2IndicePlanilla bigint   null,pi2TipoIdCotizante varchar(10)   null,pi2IdCotizante varchar(25)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pi2Id, pi2IndicePlanilla, pi2TipoIdCotizante, pi2IdCotizante, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PilaArchivoIRegistro2_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PilaArchivoIRegistro21
			execute sp_execute_remote PilaReferenceData, @query
	
			drop table if exists #PilaArchivoIRegistro21

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pi2Id) then 1 else null end as act
				,row_number() over (partition by pi2Id order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PilaArchivoIRegistro21)
			select *
			into #PilaArchivoIRegistro21
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pi2 set pi2.pi2IndicePlanilla = a.pi2IndicePlanilla, pi2.pi2TipoIdCotizante = a.pi2TipoIdCotizante, pi2.pi2IdCotizante = a.pi2IdCotizante, pi2.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pi2Id, inserted.pi2IndicePlanilla, inserted.pi2TipoIdCotizante, inserted.pi2IdCotizante, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PilaArchivoIRegistro2_log
			from #PilaArchivoIRegistro21 as a
				inner join dbo.PilaArchivoIRegistro2 as pi2 on a.pi2Id = pi2.pi2Id
			where (a.ultimaFechaModificacion > pi2.ultimaFechaModificacion or pi2.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PilaArchivoIRegistro21)



			drop table if exists #pi2Ids
			create table #pi2Ids (pi2Id bigInt)
			insert #pi2Ids
			select pi2Id from #PilaArchivoIRegistro21
			except 
			select pi2Id from dbo.PilaArchivoIRegistro2

			insert dbo.PilaArchivoIRegistro2 (pi2Id, pi2IndicePlanilla, pi2TipoIdCotizante, pi2IdCotizante,ultimaFechaModificacion)
			output inserted.pi2Id, inserted.pi2IndicePlanilla, inserted.pi2TipoIdCotizante, inserted.pi2IdCotizante
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PilaArchivoIRegistro2_log
			select pi2Id, pi2IndicePlanilla, pi2TipoIdCotizante, pi2IdCotizante, ultimaFechaModificacion
			from #PilaArchivoIRegistro21
			where pi2Id in (select pi2Id from #pi2Ids)
				and actId = 1

			delete from dbo.PilaArchivoIRegistro2
			output deleted.pi2Id, deleted.pi2IndicePlanilla, deleted.pi2TipoIdCotizante, deleted.pi2IdCotizante
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PilaArchivoIRegistro2_log
			where pi2Id in (select pi2Id from #PilaArchivoIRegistro21 where operacion = 1 and actId = 1)