	CREATE or alter procedure [dbo].[OP_ParSedDetRegRet_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla DetalleNovedadFovis

	
			declare @DetalleNovedadFovis1 table (dnfId bigint   not null,dnfSolicitudNovedad bigint   not null,dnfValorSFVSimuladoAjuste numeric (19,  5) null,dnfValorEquiSFVSimuladoAjuste numeric (5,  2) null,dnfValorDiferenciaAjuste numeric (19,  5) null,dnfValorEquiDiferenciaAjuste numeric (5,  2) null,dnfValorSFVSimuladoAdicion numeric (19,  5) null,dnfValorEquiSFVSimuladoAdicion numeric (5,  2) null,dnfValorDiferenciaAdicion numeric (19,  5) null,dnfValorEquiDiferenciaAdicion numeric (5,  2) null,dnfValorTotalDiferencia numeric (19,  5) null,dnfValorEquiTotalDiferencia numeric (5,  2) null,dnfValorSFVAjusteAdicion numeric (19,  5) null,dnfValorEquiSFVAjusteAdicion numeric (5,  2) null,dnfIdentificadorDocumentoSoporte varchar(255)   null,dnfInfoCondicionHogar varchar (7999)   null,dnfTotalIngresosHogarAsignacion numeric (19,  5) null,dnfTotalIngresosHogar numeric (19,  5) null,dnfRangoTopeSMLMVAsignacion numeric (4,  1) null,dnfRangoTopeSMLMV numeric (4,  1) null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select dnfId, dnfSolicitudNovedad, dnfValorSFVSimuladoAjuste, dnfValorEquiSFVSimuladoAjuste, dnfValorDiferenciaAjuste, dnfValorEquiDiferenciaAjuste, dnfValorSFVSimuladoAdicion, dnfValorEquiSFVSimuladoAdicion, dnfValorDiferenciaAdicion, dnfValorEquiDiferenciaAdicion, dnfValorTotalDiferencia, dnfValorEquiTotalDiferencia, dnfValorSFVAjusteAdicion, dnfValorEquiSFVAjusteAdicion, dnfIdentificadorDocumentoSoporte, dnfInfoCondicionHogar, dnfTotalIngresosHogarAsignacion, dnfTotalIngresosHogar, dnfRangoTopeSMLMVAsignacion, dnfRangoTopeSMLMV, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_DetalleNovedadFovis_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @DetalleNovedadFovis1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #DetalleNovedadFovis1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by dnfId) then 1 else null end as act
				,row_number() over (partition by dnfId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @DetalleNovedadFovis1)
			select *
			into #DetalleNovedadFovis1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update dnf set dnf.dnfSolicitudNovedad = a.dnfSolicitudNovedad, dnf.dnfValorSFVSimuladoAjuste = a.dnfValorSFVSimuladoAjuste, dnf.dnfValorEquiSFVSimuladoAjuste = a.dnfValorEquiSFVSimuladoAjuste, dnf.dnfValorDiferenciaAjuste = a.dnfValorDiferenciaAjuste, dnf.dnfValorEquiDiferenciaAjuste = a.dnfValorEquiDiferenciaAjuste, dnf.dnfValorSFVSimuladoAdicion = a.dnfValorSFVSimuladoAdicion, dnf.dnfValorEquiSFVSimuladoAdicion = a.dnfValorEquiSFVSimuladoAdicion, dnf.dnfValorDiferenciaAdicion = a.dnfValorDiferenciaAdicion, dnf.dnfValorEquiDiferenciaAdicion = a.dnfValorEquiDiferenciaAdicion, dnf.dnfValorTotalDiferencia = a.dnfValorTotalDiferencia, dnf.dnfValorEquiTotalDiferencia = a.dnfValorEquiTotalDiferencia, dnf.dnfValorSFVAjusteAdicion = a.dnfValorSFVAjusteAdicion, dnf.dnfValorEquiSFVAjusteAdicion = a.dnfValorEquiSFVAjusteAdicion, dnf.dnfIdentificadorDocumentoSoporte = a.dnfIdentificadorDocumentoSoporte, dnf.dnfInfoCondicionHogar = a.dnfInfoCondicionHogar, dnf.dnfTotalIngresosHogarAsignacion = a.dnfTotalIngresosHogarAsignacion, dnf.dnfTotalIngresosHogar = a.dnfTotalIngresosHogar, dnf.dnfRangoTopeSMLMVAsignacion = a.dnfRangoTopeSMLMVAsignacion, dnf.dnfRangoTopeSMLMV = a.dnfRangoTopeSMLMV, dnf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.dnfId, inserted.dnfSolicitudNovedad, inserted.dnfValorSFVSimuladoAjuste, inserted.dnfValorEquiSFVSimuladoAjuste, inserted.dnfValorDiferenciaAjuste, inserted.dnfValorEquiDiferenciaAjuste, inserted.dnfValorSFVSimuladoAdicion, inserted.dnfValorEquiSFVSimuladoAdicion, inserted.dnfValorDiferenciaAdicion, inserted.dnfValorEquiDiferenciaAdicion, inserted.dnfValorTotalDiferencia, inserted.dnfValorEquiTotalDiferencia, inserted.dnfValorSFVAjusteAdicion, inserted.dnfValorEquiSFVAjusteAdicion, inserted.dnfIdentificadorDocumentoSoporte, inserted.dnfInfoCondicionHogar, inserted.dnfTotalIngresosHogarAsignacion, inserted.dnfTotalIngresosHogar, inserted.dnfRangoTopeSMLMVAsignacion, inserted.dnfRangoTopeSMLMV, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.DetalleNovedadFovis_log
			from #DetalleNovedadFovis1 as a
				inner join dbo.DetalleNovedadFovis as dnf on a.dnfId = dnf.dnfId
			where (a.ultimaFechaModificacion > dnf.ultimaFechaModificacion or dnf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #DetalleNovedadFovis1)



			drop table if exists #dnfIds
			create table #dnfIds (dnfId bigInt)
			insert #dnfIds
			select dnfId from #DetalleNovedadFovis1
			except 
			select dnfId from dbo.DetalleNovedadFovis

			insert dbo.DetalleNovedadFovis (dnfId, dnfSolicitudNovedad, dnfValorSFVSimuladoAjuste, dnfValorEquiSFVSimuladoAjuste, dnfValorDiferenciaAjuste, dnfValorEquiDiferenciaAjuste, dnfValorSFVSimuladoAdicion, dnfValorEquiSFVSimuladoAdicion, dnfValorDiferenciaAdicion, dnfValorEquiDiferenciaAdicion, dnfValorTotalDiferencia, dnfValorEquiTotalDiferencia, dnfValorSFVAjusteAdicion, dnfValorEquiSFVAjusteAdicion, dnfIdentificadorDocumentoSoporte, dnfInfoCondicionHogar, dnfTotalIngresosHogarAsignacion, dnfTotalIngresosHogar, dnfRangoTopeSMLMVAsignacion, dnfRangoTopeSMLMV,ultimaFechaModificacion)
			output inserted.dnfId, inserted.dnfSolicitudNovedad, inserted.dnfValorSFVSimuladoAjuste, inserted.dnfValorEquiSFVSimuladoAjuste, inserted.dnfValorDiferenciaAjuste, inserted.dnfValorEquiDiferenciaAjuste, inserted.dnfValorSFVSimuladoAdicion, inserted.dnfValorEquiSFVSimuladoAdicion, inserted.dnfValorDiferenciaAdicion, inserted.dnfValorEquiDiferenciaAdicion, inserted.dnfValorTotalDiferencia, inserted.dnfValorEquiTotalDiferencia, inserted.dnfValorSFVAjusteAdicion, inserted.dnfValorEquiSFVAjusteAdicion, inserted.dnfIdentificadorDocumentoSoporte, inserted.dnfInfoCondicionHogar, inserted.dnfTotalIngresosHogarAsignacion, inserted.dnfTotalIngresosHogar, inserted.dnfRangoTopeSMLMVAsignacion, inserted.dnfRangoTopeSMLMV
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.DetalleNovedadFovis_log
			select dnfId, dnfSolicitudNovedad, dnfValorSFVSimuladoAjuste, dnfValorEquiSFVSimuladoAjuste, dnfValorDiferenciaAjuste, dnfValorEquiDiferenciaAjuste, dnfValorSFVSimuladoAdicion, dnfValorEquiSFVSimuladoAdicion, dnfValorDiferenciaAdicion, dnfValorEquiDiferenciaAdicion, dnfValorTotalDiferencia, dnfValorEquiTotalDiferencia, dnfValorSFVAjusteAdicion, dnfValorEquiSFVAjusteAdicion, dnfIdentificadorDocumentoSoporte, dnfInfoCondicionHogar, dnfTotalIngresosHogarAsignacion, dnfTotalIngresosHogar, dnfRangoTopeSMLMVAsignacion, dnfRangoTopeSMLMV, ultimaFechaModificacion
			from #DetalleNovedadFovis1
			where dnfId in (select dnfId from #dnfIds)
				and actId = 1

			delete from dbo.DetalleNovedadFovis
			output deleted.dnfId, deleted.dnfSolicitudNovedad, deleted.dnfValorSFVSimuladoAjuste, deleted.dnfValorEquiSFVSimuladoAjuste, deleted.dnfValorDiferenciaAjuste, deleted.dnfValorEquiDiferenciaAjuste, deleted.dnfValorSFVSimuladoAdicion, deleted.dnfValorEquiSFVSimuladoAdicion, deleted.dnfValorDiferenciaAdicion, deleted.dnfValorEquiDiferenciaAdicion, deleted.dnfValorTotalDiferencia, deleted.dnfValorEquiTotalDiferencia, deleted.dnfValorSFVAjusteAdicion, deleted.dnfValorEquiSFVAjusteAdicion, deleted.dnfIdentificadorDocumentoSoporte, deleted.dnfInfoCondicionHogar, deleted.dnfTotalIngresosHogarAsignacion, deleted.dnfTotalIngresosHogar, deleted.dnfRangoTopeSMLMVAsignacion, deleted.dnfRangoTopeSMLMV
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.DetalleNovedadFovis_log
			where dnfId in (select dnfId from #DetalleNovedadFovis1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla ParametrizacionCondicionesSubsidio

	
			declare @ParametrizacionCondicionesSubsidio1 table (pcsId bigint   null,pcsAnioVigenciaParametrizacion int   null,pcsPeriodoInicio date   null,pcsPeriodoFin date   null,pcsValorCuotaAnualBase numeric (18,  0) null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pcsId, pcsAnioVigenciaParametrizacion, pcsPeriodoInicio, pcsPeriodoFin, pcsValorCuotaAnualBase, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ParametrizacionCondicionesSubsidio_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ParametrizacionCondicionesSubsidio1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ParametrizacionCondicionesSubsidio1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pcsId) then 1 else null end as act
				,row_number() over (partition by pcsId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ParametrizacionCondicionesSubsidio1)
			select *
			into #ParametrizacionCondicionesSubsidio1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pcs set pcs.pcsAnioVigenciaParametrizacion = a.pcsAnioVigenciaParametrizacion, pcs.pcsPeriodoInicio = a.pcsPeriodoInicio, pcs.pcsPeriodoFin = a.pcsPeriodoFin, pcs.pcsValorCuotaAnualBase = a.pcsValorCuotaAnualBase, pcs.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pcsId, inserted.pcsAnioVigenciaParametrizacion, inserted.pcsPeriodoInicio, inserted.pcsPeriodoFin, inserted.pcsValorCuotaAnualBase, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ParametrizacionCondicionesSubsidio_log
			from #ParametrizacionCondicionesSubsidio1 as a
				inner join dbo.ParametrizacionCondicionesSubsidio as pcs on a.pcsId = pcs.pcsId
			where (a.ultimaFechaModificacion > pcs.ultimaFechaModificacion or pcs.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ParametrizacionCondicionesSubsidio1)



			drop table if exists #pcsIds
			create table #pcsIds (pcsId bigInt)
			insert #pcsIds
			select pcsId from #ParametrizacionCondicionesSubsidio1
			except 
			select pcsId from dbo.ParametrizacionCondicionesSubsidio

			insert dbo.ParametrizacionCondicionesSubsidio (pcsId, pcsAnioVigenciaParametrizacion, pcsPeriodoInicio, pcsPeriodoFin, pcsValorCuotaAnualBase,ultimaFechaModificacion)
			output inserted.pcsId, inserted.pcsAnioVigenciaParametrizacion, inserted.pcsPeriodoInicio, inserted.pcsPeriodoFin, inserted.pcsValorCuotaAnualBase
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ParametrizacionCondicionesSubsidio_log
			select pcsId, pcsAnioVigenciaParametrizacion, pcsPeriodoInicio, pcsPeriodoFin, pcsValorCuotaAnualBase, ultimaFechaModificacion
			from #ParametrizacionCondicionesSubsidio1
			where pcsId in (select pcsId from #pcsIds)
				and actId = 1

			delete from dbo.ParametrizacionCondicionesSubsidio
			output deleted.pcsId, deleted.pcsAnioVigenciaParametrizacion, deleted.pcsPeriodoInicio, deleted.pcsPeriodoFin, deleted.pcsValorCuotaAnualBase
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ParametrizacionCondicionesSubsidio_log
			where pcsId in (select pcsId from #ParametrizacionCondicionesSubsidio1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla ParametrizacionLiquidacionSubsidio

	
			declare @ParametrizacionLiquidacionSubsidio1 table (plsId bigint   not null,plsAnioVigenciaParametrizacion int   not null,plsPeriodoInicio date   not null,plsPeriodoFin date   not null,plsFactorCuotaInvalidez numeric (19,  5) not null,plsFactorPorDefuncion numeric (19,  5) not null,plsHorasTrabajadas int   not null,plsSMLMV numeric (19,  5) null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select plsId, plsAnioVigenciaParametrizacion, plsPeriodoInicio, plsPeriodoFin, plsFactorCuotaInvalidez, plsFactorPorDefuncion, plsHorasTrabajadas, plsSMLMV, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ParametrizacionLiquidacionSubsidio_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ParametrizacionLiquidacionSubsidio1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ParametrizacionLiquidacionSubsidio1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by plsId) then 1 else null end as act
				,row_number() over (partition by plsId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ParametrizacionLiquidacionSubsidio1)
			select *
			into #ParametrizacionLiquidacionSubsidio1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pls set pls.plsAnioVigenciaParametrizacion = a.plsAnioVigenciaParametrizacion, pls.plsPeriodoInicio = a.plsPeriodoInicio, pls.plsPeriodoFin = a.plsPeriodoFin, pls.plsFactorCuotaInvalidez = a.plsFactorCuotaInvalidez, pls.plsFactorPorDefuncion = a.plsFactorPorDefuncion, pls.plsHorasTrabajadas = a.plsHorasTrabajadas, pls.plsSMLMV = a.plsSMLMV, pls.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.plsId, inserted.plsAnioVigenciaParametrizacion, inserted.plsPeriodoInicio, inserted.plsPeriodoFin, inserted.plsFactorCuotaInvalidez, inserted.plsFactorPorDefuncion, inserted.plsHorasTrabajadas, inserted.plsSMLMV, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ParametrizacionLiquidacionSubsidio_log
			from #ParametrizacionLiquidacionSubsidio1 as a
				inner join dbo.ParametrizacionLiquidacionSubsidio as pls on a.plsId = pls.plsId
			where (a.ultimaFechaModificacion > pls.ultimaFechaModificacion or pls.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ParametrizacionLiquidacionSubsidio1)



			drop table if exists #plsIds
			create table #plsIds (plsId bigInt)
			insert #plsIds
			select plsId from #ParametrizacionLiquidacionSubsidio1
			except 
			select plsId from dbo.ParametrizacionLiquidacionSubsidio

			insert dbo.ParametrizacionLiquidacionSubsidio (plsId, plsAnioVigenciaParametrizacion, plsPeriodoInicio, plsPeriodoFin, plsFactorCuotaInvalidez, plsFactorPorDefuncion, plsHorasTrabajadas, plsSMLMV,ultimaFechaModificacion)
			output inserted.plsId, inserted.plsAnioVigenciaParametrizacion, inserted.plsPeriodoInicio, inserted.plsPeriodoFin, inserted.plsFactorCuotaInvalidez, inserted.plsFactorPorDefuncion, inserted.plsHorasTrabajadas, inserted.plsSMLMV
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ParametrizacionLiquidacionSubsidio_log
			select plsId, plsAnioVigenciaParametrizacion, plsPeriodoInicio, plsPeriodoFin, plsFactorCuotaInvalidez, plsFactorPorDefuncion, plsHorasTrabajadas, plsSMLMV, ultimaFechaModificacion
			from #ParametrizacionLiquidacionSubsidio1
			where plsId in (select plsId from #plsIds)
				and actId = 1

			delete from dbo.ParametrizacionLiquidacionSubsidio
			output deleted.plsId, deleted.plsAnioVigenciaParametrizacion, deleted.plsPeriodoInicio, deleted.plsPeriodoFin, deleted.plsFactorCuotaInvalidez, deleted.plsFactorPorDefuncion, deleted.plsHorasTrabajadas, deleted.plsSMLMV
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ParametrizacionLiquidacionSubsidio_log
			where plsId in (select plsId from #ParametrizacionLiquidacionSubsidio1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla ParametrizacionModalidad

	
			declare @ParametrizacionModalidad1 table (pmoId bigint   not null,pmoNombre varchar(50)   null,pmoEstado bit   null,pmoTopeSMLMV numeric (4,  1) null,pmoTopeAvaluoCatastral numeric (4,  1) null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pmoId, pmoNombre, pmoEstado, pmoTopeSMLMV, pmoTopeAvaluoCatastral, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ParametrizacionModalidad_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ParametrizacionModalidad1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ParametrizacionModalidad1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pmoId) then 1 else null end as act
				,row_number() over (partition by pmoId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ParametrizacionModalidad1)
			select *
			into #ParametrizacionModalidad1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pmo set pmo.pmoNombre = a.pmoNombre, pmo.pmoEstado = a.pmoEstado, pmo.pmoTopeSMLMV = a.pmoTopeSMLMV, pmo.pmoTopeAvaluoCatastral = a.pmoTopeAvaluoCatastral, pmo.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pmoId, inserted.pmoNombre, inserted.pmoEstado, inserted.pmoTopeSMLMV, inserted.pmoTopeAvaluoCatastral, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ParametrizacionModalidad_log
			from #ParametrizacionModalidad1 as a
				inner join dbo.ParametrizacionModalidad as pmo on a.pmoId = pmo.pmoId
			where (a.ultimaFechaModificacion > pmo.ultimaFechaModificacion or pmo.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ParametrizacionModalidad1)



			drop table if exists #pmoIds
			create table #pmoIds (pmoId bigInt)
			insert #pmoIds
			select pmoId from #ParametrizacionModalidad1
			except 
			select pmoId from dbo.ParametrizacionModalidad

			insert dbo.ParametrizacionModalidad (pmoId, pmoNombre, pmoEstado, pmoTopeSMLMV, pmoTopeAvaluoCatastral,ultimaFechaModificacion)
			output inserted.pmoId, inserted.pmoNombre, inserted.pmoEstado, inserted.pmoTopeSMLMV, inserted.pmoTopeAvaluoCatastral
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ParametrizacionModalidad_log
			select pmoId, pmoNombre, pmoEstado, pmoTopeSMLMV, pmoTopeAvaluoCatastral, ultimaFechaModificacion
			from #ParametrizacionModalidad1
			where pmoId in (select pmoId from #pmoIds)
				and actId = 1

			delete from dbo.ParametrizacionModalidad
			output deleted.pmoId, deleted.pmoNombre, deleted.pmoEstado, deleted.pmoTopeSMLMV, deleted.pmoTopeAvaluoCatastral
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ParametrizacionModalidad_log
			where pmoId in (select pmoId from #ParametrizacionModalidad1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla RegistroArchivoConsumosAnibol

	
			declare @RegistroArchivoConsumosAnibol1 table (racId bigint   not null,racArchivoConsumosAnibol bigint   not null,racTipoRegistroArchivoConsumo varchar(16)   not null,racCuentaAdministradorSubsidio bigint   null,racFechaHoraCreacion datetime   not null,racFechaHoraValidacion datetime   not null,racBinCCF varchar(9)   not null,racNumeroTarjeta varchar(19)   not null,racNitEmpresa varchar(15)   not null,racCuentaRelacionada varchar(19)   not null,racDispositivoOrigen varchar(2)   not null,racDescripcionCobroSubsidio varchar(30)   not null,racDescripcionTransaccion varchar(30)   not null,racValorTransaccion numeric (17,  2) not null,racValorDispensando numeric (17,  2) not null,racFechaTransaccion varchar(8)   not null,racValorACobrar numeric (17,  2) not null,racValorImpuestos numeric (17,  2) not null,racTotalACobrar numeric (17,  2) not null,racImpuestoEmergenciaEconomica numeric (17,  2) not null,racIndicadorReverso char   null,racRespuestaAutorizador varchar(2)   not null,racDescripcionRespuesta varchar(30)   not null,racCodigoAutorizacion varchar(6)   not null,racSubtipo varchar(3)   not null,racFechaAutorizador varchar(8)   not null,racHoraAutorizador varchar(9)   not null,racHoraDispositivo varchar(6)   not null,racNumeroReferencia varchar(12)   not null,racRed varchar(4)   not null,racNumeroDispositivo varchar(16)   not null,racCodigoEstablecimiento varchar(10)   not null,racCodigoCuentaBolsillo varchar(2)   not null,racEstadoRegistro varchar(30)   null,racTipoInconsistenciaResultadoValidacion varchar(34)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select racId, racArchivoConsumosAnibol, racTipoRegistroArchivoConsumo, racCuentaAdministradorSubsidio, racFechaHoraCreacion, racFechaHoraValidacion, racBinCCF, racNumeroTarjeta, racNitEmpresa, racCuentaRelacionada, racDispositivoOrigen, racDescripcionCobroSubsidio, racDescripcionTransaccion, racValorTransaccion, racValorDispensando, racFechaTransaccion, racValorACobrar, racValorImpuestos, racTotalACobrar, racImpuestoEmergenciaEconomica, racIndicadorReverso, racRespuestaAutorizador, racDescripcionRespuesta, racCodigoAutorizacion, racSubtipo, racFechaAutorizador, racHoraAutorizador, racHoraDispositivo, racNumeroReferencia, racRed, racNumeroDispositivo, racCodigoEstablecimiento, racCodigoCuentaBolsillo, racEstadoRegistro, racTipoInconsistenciaResultadoValidacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_RegistroArchivoConsumosAnibol_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @RegistroArchivoConsumosAnibol1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #RegistroArchivoConsumosAnibol1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by racId) then 1 else null end as act
				,row_number() over (partition by racId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @RegistroArchivoConsumosAnibol1)
			select *
			into #RegistroArchivoConsumosAnibol1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update rac set rac.racArchivoConsumosAnibol = a.racArchivoConsumosAnibol, rac.racTipoRegistroArchivoConsumo = a.racTipoRegistroArchivoConsumo, rac.racCuentaAdministradorSubsidio = a.racCuentaAdministradorSubsidio, rac.racFechaHoraCreacion = a.racFechaHoraCreacion, rac.racFechaHoraValidacion = a.racFechaHoraValidacion, rac.racBinCCF = a.racBinCCF, rac.racNumeroTarjeta = a.racNumeroTarjeta, rac.racNitEmpresa = a.racNitEmpresa, rac.racCuentaRelacionada = a.racCuentaRelacionada, rac.racDispositivoOrigen = a.racDispositivoOrigen, rac.racDescripcionCobroSubsidio = a.racDescripcionCobroSubsidio, rac.racDescripcionTransaccion = a.racDescripcionTransaccion, rac.racValorTransaccion = a.racValorTransaccion, rac.racValorDispensando = a.racValorDispensando, rac.racFechaTransaccion = a.racFechaTransaccion, rac.racValorACobrar = a.racValorACobrar, rac.racValorImpuestos = a.racValorImpuestos, rac.racTotalACobrar = a.racTotalACobrar, rac.racImpuestoEmergenciaEconomica = a.racImpuestoEmergenciaEconomica, rac.racIndicadorReverso = a.racIndicadorReverso, rac.racRespuestaAutorizador = a.racRespuestaAutorizador, rac.racDescripcionRespuesta = a.racDescripcionRespuesta, rac.racCodigoAutorizacion = a.racCodigoAutorizacion, rac.racSubtipo = a.racSubtipo, rac.racFechaAutorizador = a.racFechaAutorizador, rac.racHoraAutorizador = a.racHoraAutorizador, rac.racHoraDispositivo = a.racHoraDispositivo, rac.racNumeroReferencia = a.racNumeroReferencia, rac.racRed = a.racRed, rac.racNumeroDispositivo = a.racNumeroDispositivo, rac.racCodigoEstablecimiento = a.racCodigoEstablecimiento, rac.racCodigoCuentaBolsillo = a.racCodigoCuentaBolsillo, rac.racEstadoRegistro = a.racEstadoRegistro, rac.racTipoInconsistenciaResultadoValidacion = a.racTipoInconsistenciaResultadoValidacion, rac.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.racId, inserted.racArchivoConsumosAnibol, inserted.racTipoRegistroArchivoConsumo, inserted.racCuentaAdministradorSubsidio, inserted.racFechaHoraCreacion, inserted.racFechaHoraValidacion, inserted.racBinCCF, inserted.racNumeroTarjeta, inserted.racNitEmpresa, inserted.racCuentaRelacionada, inserted.racDispositivoOrigen, inserted.racDescripcionCobroSubsidio, inserted.racDescripcionTransaccion, inserted.racValorTransaccion, inserted.racValorDispensando, inserted.racFechaTransaccion, inserted.racValorACobrar, inserted.racValorImpuestos, inserted.racTotalACobrar, inserted.racImpuestoEmergenciaEconomica, inserted.racIndicadorReverso, inserted.racRespuestaAutorizador, inserted.racDescripcionRespuesta, inserted.racCodigoAutorizacion, inserted.racSubtipo, inserted.racFechaAutorizador, inserted.racHoraAutorizador, inserted.racHoraDispositivo, inserted.racNumeroReferencia, inserted.racRed, inserted.racNumeroDispositivo, inserted.racCodigoEstablecimiento, inserted.racCodigoCuentaBolsillo, inserted.racEstadoRegistro, inserted.racTipoInconsistenciaResultadoValidacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.RegistroArchivoConsumosAnibol_log
			from #RegistroArchivoConsumosAnibol1 as a
				inner join dbo.RegistroArchivoConsumosAnibol as rac on a.racId = rac.racId
			where (a.ultimaFechaModificacion > rac.ultimaFechaModificacion or rac.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #RegistroArchivoConsumosAnibol1)



			drop table if exists #racIds
			create table #racIds (racId bigInt)
			insert #racIds
			select racId from #RegistroArchivoConsumosAnibol1
			except 
			select racId from dbo.RegistroArchivoConsumosAnibol

			insert dbo.RegistroArchivoConsumosAnibol (racId, racArchivoConsumosAnibol, racTipoRegistroArchivoConsumo, racCuentaAdministradorSubsidio, racFechaHoraCreacion, racFechaHoraValidacion, racBinCCF, racNumeroTarjeta, racNitEmpresa, racCuentaRelacionada, racDispositivoOrigen, racDescripcionCobroSubsidio, racDescripcionTransaccion, racValorTransaccion, racValorDispensando, racFechaTransaccion, racValorACobrar, racValorImpuestos, racTotalACobrar, racImpuestoEmergenciaEconomica, racIndicadorReverso, racRespuestaAutorizador, racDescripcionRespuesta, racCodigoAutorizacion, racSubtipo, racFechaAutorizador, racHoraAutorizador, racHoraDispositivo, racNumeroReferencia, racRed, racNumeroDispositivo, racCodigoEstablecimiento, racCodigoCuentaBolsillo, racEstadoRegistro, racTipoInconsistenciaResultadoValidacion,ultimaFechaModificacion)
			output inserted.racId, inserted.racArchivoConsumosAnibol, inserted.racTipoRegistroArchivoConsumo, inserted.racCuentaAdministradorSubsidio, inserted.racFechaHoraCreacion, inserted.racFechaHoraValidacion, inserted.racBinCCF, inserted.racNumeroTarjeta, inserted.racNitEmpresa, inserted.racCuentaRelacionada, inserted.racDispositivoOrigen, inserted.racDescripcionCobroSubsidio, inserted.racDescripcionTransaccion, inserted.racValorTransaccion, inserted.racValorDispensando, inserted.racFechaTransaccion, inserted.racValorACobrar, inserted.racValorImpuestos, inserted.racTotalACobrar, inserted.racImpuestoEmergenciaEconomica, inserted.racIndicadorReverso, inserted.racRespuestaAutorizador, inserted.racDescripcionRespuesta, inserted.racCodigoAutorizacion, inserted.racSubtipo, inserted.racFechaAutorizador, inserted.racHoraAutorizador, inserted.racHoraDispositivo, inserted.racNumeroReferencia, inserted.racRed, inserted.racNumeroDispositivo, inserted.racCodigoEstablecimiento, inserted.racCodigoCuentaBolsillo, inserted.racEstadoRegistro, inserted.racTipoInconsistenciaResultadoValidacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.RegistroArchivoConsumosAnibol_log
			select racId, racArchivoConsumosAnibol, racTipoRegistroArchivoConsumo, racCuentaAdministradorSubsidio, racFechaHoraCreacion, racFechaHoraValidacion, racBinCCF, racNumeroTarjeta, racNitEmpresa, racCuentaRelacionada, racDispositivoOrigen, racDescripcionCobroSubsidio, racDescripcionTransaccion, racValorTransaccion, racValorDispensando, racFechaTransaccion, racValorACobrar, racValorImpuestos, racTotalACobrar, racImpuestoEmergenciaEconomica, racIndicadorReverso, racRespuestaAutorizador, racDescripcionRespuesta, racCodigoAutorizacion, racSubtipo, racFechaAutorizador, racHoraAutorizador, racHoraDispositivo, racNumeroReferencia, racRed, racNumeroDispositivo, racCodigoEstablecimiento, racCodigoCuentaBolsillo, racEstadoRegistro, racTipoInconsistenciaResultadoValidacion, ultimaFechaModificacion
			from #RegistroArchivoConsumosAnibol1
			where racId in (select racId from #racIds)
				and actId = 1

			delete from dbo.RegistroArchivoConsumosAnibol
			output deleted.racId, deleted.racArchivoConsumosAnibol, deleted.racTipoRegistroArchivoConsumo, deleted.racCuentaAdministradorSubsidio, deleted.racFechaHoraCreacion, deleted.racFechaHoraValidacion, deleted.racBinCCF, deleted.racNumeroTarjeta, deleted.racNitEmpresa, deleted.racCuentaRelacionada, deleted.racDispositivoOrigen, deleted.racDescripcionCobroSubsidio, deleted.racDescripcionTransaccion, deleted.racValorTransaccion, deleted.racValorDispensando, deleted.racFechaTransaccion, deleted.racValorACobrar, deleted.racValorImpuestos, deleted.racTotalACobrar, deleted.racImpuestoEmergenciaEconomica, deleted.racIndicadorReverso, deleted.racRespuestaAutorizador, deleted.racDescripcionRespuesta, deleted.racCodigoAutorizacion, deleted.racSubtipo, deleted.racFechaAutorizador, deleted.racHoraAutorizador, deleted.racHoraDispositivo, deleted.racNumeroReferencia, deleted.racRed, deleted.racNumeroDispositivo, deleted.racCodigoEstablecimiento, deleted.racCodigoCuentaBolsillo, deleted.racEstadoRegistro, deleted.racTipoInconsistenciaResultadoValidacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.RegistroArchivoConsumosAnibol_log
			where racId in (select racId from #RegistroArchivoConsumosAnibol1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla RegistroArchivoRetiroTerceroPagador

	
			declare @RegistroArchivoRetiroTerceroPagador1 table (rarId bigint   not null,rarCuentaAdministradorSubsidio bigint   null,rarArchivoRetiroTerceroPagador bigint   not null,rarEstado varchar(35)   null,rarIdTransaccionTerceroPagador varchar(200)   not null,rarTipoIdentificacionAdminSubsidio varchar(20)   not null,rarNumeroIdentificacionAdminSubsidio varchar(16)   not null,rarValorRealTransaccion numeric (19,  5) not null,rarFechaTransaccion varchar(50)   not null,rarHoraTransaccion varchar(50)   not null,rarCodigoDepartamento varchar(2)   not null,rarCodigoMunicipio varchar(6)   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select rarId, rarCuentaAdministradorSubsidio, rarArchivoRetiroTerceroPagador, rarEstado, rarIdTransaccionTerceroPagador, rarTipoIdentificacionAdminSubsidio, rarNumeroIdentificacionAdminSubsidio, rarValorRealTransaccion, rarFechaTransaccion, rarHoraTransaccion, rarCodigoDepartamento, rarCodigoMunicipio, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_RegistroArchivoRetiroTerceroPagador_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @RegistroArchivoRetiroTerceroPagador1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #RegistroArchivoRetiroTerceroPagador1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by rarId) then 1 else null end as act
				,row_number() over (partition by rarId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @RegistroArchivoRetiroTerceroPagador1)
			select *
			into #RegistroArchivoRetiroTerceroPagador1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update rar set rar.rarCuentaAdministradorSubsidio = a.rarCuentaAdministradorSubsidio, rar.rarArchivoRetiroTerceroPagador = a.rarArchivoRetiroTerceroPagador, rar.rarEstado = a.rarEstado, rar.rarIdTransaccionTerceroPagador = a.rarIdTransaccionTerceroPagador, rar.rarTipoIdentificacionAdminSubsidio = a.rarTipoIdentificacionAdminSubsidio, rar.rarNumeroIdentificacionAdminSubsidio = a.rarNumeroIdentificacionAdminSubsidio, rar.rarValorRealTransaccion = a.rarValorRealTransaccion, rar.rarFechaTransaccion = a.rarFechaTransaccion, rar.rarHoraTransaccion = a.rarHoraTransaccion, rar.rarCodigoDepartamento = a.rarCodigoDepartamento, rar.rarCodigoMunicipio = a.rarCodigoMunicipio, rar.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.rarId, inserted.rarCuentaAdministradorSubsidio, inserted.rarArchivoRetiroTerceroPagador, inserted.rarEstado, inserted.rarIdTransaccionTerceroPagador, inserted.rarTipoIdentificacionAdminSubsidio, inserted.rarNumeroIdentificacionAdminSubsidio, inserted.rarValorRealTransaccion, inserted.rarFechaTransaccion, inserted.rarHoraTransaccion, inserted.rarCodigoDepartamento, inserted.rarCodigoMunicipio, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.RegistroArchivoRetiroTerceroPagador_log
			from #RegistroArchivoRetiroTerceroPagador1 as a
				inner join dbo.RegistroArchivoRetiroTerceroPagador as rar on a.rarId = rar.rarId
			where (a.ultimaFechaModificacion > rar.ultimaFechaModificacion or rar.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #RegistroArchivoRetiroTerceroPagador1)



			drop table if exists #rarIds
			create table #rarIds (rarId bigInt)
			insert #rarIds
			select rarId from #RegistroArchivoRetiroTerceroPagador1
			except 
			select rarId from dbo.RegistroArchivoRetiroTerceroPagador

			insert dbo.RegistroArchivoRetiroTerceroPagador (rarId, rarCuentaAdministradorSubsidio, rarArchivoRetiroTerceroPagador, rarEstado, rarIdTransaccionTerceroPagador, rarTipoIdentificacionAdminSubsidio, rarNumeroIdentificacionAdminSubsidio, rarValorRealTransaccion, rarFechaTransaccion, rarHoraTransaccion, rarCodigoDepartamento, rarCodigoMunicipio,ultimaFechaModificacion)
			output inserted.rarId, inserted.rarCuentaAdministradorSubsidio, inserted.rarArchivoRetiroTerceroPagador, inserted.rarEstado, inserted.rarIdTransaccionTerceroPagador, inserted.rarTipoIdentificacionAdminSubsidio, inserted.rarNumeroIdentificacionAdminSubsidio, inserted.rarValorRealTransaccion, inserted.rarFechaTransaccion, inserted.rarHoraTransaccion, inserted.rarCodigoDepartamento, inserted.rarCodigoMunicipio
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.RegistroArchivoRetiroTerceroPagador_log
			select rarId, rarCuentaAdministradorSubsidio, rarArchivoRetiroTerceroPagador, rarEstado, rarIdTransaccionTerceroPagador, rarTipoIdentificacionAdminSubsidio, rarNumeroIdentificacionAdminSubsidio, rarValorRealTransaccion, rarFechaTransaccion, rarHoraTransaccion, rarCodigoDepartamento, rarCodigoMunicipio, ultimaFechaModificacion
			from #RegistroArchivoRetiroTerceroPagador1
			where rarId in (select rarId from #rarIds)
				and actId = 1

			delete from dbo.RegistroArchivoRetiroTerceroPagador
			output deleted.rarId, deleted.rarCuentaAdministradorSubsidio, deleted.rarArchivoRetiroTerceroPagador, deleted.rarEstado, deleted.rarIdTransaccionTerceroPagador, deleted.rarTipoIdentificacionAdminSubsidio, deleted.rarNumeroIdentificacionAdminSubsidio, deleted.rarValorRealTransaccion, deleted.rarFechaTransaccion, deleted.rarHoraTransaccion, deleted.rarCodigoDepartamento, deleted.rarCodigoMunicipio
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.RegistroArchivoRetiroTerceroPagador_log
			where rarId in (select rarId from #RegistroArchivoRetiroTerceroPagador1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla RetiroPersonaAutorizadaCobroSubsidio

	
			declare @RetiroPersonaAutorizadaCobroSubsidio1 table (rpaId bigint   not null,rpaPersonaAutorizada bigint   not null,rpaCuentaAdministradorSubsidio bigint   not null,rpaDocumentoSoporte bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select rpaId, rpaPersonaAutorizada, rpaCuentaAdministradorSubsidio, rpaDocumentoSoporte, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_RetiroPersonaAutorizadaCobroSubsidio_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @RetiroPersonaAutorizadaCobroSubsidio1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #RetiroPersonaAutorizadaCobroSubsidio1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by rpaId) then 1 else null end as act
				,row_number() over (partition by rpaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @RetiroPersonaAutorizadaCobroSubsidio1)
			select *
			into #RetiroPersonaAutorizadaCobroSubsidio1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update rpa set rpa.rpaPersonaAutorizada = a.rpaPersonaAutorizada, rpa.rpaCuentaAdministradorSubsidio = a.rpaCuentaAdministradorSubsidio, rpa.rpaDocumentoSoporte = a.rpaDocumentoSoporte, rpa.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.rpaId, inserted.rpaPersonaAutorizada, inserted.rpaCuentaAdministradorSubsidio, inserted.rpaDocumentoSoporte, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.RetiroPersonaAutorizadaCobroSubsidio_log
			from #RetiroPersonaAutorizadaCobroSubsidio1 as a
				inner join dbo.RetiroPersonaAutorizadaCobroSubsidio as rpa on a.rpaId = rpa.rpaId
			where (a.ultimaFechaModificacion > rpa.ultimaFechaModificacion or rpa.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #RetiroPersonaAutorizadaCobroSubsidio1)



			drop table if exists #rpaIds
			create table #rpaIds (rpaId bigInt)
			insert #rpaIds
			select rpaId from #RetiroPersonaAutorizadaCobroSubsidio1
			except 
			select rpaId from dbo.RetiroPersonaAutorizadaCobroSubsidio

			insert dbo.RetiroPersonaAutorizadaCobroSubsidio (rpaId, rpaPersonaAutorizada, rpaCuentaAdministradorSubsidio, rpaDocumentoSoporte,ultimaFechaModificacion)
			output inserted.rpaId, inserted.rpaPersonaAutorizada, inserted.rpaCuentaAdministradorSubsidio, inserted.rpaDocumentoSoporte
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.RetiroPersonaAutorizadaCobroSubsidio_log
			select rpaId, rpaPersonaAutorizada, rpaCuentaAdministradorSubsidio, rpaDocumentoSoporte, ultimaFechaModificacion
			from #RetiroPersonaAutorizadaCobroSubsidio1
			where rpaId in (select rpaId from #rpaIds)
				and actId = 1

			delete from dbo.RetiroPersonaAutorizadaCobroSubsidio
			output deleted.rpaId, deleted.rpaPersonaAutorizada, deleted.rpaCuentaAdministradorSubsidio, deleted.rpaDocumentoSoporte
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.RetiroPersonaAutorizadaCobroSubsidio_log
			where rpaId in (select rpaId from #RetiroPersonaAutorizadaCobroSubsidio1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SedeCajaCompensacion

	
			declare @SedeCajaCompensacion1 table (sccfId bigint   not null,sccfNombre varchar(100)   null,sccfVirtual bit   null,sccCodigo varchar(2)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select sccfId, sccfNombre, sccfVirtual, sccCodigo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SedeCajaCompensacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SedeCajaCompensacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SedeCajaCompensacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by sccfId) then 1 else null end as act
				,row_number() over (partition by sccfId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SedeCajaCompensacion1)
			select *
			into #SedeCajaCompensacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update scc set scc.sccfNombre = a.sccfNombre, scc.sccfVirtual = a.sccfVirtual, scc.sccCodigo = a.sccCodigo, scc.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.sccfId, inserted.sccfNombre, inserted.sccfVirtual, inserted.sccCodigo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SedeCajaCompensacion_log
			from #SedeCajaCompensacion1 as a
				inner join dbo.SedeCajaCompensacion as scc on a.sccfId = scc.sccfId
			where (a.ultimaFechaModificacion > scc.ultimaFechaModificacion or scc.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SedeCajaCompensacion1)



			drop table if exists #sccfIds
			create table #sccfIds (sccfId bigInt)
			insert #sccfIds
			select sccfId from #SedeCajaCompensacion1
			except 
			select sccfId from dbo.SedeCajaCompensacion

			insert dbo.SedeCajaCompensacion (sccfId, sccfNombre, sccfVirtual, sccCodigo,ultimaFechaModificacion)
			output inserted.sccfId, inserted.sccfNombre, inserted.sccfVirtual, inserted.sccCodigo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SedeCajaCompensacion_log
			select sccfId, sccfNombre, sccfVirtual, sccCodigo, ultimaFechaModificacion
			from #SedeCajaCompensacion1
			where sccfId in (select sccfId from #sccfIds)
				and actId = 1

			delete from dbo.SedeCajaCompensacion
			output deleted.sccfId, deleted.sccfNombre, deleted.sccfVirtual, deleted.sccCodigo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SedeCajaCompensacion_log
			where sccfId in (select sccfId from #SedeCajaCompensacion1 where operacion = 1 and actId = 1)