	CREATE or alter procedure [dbo].[OP_PerAfiBenBenD_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla Afiliado

	
			declare @Afiliado1 table (afiId bigint   not null,afiPersona bigint   null,afiPignoracionSubsidio bit   null,afiCesionSubsidio bit   null,afiRetencionSubsidio bit   null,afiServicioSinAfiliacion bit   null,afiCausaSinAfiliacion varchar(20)   null,afiFechaInicioServiciosSinAfiliacion date   null,afifechaFinServicioSinAfiliacion date   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select afiId, afiPersona, afiPignoracionSubsidio, afiCesionSubsidio, afiRetencionSubsidio, afiServicioSinAfiliacion, afiCausaSinAfiliacion, afiFechaInicioServiciosSinAfiliacion, afifechaFinServicioSinAfiliacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Afiliado_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Afiliado1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Afiliado1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by afiId) then 1 else null end as act
				,row_number() over (partition by afiId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Afiliado1)
			select *
			into #Afiliado1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update afi set afi.afiPersona = a.afiPersona, afi.afiPignoracionSubsidio = a.afiPignoracionSubsidio, afi.afiCesionSubsidio = a.afiCesionSubsidio, afi.afiRetencionSubsidio = a.afiRetencionSubsidio, afi.afiServicioSinAfiliacion = a.afiServicioSinAfiliacion, afi.afiCausaSinAfiliacion = a.afiCausaSinAfiliacion, afi.afiFechaInicioServiciosSinAfiliacion = a.afiFechaInicioServiciosSinAfiliacion, afi.afifechaFinServicioSinAfiliacion = a.afifechaFinServicioSinAfiliacion, afi.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.afiId, inserted.afiPersona, inserted.afiPignoracionSubsidio, inserted.afiCesionSubsidio, inserted.afiRetencionSubsidio, inserted.afiServicioSinAfiliacion, inserted.afiCausaSinAfiliacion, inserted.afiFechaInicioServiciosSinAfiliacion, inserted.afifechaFinServicioSinAfiliacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Afiliado_log
			from #Afiliado1 as a
				inner join dbo.Afiliado as afi on a.afiId = afi.afiId
			where (a.ultimaFechaModificacion > afi.ultimaFechaModificacion or afi.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Afiliado1)



			drop table if exists #afiIds
			create table #afiIds (afiId bigInt)
			insert #afiIds
			select afiId from #Afiliado1
			except 
			select afiId from dbo.Afiliado

			insert dbo.Afiliado (afiId, afiPersona, afiPignoracionSubsidio, afiCesionSubsidio, afiRetencionSubsidio, afiServicioSinAfiliacion, afiCausaSinAfiliacion, afiFechaInicioServiciosSinAfiliacion, afifechaFinServicioSinAfiliacion,ultimaFechaModificacion)
			output inserted.afiId, inserted.afiPersona, inserted.afiPignoracionSubsidio, inserted.afiCesionSubsidio, inserted.afiRetencionSubsidio, inserted.afiServicioSinAfiliacion, inserted.afiCausaSinAfiliacion, inserted.afiFechaInicioServiciosSinAfiliacion, inserted.afifechaFinServicioSinAfiliacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Afiliado_log
			select afiId, afiPersona, afiPignoracionSubsidio, afiCesionSubsidio, afiRetencionSubsidio, afiServicioSinAfiliacion, afiCausaSinAfiliacion, afiFechaInicioServiciosSinAfiliacion, afifechaFinServicioSinAfiliacion, ultimaFechaModificacion
			from #Afiliado1
			where afiId in (select afiId from #afiIds)
				and actId = 1

			delete from dbo.Afiliado
			output deleted.afiId, deleted.afiPersona, deleted.afiPignoracionSubsidio, deleted.afiCesionSubsidio, deleted.afiRetencionSubsidio, deleted.afiServicioSinAfiliacion, deleted.afiCausaSinAfiliacion, deleted.afiFechaInicioServiciosSinAfiliacion, deleted.afifechaFinServicioSinAfiliacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Afiliado_log
			where afiId in (select afiId from #Afiliado1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Beneficiario

	
			declare @Beneficiario1 table (benId bigint   not null,benEstadoBeneficiarioAfiliado varchar(20)   null,benEstudianteTrabajoDesarrolloHumano bit   null,benFechaAfiliacion date   null,benTipoBeneficiario varchar(30)   not null,benGrupoFamiliar bigint   null,benPersona bigint   not null,benAfiliado bigint   not null,benGradoAcademico smallint   null,benMotivoDesafiliacion varchar(70)   null,benFechaRetiro date   null,benFechaInicioSociedadConyugal date   null,benFechaFinSociedadConyugal date   null,benRolAfiliado bigint   null,benBeneficiarioDetalle bigint   null,benOmitirValidaciones bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select benId, benEstadoBeneficiarioAfiliado, benEstudianteTrabajoDesarrolloHumano, benFechaAfiliacion, benTipoBeneficiario, benGrupoFamiliar, benPersona, benAfiliado, benGradoAcademico, benMotivoDesafiliacion, benFechaRetiro, benFechaInicioSociedadConyugal, benFechaFinSociedadConyugal, benRolAfiliado, benBeneficiarioDetalle, benOmitirValidaciones, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Beneficiario_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Beneficiario1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Beneficiario1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by benId) then 1 else null end as act
				,row_number() over (partition by benId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Beneficiario1)
			select *
			into #Beneficiario1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ben set ben.benEstadoBeneficiarioAfiliado = a.benEstadoBeneficiarioAfiliado, ben.benEstudianteTrabajoDesarrolloHumano = a.benEstudianteTrabajoDesarrolloHumano, ben.benFechaAfiliacion = a.benFechaAfiliacion, ben.benTipoBeneficiario = a.benTipoBeneficiario, ben.benGrupoFamiliar = a.benGrupoFamiliar, ben.benPersona = a.benPersona, ben.benAfiliado = a.benAfiliado, ben.benGradoAcademico = a.benGradoAcademico, ben.benMotivoDesafiliacion = a.benMotivoDesafiliacion, ben.benFechaRetiro = a.benFechaRetiro, ben.benFechaInicioSociedadConyugal = a.benFechaInicioSociedadConyugal, ben.benFechaFinSociedadConyugal = a.benFechaFinSociedadConyugal, ben.benRolAfiliado = a.benRolAfiliado, ben.benBeneficiarioDetalle = a.benBeneficiarioDetalle, ben.benOmitirValidaciones = a.benOmitirValidaciones, ben.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.benId, inserted.benEstadoBeneficiarioAfiliado, inserted.benEstudianteTrabajoDesarrolloHumano, inserted.benFechaAfiliacion, inserted.benTipoBeneficiario, inserted.benGrupoFamiliar, inserted.benPersona, inserted.benAfiliado, inserted.benGradoAcademico, inserted.benMotivoDesafiliacion, inserted.benFechaRetiro, inserted.benFechaInicioSociedadConyugal, inserted.benFechaFinSociedadConyugal, inserted.benRolAfiliado, inserted.benBeneficiarioDetalle, inserted.benOmitirValidaciones, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Beneficiario_log
			from #Beneficiario1 as a
				inner join dbo.Beneficiario as ben on a.benId = ben.benId
			where (a.ultimaFechaModificacion > ben.ultimaFechaModificacion or ben.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Beneficiario1)



			drop table if exists #benIds
			create table #benIds (benId bigInt)
			insert #benIds
			select benId from #Beneficiario1
			except 
			select benId from dbo.Beneficiario

			insert dbo.Beneficiario (benId, benEstadoBeneficiarioAfiliado, benEstudianteTrabajoDesarrolloHumano, benFechaAfiliacion, benTipoBeneficiario, benGrupoFamiliar, benPersona, benAfiliado, benGradoAcademico, benMotivoDesafiliacion, benFechaRetiro, benFechaInicioSociedadConyugal, benFechaFinSociedadConyugal, benRolAfiliado, benBeneficiarioDetalle, benOmitirValidaciones,ultimaFechaModificacion)
			output inserted.benId, inserted.benEstadoBeneficiarioAfiliado, inserted.benEstudianteTrabajoDesarrolloHumano, inserted.benFechaAfiliacion, inserted.benTipoBeneficiario, inserted.benGrupoFamiliar, inserted.benPersona, inserted.benAfiliado, inserted.benGradoAcademico, inserted.benMotivoDesafiliacion, inserted.benFechaRetiro, inserted.benFechaInicioSociedadConyugal, inserted.benFechaFinSociedadConyugal, inserted.benRolAfiliado, inserted.benBeneficiarioDetalle, inserted.benOmitirValidaciones
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Beneficiario_log
			select benId, benEstadoBeneficiarioAfiliado, benEstudianteTrabajoDesarrolloHumano, benFechaAfiliacion, benTipoBeneficiario, benGrupoFamiliar, benPersona, benAfiliado, benGradoAcademico, benMotivoDesafiliacion, benFechaRetiro, benFechaInicioSociedadConyugal, benFechaFinSociedadConyugal, benRolAfiliado, benBeneficiarioDetalle, benOmitirValidaciones, ultimaFechaModificacion
			from #Beneficiario1
			where benId in (select benId from #benIds)
				and actId = 1

			delete from dbo.Beneficiario
			output deleted.benId, deleted.benEstadoBeneficiarioAfiliado, deleted.benEstudianteTrabajoDesarrolloHumano, deleted.benFechaAfiliacion, deleted.benTipoBeneficiario, deleted.benGrupoFamiliar, deleted.benPersona, deleted.benAfiliado, deleted.benGradoAcademico, deleted.benMotivoDesafiliacion, deleted.benFechaRetiro, deleted.benFechaInicioSociedadConyugal, deleted.benFechaFinSociedadConyugal, deleted.benRolAfiliado, deleted.benBeneficiarioDetalle, deleted.benOmitirValidaciones
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Beneficiario_log
			where benId in (select benId from #Beneficiario1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla BeneficiarioDetalle

	
			declare @BeneficiarioDetalle1 table (bedId bigint   not null,bedSalarioMensual numeric (18,  0) null,bedLabora bit   null,bedPersonaDetalle bigint   not null,bedCertificadoEscolaridad bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select bedId, bedSalarioMensual, bedLabora, bedPersonaDetalle, bedCertificadoEscolaridad, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_BeneficiarioDetalle_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @BeneficiarioDetalle1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #BeneficiarioDetalle1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by bedId) then 1 else null end as act
				,row_number() over (partition by bedId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @BeneficiarioDetalle1)
			select *
			into #BeneficiarioDetalle1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update bed set bed.bedSalarioMensual = a.bedSalarioMensual, bed.bedLabora = a.bedLabora, bed.bedPersonaDetalle = a.bedPersonaDetalle, bed.bedCertificadoEscolaridad = a.bedCertificadoEscolaridad, bed.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.bedId, inserted.bedSalarioMensual, inserted.bedLabora, inserted.bedPersonaDetalle, inserted.bedCertificadoEscolaridad, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.BeneficiarioDetalle_log
			from #BeneficiarioDetalle1 as a
				inner join dbo.BeneficiarioDetalle as bed on a.bedId = bed.bedId
			where (a.ultimaFechaModificacion > bed.ultimaFechaModificacion or bed.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #BeneficiarioDetalle1)



			drop table if exists #bedIds
			create table #bedIds (bedId bigInt)
			insert #bedIds
			select bedId from #BeneficiarioDetalle1
			except 
			select bedId from dbo.BeneficiarioDetalle

			insert dbo.BeneficiarioDetalle (bedId, bedSalarioMensual, bedLabora, bedPersonaDetalle, bedCertificadoEscolaridad,ultimaFechaModificacion)
			output inserted.bedId, inserted.bedSalarioMensual, inserted.bedLabora, inserted.bedPersonaDetalle, inserted.bedCertificadoEscolaridad
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.BeneficiarioDetalle_log
			select bedId, bedSalarioMensual, bedLabora, bedPersonaDetalle, bedCertificadoEscolaridad, ultimaFechaModificacion
			from #BeneficiarioDetalle1
			where bedId in (select bedId from #bedIds)
				and actId = 1

			delete from dbo.BeneficiarioDetalle
			output deleted.bedId, deleted.bedSalarioMensual, deleted.bedLabora, deleted.bedPersonaDetalle, deleted.bedCertificadoEscolaridad
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.BeneficiarioDetalle_log
			where bedId in (select bedId from #BeneficiarioDetalle1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Persona

	
			declare @Persona1 table (perId bigint   not null,perDigitoVerificacion smallint   null,perNumeroIdentificacion varchar(16)   null,perRazonSocial varchar(250)   null,perTipoIdentificacion varchar(20)   null,perUbicacionPrincipal bigint   null,perPrimerNombre varchar(50)   null,perSegundoNombre varchar(50)   null,perPrimerApellido varchar(50)   null,perSegundoApellido varchar(50)   null,perCreadoPorPila bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select perId, perDigitoVerificacion, perNumeroIdentificacion, perRazonSocial, perTipoIdentificacion, perUbicacionPrincipal, perPrimerNombre, perSegundoNombre, perPrimerApellido, perSegundoApellido, perCreadoPorPila, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Persona_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Persona1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Persona1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by perId) then 1 else null end as act
				,row_number() over (partition by perId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Persona1)
			select *
			into #Persona1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update per set per.perDigitoVerificacion = a.perDigitoVerificacion, per.perNumeroIdentificacion = a.perNumeroIdentificacion, per.perRazonSocial = a.perRazonSocial, per.perTipoIdentificacion = a.perTipoIdentificacion, per.perUbicacionPrincipal = a.perUbicacionPrincipal, per.perPrimerNombre = a.perPrimerNombre, per.perSegundoNombre = a.perSegundoNombre, per.perPrimerApellido = a.perPrimerApellido, per.perSegundoApellido = a.perSegundoApellido, per.perCreadoPorPila = a.perCreadoPorPila, per.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.perId, inserted.perDigitoVerificacion, inserted.perNumeroIdentificacion, inserted.perRazonSocial, inserted.perTipoIdentificacion, inserted.perUbicacionPrincipal, inserted.perPrimerNombre, inserted.perSegundoNombre, inserted.perPrimerApellido, inserted.perSegundoApellido, inserted.perCreadoPorPila, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Persona_log
			from #Persona1 as a
				inner join dbo.Persona as per on a.perId = per.perId
			where (a.ultimaFechaModificacion > per.ultimaFechaModificacion or per.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Persona1)



			drop table if exists #perIds
			create table #perIds (perId bigInt)
			insert #perIds
			select perId from #Persona1
			except 
			select perId from dbo.Persona

			insert dbo.Persona (perId, perDigitoVerificacion, perNumeroIdentificacion, perRazonSocial, perTipoIdentificacion, perUbicacionPrincipal, perPrimerNombre, perSegundoNombre, perPrimerApellido, perSegundoApellido, perCreadoPorPila,ultimaFechaModificacion)
			output inserted.perId, inserted.perDigitoVerificacion, inserted.perNumeroIdentificacion, inserted.perRazonSocial, inserted.perTipoIdentificacion, inserted.perUbicacionPrincipal, inserted.perPrimerNombre, inserted.perSegundoNombre, inserted.perPrimerApellido, inserted.perSegundoApellido, inserted.perCreadoPorPila
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Persona_log
			select perId, perDigitoVerificacion, perNumeroIdentificacion, perRazonSocial, perTipoIdentificacion, perUbicacionPrincipal, perPrimerNombre, perSegundoNombre, perPrimerApellido, perSegundoApellido, perCreadoPorPila, ultimaFechaModificacion
			from #Persona1
			where perId in (select perId from #perIds)
				and actId = 1

			delete from dbo.Persona
			output deleted.perId, deleted.perDigitoVerificacion, deleted.perNumeroIdentificacion, deleted.perRazonSocial, deleted.perTipoIdentificacion, deleted.perUbicacionPrincipal, deleted.perPrimerNombre, deleted.perSegundoNombre, deleted.perPrimerApellido, deleted.perSegundoApellido, deleted.perCreadoPorPila
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Persona_log
			where perId in (select perId from #Persona1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla PersonaDetalle

	
			declare @PersonaDetalle1 table (pedId bigint   not null,pedPersona bigint   not null,pedFechaNacimiento date   null,pedFechaExpedicionDocumento date   null,pedGenero varchar(10)   null,pedOcupacionProfesion int   null,pedNivelEducativo varchar(100)   null,pedGradoAcademico smallint   null,pedCabezaHogar bit   null,pedAutorizaUsoDatosPersonales bit   null,pedResideSectorRural bit   null,pedEstadoCivil varchar(20)   null,pedHabitaCasaPropia bit   null,pedFallecido bit   null,pedFechaFallecido date   null,pedBeneficiarioSubsidio bit   null,pedEstudianteTrabajoDesarrolloHumano bit   null,pedFechaDefuncion date   null,pedPersonaPadre bigint   null,pedPersonaMadre bigint   null,pedOrientacionSexual varchar(30)   null,pedFactorVulnerabilidad varchar(60)   null,pedPertenenciaEtnica varchar(70)   null,pedPaisResidencia bigint   null,pedResguardo bigint   null,pedPuebloIndigena bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pedId, pedPersona, pedFechaNacimiento, pedFechaExpedicionDocumento, pedGenero, pedOcupacionProfesion, pedNivelEducativo, pedGradoAcademico, pedCabezaHogar, pedAutorizaUsoDatosPersonales, pedResideSectorRural, pedEstadoCivil, pedHabitaCasaPropia, pedFallecido, pedFechaFallecido, pedBeneficiarioSubsidio, pedEstudianteTrabajoDesarrolloHumano, pedFechaDefuncion, pedPersonaPadre, pedPersonaMadre, pedOrientacionSexual, pedFactorVulnerabilidad, pedPertenenciaEtnica, pedPaisResidencia, pedResguardo, pedPuebloIndigena, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PersonaDetalle_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PersonaDetalle1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #PersonaDetalle1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pedId) then 1 else null end as act
				,row_number() over (partition by pedId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PersonaDetalle1)
			select *
			into #PersonaDetalle1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ped set ped.pedPersona = a.pedPersona, ped.pedFechaNacimiento = a.pedFechaNacimiento, ped.pedFechaExpedicionDocumento = a.pedFechaExpedicionDocumento, ped.pedGenero = a.pedGenero, ped.pedOcupacionProfesion = a.pedOcupacionProfesion, ped.pedNivelEducativo = a.pedNivelEducativo, ped.pedGradoAcademico = a.pedGradoAcademico, ped.pedCabezaHogar = a.pedCabezaHogar, ped.pedAutorizaUsoDatosPersonales = a.pedAutorizaUsoDatosPersonales, ped.pedResideSectorRural = a.pedResideSectorRural, ped.pedEstadoCivil = a.pedEstadoCivil, ped.pedHabitaCasaPropia = a.pedHabitaCasaPropia, ped.pedFallecido = a.pedFallecido, ped.pedFechaFallecido = a.pedFechaFallecido, ped.pedBeneficiarioSubsidio = a.pedBeneficiarioSubsidio, ped.pedEstudianteTrabajoDesarrolloHumano = a.pedEstudianteTrabajoDesarrolloHumano, ped.pedFechaDefuncion = a.pedFechaDefuncion, ped.pedPersonaPadre = a.pedPersonaPadre, ped.pedPersonaMadre = a.pedPersonaMadre, ped.pedOrientacionSexual = a.pedOrientacionSexual, ped.pedFactorVulnerabilidad = a.pedFactorVulnerabilidad, ped.pedPertenenciaEtnica = a.pedPertenenciaEtnica, ped.pedPaisResidencia = a.pedPaisResidencia, ped.pedResguardo = a.pedResguardo, ped.pedPuebloIndigena = a.pedPuebloIndigena, ped.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pedId, inserted.pedPersona, inserted.pedFechaNacimiento, inserted.pedFechaExpedicionDocumento, inserted.pedGenero, inserted.pedOcupacionProfesion, inserted.pedNivelEducativo, inserted.pedGradoAcademico, inserted.pedCabezaHogar, inserted.pedAutorizaUsoDatosPersonales, inserted.pedResideSectorRural, inserted.pedEstadoCivil, inserted.pedHabitaCasaPropia, inserted.pedFallecido, inserted.pedFechaFallecido, inserted.pedBeneficiarioSubsidio, inserted.pedEstudianteTrabajoDesarrolloHumano, inserted.pedFechaDefuncion, inserted.pedPersonaPadre, inserted.pedPersonaMadre, inserted.pedOrientacionSexual, inserted.pedFactorVulnerabilidad, inserted.pedPertenenciaEtnica, inserted.pedPaisResidencia, inserted.pedResguardo, inserted.pedPuebloIndigena, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PersonaDetalle_log
			from #PersonaDetalle1 as a
				inner join dbo.PersonaDetalle as ped on a.pedId = ped.pedId
			where (a.ultimaFechaModificacion > ped.ultimaFechaModificacion or ped.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PersonaDetalle1)



			drop table if exists #pedIds
			create table #pedIds (pedId bigInt)
			insert #pedIds
			select pedId from #PersonaDetalle1
			except 
			select pedId from dbo.PersonaDetalle

			insert dbo.PersonaDetalle (pedId, pedPersona, pedFechaNacimiento, pedFechaExpedicionDocumento, pedGenero, pedOcupacionProfesion, pedNivelEducativo, pedGradoAcademico, pedCabezaHogar, pedAutorizaUsoDatosPersonales, pedResideSectorRural, pedEstadoCivil, pedHabitaCasaPropia, pedFallecido, pedFechaFallecido, pedBeneficiarioSubsidio, pedEstudianteTrabajoDesarrolloHumano, pedFechaDefuncion, pedPersonaPadre, pedPersonaMadre, pedOrientacionSexual, pedFactorVulnerabilidad, pedPertenenciaEtnica, pedPaisResidencia, pedResguardo, pedPuebloIndigena,ultimaFechaModificacion)
			output inserted.pedId, inserted.pedPersona, inserted.pedFechaNacimiento, inserted.pedFechaExpedicionDocumento, inserted.pedGenero, inserted.pedOcupacionProfesion, inserted.pedNivelEducativo, inserted.pedGradoAcademico, inserted.pedCabezaHogar, inserted.pedAutorizaUsoDatosPersonales, inserted.pedResideSectorRural, inserted.pedEstadoCivil, inserted.pedHabitaCasaPropia, inserted.pedFallecido, inserted.pedFechaFallecido, inserted.pedBeneficiarioSubsidio, inserted.pedEstudianteTrabajoDesarrolloHumano, inserted.pedFechaDefuncion, inserted.pedPersonaPadre, inserted.pedPersonaMadre, inserted.pedOrientacionSexual, inserted.pedFactorVulnerabilidad, inserted.pedPertenenciaEtnica, inserted.pedPaisResidencia, inserted.pedResguardo, inserted.pedPuebloIndigena
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PersonaDetalle_log
			select pedId, pedPersona, pedFechaNacimiento, pedFechaExpedicionDocumento, pedGenero, pedOcupacionProfesion, pedNivelEducativo, pedGradoAcademico, pedCabezaHogar, pedAutorizaUsoDatosPersonales, pedResideSectorRural, pedEstadoCivil, pedHabitaCasaPropia, pedFallecido, pedFechaFallecido, pedBeneficiarioSubsidio, pedEstudianteTrabajoDesarrolloHumano, pedFechaDefuncion, pedPersonaPadre, pedPersonaMadre, pedOrientacionSexual, pedFactorVulnerabilidad, pedPertenenciaEtnica, pedPaisResidencia, pedResguardo, pedPuebloIndigena, ultimaFechaModificacion
			from #PersonaDetalle1
			where pedId in (select pedId from #pedIds)
				and actId = 1

			delete from dbo.PersonaDetalle
			output deleted.pedId, deleted.pedPersona, deleted.pedFechaNacimiento, deleted.pedFechaExpedicionDocumento, deleted.pedGenero, deleted.pedOcupacionProfesion, deleted.pedNivelEducativo, deleted.pedGradoAcademico, deleted.pedCabezaHogar, deleted.pedAutorizaUsoDatosPersonales, deleted.pedResideSectorRural, deleted.pedEstadoCivil, deleted.pedHabitaCasaPropia, deleted.pedFallecido, deleted.pedFechaFallecido, deleted.pedBeneficiarioSubsidio, deleted.pedEstudianteTrabajoDesarrolloHumano, deleted.pedFechaDefuncion, deleted.pedPersonaPadre, deleted.pedPersonaMadre, deleted.pedOrientacionSexual, deleted.pedFactorVulnerabilidad, deleted.pedPertenenciaEtnica, deleted.pedPaisResidencia, deleted.pedResguardo, deleted.pedPuebloIndigena
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PersonaDetalle_log
			where pedId in (select pedId from #PersonaDetalle1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla RolAfiliado

	
			declare @RolAfiliado1 table (roaId bigint   not null,roaCargo varchar(200)   null,roaClaseIndependiente varchar(50)   null,roaClaseTrabajador varchar(25)   null,roaEstadoAfiliado varchar(8)   null,roaEstadoEnEntidadPagadora varchar(20)   null,roaFechaIngreso date   null,roaFechaRetiro datetime   null,roaHorasLaboradasMes smallint   null,roaIdentificadorAnteEntidadPagadora varchar(15)   null,roaPorcentajePagoAportes numeric (18,  0) null,roaTipoAfiliado varchar(30)   not null,roaTipoContrato varchar(20)   null,roaTipoSalario varchar(10)   null,roaValorSalarioMesadaIngresos numeric (18,  0) null,roaAfiliado bigint   not null,roaEmpleador bigint   null,roaPagadorAportes bigint   null,roaPagadorPension smallint   null,roaSucursalEmpleador bigint   null,roaFechaAfiliacion date   null,roaMotivoDesafiliacion varchar(50)   null,roaSustitucionPatronal bit   null,roaFechaFinPagadorAportes date   null,roaFechaFinPagadorPension date   null,roaEstadoEnEntidadPagadoraPension varchar(20)   null,roaDiaHabilVencimientoAporte smallint   null,roaMarcaExpulsion varchar(22)   null,roaEnviadoAFiscalizacion bit   null,roaMotivoFiscalizacion varchar(30)   null,roaFechaFiscalizacion date   null,roaOportunidadPago varchar(11)   null,roaCanalReingreso varchar(21)   null,roaReferenciaAporteReingreso bigint   null,roaReferenciaSolicitudReingreso bigint   null,roaFechaFinContrato date   null,roaMunicipioDesempenioLabores smallint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select roaId, roaCargo, roaClaseIndependiente, roaClaseTrabajador, roaEstadoAfiliado, roaEstadoEnEntidadPagadora, roaFechaIngreso, roaFechaRetiro, roaHorasLaboradasMes, roaIdentificadorAnteEntidadPagadora, roaPorcentajePagoAportes, roaTipoAfiliado, roaTipoContrato, roaTipoSalario, roaValorSalarioMesadaIngresos, roaAfiliado, roaEmpleador, roaPagadorAportes, roaPagadorPension, roaSucursalEmpleador, roaFechaAfiliacion, roaMotivoDesafiliacion, roaSustitucionPatronal, roaFechaFinPagadorAportes, roaFechaFinPagadorPension, roaEstadoEnEntidadPagadoraPension, roaDiaHabilVencimientoAporte, roaMarcaExpulsion, roaEnviadoAFiscalizacion, roaMotivoFiscalizacion, roaFechaFiscalizacion, roaOportunidadPago, roaCanalReingreso, roaReferenciaAporteReingreso, roaReferenciaSolicitudReingreso, roaFechaFinContrato, roaMunicipioDesempenioLabores, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_RolAfiliado_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @RolAfiliado1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #RolAfiliado1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by roaId) then 1 else null end as act
				,row_number() over (partition by roaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @RolAfiliado1)
			select *
			into #RolAfiliado1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update roa set roa.roaCargo = a.roaCargo, roa.roaClaseIndependiente = a.roaClaseIndependiente, roa.roaClaseTrabajador = a.roaClaseTrabajador, roa.roaEstadoAfiliado = a.roaEstadoAfiliado, roa.roaEstadoEnEntidadPagadora = a.roaEstadoEnEntidadPagadora, roa.roaFechaIngreso = a.roaFechaIngreso, roa.roaFechaRetiro = a.roaFechaRetiro, roa.roaHorasLaboradasMes = a.roaHorasLaboradasMes, roa.roaIdentificadorAnteEntidadPagadora = a.roaIdentificadorAnteEntidadPagadora, roa.roaPorcentajePagoAportes = a.roaPorcentajePagoAportes, roa.roaTipoAfiliado = a.roaTipoAfiliado, roa.roaTipoContrato = a.roaTipoContrato, roa.roaTipoSalario = a.roaTipoSalario, roa.roaValorSalarioMesadaIngresos = a.roaValorSalarioMesadaIngresos, roa.roaAfiliado = a.roaAfiliado, roa.roaEmpleador = a.roaEmpleador, roa.roaPagadorAportes = a.roaPagadorAportes, roa.roaPagadorPension = a.roaPagadorPension, roa.roaSucursalEmpleador = a.roaSucursalEmpleador, roa.roaFechaAfiliacion = a.roaFechaAfiliacion, roa.roaMotivoDesafiliacion = a.roaMotivoDesafiliacion, roa.roaSustitucionPatronal = a.roaSustitucionPatronal, roa.roaFechaFinPagadorAportes = a.roaFechaFinPagadorAportes, roa.roaFechaFinPagadorPension = a.roaFechaFinPagadorPension, roa.roaEstadoEnEntidadPagadoraPension = a.roaEstadoEnEntidadPagadoraPension, roa.roaDiaHabilVencimientoAporte = a.roaDiaHabilVencimientoAporte, roa.roaMarcaExpulsion = a.roaMarcaExpulsion, roa.roaEnviadoAFiscalizacion = a.roaEnviadoAFiscalizacion, roa.roaMotivoFiscalizacion = a.roaMotivoFiscalizacion, roa.roaFechaFiscalizacion = a.roaFechaFiscalizacion, roa.roaOportunidadPago = a.roaOportunidadPago, roa.roaCanalReingreso = a.roaCanalReingreso, roa.roaReferenciaAporteReingreso = a.roaReferenciaAporteReingreso, roa.roaReferenciaSolicitudReingreso = a.roaReferenciaSolicitudReingreso, roa.roaFechaFinContrato = a.roaFechaFinContrato, roa.roaMunicipioDesempenioLabores = a.roaMunicipioDesempenioLabores, roa.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.roaId, inserted.roaCargo, inserted.roaClaseIndependiente, inserted.roaClaseTrabajador, inserted.roaEstadoAfiliado, inserted.roaEstadoEnEntidadPagadora, inserted.roaFechaIngreso, inserted.roaFechaRetiro, inserted.roaHorasLaboradasMes, inserted.roaIdentificadorAnteEntidadPagadora, inserted.roaPorcentajePagoAportes, inserted.roaTipoAfiliado, inserted.roaTipoContrato, inserted.roaTipoSalario, inserted.roaValorSalarioMesadaIngresos, inserted.roaAfiliado, inserted.roaEmpleador, inserted.roaPagadorAportes, inserted.roaPagadorPension, inserted.roaSucursalEmpleador, inserted.roaFechaAfiliacion, inserted.roaMotivoDesafiliacion, inserted.roaSustitucionPatronal, inserted.roaFechaFinPagadorAportes, inserted.roaFechaFinPagadorPension, inserted.roaEstadoEnEntidadPagadoraPension, inserted.roaDiaHabilVencimientoAporte, inserted.roaMarcaExpulsion, inserted.roaEnviadoAFiscalizacion, inserted.roaMotivoFiscalizacion, inserted.roaFechaFiscalizacion, inserted.roaOportunidadPago, inserted.roaCanalReingreso, inserted.roaReferenciaAporteReingreso, inserted.roaReferenciaSolicitudReingreso, inserted.roaFechaFinContrato, inserted.roaMunicipioDesempenioLabores, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.RolAfiliado_log
			from #RolAfiliado1 as a
				inner join dbo.RolAfiliado as roa on a.roaId = roa.roaId
			where (a.ultimaFechaModificacion > roa.ultimaFechaModificacion or roa.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #RolAfiliado1)



			drop table if exists #roaIds
			create table #roaIds (roaId bigInt)
			insert #roaIds
			select roaId from #RolAfiliado1
			except 
			select roaId from dbo.RolAfiliado

			insert dbo.RolAfiliado (roaId, roaCargo, roaClaseIndependiente, roaClaseTrabajador, roaEstadoAfiliado, roaEstadoEnEntidadPagadora, roaFechaIngreso, roaFechaRetiro, roaHorasLaboradasMes, roaIdentificadorAnteEntidadPagadora, roaPorcentajePagoAportes, roaTipoAfiliado, roaTipoContrato, roaTipoSalario, roaValorSalarioMesadaIngresos, roaAfiliado, roaEmpleador, roaPagadorAportes, roaPagadorPension, roaSucursalEmpleador, roaFechaAfiliacion, roaMotivoDesafiliacion, roaSustitucionPatronal, roaFechaFinPagadorAportes, roaFechaFinPagadorPension, roaEstadoEnEntidadPagadoraPension, roaDiaHabilVencimientoAporte, roaMarcaExpulsion, roaEnviadoAFiscalizacion, roaMotivoFiscalizacion, roaFechaFiscalizacion, roaOportunidadPago, roaCanalReingreso, roaReferenciaAporteReingreso, roaReferenciaSolicitudReingreso, roaFechaFinContrato, roaMunicipioDesempenioLabores,ultimaFechaModificacion)
			output inserted.roaId, inserted.roaCargo, inserted.roaClaseIndependiente, inserted.roaClaseTrabajador, inserted.roaEstadoAfiliado, inserted.roaEstadoEnEntidadPagadora, inserted.roaFechaIngreso, inserted.roaFechaRetiro, inserted.roaHorasLaboradasMes, inserted.roaIdentificadorAnteEntidadPagadora, inserted.roaPorcentajePagoAportes, inserted.roaTipoAfiliado, inserted.roaTipoContrato, inserted.roaTipoSalario, inserted.roaValorSalarioMesadaIngresos, inserted.roaAfiliado, inserted.roaEmpleador, inserted.roaPagadorAportes, inserted.roaPagadorPension, inserted.roaSucursalEmpleador, inserted.roaFechaAfiliacion, inserted.roaMotivoDesafiliacion, inserted.roaSustitucionPatronal, inserted.roaFechaFinPagadorAportes, inserted.roaFechaFinPagadorPension, inserted.roaEstadoEnEntidadPagadoraPension, inserted.roaDiaHabilVencimientoAporte, inserted.roaMarcaExpulsion, inserted.roaEnviadoAFiscalizacion, inserted.roaMotivoFiscalizacion, inserted.roaFechaFiscalizacion, inserted.roaOportunidadPago, inserted.roaCanalReingreso, inserted.roaReferenciaAporteReingreso, inserted.roaReferenciaSolicitudReingreso, inserted.roaFechaFinContrato, inserted.roaMunicipioDesempenioLabores
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.RolAfiliado_log
			select roaId, roaCargo, roaClaseIndependiente, roaClaseTrabajador, roaEstadoAfiliado, roaEstadoEnEntidadPagadora, roaFechaIngreso, roaFechaRetiro, roaHorasLaboradasMes, roaIdentificadorAnteEntidadPagadora, roaPorcentajePagoAportes, roaTipoAfiliado, roaTipoContrato, roaTipoSalario, roaValorSalarioMesadaIngresos, roaAfiliado, roaEmpleador, roaPagadorAportes, roaPagadorPension, roaSucursalEmpleador, roaFechaAfiliacion, roaMotivoDesafiliacion, roaSustitucionPatronal, roaFechaFinPagadorAportes, roaFechaFinPagadorPension, roaEstadoEnEntidadPagadoraPension, roaDiaHabilVencimientoAporte, roaMarcaExpulsion, roaEnviadoAFiscalizacion, roaMotivoFiscalizacion, roaFechaFiscalizacion, roaOportunidadPago, roaCanalReingreso, roaReferenciaAporteReingreso, roaReferenciaSolicitudReingreso, roaFechaFinContrato, roaMunicipioDesempenioLabores, ultimaFechaModificacion
			from #RolAfiliado1
			where roaId in (select roaId from #roaIds)
				and actId = 1

			delete from dbo.RolAfiliado
			output deleted.roaId, deleted.roaCargo, deleted.roaClaseIndependiente, deleted.roaClaseTrabajador, deleted.roaEstadoAfiliado, deleted.roaEstadoEnEntidadPagadora, deleted.roaFechaIngreso, deleted.roaFechaRetiro, deleted.roaHorasLaboradasMes, deleted.roaIdentificadorAnteEntidadPagadora, deleted.roaPorcentajePagoAportes, deleted.roaTipoAfiliado, deleted.roaTipoContrato, deleted.roaTipoSalario, deleted.roaValorSalarioMesadaIngresos, deleted.roaAfiliado, deleted.roaEmpleador, deleted.roaPagadorAportes, deleted.roaPagadorPension, deleted.roaSucursalEmpleador, deleted.roaFechaAfiliacion, deleted.roaMotivoDesafiliacion, deleted.roaSustitucionPatronal, deleted.roaFechaFinPagadorAportes, deleted.roaFechaFinPagadorPension, deleted.roaEstadoEnEntidadPagadoraPension, deleted.roaDiaHabilVencimientoAporte, deleted.roaMarcaExpulsion, deleted.roaEnviadoAFiscalizacion, deleted.roaMotivoFiscalizacion, deleted.roaFechaFiscalizacion, deleted.roaOportunidadPago, deleted.roaCanalReingreso, deleted.roaReferenciaAporteReingreso, deleted.roaReferenciaSolicitudReingreso, deleted.roaFechaFinContrato, deleted.roaMunicipioDesempenioLabores
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.RolAfiliado_log
			where roaId in (select roaId from #RolAfiliado1 where operacion = 1 and actId = 1)