	CREATE or alter procedure [dbo].[OP_CondicionInvalidez_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla CondicionInvalidez

	
			declare @CondicionInvalidez1 table (coiId bigint   not null,coiPersona bigint   not null,coiInvalidez bit   null,coiFechaReporteInvalidez date   null,coiComentarioInvalidez varchar(500)   null,coiFechaInicioInvalidez date   null, coiFechaInicioconyugeCuidador date   null,coiFechaFinconyugeCuidador date   null,coiIdConyugeCuidador bigint   null, ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select coiId, coiPersona, coiInvalidez, coiFechaReporteInvalidez, coiComentarioInvalidez, coiFechaInicioInvalidez, coiFechaInicioconyugeCuidador, coiFechaFinconyugeCuidador, coiIdConyugeCuidador, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CondicionInvalidez_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CondicionInvalidez1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CondicionInvalidez1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by coiId) then 1 else null end as act
				,row_number() over (partition by coiId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CondicionInvalidez1)
			select *
			into #CondicionInvalidez1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update coi set coi.coiPersona = a.coiPersona, coi.coiInvalidez = a.coiInvalidez, coi.coiFechaReporteInvalidez = a.coiFechaReporteInvalidez, coi.coiComentarioInvalidez = a.coiComentarioInvalidez, coi.coiFechaInicioInvalidez = a.coiFechaInicioInvalidez, coi.coiFechaInicioconyugeCuidador = a.coiFechaInicioconyugeCuidador, coi.coiFechaFinconyugeCuidador = a.coiFechaFinconyugeCuidador, coi.coiIdConyugeCuidador = a.coiIdConyugeCuidador, coi.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.coiId, inserted.coiPersona, inserted.coiInvalidez, inserted.coiFechaReporteInvalidez, inserted.coiComentarioInvalidez, inserted.coiFechaInicioInvalidez, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CondicionInvalidez_log
			from #CondicionInvalidez1 as a
				inner join dbo.CondicionInvalidez as coi on a.coiId = coi.coiId
			where (a.ultimaFechaModificacion > coi.ultimaFechaModificacion or coi.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CondicionInvalidez1)



			drop table if exists #coiIds
			create table #coiIds (coiId bigInt)
			insert #coiIds
			select coiId from #CondicionInvalidez1
			except 
			select coiId from dbo.CondicionInvalidez

			insert dbo.CondicionInvalidez (coiId, coiPersona, coiInvalidez, coiFechaReporteInvalidez, coiComentarioInvalidez, coiFechaInicioInvalidez, coiFechaInicioconyugeCuidador, coiFechaFinconyugeCuidador, coiIdConyugeCuidador,ultimaFechaModificacion)
			output inserted.coiId, inserted.coiPersona, inserted.coiInvalidez, inserted.coiFechaReporteInvalidez, inserted.coiComentarioInvalidez, inserted.coiFechaInicioInvalidez, 
			inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CondicionInvalidez_log
			select coiId, coiPersona, coiInvalidez, coiFechaReporteInvalidez, coiComentarioInvalidez, coiFechaInicioInvalidez, coiFechaInicioconyugeCuidador, coiFechaFinconyugeCuidador, coiIdConyugeCuidador, ultimaFechaModificacion
			from #CondicionInvalidez1
			where coiId in (select coiId from #coiIds)
				and actId = 1
				

			delete from dbo.CondicionInvalidez
			output deleted.coiId, deleted.coiPersona, deleted.coiInvalidez, deleted.coiFechaReporteInvalidez, deleted.coiComentarioInvalidez, deleted.coiFechaInicioInvalidez  
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CondicionInvalidez_log
			where coiId in (select coiId from #CondicionInvalidez1 where operacion = 1 and actId = 1)