	CREATE or alter procedure [dbo].[OP_AporteGeneral_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla AporteGeneral

	
			declare @AporteGeneral1 table (apgId bigint   not null,apgPeriodoAporte varchar(7)   null,apgValTotalApoObligatorio numeric (19,  5) null,apgValorIntMora numeric (19,  5) null,apgFechaRecaudo date   null,apgFechaProcesamiento datetime   null,apgCodEntidadFinanciera smallint   null,apgOperadorInformacion bigint   null,apgModalidadPlanilla varchar(40)   null,apgModalidadRecaudoAporte varchar(40)   null,apgApoConDetalle bit   null,apgNumeroCuenta varchar(17)   null,apgRegistroGeneral bigint   not null,apgPersona bigint   null,apgEmpresa bigint   null,apgSucursalEmpresa bigint   null,apgEstadoAportante varchar(50)   null,apgEstadoAporteAportante varchar(40)   null,apgEstadoRegistroAporteAportante varchar(30)   null,apgPagadorPorTerceros bit   null,apgTipoSolicitante varchar(13)   null,apgOrigenAporte varchar(60)   null,apgCajaCompensacion int   null,apgEmailAportante varchar(255)   null,apgEmpresaTramitadoraAporte bigint   null,apgFechaReconocimiento datetime   null,apgFormaReconocimientoAporte varchar(75)   null,apgMarcaPeriodo varchar(19)   null,apgMarcaActualizacionCartera bit   null,apgConciliado bit   null,apgNumeroPlanillaManual varchar(15)   null,apgEnProcesoReconocimiento bit   null,apgRegistroGeneralUltimo bigint   null,apgCuentaBancariaRecaudo int   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select apgId, apgPeriodoAporte, apgValTotalApoObligatorio, apgValorIntMora, apgFechaRecaudo, apgFechaProcesamiento, apgCodEntidadFinanciera, apgOperadorInformacion, apgModalidadPlanilla, apgModalidadRecaudoAporte, apgApoConDetalle, apgNumeroCuenta, apgRegistroGeneral, apgPersona, apgEmpresa, apgSucursalEmpresa, apgEstadoAportante, apgEstadoAporteAportante, apgEstadoRegistroAporteAportante, apgPagadorPorTerceros, apgTipoSolicitante, apgOrigenAporte, apgCajaCompensacion, apgEmailAportante, apgEmpresaTramitadoraAporte, apgFechaReconocimiento, apgFormaReconocimientoAporte, apgMarcaPeriodo, apgMarcaActualizacionCartera, apgConciliado, apgNumeroPlanillaManual, apgEnProcesoReconocimiento, apgRegistroGeneralUltimo, apgCuentaBancariaRecaudo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_AporteGeneral_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @AporteGeneral1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #AporteGeneral1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by apgId) then 1 else null end as act
				,row_number() over (partition by apgId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @AporteGeneral1)
			select *
			into #AporteGeneral1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update apg set apg.apgPeriodoAporte = a.apgPeriodoAporte, apg.apgValTotalApoObligatorio = a.apgValTotalApoObligatorio, apg.apgValorIntMora = a.apgValorIntMora, apg.apgFechaRecaudo = a.apgFechaRecaudo, apg.apgFechaProcesamiento = a.apgFechaProcesamiento, apg.apgCodEntidadFinanciera = a.apgCodEntidadFinanciera, apg.apgOperadorInformacion = a.apgOperadorInformacion, apg.apgModalidadPlanilla = a.apgModalidadPlanilla, apg.apgModalidadRecaudoAporte = a.apgModalidadRecaudoAporte, apg.apgApoConDetalle = a.apgApoConDetalle, apg.apgNumeroCuenta = a.apgNumeroCuenta, apg.apgRegistroGeneral = a.apgRegistroGeneral, apg.apgPersona = a.apgPersona, apg.apgEmpresa = a.apgEmpresa, apg.apgSucursalEmpresa = a.apgSucursalEmpresa, apg.apgEstadoAportante = a.apgEstadoAportante, apg.apgEstadoAporteAportante = a.apgEstadoAporteAportante, apg.apgEstadoRegistroAporteAportante = a.apgEstadoRegistroAporteAportante, apg.apgPagadorPorTerceros = a.apgPagadorPorTerceros, apg.apgTipoSolicitante = a.apgTipoSolicitante, apg.apgOrigenAporte = a.apgOrigenAporte, apg.apgCajaCompensacion = a.apgCajaCompensacion, apg.apgEmailAportante = a.apgEmailAportante, apg.apgEmpresaTramitadoraAporte = a.apgEmpresaTramitadoraAporte, apg.apgFechaReconocimiento = a.apgFechaReconocimiento, apg.apgFormaReconocimientoAporte = a.apgFormaReconocimientoAporte, apg.apgMarcaPeriodo = a.apgMarcaPeriodo, apg.apgMarcaActualizacionCartera = a.apgMarcaActualizacionCartera, apg.apgConciliado = a.apgConciliado, apg.apgNumeroPlanillaManual = a.apgNumeroPlanillaManual, apg.apgEnProcesoReconocimiento = a.apgEnProcesoReconocimiento, apg.apgRegistroGeneralUltimo = a.apgRegistroGeneralUltimo, apg.apgCuentaBancariaRecaudo = a.apgCuentaBancariaRecaudo, apg.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.apgId, inserted.apgPeriodoAporte, inserted.apgValTotalApoObligatorio, inserted.apgValorIntMora, inserted.apgFechaRecaudo, inserted.apgFechaProcesamiento, inserted.apgCodEntidadFinanciera, inserted.apgOperadorInformacion, inserted.apgModalidadPlanilla, inserted.apgModalidadRecaudoAporte, inserted.apgApoConDetalle, inserted.apgNumeroCuenta, inserted.apgRegistroGeneral, inserted.apgPersona, inserted.apgEmpresa, inserted.apgSucursalEmpresa, inserted.apgEstadoAportante, inserted.apgEstadoAporteAportante, inserted.apgEstadoRegistroAporteAportante, inserted.apgPagadorPorTerceros, inserted.apgTipoSolicitante, inserted.apgOrigenAporte, inserted.apgCajaCompensacion, inserted.apgEmailAportante, inserted.apgEmpresaTramitadoraAporte, inserted.apgFechaReconocimiento, inserted.apgFormaReconocimientoAporte, inserted.apgMarcaPeriodo, inserted.apgMarcaActualizacionCartera, inserted.apgConciliado, inserted.apgNumeroPlanillaManual, inserted.apgEnProcesoReconocimiento, inserted.apgRegistroGeneralUltimo, inserted.apgCuentaBancariaRecaudo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.AporteGeneral_log
			from #AporteGeneral1 as a
				inner join dbo.AporteGeneral2 as apg on a.apgId = apg.apgId
			where (a.ultimaFechaModificacion > apg.ultimaFechaModificacion or apg.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #AporteGeneral1)



			drop table if exists #apgIds
			create table #apgIds (apgId bigInt)
			insert #apgIds
			select apgId from #AporteGeneral1
			except 
			select apgId from dbo.AporteGeneral2

			insert dbo.AporteGeneral2 (apgId, apgPeriodoAporte, apgValTotalApoObligatorio, apgValorIntMora, apgFechaRecaudo, apgFechaProcesamiento, apgCodEntidadFinanciera, apgOperadorInformacion, apgModalidadPlanilla, apgModalidadRecaudoAporte, apgApoConDetalle, apgNumeroCuenta, apgRegistroGeneral, apgPersona, apgEmpresa, apgSucursalEmpresa, apgEstadoAportante, apgEstadoAporteAportante, apgEstadoRegistroAporteAportante, apgPagadorPorTerceros, apgTipoSolicitante, apgOrigenAporte, apgCajaCompensacion, apgEmailAportante, apgEmpresaTramitadoraAporte, apgFechaReconocimiento, apgFormaReconocimientoAporte, apgMarcaPeriodo, apgMarcaActualizacionCartera, apgConciliado, apgNumeroPlanillaManual, apgEnProcesoReconocimiento, apgRegistroGeneralUltimo, apgCuentaBancariaRecaudo,ultimaFechaModificacion)
			output inserted.apgId, inserted.apgPeriodoAporte, inserted.apgValTotalApoObligatorio, inserted.apgValorIntMora, inserted.apgFechaRecaudo, inserted.apgFechaProcesamiento, inserted.apgCodEntidadFinanciera, inserted.apgOperadorInformacion, inserted.apgModalidadPlanilla, inserted.apgModalidadRecaudoAporte, inserted.apgApoConDetalle, inserted.apgNumeroCuenta, inserted.apgRegistroGeneral, inserted.apgPersona, inserted.apgEmpresa, inserted.apgSucursalEmpresa, inserted.apgEstadoAportante, inserted.apgEstadoAporteAportante, inserted.apgEstadoRegistroAporteAportante, inserted.apgPagadorPorTerceros, inserted.apgTipoSolicitante, inserted.apgOrigenAporte, inserted.apgCajaCompensacion, inserted.apgEmailAportante, inserted.apgEmpresaTramitadoraAporte, inserted.apgFechaReconocimiento, inserted.apgFormaReconocimientoAporte, inserted.apgMarcaPeriodo, inserted.apgMarcaActualizacionCartera, inserted.apgConciliado, inserted.apgNumeroPlanillaManual, inserted.apgEnProcesoReconocimiento, inserted.apgRegistroGeneralUltimo, inserted.apgCuentaBancariaRecaudo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.AporteGeneral_log
			select apgId, apgPeriodoAporte, apgValTotalApoObligatorio, apgValorIntMora, apgFechaRecaudo, apgFechaProcesamiento, apgCodEntidadFinanciera, apgOperadorInformacion, apgModalidadPlanilla, apgModalidadRecaudoAporte, apgApoConDetalle, apgNumeroCuenta, apgRegistroGeneral, apgPersona, apgEmpresa, apgSucursalEmpresa, apgEstadoAportante, apgEstadoAporteAportante, apgEstadoRegistroAporteAportante, apgPagadorPorTerceros, apgTipoSolicitante, apgOrigenAporte, apgCajaCompensacion, apgEmailAportante, apgEmpresaTramitadoraAporte, apgFechaReconocimiento, apgFormaReconocimientoAporte, apgMarcaPeriodo, apgMarcaActualizacionCartera, apgConciliado, apgNumeroPlanillaManual, apgEnProcesoReconocimiento, apgRegistroGeneralUltimo, apgCuentaBancariaRecaudo, ultimaFechaModificacion
			from #AporteGeneral1
			where apgId in (select apgId from #apgIds)
				and actId = 1

			delete from dbo.AporteGeneral2
			output deleted.apgId, deleted.apgPeriodoAporte, deleted.apgValTotalApoObligatorio, deleted.apgValorIntMora, deleted.apgFechaRecaudo, deleted.apgFechaProcesamiento, deleted.apgCodEntidadFinanciera, deleted.apgOperadorInformacion, deleted.apgModalidadPlanilla, deleted.apgModalidadRecaudoAporte, deleted.apgApoConDetalle, deleted.apgNumeroCuenta, deleted.apgRegistroGeneral, deleted.apgPersona, deleted.apgEmpresa, deleted.apgSucursalEmpresa, deleted.apgEstadoAportante, deleted.apgEstadoAporteAportante, deleted.apgEstadoRegistroAporteAportante, deleted.apgPagadorPorTerceros, deleted.apgTipoSolicitante, deleted.apgOrigenAporte, deleted.apgCajaCompensacion, deleted.apgEmailAportante, deleted.apgEmpresaTramitadoraAporte, deleted.apgFechaReconocimiento, deleted.apgFormaReconocimientoAporte, deleted.apgMarcaPeriodo, deleted.apgMarcaActualizacionCartera, deleted.apgConciliado, deleted.apgNumeroPlanillaManual, deleted.apgEnProcesoReconocimiento, deleted.apgRegistroGeneralUltimo, deleted.apgCuentaBancariaRecaudo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.AporteGeneral_log
			where apgId in (select apgId from #AporteGeneral1 where operacion = 1 and actId = 1)