	CREATE or alter procedure [dbo].[OP_DescuentosSubsidioAsignado_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla DescuentosSubsidioAsignado

	
			declare @DescuentosSubsidioAsignado1 table (desId bigint   not null,desDetalleSubsidioAsignado bigint   not null,desEntidadDescuento bigint   not null,desMontoDescontado numeric (19,  5) null,desNombreEntidadDescuento varchar(250)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select desId, desDetalleSubsidioAsignado, desEntidadDescuento, desMontoDescontado, desNombreEntidadDescuento, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_DescuentosSubsidioAsignado_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @DescuentosSubsidioAsignado1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #DescuentosSubsidioAsignado1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by desId) then 1 else null end as act
				,row_number() over (partition by desId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @DescuentosSubsidioAsignado1)
			select *
			into #DescuentosSubsidioAsignado1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update des set des.desDetalleSubsidioAsignado = a.desDetalleSubsidioAsignado, des.desEntidadDescuento = a.desEntidadDescuento, des.desMontoDescontado = a.desMontoDescontado, des.desNombreEntidadDescuento = a.desNombreEntidadDescuento, des.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.desId, inserted.desDetalleSubsidioAsignado, inserted.desEntidadDescuento, inserted.desMontoDescontado, inserted.desNombreEntidadDescuento, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.DescuentosSubsidioAsignado_log
			from #DescuentosSubsidioAsignado1 as a
				inner join dbo.DescuentosSubsidioAsignado as des on a.desId = des.desId
			where (a.ultimaFechaModificacion > des.ultimaFechaModificacion or des.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #DescuentosSubsidioAsignado1)



			drop table if exists #desIds
			create table #desIds (desId bigInt)
			insert #desIds
			select desId from #DescuentosSubsidioAsignado1
			except 
			select desId from dbo.DescuentosSubsidioAsignado

			insert dbo.DescuentosSubsidioAsignado (desId, desDetalleSubsidioAsignado, desEntidadDescuento, desMontoDescontado, desNombreEntidadDescuento,ultimaFechaModificacion)
			output inserted.desId, inserted.desDetalleSubsidioAsignado, inserted.desEntidadDescuento, inserted.desMontoDescontado, inserted.desNombreEntidadDescuento
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.DescuentosSubsidioAsignado_log
			select desId, desDetalleSubsidioAsignado, desEntidadDescuento, desMontoDescontado, desNombreEntidadDescuento, ultimaFechaModificacion
			from #DescuentosSubsidioAsignado1
			where desId in (select desId from #desIds)
				and actId = 1

			delete from dbo.DescuentosSubsidioAsignado
			output deleted.desId, deleted.desDetalleSubsidioAsignado, deleted.desEntidadDescuento, deleted.desMontoDescontado, deleted.desNombreEntidadDescuento
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.DescuentosSubsidioAsignado_log
			where desId in (select desId from #DescuentosSubsidioAsignado1 where operacion = 1 and actId = 1)