	CREATE  or alter procedure [dbo].[OP_MedioPagoPersona_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla MedioPagoPersona

	
			declare @MedioPagoPersona1 table (mppId bigint   not null,mppMedioPago bigint   not null,mppPersona bigint   not null,mppMedioActivo bit   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select mppId, mppMedioPago, mppPersona, mppMedioActivo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_MedioPagoPersona_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @MedioPagoPersona1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #MedioPagoPersona1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by mppId) then 1 else null end as act
				,row_number() over (partition by mppId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @MedioPagoPersona1)
			select *
			into #MedioPagoPersona1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update mpp set mpp.mppMedioPago = a.mppMedioPago, mpp.mppPersona = a.mppPersona, mpp.mppMedioActivo = a.mppMedioActivo, mpp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.mppId, inserted.mppMedioPago, inserted.mppPersona, inserted.mppMedioActivo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.MedioPagoPersona_log
			from #MedioPagoPersona1 as a
				inner join dbo.MedioPagoPersona as mpp on a.mppId = mpp.mppId
			where (a.ultimaFechaModificacion > mpp.ultimaFechaModificacion or mpp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #MedioPagoPersona1)



			drop table if exists #mppIds
			create table #mppIds (mppId bigInt)
			insert #mppIds
			select mppId from #MedioPagoPersona1
			except 
			select mppId from dbo.MedioPagoPersona

			insert dbo.MedioPagoPersona (mppId, mppMedioPago, mppPersona, mppMedioActivo,ultimaFechaModificacion)
			output inserted.mppId, inserted.mppMedioPago, inserted.mppPersona, inserted.mppMedioActivo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.MedioPagoPersona_log
			select mppId, mppMedioPago, mppPersona, mppMedioActivo, ultimaFechaModificacion
			from #MedioPagoPersona1
			where mppId in (select mppId from #mppIds)
				and actId = 1

			delete from dbo.MedioPagoPersona
			output deleted.mppId, deleted.mppMedioPago, deleted.mppPersona, deleted.mppMedioActivo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.MedioPagoPersona_log
			where mppId in (select mppId from #MedioPagoPersona1 where operacion = 1 and actId = 1)