	CREATE or alter procedure [dbo].[OP_EstadoAfiliacionPersonaCaja_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla EstadoAfiliacionPersonaCaja

	
			declare @EstadoAfiliacionPersonaCaja1 table (eacId bigint   not null,eacPersona bigint   not null,eacEstadoAfiliacion varchar(50)   null,eacFechaCambioEstado datetime   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select eacId, eacPersona, eacEstadoAfiliacion, eacFechaCambioEstado, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_EstadoAfiliacionPersonaCaja_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @EstadoAfiliacionPersonaCaja1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #EstadoAfiliacionPersonaCaja1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by eacId) then 1 else null end as act
				,row_number() over (partition by eacId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @EstadoAfiliacionPersonaCaja1)
			select *
			into #EstadoAfiliacionPersonaCaja1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update eac set eac.eacPersona = a.eacPersona, eac.eacEstadoAfiliacion = a.eacEstadoAfiliacion, eac.eacFechaCambioEstado = a.eacFechaCambioEstado, eac.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.eacId, inserted.eacPersona, inserted.eacEstadoAfiliacion, inserted.eacFechaCambioEstado, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.EstadoAfiliacionPersonaCaja_log
			from #EstadoAfiliacionPersonaCaja1 as a
				inner join dbo.EstadoAfiliacionPersonaCaja as eac on a.eacId = eac.eacId
			where (a.ultimaFechaModificacion > eac.ultimaFechaModificacion or eac.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #EstadoAfiliacionPersonaCaja1)



			drop table if exists #eacIds
			create table #eacIds (eacId bigInt)
			insert #eacIds
			select eacId from #EstadoAfiliacionPersonaCaja1
			except 
			select eacId from dbo.EstadoAfiliacionPersonaCaja

			insert dbo.EstadoAfiliacionPersonaCaja (eacId, eacPersona, eacEstadoAfiliacion, eacFechaCambioEstado,ultimaFechaModificacion)
			output inserted.eacId, inserted.eacPersona, inserted.eacEstadoAfiliacion, inserted.eacFechaCambioEstado
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.EstadoAfiliacionPersonaCaja_log
			select eacId, eacPersona, eacEstadoAfiliacion, eacFechaCambioEstado, ultimaFechaModificacion
			from #EstadoAfiliacionPersonaCaja1
			where eacId in (select eacId from #eacIds)
				and actId = 1

			delete from dbo.EstadoAfiliacionPersonaCaja
			output deleted.eacId, deleted.eacPersona, deleted.eacEstadoAfiliacion, deleted.eacFechaCambioEstado
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.EstadoAfiliacionPersonaCaja_log
			where eacId in (select eacId from #EstadoAfiliacionPersonaCaja1 where operacion = 1 and actId = 1)