	CREATE or alter procedure [dbo].[OP_PilaErrorValidacionLog_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla PilaErrorValidacionLog

	
			declare @PilaErrorValidacionLog1 table (pevId bigint   not null,pevTipoArchivo varchar(20)   null,pevTipoError varchar(20)   null,pevNumeroLinea smallint   null,pevBloqueValidacion varchar(30)   null,pevNombreCampo varchar(200)   null,pevPosicionInicial smallint   null,pevPosicionFinal smallint   null,pevValorCampo varchar(200)   null,pevCodigoError varchar(10)   null,pevMensajeError varchar(4000)   null,pevEstadoInconsistencia varchar(30)   null,pevIndicePlanilla bigint   null,pevIndicePlanillaOF bigint   null,pevIdRegistroTipo2 bigint   null,pevDateTimeInsert datetime   null,pevDateTimeUpdate datetime   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pevId, pevTipoArchivo, pevTipoError, pevNumeroLinea, pevBloqueValidacion, pevNombreCampo, pevPosicionInicial, pevPosicionFinal, pevValorCampo, pevCodigoError, pevMensajeError, pevEstadoInconsistencia, pevIndicePlanilla, pevIndicePlanillaOF, pevIdRegistroTipo2, pevDateTimeInsert, pevDateTimeUpdate, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PilaErrorValidacionLog_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PilaErrorValidacionLog1
			execute sp_execute_remote pilaReferenceData, @query
	
			drop table if exists #PilaErrorValidacionLog1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pevId) then 1 else null end as act
				,row_number() over (partition by pevId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PilaErrorValidacionLog1)
			select *
			into #PilaErrorValidacionLog1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pev set pev.pevTipoArchivo = a.pevTipoArchivo, pev.pevTipoError = a.pevTipoError, pev.pevNumeroLinea = a.pevNumeroLinea, pev.pevBloqueValidacion = a.pevBloqueValidacion, pev.pevNombreCampo = a.pevNombreCampo, pev.pevPosicionInicial = a.pevPosicionInicial, pev.pevPosicionFinal = a.pevPosicionFinal, pev.pevValorCampo = a.pevValorCampo, pev.pevCodigoError = a.pevCodigoError, pev.pevMensajeError = a.pevMensajeError, pev.pevEstadoInconsistencia = a.pevEstadoInconsistencia, pev.pevIndicePlanilla = a.pevIndicePlanilla, pev.pevIndicePlanillaOF = a.pevIndicePlanillaOF, pev.pevIdRegistroTipo2 = a.pevIdRegistroTipo2, pev.pevDateTimeInsert = a.pevDateTimeInsert, pev.pevDateTimeUpdate = a.pevDateTimeUpdate, pev.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pevId, inserted.pevTipoArchivo, inserted.pevTipoError, inserted.pevNumeroLinea, inserted.pevBloqueValidacion, inserted.pevNombreCampo, inserted.pevPosicionInicial, inserted.pevPosicionFinal, inserted.pevValorCampo, inserted.pevCodigoError, inserted.pevMensajeError, inserted.pevEstadoInconsistencia, inserted.pevIndicePlanilla, inserted.pevIndicePlanillaOF, inserted.pevIdRegistroTipo2, inserted.pevDateTimeInsert, inserted.pevDateTimeUpdate, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PilaErrorValidacionLog_log
			from #PilaErrorValidacionLog1 as a
				inner join dbo.PilaErrorValidacionLog as pev on a.pevId = pev.pevId
			where (a.ultimaFechaModificacion > pev.ultimaFechaModificacion or pev.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PilaErrorValidacionLog1)

			drop table if exists #pevIds
			create table #pevIds (pevId bigInt)
			insert #pevIds
			select pevId from #PilaErrorValidacionLog1
			except 
			select pevId from dbo.PilaErrorValidacionLog

			insert dbo.PilaErrorValidacionLog (pevId, pevTipoArchivo, pevTipoError, pevNumeroLinea, pevBloqueValidacion, pevNombreCampo, pevPosicionInicial, pevPosicionFinal, pevValorCampo, pevCodigoError, pevMensajeError, pevEstadoInconsistencia, pevIndicePlanilla, pevIndicePlanillaOF, pevIdRegistroTipo2, pevDateTimeInsert, pevDateTimeUpdate,ultimaFechaModificacion)
			output inserted.pevId, inserted.pevTipoArchivo, inserted.pevTipoError, inserted.pevNumeroLinea, inserted.pevBloqueValidacion, inserted.pevNombreCampo, inserted.pevPosicionInicial, inserted.pevPosicionFinal, inserted.pevValorCampo, inserted.pevCodigoError, inserted.pevMensajeError, inserted.pevEstadoInconsistencia, inserted.pevIndicePlanilla, inserted.pevIndicePlanillaOF, inserted.pevIdRegistroTipo2, inserted.pevDateTimeInsert, inserted.pevDateTimeUpdate
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PilaErrorValidacionLog_log
			select pevId, pevTipoArchivo, pevTipoError, pevNumeroLinea, pevBloqueValidacion, pevNombreCampo, pevPosicionInicial, pevPosicionFinal, pevValorCampo, pevCodigoError, pevMensajeError, pevEstadoInconsistencia, pevIndicePlanilla, pevIndicePlanillaOF, pevIdRegistroTipo2, pevDateTimeInsert, pevDateTimeUpdate, ultimaFechaModificacion
			from #PilaErrorValidacionLog1
			where pevId in (select pevId from #pevIds)
				and actId = 1

			delete from dbo.PilaErrorValidacionLog
			output deleted.pevId, deleted.pevTipoArchivo, deleted.pevTipoError, deleted.pevNumeroLinea, deleted.pevBloqueValidacion, deleted.pevNombreCampo, deleted.pevPosicionInicial, deleted.pevPosicionFinal, deleted.pevValorCampo, deleted.pevCodigoError, deleted.pevMensajeError, deleted.pevEstadoInconsistencia, deleted.pevIndicePlanilla, deleted.pevIndicePlanillaOF, deleted.pevIdRegistroTipo2, deleted.pevDateTimeInsert, deleted.pevDateTimeUpdate
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PilaErrorValidacionLog_log
			where pevId in (select pevId from #PilaErrorValidacionLog1 where operacion = 1 and actId = 1)