	CREATE or alter procedure [dbo].[OP_SolicitudAfiliacionPersona_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla SolicitudAfiliacionPersona

	
			declare @SolicitudAfiliacionPersona1 table (sapId bigint   not null,sapEstadoSolicitud varchar(50)   null,sapRolAfiliado bigint   null,sapSolicitudGlobal bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select sapId, sapEstadoSolicitud, sapRolAfiliado, sapSolicitudGlobal, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudAfiliacionPersona_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudAfiliacionPersona1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudAfiliacionPersona1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by sapId) then 1 else null end as act
				,row_number() over (partition by sapId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudAfiliacionPersona1)
			select *
			into #SolicitudAfiliacionPersona1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sap set sap.sapEstadoSolicitud = a.sapEstadoSolicitud, sap.sapRolAfiliado = a.sapRolAfiliado, sap.sapSolicitudGlobal = a.sapSolicitudGlobal, sap.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.sapId, inserted.sapEstadoSolicitud, inserted.sapRolAfiliado, inserted.sapSolicitudGlobal, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudAfiliacionPersona_log
			from #SolicitudAfiliacionPersona1 as a
				inner join dbo.SolicitudAfiliacionPersona as sap on a.sapId = sap.sapId
			where (a.ultimaFechaModificacion > sap.ultimaFechaModificacion or sap.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudAfiliacionPersona1)



			drop table if exists #sapIds
			create table #sapIds (sapId bigInt)
			insert #sapIds
			select sapId from #SolicitudAfiliacionPersona1
			except 
			select sapId from dbo.SolicitudAfiliacionPersona

			insert dbo.SolicitudAfiliacionPersona (sapId, sapEstadoSolicitud, sapRolAfiliado, sapSolicitudGlobal,ultimaFechaModificacion)
			output inserted.sapId, inserted.sapEstadoSolicitud, inserted.sapRolAfiliado, inserted.sapSolicitudGlobal
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudAfiliacionPersona_log
			select sapId, sapEstadoSolicitud, sapRolAfiliado, sapSolicitudGlobal, ultimaFechaModificacion
			from #SolicitudAfiliacionPersona1
			where sapId in (select sapId from #sapIds)
				and actId = 1

			delete from dbo.SolicitudAfiliacionPersona
			output deleted.sapId, deleted.sapEstadoSolicitud, deleted.sapRolAfiliado, deleted.sapSolicitudGlobal
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudAfiliacionPersona_log
			where sapId in (select sapId from #SolicitudAfiliacionPersona1 where operacion = 1 and actId = 1)