	CREATE or alter procedure [dbo].[OP_MovimientoAporte_Rendimiento]  
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla MovimientoAporte

	
			declare @MovimientoAporte1 table (moaId bigint   not null,moaTipoAjuste varchar(20)   null,moaTipoMovimiento varchar(23)   null,moaEstadoAporte varchar(22)   null,moaValorAporte numeric (19,  5) null,moaValorInteres numeric (19,  5) null,moaFechaActualizacionEstado datetime   null,moaFechaCreacion datetime   null,moaAporteDetallado bigint   null,moaAporteGeneral bigint   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select moaId, moaTipoAjuste, moaTipoMovimiento, moaEstadoAporte, moaValorAporte, moaValorInteres, moaFechaActualizacionEstado, moaFechaCreacion, moaAporteDetallado, moaAporteGeneral, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_MovimientoAporte_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @MovimientoAporte1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #MovimientoAporte1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by moaId) then 1 else null end as act
				,row_number() over (partition by moaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @MovimientoAporte1)
			select *
			into #MovimientoAporte1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update moa set moa.moaTipoAjuste = a.moaTipoAjuste, moa.moaTipoMovimiento = a.moaTipoMovimiento, moa.moaEstadoAporte = a.moaEstadoAporte, moa.moaValorAporte = a.moaValorAporte, moa.moaValorInteres = a.moaValorInteres, moa.moaFechaActualizacionEstado = a.moaFechaActualizacionEstado, moa.moaFechaCreacion = a.moaFechaCreacion, moa.moaAporteDetallado = a.moaAporteDetallado, moa.moaAporteGeneral = a.moaAporteGeneral, moa.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.moaId, inserted.moaTipoAjuste, inserted.moaTipoMovimiento, inserted.moaEstadoAporte, inserted.moaValorAporte, inserted.moaValorInteres, inserted.moaFechaActualizacionEstado, inserted.moaFechaCreacion, inserted.moaAporteDetallado, inserted.moaAporteGeneral, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.MovimientoAporte_log
			from #MovimientoAporte1 as a
				inner join dbo.MovimientoAporte as moa on a.moaId = moa.moaId
			where (a.ultimaFechaModificacion > moa.ultimaFechaModificacion or moa.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #MovimientoAporte1)



			drop table if exists #moaIds
			create table #moaIds (moaId bigInt)
			insert #moaIds
			select moaId from #MovimientoAporte1
			except 
			select moaId from dbo.MovimientoAporte

			insert dbo.MovimientoAporte (moaId, moaTipoAjuste, moaTipoMovimiento, moaEstadoAporte, moaValorAporte, moaValorInteres, moaFechaActualizacionEstado, moaFechaCreacion, moaAporteDetallado, moaAporteGeneral,ultimaFechaModificacion)
			output inserted.moaId, inserted.moaTipoAjuste, inserted.moaTipoMovimiento, inserted.moaEstadoAporte, inserted.moaValorAporte, inserted.moaValorInteres, inserted.moaFechaActualizacionEstado, inserted.moaFechaCreacion, inserted.moaAporteDetallado, inserted.moaAporteGeneral
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.MovimientoAporte_log
			select moaId, moaTipoAjuste, moaTipoMovimiento, moaEstadoAporte, moaValorAporte, moaValorInteres, moaFechaActualizacionEstado, moaFechaCreacion, moaAporteDetallado, moaAporteGeneral, ultimaFechaModificacion
			from #MovimientoAporte1
			where moaId in (select moaId from #moaIds)
				and actId = 1

			delete from dbo.MovimientoAporte
			output deleted.moaId, deleted.moaTipoAjuste, deleted.moaTipoMovimiento, deleted.moaEstadoAporte, deleted.moaValorAporte, deleted.moaValorInteres, deleted.moaFechaActualizacionEstado, deleted.moaFechaCreacion, deleted.moaAporteDetallado, deleted.moaAporteGeneral
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.MovimientoAporte_log
			where moaId in (select moaId from #MovimientoAporte1 where operacion = 1 and actId = 1)