	CREATE or alter procedure [dbo].[OP_SolicitudNovedadPersona_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla SolicitudNovedadPersona

	
			declare @SolicitudNovedadPersona1 table (snpId bigint   not null,snpPersona bigint   not null,snpSolicitudNovedad bigint   not null,snpRolAfiliado bigint   null,snpBeneficiario bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select snpId, snpPersona, snpSolicitudNovedad, snpRolAfiliado, snpBeneficiario, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudNovedadPersona_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudNovedadPersona1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudNovedadPersona1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by snpId) then 1 else null end as act
				,row_number() over (partition by snpId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudNovedadPersona1)
			select *
			into #SolicitudNovedadPersona1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update snp set snp.snpPersona = a.snpPersona, snp.snpSolicitudNovedad = a.snpSolicitudNovedad, snp.snpRolAfiliado = a.snpRolAfiliado, snp.snpBeneficiario = a.snpBeneficiario, snp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.snpId, inserted.snpPersona, inserted.snpSolicitudNovedad, inserted.snpRolAfiliado, inserted.snpBeneficiario, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudNovedadPersona_log
			from #SolicitudNovedadPersona1 as a
				inner join dbo.SolicitudNovedadPersona as snp on a.snpId = snp.snpId
			where (a.ultimaFechaModificacion > snp.ultimaFechaModificacion or snp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudNovedadPersona1)



			drop table if exists #snpIds
			create table #snpIds (snpId bigInt)
			insert #snpIds
			select snpId from #SolicitudNovedadPersona1
			except 
			select snpId from dbo.SolicitudNovedadPersona

			insert dbo.SolicitudNovedadPersona (snpId, snpPersona, snpSolicitudNovedad, snpRolAfiliado, snpBeneficiario,ultimaFechaModificacion)
			output inserted.snpId, inserted.snpPersona, inserted.snpSolicitudNovedad, inserted.snpRolAfiliado, inserted.snpBeneficiario
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudNovedadPersona_log
			select snpId, snpPersona, snpSolicitudNovedad, snpRolAfiliado, snpBeneficiario, ultimaFechaModificacion
			from #SolicitudNovedadPersona1
			where snpId in (select snpId from #snpIds)
				and actId = 1

			delete from dbo.SolicitudNovedadPersona
			output deleted.snpId, deleted.snpPersona, deleted.snpSolicitudNovedad, deleted.snpRolAfiliado, deleted.snpBeneficiario
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudNovedadPersona_log
			where snpId in (select snpId from #SolicitudNovedadPersona1 where operacion = 1 and actId = 1)