	CREATE or alter procedure [dbo].[OP_HistoricoAdminSubsidioGrupo_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla HistoricoAdminSubsidioGrupo

	
			declare @HistoricoAdminSubsidioGrupo1 table (hasId bigint   not null,hasGrupoFamiliar bigint   not null,hasMedioDePago bigint   not null,hasTipoIdentificacionAdmin varchar(20)   not null,hasNumeroIdentificacionAdmin varchar(16)   not null,hasFechaInicio date   not null,hasFechaFin date   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select hasId, hasGrupoFamiliar, hasMedioDePago, hasTipoIdentificacionAdmin, hasNumeroIdentificacionAdmin, hasFechaInicio, hasFechaFin, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_HistoricoAdminSubsidioGrupo_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @HistoricoAdminSubsidioGrupo1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #HistoricoAdminSubsidioGrupo1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by hasId) then 1 else null end as act
				,row_number() over (partition by hasId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @HistoricoAdminSubsidioGrupo1)
			select *
			into #HistoricoAdminSubsidioGrupo1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update has set has.hasGrupoFamiliar = a.hasGrupoFamiliar, has.hasMedioDePago = a.hasMedioDePago, has.hasTipoIdentificacionAdmin = a.hasTipoIdentificacionAdmin, has.hasNumeroIdentificacionAdmin = a.hasNumeroIdentificacionAdmin, has.hasFechaInicio = a.hasFechaInicio, has.hasFechaFin = a.hasFechaFin, has.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.hasId, inserted.hasGrupoFamiliar, inserted.hasMedioDePago, inserted.hasTipoIdentificacionAdmin, inserted.hasNumeroIdentificacionAdmin, inserted.hasFechaInicio, inserted.hasFechaFin, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.HistoricoAdminSubsidioGrupo_log
			from #HistoricoAdminSubsidioGrupo1 as a
				inner join dbo.HistoricoAdminSubsidioGrupo as has on a.hasId = has.hasId
			where (a.ultimaFechaModificacion > has.ultimaFechaModificacion or has.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #HistoricoAdminSubsidioGrupo1)



			drop table if exists #hasIds
			create table #hasIds (hasId bigInt)
			insert #hasIds
			select hasId from #HistoricoAdminSubsidioGrupo1
			except 
			select hasId from dbo.HistoricoAdminSubsidioGrupo

			insert dbo.HistoricoAdminSubsidioGrupo (hasId, hasGrupoFamiliar, hasMedioDePago, hasTipoIdentificacionAdmin, hasNumeroIdentificacionAdmin, hasFechaInicio, hasFechaFin,ultimaFechaModificacion)
			output inserted.hasId, inserted.hasGrupoFamiliar, inserted.hasMedioDePago, inserted.hasTipoIdentificacionAdmin, inserted.hasNumeroIdentificacionAdmin, inserted.hasFechaInicio, inserted.hasFechaFin
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.HistoricoAdminSubsidioGrupo_log
			select hasId, hasGrupoFamiliar, hasMedioDePago, hasTipoIdentificacionAdmin, hasNumeroIdentificacionAdmin, hasFechaInicio, hasFechaFin, ultimaFechaModificacion
			from #HistoricoAdminSubsidioGrupo1
			where hasId in (select hasId from #hasIds)
				and actId = 1

			delete from dbo.HistoricoAdminSubsidioGrupo
			output deleted.hasId, deleted.hasGrupoFamiliar, deleted.hasMedioDePago, deleted.hasTipoIdentificacionAdmin, deleted.hasNumeroIdentificacionAdmin, deleted.hasFechaInicio, deleted.hasFechaFin
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.HistoricoAdminSubsidioGrupo_log
			where hasId in (select hasId from #HistoricoAdminSubsidioGrupo1 where operacion = 1 and actId = 1)