	CREATE or alter procedure [dbo].[OP_BlograPreCarEntNotproRelCerBen_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla Beneficio

	
			declare @Beneficio1 table (befId bigint   not null,befTipoBeneficio varchar(16)   not null,befVigenciaFiscal bit   not null,befFechaVigenciaInicio date   null,befFechaVigenciaFin date   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select befId, befTipoBeneficio, befVigenciaFiscal, befFechaVigenciaInicio, befFechaVigenciaFin, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Beneficio_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Beneficio1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Beneficio1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by befId) then 1 else null end as act
				,row_number() over (partition by befId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Beneficio1)
			select *
			into #Beneficio1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update bef set bef.befTipoBeneficio = a.befTipoBeneficio, bef.befVigenciaFiscal = a.befVigenciaFiscal, bef.befFechaVigenciaInicio = a.befFechaVigenciaInicio, bef.befFechaVigenciaFin = a.befFechaVigenciaFin, bef.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.befId, inserted.befTipoBeneficio, inserted.befVigenciaFiscal, inserted.befFechaVigenciaInicio, inserted.befFechaVigenciaFin, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Beneficio_log
			from #Beneficio1 as a
				inner join dbo.Beneficio as bef on a.befId = bef.befId
			where (a.ultimaFechaModificacion > bef.ultimaFechaModificacion or bef.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Beneficio1)



			drop table if exists #befIds
			create table #befIds (befId bigInt)
			insert #befIds
			select befId from #Beneficio1
			except 
			select befId from dbo.Beneficio

			insert dbo.Beneficio (befId, befTipoBeneficio, befVigenciaFiscal, befFechaVigenciaInicio, befFechaVigenciaFin,ultimaFechaModificacion)
			output inserted.befId, inserted.befTipoBeneficio, inserted.befVigenciaFiscal, inserted.befFechaVigenciaInicio, inserted.befFechaVigenciaFin
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Beneficio_log
			select befId, befTipoBeneficio, befVigenciaFiscal, befFechaVigenciaInicio, befFechaVigenciaFin, ultimaFechaModificacion
			from #Beneficio1
			where befId in (select befId from #befIds)
				and actId = 1

			delete from dbo.Beneficio
			output deleted.befId, deleted.befTipoBeneficio, deleted.befVigenciaFiscal, deleted.befFechaVigenciaInicio, deleted.befFechaVigenciaFin
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Beneficio_log
			where befId in (select befId from #Beneficio1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla BloqueoBeneficiarioCuotaMonetaria

	
			declare @BloqueoBeneficiarioCuotaMonetaria1 table (bbcId bigint   not null,bbcPersona bigint   null,bbcTipoIdentificacionBeneciario varchar(20)   not null,bbcNumeroIdentificacionBeneficiario varchar(16)   not null,bbcAsignacionCuotaPorOtraCCF bit   null,bbcBeneficiarioComoAfiliadoOtraCCF bit   null,bbcCargueBloqueoCuotaMonetaria bigint   null,bbcBloqueado bit   not null,bbcNombrePersona varchar(200)   null,bbcNumLinea int   null,bbcCausalBloqueo varchar(200)   null,bbcBeneficiario bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select bbcId, bbcPersona, bbcTipoIdentificacionBeneciario, bbcNumeroIdentificacionBeneficiario, bbcAsignacionCuotaPorOtraCCF, bbcBeneficiarioComoAfiliadoOtraCCF, bbcCargueBloqueoCuotaMonetaria, bbcBloqueado, bbcNombrePersona, bbcNumLinea, bbcCausalBloqueo, bbcBeneficiario, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_BloqueoBeneficiarioCuotaMonetaria_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @BloqueoBeneficiarioCuotaMonetaria1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #BloqueoBeneficiarioCuotaMonetaria1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by bbcId) then 1 else null end as act
				,row_number() over (partition by bbcId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @BloqueoBeneficiarioCuotaMonetaria1)
			select *
			into #BloqueoBeneficiarioCuotaMonetaria1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update bbc set bbc.bbcPersona = a.bbcPersona, bbc.bbcTipoIdentificacionBeneciario = a.bbcTipoIdentificacionBeneciario, bbc.bbcNumeroIdentificacionBeneficiario = a.bbcNumeroIdentificacionBeneficiario, bbc.bbcAsignacionCuotaPorOtraCCF = a.bbcAsignacionCuotaPorOtraCCF, bbc.bbcBeneficiarioComoAfiliadoOtraCCF = a.bbcBeneficiarioComoAfiliadoOtraCCF, bbc.bbcCargueBloqueoCuotaMonetaria = a.bbcCargueBloqueoCuotaMonetaria, bbc.bbcBloqueado = a.bbcBloqueado, bbc.bbcNombrePersona = a.bbcNombrePersona, bbc.bbcNumLinea = a.bbcNumLinea, bbc.bbcCausalBloqueo = a.bbcCausalBloqueo, bbc.bbcBeneficiario = a.bbcBeneficiario, bbc.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.bbcId, inserted.bbcPersona, inserted.bbcTipoIdentificacionBeneciario, inserted.bbcNumeroIdentificacionBeneficiario, inserted.bbcAsignacionCuotaPorOtraCCF, inserted.bbcBeneficiarioComoAfiliadoOtraCCF, inserted.bbcCargueBloqueoCuotaMonetaria, inserted.bbcBloqueado, inserted.bbcNombrePersona, inserted.bbcNumLinea, inserted.bbcCausalBloqueo, inserted.bbcBeneficiario, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.BloqueoBeneficiarioCuotaMonetaria_log
			from #BloqueoBeneficiarioCuotaMonetaria1 as a
				inner join dbo.BloqueoBeneficiarioCuotaMonetaria as bbc on a.bbcId = bbc.bbcId
			where (a.ultimaFechaModificacion > bbc.ultimaFechaModificacion or bbc.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #BloqueoBeneficiarioCuotaMonetaria1)



			drop table if exists #bbcIds
			create table #bbcIds (bbcId bigInt)
			insert #bbcIds
			select bbcId from #BloqueoBeneficiarioCuotaMonetaria1
			except 
			select bbcId from dbo.BloqueoBeneficiarioCuotaMonetaria

			insert dbo.BloqueoBeneficiarioCuotaMonetaria (bbcId, bbcPersona, bbcTipoIdentificacionBeneciario, bbcNumeroIdentificacionBeneficiario, bbcAsignacionCuotaPorOtraCCF, bbcBeneficiarioComoAfiliadoOtraCCF, bbcCargueBloqueoCuotaMonetaria, bbcBloqueado, bbcNombrePersona, bbcNumLinea, bbcCausalBloqueo, bbcBeneficiario,ultimaFechaModificacion)
			output inserted.bbcId, inserted.bbcPersona, inserted.bbcTipoIdentificacionBeneciario, inserted.bbcNumeroIdentificacionBeneficiario, inserted.bbcAsignacionCuotaPorOtraCCF, inserted.bbcBeneficiarioComoAfiliadoOtraCCF, inserted.bbcCargueBloqueoCuotaMonetaria, inserted.bbcBloqueado, inserted.bbcNombrePersona, inserted.bbcNumLinea, inserted.bbcCausalBloqueo, inserted.bbcBeneficiario
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.BloqueoBeneficiarioCuotaMonetaria_log
			select bbcId, bbcPersona, bbcTipoIdentificacionBeneciario, bbcNumeroIdentificacionBeneficiario, bbcAsignacionCuotaPorOtraCCF, bbcBeneficiarioComoAfiliadoOtraCCF, bbcCargueBloqueoCuotaMonetaria, bbcBloqueado, bbcNombrePersona, bbcNumLinea, bbcCausalBloqueo, bbcBeneficiario, ultimaFechaModificacion
			from #BloqueoBeneficiarioCuotaMonetaria1
			where bbcId in (select bbcId from #bbcIds)
				and actId = 1

			delete from dbo.BloqueoBeneficiarioCuotaMonetaria
			output deleted.bbcId, deleted.bbcPersona, deleted.bbcTipoIdentificacionBeneciario, deleted.bbcNumeroIdentificacionBeneficiario, deleted.bbcAsignacionCuotaPorOtraCCF, deleted.bbcBeneficiarioComoAfiliadoOtraCCF, deleted.bbcCargueBloqueoCuotaMonetaria, deleted.bbcBloqueado, deleted.bbcNombrePersona, deleted.bbcNumLinea, deleted.bbcCausalBloqueo, deleted.bbcBeneficiario
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.BloqueoBeneficiarioCuotaMonetaria_log
			where bbcId in (select bbcId from #BloqueoBeneficiarioCuotaMonetaria1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla CargueBloqueoCuotaMonetaria

	
			declare @CargueBloqueoCuotaMonetaria1 table (cabId bigint   not null,cabfechaCarga date   not null,cabPeriodoInicio date   not null,cabPeriodoFin date   not null,cabRadicado bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select cabId, cabfechaCarga, cabPeriodoInicio, cabPeriodoFin, cabRadicado, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CargueBloqueoCuotaMonetaria_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CargueBloqueoCuotaMonetaria1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CargueBloqueoCuotaMonetaria1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by cabId) then 1 else null end as act
				,row_number() over (partition by cabId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CargueBloqueoCuotaMonetaria1)
			select *
			into #CargueBloqueoCuotaMonetaria1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cab set cab.cabfechaCarga = a.cabfechaCarga, cab.cabPeriodoInicio = a.cabPeriodoInicio, cab.cabPeriodoFin = a.cabPeriodoFin, cab.cabRadicado = a.cabRadicado, cab.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.cabId, inserted.cabfechaCarga, inserted.cabPeriodoInicio, inserted.cabPeriodoFin, inserted.cabRadicado, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CargueBloqueoCuotaMonetaria_log
			from #CargueBloqueoCuotaMonetaria1 as a
				inner join dbo.CargueBloqueoCuotaMonetaria as cab on a.cabId = cab.cabId
			where (a.ultimaFechaModificacion > cab.ultimaFechaModificacion or cab.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CargueBloqueoCuotaMonetaria1)



			drop table if exists #cabIds
			create table #cabIds (cabId bigInt)
			insert #cabIds
			select cabId from #CargueBloqueoCuotaMonetaria1
			except 
			select cabId from dbo.CargueBloqueoCuotaMonetaria

			insert dbo.CargueBloqueoCuotaMonetaria (cabId, cabfechaCarga, cabPeriodoInicio, cabPeriodoFin, cabRadicado,ultimaFechaModificacion)
			output inserted.cabId, inserted.cabfechaCarga, inserted.cabPeriodoInicio, inserted.cabPeriodoFin, inserted.cabRadicado
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CargueBloqueoCuotaMonetaria_log
			select cabId, cabfechaCarga, cabPeriodoInicio, cabPeriodoFin, cabRadicado, ultimaFechaModificacion
			from #CargueBloqueoCuotaMonetaria1
			where cabId in (select cabId from #cabIds)
				and actId = 1

			delete from dbo.CargueBloqueoCuotaMonetaria
			output deleted.cabId, deleted.cabfechaCarga, deleted.cabPeriodoInicio, deleted.cabPeriodoFin, deleted.cabRadicado
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CargueBloqueoCuotaMonetaria_log
			where cabId in (select cabId from #CargueBloqueoCuotaMonetaria1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Certificado

	
			declare @Certificado1 table (cerId bigint   not null,cerTipoCertificado varchar(40)   not null,cerFechaGeneracion datetime2   not null,cerDirigidoA varchar(255)   not null,cerPersona bigint   not null,cerGeneradoComoEmpleador bit   not null,cerTipoSolicitud varchar(100)   null,cerComunicado bigint   null,cerAnio smallint   null,cerTipoAfiliado varchar(30)   null,cerEmpleador bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select cerId, cerTipoCertificado, cerFechaGeneracion, cerDirigidoA, cerPersona, cerGeneradoComoEmpleador, cerTipoSolicitud, cerComunicado, cerAnio, cerTipoAfiliado, cerEmpleador, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Certificado_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Certificado1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Certificado1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by cerId) then 1 else null end as act
				,row_number() over (partition by cerId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Certificado1)
			select *
			into #Certificado1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cer set cer.cerTipoCertificado = a.cerTipoCertificado, cer.cerFechaGeneracion = a.cerFechaGeneracion, cer.cerDirigidoA = a.cerDirigidoA, cer.cerPersona = a.cerPersona, cer.cerGeneradoComoEmpleador = a.cerGeneradoComoEmpleador, cer.cerTipoSolicitud = a.cerTipoSolicitud, cer.cerComunicado = a.cerComunicado, cer.cerAnio = a.cerAnio, cer.cerTipoAfiliado = a.cerTipoAfiliado, cer.cerEmpleador = a.cerEmpleador, cer.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.cerId, inserted.cerTipoCertificado, inserted.cerFechaGeneracion, inserted.cerDirigidoA, inserted.cerPersona, inserted.cerGeneradoComoEmpleador, inserted.cerTipoSolicitud, inserted.cerComunicado, inserted.cerAnio, inserted.cerTipoAfiliado, inserted.cerEmpleador, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Certificado_log
			from #Certificado1 as a
				inner join dbo.Certificado as cer on a.cerId = cer.cerId
			where (a.ultimaFechaModificacion > cer.ultimaFechaModificacion or cer.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Certificado1)



			drop table if exists #cerIds
			create table #cerIds (cerId bigInt)
			insert #cerIds
			select cerId from #Certificado1
			except 
			select cerId from dbo.Certificado

			insert dbo.Certificado (cerId, cerTipoCertificado, cerFechaGeneracion, cerDirigidoA, cerPersona, cerGeneradoComoEmpleador, cerTipoSolicitud, cerComunicado, cerAnio, cerTipoAfiliado, cerEmpleador,ultimaFechaModificacion)
			output inserted.cerId, inserted.cerTipoCertificado, inserted.cerFechaGeneracion, inserted.cerDirigidoA, inserted.cerPersona, inserted.cerGeneradoComoEmpleador, inserted.cerTipoSolicitud, inserted.cerComunicado, inserted.cerAnio, inserted.cerTipoAfiliado, inserted.cerEmpleador
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Certificado_log
			select cerId, cerTipoCertificado, cerFechaGeneracion, cerDirigidoA, cerPersona, cerGeneradoComoEmpleador, cerTipoSolicitud, cerComunicado, cerAnio, cerTipoAfiliado, cerEmpleador, ultimaFechaModificacion
			from #Certificado1
			where cerId in (select cerId from #cerIds)
				and actId = 1

			delete from dbo.Certificado
			output deleted.cerId, deleted.cerTipoCertificado, deleted.cerFechaGeneracion, deleted.cerDirigidoA, deleted.cerPersona, deleted.cerGeneradoComoEmpleador, deleted.cerTipoSolicitud, deleted.cerComunicado, deleted.cerAnio, deleted.cerTipoAfiliado, deleted.cerEmpleador
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Certificado_log
			where cerId in (select cerId from #Certificado1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla EntidadDescuento

	
			declare @EntidadDescuento1 table (endId bigint   not null,endCodigo bigint   not null,endTipo varchar(10)   not null,endEmpresa bigint   null,endPrioridad int   not null,endEstado varchar(10)   not null,endNombreContacto varchar(250)   null,endObservaciones varchar(250)   null,endFechaCreacion date   not null,endNombre varchar(250)   null,endNumeroCelular varchar(10)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select endId, endCodigo, endTipo, endEmpresa, endPrioridad, endEstado, endNombreContacto, endObservaciones, endFechaCreacion, endNombre, endNumeroCelular, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_EntidadDescuento_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @EntidadDescuento1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #EntidadDescuento1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by endId) then 1 else null end as act
				,row_number() over (partition by endId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @EntidadDescuento1)
			select *
			into #EntidadDescuento1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update endd set endd.endCodigo = a.endCodigo, endd.endTipo = a.endTipo, endd.endEmpresa = a.endEmpresa, endd.endPrioridad = a.endPrioridad, endd.endEstado = a.endEstado, endd.endNombreContacto = a.endNombreContacto, endd.endObservaciones = a.endObservaciones, endd.endFechaCreacion = a.endFechaCreacion, endd.endNombre = a.endNombre, endd.endNumeroCelular = a.endNumeroCelular, endd.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.endId, inserted.endCodigo, inserted.endTipo, inserted.endEmpresa, inserted.endPrioridad, inserted.endEstado, inserted.endNombreContacto, inserted.endObservaciones, inserted.endFechaCreacion, inserted.endNombre, inserted.endNumeroCelular, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.EntidadDescuento_log
			from #EntidadDescuento1 as a
				inner join dbo.EntidadDescuento as endd on a.endId = endd.endId
			where (a.ultimaFechaModificacion > endd.ultimaFechaModificacion or endd.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #EntidadDescuento1)



			drop table if exists #endIds
			create table #endIds (endId bigInt)
			insert #endIds
			select endId from #EntidadDescuento1
			except 
			select endId from dbo.EntidadDescuento

			insert dbo.EntidadDescuento (endId, endCodigo, endTipo, endEmpresa, endPrioridad, endEstado, endNombreContacto, endObservaciones, endFechaCreacion, endNombre, endNumeroCelular,ultimaFechaModificacion)
			output inserted.endId, inserted.endCodigo, inserted.endTipo, inserted.endEmpresa, inserted.endPrioridad, inserted.endEstado, inserted.endNombreContacto, inserted.endObservaciones, inserted.endFechaCreacion, inserted.endNombre, inserted.endNumeroCelular
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.EntidadDescuento_log
			select endId, endCodigo, endTipo, endEmpresa, endPrioridad, endEstado, endNombreContacto, endObservaciones, endFechaCreacion, endNombre, endNumeroCelular, ultimaFechaModificacion
			from #EntidadDescuento1
			where endId in (select endId from #endIds)
				and actId = 1

			delete from dbo.EntidadDescuento
			output deleted.endId, deleted.endCodigo, deleted.endTipo, deleted.endEmpresa, deleted.endPrioridad, deleted.endEstado, deleted.endNombreContacto, deleted.endObservaciones, deleted.endFechaCreacion, deleted.endNombre, deleted.endNumeroCelular
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.EntidadDescuento_log
			where endId in (select endId from #EntidadDescuento1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla gradoacademico

	
			declare @gradoacademico1 table (graId smallint   not null,graNombre varchar(20)   not null,graNivelEducativo varchar(43)   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select graId, graNombre, graNivelEducativo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_gradoacademico_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @gradoacademico1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #gradoacademico1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by graId) then 1 else null end as act
				,row_number() over (partition by graId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @gradoacademico1)
			select *
			into #gradoacademico1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update gra set gra.graNombre = a.graNombre, gra.graNivelEducativo = a.graNivelEducativo, gra.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.graId, inserted.graNombre, inserted.graNivelEducativo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.gradoacademico_log
			from #gradoacademico1 as a
				inner join dbo.gradoacademico as gra on a.graId = gra.graId
			where (a.ultimaFechaModificacion > gra.ultimaFechaModificacion or gra.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #gradoacademico1)



			drop table if exists #graIds
			create table #graIds (graId bigInt)
			insert #graIds
			select graId from #gradoacademico1
			except 
			select graId from dbo.gradoacademico

			insert dbo.gradoacademico (graId, graNombre, graNivelEducativo,ultimaFechaModificacion)
			output inserted.graId, inserted.graNombre, inserted.graNivelEducativo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.gradoacademico_log
			select graId, graNombre, graNivelEducativo, ultimaFechaModificacion
			from #gradoacademico1
			where graId in (select graId from #graIds)
				and actId = 1

			delete from dbo.gradoacademico
			output deleted.graId, deleted.graNombre, deleted.graNivelEducativo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.gradoacademico_log
			where graId in (select graId from #gradoacademico1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Notificacionpersonal

	
			declare @Notificacionpersonal1 table (ntpId bigint   not null,ntpActividad varchar(41)   not null,ntpPersona bigint   not null,ntpTipoSolicitante varchar(13)   not null,ntpComentario varchar(250)   null,ntpCartera bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ntpId, ntpActividad, ntpPersona, ntpTipoSolicitante, ntpComentario, ntpCartera, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Notificacionpersonal_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Notificacionpersonal1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Notificacionpersonal1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ntpId) then 1 else null end as act
				,row_number() over (partition by ntpId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Notificacionpersonal1)
			select *
			into #Notificacionpersonal1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ntp set ntp.ntpActividad = a.ntpActividad, ntp.ntpPersona = a.ntpPersona, ntp.ntpTipoSolicitante = a.ntpTipoSolicitante, ntp.ntpComentario = a.ntpComentario, ntp.ntpCartera = a.ntpCartera, ntp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ntpId, inserted.ntpActividad, inserted.ntpPersona, inserted.ntpTipoSolicitante, inserted.ntpComentario, inserted.ntpCartera, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Notificacionpersonal_log
			from #Notificacionpersonal1 as a
				inner join dbo.Notificacionpersonal as ntp on a.ntpId = ntp.ntpId
			where (a.ultimaFechaModificacion > ntp.ultimaFechaModificacion or ntp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Notificacionpersonal1)



			drop table if exists #ntpIds
			create table #ntpIds (ntpId bigInt)
			insert #ntpIds
			select ntpId from #Notificacionpersonal1
			except 
			select ntpId from dbo.Notificacionpersonal

			insert dbo.Notificacionpersonal (ntpId, ntpActividad, ntpPersona, ntpTipoSolicitante, ntpComentario, ntpCartera,ultimaFechaModificacion)
			output inserted.ntpId, inserted.ntpActividad, inserted.ntpPersona, inserted.ntpTipoSolicitante, inserted.ntpComentario, inserted.ntpCartera
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Notificacionpersonal_log
			select ntpId, ntpActividad, ntpPersona, ntpTipoSolicitante, ntpComentario, ntpCartera, ultimaFechaModificacion
			from #Notificacionpersonal1
			where ntpId in (select ntpId from #ntpIds)
				and actId = 1

			delete from dbo.Notificacionpersonal
			output deleted.ntpId, deleted.ntpActividad, deleted.ntpPersona, deleted.ntpTipoSolicitante, deleted.ntpComentario, deleted.ntpCartera
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Notificacionpersonal_log
			where ntpId in (select ntpId from #Notificacionpersonal1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla PreRegistroEmpresaDescentralizada

	
			declare @PreRegistroEmpresaDescentralizada1 table (prdId bigint   null,prdTipoIdentificacion varchar(20)   null,prdNumeroIdentificacionSerial varchar(16)   null,prdCodigoSucursal varchar(10)   null,prdNombreSucursalPila varchar(250)   null,prdNumeroIdentificacion varchar(16)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select prdId, prdTipoIdentificacion, prdNumeroIdentificacionSerial, prdCodigoSucursal, prdNombreSucursalPila, prdNumeroIdentificacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PreRegistroEmpresaDescentralizada_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PreRegistroEmpresaDescentralizada1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #PreRegistroEmpresaDescentralizada1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by prdId) then 1 else null end as act
				,row_number() over (partition by prdId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PreRegistroEmpresaDescentralizada1)
			select *
			into #PreRegistroEmpresaDescentralizada1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update prd set prd.prdTipoIdentificacion = a.prdTipoIdentificacion, prd.prdNumeroIdentificacionSerial = a.prdNumeroIdentificacionSerial, prd.prdCodigoSucursal = a.prdCodigoSucursal, prd.prdNombreSucursalPila = a.prdNombreSucursalPila, prd.prdNumeroIdentificacion = a.prdNumeroIdentificacion, prd.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.prdId, inserted.prdTipoIdentificacion, inserted.prdNumeroIdentificacionSerial, inserted.prdCodigoSucursal, inserted.prdNombreSucursalPila, inserted.prdNumeroIdentificacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PreRegistroEmpresaDescentralizada_log
			from #PreRegistroEmpresaDescentralizada1 as a
				inner join dbo.PreRegistroEmpresaDescentralizada as prd on a.prdId = prd.prdId
			where (a.ultimaFechaModificacion > prd.ultimaFechaModificacion or prd.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PreRegistroEmpresaDescentralizada1)



			drop table if exists #prdIds
			create table #prdIds (prdId bigInt)
			insert #prdIds
			select prdId from #PreRegistroEmpresaDescentralizada1
			except 
			select prdId from dbo.PreRegistroEmpresaDescentralizada

			insert dbo.PreRegistroEmpresaDescentralizada (prdId, prdTipoIdentificacion, prdNumeroIdentificacionSerial, prdCodigoSucursal, prdNombreSucursalPila, prdNumeroIdentificacion,ultimaFechaModificacion)
			output inserted.prdId, inserted.prdTipoIdentificacion, inserted.prdNumeroIdentificacionSerial, inserted.prdCodigoSucursal, inserted.prdNombreSucursalPila, inserted.prdNumeroIdentificacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PreRegistroEmpresaDescentralizada_log
			select prdId, prdTipoIdentificacion, prdNumeroIdentificacionSerial, prdCodigoSucursal, prdNombreSucursalPila, prdNumeroIdentificacion, ultimaFechaModificacion
			from #PreRegistroEmpresaDescentralizada1
			where prdId in (select prdId from #prdIds)
				and actId = 1

			delete from dbo.PreRegistroEmpresaDescentralizada
			output deleted.prdId, deleted.prdTipoIdentificacion, deleted.prdNumeroIdentificacionSerial, deleted.prdCodigoSucursal, deleted.prdNombreSucursalPila, deleted.prdNumeroIdentificacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PreRegistroEmpresaDescentralizada_log
			where prdId in (select prdId from #PreRegistroEmpresaDescentralizada1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla proveedor

	
			declare @proveedor1 table (provId bigint   not null,provPersona bigint   not null,provEmpresa bigint   null,provEstado varchar(30)   null,provCuentaBancaria bit   null,provBanco bigint   null,provTipoCuenta varchar(30)   null,provNumeroCuenta varchar(30)   null,provTipoIdentificacionTitular varchar(20)   null,provNumeroIdentificacionTitular varchar(16)   null,provDigitoVerificacionTitular smallint   null,provNombreTitularCuenta varchar(200)   null,provConcepto int   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select provId, provPersona, provEmpresa, provEstado, provCuentaBancaria, provBanco, provTipoCuenta, provNumeroCuenta, provTipoIdentificacionTitular, provNumeroIdentificacionTitular, provDigitoVerificacionTitular, provNombreTitularCuenta, provConcepto, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_proveedor_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @proveedor1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #proveedor1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by provId) then 1 else null end as act
				,row_number() over (partition by provId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @proveedor1)
			select *
			into #proveedor1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pro set pro.provPersona = a.provPersona, pro.provEmpresa = a.provEmpresa, pro.provEstado = a.provEstado, pro.provCuentaBancaria = a.provCuentaBancaria, pro.provBanco = a.provBanco, pro.provTipoCuenta = a.provTipoCuenta, pro.provNumeroCuenta = a.provNumeroCuenta, pro.provTipoIdentificacionTitular = a.provTipoIdentificacionTitular, pro.provNumeroIdentificacionTitular = a.provNumeroIdentificacionTitular, pro.provDigitoVerificacionTitular = a.provDigitoVerificacionTitular, pro.provNombreTitularCuenta = a.provNombreTitularCuenta, pro.provConcepto = a.provConcepto, pro.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.provId, inserted.provPersona, inserted.provEmpresa, inserted.provEstado, inserted.provCuentaBancaria, inserted.provBanco, inserted.provTipoCuenta, inserted.provNumeroCuenta, inserted.provTipoIdentificacionTitular, inserted.provNumeroIdentificacionTitular, inserted.provDigitoVerificacionTitular, inserted.provNombreTitularCuenta, inserted.provConcepto, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.proveedor_log
			from #proveedor1 as a
				inner join dbo.proveedor as pro on a.provId = pro.provId
			where (a.ultimaFechaModificacion > pro.ultimaFechaModificacion or pro.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #proveedor1)



			drop table if exists #provIds
			create table #provIds (provId bigInt)
			insert #provIds
			select provId from #proveedor1
			except 
			select provId from dbo.proveedor

			insert dbo.proveedor (provId, provPersona, provEmpresa, provEstado, provCuentaBancaria, provBanco, provTipoCuenta, provNumeroCuenta, provTipoIdentificacionTitular, provNumeroIdentificacionTitular, provDigitoVerificacionTitular, provNombreTitularCuenta, provConcepto,ultimaFechaModificacion)
			output inserted.provId, inserted.provPersona, inserted.provEmpresa, inserted.provEstado, inserted.provCuentaBancaria, inserted.provBanco, inserted.provTipoCuenta, inserted.provNumeroCuenta, inserted.provTipoIdentificacionTitular, inserted.provNumeroIdentificacionTitular, inserted.provDigitoVerificacionTitular, inserted.provNombreTitularCuenta, inserted.provConcepto
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.proveedor_log
			select provId, provPersona, provEmpresa, provEstado, provCuentaBancaria, provBanco, provTipoCuenta, provNumeroCuenta, provTipoIdentificacionTitular, provNumeroIdentificacionTitular, provDigitoVerificacionTitular, provNombreTitularCuenta, provConcepto, ultimaFechaModificacion
			from #proveedor1
			where provId in (select provId from #provIds)
				and actId = 1

			delete from dbo.proveedor
			output deleted.provId, deleted.provPersona, deleted.provEmpresa, deleted.provEstado, deleted.provCuentaBancaria, deleted.provBanco, deleted.provTipoCuenta, deleted.provNumeroCuenta, deleted.provTipoIdentificacionTitular, deleted.provNumeroIdentificacionTitular, deleted.provDigitoVerificacionTitular, deleted.provNombreTitularCuenta, deleted.provConcepto
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.proveedor_log
			where provId in (select provId from #proveedor1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla RelacionGrupoFamiliar

	
			declare @RelacionGrupoFamiliar1 table (rgfId smallint   not null,rgfNombre varchar(15)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select rgfId, rgfNombre, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_RelacionGrupoFamiliar_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @RelacionGrupoFamiliar1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #RelacionGrupoFamiliar1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by rgfId) then 1 else null end as act
				,row_number() over (partition by rgfId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @RelacionGrupoFamiliar1)
			select *
			into #RelacionGrupoFamiliar1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update rgf set rgf.rgfNombre = a.rgfNombre, rgf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.rgfId, inserted.rgfNombre, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.RelacionGrupoFamiliar_log
			from #RelacionGrupoFamiliar1 as a
				inner join dbo.RelacionGrupoFamiliar as rgf on a.rgfId = rgf.rgfId
			where (a.ultimaFechaModificacion > rgf.ultimaFechaModificacion or rgf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #RelacionGrupoFamiliar1)



			drop table if exists #rgfIds
			create table #rgfIds (rgfId bigInt)
			insert #rgfIds
			select rgfId from #RelacionGrupoFamiliar1
			except 
			select rgfId from dbo.RelacionGrupoFamiliar

			insert dbo.RelacionGrupoFamiliar (rgfId, rgfNombre,ultimaFechaModificacion)
			output inserted.rgfId, inserted.rgfNombre
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.RelacionGrupoFamiliar_log
			select rgfId, rgfNombre, ultimaFechaModificacion
			from #RelacionGrupoFamiliar1
			where rgfId in (select rgfId from #rgfIds)
				and actId = 1

			delete from dbo.RelacionGrupoFamiliar
			output deleted.rgfId, deleted.rgfNombre
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.RelacionGrupoFamiliar_log
			where rgfId in (select rgfId from #RelacionGrupoFamiliar1 where operacion = 1 and actId = 1)


		--Inicio Merge tabla PersonaExclusionSumatoriaSalario
	
			declare @PersonaExclusionSumatoriaSalario1 table
			(pessId	bigint not null
			,pessPersona	bigint not null
			,pessEstadoExclusion	bit	null
			,pessFechaInicioExclusion date null
			,pessFechaFinExclusion date null
			,ultimaFechaModificacion datetime null
			,operacion int not null
			,comando int null
			,secuencia binary(10), origen varchar (250) null)


			set @query = N' 
			select pessId, pessPersona, pessEstadoExclusion, pessFechaInicioExclusion, pessFechaFinExclusion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PersonaExclusionSumatoriaSalario_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PersonaExclusionSumatoriaSalario1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #PersonaExclusionSumatoriaSalario1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pessId) then 1 else null end as act
				,row_number() over (partition by pessId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PersonaExclusionSumatoriaSalario1)
			select *
			into #PersonaExclusionSumatoriaSalario1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pess 
			set 
				pess.pessPersona = a.pessPersona
				,pess.pessEstadoExclusion = a.pessEstadoExclusion
				,pess.pessFechaInicioExclusion = a.pessFechaInicioExclusion
				,pess.pessFechaFinExclusion = a.pessFechaFinExclusion
				,pess.ultimaFechaModificacion = a.ultimaFechaModificacion
			output 
				inserted.pessId
				,inserted.pessPersona
				,inserted.pessEstadoExclusion
				,inserted.pessFechaInicioExclusion
				,inserted.pessFechaFinExclusion
				,inserted.ultimaFechaModificacion, 4 as operacion, null as origen 
			into dbo.PersonaExclusionSumatoriaSalario_log
			from #PersonaExclusionSumatoriaSalario1 as a
				inner join dbo.PersonaExclusionSumatoriaSalario as pess on a.pessId = pess.pessId
			where (a.ultimaFechaModificacion > pess.ultimaFechaModificacion or pess.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PersonaExclusionSumatoriaSalario1)



			drop table if exists #pessIds
			create table #pessIds (pessId bigInt)
			insert #pessIds
			select pessId from #PersonaExclusionSumatoriaSalario1
			except 
			select pessId from dbo.PersonaExclusionSumatoriaSalario

			insert dbo.PersonaExclusionSumatoriaSalario (pessId,pessPersona,pessEstadoExclusion,pessFechaInicioExclusion,pessFechaFinExclusion,ultimaFechaModificacion)
			output 
			 inserted.pessId
			,inserted.pessPersona
			,inserted.pessEstadoExclusion
			,inserted.pessFechaInicioExclusion
			,inserted.pessFechaFinExclusion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PersonaExclusionSumatoriaSalario_log
			select pessId, pessPersona, pessEstadoExclusion, pessFechaInicioExclusion, pessFechaFinExclusion, ultimaFechaModificacion
			from #PersonaExclusionSumatoriaSalario1
			where pessId in (select pessId from #pessIds)
				and actId = 1

			delete from dbo.PersonaExclusionSumatoriaSalario
			output 
			deleted.pessId, deleted.pessPersona, deleted.pessEstadoExclusion, deleted.pessFechaInicioExclusion, deleted.pessFechaFinExclusion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PersonaExclusionSumatoriaSalario_log
			where pessId in (select pessId from #PersonaExclusionSumatoriaSalario1 where operacion = 1 and actId = 1)

			
	--Inicio Merge tabla PostulacionProveedor


	declare @PostulacionProveedor table
			(prpId	bigint not null
			,prpSolicitudLegalizacionFovis	bigint not null
			,prpProveedor	varchar (30) null
			,prpValorDesembolsoProveedor	numeric null
			,prpUltimaFechaModificacion	datetime null
			,ultimaFechaModificacion	datetime null
			,operacion int not null
			,comando int null
			,secuencia binary(10), origen varchar (250) null)


			set @query = N' 
			select prpId, prpSolicitudLegalizacionFovis, prpProveedor, prpValorDesembolsoProveedor, prpUltimaFechaModificacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PostulacionProveedor_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PostulacionProveedor
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #PostulacionProveedor

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by prpId) then 1 else null end as act
				,row_number() over (partition by prpId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PostulacionProveedor)
			select *
			into #PostulacionProveedor
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.



			update prp 
			set 
			prp.prpId= a.prpId
			,prp.prpSolicitudLegalizacionFovis =a.prpSolicitudLegalizacionFovis
			,prp.prpProveedor = a.prpProveedor
			,prp.prpValorDesembolsoProveedor = a.prpValorDesembolsoProveedor
			,prp.prpUltimaFechaModificacion = a.prpUltimaFechaModificacion
			,prp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output 
				inserted.prpId
				,inserted.prpSolicitudLegalizacionFovis
				,inserted.prpProveedor
				,inserted.prpValorDesembolsoProveedor
				,inserted.prpUltimaFechaModificacion
				,inserted.ultimaFechaModificacion, 4 as operacion, null as origen 
			into dbo.PostulacionProveedor_log
			from #PostulacionProveedor as a
				inner join dbo.PostulacionProveedor as prp  on a.prpId = prp.prpId
			where (a.ultimaFechaModificacion > prp.ultimaFechaModificacion or prp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PostulacionProveedor)



			drop table if exists #prprov
			create table #prprov (prpId bigInt)
			insert #prprov
			select prpId from #PostulacionProveedor
			except 
			select prpId from dbo.PostulacionProveedor

			insert dbo.PostulacionProveedor (prpId,prpSolicitudLegalizacionFovis,prpProveedor,prpValorDesembolsoProveedor,prpUltimaFechaModificacion,ultimaFechaModificacion)
			output 
			 inserted.prpId
			,inserted.prpSolicitudLegalizacionFovis
			,inserted.prpProveedor
			,inserted.prpValorDesembolsoProveedor
			,inserted.prpUltimaFechaModificacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PostulacionProveedor_log
			select prpId, prpSolicitudLegalizacionFovis, prpProveedor, prpValorDesembolsoProveedor, prpUltimaFechaModificacion, ultimaFechaModificacion
			from #PostulacionProveedor
			where prpId in (select prpId from #prprov)
			and actId = 1

			delete from dbo.PostulacionProveedor
			output 
			deleted.prpId, deleted.prpSolicitudLegalizacionFovis, deleted.prpProveedor, deleted.prpValorDesembolsoProveedor, deleted.prpUltimaFechaModificacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PostulacionProveedor_log
			where prpId in (select prpId from #PostulacionProveedor where operacion = 1 and actId = 1)

	

