CREATE OR ALTER   procedure [dbo].[OP_CategoriaAfiliado_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla CategoriaAfiliado

	
			declare @CategoriaAfiliado1 table (ctaId bigint   not null,ctaAfiliado bigint   not null,ctaTipoAfiliado varchar(30)   not null,ctaClasificacion varchar(48)   null,ctaTotalIngresoMesada numeric (19,  5) null,ctaEstadoAfiliacion varchar(8)   not null,ctaFechaFinServicioSinAfiliacion datetime   null,ctaCategoria varchar(50)   not null,ctaMotivoCambioCategoria varchar(50)   null,ctaFechaCambioCategoria datetime   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ctaId, ctaAfiliado, ctaTipoAfiliado, ctaClasificacion, ctaTotalIngresoMesada, ctaEstadoAfiliacion, ctaFechaFinServicioSinAfiliacion, ctaCategoria, ctaMotivoCambioCategoria, ctaFechaCambioCategoria, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CategoriaAfiliado_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CategoriaAfiliado1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CategoriaAfiliado1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ctaId) then 1 else null end as act
				,row_number() over (partition by ctaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CategoriaAfiliado1)
			select *
			into #CategoriaAfiliado1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cta set cta.ctaAfiliado = a.ctaAfiliado, cta.ctaTipoAfiliado = a.ctaTipoAfiliado, cta.ctaClasificacion = a.ctaClasificacion, cta.ctaTotalIngresoMesada = a.ctaTotalIngresoMesada, cta.ctaEstadoAfiliacion = a.ctaEstadoAfiliacion, cta.ctaFechaFinServicioSinAfiliacion = a.ctaFechaFinServicioSinAfiliacion, cta.ctaCategoria = a.ctaCategoria, cta.ctaMotivoCambioCategoria = a.ctaMotivoCambioCategoria, cta.ctaFechaCambioCategoria = a.ctaFechaCambioCategoria, cta.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ctaId, inserted.ctaAfiliado, inserted.ctaTipoAfiliado, inserted.ctaClasificacion, inserted.ctaTotalIngresoMesada, inserted.ctaEstadoAfiliacion, inserted.ctaFechaFinServicioSinAfiliacion, inserted.ctaCategoria, inserted.ctaMotivoCambioCategoria, inserted.ctaFechaCambioCategoria, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CategoriaAfiliado_log
			from #CategoriaAfiliado1 as a
				inner join dbo.CategoriaAfiliado as cta on a.ctaId = cta.ctaId
			where (a.ultimaFechaModificacion > cta.ultimaFechaModificacion or cta.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CategoriaAfiliado1)



			drop table if exists #ctaIds
			create table #ctaIds (ctaId bigInt)
			insert #ctaIds
			select ctaId from #CategoriaAfiliado1
			except 
			select ctaId from dbo.CategoriaAfiliado

			insert dbo.CategoriaAfiliado (ctaId, ctaAfiliado, ctaTipoAfiliado, ctaClasificacion, ctaTotalIngresoMesada, ctaEstadoAfiliacion, ctaFechaFinServicioSinAfiliacion, ctaCategoria, ctaMotivoCambioCategoria, ctaFechaCambioCategoria,ultimaFechaModificacion)
			output inserted.ctaId, inserted.ctaAfiliado, inserted.ctaTipoAfiliado, inserted.ctaClasificacion, inserted.ctaTotalIngresoMesada, inserted.ctaEstadoAfiliacion, inserted.ctaFechaFinServicioSinAfiliacion, inserted.ctaCategoria, inserted.ctaMotivoCambioCategoria, inserted.ctaFechaCambioCategoria
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CategoriaAfiliado_log
			select ctaId, ctaAfiliado, ctaTipoAfiliado, ctaClasificacion, ctaTotalIngresoMesada, ctaEstadoAfiliacion, ctaFechaFinServicioSinAfiliacion, ctaCategoria, ctaMotivoCambioCategoria, ctaFechaCambioCategoria, ultimaFechaModificacion
			from #CategoriaAfiliado1
			where ctaId in (select ctaId from #ctaIds)
				and actId = 1

			delete from dbo.CategoriaAfiliado
			output deleted.ctaId, deleted.ctaAfiliado, deleted.ctaTipoAfiliado, deleted.ctaClasificacion, deleted.ctaTotalIngresoMesada, deleted.ctaEstadoAfiliacion, deleted.ctaFechaFinServicioSinAfiliacion, deleted.ctaCategoria, deleted.ctaMotivoCambioCategoria, deleted.ctaFechaCambioCategoria
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CategoriaAfiliado_log
			where ctaId in (select ctaId from #CategoriaAfiliado1 where operacion = 1 and actId = 1)

		
		
		--Inicio Merge tabla Categoria
	
			declare @Categoria1 table (catId bigint not null, catTipoAfiliado varchar(30) not null, catCategoriaPersona varchar(50) not null, catTipoBeneficiario varchar(30) null, catClasificacion varchar(48) null, catTotalIngresoMesada numeric not null, catFechaCambioCategoria date not null, catMotivoCambioCategoria varchar(60) null, catAfiliadoPrincipal bit not null, catIdAfiliado bigint not null, catIdBeneficiario bigint null, ultimaFechaModificacion datetime null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)
			
			set @query = N' 
			select 	catId,catTipoAfiliado,catCategoriaPersona,catTipoBeneficiario,catClasificacion,catTotalIngresoMesada,catFechaCambioCategoria,catMotivoCambioCategoria,catAfiliadoPrincipal,catIdAfiliado,catIdBeneficiario,
			tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Categoria_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Categoria1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Categoria1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by catId) then 1 else null end as act
				,row_number() over (partition by catId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Categoria1)
			select *
			into #Categoria1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.


			update cat 
			set cat.catTipoAfiliado = a.catTipoAfiliado,cat.catCategoriaPersona = a.catCategoriaPersona,cat.catTipoBeneficiario = a.catTipoBeneficiario,cat.catClasificacion = a.catClasificacion,cat.catTotalIngresoMesada = a.catTotalIngresoMesada,cat.catFechaCambioCategoria = a.catFechaCambioCategoria,cat.catMotivoCambioCategoria = a.catMotivoCambioCategoria,cat.catAfiliadoPrincipal = a.catAfiliadoPrincipal,cat.catIdAfiliado = a.catIdAfiliado,cat.catIdBeneficiario = a.catIdBeneficiario,cat.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.catId, inserted.catTipoAfiliado, inserted.catCategoriaPersona, inserted.catTipoBeneficiario,inserted. catClasificacion, inserted.catTotalIngresoMesada, inserted.catFechaCambioCategoria, inserted.catMotivoCambioCategoria, inserted.catAfiliadoPrincipal, inserted.catIdAfiliado, inserted.catIdBeneficiario, inserted.ultimaFechaModificacion
			, 4 as operacion, null as origen into dbo.Categoria_log
			from #Categoria1 as a
				inner join dbo.Categoria as cat on a.catId = cat.catId
			where (a.ultimaFechaModificacion > cat.ultimaFechaModificacion or cat.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Categoria1)


			drop table if exists #catIds
			create table #catIds (catId bigInt)
			insert #catIds
			select catId from #Categoria1
			except 
			select catId from dbo.Categoria

			insert dbo.Categoria(catId, catTipoAfiliado, catCategoriaPersona, catTipoBeneficiario, catClasificacion, catTotalIngresoMesada, catFechaCambioCategoria, catMotivoCambioCategoria, catAfiliadoPrincipal, catIdAfiliado, catIdBeneficiario, ultimaFechaModificacion)
			output inserted.catId, inserted.catTipoAfiliado, inserted.catCategoriaPersona, inserted.catTipoBeneficiario, inserted.catClasificacion, inserted.catTotalIngresoMesada, inserted.catFechaCambioCategoria, inserted.catMotivoCambioCategoria, inserted.catAfiliadoPrincipal, inserted.catIdAfiliado, inserted.catIdBeneficiario
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Categoria_log
			select catId, catTipoAfiliado, catCategoriaPersona, catTipoBeneficiario, catClasificacion, catTotalIngresoMesada, catFechaCambioCategoria, catMotivoCambioCategoria, catAfiliadoPrincipal, catIdAfiliado, catIdBeneficiario, ultimaFechaModificacion
			from #Categoria1
			where catId in (select catId from #catIds)
				and actId = 1


				while 1 = 1
					begin

						delete top(50000) from dbo.Categoria
						output deleted.catId, deleted.catTipoAfiliado, deleted.catCategoriaPersona, deleted.catTipoBeneficiario, deleted.catClasificacion, deleted.catTotalIngresoMesada, deleted.catFechaCambioCategoria, deleted.catMotivoCambioCategoria, deleted.catAfiliadoPrincipal, deleted.catIdAfiliado, deleted.catIdBeneficiario
						,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Categoria_log
						where catId in (select catId from #Categoria1 where operacion = 1 and actId = 1)

						if @@rowcount = 0 break;

					end

--alter table dbo.Categoria alter column catClasificacion varchar(50)
--alter table reportes.dbo.Categoria_log alter column catClasificacion varchar(50)