	CREATE or alter procedure [dbo].[OP_MedioDePago_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla MedioDePago

	
			declare @MedioDePago1 table (mdpId bigint   not null,mdpTipo varchar(30)   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select mdpId, mdpTipo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_MedioDePago_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @MedioDePago1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #MedioDePago1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by mdpId) then 1 else null end as act
				,row_number() over (partition by mdpId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @MedioDePago1)
			select *
			into #MedioDePago1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update mdp set mdp.mdpTipo = a.mdpTipo, mdp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.mdpId, inserted.mdpTipo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.MedioDePago_log
			from #MedioDePago1 as a
				inner join dbo.MedioDePago as mdp on a.mdpId = mdp.mdpId
			where (a.ultimaFechaModificacion > mdp.ultimaFechaModificacion or mdp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #MedioDePago1)



			drop table if exists #mdpIds
			create table #mdpIds (mdpId bigInt)
			insert #mdpIds
			select mdpId from #MedioDePago1
			except 
			select mdpId from dbo.MedioDePago

			insert dbo.MedioDePago (mdpId, mdpTipo,ultimaFechaModificacion)
			output inserted.mdpId, inserted.mdpTipo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.MedioDePago_log
			select mdpId, mdpTipo, ultimaFechaModificacion
			from #MedioDePago1
			where mdpId in (select mdpId from #mdpIds)
				and actId = 1

			delete from dbo.MedioDePago
			output deleted.mdpId, deleted.mdpTipo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.MedioDePago_log
			where mdpId in (select mdpId from #MedioDePago1 where operacion = 1 and actId = 1)