	CREATE or alter procedure [dbo].[OP_MedAhoRecOfeEntBan_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla AhorroPrevio

	
			declare @AhorroPrevio1 table (ahpId bigint   not null,ahpNombreAhorro varchar(65)   null,ahpEntidad varchar(50)   null,ahpFechaInicial date   null,ahpValor numeric (19,  5) null,ahpFechaInmovilizacion date   null,ahpFechaAdquisicion date   null,ahpPostulacionFOVIS bigint   not null,ahpAhorroMovilizado bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ahpId, ahpNombreAhorro, ahpEntidad, ahpFechaInicial, ahpValor, ahpFechaInmovilizacion, ahpFechaAdquisicion, ahpPostulacionFOVIS, ahpAhorroMovilizado, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_AhorroPrevio_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @AhorroPrevio1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #AhorroPrevio1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ahpId) then 1 else null end as act
				,row_number() over (partition by ahpId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @AhorroPrevio1)
			select *
			into #AhorroPrevio1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ahp set ahp.ahpNombreAhorro = a.ahpNombreAhorro, ahp.ahpEntidad = a.ahpEntidad, ahp.ahpFechaInicial = a.ahpFechaInicial, ahp.ahpValor = a.ahpValor, ahp.ahpFechaInmovilizacion = a.ahpFechaInmovilizacion, ahp.ahpFechaAdquisicion = a.ahpFechaAdquisicion, ahp.ahpPostulacionFOVIS = a.ahpPostulacionFOVIS, ahp.ahpAhorroMovilizado = a.ahpAhorroMovilizado, ahp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ahpId, inserted.ahpNombreAhorro, inserted.ahpEntidad, inserted.ahpFechaInicial, inserted.ahpValor, inserted.ahpFechaInmovilizacion, inserted.ahpFechaAdquisicion, inserted.ahpPostulacionFOVIS, inserted.ahpAhorroMovilizado, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.AhorroPrevio_log
			from #AhorroPrevio1 as a
				inner join dbo.AhorroPrevio as ahp on a.ahpId = ahp.ahpId
			where (a.ultimaFechaModificacion > ahp.ultimaFechaModificacion or ahp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #AhorroPrevio1)



			drop table if exists #ahpIds
			create table #ahpIds (ahpId bigInt)
			insert #ahpIds
			select ahpId from #AhorroPrevio1
			except 
			select ahpId from dbo.AhorroPrevio

			insert dbo.AhorroPrevio (ahpId, ahpNombreAhorro, ahpEntidad, ahpFechaInicial, ahpValor, ahpFechaInmovilizacion, ahpFechaAdquisicion, ahpPostulacionFOVIS, ahpAhorroMovilizado,ultimaFechaModificacion)
			output inserted.ahpId, inserted.ahpNombreAhorro, inserted.ahpEntidad, inserted.ahpFechaInicial, inserted.ahpValor, inserted.ahpFechaInmovilizacion, inserted.ahpFechaAdquisicion, inserted.ahpPostulacionFOVIS, inserted.ahpAhorroMovilizado
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.AhorroPrevio_log
			select ahpId, ahpNombreAhorro, ahpEntidad, ahpFechaInicial, ahpValor, ahpFechaInmovilizacion, ahpFechaAdquisicion, ahpPostulacionFOVIS, ahpAhorroMovilizado, ultimaFechaModificacion
			from #AhorroPrevio1
			where ahpId in (select ahpId from #ahpIds)
				and actId = 1

			delete from dbo.AhorroPrevio
			output deleted.ahpId, deleted.ahpNombreAhorro, deleted.ahpEntidad, deleted.ahpFechaInicial, deleted.ahpValor, deleted.ahpFechaInmovilizacion, deleted.ahpFechaAdquisicion, deleted.ahpPostulacionFOVIS, deleted.ahpAhorroMovilizado
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.AhorroPrevio_log
			where ahpId in (select ahpId from #AhorroPrevio1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Banco

	
			declare @Banco1 table (banId bigint   not null,banCodigoPILA varchar(4)   not null,banNombre varchar(255)   not null,banMedioPago bit   null,banCodigo varchar(8)   null,banNit varchar(18)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select banId, banCodigoPILA, banNombre, banMedioPago, banCodigo, banNit, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Banco_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Banco1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Banco1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by banId) then 1 else null end as act
				,row_number() over (partition by banId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Banco1)
			select *
			into #Banco1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ban set ban.banCodigoPILA = a.banCodigoPILA, ban.banNombre = a.banNombre, ban.banMedioPago = a.banMedioPago, ban.banCodigo = a.banCodigo, ban.banNit = a.banNit, ban.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.banId, inserted.banCodigoPILA, inserted.banNombre, inserted.banMedioPago, inserted.banCodigo, inserted.banNit, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Banco_log
			from #Banco1 as a
				inner join dbo.Banco as ban on a.banId = ban.banId
			where (a.ultimaFechaModificacion > ban.ultimaFechaModificacion or ban.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Banco1)



			drop table if exists #banIds
			create table #banIds (banId bigInt)
			insert #banIds
			select banId from #Banco1
			except 
			select banId from dbo.Banco

			insert dbo.Banco (banId, banCodigoPILA, banNombre, banMedioPago, banCodigo, banNit,ultimaFechaModificacion)
			output inserted.banId, inserted.banCodigoPILA, inserted.banNombre, inserted.banMedioPago, inserted.banCodigo, inserted.banNit
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Banco_log
			select banId, banCodigoPILA, banNombre, banMedioPago, banCodigo, banNit, ultimaFechaModificacion
			from #Banco1
			where banId in (select banId from #banIds)
				and actId = 1

			delete from dbo.Banco
			output deleted.banId, deleted.banCodigoPILA, deleted.banNombre, deleted.banMedioPago, deleted.banCodigo, deleted.banNit
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Banco_log
			where banId in (select banId from #Banco1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla EntidadPagadora

	
			declare @EntidadPagadora1 table (epaId bigint   not null,epaAportante bit   null,epaCanalComunicacion varchar(20)   null,epaEmailComunicacion varchar(255)   null,epaEstadoEntidadPagadora varchar(20)   null,epaMedioComunicacion varchar(50)   null,epaNombreContacto varchar(50)   null,epaEmpresa bigint   null,epaSucursalPagadora bigint   null,epaTipoAfiliacion varchar(50)   null,epaCargoContacto varchar(20)   null,epaFechaCreacion date   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select epaId, epaAportante, epaCanalComunicacion, epaEmailComunicacion, epaEstadoEntidadPagadora, epaMedioComunicacion, epaNombreContacto, epaEmpresa, epaSucursalPagadora, epaTipoAfiliacion, epaCargoContacto, epaFechaCreacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_EntidadPagadora_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @EntidadPagadora1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #EntidadPagadora1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by epaId) then 1 else null end as act
				,row_number() over (partition by epaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @EntidadPagadora1)
			select *
			into #EntidadPagadora1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update epa set epa.epaAportante = a.epaAportante, epa.epaCanalComunicacion = a.epaCanalComunicacion, epa.epaEmailComunicacion = a.epaEmailComunicacion, epa.epaEstadoEntidadPagadora = a.epaEstadoEntidadPagadora, epa.epaMedioComunicacion = a.epaMedioComunicacion, epa.epaNombreContacto = a.epaNombreContacto, epa.epaEmpresa = a.epaEmpresa, epa.epaSucursalPagadora = a.epaSucursalPagadora, epa.epaTipoAfiliacion = a.epaTipoAfiliacion, epa.epaCargoContacto = a.epaCargoContacto, epa.epaFechaCreacion = a.epaFechaCreacion, epa.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.epaId, inserted.epaAportante, inserted.epaCanalComunicacion, inserted.epaEmailComunicacion, inserted.epaEstadoEntidadPagadora, inserted.epaMedioComunicacion, inserted.epaNombreContacto, inserted.epaEmpresa, inserted.epaSucursalPagadora, inserted.epaTipoAfiliacion, inserted.epaCargoContacto, inserted.epaFechaCreacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.EntidadPagadora_log
			from #EntidadPagadora1 as a
				inner join dbo.EntidadPagadora as epa on a.epaId = epa.epaId
			where (a.ultimaFechaModificacion > epa.ultimaFechaModificacion or epa.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #EntidadPagadora1)



			drop table if exists #epaIds
			create table #epaIds (epaId bigInt)
			insert #epaIds
			select epaId from #EntidadPagadora1
			except 
			select epaId from dbo.EntidadPagadora

			insert dbo.EntidadPagadora (epaId, epaAportante, epaCanalComunicacion, epaEmailComunicacion, epaEstadoEntidadPagadora, epaMedioComunicacion, epaNombreContacto, epaEmpresa, epaSucursalPagadora, epaTipoAfiliacion, epaCargoContacto, epaFechaCreacion,ultimaFechaModificacion)
			output inserted.epaId, inserted.epaAportante, inserted.epaCanalComunicacion, inserted.epaEmailComunicacion, inserted.epaEstadoEntidadPagadora, inserted.epaMedioComunicacion, inserted.epaNombreContacto, inserted.epaEmpresa, inserted.epaSucursalPagadora, inserted.epaTipoAfiliacion, inserted.epaCargoContacto, inserted.epaFechaCreacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.EntidadPagadora_log
			select epaId, epaAportante, epaCanalComunicacion, epaEmailComunicacion, epaEstadoEntidadPagadora, epaMedioComunicacion, epaNombreContacto, epaEmpresa, epaSucursalPagadora, epaTipoAfiliacion, epaCargoContacto, epaFechaCreacion, ultimaFechaModificacion
			from #EntidadPagadora1
			where epaId in (select epaId from #epaIds)
				and actId = 1

			delete from dbo.EntidadPagadora
			output deleted.epaId, deleted.epaAportante, deleted.epaCanalComunicacion, deleted.epaEmailComunicacion, deleted.epaEstadoEntidadPagadora, deleted.epaMedioComunicacion, deleted.epaNombreContacto, deleted.epaEmpresa, deleted.epaSucursalPagadora, deleted.epaTipoAfiliacion, deleted.epaCargoContacto, deleted.epaFechaCreacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.EntidadPagadora_log
			where epaId in (select epaId from #EntidadPagadora1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla EstablecimientosMediosPago

	
			declare @EstablecimientosMediosPago1 table (estId int   not null,estCodigo varchar(12)   not null,estNombre varchar(120)   not null,estPersona bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select estId, estCodigo, estNombre, estPersona, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_EstablecimientosMediosPago_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @EstablecimientosMediosPago1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #EstablecimientosMediosPago1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by estId) then 1 else null end as act
				,row_number() over (partition by estId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @EstablecimientosMediosPago1)
			select *
			into #EstablecimientosMediosPago1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update est set est.estCodigo = a.estCodigo, est.estNombre = a.estNombre, est.estPersona = a.estPersona, est.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.estId, inserted.estCodigo, inserted.estNombre, inserted.estPersona, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.EstablecimientosMediosPago_log
			from #EstablecimientosMediosPago1 as a
				inner join dbo.EstablecimientosMediosPago as est on a.estId = est.estId
			where (a.ultimaFechaModificacion > est.ultimaFechaModificacion or est.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #EstablecimientosMediosPago1)



			drop table if exists #estIds
			create table #estIds (estId bigInt)
			insert #estIds
			select estId from #EstablecimientosMediosPago1
			except 
			select estId from dbo.EstablecimientosMediosPago

			insert dbo.EstablecimientosMediosPago (estId, estCodigo, estNombre, estPersona,ultimaFechaModificacion)
			output inserted.estId, inserted.estCodigo, inserted.estNombre, inserted.estPersona
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.EstablecimientosMediosPago_log
			select estId, estCodigo, estNombre, estPersona, ultimaFechaModificacion
			from #EstablecimientosMediosPago1
			where estId in (select estId from #estIds)
				and actId = 1

			delete from dbo.EstablecimientosMediosPago
			output deleted.estId, deleted.estCodigo, deleted.estNombre, deleted.estPersona
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.EstablecimientosMediosPago_log
			where estId in (select estId from #EstablecimientosMediosPago1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla MedioCheque

	
			declare @MedioCheque1 table (mdpId bigint   not null,mecTipoIdentificacionTitular varchar(20)   null,mecNumeroIdentificacionTitular varchar(16)   null,mecDigitoVerificacionTitular smallint   null,mecNombreTitularCuenta varchar(200)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select mdpId, mecTipoIdentificacionTitular, mecNumeroIdentificacionTitular, mecDigitoVerificacionTitular, mecNombreTitularCuenta, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_MedioCheque_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @MedioCheque1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #MedioCheque1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by mdpId) then 1 else null end as act
				,row_number() over (partition by mdpId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @MedioCheque1)
			select *
			into #MedioCheque1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update mdp set mdp.mecTipoIdentificacionTitular = a.mecTipoIdentificacionTitular, mdp.mecNumeroIdentificacionTitular = a.mecNumeroIdentificacionTitular, mdp.mecDigitoVerificacionTitular = a.mecDigitoVerificacionTitular, mdp.mecNombreTitularCuenta = a.mecNombreTitularCuenta, mdp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.mdpId, inserted.mecTipoIdentificacionTitular, inserted.mecNumeroIdentificacionTitular, inserted.mecDigitoVerificacionTitular, inserted.mecNombreTitularCuenta, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.MedioCheque_log
			from #MedioCheque1 as a
				inner join dbo.MedioCheque as mdp on a.mdpId = mdp.mdpId
			where (a.ultimaFechaModificacion > mdp.ultimaFechaModificacion or mdp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #MedioCheque1)



			drop table if exists #mdpIdsCh
			create table #mdpIdsCh (mdpId bigInt)
			insert #mdpIdsCh
			select mdpId from #MedioCheque1
			except 
			select mdpId from dbo.MedioCheque

			insert dbo.MedioCheque (mdpId, mecTipoIdentificacionTitular, mecNumeroIdentificacionTitular, mecDigitoVerificacionTitular, mecNombreTitularCuenta,ultimaFechaModificacion)
			output inserted.mdpId, inserted.mecTipoIdentificacionTitular, inserted.mecNumeroIdentificacionTitular, inserted.mecDigitoVerificacionTitular, inserted.mecNombreTitularCuenta
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.MedioCheque_log
			select mdpId, mecTipoIdentificacionTitular, mecNumeroIdentificacionTitular, mecDigitoVerificacionTitular, mecNombreTitularCuenta, ultimaFechaModificacion
			from #MedioCheque1
			where mdpId in (select mdpId from #mdpIdsCh)
				and actId = 1

			delete from dbo.MedioCheque
			output deleted.mdpId, deleted.mecTipoIdentificacionTitular, deleted.mecNumeroIdentificacionTitular, deleted.mecDigitoVerificacionTitular, deleted.mecNombreTitularCuenta
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.MedioCheque_log
			where mdpId in (select mdpId from #MedioCheque1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla MedioConsignacion

	
			declare @MedioConsignacion1 table (mdpId bigint   not null,mcoBanco bigint   not null,mcoTipoCuenta varchar(30)   not null,mcoNumeroCuenta varchar(30)   not null,mcoTipoIdentificacionTitular varchar(20)   null,mcoNumeroIdentificacionTitular varchar(16)   null,mcoDigitoVerificacionTitular smallint   null,mcoNombreTitularCuenta varchar(200)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select mdpId, mcoBanco, mcoTipoCuenta, mcoNumeroCuenta, mcoTipoIdentificacionTitular, mcoNumeroIdentificacionTitular, mcoDigitoVerificacionTitular, mcoNombreTitularCuenta, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_MedioConsignacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @MedioConsignacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #MedioConsignacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by mdpId) then 1 else null end as act
				,row_number() over (partition by mdpId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @MedioConsignacion1)
			select *
			into #MedioConsignacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update mdp set mdp.mcoBanco = a.mcoBanco, mdp.mcoTipoCuenta = a.mcoTipoCuenta, mdp.mcoNumeroCuenta = a.mcoNumeroCuenta, mdp.mcoTipoIdentificacionTitular = a.mcoTipoIdentificacionTitular, mdp.mcoNumeroIdentificacionTitular = a.mcoNumeroIdentificacionTitular, mdp.mcoDigitoVerificacionTitular = a.mcoDigitoVerificacionTitular, mdp.mcoNombreTitularCuenta = a.mcoNombreTitularCuenta, mdp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.mdpId, inserted.mcoBanco, inserted.mcoTipoCuenta, inserted.mcoNumeroCuenta, inserted.mcoTipoIdentificacionTitular, inserted.mcoNumeroIdentificacionTitular, inserted.mcoDigitoVerificacionTitular, inserted.mcoNombreTitularCuenta, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.MedioConsignacion_log
			from #MedioConsignacion1 as a
				inner join dbo.MedioConsignacion as mdp on a.mdpId = mdp.mdpId
			where (a.ultimaFechaModificacion > mdp.ultimaFechaModificacion or mdp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #MedioConsignacion1)



			drop table if exists #mdpIds
			create table #mdpIdsC (mdpId bigInt)
			insert #mdpIdsC
			select mdpId from #MedioConsignacion1
			except 
			select mdpId from dbo.MedioConsignacion

			insert dbo.MedioConsignacion (mdpId, mcoBanco, mcoTipoCuenta, mcoNumeroCuenta, mcoTipoIdentificacionTitular, mcoNumeroIdentificacionTitular, mcoDigitoVerificacionTitular, mcoNombreTitularCuenta,ultimaFechaModificacion)
			output inserted.mdpId, inserted.mcoBanco, inserted.mcoTipoCuenta, inserted.mcoNumeroCuenta, inserted.mcoTipoIdentificacionTitular, inserted.mcoNumeroIdentificacionTitular, inserted.mcoDigitoVerificacionTitular, inserted.mcoNombreTitularCuenta
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.MedioConsignacion_log
			select mdpId, mcoBanco, mcoTipoCuenta, mcoNumeroCuenta, mcoTipoIdentificacionTitular, mcoNumeroIdentificacionTitular, mcoDigitoVerificacionTitular, mcoNombreTitularCuenta, ultimaFechaModificacion
			from #MedioConsignacion1
			where mdpId in (select mdpId from #mdpIdsC)
				and actId = 1

			delete from dbo.MedioConsignacion
			output deleted.mdpId, deleted.mcoBanco, deleted.mcoTipoCuenta, deleted.mcoNumeroCuenta, deleted.mcoTipoIdentificacionTitular, deleted.mcoNumeroIdentificacionTitular, deleted.mcoDigitoVerificacionTitular, deleted.mcoNombreTitularCuenta
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.MedioConsignacion_log
			where mdpId in (select mdpId from #MedioConsignacion1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla MedioPagoProyectoVivienda

	
			declare @MedioPagoProyectoVivienda1 table (mprId bigint   not null,mprProyectoSolucionVivienda bigint   not null,mprMedioDePago bigint   not null,mprActivo bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select mprId, mprProyectoSolucionVivienda, mprMedioDePago, mprActivo, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_MedioPagoProyectoVivienda_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @MedioPagoProyectoVivienda1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #MedioPagoProyectoVivienda1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by mprId) then 1 else null end as act
				,row_number() over (partition by mprId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @MedioPagoProyectoVivienda1)
			select *
			into #MedioPagoProyectoVivienda1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update mpr set mpr.mprProyectoSolucionVivienda = a.mprProyectoSolucionVivienda, mpr.mprMedioDePago = a.mprMedioDePago, mpr.mprActivo = a.mprActivo, mpr.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.mprId, inserted.mprProyectoSolucionVivienda, inserted.mprMedioDePago, inserted.mprActivo, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.MedioPagoProyectoVivienda_log
			from #MedioPagoProyectoVivienda1 as a
				inner join dbo.MedioPagoProyectoVivienda as mpr on a.mprId = mpr.mprId
			where (a.ultimaFechaModificacion > mpr.ultimaFechaModificacion or mpr.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #MedioPagoProyectoVivienda1)



			drop table if exists #mprIds
			create table #mprIds (mprId bigInt)
			insert #mprIds
			select mprId from #MedioPagoProyectoVivienda1
			except 
			select mprId from dbo.MedioPagoProyectoVivienda

			insert dbo.MedioPagoProyectoVivienda (mprId, mprProyectoSolucionVivienda, mprMedioDePago, mprActivo,ultimaFechaModificacion)
			output inserted.mprId, inserted.mprProyectoSolucionVivienda, inserted.mprMedioDePago, inserted.mprActivo
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.MedioPagoProyectoVivienda_log
			select mprId, mprProyectoSolucionVivienda, mprMedioDePago, mprActivo, ultimaFechaModificacion
			from #MedioPagoProyectoVivienda1
			where mprId in (select mprId from #mprIds)
				and actId = 1

			delete from dbo.MedioPagoProyectoVivienda
			output deleted.mprId, deleted.mprProyectoSolucionVivienda, deleted.mprMedioDePago, deleted.mprActivo
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.MedioPagoProyectoVivienda_log
			where mprId in (select mprId from #MedioPagoProyectoVivienda1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla MedioTarjeta

	
			declare @MedioTarjeta1 table (mdpId bigint   not null,mtrNumeroTarjeta varchar(50)   not null,mtrDisponeTarjeta bit   not null,mtrEstadoTarjetaMultiservicios varchar(30)   not null,mtrSolicitudTarjeta varchar(30)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select mdpId, mtrNumeroTarjeta, mtrDisponeTarjeta, mtrEstadoTarjetaMultiservicios, mtrSolicitudTarjeta, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_MedioTarjeta_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @MedioTarjeta1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #MedioTarjeta1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by mdpId) then 1 else null end as act
				,row_number() over (partition by mdpId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @MedioTarjeta1)
			select *
			into #MedioTarjeta1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update mdp set mdp.mtrNumeroTarjeta = a.mtrNumeroTarjeta, mdp.mtrDisponeTarjeta = a.mtrDisponeTarjeta, mdp.mtrEstadoTarjetaMultiservicios = a.mtrEstadoTarjetaMultiservicios, mdp.mtrSolicitudTarjeta = a.mtrSolicitudTarjeta, mdp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.mdpId, inserted.mtrNumeroTarjeta, inserted.mtrDisponeTarjeta, inserted.mtrEstadoTarjetaMultiservicios, inserted.mtrSolicitudTarjeta, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.MedioTarjeta_log
			from #MedioTarjeta1 as a
				inner join dbo.MedioTarjeta as mdp on a.mdpId = mdp.mdpId
			where (a.ultimaFechaModificacion > mdp.ultimaFechaModificacion or mdp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #MedioTarjeta1)



			drop table if exists #mdpIdsMT
			create table #mdpIdsMT (mdpId bigInt)
			insert #mdpIdsMT
			select mdpId from #MedioTarjeta1
			except 
			select mdpId from dbo.MedioTarjeta

			insert dbo.MedioTarjeta (mdpId, mtrNumeroTarjeta, mtrDisponeTarjeta, mtrEstadoTarjetaMultiservicios, mtrSolicitudTarjeta,ultimaFechaModificacion)
			output inserted.mdpId, inserted.mtrNumeroTarjeta, inserted.mtrDisponeTarjeta, inserted.mtrEstadoTarjetaMultiservicios, inserted.mtrSolicitudTarjeta
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.MedioTarjeta_log
			select mdpId, mtrNumeroTarjeta, mtrDisponeTarjeta, mtrEstadoTarjetaMultiservicios, mtrSolicitudTarjeta, ultimaFechaModificacion
			from #MedioTarjeta1
			where mdpId in (select mdpId from #mdpIdsMT)
				and actId = 1

			delete from dbo.MedioTarjeta
			output deleted.mdpId, deleted.mtrNumeroTarjeta, deleted.mtrDisponeTarjeta, deleted.mtrEstadoTarjetaMultiservicios, deleted.mtrSolicitudTarjeta
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.MedioTarjeta_log
			where mdpId in (select mdpId from #MedioTarjeta1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla MedioTransferencia

	
			declare @MedioTransferencia1 table (mdpId bigint   not null,metBanco bigint   not null,metTipoCuenta varchar(30)   not null,metNumeroCuenta varchar(30)   not null,metTipoIdentificacionTitular varchar(20)   null,metNumeroIdentificacionTitular varchar(16)   null,metDigitoVerificacionTitular smallint   null,metNombreTitularCuenta varchar(200)   null,metCobroJudicial bit   null,metInfoRelacionadaCobroJudicial varchar(50)   null,metCuentaOficinaJudicial varchar(50)   null,metNumeroOficioJudicial varchar(50)   null,metNumeroRadicadoJuzgado varchar(50)   null,metCodigoOficinaJuzgado varchar(50)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select mdpId, metBanco, metTipoCuenta, metNumeroCuenta, metTipoIdentificacionTitular, metNumeroIdentificacionTitular, metDigitoVerificacionTitular, metNombreTitularCuenta, metCobroJudicial, metInfoRelacionadaCobroJudicial, metCuentaOficinaJudicial, metNumeroOficioJudicial, metNumeroRadicadoJuzgado, metCodigoOficinaJuzgado, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_MedioTransferencia_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @MedioTransferencia1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #MedioTransferencia1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by mdpId) then 1 else null end as act
				,row_number() over (partition by mdpId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @MedioTransferencia1)
			select *
			into #MedioTransferencia1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update mdp set mdp.metBanco = a.metBanco, mdp.metTipoCuenta = a.metTipoCuenta, mdp.metNumeroCuenta = a.metNumeroCuenta, mdp.metTipoIdentificacionTitular = a.metTipoIdentificacionTitular, mdp.metNumeroIdentificacionTitular = a.metNumeroIdentificacionTitular, mdp.metDigitoVerificacionTitular = a.metDigitoVerificacionTitular, mdp.metNombreTitularCuenta = a.metNombreTitularCuenta, mdp.metCobroJudicial = a.metCobroJudicial, mdp.metInfoRelacionadaCobroJudicial = a.metInfoRelacionadaCobroJudicial, mdp.metCuentaOficinaJudicial = a.metCuentaOficinaJudicial, mdp.metNumeroOficioJudicial = a.metNumeroOficioJudicial, mdp.metNumeroRadicadoJuzgado = a.metNumeroRadicadoJuzgado, mdp.metCodigoOficinaJuzgado = a.metCodigoOficinaJuzgado, mdp.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.mdpId, inserted.metBanco, inserted.metTipoCuenta, inserted.metNumeroCuenta, inserted.metTipoIdentificacionTitular, inserted.metNumeroIdentificacionTitular, inserted.metDigitoVerificacionTitular, inserted.metNombreTitularCuenta, inserted.metCobroJudicial, inserted.metInfoRelacionadaCobroJudicial, inserted.metCuentaOficinaJudicial, inserted.metNumeroOficioJudicial, inserted.metNumeroRadicadoJuzgado, inserted.metCodigoOficinaJuzgado, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.MedioTransferencia_log
			from #MedioTransferencia1 as a
				inner join dbo.MedioTransferencia as mdp on a.mdpId = mdp.mdpId
			where (a.ultimaFechaModificacion > mdp.ultimaFechaModificacion or mdp.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #MedioTransferencia1)



			drop table if exists #mdpIdsTR
			create table #mdpIdsTR (mdpId bigInt)
			insert #mdpIdsTR
			select mdpId from #MedioTransferencia1
			except 
			select mdpId from dbo.MedioTransferencia

			insert dbo.MedioTransferencia (mdpId, metBanco, metTipoCuenta, metNumeroCuenta, metTipoIdentificacionTitular, metNumeroIdentificacionTitular, metDigitoVerificacionTitular, metNombreTitularCuenta, metCobroJudicial, metInfoRelacionadaCobroJudicial, metCuentaOficinaJudicial, metNumeroOficioJudicial, metNumeroRadicadoJuzgado, metCodigoOficinaJuzgado,ultimaFechaModificacion)
			output inserted.mdpId, inserted.metBanco, inserted.metTipoCuenta, inserted.metNumeroCuenta, inserted.metTipoIdentificacionTitular, inserted.metNumeroIdentificacionTitular, inserted.metDigitoVerificacionTitular, inserted.metNombreTitularCuenta, inserted.metCobroJudicial, inserted.metInfoRelacionadaCobroJudicial, inserted.metCuentaOficinaJudicial, inserted.metNumeroOficioJudicial, inserted.metNumeroRadicadoJuzgado, inserted.metCodigoOficinaJuzgado
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.MedioTransferencia_log
			select mdpId, metBanco, metTipoCuenta, metNumeroCuenta, metTipoIdentificacionTitular, metNumeroIdentificacionTitular, metDigitoVerificacionTitular, metNombreTitularCuenta, metCobroJudicial, metInfoRelacionadaCobroJudicial, metCuentaOficinaJudicial, metNumeroOficioJudicial, metNumeroRadicadoJuzgado, metCodigoOficinaJuzgado, ultimaFechaModificacion
			from #MedioTransferencia1
			where mdpId in (select mdpId from #mdpIdsTR)
				and actId = 1

			delete from dbo.MedioTransferencia
			output deleted.mdpId, deleted.metBanco, deleted.metTipoCuenta, deleted.metNumeroCuenta, deleted.metTipoIdentificacionTitular, deleted.metNumeroIdentificacionTitular, deleted.metDigitoVerificacionTitular, deleted.metNombreTitularCuenta, deleted.metCobroJudicial, deleted.metInfoRelacionadaCobroJudicial, deleted.metCuentaOficinaJudicial, deleted.metNumeroOficioJudicial, deleted.metNumeroRadicadoJuzgado, deleted.metCodigoOficinaJuzgado
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.MedioTransferencia_log
			where mdpId in (select mdpId from #MedioTransferencia1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Oferente

	
			declare @Oferente1 table (ofeId bigint   not null,ofePersona bigint   not null,ofeEmpresa bigint   null,ofeEstado varchar(30)   null,ofeCuentaBancaria bit   null,ofeBanco bigint   null,ofeTipoCuenta varchar(30)   null,ofeNumeroCuenta varchar(30)   null,ofeTipoIdentificacionTitular varchar(20)   null,ofeNumeroIdentificacionTitular varchar(16)   null,ofeDigitoVerificacionTitular smallint   null,ofeNombreTitularCuenta varchar(200)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ofeId, ofePersona, ofeEmpresa, ofeEstado, ofeCuentaBancaria, ofeBanco, ofeTipoCuenta, ofeNumeroCuenta, ofeTipoIdentificacionTitular, ofeNumeroIdentificacionTitular, ofeDigitoVerificacionTitular, ofeNombreTitularCuenta, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Oferente_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Oferente1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Oferente1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ofeId) then 1 else null end as act
				,row_number() over (partition by ofeId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Oferente1)
			select *
			into #Oferente1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ofe set ofe.ofePersona = a.ofePersona, ofe.ofeEmpresa = a.ofeEmpresa, ofe.ofeEstado = a.ofeEstado, ofe.ofeCuentaBancaria = a.ofeCuentaBancaria, ofe.ofeBanco = a.ofeBanco, ofe.ofeTipoCuenta = a.ofeTipoCuenta, ofe.ofeNumeroCuenta = a.ofeNumeroCuenta, ofe.ofeTipoIdentificacionTitular = a.ofeTipoIdentificacionTitular, ofe.ofeNumeroIdentificacionTitular = a.ofeNumeroIdentificacionTitular, ofe.ofeDigitoVerificacionTitular = a.ofeDigitoVerificacionTitular, ofe.ofeNombreTitularCuenta = a.ofeNombreTitularCuenta, ofe.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ofeId, inserted.ofePersona, inserted.ofeEmpresa, inserted.ofeEstado, inserted.ofeCuentaBancaria, inserted.ofeBanco, inserted.ofeTipoCuenta, inserted.ofeNumeroCuenta, inserted.ofeTipoIdentificacionTitular, inserted.ofeNumeroIdentificacionTitular, inserted.ofeDigitoVerificacionTitular, inserted.ofeNombreTitularCuenta, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Oferente_log
			from #Oferente1 as a
				inner join dbo.Oferente as ofe on a.ofeId = ofe.ofeId
			where (a.ultimaFechaModificacion > ofe.ultimaFechaModificacion or ofe.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Oferente1)



			drop table if exists #ofeIds
			create table #ofeIds (ofeId bigInt)
			insert #ofeIds
			select ofeId from #Oferente1
			except 
			select ofeId from dbo.Oferente

			insert dbo.Oferente (ofeId, ofePersona, ofeEmpresa, ofeEstado, ofeCuentaBancaria, ofeBanco, ofeTipoCuenta, ofeNumeroCuenta, ofeTipoIdentificacionTitular, ofeNumeroIdentificacionTitular, ofeDigitoVerificacionTitular, ofeNombreTitularCuenta,ultimaFechaModificacion)
			output inserted.ofeId, inserted.ofePersona, inserted.ofeEmpresa, inserted.ofeEstado, inserted.ofeCuentaBancaria, inserted.ofeBanco, inserted.ofeTipoCuenta, inserted.ofeNumeroCuenta, inserted.ofeTipoIdentificacionTitular, inserted.ofeNumeroIdentificacionTitular, inserted.ofeDigitoVerificacionTitular, inserted.ofeNombreTitularCuenta
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Oferente_log
			select ofeId, ofePersona, ofeEmpresa, ofeEstado, ofeCuentaBancaria, ofeBanco, ofeTipoCuenta, ofeNumeroCuenta, ofeTipoIdentificacionTitular, ofeNumeroIdentificacionTitular, ofeDigitoVerificacionTitular, ofeNombreTitularCuenta, ultimaFechaModificacion
			from #Oferente1
			where ofeId in (select ofeId from #ofeIds)
				and actId = 1

			delete from dbo.Oferente
			output deleted.ofeId, deleted.ofePersona, deleted.ofeEmpresa, deleted.ofeEstado, deleted.ofeCuentaBancaria, deleted.ofeBanco, deleted.ofeTipoCuenta, deleted.ofeNumeroCuenta, deleted.ofeTipoIdentificacionTitular, deleted.ofeNumeroIdentificacionTitular, deleted.ofeDigitoVerificacionTitular, deleted.ofeNombreTitularCuenta
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Oferente_log
			where ofeId in (select ofeId from #Oferente1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla RecursoComplementario

	
			declare @RecursoComplementario1 table (recId bigint   not null,recNombre varchar(26)   null,recEntidad varchar(50)   null,recFecha date   null,recOtroRecurso varchar(255)   null,recValor numeric (19,  5) null,recPostulacionFOVIS bigint   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select recId, recNombre, recEntidad, recFecha, recOtroRecurso, recValor, recPostulacionFOVIS, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_RecursoComplementario_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @RecursoComplementario1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #RecursoComplementario1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by recId) then 1 else null end as act
				,row_number() over (partition by recId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @RecursoComplementario1)
			select *
			into #RecursoComplementario1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update rec set rec.recNombre = a.recNombre, rec.recEntidad = a.recEntidad, rec.recFecha = a.recFecha, rec.recOtroRecurso = a.recOtroRecurso, rec.recValor = a.recValor, rec.recPostulacionFOVIS = a.recPostulacionFOVIS, rec.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.recId, inserted.recNombre, inserted.recEntidad, inserted.recFecha, inserted.recOtroRecurso, inserted.recValor, inserted.recPostulacionFOVIS, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.RecursoComplementario_log
			from #RecursoComplementario1 as a
				inner join dbo.RecursoComplementario as rec on a.recId = rec.recId
			where (a.ultimaFechaModificacion > rec.ultimaFechaModificacion or rec.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #RecursoComplementario1)



			drop table if exists #recIds
			create table #recIds (recId bigInt)
			insert #recIds
			select recId from #RecursoComplementario1
			except 
			select recId from dbo.RecursoComplementario

			insert dbo.RecursoComplementario (recId, recNombre, recEntidad, recFecha, recOtroRecurso, recValor, recPostulacionFOVIS,ultimaFechaModificacion)
			output inserted.recId, inserted.recNombre, inserted.recEntidad, inserted.recFecha, inserted.recOtroRecurso, inserted.recValor, inserted.recPostulacionFOVIS
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.RecursoComplementario_log
			select recId, recNombre, recEntidad, recFecha, recOtroRecurso, recValor, recPostulacionFOVIS, ultimaFechaModificacion
			from #RecursoComplementario1
			where recId in (select recId from #recIds)
				and actId = 1

			delete from dbo.RecursoComplementario
			output deleted.recId, deleted.recNombre, deleted.recEntidad, deleted.recFecha, deleted.recOtroRecurso, deleted.recValor, deleted.recPostulacionFOVIS
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.RecursoComplementario_log
			where recId in (select recId from #RecursoComplementario1 where operacion = 1 and actId = 1)