CREATE or alter procedure [dbo].[OP_registroGeneral_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla registroGeneral

	
			declare @registroGeneral1 table (regId bigint   not null,regTransaccion bigint   null,regEsAportePensionados bit   not null,regNombreAportante varchar(200)   not null,regTipoIdentificacionAportante varchar(20)   not null,regNumeroIdentificacionAportante varchar(16)   not null,regDigVerAportante smallint   null,regPeriodoAporte varchar(7)   not null,regTipoPlanilla varchar(1)   null,regClaseAportante varchar(1)   null,regCodSucursal varchar(10)   null,regNomSucursal varchar(40)   null,regDireccion varchar(40)   null,regCodCiudad varchar(3)   null,regCodDepartamento varchar(2)   null,regTelefono bigint   null,regFax bigint   null,regEmail varchar(60)   null,regFechaMatricula date   null,regNaturalezaJuridica smallint   null,regCantPensionados int   null,regModalidadPlanilla smallint   null,regValTotalApoObligatorio numeric (19,  5) null,regValorIntMora numeric (19,  5) null,regFechaRecaudo date   null,regCodigoEntidadFinanciera smallint   null,regOperadorInformacion bigint   null,regNumeroCuenta varchar(17)   null,regFechaActualizacion date   null,regRegistroControl bigint   null,regRegistroControlManual bigint   null,regRegistroFControl bigint   null,regOUTTarifaEmpleador numeric (19,  5) null,regOUTFinalizadoProcesoManual bit   null,regOUTEsEmpleador bit   null,regOUTEstadoEmpleador varchar(50)   null,regOUTTipoBeneficio varchar(10)   null,regOUTBeneficioActivo bit   null,regOUTEsEmpleadorReintegrable bit   null,regOUTEstadoArchivo varchar(60)   null,regNumPlanilla varchar(12)   null,regNovedadFutura bit   null,regOUTTarifaBaseEmpleador numeric (5,  5) null,regOUTSMMLV numeric (19,  5) null,regEsSimulado bit   not null,regEstadoEvaluacion varchar(22)   not null,regOUTMarcaSucursalPILA bit   null,regOUTCodSucursalPrincipal varchar(10)   null,regOUTNomSucursalPrincipal varchar(100)   null,regOUTEnviadoAFiscalizacion bit   null,regOUTMotivoFiscalizacion varchar(30)   null,regOUTNovedadFuturaProcesada bit   null,regOUTMotivoProcesoManual varchar(20)   null,regNumPlanillaAsociada varchar(10)   null,regOUTPrimerNombreAportante varchar(20)   null,regOUTSegundoNombreAportante varchar(30)   null,regOUTPrimerApellidoAportante varchar(20)   null,regOUTSegundoApellidoAportante varchar(30)   null,regDiasMora smallint   null,regFechaPagoAporte date   null,regFormaPresentacion varchar(1)   null,regCantidadEmpleados int   null,regCantidadAfiliados int   null,regTipoPersona varchar(1)   null,regOUTEnProceso bit   null,regCantidadReg2 int   null,regFechaPagoPlanillaAsociada date   null,regOUTRegistroActual bit   null,regOUTReginicial bigint   null,regDateTimeInsert datetime   null,regDateTimeUpdate datetime   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select regId, regTransaccion, regEsAportePensionados, regNombreAportante, regTipoIdentificacionAportante, regNumeroIdentificacionAportante, regDigVerAportante, regPeriodoAporte, regTipoPlanilla, regClaseAportante, regCodSucursal, regNomSucursal, regDireccion, regCodCiudad, regCodDepartamento, regTelefono, regFax, regEmail, regFechaMatricula, regNaturalezaJuridica, regCantPensionados, regModalidadPlanilla, regValTotalApoObligatorio, regValorIntMora, regFechaRecaudo, regCodigoEntidadFinanciera, regOperadorInformacion, regNumeroCuenta, regFechaActualizacion, regRegistroControl, regRegistroControlManual, regRegistroFControl, regOUTTarifaEmpleador, regOUTFinalizadoProcesoManual, regOUTEsEmpleador, regOUTEstadoEmpleador, regOUTTipoBeneficio, regOUTBeneficioActivo, regOUTEsEmpleadorReintegrable, regOUTEstadoArchivo, regNumPlanilla, regNovedadFutura, regOUTTarifaBaseEmpleador, regOUTSMMLV, regEsSimulado, regEstadoEvaluacion, regOUTMarcaSucursalPILA, regOUTCodSucursalPrincipal, regOUTNomSucursalPrincipal, regOUTEnviadoAFiscalizacion, regOUTMotivoFiscalizacion, regOUTNovedadFuturaProcesada, regOUTMotivoProcesoManual, regNumPlanillaAsociada, regOUTPrimerNombreAportante, regOUTSegundoNombreAportante, regOUTPrimerApellidoAportante, regOUTSegundoApellidoAportante, regDiasMora, regFechaPagoAporte, regFormaPresentacion, regCantidadEmpleados, regCantidadAfiliados, regTipoPersona, regOUTEnProceso, regCantidadReg2, regFechaPagoPlanillaAsociada, regOUTRegistroActual, regOUTReginicial, regDateTimeInsert, regDateTimeUpdate, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.staging_registroGeneral_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @registroGeneral1
			execute sp_execute_remote PilaReferenceData, @query
	
			drop table if exists #registroGeneral1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by regId) then 1 else null end as act
				,row_number() over (partition by regId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @registroGeneral1)
			select *
			into #registroGeneral1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update reg set reg.regTransaccion = a.regTransaccion, reg.regEsAportePensionados = a.regEsAportePensionados, reg.regNombreAportante = a.regNombreAportante, reg.regTipoIdentificacionAportante = a.regTipoIdentificacionAportante, reg.regNumeroIdentificacionAportante = a.regNumeroIdentificacionAportante, reg.regDigVerAportante = a.regDigVerAportante, reg.regPeriodoAporte = a.regPeriodoAporte, reg.regTipoPlanilla = a.regTipoPlanilla, reg.regClaseAportante = a.regClaseAportante, reg.regCodSucursal = a.regCodSucursal, reg.regNomSucursal = a.regNomSucursal, reg.regDireccion = a.regDireccion, reg.regCodCiudad = a.regCodCiudad, reg.regCodDepartamento = a.regCodDepartamento, reg.regTelefono = a.regTelefono, reg.regFax = a.regFax, reg.regEmail = a.regEmail, reg.regFechaMatricula = a.regFechaMatricula, reg.regNaturalezaJuridica = a.regNaturalezaJuridica, reg.regCantPensionados = a.regCantPensionados, reg.regModalidadPlanilla = a.regModalidadPlanilla, reg.regValTotalApoObligatorio = a.regValTotalApoObligatorio, reg.regValorIntMora = a.regValorIntMora, reg.regFechaRecaudo = a.regFechaRecaudo, reg.regCodigoEntidadFinanciera = a.regCodigoEntidadFinanciera, reg.regOperadorInformacion = a.regOperadorInformacion, reg.regNumeroCuenta = a.regNumeroCuenta, reg.regFechaActualizacion = a.regFechaActualizacion, reg.regRegistroControl = a.regRegistroControl, reg.regRegistroControlManual = a.regRegistroControlManual, reg.regRegistroFControl = a.regRegistroFControl, reg.regOUTTarifaEmpleador = a.regOUTTarifaEmpleador, reg.regOUTFinalizadoProcesoManual = a.regOUTFinalizadoProcesoManual, reg.regOUTEsEmpleador = a.regOUTEsEmpleador, reg.regOUTEstadoEmpleador = a.regOUTEstadoEmpleador, reg.regOUTTipoBeneficio = a.regOUTTipoBeneficio, reg.regOUTBeneficioActivo = a.regOUTBeneficioActivo, reg.regOUTEsEmpleadorReintegrable = a.regOUTEsEmpleadorReintegrable, reg.regOUTEstadoArchivo = a.regOUTEstadoArchivo, reg.regNumPlanilla = a.regNumPlanilla, reg.regNovedadFutura = a.regNovedadFutura, reg.regOUTTarifaBaseEmpleador = a.regOUTTarifaBaseEmpleador, reg.regOUTSMMLV = a.regOUTSMMLV, reg.regEsSimulado = a.regEsSimulado, reg.regEstadoEvaluacion = a.regEstadoEvaluacion, reg.regOUTMarcaSucursalPILA = a.regOUTMarcaSucursalPILA, reg.regOUTCodSucursalPrincipal = a.regOUTCodSucursalPrincipal, reg.regOUTNomSucursalPrincipal = a.regOUTNomSucursalPrincipal, reg.regOUTEnviadoAFiscalizacion = a.regOUTEnviadoAFiscalizacion, reg.regOUTMotivoFiscalizacion = a.regOUTMotivoFiscalizacion, reg.regOUTNovedadFuturaProcesada = a.regOUTNovedadFuturaProcesada, reg.regOUTMotivoProcesoManual = a.regOUTMotivoProcesoManual, reg.regNumPlanillaAsociada = a.regNumPlanillaAsociada, reg.regOUTPrimerNombreAportante = a.regOUTPrimerNombreAportante, reg.regOUTSegundoNombreAportante = a.regOUTSegundoNombreAportante, reg.regOUTPrimerApellidoAportante = a.regOUTPrimerApellidoAportante, reg.regOUTSegundoApellidoAportante = a.regOUTSegundoApellidoAportante, reg.regDiasMora = a.regDiasMora, reg.regFechaPagoAporte = a.regFechaPagoAporte, reg.regFormaPresentacion = a.regFormaPresentacion, reg.regCantidadEmpleados = a.regCantidadEmpleados, reg.regCantidadAfiliados = a.regCantidadAfiliados, reg.regTipoPersona = a.regTipoPersona, reg.regOUTEnProceso = a.regOUTEnProceso, reg.regCantidadReg2 = a.regCantidadReg2, reg.regFechaPagoPlanillaAsociada = a.regFechaPagoPlanillaAsociada, reg.regOUTRegistroActual = a.regOUTRegistroActual, reg.regOUTReginicial = a.regOUTReginicial, reg.regDateTimeInsert = a.regDateTimeInsert, reg.regDateTimeUpdate = a.regDateTimeUpdate, reg.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.regId, inserted.regTransaccion, inserted.regEsAportePensionados, inserted.regNombreAportante, inserted.regTipoIdentificacionAportante, inserted.regNumeroIdentificacionAportante, inserted.regDigVerAportante, inserted.regPeriodoAporte, inserted.regTipoPlanilla, inserted.regClaseAportante, inserted.regCodSucursal, inserted.regNomSucursal, inserted.regDireccion, inserted.regCodCiudad, inserted.regCodDepartamento, inserted.regTelefono, inserted.regFax, inserted.regEmail, inserted.regFechaMatricula, inserted.regNaturalezaJuridica, inserted.regCantPensionados, inserted.regModalidadPlanilla, inserted.regValTotalApoObligatorio, inserted.regValorIntMora, inserted.regFechaRecaudo, inserted.regCodigoEntidadFinanciera, inserted.regOperadorInformacion, inserted.regNumeroCuenta, inserted.regFechaActualizacion, inserted.regRegistroControl, inserted.regRegistroControlManual, inserted.regRegistroFControl, inserted.regOUTTarifaEmpleador, inserted.regOUTFinalizadoProcesoManual, inserted.regOUTEsEmpleador, inserted.regOUTEstadoEmpleador, inserted.regOUTTipoBeneficio, inserted.regOUTBeneficioActivo, inserted.regOUTEsEmpleadorReintegrable, inserted.regOUTEstadoArchivo, inserted.regNumPlanilla, inserted.regNovedadFutura, inserted.regOUTTarifaBaseEmpleador, inserted.regOUTSMMLV, inserted.regEsSimulado, inserted.regEstadoEvaluacion, inserted.regOUTMarcaSucursalPILA, inserted.regOUTCodSucursalPrincipal, inserted.regOUTNomSucursalPrincipal, inserted.regOUTEnviadoAFiscalizacion, inserted.regOUTMotivoFiscalizacion, inserted.regOUTNovedadFuturaProcesada, inserted.regOUTMotivoProcesoManual, inserted.regNumPlanillaAsociada, inserted.regOUTPrimerNombreAportante, inserted.regOUTSegundoNombreAportante, inserted.regOUTPrimerApellidoAportante, inserted.regOUTSegundoApellidoAportante, inserted.regDiasMora, inserted.regFechaPagoAporte, inserted.regFormaPresentacion, inserted.regCantidadEmpleados, inserted.regCantidadAfiliados, inserted.regTipoPersona, inserted.regOUTEnProceso, inserted.regCantidadReg2, inserted.regFechaPagoPlanillaAsociada, inserted.regOUTRegistroActual, inserted.regOUTReginicial, inserted.regDateTimeInsert, inserted.regDateTimeUpdate, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.registroGeneral_log
			from #registroGeneral1 as a
				inner join dbo.registroGeneral2 as reg on a.regId = reg.regId
			where (a.ultimaFechaModificacion > reg.ultimaFechaModificacion or reg.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #registroGeneral1)



			drop table if exists #regIds
			create table #regIds (regId bigInt)
			insert #regIds
			select regId from #registroGeneral1
			except 
			select regId from dbo.registroGeneral2

			insert dbo.registroGeneral2 (regId, regTransaccion, regEsAportePensionados, regNombreAportante, regTipoIdentificacionAportante, regNumeroIdentificacionAportante, regDigVerAportante, regPeriodoAporte, regTipoPlanilla, regClaseAportante, regCodSucursal, regNomSucursal, regDireccion, regCodCiudad, regCodDepartamento, regTelefono, regFax, regEmail, regFechaMatricula, regNaturalezaJuridica, regCantPensionados, regModalidadPlanilla, regValTotalApoObligatorio, regValorIntMora, regFechaRecaudo, regCodigoEntidadFinanciera, regOperadorInformacion, regNumeroCuenta, regFechaActualizacion, regRegistroControl, regRegistroControlManual, regRegistroFControl, regOUTTarifaEmpleador, regOUTFinalizadoProcesoManual, regOUTEsEmpleador, regOUTEstadoEmpleador, regOUTTipoBeneficio, regOUTBeneficioActivo, regOUTEsEmpleadorReintegrable, regOUTEstadoArchivo, regNumPlanilla, regNovedadFutura, regOUTTarifaBaseEmpleador, regOUTSMMLV, regEsSimulado, regEstadoEvaluacion, regOUTMarcaSucursalPILA, regOUTCodSucursalPrincipal, regOUTNomSucursalPrincipal, regOUTEnviadoAFiscalizacion, regOUTMotivoFiscalizacion, regOUTNovedadFuturaProcesada, regOUTMotivoProcesoManual, regNumPlanillaAsociada, regOUTPrimerNombreAportante, regOUTSegundoNombreAportante, regOUTPrimerApellidoAportante, regOUTSegundoApellidoAportante, regDiasMora, regFechaPagoAporte, regFormaPresentacion, regCantidadEmpleados, regCantidadAfiliados, regTipoPersona, regOUTEnProceso, regCantidadReg2, regFechaPagoPlanillaAsociada, regOUTRegistroActual, regOUTReginicial, regDateTimeInsert, regDateTimeUpdate, ultimaFechaModificacion)
			output inserted.regId, inserted.regTransaccion, inserted.regEsAportePensionados, inserted.regNombreAportante, inserted.regTipoIdentificacionAportante, inserted.regNumeroIdentificacionAportante, inserted.regDigVerAportante, inserted.regPeriodoAporte, inserted.regTipoPlanilla, inserted.regClaseAportante, inserted.regCodSucursal, inserted.regNomSucursal, inserted.regDireccion, inserted.regCodCiudad, inserted.regCodDepartamento, inserted.regTelefono, inserted.regFax, inserted.regEmail, inserted.regFechaMatricula, inserted.regNaturalezaJuridica, inserted.regCantPensionados, inserted.regModalidadPlanilla, inserted.regValTotalApoObligatorio, inserted.regValorIntMora, inserted.regFechaRecaudo, inserted.regCodigoEntidadFinanciera, inserted.regOperadorInformacion, inserted.regNumeroCuenta, inserted.regFechaActualizacion, inserted.regRegistroControl, inserted.regRegistroControlManual, inserted.regRegistroFControl, inserted.regOUTTarifaEmpleador, inserted.regOUTFinalizadoProcesoManual, inserted.regOUTEsEmpleador, inserted.regOUTEstadoEmpleador, inserted.regOUTTipoBeneficio, inserted.regOUTBeneficioActivo, inserted.regOUTEsEmpleadorReintegrable, inserted.regOUTEstadoArchivo, inserted.regNumPlanilla, inserted.regNovedadFutura, inserted.regOUTTarifaBaseEmpleador, inserted.regOUTSMMLV, inserted.regEsSimulado, inserted.regEstadoEvaluacion, inserted.regOUTMarcaSucursalPILA, inserted.regOUTCodSucursalPrincipal, inserted.regOUTNomSucursalPrincipal, inserted.regOUTEnviadoAFiscalizacion, inserted.regOUTMotivoFiscalizacion, inserted.regOUTNovedadFuturaProcesada, inserted.regOUTMotivoProcesoManual, inserted.regNumPlanillaAsociada, inserted.regOUTPrimerNombreAportante, inserted.regOUTSegundoNombreAportante, inserted.regOUTPrimerApellidoAportante, inserted.regOUTSegundoApellidoAportante, inserted.regDiasMora, inserted.regFechaPagoAporte, inserted.regFormaPresentacion, inserted.regCantidadEmpleados, inserted.regCantidadAfiliados, inserted.regTipoPersona, inserted.regOUTEnProceso, inserted.regCantidadReg2, inserted.regFechaPagoPlanillaAsociada, inserted.regOUTRegistroActual, inserted.regOUTReginicial, inserted.regDateTimeInsert, inserted.regDateTimeUpdate 
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.registroGeneral_log
			select regId, regTransaccion, regEsAportePensionados, regNombreAportante, regTipoIdentificacionAportante, regNumeroIdentificacionAportante, regDigVerAportante, regPeriodoAporte, regTipoPlanilla, regClaseAportante, regCodSucursal, regNomSucursal, regDireccion, regCodCiudad, regCodDepartamento, regTelefono, regFax, regEmail, regFechaMatricula, regNaturalezaJuridica, regCantPensionados, regModalidadPlanilla, regValTotalApoObligatorio, regValorIntMora, regFechaRecaudo, regCodigoEntidadFinanciera, regOperadorInformacion, regNumeroCuenta, regFechaActualizacion, regRegistroControl, regRegistroControlManual, regRegistroFControl, regOUTTarifaEmpleador, regOUTFinalizadoProcesoManual, regOUTEsEmpleador, regOUTEstadoEmpleador, regOUTTipoBeneficio, regOUTBeneficioActivo, regOUTEsEmpleadorReintegrable, regOUTEstadoArchivo, regNumPlanilla, regNovedadFutura, regOUTTarifaBaseEmpleador, regOUTSMMLV, regEsSimulado, regEstadoEvaluacion, regOUTMarcaSucursalPILA, regOUTCodSucursalPrincipal, regOUTNomSucursalPrincipal, regOUTEnviadoAFiscalizacion, regOUTMotivoFiscalizacion, regOUTNovedadFuturaProcesada, regOUTMotivoProcesoManual, regNumPlanillaAsociada, regOUTPrimerNombreAportante, regOUTSegundoNombreAportante, regOUTPrimerApellidoAportante, regOUTSegundoApellidoAportante, regDiasMora, regFechaPagoAporte, regFormaPresentacion, regCantidadEmpleados, regCantidadAfiliados, regTipoPersona, regOUTEnProceso, regCantidadReg2, regFechaPagoPlanillaAsociada, regOUTRegistroActual, regOUTReginicial, regDateTimeInsert, regDateTimeUpdate, ultimaFechaModificacion
			from #registroGeneral1
			where regId in (select regId from #regIds)
				and actId = 1

			delete from dbo.registroGeneral2
			output deleted.regId, deleted.regTransaccion, deleted.regEsAportePensionados, deleted.regNombreAportante, deleted.regTipoIdentificacionAportante, deleted.regNumeroIdentificacionAportante, deleted.regDigVerAportante, deleted.regPeriodoAporte, deleted.regTipoPlanilla, deleted.regClaseAportante, deleted.regCodSucursal, deleted.regNomSucursal, deleted.regDireccion, deleted.regCodCiudad, deleted.regCodDepartamento, deleted.regTelefono, deleted.regFax, deleted.regEmail, deleted.regFechaMatricula, deleted.regNaturalezaJuridica, deleted.regCantPensionados, deleted.regModalidadPlanilla, deleted.regValTotalApoObligatorio, deleted.regValorIntMora, deleted.regFechaRecaudo, deleted.regCodigoEntidadFinanciera, deleted.regOperadorInformacion, deleted.regNumeroCuenta, deleted.regFechaActualizacion, deleted.regRegistroControl, deleted.regRegistroControlManual, deleted.regRegistroFControl, deleted.regOUTTarifaEmpleador, deleted.regOUTFinalizadoProcesoManual, deleted.regOUTEsEmpleador, deleted.regOUTEstadoEmpleador, deleted.regOUTTipoBeneficio, deleted.regOUTBeneficioActivo, deleted.regOUTEsEmpleadorReintegrable, deleted.regOUTEstadoArchivo, deleted.regNumPlanilla, deleted.regNovedadFutura, deleted.regOUTTarifaBaseEmpleador, deleted.regOUTSMMLV, deleted.regEsSimulado, deleted.regEstadoEvaluacion, deleted.regOUTMarcaSucursalPILA, deleted.regOUTCodSucursalPrincipal, deleted.regOUTNomSucursalPrincipal, deleted.regOUTEnviadoAFiscalizacion, deleted.regOUTMotivoFiscalizacion, deleted.regOUTNovedadFuturaProcesada, deleted.regOUTMotivoProcesoManual, deleted.regNumPlanillaAsociada, deleted.regOUTPrimerNombreAportante, deleted.regOUTSegundoNombreAportante, deleted.regOUTPrimerApellidoAportante, deleted.regOUTSegundoApellidoAportante, deleted.regDiasMora, deleted.regFechaPagoAporte, deleted.regFormaPresentacion, deleted.regCantidadEmpleados, deleted.regCantidadAfiliados, deleted.regTipoPersona, deleted.regOUTEnProceso, deleted.regCantidadReg2, deleted.regFechaPagoPlanillaAsociada, deleted.regOUTRegistroActual, deleted.regOUTReginicial, deleted.regDateTimeInsert, deleted.regDateTimeUpdate, 
			deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.registroGeneral_log
			where regId in (select regId from #registroGeneral1 where operacion = 1  and actId = 1)