	CREATE or alter procedure [dbo].[OP_DetalleSubsidioAsignado_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla DetalleSubsidioAsignado

	
			declare @DetalleSubsidioAsignado1 table (dsaId bigint   not null,dsaUsuarioCreador varchar(200)   not null,dsaFechaHoraCreacion datetime   not null,dsaEstado varchar(20)   not null,dsaMotivoAnulacion varchar(40)   null,dsaDetalleAnulacion varchar(250)   null,dsaOrigenRegistroSubsidio varchar(30)   not null,dsaTipoliquidacionSubsidio varchar(60)   not null,dsaTipoCuotaSubsidio varchar(80)   not null,dsaValorSubsidioMonetario numeric (19,  5) not null,dsaValorDescuento numeric (19,  5) not null,dsaValorOriginalAbonado numeric (19,  5) not null,dsaValorTotal numeric (19,  5) not null,dsaFechaTransaccionRetiro date   null,dsaUsuarioTransaccionRetiro varchar(200)   null,dsaFechaTransaccionAnulacion date   null,dsaUsuarioTransaccionAnulacion varchar(200)   null,dsaFechaHoraUltimaModificacion datetime   null,dsaUsuarioUltimaModificacion varchar(200)   null,dsaSolicitudLiquidacionSubsidio bigint   not null,dsaEmpleador bigint   not null,dsaAfiliadoPrincipal bigint   not null,dsaGrupoFamiliar bigint   not null,dsaAdministradorSubsidio bigint   not null,dsaIdRegistroOriginalRelacionado bigint   null,dsaCuentaAdministradorSubsidio bigint   not null,dsaBeneficiarioDetalle bigint   not null,dsaPeriodoLiquidado date   not null,dsaResultadoValidacionLiquidacion bigint   not null,dsaCondicionPersonaBeneficiario bigint   null,dsaCondicionPersonaAfiliado bigint   null,dsaCondicionPersonaEmpleador bigint   null,dsaDetalleSolicitudAnulacionSubsidioCobrado bigint   null,dsaNombreTerceroPagado varchar(200)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select dsaId, dsaUsuarioCreador, dsaFechaHoraCreacion, dsaEstado, dsaMotivoAnulacion, dsaDetalleAnulacion, dsaOrigenRegistroSubsidio, dsaTipoliquidacionSubsidio, dsaTipoCuotaSubsidio, dsaValorSubsidioMonetario, dsaValorDescuento, dsaValorOriginalAbonado, dsaValorTotal, dsaFechaTransaccionRetiro, dsaUsuarioTransaccionRetiro, dsaFechaTransaccionAnulacion, dsaUsuarioTransaccionAnulacion, dsaFechaHoraUltimaModificacion, dsaUsuarioUltimaModificacion, dsaSolicitudLiquidacionSubsidio, dsaEmpleador, dsaAfiliadoPrincipal, dsaGrupoFamiliar, dsaAdministradorSubsidio, dsaIdRegistroOriginalRelacionado, dsaCuentaAdministradorSubsidio, dsaBeneficiarioDetalle, dsaPeriodoLiquidado, dsaResultadoValidacionLiquidacion, dsaCondicionPersonaBeneficiario, dsaCondicionPersonaAfiliado, dsaCondicionPersonaEmpleador, dsaDetalleSolicitudAnulacionSubsidioCobrado, dsaNombreTerceroPagado, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_DetalleSubsidioAsignado_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @DetalleSubsidioAsignado1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #DetalleSubsidioAsignado1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by dsaId) then 1 else null end as act
				,row_number() over (partition by dsaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @DetalleSubsidioAsignado1)
			select *
			into #DetalleSubsidioAsignado1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update dsa set dsa.dsaUsuarioCreador = a.dsaUsuarioCreador, dsa.dsaFechaHoraCreacion = a.dsaFechaHoraCreacion, dsa.dsaEstado = a.dsaEstado, dsa.dsaMotivoAnulacion = a.dsaMotivoAnulacion, dsa.dsaDetalleAnulacion = a.dsaDetalleAnulacion, dsa.dsaOrigenRegistroSubsidio = a.dsaOrigenRegistroSubsidio, dsa.dsaTipoliquidacionSubsidio = a.dsaTipoliquidacionSubsidio, dsa.dsaTipoCuotaSubsidio = a.dsaTipoCuotaSubsidio, dsa.dsaValorSubsidioMonetario = a.dsaValorSubsidioMonetario, dsa.dsaValorDescuento = a.dsaValorDescuento, dsa.dsaValorOriginalAbonado = a.dsaValorOriginalAbonado, dsa.dsaValorTotal = a.dsaValorTotal, dsa.dsaFechaTransaccionRetiro = a.dsaFechaTransaccionRetiro, dsa.dsaUsuarioTransaccionRetiro = a.dsaUsuarioTransaccionRetiro, dsa.dsaFechaTransaccionAnulacion = a.dsaFechaTransaccionAnulacion, dsa.dsaUsuarioTransaccionAnulacion = a.dsaUsuarioTransaccionAnulacion, dsa.dsaFechaHoraUltimaModificacion = a.dsaFechaHoraUltimaModificacion, dsa.dsaUsuarioUltimaModificacion = a.dsaUsuarioUltimaModificacion, dsa.dsaSolicitudLiquidacionSubsidio = a.dsaSolicitudLiquidacionSubsidio, dsa.dsaEmpleador = a.dsaEmpleador, dsa.dsaAfiliadoPrincipal = a.dsaAfiliadoPrincipal, dsa.dsaGrupoFamiliar = a.dsaGrupoFamiliar, dsa.dsaAdministradorSubsidio = a.dsaAdministradorSubsidio, dsa.dsaIdRegistroOriginalRelacionado = a.dsaIdRegistroOriginalRelacionado, dsa.dsaCuentaAdministradorSubsidio = a.dsaCuentaAdministradorSubsidio, dsa.dsaBeneficiarioDetalle = a.dsaBeneficiarioDetalle, dsa.dsaPeriodoLiquidado = a.dsaPeriodoLiquidado, dsa.dsaResultadoValidacionLiquidacion = a.dsaResultadoValidacionLiquidacion, dsa.dsaCondicionPersonaBeneficiario = a.dsaCondicionPersonaBeneficiario, dsa.dsaCondicionPersonaAfiliado = a.dsaCondicionPersonaAfiliado, dsa.dsaCondicionPersonaEmpleador = a.dsaCondicionPersonaEmpleador, dsa.dsaDetalleSolicitudAnulacionSubsidioCobrado = a.dsaDetalleSolicitudAnulacionSubsidioCobrado, dsa.dsaNombreTerceroPagado = a.dsaNombreTerceroPagado, dsa.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.dsaId, inserted.dsaUsuarioCreador, inserted.dsaFechaHoraCreacion, inserted.dsaEstado, inserted.dsaMotivoAnulacion, inserted.dsaDetalleAnulacion, inserted.dsaOrigenRegistroSubsidio, inserted.dsaTipoliquidacionSubsidio, inserted.dsaTipoCuotaSubsidio, inserted.dsaValorSubsidioMonetario, inserted.dsaValorDescuento, inserted.dsaValorOriginalAbonado, inserted.dsaValorTotal, inserted.dsaFechaTransaccionRetiro, inserted.dsaUsuarioTransaccionRetiro, inserted.dsaFechaTransaccionAnulacion, inserted.dsaUsuarioTransaccionAnulacion, inserted.dsaFechaHoraUltimaModificacion, inserted.dsaUsuarioUltimaModificacion, inserted.dsaSolicitudLiquidacionSubsidio, inserted.dsaEmpleador, inserted.dsaAfiliadoPrincipal, inserted.dsaGrupoFamiliar, inserted.dsaAdministradorSubsidio, inserted.dsaIdRegistroOriginalRelacionado, inserted.dsaCuentaAdministradorSubsidio, inserted.dsaBeneficiarioDetalle, inserted.dsaPeriodoLiquidado, inserted.dsaResultadoValidacionLiquidacion, inserted.dsaCondicionPersonaBeneficiario, inserted.dsaCondicionPersonaAfiliado, inserted.dsaCondicionPersonaEmpleador, inserted.dsaDetalleSolicitudAnulacionSubsidioCobrado, inserted.dsaNombreTerceroPagado, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.DetalleSubsidioAsignado_log
			from #DetalleSubsidioAsignado1 as a
				inner join dbo.DetalleSubsidioAsignado as dsa on a.dsaId = dsa.dsaId
			where (a.ultimaFechaModificacion > dsa.ultimaFechaModificacion or dsa.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #DetalleSubsidioAsignado1)


			drop table if exists #dsaIds
			create table #dsaIds (dsaId bigInt)
			insert #dsaIds
			select dsaId from #DetalleSubsidioAsignado1
			except 
			select dsaId from dbo.DetalleSubsidioAsignado

			insert dbo.DetalleSubsidioAsignado (dsaId, dsaUsuarioCreador, dsaFechaHoraCreacion, dsaEstado, dsaMotivoAnulacion, dsaDetalleAnulacion, dsaOrigenRegistroSubsidio, dsaTipoliquidacionSubsidio, dsaTipoCuotaSubsidio, dsaValorSubsidioMonetario, dsaValorDescuento, dsaValorOriginalAbonado, dsaValorTotal, dsaFechaTransaccionRetiro, dsaUsuarioTransaccionRetiro, dsaFechaTransaccionAnulacion, dsaUsuarioTransaccionAnulacion, dsaFechaHoraUltimaModificacion, dsaUsuarioUltimaModificacion, dsaSolicitudLiquidacionSubsidio, dsaEmpleador, dsaAfiliadoPrincipal, dsaGrupoFamiliar, dsaAdministradorSubsidio, dsaIdRegistroOriginalRelacionado, dsaCuentaAdministradorSubsidio, dsaBeneficiarioDetalle, dsaPeriodoLiquidado, dsaResultadoValidacionLiquidacion, dsaCondicionPersonaBeneficiario, dsaCondicionPersonaAfiliado, dsaCondicionPersonaEmpleador, dsaDetalleSolicitudAnulacionSubsidioCobrado, dsaNombreTerceroPagado,ultimaFechaModificacion)
			output inserted.dsaId, inserted.dsaUsuarioCreador, inserted.dsaFechaHoraCreacion, inserted.dsaEstado, inserted.dsaMotivoAnulacion, inserted.dsaDetalleAnulacion, inserted.dsaOrigenRegistroSubsidio, inserted.dsaTipoliquidacionSubsidio, inserted.dsaTipoCuotaSubsidio, inserted.dsaValorSubsidioMonetario, inserted.dsaValorDescuento, inserted.dsaValorOriginalAbonado, inserted.dsaValorTotal, inserted.dsaFechaTransaccionRetiro, inserted.dsaUsuarioTransaccionRetiro, inserted.dsaFechaTransaccionAnulacion, inserted.dsaUsuarioTransaccionAnulacion, inserted.dsaFechaHoraUltimaModificacion, inserted.dsaUsuarioUltimaModificacion, inserted.dsaSolicitudLiquidacionSubsidio, inserted.dsaEmpleador, inserted.dsaAfiliadoPrincipal, inserted.dsaGrupoFamiliar, inserted.dsaAdministradorSubsidio, inserted.dsaIdRegistroOriginalRelacionado, inserted.dsaCuentaAdministradorSubsidio, inserted.dsaBeneficiarioDetalle, inserted.dsaPeriodoLiquidado, inserted.dsaResultadoValidacionLiquidacion, inserted.dsaCondicionPersonaBeneficiario, inserted.dsaCondicionPersonaAfiliado, inserted.dsaCondicionPersonaEmpleador, inserted.dsaDetalleSolicitudAnulacionSubsidioCobrado, inserted.dsaNombreTerceroPagado
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.DetalleSubsidioAsignado_log
			select dsaId, dsaUsuarioCreador, dsaFechaHoraCreacion, dsaEstado, dsaMotivoAnulacion, dsaDetalleAnulacion, dsaOrigenRegistroSubsidio, dsaTipoliquidacionSubsidio, dsaTipoCuotaSubsidio, dsaValorSubsidioMonetario, dsaValorDescuento, dsaValorOriginalAbonado, dsaValorTotal, dsaFechaTransaccionRetiro, dsaUsuarioTransaccionRetiro, dsaFechaTransaccionAnulacion, dsaUsuarioTransaccionAnulacion, dsaFechaHoraUltimaModificacion, dsaUsuarioUltimaModificacion, dsaSolicitudLiquidacionSubsidio, dsaEmpleador, dsaAfiliadoPrincipal, dsaGrupoFamiliar, dsaAdministradorSubsidio, dsaIdRegistroOriginalRelacionado, dsaCuentaAdministradorSubsidio, dsaBeneficiarioDetalle, dsaPeriodoLiquidado, dsaResultadoValidacionLiquidacion, dsaCondicionPersonaBeneficiario, dsaCondicionPersonaAfiliado, dsaCondicionPersonaEmpleador, dsaDetalleSolicitudAnulacionSubsidioCobrado, dsaNombreTerceroPagado, ultimaFechaModificacion
			from #DetalleSubsidioAsignado1
			where dsaId in (select dsaId from #dsaIds)
				and actId = 1

			delete from dbo.DetalleSubsidioAsignado
			output deleted.dsaId, deleted.dsaUsuarioCreador, deleted.dsaFechaHoraCreacion, deleted.dsaEstado, deleted.dsaMotivoAnulacion, deleted.dsaDetalleAnulacion, deleted.dsaOrigenRegistroSubsidio, deleted.dsaTipoliquidacionSubsidio, deleted.dsaTipoCuotaSubsidio, deleted.dsaValorSubsidioMonetario, deleted.dsaValorDescuento, deleted.dsaValorOriginalAbonado, deleted.dsaValorTotal, deleted.dsaFechaTransaccionRetiro, deleted.dsaUsuarioTransaccionRetiro, deleted.dsaFechaTransaccionAnulacion, deleted.dsaUsuarioTransaccionAnulacion, deleted.dsaFechaHoraUltimaModificacion, deleted.dsaUsuarioUltimaModificacion, deleted.dsaSolicitudLiquidacionSubsidio, deleted.dsaEmpleador, deleted.dsaAfiliadoPrincipal, deleted.dsaGrupoFamiliar, deleted.dsaAdministradorSubsidio, deleted.dsaIdRegistroOriginalRelacionado, deleted.dsaCuentaAdministradorSubsidio, deleted.dsaBeneficiarioDetalle, deleted.dsaPeriodoLiquidado, deleted.dsaResultadoValidacionLiquidacion, deleted.dsaCondicionPersonaBeneficiario, deleted.dsaCondicionPersonaAfiliado, deleted.dsaCondicionPersonaEmpleador, deleted.dsaDetalleSolicitudAnulacionSubsidioCobrado, deleted.dsaNombreTerceroPagado
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.DetalleSubsidioAsignado_log
			where dsaId in (select dsaId from #DetalleSubsidioAsignado1 where operacion = 1 and actId = 1)