	CREATE or alter procedure [dbo].[OP_ItemChequeo_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla ItemChequeo

	
			declare @ItemChequeo1 table (ichId bigint   not null,ichSolicitud bigint   null,ichRequisito bigint   null,ichPersona bigint   null,ichIdentificadorDocumento varchar(255)   null,ichVersionDocumento smallint   null,ichEstadoRequisito varchar(20)   null,ichPrecargado bit   null,ichCumpleRequisito bit   null,ichFormatoEntregaDocumento varchar(20)   null,ichComentarios varchar(255)   null,ichCumpleRequisitoBack bit   null,ichComentariosBack varchar(255)   null,ichIdentificadorDocumentoPrevio varchar(255)   null,ichFechaRecepcionDocumento date   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ichId, ichSolicitud, ichRequisito, ichPersona, ichIdentificadorDocumento, ichVersionDocumento, ichEstadoRequisito, ichPrecargado, ichCumpleRequisito, ichFormatoEntregaDocumento, ichComentarios, ichCumpleRequisitoBack, ichComentariosBack, ichIdentificadorDocumentoPrevio, ichFechaRecepcionDocumento, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ItemChequeo_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ItemChequeo1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ItemChequeo1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ichId) then 1 else null end as act
				,row_number() over (partition by ichId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ItemChequeo1)
			select *
			into #ItemChequeo1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ich set ich.ichSolicitud = a.ichSolicitud, ich.ichRequisito = a.ichRequisito, ich.ichPersona = a.ichPersona, ich.ichIdentificadorDocumento = a.ichIdentificadorDocumento, ich.ichVersionDocumento = a.ichVersionDocumento, ich.ichEstadoRequisito = a.ichEstadoRequisito, ich.ichPrecargado = a.ichPrecargado, ich.ichCumpleRequisito = a.ichCumpleRequisito, ich.ichFormatoEntregaDocumento = a.ichFormatoEntregaDocumento, ich.ichComentarios = a.ichComentarios, ich.ichCumpleRequisitoBack = a.ichCumpleRequisitoBack, ich.ichComentariosBack = a.ichComentariosBack, ich.ichIdentificadorDocumentoPrevio = a.ichIdentificadorDocumentoPrevio, ich.ichFechaRecepcionDocumento = a.ichFechaRecepcionDocumento, ich.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ichId, inserted.ichSolicitud, inserted.ichRequisito, inserted.ichPersona, inserted.ichIdentificadorDocumento, inserted.ichVersionDocumento, inserted.ichEstadoRequisito, inserted.ichPrecargado, inserted.ichCumpleRequisito, inserted.ichFormatoEntregaDocumento, inserted.ichComentarios, inserted.ichCumpleRequisitoBack, inserted.ichComentariosBack, inserted.ichIdentificadorDocumentoPrevio, inserted.ichFechaRecepcionDocumento, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ItemChequeo_log
			from #ItemChequeo1 as a
				inner join dbo.ItemChequeo as ich on a.ichId = ich.ichId
			where (a.ultimaFechaModificacion > ich.ultimaFechaModificacion or ich.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ItemChequeo1)



			drop table if exists #ichIds
			create table #ichIds (ichId bigInt)
			insert #ichIds
			select ichId from #ItemChequeo1
			except 
			select ichId from dbo.ItemChequeo

			insert dbo.ItemChequeo (ichId, ichSolicitud, ichRequisito, ichPersona, ichIdentificadorDocumento, ichVersionDocumento, ichEstadoRequisito, ichPrecargado, ichCumpleRequisito, ichFormatoEntregaDocumento, ichComentarios, ichCumpleRequisitoBack, ichComentariosBack, ichIdentificadorDocumentoPrevio, ichFechaRecepcionDocumento,ultimaFechaModificacion)
			output inserted.ichId, inserted.ichSolicitud, inserted.ichRequisito, inserted.ichPersona, inserted.ichIdentificadorDocumento, inserted.ichVersionDocumento, inserted.ichEstadoRequisito, inserted.ichPrecargado, inserted.ichCumpleRequisito, inserted.ichFormatoEntregaDocumento, inserted.ichComentarios, inserted.ichCumpleRequisitoBack, inserted.ichComentariosBack, inserted.ichIdentificadorDocumentoPrevio, inserted.ichFechaRecepcionDocumento
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ItemChequeo_log
			select ichId, ichSolicitud, ichRequisito, ichPersona, ichIdentificadorDocumento, ichVersionDocumento, ichEstadoRequisito, ichPrecargado, ichCumpleRequisito, ichFormatoEntregaDocumento, ichComentarios, ichCumpleRequisitoBack, ichComentariosBack, ichIdentificadorDocumentoPrevio, ichFechaRecepcionDocumento, ultimaFechaModificacion
			from #ItemChequeo1
			where ichId in (select ichId from #ichIds)
				and actId = 1

			delete from dbo.ItemChequeo
			output deleted.ichId, deleted.ichSolicitud, deleted.ichRequisito, deleted.ichPersona, deleted.ichIdentificadorDocumento, deleted.ichVersionDocumento, deleted.ichEstadoRequisito, deleted.ichPrecargado, deleted.ichCumpleRequisito, deleted.ichFormatoEntregaDocumento, deleted.ichComentarios, deleted.ichCumpleRequisitoBack, deleted.ichComentariosBack, deleted.ichIdentificadorDocumentoPrevio, deleted.ichFechaRecepcionDocumento
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ItemChequeo_log
			where ichId in (select ichId from #ItemChequeo1 where operacion = 1 and actId = 1)