	CREATE or alter procedure [dbo].[OP_CalSolPSolASolLDSolPFSolNFProParS_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla CalificacionPostulacion

	
			declare @CalificacionPostulacion1 table (cafId bigint   not null,cafPostulacionFovis bigint   not null,cafCicloAsignacion bigint   not null,cafFechaCalificacion datetime   null,cafPuntaje numeric (12,  6) null,cafValorB1 numeric (10,  6) null,cafValorB2 numeric (10,  6) null,cafValorB3 numeric (10,  6) null,cafValorB4 numeric (12,  6) null,cafValorB5 numeric (10,  6) null,cafValorB6 numeric (10,  6) null,cafValorParte7 numeric (12,  6) null,cafValorParte8 numeric (12,  6) null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select cafId, cafPostulacionFovis, cafCicloAsignacion, cafFechaCalificacion, cafPuntaje, cafValorB1, cafValorB2, cafValorB3, cafValorB4, cafValorB5, cafValorB6, cafValorParte7, cafValorParte8, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CalificacionPostulacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CalificacionPostulacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CalificacionPostulacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by cafId) then 1 else null end as act
				,row_number() over (partition by cafId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CalificacionPostulacion1)
			select *
			into #CalificacionPostulacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update caf set caf.cafPostulacionFovis = a.cafPostulacionFovis, caf.cafCicloAsignacion = a.cafCicloAsignacion, caf.cafFechaCalificacion = a.cafFechaCalificacion, caf.cafPuntaje = a.cafPuntaje, caf.cafValorB1 = a.cafValorB1, caf.cafValorB2 = a.cafValorB2, caf.cafValorB3 = a.cafValorB3, caf.cafValorB4 = a.cafValorB4, caf.cafValorB5 = a.cafValorB5, caf.cafValorB6 = a.cafValorB6, caf.cafValorParte7 = a.cafValorParte7, caf.cafValorParte8 = a.cafValorParte8, caf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.cafId, inserted.cafPostulacionFovis, inserted.cafCicloAsignacion, inserted.cafFechaCalificacion, inserted.cafPuntaje, inserted.cafValorB1, inserted.cafValorB2, inserted.cafValorB3, inserted.cafValorB4, inserted.cafValorB5, inserted.cafValorB6, inserted.cafValorParte7, inserted.cafValorParte8, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CalificacionPostulacion_log
			from #CalificacionPostulacion1 as a
				inner join dbo.CalificacionPostulacion as caf on a.cafId = caf.cafId
			where (a.ultimaFechaModificacion > caf.ultimaFechaModificacion or caf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CalificacionPostulacion1)



			drop table if exists #cafIds
			create table #cafIds (cafId bigInt)
			insert #cafIds
			select cafId from #CalificacionPostulacion1
			except 
			select cafId from dbo.CalificacionPostulacion

			insert dbo.CalificacionPostulacion (cafId, cafPostulacionFovis, cafCicloAsignacion, cafFechaCalificacion, cafPuntaje, cafValorB1, cafValorB2, cafValorB3, cafValorB4, cafValorB5, cafValorB6, cafValorParte7, cafValorParte8,ultimaFechaModificacion)
			output inserted.cafId, inserted.cafPostulacionFovis, inserted.cafCicloAsignacion, inserted.cafFechaCalificacion, inserted.cafPuntaje, inserted.cafValorB1, inserted.cafValorB2, inserted.cafValorB3, inserted.cafValorB4, inserted.cafValorB5, inserted.cafValorB6, inserted.cafValorParte7, inserted.cafValorParte8
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CalificacionPostulacion_log
			select cafId, cafPostulacionFovis, cafCicloAsignacion, cafFechaCalificacion, cafPuntaje, cafValorB1, cafValorB2, cafValorB3, cafValorB4, cafValorB5, cafValorB6, cafValorParte7, cafValorParte8, ultimaFechaModificacion
			from #CalificacionPostulacion1
			where cafId in (select cafId from #cafIds)
				and actId = 1

			delete from dbo.CalificacionPostulacion
			output deleted.cafId, deleted.cafPostulacionFovis, deleted.cafCicloAsignacion, deleted.cafFechaCalificacion, deleted.cafPuntaje, deleted.cafValorB1, deleted.cafValorB2, deleted.cafValorB3, deleted.cafValorB4, deleted.cafValorB5, deleted.cafValorB6, deleted.cafValorParte7, deleted.cafValorParte8
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CalificacionPostulacion_log
			where cafId in (select cafId from #CalificacionPostulacion1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla ParametrizacionFOVIS

	
			declare @ParametrizacionFOVIS1 table (pafId bigint   not null,pafNombre varchar(50)   not null,pafValor bit   null,pafValorNumerico numeric (5,  1) null,pafPlazoVencimiento varchar(15)   null,pafPlazoAdicional varchar(15)   null,pafValorAdicional numeric (4,  1) null,pafValorString varchar(30)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pafId, pafNombre, pafValor, pafValorNumerico, pafPlazoVencimiento, pafPlazoAdicional, pafValorAdicional, pafValorString, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ParametrizacionFOVIS_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ParametrizacionFOVIS1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ParametrizacionFOVIS1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pafId) then 1 else null end as act
				,row_number() over (partition by pafId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ParametrizacionFOVIS1)
			select *
			into #ParametrizacionFOVIS1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update paf set paf.pafNombre = a.pafNombre, paf.pafValor = a.pafValor, paf.pafValorNumerico = a.pafValorNumerico, paf.pafPlazoVencimiento = a.pafPlazoVencimiento, paf.pafPlazoAdicional = a.pafPlazoAdicional, paf.pafValorAdicional = a.pafValorAdicional, paf.pafValorString = a.pafValorString, paf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pafId, inserted.pafNombre, inserted.pafValor, inserted.pafValorNumerico, inserted.pafPlazoVencimiento, inserted.pafPlazoAdicional, inserted.pafValorAdicional, inserted.pafValorString, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ParametrizacionFOVIS_log
			from #ParametrizacionFOVIS1 as a
				inner join dbo.ParametrizacionFOVIS as paf on a.pafId = paf.pafId
			where (a.ultimaFechaModificacion > paf.ultimaFechaModificacion or paf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ParametrizacionFOVIS1)



			drop table if exists #pafIds
			create table #pafIds (pafId bigInt)
			insert #pafIds
			select pafId from #ParametrizacionFOVIS1
			except 
			select pafId from dbo.ParametrizacionFOVIS

			insert dbo.ParametrizacionFOVIS (pafId, pafNombre, pafValor, pafValorNumerico, pafPlazoVencimiento, pafPlazoAdicional, pafValorAdicional, pafValorString,ultimaFechaModificacion)
			output inserted.pafId, inserted.pafNombre, inserted.pafValor, inserted.pafValorNumerico, inserted.pafPlazoVencimiento, inserted.pafPlazoAdicional, inserted.pafValorAdicional, inserted.pafValorString
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ParametrizacionFOVIS_log
			select pafId, pafNombre, pafValor, pafValorNumerico, pafPlazoVencimiento, pafPlazoAdicional, pafValorAdicional, pafValorString, ultimaFechaModificacion
			from #ParametrizacionFOVIS1
			where pafId in (select pafId from #pafIds)
				and actId = 1

			delete from dbo.ParametrizacionFOVIS
			output deleted.pafId, deleted.pafNombre, deleted.pafValor, deleted.pafValorNumerico, deleted.pafPlazoVencimiento, deleted.pafPlazoAdicional, deleted.pafValorAdicional, deleted.pafValorString
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ParametrizacionFOVIS_log
			where pafId in (select pafId from #ParametrizacionFOVIS1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla ProyectoSolucionVivienda

	
			declare @ProyectoSolucionVivienda1 table (psvId bigint   not null,psvNombreProyecto varchar(250)   null,psvObservaciones varchar(500)   null,psvOferente bigint   null,psvUbicacionProyecto bigint   null,psvNumeroDocumentoElegibilidad varchar(50)   null,psvCodigoProyectoElegibilidad varchar(50)   null,psvNombreEntidadElegibilidad varchar(50)   null,psvFechaElegibilidad date   null,psvNumeroViviendaElegibilidad int   null,psvTipoInmuebleElegibilidad varchar(50)   null,psvComentariosElegibilidad varchar(500)   null,psvModalidad varchar(50)   null,psvRegistrado bit   null,psvDisponeCuentaBancaria bit   null,psvComparteCuentaOferente bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select psvId, psvNombreProyecto, psvObservaciones, psvOferente, psvUbicacionProyecto, psvNumeroDocumentoElegibilidad, psvCodigoProyectoElegibilidad, psvNombreEntidadElegibilidad, psvFechaElegibilidad, psvNumeroViviendaElegibilidad, psvTipoInmuebleElegibilidad, psvComentariosElegibilidad, psvModalidad, psvRegistrado, psvDisponeCuentaBancaria, psvComparteCuentaOferente, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ProyectoSolucionVivienda_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ProyectoSolucionVivienda1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ProyectoSolucionVivienda1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by psvId) then 1 else null end as act
				,row_number() over (partition by psvId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ProyectoSolucionVivienda1)
			select *
			into #ProyectoSolucionVivienda1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update psv set psv.psvNombreProyecto = a.psvNombreProyecto, psv.psvObservaciones = a.psvObservaciones, psv.psvOferente = a.psvOferente, psv.psvUbicacionProyecto = a.psvUbicacionProyecto, psv.psvNumeroDocumentoElegibilidad = a.psvNumeroDocumentoElegibilidad, psv.psvCodigoProyectoElegibilidad = a.psvCodigoProyectoElegibilidad, psv.psvNombreEntidadElegibilidad = a.psvNombreEntidadElegibilidad, psv.psvFechaElegibilidad = a.psvFechaElegibilidad, psv.psvNumeroViviendaElegibilidad = a.psvNumeroViviendaElegibilidad, psv.psvTipoInmuebleElegibilidad = a.psvTipoInmuebleElegibilidad, psv.psvComentariosElegibilidad = a.psvComentariosElegibilidad, psv.psvModalidad = a.psvModalidad, psv.psvRegistrado = a.psvRegistrado, psv.psvDisponeCuentaBancaria = a.psvDisponeCuentaBancaria, psv.psvComparteCuentaOferente = a.psvComparteCuentaOferente, psv.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.psvId, inserted.psvNombreProyecto, inserted.psvObservaciones, inserted.psvOferente, inserted.psvUbicacionProyecto, inserted.psvNumeroDocumentoElegibilidad, inserted.psvCodigoProyectoElegibilidad, inserted.psvNombreEntidadElegibilidad, inserted.psvFechaElegibilidad, inserted.psvNumeroViviendaElegibilidad, inserted.psvTipoInmuebleElegibilidad, inserted.psvComentariosElegibilidad, inserted.psvModalidad, inserted.psvRegistrado, inserted.psvDisponeCuentaBancaria, inserted.psvComparteCuentaOferente, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ProyectoSolucionVivienda_log
			from #ProyectoSolucionVivienda1 as a
				inner join dbo.ProyectoSolucionVivienda as psv on a.psvId = psv.psvId
			where (a.ultimaFechaModificacion > psv.ultimaFechaModificacion or psv.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ProyectoSolucionVivienda1)



			drop table if exists #psvIds
			create table #psvIds (psvId bigInt)
			insert #psvIds
			select psvId from #ProyectoSolucionVivienda1
			except 
			select psvId from dbo.ProyectoSolucionVivienda

			insert dbo.ProyectoSolucionVivienda (psvId, psvNombreProyecto, psvObservaciones, psvOferente, psvUbicacionProyecto, psvNumeroDocumentoElegibilidad, psvCodigoProyectoElegibilidad, psvNombreEntidadElegibilidad, psvFechaElegibilidad, psvNumeroViviendaElegibilidad, psvTipoInmuebleElegibilidad, psvComentariosElegibilidad, psvModalidad, psvRegistrado, psvDisponeCuentaBancaria, psvComparteCuentaOferente,ultimaFechaModificacion)
			output inserted.psvId, inserted.psvNombreProyecto, inserted.psvObservaciones, inserted.psvOferente, inserted.psvUbicacionProyecto, inserted.psvNumeroDocumentoElegibilidad, inserted.psvCodigoProyectoElegibilidad, inserted.psvNombreEntidadElegibilidad, inserted.psvFechaElegibilidad, inserted.psvNumeroViviendaElegibilidad, inserted.psvTipoInmuebleElegibilidad, inserted.psvComentariosElegibilidad, inserted.psvModalidad, inserted.psvRegistrado, inserted.psvDisponeCuentaBancaria, inserted.psvComparteCuentaOferente
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ProyectoSolucionVivienda_log
			select psvId, psvNombreProyecto, psvObservaciones, psvOferente, psvUbicacionProyecto, psvNumeroDocumentoElegibilidad, psvCodigoProyectoElegibilidad, psvNombreEntidadElegibilidad, psvFechaElegibilidad, psvNumeroViviendaElegibilidad, psvTipoInmuebleElegibilidad, psvComentariosElegibilidad, psvModalidad, psvRegistrado, psvDisponeCuentaBancaria, psvComparteCuentaOferente, ultimaFechaModificacion
			from #ProyectoSolucionVivienda1
			where psvId in (select psvId from #psvIds)
				and actId = 1

			delete from dbo.ProyectoSolucionVivienda
			output deleted.psvId, deleted.psvNombreProyecto, deleted.psvObservaciones, deleted.psvOferente, deleted.psvUbicacionProyecto, deleted.psvNumeroDocumentoElegibilidad, deleted.psvCodigoProyectoElegibilidad, deleted.psvNombreEntidadElegibilidad, deleted.psvFechaElegibilidad, deleted.psvNumeroViviendaElegibilidad, deleted.psvTipoInmuebleElegibilidad, deleted.psvComentariosElegibilidad, deleted.psvModalidad, deleted.psvRegistrado, deleted.psvDisponeCuentaBancaria, deleted.psvComparteCuentaOferente
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ProyectoSolucionVivienda_log
			where psvId in (select psvId from #ProyectoSolucionVivienda1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudAsignacion

	
			declare @SolicitudAsignacion1 table (safId bigint   not null,safSolicitudGlobal bigint   not null,safFechaAceptacion datetime   null,safUsuario varchar(50)   null,safValorSFVAsignado numeric (18,  0) null,safEstadoSolicitudAsignacion varchar(50)   null,safComentarios varchar(500)   null,safCicloAsignacion bigint   not null,safComentarioControlInterno varchar(500)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select safId, safSolicitudGlobal, safFechaAceptacion, safUsuario, safValorSFVAsignado, safEstadoSolicitudAsignacion, safComentarios, safCicloAsignacion, safComentarioControlInterno, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudAsignacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudAsignacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudAsignacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by safId) then 1 else null end as act
				,row_number() over (partition by safId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudAsignacion1)
			select *
			into #SolicitudAsignacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update saf set saf.safSolicitudGlobal = a.safSolicitudGlobal, saf.safFechaAceptacion = a.safFechaAceptacion, saf.safUsuario = a.safUsuario, saf.safValorSFVAsignado = a.safValorSFVAsignado, saf.safEstadoSolicitudAsignacion = a.safEstadoSolicitudAsignacion, saf.safComentarios = a.safComentarios, saf.safCicloAsignacion = a.safCicloAsignacion, saf.safComentarioControlInterno = a.safComentarioControlInterno, saf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.safId, inserted.safSolicitudGlobal, inserted.safFechaAceptacion, inserted.safUsuario, inserted.safValorSFVAsignado, inserted.safEstadoSolicitudAsignacion, inserted.safComentarios, inserted.safCicloAsignacion, inserted.safComentarioControlInterno, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudAsignacion_log
			from #SolicitudAsignacion1 as a
				inner join dbo.SolicitudAsignacion as saf on a.safId = saf.safId
			where (a.ultimaFechaModificacion > saf.ultimaFechaModificacion or saf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudAsignacion1)



			drop table if exists #safIds
			create table #safIds (safId bigInt)
			insert #safIds
			select safId from #SolicitudAsignacion1
			except 
			select safId from dbo.SolicitudAsignacion

			insert dbo.SolicitudAsignacion (safId, safSolicitudGlobal, safFechaAceptacion, safUsuario, safValorSFVAsignado, safEstadoSolicitudAsignacion, safComentarios, safCicloAsignacion, safComentarioControlInterno,ultimaFechaModificacion)
			output inserted.safId, inserted.safSolicitudGlobal, inserted.safFechaAceptacion, inserted.safUsuario, inserted.safValorSFVAsignado, inserted.safEstadoSolicitudAsignacion, inserted.safComentarios, inserted.safCicloAsignacion, inserted.safComentarioControlInterno
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudAsignacion_log
			select safId, safSolicitudGlobal, safFechaAceptacion, safUsuario, safValorSFVAsignado, safEstadoSolicitudAsignacion, safComentarios, safCicloAsignacion, safComentarioControlInterno, ultimaFechaModificacion
			from #SolicitudAsignacion1
			where safId in (select safId from #safIds)
				and actId = 1

			delete from dbo.SolicitudAsignacion
			output deleted.safId, deleted.safSolicitudGlobal, deleted.safFechaAceptacion, deleted.safUsuario, deleted.safValorSFVAsignado, deleted.safEstadoSolicitudAsignacion, deleted.safComentarios, deleted.safCicloAsignacion, deleted.safComentarioControlInterno
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudAsignacion_log
			where safId in (select safId from #SolicitudAsignacion1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudLegalizacionDesembolso

	
			declare @SolicitudLegalizacionDesembolso1 table (
				sldId bigint   not null
				,sldSolicitudGlobal bigint   not null
				,sldPostulacionFOVIS bigint   null
				,sldEstadoSolicitud varchar(60)   null
				,sldLegalizacionDesembolso bigint   null
				,sldObservaciones varchar(500)   null
				,sldFechaOperacion datetime   null
				,sldCantidadReintentos smallint   null
				,ultimafechamodificacion datetime   null
				,operacion int not null
				,comando int null
				,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select sldId, sldSolicitudGlobal, sldPostulacionFOVIS, sldEstadoSolicitud, sldLegalizacionDesembolso, sldObservaciones, sldFechaOperacion, sldCantidadReintentos, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudLegalizacionDesembolso_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudLegalizacionDesembolso1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudLegalizacionDesembolso1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by sldId) then 1 else null end as act
				,row_number() over (partition by sldId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudLegalizacionDesembolso1)
			select *
			into #SolicitudLegalizacionDesembolso1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.



			update sld 
			set sld.sldSolicitudGlobal = a.sldSolicitudGlobal, 
				sld.sldPostulacionFOVIS = a.sldPostulacionFOVIS, 
				sld.sldEstadoSolicitud = a.sldEstadoSolicitud, 
				sld.sldLegalizacionDesembolso = a.sldLegalizacionDesembolso, 
				sld.sldObservaciones = a.sldObservaciones, 
				sld.sldFechaOperacion = a.sldFechaOperacion, 
				sld.sldCantidadReintentos = a.sldCantidadReintentos, 
				sld.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.sldId, 
				inserted.sldSolicitudGlobal, 
				inserted.sldPostulacionFOVIS, 
				inserted.sldEstadoSolicitud, 
				inserted.sldLegalizacionDesembolso, 
				inserted.sldObservaciones, 
				inserted.sldFechaOperacion, 
				inserted.sldCantidadReintentos, 
				inserted.ultimaFechaModificacion, 
				4 as operacion,
				null as origen 
			into dbo.SolicitudLegalizacionDesembolso_log
			from #SolicitudLegalizacionDesembolso1 as a
				inner join dbo.SolicitudLegalizacionDesembolso as sld on a.sldId = sld.sldId
			where (a.ultimaFechaModificacion > sld.ultimaFechaModificacion or sld.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudLegalizacionDesembolso1)



			drop table if exists #sldIds
			create table #sldIds (sldId bigInt)
			insert #sldIds
			select sldId from #SolicitudLegalizacionDesembolso1
			except 
			select sldId from dbo.SolicitudLegalizacionDesembolso

			insert dbo.SolicitudLegalizacionDesembolso (sldId, sldSolicitudGlobal, sldPostulacionFOVIS, sldEstadoSolicitud, sldLegalizacionDesembolso, sldObservaciones, sldFechaOperacion, sldCantidadReintentos,ultimaFechaModificacion)
			output inserted.sldId, inserted.sldSolicitudGlobal, inserted.sldPostulacionFOVIS, inserted.sldEstadoSolicitud, inserted.sldLegalizacionDesembolso, inserted.sldObservaciones, inserted.sldFechaOperacion, inserted.sldCantidadReintentos
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudLegalizacionDesembolso_log
			select sldId, sldSolicitudGlobal, sldPostulacionFOVIS, sldEstadoSolicitud, sldLegalizacionDesembolso, sldObservaciones, sldFechaOperacion, sldCantidadReintentos, ultimaFechaModificacion
			from #SolicitudLegalizacionDesembolso1
			where sldId in (select sldId from #sldIds)
				and actId = 1

			delete from dbo.SolicitudLegalizacionDesembolso
			output deleted.sldId, deleted.sldSolicitudGlobal, deleted.sldPostulacionFOVIS, deleted.sldEstadoSolicitud, deleted.sldLegalizacionDesembolso, deleted.sldObservaciones, deleted.sldFechaOperacion, deleted.sldCantidadReintentos
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudLegalizacionDesembolso_log
			where sldId in (select sldId from #SolicitudLegalizacionDesembolso1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudNovedadFovis

	
			declare @SolicitudNovedadFovis1 table (snfId bigint   not null,snfSolicitudGlobal bigint   not null,snfEstadoSolicitud varchar(38)   not null,snfParametrizacionNovedad bigint   not null,snfObservaciones varchar(200)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select snfId, snfSolicitudGlobal, snfEstadoSolicitud, snfParametrizacionNovedad, snfObservaciones, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudNovedadFovis_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudNovedadFovis1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudNovedadFovis1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by snfId) then 1 else null end as act
				,row_number() over (partition by snfId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudNovedadFovis1)
			select *
			into #SolicitudNovedadFovis1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update snf set snf.snfSolicitudGlobal = a.snfSolicitudGlobal, snf.snfEstadoSolicitud = a.snfEstadoSolicitud, snf.snfParametrizacionNovedad = a.snfParametrizacionNovedad, snf.snfObservaciones = a.snfObservaciones, snf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.snfId, inserted.snfSolicitudGlobal, inserted.snfEstadoSolicitud, inserted.snfParametrizacionNovedad, inserted.snfObservaciones, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudNovedadFovis_log
			from #SolicitudNovedadFovis1 as a
				inner join dbo.SolicitudNovedadFovis as snf on a.snfId = snf.snfId
			where (a.ultimaFechaModificacion > snf.ultimaFechaModificacion or snf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudNovedadFovis1)



			drop table if exists #snfIds
			create table #snfIds (snfId bigInt)
			insert #snfIds
			select snfId from #SolicitudNovedadFovis1
			except 
			select snfId from dbo.SolicitudNovedadFovis

			insert dbo.SolicitudNovedadFovis (snfId, snfSolicitudGlobal, snfEstadoSolicitud, snfParametrizacionNovedad, snfObservaciones,ultimaFechaModificacion)
			output inserted.snfId, inserted.snfSolicitudGlobal, inserted.snfEstadoSolicitud, inserted.snfParametrizacionNovedad, inserted.snfObservaciones
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudNovedadFovis_log
			select snfId, snfSolicitudGlobal, snfEstadoSolicitud, snfParametrizacionNovedad, snfObservaciones, ultimaFechaModificacion
			from #SolicitudNovedadFovis1
			where snfId in (select snfId from #snfIds)
				and actId = 1

			delete from dbo.SolicitudNovedadFovis
			output deleted.snfId, deleted.snfSolicitudGlobal, deleted.snfEstadoSolicitud, deleted.snfParametrizacionNovedad, deleted.snfObservaciones
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudNovedadFovis_log
			where snfId in (select snfId from #SolicitudNovedadFovis1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudNovedadPersonaFovis

	
			declare @SolicitudNovedadPersonaFovis1 table (spfId bigint   not null,spfPersona bigint   null,spfSolicitudNovedadFovis bigint   not null,spfPostulacionFovis bigint   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select spfId, spfPersona, spfSolicitudNovedadFovis, spfPostulacionFovis, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudNovedadPersonaFovis_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudNovedadPersonaFovis1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudNovedadPersonaFovis1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by spfId) then 1 else null end as act
				,row_number() over (partition by spfId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudNovedadPersonaFovis1)
			select *
			into #SolicitudNovedadPersonaFovis1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update spf set spf.spfPersona = a.spfPersona, spf.spfSolicitudNovedadFovis = a.spfSolicitudNovedadFovis, spf.spfPostulacionFovis = a.spfPostulacionFovis, spf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.spfId, inserted.spfPersona, inserted.spfSolicitudNovedadFovis, inserted.spfPostulacionFovis, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudNovedadPersonaFovis_log
			from #SolicitudNovedadPersonaFovis1 as a
				inner join dbo.SolicitudNovedadPersonaFovis as spf on a.spfId = spf.spfId
			where (a.ultimaFechaModificacion > spf.ultimaFechaModificacion or spf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudNovedadPersonaFovis1)



			drop table if exists #spfIds
			create table #spfIds (spfId bigInt)
			insert #spfIds
			select spfId from #SolicitudNovedadPersonaFovis1
			except 
			select spfId from dbo.SolicitudNovedadPersonaFovis

			insert dbo.SolicitudNovedadPersonaFovis (spfId, spfPersona, spfSolicitudNovedadFovis, spfPostulacionFovis,ultimaFechaModificacion)
			output inserted.spfId, inserted.spfPersona, inserted.spfSolicitudNovedadFovis, inserted.spfPostulacionFovis
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudNovedadPersonaFovis_log
			select spfId, spfPersona, spfSolicitudNovedadFovis, spfPostulacionFovis, ultimaFechaModificacion
			from #SolicitudNovedadPersonaFovis1
			where spfId in (select spfId from #spfIds)
				and actId = 1

			delete from dbo.SolicitudNovedadPersonaFovis
			output deleted.spfId, deleted.spfPersona, deleted.spfSolicitudNovedadFovis, deleted.spfPostulacionFovis
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudNovedadPersonaFovis_log
			where spfId in (select spfId from #SolicitudNovedadPersonaFovis1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla solicitudpostulacion

	
			declare @solicitudpostulacion1 table (spoId bigint   not null,spoSolicitudGlobal bigint   not null,spoPostulacionFOVIS bigint   null,spoEstadoSolicitud varchar(42)   null,spoObservaciones varchar(500)   null,spoObservacionesWeb varchar(500)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select spoId, spoSolicitudGlobal, spoPostulacionFOVIS, spoEstadoSolicitud, spoObservaciones, spoObservacionesWeb, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_solicitudpostulacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @solicitudpostulacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #solicitudpostulacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by spoId) then 1 else null end as act
				,row_number() over (partition by spoId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @solicitudpostulacion1)
			select *
			into #solicitudpostulacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update spo set spo.spoSolicitudGlobal = a.spoSolicitudGlobal, spo.spoPostulacionFOVIS = a.spoPostulacionFOVIS, spo.spoEstadoSolicitud = a.spoEstadoSolicitud, spo.spoObservaciones = a.spoObservaciones, spo.spoObservacionesWeb = a.spoObservacionesWeb, spo.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.spoId, inserted.spoSolicitudGlobal, inserted.spoPostulacionFOVIS, inserted.spoEstadoSolicitud, inserted.spoObservaciones, inserted.spoObservacionesWeb, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.solicitudpostulacion_log
			from #solicitudpostulacion1 as a
				inner join dbo.solicitudpostulacion as spo on a.spoId = spo.spoId
			where (a.ultimaFechaModificacion > spo.ultimaFechaModificacion or spo.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #solicitudpostulacion1)



			drop table if exists #spoIds
			create table #spoIds (spoId bigInt)
			insert #spoIds
			select spoId from #solicitudpostulacion1
			except 
			select spoId from dbo.solicitudpostulacion

			insert dbo.solicitudpostulacion (spoId, spoSolicitudGlobal, spoPostulacionFOVIS, spoEstadoSolicitud, spoObservaciones, spoObservacionesWeb,ultimaFechaModificacion)
			output inserted.spoId, inserted.spoSolicitudGlobal, inserted.spoPostulacionFOVIS, inserted.spoEstadoSolicitud, inserted.spoObservaciones, inserted.spoObservacionesWeb
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.solicitudpostulacion_log
			select spoId, spoSolicitudGlobal, spoPostulacionFOVIS, spoEstadoSolicitud, spoObservaciones, spoObservacionesWeb, ultimaFechaModificacion
			from #solicitudpostulacion1
			where spoId in (select spoId from #spoIds)
				and actId = 1

			delete from dbo.solicitudpostulacion
			output deleted.spoId, deleted.spoSolicitudGlobal, deleted.spoPostulacionFOVIS, deleted.spoEstadoSolicitud, deleted.spoObservaciones, deleted.spoObservacionesWeb
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.solicitudpostulacion_log
			where spoId in (select spoId from #solicitudpostulacion1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudPreventiva

	
			declare @SolicitudPreventiva1 table (sprId bigint   not null,sprActualizacionEfectiva bit   null,sprBackActualizacion varchar(255)   null,sprContactoEfectivo bit   null,sprEstadoSolicitudPreventiva varchar(34)   null,sprPersona bigint   not null,sprRequiereFiscalizacion bit   null,sprTipoSolicitanteMovimientoAporte varchar(14)   not null,sprSolicitudGlobal bigint   not null,sprTipoGestionCartera varchar(10)   null,sprFechaFiscalizacion date   null,sprCantidadVecesMoroso smallint   null,sprEstadoActualCartera varchar(6)   null,sprFechaLimitePago date   null,sprSolicitudPreventivaAgrupadora bigint   null,sprTrabajadoresActivos smallint   null,sprValorPromedioAportes numeric (18,  0) null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select sprId, sprActualizacionEfectiva, sprBackActualizacion, sprContactoEfectivo, sprEstadoSolicitudPreventiva, sprPersona, sprRequiereFiscalizacion, sprTipoSolicitanteMovimientoAporte, sprSolicitudGlobal, sprTipoGestionCartera, sprFechaFiscalizacion, sprCantidadVecesMoroso, sprEstadoActualCartera, sprFechaLimitePago, sprSolicitudPreventivaAgrupadora, sprTrabajadoresActivos, sprValorPromedioAportes, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudPreventiva_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudPreventiva1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudPreventiva1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by sprId) then 1 else null end as act
				,row_number() over (partition by sprId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudPreventiva1)
			select *
			into #SolicitudPreventiva1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update spr set spr.sprActualizacionEfectiva = a.sprActualizacionEfectiva, spr.sprBackActualizacion = a.sprBackActualizacion, spr.sprContactoEfectivo = a.sprContactoEfectivo, spr.sprEstadoSolicitudPreventiva = a.sprEstadoSolicitudPreventiva, spr.sprPersona = a.sprPersona, spr.sprRequiereFiscalizacion = a.sprRequiereFiscalizacion, spr.sprTipoSolicitanteMovimientoAporte = a.sprTipoSolicitanteMovimientoAporte, spr.sprSolicitudGlobal = a.sprSolicitudGlobal, spr.sprTipoGestionCartera = a.sprTipoGestionCartera, spr.sprFechaFiscalizacion = a.sprFechaFiscalizacion, spr.sprCantidadVecesMoroso = a.sprCantidadVecesMoroso, spr.sprEstadoActualCartera = a.sprEstadoActualCartera, spr.sprFechaLimitePago = a.sprFechaLimitePago, spr.sprSolicitudPreventivaAgrupadora = a.sprSolicitudPreventivaAgrupadora, spr.sprTrabajadoresActivos = a.sprTrabajadoresActivos, spr.sprValorPromedioAportes = a.sprValorPromedioAportes, spr.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.sprId, inserted.sprActualizacionEfectiva, inserted.sprBackActualizacion, inserted.sprContactoEfectivo, inserted.sprEstadoSolicitudPreventiva, inserted.sprPersona, inserted.sprRequiereFiscalizacion, inserted.sprTipoSolicitanteMovimientoAporte, inserted.sprSolicitudGlobal, inserted.sprTipoGestionCartera, inserted.sprFechaFiscalizacion, inserted.sprCantidadVecesMoroso, inserted.sprEstadoActualCartera, inserted.sprFechaLimitePago, inserted.sprSolicitudPreventivaAgrupadora, inserted.sprTrabajadoresActivos, inserted.sprValorPromedioAportes, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudPreventiva_log
			from #SolicitudPreventiva1 as a
				inner join dbo.SolicitudPreventiva as spr on a.sprId = spr.sprId
			where (a.ultimaFechaModificacion > spr.ultimaFechaModificacion or spr.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudPreventiva1)



			drop table if exists #sprIds
			create table #sprIds (sprId bigInt)
			insert #sprIds
			select sprId from #SolicitudPreventiva1
			except 
			select sprId from dbo.SolicitudPreventiva

			insert dbo.SolicitudPreventiva (sprId, sprActualizacionEfectiva, sprBackActualizacion, sprContactoEfectivo, sprEstadoSolicitudPreventiva, sprPersona, sprRequiereFiscalizacion, sprTipoSolicitanteMovimientoAporte, sprSolicitudGlobal, sprTipoGestionCartera, sprFechaFiscalizacion, sprCantidadVecesMoroso, sprEstadoActualCartera, sprFechaLimitePago, sprSolicitudPreventivaAgrupadora, sprTrabajadoresActivos, sprValorPromedioAportes,ultimaFechaModificacion)
			output inserted.sprId, inserted.sprActualizacionEfectiva, inserted.sprBackActualizacion, inserted.sprContactoEfectivo, inserted.sprEstadoSolicitudPreventiva, inserted.sprPersona, inserted.sprRequiereFiscalizacion, inserted.sprTipoSolicitanteMovimientoAporte, inserted.sprSolicitudGlobal, inserted.sprTipoGestionCartera, inserted.sprFechaFiscalizacion, inserted.sprCantidadVecesMoroso, inserted.sprEstadoActualCartera, inserted.sprFechaLimitePago, inserted.sprSolicitudPreventivaAgrupadora, inserted.sprTrabajadoresActivos, inserted.sprValorPromedioAportes
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudPreventiva_log
			select sprId, sprActualizacionEfectiva, sprBackActualizacion, sprContactoEfectivo, sprEstadoSolicitudPreventiva, sprPersona, sprRequiereFiscalizacion, sprTipoSolicitanteMovimientoAporte, sprSolicitudGlobal, sprTipoGestionCartera, sprFechaFiscalizacion, sprCantidadVecesMoroso, sprEstadoActualCartera, sprFechaLimitePago, sprSolicitudPreventivaAgrupadora, sprTrabajadoresActivos, sprValorPromedioAportes, ultimaFechaModificacion
			from #SolicitudPreventiva1
			where sprId in (select sprId from #sprIds)
				and actId = 1

			delete from dbo.SolicitudPreventiva
			output deleted.sprId, deleted.sprActualizacionEfectiva, deleted.sprBackActualizacion, deleted.sprContactoEfectivo, deleted.sprEstadoSolicitudPreventiva, deleted.sprPersona, deleted.sprRequiereFiscalizacion, deleted.sprTipoSolicitanteMovimientoAporte, deleted.sprSolicitudGlobal, deleted.sprTipoGestionCartera, deleted.sprFechaFiscalizacion, deleted.sprCantidadVecesMoroso, deleted.sprEstadoActualCartera, deleted.sprFechaLimitePago, deleted.sprSolicitudPreventivaAgrupadora, deleted.sprTrabajadoresActivos, deleted.sprValorPromedioAportes
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudPreventiva_log
			where sprId in (select sprId from #SolicitudPreventiva1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla SolicitudVerificacionFovis

	
			declare @SolicitudVerificacionFovis1 table (svfId bigint   not null,svfSolicitudGlobal bigint   not null,svfPostulacionFOVIS bigint   null,svfEstadoSolicitud varchar(42)   null,svfTipo varchar(15)   null,svfObservaciones varchar(500)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select svfId, svfSolicitudGlobal, svfPostulacionFOVIS, svfEstadoSolicitud, svfTipo, svfObservaciones, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_SolicitudVerificacionFovis_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @SolicitudVerificacionFovis1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #SolicitudVerificacionFovis1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by svfId) then 1 else null end as act
				,row_number() over (partition by svfId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @SolicitudVerificacionFovis1)
			select *
			into #SolicitudVerificacionFovis1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update svf set svf.svfSolicitudGlobal = a.svfSolicitudGlobal, svf.svfPostulacionFOVIS = a.svfPostulacionFOVIS, svf.svfEstadoSolicitud = a.svfEstadoSolicitud, svf.svfTipo = a.svfTipo, svf.svfObservaciones = a.svfObservaciones, svf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.svfId, inserted.svfSolicitudGlobal, inserted.svfPostulacionFOVIS, inserted.svfEstadoSolicitud, inserted.svfTipo, inserted.svfObservaciones, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.SolicitudVerificacionFovis_log
			from #SolicitudVerificacionFovis1 as a
				inner join dbo.SolicitudVerificacionFovis as svf on a.svfId = svf.svfId
			where (a.ultimaFechaModificacion > svf.ultimaFechaModificacion or svf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #SolicitudVerificacionFovis1)



			drop table if exists #svfIds
			create table #svfIds (svfId bigInt)
			insert #svfIds
			select svfId from #SolicitudVerificacionFovis1
			except 
			select svfId from dbo.SolicitudVerificacionFovis

			insert dbo.SolicitudVerificacionFovis (svfId, svfSolicitudGlobal, svfPostulacionFOVIS, svfEstadoSolicitud, svfTipo, svfObservaciones,ultimaFechaModificacion)
			output inserted.svfId, inserted.svfSolicitudGlobal, inserted.svfPostulacionFOVIS, inserted.svfEstadoSolicitud, inserted.svfTipo, inserted.svfObservaciones
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.SolicitudVerificacionFovis_log
			select svfId, svfSolicitudGlobal, svfPostulacionFOVIS, svfEstadoSolicitud, svfTipo, svfObservaciones, ultimaFechaModificacion
			from #SolicitudVerificacionFovis1
			where svfId in (select svfId from #svfIds)
				and actId = 1

			delete from dbo.SolicitudVerificacionFovis
			output deleted.svfId, deleted.svfSolicitudGlobal, deleted.svfPostulacionFOVIS, deleted.svfEstadoSolicitud, deleted.svfTipo, deleted.svfObservaciones
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.SolicitudVerificacionFovis_log
			where svfId in (select svfId from #SolicitudVerificacionFovis1 where operacion = 1 and actId = 1)




		--Inicio Merge tabla PostulacionFOVISDev
       /*
	
			declare @PostulacionFOVISDev1 table (pdfid bigint not null, pfdvalorRestituir bigint null, pfdmediodepago varchar(30) null, pfdrendimientoFinanciero bigint null, pfdnumeroIdQuienHaceDevolucion varchar(16) null, pfdtipoIdQuienHaceDevolucion varchar(20) null, pfdnombreCompleto	varchar(250) null, pfdpostulacionfovis bigint null, pfdsolicitudglobal bigint null, pfdfecharegistro datetime null, ultimaFechaModificacion datetime null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pdfid, pfdvalorRestituir, pfdmediodepago,pfdrendimientoFinanciero, pfdnumeroIdQuienHaceDevolucion, pfdtipoIdQuienHaceDevolucion, pfdnombreCompleto, pfdpostulacionfovis, pfdsolicitudglobal, pfdfecharegistro
			,tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PostulacionFOVISDev_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PostulacionFOVISDev1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #PostulacionFOVISDev1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pdfid) then 1 else null end as act
				,row_number() over (partition by pdfid order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PostulacionFOVISDev1)
			select *
			into #PostulacionFOVISDev1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pfd
			set pfd.pfdvalorRestituir = a.pfdvalorRestituir, pfd.pfdmediodepago = a.pfdmediodepago, pfd.pfdrendimientoFinanciero = a.pfdrendimientoFinanciero, pfd.pfdnumeroIdQuienHaceDevolucion = a.pfdnumeroIdQuienHaceDevolucion, pfd.pfdtipoIdQuienHaceDevolucion = a.pfdtipoIdQuienHaceDevolucion, pfd.pfdnombreCompleto = a.pfdnombreCompleto, pfd.pfdpostulacionfovis = a.pfdpostulacionfovis, pfd.pfdsolicitudglobal = a.pfdsolicitudglobal, pfd.pfdfecharegistro = a.pfdfecharegistro, pfd.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pdfid, inserted.pfdvalorRestituir, inserted.pfdmediodepago, inserted.pfdrendimientoFinanciero, inserted.pfdnumeroIdQuienHaceDevolucion, inserted.pfdtipoIdQuienHaceDevolucion, inserted.pfdnombreCompleto, inserted.pfdpostulacionfovis, inserted.pfdsolicitudglobal, inserted.pfdfecharegistro, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PostulacionFOVISDev_log
			from #PostulacionFOVISDev1 as a
				inner join dbo.PostulacionFOVISDev as pfd on a.pdfId = pfd.pdfid
			where (a.ultimaFechaModificacion > pfd.ultimaFechaModificacion or pfd.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PostulacionFOVISDev1)



			drop table if exists #pfdIds
			create table #pfdIds (pdfid bigInt)
			insert #pfdIds
			select pdfid from #PostulacionFOVISDev1
			except 
			select pdfid from dbo.PostulacionFOVISDev

			insert dbo.PostulacionFOVISDev (pdfid, pfdvalorRestituir, pfdmediodepago, pfdrendimientoFinanciero, pfdnumeroIdQuienHaceDevolucion, pfdtipoIdQuienHaceDevolucion, pfdnombreCompleto, pfdpostulacionfovis, pfdsolicitudglobal, pfdfecharegistro, ultimaFechaModificacion)
			output inserted.pdfid, inserted.pfdvalorRestituir, inserted.pfdmediodepago, inserted.pfdrendimientoFinanciero, inserted.pfdnumeroIdQuienHaceDevolucion, inserted.pfdtipoIdQuienHaceDevolucion, inserted.pfdnombreCompleto, inserted.pfdpostulacionfovis, inserted.pfdsolicitudglobal, inserted.pfdfecharegistro
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PostulacionFOVISDev_log
			select pdfid, pfdvalorRestituir, pfdmediodepago, pfdrendimientoFinanciero, pfdnumeroIdQuienHaceDevolucion, pfdtipoIdQuienHaceDevolucion, pfdnombreCompleto, pfdpostulacionfovis, pfdsolicitudglobal, pfdfecharegistro, ultimaFechaModificacion
			from #PostulacionFOVISDev1
			where pdfid in (select pdfid from #pfdIds)
				and actId = 1

			delete from dbo.PostulacionFOVISDev
			output deleted.pdfid, deleted.pfdvalorRestituir, deleted.pfdmediodepago, deleted.pfdrendimientoFinanciero, deleted.pfdnumeroIdQuienHaceDevolucion, deleted.pfdtipoIdQuienHaceDevolucion, deleted.pfdnombreCompleto, deleted.pfdpostulacionfovis, deleted.pfdsolicitudglobal, deleted.pfdfecharegistro
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PostulacionFOVISDev_log
			where pdfId in (select pdfId from #PostulacionFOVISDev1 where operacion = 1 and actId = 1)

		*/	