create or ALTER   procedure [dbo].[OP_IntjefActPosLegConCicParCaj_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	
		--Inicio Merge tabla ActaAsignacionFovis

	
			declare @ActaAsignacionFovis1 table (aafId bigint   not null,aafSolicitudAsignacion bigint   not null,aafIdentificadorDocumentoActa varchar(255)   null,aafIdentificadorDocumentoConsolidado varchar(255)   null,aafNumeroResolucion varchar(20)   null,aafNumeroOficio varchar(20)   null,aafAnoResolucion varchar(4)   null,aafFechaResolucion datetime   null,aafFechaOficio datetime   null,aafNombreResponsable1 varchar(50)   null,aafCargoResponsable1 varchar(50)   null,aafNombreResponsable2 varchar(50)   null,aafCargoResponsable2 varchar(50)   null,aafNombreResponsable3 varchar(50)   null,aafCargoResponsable3 varchar(50)   null,aafFechaConfirmacion datetime   null,aafFechaCorte datetime   null,aafInicioVigencia datetime   null,aafFinVigencia datetime   null,aafFechaActaAsignacionFovis datetime   null,aafFechaPublicacion datetime   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select aafId, aafSolicitudAsignacion, aafIdentificadorDocumentoActa, aafIdentificadorDocumentoConsolidado, aafNumeroResolucion, aafNumeroOficio, aafAnoResolucion, aafFechaResolucion, aafFechaOficio, aafNombreResponsable1, aafCargoResponsable1, aafNombreResponsable2, aafCargoResponsable2, aafNombreResponsable3, aafCargoResponsable3, aafFechaConfirmacion, aafFechaCorte, aafInicioVigencia, aafFinVigencia, aafFechaActaAsignacionFovis, aafFechaPublicacion, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ActaAsignacionFovis_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ActaAsignacionFovis1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ActaAsignacionFovis1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by aafId) then 1 else null end as act
				,row_number() over (partition by aafId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ActaAsignacionFovis1)
			select *
			into #ActaAsignacionFovis1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update aaf set aaf.aafSolicitudAsignacion = a.aafSolicitudAsignacion, aaf.aafIdentificadorDocumentoActa = a.aafIdentificadorDocumentoActa, aaf.aafIdentificadorDocumentoConsolidado = a.aafIdentificadorDocumentoConsolidado, aaf.aafNumeroResolucion = a.aafNumeroResolucion, aaf.aafNumeroOficio = a.aafNumeroOficio, aaf.aafAnoResolucion = a.aafAnoResolucion, aaf.aafFechaResolucion = a.aafFechaResolucion, aaf.aafFechaOficio = a.aafFechaOficio, aaf.aafNombreResponsable1 = a.aafNombreResponsable1, aaf.aafCargoResponsable1 = a.aafCargoResponsable1, aaf.aafNombreResponsable2 = a.aafNombreResponsable2, aaf.aafCargoResponsable2 = a.aafCargoResponsable2, aaf.aafNombreResponsable3 = a.aafNombreResponsable3, aaf.aafCargoResponsable3 = a.aafCargoResponsable3, aaf.aafFechaConfirmacion = a.aafFechaConfirmacion, aaf.aafFechaCorte = a.aafFechaCorte, aaf.aafInicioVigencia = a.aafInicioVigencia, aaf.aafFinVigencia = a.aafFinVigencia, aaf.aafFechaActaAsignacionFovis = a.aafFechaActaAsignacionFovis, aaf.aafFechaPublicacion = a.aafFechaPublicacion, aaf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.aafId, inserted.aafSolicitudAsignacion, inserted.aafIdentificadorDocumentoActa, inserted.aafIdentificadorDocumentoConsolidado, inserted.aafNumeroResolucion, inserted.aafNumeroOficio, inserted.aafAnoResolucion, inserted.aafFechaResolucion, inserted.aafFechaOficio, inserted.aafNombreResponsable1, inserted.aafCargoResponsable1, inserted.aafNombreResponsable2, inserted.aafCargoResponsable2, inserted.aafNombreResponsable3, inserted.aafCargoResponsable3, inserted.aafFechaConfirmacion, inserted.aafFechaCorte, inserted.aafInicioVigencia, inserted.aafFinVigencia, inserted.aafFechaActaAsignacionFovis, inserted.aafFechaPublicacion, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ActaAsignacionFovis_log
			from #ActaAsignacionFovis1 as a
				inner join dbo.ActaAsignacionFovis as aaf on a.aafId = aaf.aafId
			where (a.ultimaFechaModificacion > aaf.ultimaFechaModificacion or aaf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ActaAsignacionFovis1)



			drop table if exists #aafIds
			create table #aafIds (aafId bigInt)
			insert #aafIds
			select aafId from #ActaAsignacionFovis1
			except 
			select aafId from dbo.ActaAsignacionFovis

			insert dbo.ActaAsignacionFovis (aafId, aafSolicitudAsignacion, aafIdentificadorDocumentoActa, aafIdentificadorDocumentoConsolidado, aafNumeroResolucion, aafNumeroOficio, aafAnoResolucion, aafFechaResolucion, aafFechaOficio, aafNombreResponsable1, aafCargoResponsable1, aafNombreResponsable2, aafCargoResponsable2, aafNombreResponsable3, aafCargoResponsable3, aafFechaConfirmacion, aafFechaCorte, aafInicioVigencia, aafFinVigencia, aafFechaActaAsignacionFovis, aafFechaPublicacion,ultimaFechaModificacion)
			output inserted.aafId, inserted.aafSolicitudAsignacion, inserted.aafIdentificadorDocumentoActa, inserted.aafIdentificadorDocumentoConsolidado, inserted.aafNumeroResolucion, inserted.aafNumeroOficio, inserted.aafAnoResolucion, inserted.aafFechaResolucion, inserted.aafFechaOficio, inserted.aafNombreResponsable1, inserted.aafCargoResponsable1, inserted.aafNombreResponsable2, inserted.aafCargoResponsable2, inserted.aafNombreResponsable3, inserted.aafCargoResponsable3, inserted.aafFechaConfirmacion, inserted.aafFechaCorte, inserted.aafInicioVigencia, inserted.aafFinVigencia, inserted.aafFechaActaAsignacionFovis, inserted.aafFechaPublicacion
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ActaAsignacionFovis_log
			select aafId, aafSolicitudAsignacion, aafIdentificadorDocumentoActa, aafIdentificadorDocumentoConsolidado, aafNumeroResolucion, aafNumeroOficio, aafAnoResolucion, aafFechaResolucion, aafFechaOficio, aafNombreResponsable1, aafCargoResponsable1, aafNombreResponsable2, aafCargoResponsable2, aafNombreResponsable3, aafCargoResponsable3, aafFechaConfirmacion, aafFechaCorte, aafInicioVigencia, aafFinVigencia, aafFechaActaAsignacionFovis, aafFechaPublicacion, ultimaFechaModificacion
			from #ActaAsignacionFovis1
			where aafId in (select aafId from #aafIds)
				and actId = 1

			delete from dbo.ActaAsignacionFovis
			output deleted.aafId, deleted.aafSolicitudAsignacion, deleted.aafIdentificadorDocumentoActa, deleted.aafIdentificadorDocumentoConsolidado, deleted.aafNumeroResolucion, deleted.aafNumeroOficio, deleted.aafAnoResolucion, deleted.aafFechaResolucion, deleted.aafFechaOficio, deleted.aafNombreResponsable1, deleted.aafCargoResponsable1, deleted.aafNombreResponsable2, deleted.aafCargoResponsable2, deleted.aafNombreResponsable3, deleted.aafCargoResponsable3, deleted.aafFechaConfirmacion, deleted.aafFechaCorte, deleted.aafInicioVigencia, deleted.aafFinVigencia, deleted.aafFechaActaAsignacionFovis, deleted.aafFechaPublicacion
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ActaAsignacionFovis_log
			where aafId in (select aafId from #ActaAsignacionFovis1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla CajaCompensacion

	
			declare @CajaCompensacion1 table (ccfId int   not null,ccfHabilitado bit   not null,ccfMetodoGeneracionEtiquetas varchar(150)   not null,ccfNombre varchar(100)   not null,ccfSocioAsopagos bit   not null,ccfDepartamento smallint   not null,ccfCodigo varchar(5)   not null,ccfCodigoRedeban int   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ccfId, ccfHabilitado, ccfMetodoGeneracionEtiquetas, ccfNombre, ccfSocioAsopagos, ccfDepartamento, ccfCodigo, ccfCodigoRedeban, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CajaCompensacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CajaCompensacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CajaCompensacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ccfId) then 1 else null end as act
				,row_number() over (partition by ccfId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CajaCompensacion1)
			select *
			into #CajaCompensacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update ccf set ccf.ccfHabilitado = a.ccfHabilitado, ccf.ccfMetodoGeneracionEtiquetas = a.ccfMetodoGeneracionEtiquetas, ccf.ccfNombre = a.ccfNombre, ccf.ccfSocioAsopagos = a.ccfSocioAsopagos, ccf.ccfDepartamento = a.ccfDepartamento, ccf.ccfCodigo = a.ccfCodigo, ccf.ccfCodigoRedeban = a.ccfCodigoRedeban, ccf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ccfId, inserted.ccfHabilitado, inserted.ccfMetodoGeneracionEtiquetas, inserted.ccfNombre, inserted.ccfSocioAsopagos, inserted.ccfDepartamento, inserted.ccfCodigo, inserted.ccfCodigoRedeban, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CajaCompensacion_log
			from #CajaCompensacion1 as a
				inner join dbo.CajaCompensacion as ccf on a.ccfId = ccf.ccfId
			where (a.ultimaFechaModificacion > ccf.ultimaFechaModificacion or ccf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CajaCompensacion1)



			drop table if exists #ccfIds
			create table #ccfIds (ccfId bigInt)
			insert #ccfIds
			select ccfId from #CajaCompensacion1
			except 
			select ccfId from dbo.CajaCompensacion

			insert dbo.CajaCompensacion (ccfId, ccfHabilitado, ccfMetodoGeneracionEtiquetas, ccfNombre, ccfSocioAsopagos, ccfDepartamento, ccfCodigo, ccfCodigoRedeban,ultimaFechaModificacion)
			output inserted.ccfId, inserted.ccfHabilitado, inserted.ccfMetodoGeneracionEtiquetas, inserted.ccfNombre, inserted.ccfSocioAsopagos, inserted.ccfDepartamento, inserted.ccfCodigo, inserted.ccfCodigoRedeban
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CajaCompensacion_log
			select ccfId, ccfHabilitado, ccfMetodoGeneracionEtiquetas, ccfNombre, ccfSocioAsopagos, ccfDepartamento, ccfCodigo, ccfCodigoRedeban, ultimaFechaModificacion
			from #CajaCompensacion1
			where ccfId in (select ccfId from #ccfIds)
				and actId = 1

			delete from dbo.CajaCompensacion
			output deleted.ccfId, deleted.ccfHabilitado, deleted.ccfMetodoGeneracionEtiquetas, deleted.ccfNombre, deleted.ccfSocioAsopagos, deleted.ccfDepartamento, deleted.ccfCodigo, deleted.ccfCodigoRedeban
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CajaCompensacion_log
			where ccfId in (select ccfId from #CajaCompensacion1 where operacion = 1 and actId = 1)
				
			

		--Inicio Merge tabla CicloAsignacion

	
			declare @CicloAsignacion1 table (ciaId bigint   not null,ciaNombre varchar(50)   null,ciaFechaInicio date   null,ciaFechaFin date   null,ciaCicloPredecesor bigint   null,ciaEstadoCicloAsignacion varchar(30)   null,ciaCicloActivo bit   null,ciaValorDisponible numeric (18,  0) null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select ciaId, ciaNombre, ciaFechaInicio, ciaFechaFin, ciaCicloPredecesor, ciaEstadoCicloAsignacion, ciaCicloActivo, ciaValorDisponible, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_CicloAsignacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @CicloAsignacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #CicloAsignacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by ciaId) then 1 else null end as act
				,row_number() over (partition by ciaId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @CicloAsignacion1)
			select *
			into #CicloAsignacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cia set cia.ciaNombre = a.ciaNombre, cia.ciaFechaInicio = a.ciaFechaInicio, cia.ciaFechaFin = a.ciaFechaFin, cia.ciaCicloPredecesor = a.ciaCicloPredecesor, cia.ciaEstadoCicloAsignacion = a.ciaEstadoCicloAsignacion, cia.ciaCicloActivo = a.ciaCicloActivo, cia.ciaValorDisponible = a.ciaValorDisponible, cia.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.ciaId, inserted.ciaNombre, inserted.ciaFechaInicio, inserted.ciaFechaFin, inserted.ciaCicloPredecesor, inserted.ciaEstadoCicloAsignacion, inserted.ciaCicloActivo, inserted.ciaValorDisponible, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.CicloAsignacion_log
			from #CicloAsignacion1 as a
				inner join dbo.CicloAsignacion as cia on a.ciaId = cia.ciaId
			where (a.ultimaFechaModificacion > cia.ultimaFechaModificacion or cia.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #CicloAsignacion1)



			drop table if exists #ciaIds
			create table #ciaIds (ciaId bigInt)
			insert #ciaIds
			select ciaId from #CicloAsignacion1
			except 
			select ciaId from dbo.CicloAsignacion

			insert dbo.CicloAsignacion (ciaId, ciaNombre, ciaFechaInicio, ciaFechaFin, ciaCicloPredecesor, ciaEstadoCicloAsignacion, ciaCicloActivo, ciaValorDisponible,ultimaFechaModificacion)
			output inserted.ciaId, inserted.ciaNombre, inserted.ciaFechaInicio, inserted.ciaFechaFin, inserted.ciaCicloPredecesor, inserted.ciaEstadoCicloAsignacion, inserted.ciaCicloActivo, inserted.ciaValorDisponible
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.CicloAsignacion_log
			select ciaId, ciaNombre, ciaFechaInicio, ciaFechaFin, ciaCicloPredecesor, ciaEstadoCicloAsignacion, ciaCicloActivo, ciaValorDisponible, ultimaFechaModificacion
			from #CicloAsignacion1
			where ciaId in (select ciaId from #ciaIds)
				and actId = 1

			delete from dbo.CicloAsignacion
			output deleted.ciaId, deleted.ciaNombre, deleted.ciaFechaInicio, deleted.ciaFechaFin, deleted.ciaCicloPredecesor, deleted.ciaEstadoCicloAsignacion, deleted.ciaCicloActivo, deleted.ciaValorDisponible
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.CicloAsignacion_log
			where ciaId in (select ciaId from #CicloAsignacion1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla Condicionvisita

	
			declare @Condicionvisita1 table (covId bigint   not null,covCondicion varchar(42)   not null,covCumple bit   not null,covObservacion varchar(250)   null,covVisita bigint   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select covId, covCondicion, covCumple, covObservacion, covVisita, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Condicionvisita_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Condicionvisita1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Condicionvisita1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by covId) then 1 else null end as act
				,row_number() over (partition by covId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Condicionvisita1)
			select *
			into #Condicionvisita1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cov set cov.covCondicion = a.covCondicion, cov.covCumple = a.covCumple, cov.covObservacion = a.covObservacion, cov.covVisita = a.covVisita, cov.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.covId, inserted.covCondicion, inserted.covCumple, inserted.covObservacion, inserted.covVisita, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Condicionvisita_log
			from #Condicionvisita1 as a
				inner join dbo.Condicionvisita as cov on a.covId = cov.covId
			where (a.ultimaFechaModificacion > cov.ultimaFechaModificacion or cov.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Condicionvisita1)



			drop table if exists #covIds
			create table #covIds (covId bigInt)
			insert #covIds
			select covId from #Condicionvisita1
			except 
			select covId from dbo.Condicionvisita

			insert dbo.Condicionvisita (covId, covCondicion, covCumple, covObservacion, covVisita,ultimaFechaModificacion)
			output inserted.covId, inserted.covCondicion, inserted.covCumple, inserted.covObservacion, inserted.covVisita
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Condicionvisita_log
			select covId, covCondicion, covCumple, covObservacion, covVisita, ultimaFechaModificacion
			from #Condicionvisita1
			where covId in (select covId from #covIds)
				and actId = 1

			delete from dbo.Condicionvisita
			output deleted.covId, deleted.covCondicion, deleted.covCumple, deleted.covObservacion, deleted.covVisita
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Condicionvisita_log
			where covId in (select covId from #Condicionvisita1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla IntegranteHogar

	
			declare @IntegranteHogar1 table (inhId bigint   not null,inhJefeHogar bigint   not null,inhPersona bigint   not null,inhIntegranteReemplazaJefeHogar bit   null,inhTipoIntegrante varchar(32)   not null,inhEstadoHogar varchar(10)   null,inhIntegranteValido bit   null,inhSalarioMensual numeric (18,  0) null,inhPostulacionFovis bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)

			set @query = N' 
			select inhId, inhJefeHogar, inhPersona, inhIntegranteReemplazaJefeHogar, inhTipoIntegrante, inhEstadoHogar, inhIntegranteValido, inhSalarioMensual, inhPostulacionFovis, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_IntegranteHogar_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @IntegranteHogar1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #IntegranteHogar1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by inhId) then 1 else null end as act
				,row_number() over (partition by inhId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @IntegranteHogar1)
			select *
			into #IntegranteHogar1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update inh set inh.inhJefeHogar = a.inhJefeHogar, inh.inhPersona = a.inhPersona, inh.inhIntegranteReemplazaJefeHogar = a.inhIntegranteReemplazaJefeHogar, inh.inhTipoIntegrante = a.inhTipoIntegrante, inh.inhEstadoHogar = a.inhEstadoHogar, inh.inhIntegranteValido = a.inhIntegranteValido, inh.inhSalarioMensual = a.inhSalarioMensual, inh.inhPostulacionFovis = a.inhPostulacionFovis, inh.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.inhId, inserted.inhJefeHogar, inserted.inhPersona, inserted.inhIntegranteReemplazaJefeHogar, inserted.inhTipoIntegrante, inserted.inhEstadoHogar, inserted.inhIntegranteValido, inserted.inhSalarioMensual, inserted.inhPostulacionFovis, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.IntegranteHogar_log
			from #IntegranteHogar1 as a
				inner join dbo.IntegranteHogar as inh on a.inhId = inh.inhId
			where (a.ultimaFechaModificacion > inh.ultimaFechaModificacion or inh.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #IntegranteHogar1)



			drop table if exists #inhIds
			create table #inhIds (inhId bigInt)
			insert #inhIds
			select inhId from #IntegranteHogar1
			except 
			select inhId from dbo.IntegranteHogar

			insert dbo.IntegranteHogar (inhId, inhJefeHogar, inhPersona, inhIntegranteReemplazaJefeHogar, inhTipoIntegrante, inhEstadoHogar, inhIntegranteValido, inhSalarioMensual, inhPostulacionFovis,ultimaFechaModificacion)
			output inserted.inhId, inserted.inhJefeHogar, inserted.inhPersona, inserted.inhIntegranteReemplazaJefeHogar, inserted.inhTipoIntegrante, inserted.inhEstadoHogar, inserted.inhIntegranteValido, inserted.inhSalarioMensual, inserted.inhPostulacionFovis
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.IntegranteHogar_log
			select inhId, inhJefeHogar, inhPersona, inhIntegranteReemplazaJefeHogar, inhTipoIntegrante, inhEstadoHogar, inhIntegranteValido, inhSalarioMensual, inhPostulacionFovis, ultimaFechaModificacion
			from #IntegranteHogar1
			where inhId in (select inhId from #inhIds)
				and actId = 1

			delete from dbo.IntegranteHogar
			output deleted.inhId, deleted.inhJefeHogar, deleted.inhPersona, deleted.inhIntegranteReemplazaJefeHogar, deleted.inhTipoIntegrante, deleted.inhEstadoHogar, deleted.inhIntegranteValido, deleted.inhSalarioMensual, deleted.inhPostulacionFovis
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.IntegranteHogar_log
			where inhId in (select inhId from #IntegranteHogar1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla IntentoAfiliacion

	
			declare @IntentoAfiliacion1 table (iafId bigint   not null,iafCausaIntentoFallido varchar(50)   null,iafFechaCreacion datetime2   null,iafFechaInicioProceso datetime2   null,iafSedeCajaCompensacion varchar(2)   null,iafTipoTransaccion varchar(100)   null,iafUsuarioCreacion varchar(255)   null,iafSolicitud bigint   null,iafTipoIdentificacion varchar(20)   null,iafNumeroIdentificacion varchar(16)   null,iafComunicado bigint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select iafId, iafCausaIntentoFallido, iafFechaCreacion, iafFechaInicioProceso, iafSedeCajaCompensacion, iafTipoTransaccion, iafUsuarioCreacion, iafSolicitud, iafTipoIdentificacion, iafNumeroIdentificacion, iafComunicado, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_IntentoAfiliacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @IntentoAfiliacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #IntentoAfiliacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by iafId) then 1 else null end as act
				,row_number() over (partition by iafId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @IntentoAfiliacion1)
			select *
			into #IntentoAfiliacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update iaf set iaf.iafCausaIntentoFallido = a.iafCausaIntentoFallido, iaf.iafFechaCreacion = a.iafFechaCreacion, iaf.iafFechaInicioProceso = a.iafFechaInicioProceso, iaf.iafSedeCajaCompensacion = a.iafSedeCajaCompensacion, iaf.iafTipoTransaccion = a.iafTipoTransaccion, iaf.iafUsuarioCreacion = a.iafUsuarioCreacion, iaf.iafSolicitud = a.iafSolicitud, iaf.iafTipoIdentificacion = a.iafTipoIdentificacion, iaf.iafNumeroIdentificacion = a.iafNumeroIdentificacion, iaf.iafComunicado = a.iafComunicado, iaf.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.iafId, inserted.iafCausaIntentoFallido, inserted.iafFechaCreacion, inserted.iafFechaInicioProceso, inserted.iafSedeCajaCompensacion, inserted.iafTipoTransaccion, inserted.iafUsuarioCreacion, inserted.iafSolicitud, inserted.iafTipoIdentificacion, inserted.iafNumeroIdentificacion, inserted.iafComunicado, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.IntentoAfiliacion_log
			from #IntentoAfiliacion1 as a
				inner join dbo.IntentoAfiliacion as iaf on a.iafId = iaf.iafId
			where (a.ultimaFechaModificacion > iaf.ultimaFechaModificacion or iaf.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #IntentoAfiliacion1)



			drop table if exists #iafIds
			create table #iafIds (iafId bigInt)
			insert #iafIds
			select iafId from #IntentoAfiliacion1
			except 
			select iafId from dbo.IntentoAfiliacion

			insert dbo.IntentoAfiliacion (iafId, iafCausaIntentoFallido, iafFechaCreacion, iafFechaInicioProceso, iafSedeCajaCompensacion, iafTipoTransaccion, iafUsuarioCreacion, iafSolicitud, iafTipoIdentificacion, iafNumeroIdentificacion, iafComunicado,ultimaFechaModificacion)
			output inserted.iafId, inserted.iafCausaIntentoFallido, inserted.iafFechaCreacion, inserted.iafFechaInicioProceso, inserted.iafSedeCajaCompensacion, inserted.iafTipoTransaccion, inserted.iafUsuarioCreacion, inserted.iafSolicitud, inserted.iafTipoIdentificacion, inserted.iafNumeroIdentificacion, inserted.iafComunicado
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.IntentoAfiliacion_log
			select iafId, iafCausaIntentoFallido, iafFechaCreacion, iafFechaInicioProceso, iafSedeCajaCompensacion, iafTipoTransaccion, iafUsuarioCreacion, iafSolicitud, iafTipoIdentificacion, iafNumeroIdentificacion, iafComunicado, ultimaFechaModificacion
			from #IntentoAfiliacion1
			where iafId in (select iafId from #iafIds)
				and actId = 1

			delete from dbo.IntentoAfiliacion
			output deleted.iafId, deleted.iafCausaIntentoFallido, deleted.iafFechaCreacion, deleted.iafFechaInicioProceso, deleted.iafSedeCajaCompensacion, deleted.iafTipoTransaccion, deleted.iafUsuarioCreacion, deleted.iafSolicitud, deleted.iafTipoIdentificacion, deleted.iafNumeroIdentificacion, deleted.iafComunicado
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.IntentoAfiliacion_log
			where iafId in (select iafId from #IntentoAfiliacion1 where operacion = 1 and actId = 1)
				
				
			

		--Inicio Merge tabla jefehogar

	
			declare @jefehogar1 table (jehId bigint   not null,jehAfiliado bigint   not null,jehEstadoHogar varchar(10)   null,jehIngresoMensual numeric (18,  0) null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select jehId, jehAfiliado, jehEstadoHogar, jehIngresoMensual, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_jefehogar_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @jefehogar1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #jefehogar1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by jehId) then 1 else null end as act
				,row_number() over (partition by jehId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @jefehogar1)
			select *
			into #jefehogar1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update jeh set jeh.jehAfiliado = a.jehAfiliado, jeh.jehEstadoHogar = a.jehEstadoHogar, jeh.jehIngresoMensual = a.jehIngresoMensual, jeh.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.jehId, inserted.jehAfiliado, inserted.jehEstadoHogar, inserted.jehIngresoMensual, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.jefehogar_log
			from #jefehogar1 as a
				inner join dbo.jefehogar as jeh on a.jehId = jeh.jehId
			where (a.ultimaFechaModificacion > jeh.ultimaFechaModificacion or jeh.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #jefehogar1)



			drop table if exists #jehIds
			create table #jehIds (jehId bigInt)
			insert #jehIds
			select jehId from #jefehogar1
			except 
			select jehId from dbo.jefehogar

			insert dbo.jefehogar (jehId, jehAfiliado, jehEstadoHogar, jehIngresoMensual,ultimaFechaModificacion)
			output inserted.jehId, inserted.jehAfiliado, inserted.jehEstadoHogar, inserted.jehIngresoMensual
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.jefehogar_log
			select jehId, jehAfiliado, jehEstadoHogar, jehIngresoMensual, ultimaFechaModificacion
			from #jefehogar1
			where jehId in (select jehId from #jehIds)
				and actId = 1

			delete from dbo.jefehogar
			output deleted.jehId, deleted.jehAfiliado, deleted.jehEstadoHogar, deleted.jehIngresoMensual
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.jefehogar_log
			where jehId in (select jehId from #jefehogar1 where operacion = 1 and actId = 1)
				
				
			
		--Inicio Merge tabla LegalizacionDesembolso

	
			declare @LegalizacionDesembolso1 table (lgdId bigint   not null,lgdFormaPago varchar(50)   null,lgdValorDesembolsar numeric (18,  0) null,lgdFechaLimitePago datetime   null,lgdVisita bigint   null,lgdSubsidioDesembolsado bit   null,lgdTipoMedioPago varchar(30)   null,lgdDocumentoSoporte varchar(255)   null,lgdFechaTransferencia datetime2   null,lgdObservaciones varchar(500)   null,lgdMontoDesembolsado numeric (18,  0) null,lgdObservacionesBack varchar(500)   null,lgdDocumentoSoporteBack varchar(255)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)
	
			set @query = N'select lgdId, lgdFormaPago, lgdValorDesembolsar, lgdFechaLimitePago, lgdVisita, lgdSubsidioDesembolsado, lgdTipoMedioPago, lgdDocumentoSoporte, lgdFechaTransferencia, lgdObservaciones, lgdMontoDesembolsado, lgdObservacionesBack, lgdDocumentoSoporteBack, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_LegalizacionDesembolso_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @LegalizacionDesembolso1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #LegalizacionDesembolso1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by lgdId) then 1 else null end as act
				,row_number() over (partition by lgdId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @LegalizacionDesembolso1)
			select *
			into #LegalizacionDesembolso1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update lgd set lgd.lgdFormaPago = a.lgdFormaPago, lgd.lgdValorDesembolsar = a.lgdValorDesembolsar, lgd.lgdFechaLimitePago = a.lgdFechaLimitePago, lgd.lgdVisita = a.lgdVisita, lgd.lgdSubsidioDesembolsado = a.lgdSubsidioDesembolsado, lgd.lgdTipoMedioPago = a.lgdTipoMedioPago, lgd.lgdDocumentoSoporte = a.lgdDocumentoSoporte, lgd.lgdFechaTransferencia = a.lgdFechaTransferencia, lgd.lgdObservaciones = a.lgdObservaciones, lgd.lgdMontoDesembolsado = a.lgdMontoDesembolsado, lgd.lgdObservacionesBack = a.lgdObservacionesBack, lgd.lgdDocumentoSoporteBack = a.lgdDocumentoSoporteBack, lgd.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.lgdId, inserted.lgdFormaPago, inserted.lgdValorDesembolsar, inserted.lgdFechaLimitePago, inserted.lgdVisita, inserted.lgdSubsidioDesembolsado, inserted.lgdTipoMedioPago, inserted.lgdDocumentoSoporte, inserted.lgdFechaTransferencia, inserted.lgdObservaciones, inserted.lgdMontoDesembolsado, inserted.lgdObservacionesBack, inserted.lgdDocumentoSoporteBack, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.LegalizacionDesembolso_log
			from #LegalizacionDesembolso1 as a
				inner join dbo.LegalizacionDesembolso as lgd on a.lgdId = lgd.lgdId
			where (a.ultimaFechaModificacion > lgd.ultimaFechaModificacion or lgd.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #LegalizacionDesembolso1)



			drop table if exists #lgdIds
			create table #lgdIds (lgdId bigInt)
			insert #lgdIds
			select lgdId from #LegalizacionDesembolso1
			except 
			select lgdId from dbo.LegalizacionDesembolso

			insert dbo.LegalizacionDesembolso (lgdId, lgdFormaPago, lgdValorDesembolsar, lgdFechaLimitePago, lgdVisita, lgdSubsidioDesembolsado, lgdTipoMedioPago, lgdDocumentoSoporte, lgdFechaTransferencia, lgdObservaciones, lgdMontoDesembolsado, lgdObservacionesBack, lgdDocumentoSoporteBack,ultimaFechaModificacion)
			output inserted.lgdId, inserted.lgdFormaPago, inserted.lgdValorDesembolsar, inserted.lgdFechaLimitePago, inserted.lgdVisita, inserted.lgdSubsidioDesembolsado, inserted.lgdTipoMedioPago, inserted.lgdDocumentoSoporte, inserted.lgdFechaTransferencia, inserted.lgdObservaciones, inserted.lgdMontoDesembolsado, inserted.lgdObservacionesBack, inserted.lgdDocumentoSoporteBack
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.LegalizacionDesembolso_log
			select lgdId, lgdFormaPago, lgdValorDesembolsar, lgdFechaLimitePago, lgdVisita, lgdSubsidioDesembolsado, lgdTipoMedioPago, lgdDocumentoSoporte, lgdFechaTransferencia, lgdObservaciones, lgdMontoDesembolsado, lgdObservacionesBack, lgdDocumentoSoporteBack, ultimaFechaModificacion
			from #LegalizacionDesembolso1
			where lgdId in (select lgdId from #lgdIds)
				and actId = 1

			delete from dbo.LegalizacionDesembolso
			output deleted.lgdId, deleted.lgdFormaPago, deleted.lgdValorDesembolsar, deleted.lgdFechaLimitePago, deleted.lgdVisita, deleted.lgdSubsidioDesembolsado, deleted.lgdTipoMedioPago, deleted.lgdDocumentoSoporte, deleted.lgdFechaTransferencia, deleted.lgdObservaciones, deleted.lgdMontoDesembolsado, deleted.lgdObservacionesBack, deleted.lgdDocumentoSoporteBack
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.LegalizacionDesembolso_log
			where lgdId in (select lgdId from #LegalizacionDesembolso1 where operacion = 1 and actId = 1)
				
				
			
		--Inicio Merge tabla ParametrizacionNovedad

	
			declare @ParametrizacionNovedad1 table (novId bigint   not null,novTipoTransaccion varchar(100)   null,novPuntoResolucion varchar(255)   null,novRutaCualificada varchar(255)   null,novTipoNovedad varchar(255)   null,novProceso varchar(50)   null,novAplicaTodosRoles bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select novId, novTipoTransaccion, novPuntoResolucion, novRutaCualificada, novTipoNovedad, novProceso, novAplicaTodosRoles, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_ParametrizacionNovedad_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @ParametrizacionNovedad1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #ParametrizacionNovedad1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by novId) then 1 else null end as act
				,row_number() over (partition by novId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @ParametrizacionNovedad1)
			select *
			into #ParametrizacionNovedad1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update nov set nov.novTipoTransaccion = a.novTipoTransaccion, nov.novPuntoResolucion = a.novPuntoResolucion, nov.novRutaCualificada = a.novRutaCualificada, nov.novTipoNovedad = a.novTipoNovedad, nov.novProceso = a.novProceso, nov.novAplicaTodosRoles = a.novAplicaTodosRoles, nov.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.novId, inserted.novTipoTransaccion, inserted.novPuntoResolucion, inserted.novRutaCualificada, inserted.novTipoNovedad, inserted.novProceso, inserted.novAplicaTodosRoles, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.ParametrizacionNovedad_log
			from #ParametrizacionNovedad1 as a
				inner join dbo.ParametrizacionNovedad as nov on a.novId = nov.novId
			where (a.ultimaFechaModificacion > nov.ultimaFechaModificacion or nov.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #ParametrizacionNovedad1)



			drop table if exists #novIds
			create table #novIds (novId bigInt)
			insert #novIds
			select novId from #ParametrizacionNovedad1
			except 
			select novId from dbo.ParametrizacionNovedad

			insert dbo.ParametrizacionNovedad (novId, novTipoTransaccion, novPuntoResolucion, novRutaCualificada, novTipoNovedad, novProceso, novAplicaTodosRoles,ultimaFechaModificacion)
			output inserted.novId, inserted.novTipoTransaccion, inserted.novPuntoResolucion, inserted.novRutaCualificada, inserted.novTipoNovedad, inserted.novProceso, inserted.novAplicaTodosRoles
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.ParametrizacionNovedad_log
			select novId, novTipoTransaccion, novPuntoResolucion, novRutaCualificada, novTipoNovedad, novProceso, novAplicaTodosRoles, ultimaFechaModificacion
			from #ParametrizacionNovedad1
			where novId in (select novId from #novIds)
				and actId = 1

			delete from dbo.ParametrizacionNovedad
			output deleted.novId, deleted.novTipoTransaccion, deleted.novPuntoResolucion, deleted.novRutaCualificada, deleted.novTipoNovedad, deleted.novProceso, deleted.novAplicaTodosRoles
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.ParametrizacionNovedad_log
			where novId in (select novId from #ParametrizacionNovedad1 where operacion = 1 and actId = 1)
				
				
			
		--Inicio Merge tabla PostulacionAsignacion

	
			declare @PostulacionAsignacion1 table (pasId bigint   not null,pasPostulacionFovis bigint   not null,pasCicloAsignacion bigint   not null,pasCalificacionPostulacion bigint   null,pasSolicitudAsignacion bigint   null,pasPrioridadAsignacion varchar(11)   null,pasValorAsignadoSFV numeric (19,  5) null,pasResultadoAsignacion varchar(50)   null,pasDocumentoActaAsignacion varchar(255)   null,pasRecursoPrioridad varchar(50)   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select pasId, pasPostulacionFovis, pasCicloAsignacion, pasCalificacionPostulacion, pasSolicitudAsignacion, pasPrioridadAsignacion, pasValorAsignadoSFV, pasResultadoAsignacion, pasDocumentoActaAsignacion, pasRecursoPrioridad, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_PostulacionAsignacion_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @PostulacionAsignacion1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #PostulacionAsignacion1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by pasId) then 1 else null end as act
				,row_number() over (partition by pasId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @PostulacionAsignacion1)
			select *
			into #PostulacionAsignacion1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update pas set pas.pasPostulacionFovis = a.pasPostulacionFovis, pas.pasCicloAsignacion = a.pasCicloAsignacion, pas.pasCalificacionPostulacion = a.pasCalificacionPostulacion, pas.pasSolicitudAsignacion = a.pasSolicitudAsignacion, pas.pasPrioridadAsignacion = a.pasPrioridadAsignacion, pas.pasValorAsignadoSFV = a.pasValorAsignadoSFV, pas.pasResultadoAsignacion = a.pasResultadoAsignacion, pas.pasDocumentoActaAsignacion = a.pasDocumentoActaAsignacion, pas.pasRecursoPrioridad = a.pasRecursoPrioridad, pas.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.pasId, inserted.pasPostulacionFovis, inserted.pasCicloAsignacion, inserted.pasCalificacionPostulacion, inserted.pasSolicitudAsignacion, inserted.pasPrioridadAsignacion, inserted.pasValorAsignadoSFV, inserted.pasResultadoAsignacion, inserted.pasDocumentoActaAsignacion, inserted.pasRecursoPrioridad, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.PostulacionAsignacion_log
			from #PostulacionAsignacion1 as a
				inner join dbo.PostulacionAsignacion as pas on a.pasId = pas.pasId
			where (a.ultimaFechaModificacion > pas.ultimaFechaModificacion or pas.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #PostulacionAsignacion1)



			drop table if exists #pasIds
			create table #pasIds (pasId bigInt)
			insert #pasIds
			select pasId from #PostulacionAsignacion1
			except 
			select pasId from dbo.PostulacionAsignacion

			insert dbo.PostulacionAsignacion (pasId, pasPostulacionFovis, pasCicloAsignacion, pasCalificacionPostulacion, pasSolicitudAsignacion, pasPrioridadAsignacion, pasValorAsignadoSFV, pasResultadoAsignacion, pasDocumentoActaAsignacion, pasRecursoPrioridad,ultimaFechaModificacion)
			output inserted.pasId, inserted.pasPostulacionFovis, inserted.pasCicloAsignacion, inserted.pasCalificacionPostulacion, inserted.pasSolicitudAsignacion, inserted.pasPrioridadAsignacion, inserted.pasValorAsignadoSFV, inserted.pasResultadoAsignacion, inserted.pasDocumentoActaAsignacion, inserted.pasRecursoPrioridad
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.PostulacionAsignacion_log
			select pasId, pasPostulacionFovis, pasCicloAsignacion, pasCalificacionPostulacion, pasSolicitudAsignacion, pasPrioridadAsignacion, pasValorAsignadoSFV, pasResultadoAsignacion, pasDocumentoActaAsignacion, pasRecursoPrioridad, ultimaFechaModificacion
			from #PostulacionAsignacion1
			where pasId in (select pasId from #pasIds)
				and actId = 1

			delete from dbo.PostulacionAsignacion
			output deleted.pasId, deleted.pasPostulacionFovis, deleted.pasCicloAsignacion, deleted.pasCalificacionPostulacion, deleted.pasSolicitudAsignacion, deleted.pasPrioridadAsignacion, deleted.pasValorAsignadoSFV, deleted.pasResultadoAsignacion, deleted.pasDocumentoActaAsignacion, deleted.pasRecursoPrioridad
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.PostulacionAsignacion_log
			where pasId in (select pasId from #PostulacionAsignacion1 where operacion = 1 and actId = 1)



		--Inicio Merge tabla Cruce

	
			declare @Cruce1 table (cruId bigint not null, cruCargueArchivoCruceFovis bigint null, cruNumeroPostulacion varchar(20) null, cruPersona	bigint null, cruEstadoCruce	varchar(22) not null, cruSolicitudGestionCruce bigint null, cruResultadoCodigoIdentificadorECM varchar(255)	null, cruObservacionResultado varchar(500) null, cruEjecucionProcesoAsincrono bigint null, cruFechaRegistro datetime not null, ultimaFechaModificacion datetime null, operacion int not null, comando int null, secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select cruId, cruCargueArchivoCruceFovis, cruNumeroPostulacion, cruPersona, cruEstadoCruce, cruSolicitudGestionCruce, cruResultadoCodigoIdentificadorECM, cruObservacionResultado, cruEjecucionProcesoAsincrono, cruFechaRegistro, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Cruce_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Cruce1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Cruce1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by cruId) then 1 else null end as act
				,row_number() over (partition by cruId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Cruce1)
			select *
			into #Cruce1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update cru 
			set cru.cruId = a.cruId, cru.cruCargueArchivoCruceFovis = a.cruCargueArchivoCruceFovis, cru.cruNumeroPostulacion = a.cruNumeroPostulacion, cru.cruPersona = a.cruPersona, cru.cruEstadoCruce = a.cruEstadoCruce, cru.cruSolicitudGestionCruce = a.cruSolicitudGestionCruce, cru.cruResultadoCodigoIdentificadorECM = a.cruResultadoCodigoIdentificadorECM, cru.cruObservacionResultado = a.cruObservacionResultado , cru.cruEjecucionProcesoAsincrono = a.cruEjecucionProcesoAsincrono, cru.cruFechaRegistro = a.cruFechaRegistro, cru.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.cruId, inserted.cruCargueArchivoCruceFovis, inserted.cruNumeroPostulacion, inserted.cruPersona, inserted.cruEstadoCruce, inserted.cruSolicitudGestionCruce, inserted.cruResultadoCodigoIdentificadorECM, inserted.cruObservacionResultado, inserted.cruEjecucionProcesoAsincrono, inserted.cruFechaRegistro, inserted.ultimaFechaModificacion			
			, 4 as operacion, null as origen into dbo.Cruce_log
			from #Cruce1 as a
				inner join dbo.Cruce as cru on a.cruId = cru.cruId
			where (a.ultimaFechaModificacion > cru.ultimaFechaModificacion or cru.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Cruce1)



			drop table if exists #cruIds
			create table #cruIds (cruId bigInt)
			insert #cruIds
			select cruId from #Cruce1
			except 
			select cruId from dbo.Cruce

			insert dbo.Cruce (cruId, cruCargueArchivoCruceFovis, cruNumeroPostulacion, cruPersona, cruEstadoCruce, cruSolicitudGestionCruce, cruResultadoCodigoIdentificadorECM, cruObservacionResultado, cruEjecucionProcesoAsincrono, cruFechaRegistro, ultimaFechaModificacion)
			output inserted.cruId, inserted.cruCargueArchivoCruceFovis, inserted.cruNumeroPostulacion, inserted.cruPersona, inserted.cruEstadoCruce, inserted.cruSolicitudGestionCruce, inserted.cruResultadoCodigoIdentificadorECM, inserted.cruObservacionResultado, inserted.cruEjecucionProcesoAsincrono, inserted.cruFechaRegistro
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Cruce_log
			select cruId, cruCargueArchivoCruceFovis, cruNumeroPostulacion, cruPersona, cruEstadoCruce, cruSolicitudGestionCruce, cruResultadoCodigoIdentificadorECM, cruObservacionResultado, cruEjecucionProcesoAsincrono, cruFechaRegistro, ultimaFechaModificacion
			from #Cruce1
			where cruId in (select cruId from #cruIds)
				and actId = 1

			delete from dbo.Cruce
			output deleted.cruId, deleted.cruCargueArchivoCruceFovis, deleted.cruNumeroPostulacion, deleted.cruPersona, deleted.cruEstadoCruce, deleted.cruSolicitudGestionCruce, deleted.cruResultadoCodigoIdentificadorECM, deleted.cruObservacionResultado, deleted.cruEjecucionProcesoAsincrono, deleted.cruFechaRegistro
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Cruce_log
			where cruId in (select cruId from #Cruce1 where operacion = 1 and actId = 1)


	
