	CREATE or alter procedure [dbo].[OP_AdminSubsidioGrupo_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla AdminSubsidioGrupo

	
			declare @AdminSubsidioGrupo1 table (asgId bigint   not null,asgGrupoFamiliar bigint   not null,asgAdministradorSubsidio bigint   not null,asgMedioDePago bigint   null,asgAfiliadoEsAdminSubsidio bit   not null,asgMedioPagoActivo bit   not null,asgRelacionGrupoFamiliar smallint   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select asgId, asgGrupoFamiliar, asgAdministradorSubsidio, asgMedioDePago, asgAfiliadoEsAdminSubsidio, asgMedioPagoActivo, asgRelacionGrupoFamiliar, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_AdminSubsidioGrupo_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @AdminSubsidioGrupo1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #AdminSubsidioGrupo1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by asgId) then 1 else null end as act
				,row_number() over (partition by asgId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @AdminSubsidioGrupo1)
			select *
			into #AdminSubsidioGrupo1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update asg set asg.asgGrupoFamiliar = a.asgGrupoFamiliar, asg.asgAdministradorSubsidio = a.asgAdministradorSubsidio, asg.asgMedioDePago = a.asgMedioDePago, asg.asgAfiliadoEsAdminSubsidio = a.asgAfiliadoEsAdminSubsidio, asg.asgMedioPagoActivo = a.asgMedioPagoActivo, asg.asgRelacionGrupoFamiliar = a.asgRelacionGrupoFamiliar, asg.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.asgId, inserted.asgGrupoFamiliar, inserted.asgAdministradorSubsidio, inserted.asgMedioDePago, inserted.asgAfiliadoEsAdminSubsidio, inserted.asgMedioPagoActivo, inserted.asgRelacionGrupoFamiliar, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.AdminSubsidioGrupo_log
			from #AdminSubsidioGrupo1 as a
				inner join dbo.AdminSubsidioGrupo as asg on a.asgId = asg.asgId
			where (a.ultimaFechaModificacion > asg.ultimaFechaModificacion or asg.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #AdminSubsidioGrupo1)



			drop table if exists #asgIds
			create table #asgIds (asgId bigInt)
			insert #asgIds
			select asgId from #AdminSubsidioGrupo1
			except 
			select asgId from dbo.AdminSubsidioGrupo

			insert dbo.AdminSubsidioGrupo (asgId, asgGrupoFamiliar, asgAdministradorSubsidio, asgMedioDePago, asgAfiliadoEsAdminSubsidio, asgMedioPagoActivo, asgRelacionGrupoFamiliar,ultimaFechaModificacion)
			output inserted.asgId, inserted.asgGrupoFamiliar, inserted.asgAdministradorSubsidio, inserted.asgMedioDePago, inserted.asgAfiliadoEsAdminSubsidio, inserted.asgMedioPagoActivo, inserted.asgRelacionGrupoFamiliar
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.AdminSubsidioGrupo_log
			select asgId, asgGrupoFamiliar, asgAdministradorSubsidio, asgMedioDePago, asgAfiliadoEsAdminSubsidio, asgMedioPagoActivo, asgRelacionGrupoFamiliar, ultimaFechaModificacion
			from #AdminSubsidioGrupo1
			where asgId in (select asgId from #asgIds)
				and actId = 1

			delete from dbo.AdminSubsidioGrupo
			output deleted.asgId, deleted.asgGrupoFamiliar, deleted.asgAdministradorSubsidio, deleted.asgMedioDePago, deleted.asgAfiliadoEsAdminSubsidio, deleted.asgMedioPagoActivo, deleted.asgRelacionGrupoFamiliar
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.AdminSubsidioGrupo_log
			where asgId in (select asgId from #AdminSubsidioGrupo1 where operacion = 1 and actId = 1)