	CREATE or alter procedure [dbo].[OP_Solicitud_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla Solicitud

	
			declare @Solicitud1 table (solId bigint   not null,solCanalRecepcion varchar(21)   null,solFechaRadicacion datetime2   null,solInstanciaProceso varchar(255)   null,solNumeroRadicacion varchar(30)   null,solUsuarioRadicacion varchar(255)   null,solCajaCorrespondencia bigint   null,solTipoTransaccion varchar(100)   null,solCiudadUsuarioRadicacion varchar(255)   null,solEstadoDocumentacion varchar(50)   null,solMetodoEnvio varchar(20)   null,solClasificacion varchar(48)   null,solTipoRadicacion varchar(20)   null,solFechaCreacion datetime2   null,solDestinatario varchar(255)   null,solSedeDestinatario varchar(2)   null,solObservacion varchar(500)   null,solCargaAfiliacionMultipleEmpleador bigint   null,solResultadoProceso varchar(30)   null,solDiferenciasCargueActualizacion bigint   null,solAnulada bit   null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select solId, solCanalRecepcion, solFechaRadicacion, solInstanciaProceso, solNumeroRadicacion, solUsuarioRadicacion, solCajaCorrespondencia, solTipoTransaccion, solCiudadUsuarioRadicacion, solEstadoDocumentacion, solMetodoEnvio, solClasificacion, solTipoRadicacion, solFechaCreacion, solDestinatario, solSedeDestinatario, solObservacion, solCargaAfiliacionMultipleEmpleador, solResultadoProceso, solDiferenciasCargueActualizacion, solAnulada, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_Solicitud_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @Solicitud1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #Solicitud1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by solId) then 1 else null end as act
				,row_number() over (partition by solId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @Solicitud1)
			select *
			into #Solicitud1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update sol set sol.solCanalRecepcion = a.solCanalRecepcion, sol.solFechaRadicacion = a.solFechaRadicacion, sol.solInstanciaProceso = a.solInstanciaProceso, sol.solNumeroRadicacion = a.solNumeroRadicacion, sol.solUsuarioRadicacion = a.solUsuarioRadicacion, sol.solCajaCorrespondencia = a.solCajaCorrespondencia, sol.solTipoTransaccion = a.solTipoTransaccion, sol.solCiudadUsuarioRadicacion = a.solCiudadUsuarioRadicacion, sol.solEstadoDocumentacion = a.solEstadoDocumentacion, sol.solMetodoEnvio = a.solMetodoEnvio, sol.solClasificacion = a.solClasificacion, sol.solTipoRadicacion = a.solTipoRadicacion, sol.solFechaCreacion = a.solFechaCreacion, sol.solDestinatario = a.solDestinatario, sol.solSedeDestinatario = a.solSedeDestinatario, sol.solObservacion = a.solObservacion, sol.solCargaAfiliacionMultipleEmpleador = a.solCargaAfiliacionMultipleEmpleador, sol.solResultadoProceso = a.solResultadoProceso, sol.solDiferenciasCargueActualizacion = a.solDiferenciasCargueActualizacion, sol.solAnulada = a.solAnulada, sol.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.solId, inserted.solCanalRecepcion, inserted.solFechaRadicacion, inserted.solInstanciaProceso, inserted.solNumeroRadicacion, inserted.solUsuarioRadicacion, inserted.solCajaCorrespondencia, inserted.solTipoTransaccion, inserted.solCiudadUsuarioRadicacion, inserted.solEstadoDocumentacion, inserted.solMetodoEnvio, inserted.solClasificacion, inserted.solTipoRadicacion, inserted.solFechaCreacion, inserted.solDestinatario, inserted.solSedeDestinatario, inserted.solObservacion, inserted.solCargaAfiliacionMultipleEmpleador, inserted.solResultadoProceso, inserted.solDiferenciasCargueActualizacion, inserted.solAnulada, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.Solicitud_log
			from #Solicitud1 as a
				inner join dbo.Solicitud as sol on a.solId = sol.solId
			where (a.ultimaFechaModificacion > sol.ultimaFechaModificacion or sol.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #Solicitud1)



			drop table if exists #solIds
			create table #solIds (solId bigInt)
			insert #solIds
			select solId from #Solicitud1
			except 
			select solId from dbo.Solicitud

			insert dbo.Solicitud (solId, solCanalRecepcion, solFechaRadicacion, solInstanciaProceso, solNumeroRadicacion, solUsuarioRadicacion, solCajaCorrespondencia, solTipoTransaccion, solCiudadUsuarioRadicacion, solEstadoDocumentacion, solMetodoEnvio, solClasificacion, solTipoRadicacion, solFechaCreacion, solDestinatario, solSedeDestinatario, solObservacion, solCargaAfiliacionMultipleEmpleador, solResultadoProceso, solDiferenciasCargueActualizacion, solAnulada,ultimaFechaModificacion)
			output inserted.solId, inserted.solCanalRecepcion, inserted.solFechaRadicacion, inserted.solInstanciaProceso, inserted.solNumeroRadicacion, inserted.solUsuarioRadicacion, inserted.solCajaCorrespondencia, inserted.solTipoTransaccion, inserted.solCiudadUsuarioRadicacion, inserted.solEstadoDocumentacion, inserted.solMetodoEnvio, inserted.solClasificacion, inserted.solTipoRadicacion, inserted.solFechaCreacion, inserted.solDestinatario, inserted.solSedeDestinatario, inserted.solObservacion, inserted.solCargaAfiliacionMultipleEmpleador, inserted.solResultadoProceso, inserted.solDiferenciasCargueActualizacion, inserted.solAnulada
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.Solicitud_log
			select solId, solCanalRecepcion, solFechaRadicacion, solInstanciaProceso, solNumeroRadicacion, solUsuarioRadicacion, solCajaCorrespondencia, solTipoTransaccion, solCiudadUsuarioRadicacion, solEstadoDocumentacion, solMetodoEnvio, solClasificacion, solTipoRadicacion, solFechaCreacion, solDestinatario, solSedeDestinatario, solObservacion, solCargaAfiliacionMultipleEmpleador, solResultadoProceso, solDiferenciasCargueActualizacion, solAnulada, ultimaFechaModificacion
			from #Solicitud1
			where solId in (select solId from #solIds)
				and actid = 1

			delete from dbo.Solicitud
			output deleted.solId, deleted.solCanalRecepcion, deleted.solFechaRadicacion, deleted.solInstanciaProceso, deleted.solNumeroRadicacion, deleted.solUsuarioRadicacion, deleted.solCajaCorrespondencia, deleted.solTipoTransaccion, deleted.solCiudadUsuarioRadicacion, deleted.solEstadoDocumentacion, deleted.solMetodoEnvio, deleted.solClasificacion, deleted.solTipoRadicacion, deleted.solFechaCreacion, deleted.solDestinatario, deleted.solSedeDestinatario, deleted.solObservacion, deleted.solCargaAfiliacionMultipleEmpleador, deleted.solResultadoProceso, deleted.solDiferenciasCargueActualizacion, deleted.solAnulada
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.Solicitud_log
			where solId in (select solId from #Solicitud1 where operacion = 1 and actId = 1)