	CREATE or alter procedure [dbo].[OP_EstadoAfiliacionPersonaEmpresa_Rendimiento] 
	as

	declare @fechaAtras varchar(30) = convert(varchar(30),DATEADD(hh,-24, current_timestamp), 121)
	declare @query nvarchar(max)

	

		--Inicio Merge tabla EstadoAfiliacionPersonaEmpresa

	
			declare @EstadoAfiliacionPersonaEmpresa1 table (eaeId bigint   not null,eaePersona bigint   not null,eaeEmpleador bigint   not null,eaeEstadoAfiliacion varchar(50)   null,eaeFechaCambioEstado datetime   not null,ultimaFechaModificacion datetime   null, operacion int not null, comando int null,secuencia binary(10), origen varchar (250) null)
	
			set @query = N' 
			select eaeId, eaePersona, eaeEmpleador, eaeEstadoAfiliacion, eaeFechaCambioEstado, tran_end_time, __$operation, __$command_id, __$seqval as secuencia
			from cdc.dbo_EstadoAfiliacionPersonaEmpresa_CT as a
				inner join cdc.lsn_time_mapping as t on a.__$start_lsn = t.start_lsn 
			where a.__$operation <> 3 and t.tran_end_time >= ' + char(39) + @fechaAtras + char(39) 
	
			insert @EstadoAfiliacionPersonaEmpresa1
			execute sp_execute_remote coreReferenceData, @query
	
			drop table if exists #EstadoAfiliacionPersonaEmpresa1

			;with a as (
				select *,
				case when ultimaFechaModificacion = max(ultimaFechaModificacion) over (partition by eaeId) then 1 else null end as act
				,row_number() over (partition by eaeId order by ultimaFechaModificacion desc, operacion desc, secuencia desc, comando desc ) as actId
				from @EstadoAfiliacionPersonaEmpresa1)
			select *
			into #EstadoAfiliacionPersonaEmpresa1
			from a
			--where act = 1 and actId = 1  SE QUITA FILTRO PARA REALIZAR ACTUALIZACIONES DE ACUERDO AL COMANDO MAS RECIENTE.

			update eae set eae.eaePersona = a.eaePersona, eae.eaeEmpleador = a.eaeEmpleador, eae.eaeEstadoAfiliacion = a.eaeEstadoAfiliacion, eae.eaeFechaCambioEstado = a.eaeFechaCambioEstado, eae.ultimaFechaModificacion = a.ultimaFechaModificacion
			output inserted.eaeId, inserted.eaePersona, inserted.eaeEmpleador, inserted.eaeEstadoAfiliacion, inserted.eaeFechaCambioEstado, inserted.ultimaFechaModificacion, 4 as operacion, null as origen into dbo.EstadoAfiliacionPersonaEmpresa_log
			from #EstadoAfiliacionPersonaEmpresa1 as a
				inner join dbo.EstadoAfiliacionPersonaEmpresa as eae on a.eaeId = eae.eaeId
			where (a.ultimaFechaModificacion > eae.ultimaFechaModificacion or eae.ultimaFechaModificacion is null)
				and a.operacion = 4  and a.actId = (select MIN(actId) from #EstadoAfiliacionPersonaEmpresa1)



			drop table if exists #eaeIds
			create table #eaeIds (eaeId bigInt)
			insert #eaeIds
			select eaeId from #EstadoAfiliacionPersonaEmpresa1
			except 
			select eaeId from dbo.EstadoAfiliacionPersonaEmpresa

			insert dbo.EstadoAfiliacionPersonaEmpresa (eaeId, eaePersona, eaeEmpleador, eaeEstadoAfiliacion, eaeFechaCambioEstado,ultimaFechaModificacion)
			output inserted.eaeId, inserted.eaePersona, inserted.eaeEmpleador, inserted.eaeEstadoAfiliacion, inserted.eaeFechaCambioEstado
			,inserted.ultimaFechaModificacion, 2 as operacion, null as origen into dbo.EstadoAfiliacionPersonaEmpresa_log
			select eaeId, eaePersona, eaeEmpleador, eaeEstadoAfiliacion, eaeFechaCambioEstado, ultimaFechaModificacion
			from #EstadoAfiliacionPersonaEmpresa1
			where eaeId in (select eaeId from #eaeIds)
				and actId = 1

			delete from dbo.EstadoAfiliacionPersonaEmpresa
			output deleted.eaeId, deleted.eaePersona, deleted.eaeEmpleador, deleted.eaeEstadoAfiliacion, deleted.eaeFechaCambioEstado
			,deleted.ultimaFechaModificacion, 1 as operacion, null as origen into dbo.EstadoAfiliacionPersonaEmpresa_log
			where eaeId in (select eaeId from #EstadoAfiliacionPersonaEmpresa1 where operacion = 1 and actId = 1)